
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 118.9rem;
}.button-kv1 {
  width: 100%;
  height: 125rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.button-kv1 .button-Snq {
  width: 15.9rem;
  height: 4.4rem;
  position: absolute;
  left: 4rem;
  top: 3.1rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #424f65;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.button-kv1 .fields-9BT {
  width: 13.4rem;
  height: 4.4rem;
  position: absolute;
  left: 4.3rem;
  top: 58.3rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #424f65;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.button-kv1 .auto-group-olkb-SAZ {
  width: 54.9rem;
  height: 3rem;
  position: absolute;
  left: 21.8rem;
  top: 9.9rem;
  display: flex;
  align-items: center;
}
.button-kv1 .auto-group-olkb-SAZ .primary-YjP {
  margin-right: 27.3rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #830202;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.button-kv1 .auto-group-olkb-SAZ .secondary-zbP {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #830202;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.button-kv1 .auto-group-pngs-n1T {
  width: 89.6rem;
  height: 7.2rem;
  position: absolute;
  left: 4rem;
  top: 16.8rem;
  display: flex;
  align-items: center;
}
.button-kv1 .auto-group-pngs-n1T .large-Hiu {
  margin: 0.2rem 8.5rem 0rem 0rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #830202;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.button-kv1 .auto-group-pngs-n1T .button1-xKF {
  margin-right: 3.3rem;
  width: 14.8rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3625;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #99b7f0;
  border-radius: 1rem;
  flex-shrink: 0;
}
.button-kv1 .auto-group-pngs-n1T .button1-z13 {
  margin-right: 6.9rem;
  width: 14.8rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3625;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #5386e8;
  border-radius: 1rem;
  flex-shrink: 0;
}
.button-kv1 .auto-group-pngs-n1T .button1-qnM {
  margin-right: 3.2rem;
  width: 14.8rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3625;
  text-transform: uppercase;
  color: #99b7f0;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.05rem #5386e8;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.button-kv1 .auto-group-pngs-n1T .button1-Gsf {
  width: 14.8rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3625;
  text-transform: uppercase;
  color: #99b7f0;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.05rem #5386e8;
  box-sizing: border-box;
  background-color: #f6f5ff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.button-kv1 .auto-group-ga6w-ufj {
  width: 87.9rem;
  height: 6.6rem;
  position: absolute;
  left: 3.8rem;
  top: 28.3rem;
  display: flex;
  align-items: center;
}
.button-kv1 .auto-group-ga6w-ufj .medium-2kM {
  margin: 0.6rem 6.3rem 0rem 0rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #830202;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.button-kv1 .auto-group-ga6w-ufj .button1-8Hb {
  margin-right: 5.2rem;
  width: 12.9rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3625;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #99b7f0;
  border-radius: 1rem;
  flex-shrink: 0;
}
.button-kv1 .auto-group-ga6w-ufj .button1-bws {
  margin-right: 8.8rem;
  width: 12.9rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3625;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #5386e8;
  border-radius: 1rem;
  flex-shrink: 0;
}
.button-kv1 .auto-group-ga6w-ufj .button1-79X {
  margin-right: 5.1rem;
  width: 12.9rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3625;
  text-transform: uppercase;
  color: #99b7f0;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.05rem #5386e8;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.button-kv1 .auto-group-ga6w-ufj .button1-LHB {
  width: 12.9rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3625;
  text-transform: uppercase;
  color: #99b7f0;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.05rem #5386e8;
  box-sizing: border-box;
  background-color: #f6f5ff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.button-kv1 .auto-group-lnd1-bU1 {
  width: 86.8rem;
  height: 6.1rem;
  position: absolute;
  left: 3.7rem;
  top: 39.2rem;
  display: flex;
  align-items: center;
}
.button-kv1 .auto-group-lnd1-bU1 .small-XMf {
  margin: 0.1rem 8.8rem 0rem 0rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #830202;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.button-kv1 .auto-group-lnd1-bU1 .button1-d9o {
  margin: 0rem 6.4rem 0.1rem 0rem;
  width: 11.7rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3625;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #99b7f0;
  border-radius: 1rem;
  flex-shrink: 0;
}
.button-kv1 .auto-group-lnd1-bU1 .button1-Fgy {
  margin: 0.1rem 10rem 0rem 0rem;
  width: 11.7rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3625;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #5386e8;
  border-radius: 1rem;
  flex-shrink: 0;
}
.button-kv1 .auto-group-lnd1-bU1 .button1-js3 {
  margin: 0.1rem 6.3rem 0rem 0rem;
  width: 11.7rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3625;
  text-transform: uppercase;
  color: #99b7f0;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.05rem #5386e8;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.button-kv1 .auto-group-lnd1-bU1 .button1-p7o {
  margin-bottom: 0.1rem;
  width: 11.7rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3625;
  text-transform: uppercase;
  color: #99b7f0;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.05rem #5386e8;
  box-sizing: border-box;
  background-color: #f6f5ff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.button-kv1 .auto-group-gchq-S9B {
  width: 63.8rem;
  height: 2rem;
  position: absolute;
  left: 22.4rem;
  top: 47.8rem;
  display: flex;
  align-items: center;
}
.button-kv1 .auto-group-gchq-S9B .standard-Aay {
  margin-right: 12.8rem;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.button-kv1 .auto-group-gchq-S9B .hover-HvV {
  margin-right: 15.7rem;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.button-kv1 .auto-group-gchq-S9B .standard-D3T {
  margin-right: 12.7rem;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.button-kv1 .auto-group-gchq-S9B .hover-kZB {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.button-kv1 .auto-group-cdgf-gBw {
  width: 53.8rem;
  height: 5.4rem;
  position: absolute;
  left: 10.1rem;
  top: 88.2rem;
  display: flex;
  align-items: center;
}
.button-kv1 .auto-group-cdgf-gBw .group-18-Qtd {
  margin-right: 7rem;
  box-sizing: border-box;
  padding: 1.5rem 13.6rem 1.5rem 1.2rem;
  height: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #fffdfd;
  border-radius: 1rem;
  flex-shrink: 0;
}
.button-kv1 .auto-group-cdgf-gBw .group-18-Qtd .search-icon-4iH {
  margin-right: 1.3rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.button-kv1 .auto-group-cdgf-gBw .group-18-Qtd .search-oA5 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #ada9a9;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.button-kv1 .auto-group-cdgf-gBw .group-24-d97 {
  box-sizing: border-box;
  padding: 1.5rem 14.2rem 1.5rem 1.2rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #5386e8;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #fffdfd;
  border-radius: 1rem;
  flex-shrink: 0;
}
.button-kv1 .auto-group-cdgf-gBw .group-24-d97 .search-icon-N6h {
  margin-right: 1.8rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.button-kv1 .auto-group-cdgf-gBw .group-24-d97 .text-HjT {
  margin-top: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.button-kv1 .auto-group-bjf5-ZS5 {
  width: 84.3rem;
  height: 5.4rem;
  position: absolute;
  left: 10.1rem;
  top: 65.6rem;
  display: flex;
  align-items: center;
}
.button-kv1 .auto-group-bjf5-ZS5 .group-23-6B7 {
  margin-right: 7rem;
  box-sizing: border-box;
  padding: 1.6rem 2rem;
  width: 23.4rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #ada9a9;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #fffdfd;
  border-radius: 1rem;
  flex-shrink: 0;
}
.button-kv1 .auto-group-bjf5-ZS5 .group-18-9v5 {
  margin-right: 7.1rem;
  box-sizing: border-box;
  padding: 1.6rem 2rem 1.8rem 2rem;
  width: 23.4rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #5386e8;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #fffdfd;
  border-radius: 1rem;
  flex-shrink: 0;
}
.button-kv1 .auto-group-bjf5-ZS5 .group-19-b1P {
  box-sizing: border-box;
  padding: 1.6rem 2rem 1.8rem 2rem;
  width: 23.4rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d92626;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #fffdfd;
  border-radius: 1rem;
  flex-shrink: 0;
}
.button-kv1 .auto-group-awzb-eEZ {
  width: 84.3rem;
  height: 5.4rem;
  position: absolute;
  left: 10.1rem;
  top: 109.5rem;
  display: flex;
  align-items: center;
}
.button-kv1 .auto-group-awzb-eEZ .group-28-ynd {
  margin-right: 7rem;
  box-sizing: border-box;
  padding: 1.5rem 1.2rem 1.5rem 2rem;
  height: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #fffdfd;
  border-radius: 1rem;
  flex-shrink: 0;
}
.button-kv1 .auto-group-awzb-eEZ .group-28-ynd .placeholder-WnZ {
  margin-right: 9.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #ada9a9;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.button-kv1 .auto-group-awzb-eEZ .group-28-ynd .outlined-directions-chevron-down-2W1 {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.button-kv1 .auto-group-awzb-eEZ .group-29-F7s {
  margin-right: 7.1rem;
  box-sizing: border-box;
  padding: 1.5rem 1.1rem 1.5rem 2rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #5386e8;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #fffdfd;
  border-radius: 1rem;
  flex-shrink: 0;
}
.button-kv1 .auto-group-awzb-eEZ .group-29-F7s .text-KNd {
  margin: 0rem 14.1rem 0.2rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.button-kv1 .auto-group-awzb-eEZ .group-29-F7s .outlined-directions-chevron-down-FGH {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.button-kv1 .auto-group-awzb-eEZ .group-30-XUh {
  box-sizing: border-box;
  padding: 1.5rem 1.1rem 1.5rem 2rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #d92626;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #fffdfd;
  border-radius: 1rem;
  flex-shrink: 0;
}
.button-kv1 .auto-group-awzb-eEZ .group-30-XUh .text-1uf {
  margin: 0rem 14.6rem 0.2rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.button-kv1 .auto-group-awzb-eEZ .group-30-XUh .outlined-directions-chevron-down-vmj {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.button-kv1 .auto-group-hy6k-zFo {
  width: 84.3rem;
  height: 5.7rem;
  position: absolute;
  left: 10.1rem;
  top: 76.6rem;
  display: flex;
  align-items: flex-start;
}
.button-kv1 .auto-group-hy6k-zFo .group-19-KJ5 {
  margin: 0.3rem 7rem 0rem 0rem;
  width: 23.4rem;
  height: 5.4rem;
  position: relative;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #fffdfd;
  border-radius: 1rem;
  flex-shrink: 0;
}
.button-kv1 .auto-group-hy6k-zFo .group-19-KJ5 .placeholder-vYm {
  width: 8.5rem;
  height: 2.2rem;
  position: absolute;
  left: 2rem;
  top: 2.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #ada9a9;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.button-kv1 .auto-group-hy6k-zFo .group-19-KJ5 .title-REd {
  width: 2.9rem;
  height: 2rem;
  position: absolute;
  left: 2rem;
  top: 0.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #777777;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.button-kv1 .auto-group-hy6k-zFo .group-21-5py {
  margin-right: 7.1rem;
  width: 23.4rem;
  height: 5.4rem;
  position: relative;
  border: solid 0.1rem #5386e8;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #fffdfd;
  border-radius: 1rem;
  flex-shrink: 0;
}
.button-kv1 .auto-group-hy6k-zFo .group-21-5py .text-Rtq {
  width: 3.8rem;
  height: 2rem;
  position: absolute;
  left: 2rem;
  top: 2.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.button-kv1 .auto-group-hy6k-zFo .group-21-5py .title-YyT {
  width: 2.9rem;
  height: 2rem;
  position: absolute;
  left: 2rem;
  top: 0.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #777777;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.button-kv1 .auto-group-hy6k-zFo .group-22-aQM {
  width: 23.4rem;
  height: 5.4rem;
  position: relative;
  border: solid 0.1rem #d92626;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #fffdfd;
  border-radius: 1rem;
  flex-shrink: 0;
}
.button-kv1 .auto-group-hy6k-zFo .group-22-aQM .text-L8d {
  width: 3.3rem;
  height: 2rem;
  position: absolute;
  left: 2rem;
  top: 2.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.button-kv1 .auto-group-hy6k-zFo .group-22-aQM .title-dtR {
  width: 2.9rem;
  height: 2rem;
  position: absolute;
  left: 2rem;
  top: 0.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #777777;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.button-kv1 .auto-group-uitd-HTB {
  width: 84.3rem;
  height: 5.5rem;
  position: absolute;
  left: 10.1rem;
  top: 97.7rem;
  display: flex;
  align-items: flex-end;
}
.button-kv1 .auto-group-uitd-HTB .group-25-Q21 {
  margin: 0rem 7rem 0.1rem 0rem;
  box-sizing: border-box;
  padding: 0.5rem 1.1rem 0.8rem 2rem;
  height: 5.4rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #fffdfd;
  border-radius: 1rem;
  flex-shrink: 0;
}
.button-kv1 .auto-group-uitd-HTB .group-25-Q21 .auto-group-v1x7-H5o {
  margin-right: 3.8rem;
  width: 14.1rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.button-kv1 .auto-group-uitd-HTB .group-25-Q21 .auto-group-v1x7-H5o .password-Qw7 {
  width: 6.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #777777;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.button-kv1 .auto-group-uitd-HTB .group-25-Q21 .auto-group-v1x7-H5o .atom-tLV {
  width: 14rem;
  height: 2.4rem;
  position: absolute;
  left: 0.1rem;
  top: 1.7rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212121;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 1rem;
}
.button-kv1 .auto-group-uitd-HTB .group-25-Q21 .eye-close-line-m9P {
  margin-top: 0.3rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.button-kv1 .auto-group-uitd-HTB .group-26-TAd {
  margin-right: 7.1rem;
  box-sizing: border-box;
  padding: 0.5rem 1.1rem 0.8rem 2rem;
  height: 5.4rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #5386e8;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #fffdfd;
  border-radius: 1rem;
  flex-shrink: 0;
}
.button-kv1 .auto-group-uitd-HTB .group-26-TAd .auto-group-1puz-xNH {
  margin-right: 3.3rem;
  width: 14.6rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.button-kv1 .auto-group-uitd-HTB .group-26-TAd .auto-group-1puz-xNH .password-sEM {
  width: 6.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #777777;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.button-kv1 .auto-group-uitd-HTB .group-26-TAd .auto-group-1puz-xNH .atom-MvD {
  width: 14.5rem;
  height: 2.4rem;
  position: absolute;
  left: 0.1rem;
  top: 1.7rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212121;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 1rem;
}
.button-kv1 .auto-group-uitd-HTB .group-26-TAd .eye-close-line-55X {
  margin-top: 0.3rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.button-kv1 .auto-group-uitd-HTB .group-27-wtR {
  box-sizing: border-box;
  padding: 0.5rem 1.1rem 0.8rem 2rem;
  height: 5.4rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #d92626;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #fffdfd;
  border-radius: 1rem;
  flex-shrink: 0;
}
.button-kv1 .auto-group-uitd-HTB .group-27-wtR .auto-group-girx-gb7 {
  margin-right: 3.8rem;
  width: 14.1rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.button-kv1 .auto-group-uitd-HTB .group-27-wtR .auto-group-girx-gb7 .password-qU1 {
  width: 6.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #777777;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.button-kv1 .auto-group-uitd-HTB .group-27-wtR .auto-group-girx-gb7 .atom-Wa9 {
  width: 14rem;
  height: 2.4rem;
  position: absolute;
  left: 0.1rem;
  top: 1.7rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212121;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 1rem;
}
.button-kv1 .auto-group-uitd-HTB .group-27-wtR .eye-close-line-9d7 {
  margin-top: 0.3rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
