
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 118.9rem;
}.color-ffK {
  width: 100%;
  height: 106.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.color-ffK .color-Qcu {
  width: 13.5rem;
  height: 4.4rem;
  position: absolute;
  left: 4rem;
  top: 3.1rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #424f65;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.color-ffK .auto-group-fylf-4SZ {
  width: 45.1rem;
  height: 3rem;
  position: absolute;
  left: 4rem;
  top: 10.5rem;
  display: flex;
  align-items: center;
}
.color-ffK .auto-group-fylf-4SZ .main-zr1 {
  margin-right: 19.7rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #830202;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.color-ffK .auto-group-fylf-4SZ .background-vDs {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #830202;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.color-ffK .text-e9s {
  width: 6rem;
  height: 3rem;
  position: absolute;
  left: 4rem;
  top: 27.2rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #830202;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.color-ffK .button-NLm {
  width: 10.5rem;
  height: 3rem;
  position: absolute;
  left: 4rem;
  top: 45rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #830202;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.color-ffK .fields-5W5 {
  width: 8.9rem;
  height: 3rem;
  position: absolute;
  left: 4rem;
  top: 69.4rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #830202;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.color-ffK .auto-group-p4d1-Zg9 {
  width: 44.3rem;
  height: 9.2rem;
  position: absolute;
  left: 3.1rem;
  top: 15.4rem;
  display: flex;
  align-items: center;
}
.color-ffK .auto-group-p4d1-Zg9 .group-1-HMF {
  margin-right: 19.5rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.color-ffK .auto-group-p4d1-Zg9 .group-1-HMF .ellipse-1-qNm {
  margin-bottom: 1.4rem;
  width: 6.5rem;
  height: 5.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.color-ffK .auto-group-p4d1-Zg9 .group-1-HMF .c5fd-m1X {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #7a7a7a;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.color-ffK .auto-group-p4d1-Zg9 .group-3-Vy7 {
  margin-right: 2.3rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.color-ffK .auto-group-p4d1-Zg9 .group-3-Vy7 .ellipse-1-rYm {
  margin: 0rem 0rem 1.4rem 0.5rem;
  width: 6.5rem;
  height: 5.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.color-ffK .auto-group-p4d1-Zg9 .group-3-Vy7 .d9d9d9-ApM {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #7a7a7a;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.color-ffK .auto-group-p4d1-Zg9 .group-19-hpH {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.color-ffK .auto-group-p4d1-Zg9 .group-19-hpH .ellipse-1-GMb {
  margin: 0rem 0rem 1.4rem 0.1rem;
  width: 6.5rem;
  height: 5.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.color-ffK .auto-group-p4d1-Zg9 .group-19-hpH .ffffff-1KB {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #7a7a7a;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.color-ffK .auto-group-c6jo-Kqf {
  width: 37.2rem;
  height: 9.2rem;
  position: absolute;
  left: 3.4rem;
  top: 33rem;
  display: flex;
  align-items: center;
}
.color-ffK .auto-group-c6jo-Kqf .group-4-rah {
  margin-right: 2.9rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.color-ffK .auto-group-c6jo-Kqf .group-4-rah .ellipse-1-NJ9 {
  margin: 0rem 0.2rem 1.4rem 0rem;
  width: 6.5rem;
  height: 5.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.color-ffK .auto-group-c6jo-Kqf .group-4-rah .item-000000-Jhb {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #7a7a7a;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.color-ffK .auto-group-c6jo-Kqf .group-6-27o {
  margin-right: 2.9rem;
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.color-ffK .auto-group-c6jo-Kqf .group-6-27o .ellipse-1-n6y {
  margin-bottom: 1.4rem;
  width: 6.5rem;
  height: 5.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.color-ffK .auto-group-c6jo-Kqf .group-6-27o .item-777777-L8V {
  margin-right: 0.2rem;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #7a7a7a;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.color-ffK .auto-group-c6jo-Kqf .group-7-pJZ {
  margin-right: 2.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.color-ffK .auto-group-c6jo-Kqf .group-7-pJZ .ellipse-1-wty {
  margin: 0rem 0.4rem 1.4rem 0rem;
  width: 6.5rem;
  height: 5.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.color-ffK .auto-group-c6jo-Kqf .group-7-pJZ .aeaeae-s1w {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #7a7a7a;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.color-ffK .auto-group-c6jo-Kqf .group-20-D5o {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.color-ffK .auto-group-c6jo-Kqf .group-20-D5o .ellipse-1-B2d {
  margin: 0rem 0rem 1.4rem 0.1rem;
  width: 6.5rem;
  height: 5.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.color-ffK .auto-group-c6jo-Kqf .group-20-D5o .ffffff-hWm {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #7a7a7a;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.color-ffK .auto-group-ngno-egu {
  width: 79.8rem;
  height: 11.1rem;
  position: absolute;
  left: 3.7rem;
  top: 51.2rem;
  display: flex;
  align-items: flex-start;
}
.color-ffK .auto-group-ngno-egu .auto-group-xykd-Ncu {
  box-sizing: border-box;
  padding-right: 2.8rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.color-ffK .auto-group-ngno-egu .auto-group-xykd-Ncu .group-9-hfB {
  margin-right: 3.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.color-ffK .auto-group-ngno-egu .auto-group-xykd-Ncu .group-9-hfB .ellipse-1-qmP {
  margin: 0rem 0rem 1.4rem 0.2rem;
  width: 6.5rem;
  height: 5.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.color-ffK .auto-group-ngno-egu .auto-group-xykd-Ncu .group-9-hfB .e3e3-aiy {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #7a7a7a;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.color-ffK .auto-group-ngno-egu .auto-group-xykd-Ncu .group-10-J9B {
  margin-right: 2.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.color-ffK .auto-group-ngno-egu .auto-group-xykd-Ncu .group-10-J9B .ellipse-1-TXs {
  margin: 0rem 0.1rem 1.4rem 0rem;
  width: 6.5rem;
  height: 5.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.color-ffK .auto-group-ngno-egu .auto-group-xykd-Ncu .group-10-J9B .ff0000-6Kw {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #7a7a7a;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.color-ffK .auto-group-ngno-egu .auto-group-xykd-Ncu .group-21-qoK {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.color-ffK .auto-group-ngno-egu .auto-group-xykd-Ncu .group-21-qoK .ellipse-1-PZw {
  margin: 0rem 0rem 1.4rem 0.1rem;
  width: 6.5rem;
  height: 5.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.color-ffK .auto-group-ngno-egu .auto-group-xykd-Ncu .group-21-qoK .ff66-WuT {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #7a7a7a;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.color-ffK .auto-group-ngno-egu .group-11-4RB {
  margin-right: 2.5rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.color-ffK .auto-group-ngno-egu .group-11-4RB .ellipse-1-pfF {
  margin-bottom: 1.4rem;
  width: 6.5rem;
  height: 5.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.color-ffK .auto-group-ngno-egu .group-11-4RB .bd-hover-LtV {
  max-width: 7.1rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #7a7a7a;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.color-ffK .auto-group-ngno-egu .group-12-2mK {
  margin-right: 3.6rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.color-ffK .auto-group-ngno-egu .group-12-2mK .ellipse-1-B8R {
  margin: 0rem 0rem 1.4rem 0.1rem;
  width: 6.5rem;
  height: 5.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.color-ffK .auto-group-ngno-egu .group-12-2mK .ff8c8c-hover2-U7X {
  max-width: 7.4rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #7a7a7a;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.color-ffK .auto-group-ngno-egu .group-22-oQh {
  margin-right: 2.6rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.color-ffK .auto-group-ngno-egu .group-22-oQh .ellipse-1-Mx1 {
  margin: 0rem 0.3rem 1.4rem 0rem;
  width: 6.5rem;
  height: 5.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.color-ffK .auto-group-ngno-egu .group-22-oQh .ffd600-hover3-7AV {
  max-width: 7.6rem;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #7a7a7a;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.color-ffK .auto-group-ngno-egu .group-23-eAR {
  margin-right: 3.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.color-ffK .auto-group-ngno-egu .group-23-eAR .ellipse-1-N6R {
  margin: 0rem 0rem 1.4rem 0.1rem;
  width: 6.5rem;
  height: 5.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.color-ffK .auto-group-ngno-egu .group-23-eAR .ffffff-JVs {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #7a7a7a;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.color-ffK .auto-group-ngno-egu .group-24-dHF {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.color-ffK .auto-group-ngno-egu .group-24-dHF .ellipse-1-BZf {
  margin: 0rem 0.4rem 1.4rem 0rem;
  width: 6.5rem;
  height: 5.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.color-ffK .auto-group-ngno-egu .group-24-dHF .aeaeae-hover4-vXF {
  max-width: 7.7rem;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #7a7a7a;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.color-ffK .auto-group-izkd-pMj {
  width: 53.7rem;
  height: 13.1rem;
  position: absolute;
  left: 3.4rem;
  top: 75.2rem;
  display: flex;
  align-items: flex-start;
}
.color-ffK .auto-group-izkd-pMj .group-13-9Q1 {
  margin-right: 3.7rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.color-ffK .auto-group-izkd-pMj .group-13-9Q1 .ellipse-1-64M {
  margin: 0rem 0.2rem 1.4rem 0rem;
  width: 6.5rem;
  height: 5.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.color-ffK .auto-group-izkd-pMj .group-13-9Q1 .text-field-EAZ {
  max-width: 7.5rem;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #7a7a7a;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.color-ffK .auto-group-izkd-pMj .group-13-9Q1 .text-field-EAZ .text-field-EAZ-sub-0 {
}
.color-ffK .auto-group-izkd-pMj .group-13-9Q1 .text-field-EAZ .text-field-EAZ-sub-1 {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #7a7a7a;
  font-family: Montserrat, 'Source Sans Pro';
}
.color-ffK .auto-group-izkd-pMj .group-14-77s {
  margin-right: 3.15rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.color-ffK .auto-group-izkd-pMj .group-14-77s .ellipse-1-GFf {
  margin: 0rem 0rem 1.4rem 0.1rem;
  width: 6.5rem;
  height: 5.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.color-ffK .auto-group-izkd-pMj .group-14-77s .ffffff-fields-omP {
  max-width: 7.2rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #7a7a7a;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.color-ffK .auto-group-izkd-pMj .group-14-77s .ffffff-fields-omP .ffffff-fields-omP-sub-0 {
}
.color-ffK .auto-group-izkd-pMj .group-14-77s .ffffff-fields-omP .ffffff-fields-omP-sub-1 {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #7a7a7a;
  font-family: Montserrat, 'Source Sans Pro';
}
.color-ffK .auto-group-izkd-pMj .group-16-DKK {
  margin-right: 3.15rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.color-ffK .auto-group-izkd-pMj .group-16-DKK .ellipse-1-AVT {
  margin-bottom: 1.4rem;
  width: 6.5rem;
  height: 5.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.color-ffK .auto-group-izkd-pMj .group-16-DKK .adaaaa-placeholders-twF {
  max-width: 10.4rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #7a7a7a;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.color-ffK .auto-group-izkd-pMj .group-16-DKK .adaaaa-placeholders-twF .adaaaa-placeholders-twF-sub-0 {
}
.color-ffK .auto-group-izkd-pMj .group-16-DKK .adaaaa-placeholders-twF .adaaaa-placeholders-twF-sub-1 {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #7a7a7a;
  font-family: Montserrat, 'Source Sans Pro';
}
.color-ffK .auto-group-izkd-pMj .group-17-qk1 {
  margin-right: 4.4rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.color-ffK .auto-group-izkd-pMj .group-17-qk1 .ellipse-1-oB3 {
  margin-bottom: 1.4rem;
  width: 6.5rem;
  height: 5.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.color-ffK .auto-group-izkd-pMj .group-17-qk1 .da2626-fields-error-JtV {
  max-width: 7.3rem;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #7a7a7a;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.color-ffK .auto-group-izkd-pMj .group-17-qk1 .da2626-fields-error-JtV .da2626-fields-error-JtV-sub-0 {
}
.color-ffK .auto-group-izkd-pMj .group-17-qk1 .da2626-fields-error-JtV .da2626-fields-error-JtV-sub-1 {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #7a7a7a;
  font-family: Montserrat, 'Source Sans Pro';
}
.color-ffK .auto-group-izkd-pMj .group-18-WUm {
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.color-ffK .auto-group-izkd-pMj .group-18-WUm .ellipse-1-5Gy {
  margin-bottom: 1.4rem;
  width: 6.5rem;
  height: 5.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.color-ffK .auto-group-izkd-pMj .group-18-WUm .e9-fields-focus-oim {
  max-width: 6.9rem;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #7a7a7a;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.color-ffK .auto-group-izkd-pMj .group-18-WUm .e9-fields-focus-oim .e9-fields-focus-oim-sub-0 {
}
.color-ffK .auto-group-izkd-pMj .group-18-WUm .e9-fields-focus-oim .e9-fields-focus-oim-sub-1 {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #7a7a7a;
  font-family: Montserrat, 'Source Sans Pro';
}
