
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 59.2rem;
}.paginations-K6V {
  box-sizing: border-box;
  padding: 5.9rem 0rem 80.6rem 4.5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.paginations-K6V .icon-2mb {
  margin: 0rem 45rem 2.3rem 0rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #424f65;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paginations-K6V .size-16x16-24x24-wdf {
  margin: 0rem 32.5rem 8.8rem 0rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paginations-K6V .item--F8Z {
  margin-left: 75.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2175;
  text-decoration-line: underline;
  color: #757575;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
