
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 59.2rem;
}.paginations-uho {
  width: 100%;
  height: 106.8rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.paginations-uho .paginations-33K {
  width: 31rem;
  height: 4.4rem;
  position: absolute;
  left: 4.5rem;
  top: 5.9rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #424f65;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.paginations-uho .auto-group-xoxw-KmX {
  width: 79rem;
  height: 3.5rem;
  position: absolute;
  left: 4.9rem;
  top: 22.7rem;
  display: flex;
  align-items: flex-start;
}
.paginations-uho .auto-group-xoxw-KmX .active-TMw {
  margin-right: 3.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2999999788;
  text-transform: capitalize;
  color: #424f65;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paginations-uho .auto-group-xoxw-KmX .inactive-ahT {
  margin-right: 59.5rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2999999788;
  text-transform: capitalize;
  color: #424f65;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paginations-uho .auto-group-xoxw-KmX .item--7xH {
  margin-top: 1.7rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2175;
  text-decoration-line: underline;
  color: #757575;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paginations-uho .paginationsdot-Cyj {
  box-sizing: border-box;
  padding: 2rem 16.3rem 2rem 2rem;
  width: 28.9rem;
  height: 5rem;
  position: absolute;
  left: 4.5rem;
  top: 26.8rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
}
.paginations-uho .paginationsdot-Cyj .stateactive-trZ {
  margin-right: 8.6rem;
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.paginations-uho .paginationsdot-Cyj .stateinactive-mQZ {
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.paginations-uho .paginations-dot-JvH {
  width: 7.9rem;
  height: 1rem;
  position: absolute;
  left: 4.9rem;
  top: 35.1rem;
  display: flex;
  column-gap: 1.3rem;
  align-items: center;
}
.paginations-uho .paginations-dot-JvH .component-2-SFo {
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.paginations-uho .paginations-dot-JvH .component-3-Ahb {
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.paginations-uho .paginations-dot-JvH .component-4-WWZ {
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.paginations-uho .paginations-dot-JvH .component-5-Tgh {
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.paginations-uho .paginations-dot-pXF {
  width: 24.1rem;
  height: 2.9rem;
  position: absolute;
  left: 4.5rem;
  top: 17.7rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2000000477;
  letter-spacing: 0.01rem;
  text-transform: uppercase;
  color: #d04343;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.paginations-uho .paginations-page-JBX {
  width: 25.6rem;
  height: 2.9rem;
  position: absolute;
  left: 4.5rem;
  top: 45.5rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2000000477;
  letter-spacing: 0.01rem;
  text-transform: uppercase;
  color: #c62424;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.paginations-uho .page-PTs {
  box-sizing: border-box;
  padding: 2rem 11.7rem 2rem 2rem;
  width: 47.8rem;
  height: 6.4rem;
  position: absolute;
  left: 4.5rem;
  top: 54.9rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
}
.paginations-uho .page-PTs .statedefault-hDf {
  margin-right: 7rem;
  width: 2.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paginations-uho .page-PTs .statehover-cLd {
  margin-right: 8.9rem;
  width: 2.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #99b7f0;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.paginations-uho .page-PTs .stateactive-v6R {
  margin-right: 8.6rem;
  width: 2.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #ffffff;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #99b7f0;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.paginations-uho .page-PTs .statemore-LR3 {
  width: 2.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2999999523;
  color: #000000;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.paginations-uho .paginationspage-PPK {
  box-sizing: border-box;
  padding: 0 0.9rem;
  width: 25.2rem;
  height: 2.4rem;
  position: absolute;
  left: 4.4rem;
  top: 65.7rem;
  display: flex;
  align-items: center;
}
.paginations-uho .paginationspage-PPK .outlined-directions-chevron-left-VBT {
  margin-right: 2.55rem;
  width: 0.6rem;
  height: 1.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.paginations-uho .paginationspage-PPK .nomber-bkH {
  margin-right: 2.75rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.paginations-uho .paginationspage-PPK .nomber-bkH .page-xKw {
  width: 2.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #ffffff;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #99b7f0;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.paginations-uho .paginationspage-PPK .nomber-bkH .auto-group-4xvs-1p1 {
  box-sizing: border-box;
  padding: 0.05rem 0.75rem;
  height: 100%;
  display: flex;
  column-gap: 1.45rem;
  align-items: center;
  flex-shrink: 0;
}
.paginations-uho .paginationspage-PPK .nomber-bkH .auto-group-4xvs-1p1 .paginations-page-default-wBs {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paginations-uho .paginationspage-PPK .nomber-bkH .auto-group-4xvs-1p1 .paginations-page-default-qY9 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paginations-uho .paginationspage-PPK .nomber-bkH .auto-group-4xvs-1p1 .paginations-page-default-aEq {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paginations-uho .paginationspage-PPK .nomber-bkH .auto-group-4xvs-1p1 .paginations-page-default-Huw {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paginations-uho .paginationspage-PPK .nomber-bkH .page-qRf {
  margin-right: 0.25rem;
  width: 2.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2999999523;
  color: #000000;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.paginations-uho .paginationspage-PPK .nomber-bkH .paginations-page-default-uRX {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paginations-uho .paginationspage-PPK .outlined-directions-chevron-right-Eyb {
  width: 0.6rem;
  height: 1.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.paginations-uho .auto-group-y7tq-nER {
  width: 36.3rem;
  height: 2.4rem;
  position: absolute;
  left: 5.2rem;
  top: 50.5rem;
  display: flex;
  align-items: center;
}
.paginations-uho .auto-group-y7tq-nER .default-iNy {
  margin-right: 3.9rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2999999788;
  text-transform: capitalize;
  color: #424f65;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paginations-uho .auto-group-y7tq-nER .hover-o9X {
  margin-right: 5.9rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2999999788;
  text-transform: capitalize;
  color: #424f65;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paginations-uho .auto-group-y7tq-nER .active-Kdf {
  margin-right: 5.9rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2999999788;
  text-transform: capitalize;
  color: #424f65;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paginations-uho .auto-group-y7tq-nER .more-s9P {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2999999788;
  text-transform: capitalize;
  color: #424f65;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
