
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 27.2rem;
}.cell-WPF {
  box-sizing: border-box;
  padding: 1.6rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: dashed 0.1rem #b9b9b9;
  border-radius: 0.5rem;
}
.cell-WPF .typedefault-FLq {
  width: 12rem;
  height: 3.6rem;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.cell-WPF .typeheader-bQh {
  width: 12rem;
  height: 3.6rem;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.0599999987);
  flex-shrink: 0;
}
