
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 49.6rem;
}.light-table-qHX {
  width: 100%;
  height: 10.8rem;
}
.light-table-qHX .table-C85 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0.4rem;
}
.light-table-qHX .table-C85 .row-9Z7 {
  width: 100%;
  height: 3.6rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.light-table-qHX .table-C85 .row-9Z7 .cell-create-date-5Sm {
  margin-right: 0rem;
  box-sizing: border-box;
  padding: 1rem 1.767rem 1rem 1.2rem;
  width: 8.2667rem;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.0599999987);
  flex-shrink: 0;
}
.light-table-qHX .table-C85 .row-9Z7 .cell-create-date-5Sm .content-aeR {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.2999999523;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.light-table-qHX .table-C85 .row-9Z7 .cell-name-nVb {
  margin-right: 0rem;
  width: 8.2667rem;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.0599999987);
  flex-shrink: 0;
}
.light-table-qHX .table-C85 .row-9Z7 .auto-group-isgo-w7b {
  margin-right: 0rem;
  width: 16.5333rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.light-table-qHX .table-C85 .row-9Z7 .auto-group-isgo-w7b .cell-start-date-V97 {
  width: 8.2667rem;
  height: 3.6rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.0599999987);
}
.light-table-qHX .table-C85 .row-9Z7 .auto-group-isgo-w7b .cell-end-date-aRT {
  width: 8.2667rem;
  height: 3.6rem;
  position: absolute;
  left: 8.2667rem;
  top: 0;
  background-color: rgba(0, 0, 0, 0.0599999987);
}
.light-table-qHX .table-C85 .row-9Z7 .cell-paid-quantity-Wpu {
  margin-right: 0rem;
  width: 8.2667rem;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.0599999987);
  flex-shrink: 0;
}
.light-table-qHX .table-C85 .row-9Z7 .cell-edit-GJH {
  width: 8.2667rem;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.0599999987);
  flex-shrink: 0;
}
.light-table-qHX .table-C85 .row-RBB {
  width: 100%;
  height: 3.6rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.light-table-qHX .table-C85 .row-RBB .cell-LJ9 {
  margin-right: 0rem;
  width: 8.2667rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.light-table-qHX .table-C85 .row-RBB .cell-sYy {
  margin-right: 0rem;
  width: 8.2667rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.light-table-qHX .table-C85 .row-RBB .auto-group-3qvw-yM7 {
  margin-right: 0rem;
  width: 16.5333rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.light-table-qHX .table-C85 .row-RBB .auto-group-3qvw-yM7 .cell-JPP {
  width: 8.2667rem;
  height: 3.6rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
}
.light-table-qHX .table-C85 .row-RBB .auto-group-3qvw-yM7 .cell-24V {
  width: 8.2667rem;
  height: 3.6rem;
  position: absolute;
  left: 8.2667rem;
  top: 0;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
}
.light-table-qHX .table-C85 .row-RBB .cell-ZaD {
  margin-right: 0rem;
  width: 8.2667rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.light-table-qHX .table-C85 .row-RBB .cell-7bj {
  width: 8.2667rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.light-table-qHX .table-C85 .row-r3X {
  width: 100%;
  height: 3.6rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.light-table-qHX .table-C85 .row-r3X .cell-NnZ {
  margin-right: 0rem;
  width: 8.2667rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.light-table-qHX .table-C85 .row-r3X .cell-iLd {
  margin-right: 0rem;
  width: 8.2667rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.light-table-qHX .table-C85 .row-r3X .auto-group-wnao-3th {
  margin-right: 0rem;
  width: 16.5333rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.light-table-qHX .table-C85 .row-r3X .auto-group-wnao-3th .cell-cB7 {
  width: 8.2667rem;
  height: 3.6rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
}
.light-table-qHX .table-C85 .row-r3X .auto-group-wnao-3th .cell-vxV {
  width: 8.2667rem;
  height: 3.6rem;
  position: absolute;
  left: 8.2667rem;
  top: 0;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
}
.light-table-qHX .table-C85 .row-r3X .cell-UUD {
  margin-right: 0rem;
  width: 8.2667rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.light-table-qHX .table-C85 .row-r3X .cell-oFb {
  width: 8.2667rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
