
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 24rem;
}.table-1-v5b {
  width: 100%;
  height: 10.8rem;
}
.table-1-v5b .table-5jB {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.4rem;
}
.table-1-v5b .table-5jB .row-3R7 {
  width: 100%;
  height: 3.6rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.table-1-v5b .table-5jB .row-3R7 .cell-nNh {
  width: 12rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.0599999987);
  flex-shrink: 0;
}
.table-1-v5b .table-5jB .row-3R7 .cell-8SZ {
  width: 12rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.0599999987);
  flex-shrink: 0;
}
.table-1-v5b .table-5jB .row-UmK {
  width: 100%;
  height: 3.6rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.table-1-v5b .table-5jB .row-UmK .cell-F1P {
  width: 12rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-v5b .table-5jB .row-UmK .cell-P7b {
  width: 12rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-v5b .table-5jB .row-85B {
  width: 100%;
  height: 3.6rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.table-1-v5b .table-5jB .row-85B .cell-VAd {
  width: 12rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.table-1-v5b .table-5jB .row-85B .cell-F9o {
  width: 12rem;
  height: 100%;
  border: solid 0.1rem #b9b9b9;
  box-sizing: border-box;
  flex-shrink: 0;
}
