
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 49.6rem;
}.light-table-qHX {
  height: 10.8rem;
  width: 100%;

  .table-C85 {
    width: 100%;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 0.4rem;
    height: 100%;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;

    .row-9Z7 {
      height: 3.6rem;
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      width: 100%;

      .cell-create-date-5Sm {
        box-sizing: border-box;
        padding: 1rem 1.767rem 1rem 1.2rem;
        width: 8.2667rem;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.0599999987);
        flex-shrink: 0;
        margin-right: 0rem;

        .content-aeR {
          overflow: hidden;
          position: relative;
          font-size: 1.2rem;
          font-weight: 600;
          font-family: Inter, 'Source Sans Pro';
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          line-height: 1.2999999523;
          color: #000000;
          white-space: nowrap;
          display: flex;
        }
      }
      .cell-name-nVb {
        margin-right: 0rem;
        width: 8.2667rem;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.0599999987);
        flex-shrink: 0;
      }
      .auto-group-isgo-w7b {
        margin-right: 0rem;
        width: 16.5333rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .cell-start-date-V97 {
          width: 8.2667rem;
          height: 3.6rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: rgba(0, 0, 0, 0.0599999987);
        }
        .cell-end-date-aRT {
          top: 0;
          background-color: rgba(0, 0, 0, 0.0599999987);
          width: 8.2667rem;
          height: 3.6rem;
          position: absolute;
          left: 8.2667rem;
        }
      }
      .cell-paid-quantity-Wpu {
        margin-right: 0rem;
        width: 8.2667rem;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.0599999987);
        flex-shrink: 0;
      }
      .cell-edit-GJH {
        background-color: rgba(0, 0, 0, 0.0599999987);
        flex-shrink: 0;
        width: 8.2667rem;
        height: 100%;
      }
    }
    .row-RBB {
      flex-shrink: 0;
      width: 100%;
      height: 3.6rem;
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;

      .cell-LJ9 {
        flex-shrink: 0;
        margin-right: 0rem;
        width: 8.2667rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
      }
      .cell-sYy {
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
        margin-right: 0rem;
        width: 8.2667rem;
      }
      .auto-group-3qvw-yM7 {
        margin-right: 0rem;
        width: 16.5333rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .cell-JPP {
          left: 0;
          top: 0;
          border: solid 0.1rem #b9b9b9;
          box-sizing: border-box;
          width: 8.2667rem;
          height: 3.6rem;
          position: absolute;
        }
        .cell-24V {
          top: 0;
          border: solid 0.1rem #b9b9b9;
          box-sizing: border-box;
          width: 8.2667rem;
          height: 3.6rem;
          position: absolute;
          left: 8.2667rem;
        }
      }
      .cell-ZaD {
        box-sizing: border-box;
        flex-shrink: 0;
        margin-right: 0rem;
        width: 8.2667rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
      }
      .cell-7bj {
        flex-shrink: 0;
        width: 8.2667rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
      }
    }
    .row-r3X {
      position: relative;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      width: 100%;
      height: 3.6rem;
      overflow: hidden;

      .cell-NnZ {
        box-sizing: border-box;
        flex-shrink: 0;
        margin-right: 0rem;
        width: 8.2667rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
      }
      .cell-iLd {
        width: 8.2667rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
        margin-right: 0rem;
      }
      .auto-group-wnao-3th {
        width: 16.5333rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;
        margin-right: 0rem;

        .cell-cB7 {
          box-sizing: border-box;
          width: 8.2667rem;
          height: 3.6rem;
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #b9b9b9;
        }
        .cell-vxV {
          height: 3.6rem;
          position: absolute;
          left: 8.2667rem;
          top: 0;
          border: solid 0.1rem #b9b9b9;
          box-sizing: border-box;
          width: 8.2667rem;
        }
      }
      .cell-UUD {
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
        margin-right: 0rem;
        width: 8.2667rem;
        height: 100%;
      }
      .cell-oFb {
        width: 8.2667rem;
        height: 100%;
        border: solid 0.1rem #b9b9b9;
        box-sizing: border-box;
        flex-shrink: 0;
      }
    }
  }
}
