
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 90.7rem;
}.table-Y4M {
  width: 100%;
  height: 19.8rem;

  .table-H1w {
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;

    .frame-9-3G1 {
      background-color: #ffffff;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.6rem 3.919rem 1.5rem 2.169rem;
      width: 100%;
      height: 6.6rem;
      display: flex;
      align-items: center;

      .tracking-id-WvH {
        margin-right: 2.1688rem;
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.2175;
        color: #000000;
        white-space: nowrap;
      }
      .frame-2-qSm {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0.85rem 1.6rem 0.85rem 0rem;
        box-sizing: border-box;
        padding-right: 0.3483rem;
        height: calc(100% - 1.7rem);

        .product-xnH {
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 1.2175;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2.3858rem;
        }
        .bxs-sort-alt-Ukd {
          width: 0.9034rem;
          height: 1.2661rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.1001rem;
        }
      }
      .frame-3-xvh {
        margin: 0rem 1.6rem 1.7rem 0rem;
        box-sizing: border-box;
        padding-right: 0.3483rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .customer-pT7 {
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 1.2175;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 1.0858rem;
        }
        .bxs-sort-alt-fid {
          margin-bottom: 0.2001rem;
          width: 0.9034rem;
          height: 1.2661rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .frame-4-cNy {
        box-sizing: border-box;
        padding-right: 0.3483rem;
        height: calc(100% - 1.7rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0.85rem 1.6rem 0.85rem 0rem;

        .date-YXX {
          flex-shrink: 0;
          margin-right: 4.7858rem;
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 1.2175;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
        }
        .bxs-sort-alt-s41 {
          width: 0.9034rem;
          height: 1.2661rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.1001rem;
        }
      }
      .amount-nwf {
        flex-shrink: 0;
        margin-right: 5.0375rem;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.2175;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
      }
      .payment-mode-Wcm {
        margin-right: 4.4375rem;
        max-width: 6.7rem;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.2175;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .frame-7-Dn5 {
        flex-shrink: 0;
        margin: 0.85rem 3.919rem 0.85rem 0rem;
        box-sizing: border-box;
        padding-right: 0.3483rem;
        height: calc(100% - 1.7rem);
        display: flex;
        align-items: center;

        .status-wTB {
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.5858rem;
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 1.2175;
          color: #000000;
        }
        .bxs-sort-alt-eMb {
          margin-bottom: 0.2001rem;
          width: 0.9034rem;
          height: 1.2661rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .action-C8D {
        font-weight: 700;
        line-height: 1.2175;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.4rem;
      }
    }
    .frame-10-w5o {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.6rem 5.169rem 1.5rem 3.669rem;
      width: 100%;
      height: 6.6rem;
      display: flex;
      align-items: center;
      background-color: #f7f6fe;

      .item-20462-Rmf {
        text-align: center;
        font-size: 1.4rem;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        margin-right: 3.6688rem;
        font-weight: 500;
        line-height: 1.2175;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .frame-2-9xZ {
        margin: 0.1rem 4.538rem 0.2rem 0rem;
        height: calc(100% - 0.3rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .unsplash-h0angggseio-6cu {
          background-position: -0.0759rem -2.7121rem;
          background-image: url('REPLACE_IMAGE:3a0f8d91110a44d6cfef595ded24c6102018ecaf');
          border-radius: 0.8rem;
          margin-right: 0.8rem;
          height: 3.2rem;
          background-color: #c4c4c4;
          background-size: 125.781% 188.869%;
          flex-shrink: 0;
          width: 3.2rem;

          .unsplash-h0angggseio-6cu-bg {
            width: 3.2rem;
            height: 3.2rem;
            position: relative;
            background-image: url('REPLACE_IMAGE:3a0f8d91110a44d6cfef595ded24c6102018ecaf');
          }
        }
        .hat-72D {
          font-weight: 500;
          line-height: 1.2175;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.1rem;
          font-size: 1.4rem;
        }
      }
      .matt-dickerson-F8R {
        max-width: 7.2rem;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.2175;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 3.9375rem;
      }
      .item-13-05-2022-m6m {
        line-height: 1.2175;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 3.7375rem;
        font-size: 1.4rem;
        font-weight: 500;
      }
      .item-495-4bf {
        margin-right: 7.2375rem;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.2175;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .tranfer-bank-zkD {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 1.9375rem;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.2175;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
      }
      .frame-12-Lp5 {
        margin: 0.15rem 6.406rem 0.25rem 0rem;
        flex-shrink: 0;
        height: calc(100% - 0.4rem);
        font-family: Montserrat, 'Source Sans Pro';
        justify-content: center;
        border-radius: 2.2rem;
        align-items: center;
        background-color: #ebf9f1;
        width: 8.3rem;
        font-size: 1.2rem;
        color: #1f9254;
        white-space: nowrap;
        font-weight: 500;
        line-height: 1.2175;
        display: flex;
      }
      .frame-14-ZRw {
        height: 2.4rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.1rem;
        width: 2.4rem;
      }
    }
    .frame-13-6wf {
      align-items: center;
      background-color: #ffffff;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.6rem 5.169rem 1.5rem 3.919rem;
      width: 100%;
      height: 6.6rem;
      display: flex;

      .item-18933-EY5 {
        text-align: center;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 3.9188rem;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.2175;
        flex-shrink: 0;
      }
      .frame-2-jDw {
        flex-shrink: 0;
        margin: 0.1rem 2.038rem 0.2rem 0rem;
        height: calc(100% - 0.3rem);
        display: flex;
        align-items: center;

        .unsplash-gi3iuj1fwxi-sb3 {
          margin-right: 0.8rem;
          width: 3.2rem;
          background-position: center;
          border-radius: 0.8rem;
          flex-shrink: 0;
          height: 3.2rem;
          background-color: #c4c4c4;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-image: url('REPLACE_IMAGE:e785119f3e00108d8437320b207771d6ba672f82');
        }
        .laptop-x6h {
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.1rem;
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 1.2175;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
        }
      }
      .wiktoria-5SD {
        font-weight: 500;
        line-height: 1.2175;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 5.0375rem;
        font-size: 1.4rem;
      }
      .item-22-05-2022-DoK {
        flex-shrink: 0;
        margin-right: 3.4375rem;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.2175;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
      }
      .item-895-YKo {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.2175;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 7.3375rem;
      }
      .cash-on-delivery-ggu {
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 5.3375rem;
        max-width: 5.8rem;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.2175;
      }
      .frame-12-zxV {
        color: #1f9254;
        height: calc(100% - 0.4rem);
        align-items: center;
        line-height: 1.2175;
        width: 8.3rem;
        font-size: 1.2rem;
        font-weight: 500;
        font-family: Montserrat, 'Source Sans Pro';
        background-color: #ebf9f1;
        border-radius: 2.2rem;
        margin: 0.15rem 6.406rem 0.25rem 0rem;
        display: flex;
        justify-content: center;
        flex-shrink: 0;
        white-space: nowrap;
      }
      .frame-14-FtR {
        flex-shrink: 0;
        margin-bottom: 0.1rem;
        width: 2.4rem;
        height: 2.4rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
}
