
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.trang-ch-cng-dn-CH3 {
  width: 75%;
  height: 95rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #e8d6d4;
}
.trang-ch-cng-dn-CH3 .frame-drawer-8gV {
  width: 25.6rem;
  height: 75rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #9b1212;
  flex-shrink: 0;

  position: fixed;
  top: 0;
  left: 12.5%;
}
.trang-ch-cng-dn-CH3 .frame-drawer-8gV .logo-5Lq {
  width: 100%;
  height: 10rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj {
  box-sizing: border-box;
  padding: 1rem 0rem 1rem 0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR {
  width: 25.5rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR .trang-ch--72d {
  box-sizing: border-box;
  padding: 2rem 2rem 2rem 2rem;
  width: 100%;
  display: flex;
  cursor: pointer;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}

.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR .trang-ch--72d:hover {
  border-left: 15px solid orange;
}

.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR .trang-ch--72d .icon-home-Sah {
  margin: 0rem 3.6rem 0rem 0rem;
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR .trang-ch--72d .trang-ch-xJ9 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR .cn-h-Fo3 {
  box-sizing: border-box;
  padding: 2rem 2rem 2rem 2rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}

.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR .cn-h-Fo3:hover {
  border-left: 15px solid orange;
}

.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR .cn-h-Fo3 .icon-user-circle-alt-yyw {
  margin: 0rem 6.6rem 0rem 0rem;
  width: 4rem;
  height: 4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR .cn-h-Fo3 .cn-h-hf3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR .ha-n-RL9 {
  box-sizing: border-box;
  padding: 2rem 2rem 2rem 2rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}

.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR .ha-n-RL9:hover {
  border-left: 15px solid orange;
}

.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR .ha-n-RL9 .icon-wallet-xL5 {
  margin: 0rem 5.5rem 0rem 0rem;
  width: 4rem;
  height: 4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR .ha-n-RL9 .ha-n-UJR {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR .phn-nh-QC5 {
  box-sizing: border-box;
  padding: 2rem 2rem 2rem 2rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
  border-left: 15px solid orange;
}

.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR .phn-nh-QC5:hover {
  border-left: 15px solid orange;
}

.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR .phn-nh-QC5 .icon-message-text-wSu {
  margin: 0rem 4.7rem 0rem 0rem;
  width: 4rem;
  height: 4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR .phn-nh-QC5 .phn-nh-fdo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .phn-nh-oED {
  margin-right: 0.1rem;
  box-sizing: border-box;
  padding: 2.55rem 5.9rem 2.55rem 3.474rem;
  width: calc(100% - 0.1rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .phn-nh-oED .power-vJq {
  margin: 0rem 4.376rem 0rem 0rem;
  width: 2.85rem;
  height: 3.0838rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .phn-nh-oED .phn-nh-Sny {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw {
  box-sizing: border-box;
  padding-bottom: 2.2rem;
  width: 88.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  position: relative;
  top: 10rem;
  left: 25.6rem;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-header-rrh {
  margin-bottom: 1rem;
  box-sizing: border-box;
  padding: 1.4rem 1rem;
  width: 88rem;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 0.1rem #e8d6d4;
  background-color: #9b1212;
  flex-shrink: 0;
  z-index: 2;

  position: fixed;
  top: 0;
  left: calc(12.5% + 25.6rem);
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-header-rrh .trang-ch-Bty {
  margin: 0rem 10.4rem 4.1rem 0rem;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-header-rrh .group-user-info-upy {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-header-rrh .group-user-info-upy .auto-group-fzdf-fZF {
  margin: 2.1rem 1.2rem 1.5rem 0rem;
  height: calc(100% - 3.6rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-header-rrh .group-user-info-upy .auto-group-fzdf-fZF .name-and-first-name-bSu {
  margin-bottom: 0.4rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-header-rrh .group-user-info-upy .auto-group-fzdf-fZF .id-number-or-worker-number-K81 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-header-rrh .group-user-info-upy .user-avatar-qc9 {
  width: 8rem;
  height: 8rem;
  border: solid 0.1rem #e8d6d4;
  box-sizing: border-box;
  border-radius: 5rem;
  flex-shrink: 0;
  object-fit: cover;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-r15p-1BB {
    box-sizing: border-box;
    padding: 1rem 0.003rem 1rem 0.003rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-r15p-1BB .frame-153-XfK {
    box-sizing: border-box;
    padding: 1.5rem 3rem 3rem 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-r15p-1BB .frame-153-XfK .ph-gi-xe-thng-11-2023-FrD {
    margin-bottom: 2.9rem;
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1.2;
    text-decoration-line: underline;
    color: #000000;
    font-family: Lato, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-r15p-1BB .frame-153-XfK .frame-3968-9wb {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-r15p-1BB .frame-153-XfK .frame-3968-9wb .tn-ng-k-thu-vat-ghi-ch-hiD {
    margin-right: 2.1rem;
    max-width: 15.6rem;
    height: 100%;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.45;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-r15p-1BB .frame-153-XfK .frame-3968-9wb .frame-3967-1yo {
    width: 67.7rem;
    height: 100%;
    row-gap: 3rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-r15p-1BB .frame-153-XfK .frame-3968-9wb .frame-3967-1yo .rectangle-75-mCH {
    width: 96%;
    height: 4rem;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    background-color: #ffffff;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-r15p-1BB .frame-153-XfK .frame-3968-9wb .frame-3967-1yo .rectangle-76-hrd {
    width: 96%;
    height: 4.1rem;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    background-color: #ffffff;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-r15p-1BB .frame-153-XfK .frame-3968-9wb .frame-3967-1yo .rectangle-74-rDj {
    width: 96%;
    height: 31.0382rem;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    background-color: #ffffff;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-r15p-1BB .button-y3T {
    margin: 0rem 2.6rem 0rem 1.5rem;
    width: calc(100% - 4.1rem);
    height: 6.4rem;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-r15p-1BB .button-y3T .frame-turn-back-button-J5j {
    margin-right: 59.95rem;
    box-sizing: border-box;
    padding: 1rem 0.8rem 1rem 2.433rem;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: solid 0.1rem #775652;
    background-color: #ffffff;
    border-radius: 2rem;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-r15p-1BB .button-y3T .frame-turn-back-button-J5j .corner-down-left-ppm {
    margin: 0rem 1.333rem 0rem 0rem;
    width: 1.3333rem;
    height: 1.3333rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-r15p-1BB .button-y3T .frame-turn-back-button-J5j .quay-li-xRB {
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #775652;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-r15p-1BB .button-y3T .frame-3852-TMw {
    width: 25.65rem;
    height: 100%;
    cursor: pointer;
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 0.1rem #775652;
    box-sizing: border-box;
    background-color: #775652;
    border-radius: 2rem;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-bottom-buttons-3hw {
    width: 97%;
    height: 6.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-bottom-buttons-3hw .frame-turn-back-buttons-bUZ {
    box-sizing: border-box;
    padding: 1rem 0.8rem 1rem 2rem;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: solid 0.1rem #775652;
    background-color: #ffffff;
    border-radius: 2rem;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-bottom-buttons-3hw .frame-turn-back-buttons-bUZ .corner-down-left-iZB {
    margin: 0rem 1.333rem 0rem 0rem;
    width: 1.3333rem;
    height: 1.3333rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-bottom-buttons-3hw .frame-turn-back-buttons-bUZ .quay-li-dw3 {
    font-size: 2.4em;
    font-weight: 400;
    line-height: 1.2125;
    color: #775652;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-bottom-buttons-3hw .right-button-M6M {
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-bottom-buttons-3hw .right-button-M6M .frame-change-buttons-JXP {
    margin-right: 2rem;
    box-sizing: border-box;
    padding: 1rem 0.8rem 1rem 1.375rem;
    width: 15rem;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 0.1rem #c9c9c9;
    background-color: #775652;
    border-radius: 2rem;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-bottom-buttons-3hw .right-button-M6M .frame-change-buttons-JXP .edit-2-Evq {
    margin: 0.014rem 1.19rem 0rem 0rem;
    width: 1.735rem;
    height: 1.6524rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-bottom-buttons-3hw .right-button-M6M .frame-change-buttons-JXP .chnh-sa-B5P {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-bottom-buttons-3hw .right-button-M6M .frame-delete-button-gnq {
    width: 15.65rem;
    height: 100%;
    cursor: pointer;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #e8d6d4;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 0.1rem #c9c9c9;
    box-sizing: border-box;
    background-color: #ff4d4f;
    border-radius: 2rem;
    flex-shrink: 0;
  }  