
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.nhp-s-in-thoi-VrM {
  box-sizing: border-box;
  padding: 16.15rem 30.2rem;
  width: 100%;
  height: 102.4rem;
  overflow: hidden;
  position: relative;
  background-color: #9b1212;
}
.nhp-s-in-thoi-VrM .frame-3914-DXT {
  box-sizing: border-box;
  padding-bottom: 8.65rem;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #e8d6d4;
}
.nhp-s-in-thoi-VrM .frame-3914-DXT .sign-in-ASh {
  margin-bottom: 8.75rem;
  width: 100%;
  height: 10.4rem;
  overflow: hidden;
  position: relative;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  text-decoration-line: underline;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e8d6d4;
  flex-shrink: 0;
}
.nhp-s-in-thoi-VrM .frame-3914-DXT .sign-in-form-qoj {
  margin: 0 10.6rem;
  width: calc(100% - 21.2rem);
  height: 42.3rem;
  overflow: hidden;
  position: relative;
  background-color: #e8d6d4;
  flex-shrink: 0;
}
.nhp-s-in-thoi-VrM .frame-3914-DXT .sign-in-form-qoj .frame-3929-aWR {
  box-sizing: border-box;
  padding-top: 3.75rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.nhp-s-in-thoi-VrM .frame-3914-DXT .sign-in-form-qoj .frame-3929-aWR .form-JxD {
  margin-bottom: 14.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.nhp-s-in-thoi-VrM .frame-3914-DXT .sign-in-form-qoj .frame-3929-aWR .form-JxD .username-4Rb {
  margin-bottom: 1.7rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.nhp-s-in-thoi-VrM .frame-3914-DXT .sign-in-form-qoj .frame-3929-aWR .form-JxD .frame-3926-Nx5 {
  margin-bottom: 0.25rem;
  box-sizing: border-box;
  padding: 1.75rem 3.1946rem;
  width: 100%;
  display: flex;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ffffff;
  flex-shrink: 0;
}
.nhp-s-in-thoi-VrM .frame-3914-DXT .sign-in-form-qoj .frame-3929-aWR .form-JxD .password-fwB {
  max-width: 61.1rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #b0b0b0;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.nhp-s-in-thoi-VrM .frame-3914-DXT .sign-in-form-qoj .frame-3929-aWR .button-oGh {
  width: 100%;
  height: 6.4rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #775652;
  border-radius: 2rem;
  flex-shrink: 0;
}
