
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.ql-cc-cn-h-QGd {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #e8d6d4;
}
.ql-cc-cn-h-QGd .frame-drawer-KuP {
  width: 34.6rem;
  height: 102.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #9b1212;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-drawer-KuP .logo-reR {
  width: 100%;
  height: 12.7rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-drawer-KuP .auto-group-cmlr-DE5 {
  box-sizing: border-box;
  padding: 2.6rem 0rem 1rem 0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-drawer-KuP .auto-group-cmlr-DE5 .navigate-LJh {
  margin-bottom: 38.6rem;
  width: 34.5rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-drawer-KuP .auto-group-cmlr-DE5 .navigate-LJh .trang-ch--fbs {
  box-sizing: border-box;
  padding: 2.55rem 5.6rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-drawer-KuP .auto-group-cmlr-DE5 .navigate-LJh .trang-ch--fbs .icon-home-Bq7 {
  margin: 0rem 3.6rem 0rem 0rem;
  width: 4rem;
  height: 3.5505rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-drawer-KuP .auto-group-cmlr-DE5 .navigate-LJh .trang-ch--fbs .trang-ch-uFK {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-drawer-KuP .auto-group-cmlr-DE5 .navigate-LJh .cn-h-btq {
  box-sizing: border-box;
  padding: 2.55rem 8.6rem 2.55rem 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-drawer-KuP .auto-group-cmlr-DE5 .navigate-LJh .cn-h-btq .icon-user-circle-alt-LbX {
  margin: 0rem 6.6rem 0rem 0rem;
  width: 4rem;
  height: 4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-drawer-KuP .auto-group-cmlr-DE5 .navigate-LJh .cn-h-btq .cn-h-FiV {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-drawer-KuP .auto-group-cmlr-DE5 .navigate-LJh .ha-n-mwj {
  box-sizing: border-box;
  padding: 2.55rem 7.5rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-drawer-KuP .auto-group-cmlr-DE5 .navigate-LJh .ha-n-mwj .icon-wallet-6j7 {
  margin: 0rem 5.5rem 0rem 0rem;
  width: 4rem;
  height: 3.644rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-drawer-KuP .auto-group-cmlr-DE5 .navigate-LJh .ha-n-mwj .ha-n-zpV {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-drawer-KuP .auto-group-cmlr-DE5 .navigate-LJh .phn-nh-XJd {
  box-sizing: border-box;
  padding: 2.55rem 6.7rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-drawer-KuP .auto-group-cmlr-DE5 .navigate-LJh .phn-nh-XJd .icon-message-text-TCH {
  margin: 0rem 4.7rem 0rem 0rem;
  width: 4rem;
  height: 3.9757rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-drawer-KuP .auto-group-cmlr-DE5 .navigate-LJh .phn-nh-XJd .phn-nh-Nq3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-drawer-KuP .auto-group-cmlr-DE5 .phn-nh-toP {
  margin-right: 0.1rem;
  box-sizing: border-box;
  padding: 2.55rem 5.9rem 2.55rem 3.474rem;
  width: calc(100% - 0.1rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-drawer-KuP .auto-group-cmlr-DE5 .phn-nh-toP .power-cDb {
  margin: 0rem 4.376rem 0rem 0rem;
  width: 2.85rem;
  height: 3.0838rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-drawer-KuP .auto-group-cmlr-DE5 .phn-nh-toP .phn-nh-jZ7 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-header-and-content--FGZ {
  box-sizing: border-box;
  padding-bottom: 18.7rem;
  width: 109.4rem;
  height: 102.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-header-and-content--FGZ .frame-header-Nry {
  margin-bottom: 2.5rem;
  box-sizing: border-box;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  width: 100%;
  height: 13rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #ffffff;
  background-color: #9b1212;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-header-and-content--FGZ .frame-header-Nry .h-dn-c-WTP {
  margin: 0rem 41.5rem 4.1rem 0rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-header-and-content--FGZ .frame-header-Nry .group-user-info-RqF {
  width: 40.7rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-header-and-content--FGZ .frame-header-Nry .group-user-info-RqF .user-avatar-aTF {
  width: 9.2199rem;
  height: 10rem;
  position: absolute;
  left: 31.4801rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.ql-cc-cn-h-QGd .frame-header-and-content--FGZ .frame-header-Nry .group-user-info-RqF .name-and-first-name-7i5 {
  width: 24.6rem;
  height: 3rem;
  position: absolute;
  left: 6.298rem;
  top: 2.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.ql-cc-cn-h-QGd .frame-header-and-content--FGZ .frame-header-Nry .group-user-info-RqF .id-number-or-worker-number-1oT {
  width: 32.5rem;
  height: 3rem;
  position: absolute;
  left: 0;
  top: 5.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.ql-cc-cn-h-QGd .frame-header-and-content--FGZ .frame-3917-Uww {
  margin: 0 1.5rem;
  width: calc(100% - 3rem);
  height: 68.2rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-header-and-content--FGZ .frame-3917-Uww .frame-3950-2Cm {
  width: 55.4rem;
  height: 10rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: flex-start;
}
.ql-cc-cn-h-QGd .frame-header-and-content--FGZ .frame-3917-Uww .frame-3950-2Cm .frame-search-bar-ZiV {
  margin-right: 2rem;
  width: 49rem;
  height: 100%;
  position: relative;
  background-color: #ffffff;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-header-and-content--FGZ .frame-3917-Uww .frame-3950-2Cm .frame-search-bar-ZiV .search-KBs {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: 1.25rem;
  top: 1.75rem;
  object-fit: contain;
  vertical-align: top;
}
.ql-cc-cn-h-QGd .frame-header-and-content--FGZ .frame-3917-Uww .frame-3950-2Cm .frame-search-bar-ZiV .search-rSh {
  width: 49rem;
  height: 10rem;
  position: absolute;
  left: 0;
  top: 0;
}
.ql-cc-cn-h-QGd .frame-header-and-content--FGZ .frame-3917-Uww .frame-3950-2Cm .frame-search-bar-ZiV .search-rSh .auto-group-bqyr-QUD {
  width: 100%;
  height: 4.4rem;
  position: relative;
}
.ql-cc-cn-h-QGd .frame-header-and-content--FGZ .frame-3917-Uww .frame-3950-2Cm .frame-search-bar-ZiV .search-rSh .auto-group-bqyr-QUD .label-text-Z6D {
  width: 9.1rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #040f0f;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.ql-cc-cn-h-QGd .frame-header-and-content--FGZ .frame-3917-Uww .frame-3950-2Cm .frame-search-bar-ZiV .search-rSh .auto-group-bqyr-QUD .input-field-GmK {
  box-sizing: border-box;
  padding: 1.2rem;
  width: 49rem;
  height: 4.4rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.2rem #000000;
  border-radius: 0.8rem;
}
.ql-cc-cn-h-QGd .frame-header-and-content--FGZ .frame-3917-Uww .frame-3950-2Cm .frame-search-bar-ZiV .search-rSh .auto-group-bqyr-QUD .input-field-GmK .lead-icon-text-caH {
  box-sizing: border-box;
  padding-left: 0.1875rem;
  width: 20.4rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.ql-cc-cn-h-QGd .frame-header-and-content--FGZ .frame-3917-Uww .frame-3950-2Cm .frame-search-bar-ZiV .search-rSh .auto-group-bqyr-QUD .input-field-GmK .lead-icon-text-caH .icon-outline-layer-ZEd {
  margin-right: 1.3875rem;
  width: 1.625rem;
  height: 1.625rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-header-and-content--FGZ .frame-3917-Uww .frame-3950-2Cm .frame-search-bar-ZiV .search-rSh .auto-group-bqyr-QUD .input-field-GmK .lead-icon-text-caH .insert-text-here-6EZ {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 0.5555555556;
  color: #040f0f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-header-and-content--FGZ .frame-3917-Uww .frame-3950-2Cm .frame-3963-Nxm {
  width: 4.4rem;
  height: 4.4rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-header-and-content--FGZ .frame-3917-Uww .frame-appartment-infos-X4y {
  width: 106.4rem;
  height: 61.3rem;
  position: absolute;
  left: 0;
  top: 6.9rem;
  row-gap: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.ql-cc-cn-h-QGd .frame-header-and-content--FGZ .frame-3917-Uww .frame-appartment-infos-X4y .header-DyP {
  box-sizing: border-box;
  padding: 1rem 8.933rem 0.9rem 11.683rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #808080;
  background-color: #904a43;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-header-and-content--FGZ .frame-3917-Uww .frame-appartment-infos-X4y .header-DyP .c1-xAH {
  margin-right: 0.1167rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-header-and-content--FGZ .frame-3917-Uww .frame-appartment-infos-X4y .header-DyP .c4-tJq {
  margin-right: 5rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #aeaeae;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-header-and-content--FGZ .frame-3917-Uww .frame-appartment-infos-X4y .header-DyP .c2-2fw {
  margin-right: 17.5667rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-header-and-content--FGZ .frame-3917-Uww .frame-appartment-infos-X4y .header-DyP .c3-yLH {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-header-and-content--FGZ .frame-3917-Uww .frame-appartment-infos-X4y .header-6vh {
  box-sizing: border-box;
  padding: 1.5rem 12.517rem 2.5rem 13.917rem;
  width: 100%;
  height: 8.4rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.1rem #808080;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-header-and-content--FGZ .frame-3917-Uww .frame-appartment-infos-X4y .header-6vh .c1-d9w {
  margin-right: 30.2333rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-header-and-content--FGZ .frame-3917-Uww .frame-appartment-infos-X4y .header-6vh .c2-NNR {
  margin-right: 28.8333rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-header-and-content--FGZ .frame-3917-Uww .frame-appartment-infos-X4y .header-6vh .c3-ut9 {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-header-and-content--FGZ .frame-3917-Uww .frame-appartment-infos-X4y .header-3jT {
  box-sizing: border-box;
  padding: 1.5rem 12.517rem 2.4rem 13.667rem;
  width: 100%;
  height: 8.3rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #808080;
  background-color: #e8d6d4;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-header-and-content--FGZ .frame-3917-Uww .frame-appartment-infos-X4y .header-3jT .c1-yt1 {
  margin-right: 29.9333rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-header-and-content--FGZ .frame-3917-Uww .frame-appartment-infos-X4y .header-3jT .c2-XuX {
  margin-right: 28.7833rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-header-and-content--FGZ .frame-3917-Uww .frame-appartment-infos-X4y .header-3jT .c3-fkq {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-header-and-content--FGZ .frame-3917-Uww .frame-appartment-infos-X4y .header-nqT {
  box-sizing: border-box;
  padding: 1.5rem 11.517rem 1.9rem 13.567rem;
  width: 100%;
  height: 7.8rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #808080;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-header-and-content--FGZ .frame-3917-Uww .frame-appartment-infos-X4y .header-nqT .c1-vRs {
  margin-right: 30.0333rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-header-and-content--FGZ .frame-3917-Uww .frame-appartment-infos-X4y .header-nqT .c2-fPT {
  margin-right: 28.8833rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-header-and-content--FGZ .frame-3917-Uww .frame-appartment-infos-X4y .header-nqT .c3-Qbw {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-header-and-content--FGZ .frame-3917-Uww .frame-appartment-infos-X4y .header-jeD {
  box-sizing: border-box;
  padding: 1.5rem 12.517rem 2.5rem 13.567rem;
  width: 100%;
  height: 8.4rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.1rem #808080;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-header-and-content--FGZ .frame-3917-Uww .frame-appartment-infos-X4y .header-jeD .c1-fnm {
  margin-right: 30.1833rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-header-and-content--FGZ .frame-3917-Uww .frame-appartment-infos-X4y .header-jeD .c2-ci1 {
  margin-right: 29.1333rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-header-and-content--FGZ .frame-3917-Uww .frame-appartment-infos-X4y .header-jeD .c3-m57 {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-header-and-content--FGZ .frame-3917-Uww .frame-appartment-infos-X4y .header-UkD {
  box-sizing: border-box;
  padding: 1.5rem 12.817rem 2.4rem 13.667rem;
  width: 100%;
  height: 8.3rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #808080;
  background-color: #e8d6d4;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-header-and-content--FGZ .frame-3917-Uww .frame-appartment-infos-X4y .header-UkD .c1-Cw7 {
  margin-right: 29.9833rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-header-and-content--FGZ .frame-3917-Uww .frame-appartment-infos-X4y .header-UkD .c2-x9b {
  margin-right: 29.2333rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-header-and-content--FGZ .frame-3917-Uww .frame-appartment-infos-X4y .header-UkD .c3-hcy {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-header-and-content--FGZ .frame-3917-Uww .frame-appartment-infos-X4y .header-dWd {
  box-sizing: border-box;
  padding: 1.5rem 8.917rem 1.9rem 13.667rem;
  width: 100%;
  height: 7.8rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #808080;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-header-and-content--FGZ .frame-3917-Uww .frame-appartment-infos-X4y .header-dWd .c1-MxR {
  margin-right: 30.2833rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-header-and-content--FGZ .frame-3917-Uww .frame-appartment-infos-X4y .header-dWd .c2-WKX {
  margin-right: 26.2333rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-QGd .frame-header-and-content--FGZ .frame-3917-Uww .frame-appartment-infos-X4y .header-dWd .c3-r8V {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
