
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.ql-ha-n--tcm {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #e8d6d4;
}
.ql-ha-n--tcm .frame-drawer-2iy {
  width: 34.6rem;
  height: 102.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #9b1212;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-drawer-2iy .logo-AqB {
  width: 100%;
  height: 12.7rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-drawer-2iy .auto-group-hnb7-Kxy {
  box-sizing: border-box;
  padding: 2.6rem 0rem 1rem 0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-drawer-2iy .auto-group-hnb7-Kxy .navigate-TZP {
  margin-bottom: 38.6rem;
  width: 34.5rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-drawer-2iy .auto-group-hnb7-Kxy .navigate-TZP .trang-ch--BkH {
  box-sizing: border-box;
  padding: 2.55rem 5.6rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-drawer-2iy .auto-group-hnb7-Kxy .navigate-TZP .trang-ch--BkH .icon-home-7P3 {
  margin: 0rem 3.6rem 0rem 0rem;
  width: 4rem;
  height: 3.5505rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-drawer-2iy .auto-group-hnb7-Kxy .navigate-TZP .trang-ch--BkH .trang-ch-31o {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-drawer-2iy .auto-group-hnb7-Kxy .navigate-TZP .cn-h-M2V {
  box-sizing: border-box;
  padding: 2.55rem 8.6rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-drawer-2iy .auto-group-hnb7-Kxy .navigate-TZP .cn-h-M2V .icon-user-circle-alt-smX {
  margin: 0rem 6.6rem 0rem 0rem;
  width: 4rem;
  height: 4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-drawer-2iy .auto-group-hnb7-Kxy .navigate-TZP .cn-h-M2V .cn-h-oQH {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-drawer-2iy .auto-group-hnb7-Kxy .navigate-TZP .ha-n-XLH {
  box-sizing: border-box;
  padding: 2.55rem 7.5rem 2.55rem 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-drawer-2iy .auto-group-hnb7-Kxy .navigate-TZP .ha-n-XLH .icon-wallet-4b7 {
  margin: 0rem 5.5rem 0rem 0rem;
  width: 4rem;
  height: 3.644rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-drawer-2iy .auto-group-hnb7-Kxy .navigate-TZP .ha-n-XLH .ha-n-nX7 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-drawer-2iy .auto-group-hnb7-Kxy .navigate-TZP .phn-nh-7ZP {
  box-sizing: border-box;
  padding: 2.55rem 6.7rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-drawer-2iy .auto-group-hnb7-Kxy .navigate-TZP .phn-nh-7ZP .icon-message-text-3T3 {
  margin: 0rem 4.7rem 0rem 0rem;
  width: 4rem;
  height: 3.9757rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-drawer-2iy .auto-group-hnb7-Kxy .navigate-TZP .phn-nh-7ZP .phn-nh-xpu {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-drawer-2iy .auto-group-hnb7-Kxy .phn-nh-5Pj {
  margin-right: 0.1rem;
  box-sizing: border-box;
  padding: 2.55rem 5.9rem 2.55rem 3.474rem;
  width: calc(100% - 0.1rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-drawer-2iy .auto-group-hnb7-Kxy .phn-nh-5Pj .power-CUM {
  margin: 0rem 4.376rem 0rem 0rem;
  width: 2.85rem;
  height: 3.0838rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-drawer-2iy .auto-group-hnb7-Kxy .phn-nh-5Pj .phn-nh-8cu {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ {
  width: 109.4rem;
  height: 102.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .frame-header-ajo {
  box-sizing: border-box;
  padding: 1.4rem 1rem;
  width: 100%;
  height: 12.8rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #e8d6d4;
  background-color: #9b1212;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .frame-header-ajo .ha-n-vHs {
  margin: 0rem 41.3rem 4.1rem 0rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .frame-header-ajo .group-user-info-S1K {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .frame-header-ajo .group-user-info-S1K .auto-group-qwid-b97 {
  margin: 2.1rem 1.2rem 1.5rem 0rem;
  height: calc(100% - 3.6rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .frame-header-ajo .group-user-info-S1K .auto-group-qwid-b97 .name-and-first-name-X2m {
  margin-bottom: 0.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .frame-header-ajo .group-user-info-S1K .auto-group-qwid-b97 .id-number-or-worker-number-3Wu {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .frame-header-ajo .group-user-info-S1K .user-avatar-hLZ {
  width: 10rem;
  height: 10rem;
  border: solid 0.1rem #e8d6d4;
  box-sizing: border-box;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/user-avatar-bg-AbF.png');
  border-radius: 5rem;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM {
  box-sizing: border-box;
  padding: 3.5rem 1.692rem 1.8rem 1.425rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 {
  margin-bottom: 5.3rem;
  width: 100%;
  height: 72.6rem;
  position: relative;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3952-FFb {
  width: 104.708rem;
  height: 10rem;
  position: absolute;
  left: 1.575rem;
  top: 0;
  display: flex;
  align-items: flex-start;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3952-FFb .frame-search-yhP {
  margin-right: 2rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3952-FFb .frame-search-yhP .thi-gian-8qB {
  margin-right: 2rem;
  width: 35.0687rem;
  height: 100%;
  background-color: #ffffff;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3952-FFb .frame-search-yhP .thi-gian-8qB .auto-group-1ewf-grh {
  width: 100%;
  height: 4.4rem;
  position: relative;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3952-FFb .frame-search-yhP .thi-gian-8qB .auto-group-1ewf-grh .label-text-EtD {
  width: 9.1rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #040f0f;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3952-FFb .frame-search-yhP .thi-gian-8qB .auto-group-1ewf-grh .input-field-AG5 {
  box-sizing: border-box;
  padding: 1.2rem 1.8rem 1.2rem 1.2rem;
  width: 35.0687rem;
  height: 4.4rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  border: solid 0.2rem #000000;
  border-radius: 0.8rem;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3952-FFb .frame-search-yhP .thi-gian-8qB .auto-group-1ewf-grh .input-field-AG5 .lead-icon-text-swB {
  margin-right: 4.2687rem;
  box-sizing: border-box;
  padding-left: 0.1875rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3952-FFb .frame-search-yhP .thi-gian-8qB .auto-group-1ewf-grh .input-field-AG5 .lead-icon-text-swB .icon-outline-layer-E13 {
  margin-right: 1.3875rem;
  width: 1.625rem;
  height: 1.625rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3952-FFb .frame-search-yhP .thi-gian-8qB .auto-group-1ewf-grh .input-field-AG5 .lead-icon-text-swB .insert-text-here-AQV {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 0.8333333333;
  color: #040f0f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3952-FFb .frame-search-yhP .thi-gian-8qB .auto-group-1ewf-grh .input-field-AG5 .icon-fill-caret-small-down-6Z3 {
  width: 0.8rem;
  height: 0.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3952-FFb .frame-search-yhP .tiu--QJq {
  width: 61.2393rem;
  height: 100%;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3952-FFb .frame-search-yhP .tiu--QJq .auto-group-2fw3-ktV {
  width: 100%;
  height: 4.4rem;
  position: relative;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3952-FFb .frame-search-yhP .tiu--QJq .auto-group-2fw3-ktV .label-text-7j3 {
  width: 8rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #040f0f;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3952-FFb .frame-search-yhP .tiu--QJq .auto-group-2fw3-ktV .input-field-F4Z {
  box-sizing: border-box;
  padding: 1.2rem 1.8rem 1.2rem 1.2rem;
  width: 61.2393rem;
  height: 4.4rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  border: solid 0.2rem #000000;
  background-color: #ffffff;
  border-radius: 0.8rem;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3952-FFb .frame-search-yhP .tiu--QJq .auto-group-2fw3-ktV .input-field-F4Z .lead-icon-text-ABX {
  margin-right: 42.7393rem;
  box-sizing: border-box;
  padding-left: 0.1875rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3952-FFb .frame-search-yhP .tiu--QJq .auto-group-2fw3-ktV .input-field-F4Z .lead-icon-text-ABX .icon-outline-layer-hx9 {
  margin-right: 1.3875rem;
  width: 1.625rem;
  height: 1.625rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3952-FFb .frame-search-yhP .tiu--QJq .auto-group-2fw3-ktV .input-field-F4Z .lead-icon-text-ABX .insert-text-here-r4M {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 0.8333333333;
  color: #040f0f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3952-FFb .frame-search-yhP .tiu--QJq .auto-group-2fw3-ktV .input-field-F4Z .icon-fill-caret-small-down-PKB {
  width: 0.8rem;
  height: 0.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3952-FFb .frame-3963-6UV {
  width: 4.4rem;
  height: 4.4rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3942-qS5 {
  width: 104.975rem;
  height: 63.2rem;
  position: absolute;
  left: 0;
  top: 9.4rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3942-qS5 .create-Zcy {
  margin-bottom: 2.5rem;
  width: 18.1rem;
  height: 3.7rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3942-qS5 .create-Zcy .button-hz5 {
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 0.8333333333;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #775652;
  border-radius: 0.4rem;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3942-qS5 .frame-3839-any {
  margin-bottom: 2rem;
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3942-qS5 .frame-3839-any .auto-group-jxdb-vrq {
  box-sizing: border-box;
  padding: 0rem 0rem 1rem 1.575rem;
  width: 100%;
  row-gap: 1rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3942-qS5 .frame-3839-any .auto-group-jxdb-vrq .header-FeD {
  box-sizing: border-box;
  padding: 1rem 6.575rem 0.9rem 6.275rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #808080;
  background-color: #904a43;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3942-qS5 .frame-3839-any .auto-group-jxdb-vrq .header-FeD .c1-bCH {
  margin-right: 13.05rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3942-qS5 .frame-3839-any .auto-group-jxdb-vrq .header-FeD .c2-Xbj {
  margin-right: 12.65rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3942-qS5 .frame-3839-any .auto-group-jxdb-vrq .header-FeD .c3-4rZ {
  margin-right: 12.45rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3942-qS5 .frame-3839-any .auto-group-jxdb-vrq .header-FeD .c4-p53 {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3942-qS5 .frame-3839-any .auto-group-jxdb-vrq .header-kUV {
  box-sizing: border-box;
  padding: 0.5rem 0.2rem 0.5rem 0.425rem;
  width: 100%;
  height: 8.4rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.1rem #808080;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3942-qS5 .frame-3839-any .auto-group-jxdb-vrq .header-kUV .c1-UfP {
  margin: 0rem 5.75rem 1rem 0rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3942-qS5 .frame-3839-any .auto-group-jxdb-vrq .header-kUV .c2-pDT {
  margin: 0rem 8.6rem 1rem 0rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3942-qS5 .frame-3839-any .auto-group-jxdb-vrq .header-kUV .c3-kcu {
  margin: 0rem 3.475rem 1rem 0rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3942-qS5 .frame-3839-any .auto-group-jxdb-vrq .header-kUV .frame-3838-Uoo {
  margin-bottom: 1rem;
  width: 25.75rem;
  height: 6.4rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3942-qS5 .frame-3839-any .auto-group-jxdb-vrq .header-wxH {
  box-sizing: border-box;
  padding: 0.5rem 0.2rem 0.5rem 1.975rem;
  width: 100%;
  height: 8.3rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #808080;
  background-color: #e8d6d4;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3942-qS5 .frame-3839-any .auto-group-jxdb-vrq .header-wxH .c1-sb3 {
  margin: 0rem 7.3rem 0.9rem 0rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3942-qS5 .frame-3839-any .auto-group-jxdb-vrq .header-wxH .c2-1BT {
  margin: 0rem 8.6rem 0.9rem 0rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3942-qS5 .frame-3839-any .auto-group-jxdb-vrq .header-wxH .c3-8Wy {
  margin: 0rem 3.475rem 0.9rem 0rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3942-qS5 .frame-3839-any .auto-group-jxdb-vrq .header-wxH .frame-3838-4Qd {
  margin-bottom: 0.9rem;
  width: 25.75rem;
  height: 6.4rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3942-qS5 .frame-3839-any .auto-group-jxdb-vrq .header-izy {
  box-sizing: border-box;
  padding: 0.5rem 0.2rem 0.9rem 1.675rem;
  width: 100%;
  height: 7.8rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #808080;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3942-qS5 .frame-3839-any .auto-group-jxdb-vrq .header-izy .c1-etd {
  margin-right: 6.95rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3942-qS5 .frame-3839-any .auto-group-jxdb-vrq .header-izy .c2-C9T {
  margin-right: 9.9rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3942-qS5 .frame-3839-any .auto-group-jxdb-vrq .header-izy .c3-jfB {
  margin-right: 4.425rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3942-qS5 .frame-3839-any .auto-group-jxdb-vrq .header-izy .frame-3838-HAu {
  width: 25.75rem;
  height: 100%;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3942-qS5 .frame-3839-any .header-BGH {
  margin-bottom: 1rem;
  box-sizing: border-box;
  padding: 0.5rem 0.2rem 0.5rem 0rem;
  width: 100%;
  height: 8.3rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #808080;
  background-color: #e8d6d4;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3942-qS5 .frame-3839-any .header-BGH .c1-Jrh {
  margin: 0rem 1.15rem 0.9rem 0rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3942-qS5 .frame-3839-any .header-BGH .c2-eQm {
  margin: 0rem 5.9rem 0.9rem 0rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3942-qS5 .frame-3839-any .header-BGH .c3-apD {
  margin: 0rem 3.475rem 0.9rem 0rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3942-qS5 .frame-3839-any .header-BGH .frame-3838-WSy {
  margin-bottom: 0.9rem;
  width: 25.75rem;
  height: 6.4rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3942-qS5 .frame-3839-any .header-nvH {
  box-sizing: border-box;
  padding: 0.5rem 0.2rem 0.9rem 0.225rem;
  height: 7.8rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #808080;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3942-qS5 .frame-3839-any .header-nvH .c1-Xcy {
  margin-right: 4.25rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3942-qS5 .frame-3839-any .header-nvH .c2-H6M {
  margin-right: 8.45rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3942-qS5 .frame-3839-any .header-nvH .c3-2Jq {
  margin-right: 4.425rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3942-qS5 .frame-3839-any .header-nvH .frame-3838-Avq {
  width: 25.75rem;
  height: 100%;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3942-qS5 .item-02-sKT {
  box-sizing: border-box;
  padding: 0 44.85rem;
  width: 103.4rem;
  height: 3.1rem;
  background-color: #e8d6d4;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3942-qS5 .item-02-sKT .frame-16-1gZ {
  width: 100%;
  height: 100%;
  display: flex;
  column-gap: 1.2rem;
  align-items: center;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3942-qS5 .item-02-sKT .frame-16-1gZ .previous-mQq {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #9e9e9e;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3942-qS5 .item-02-sKT .frame-16-1gZ .frame-15-i5B {
  width: 3.1rem;
  height: 100%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9b1212;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .auto-group-4y4r-Jr9 .frame-3942-qS5 .item-02-sKT .frame-16-1gZ .next-cRT {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #9e9e9e;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .button-YK7 {
  margin-left: 1.575rem;
  width: 19.7rem;
  height: 6.4rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .button-YK7 .frame-turn-back-button-UyT {
  box-sizing: border-box;
  padding: 1rem 0.8rem 1rem 2.433rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #775652;
  background-color: #ffffff;
  border-radius: 2rem;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .button-YK7 .frame-turn-back-button-UyT .corner-down-left-QcD {
  margin: 0rem 1.333rem 0rem 0rem;
  width: 1.3333rem;
  height: 1.3333rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.ql-ha-n--tcm .frame-3943-dpZ .auto-group-fsq1-aQM .button-YK7 .frame-turn-back-button-UyT .quay-li-Xwj {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #775652;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
