
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.trang-ch-cng-dn-CH3 {
  width: 75%;
  height: 110rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #e8d6d4;
}
.trang-ch-cng-dn-CH3 .frame-drawer-8gV {
  width: 25.6rem;
  height: 75rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #9b1212;
  flex-shrink: 0;

  position: fixed;
  top: 0;
  left: 12.5%;
}
.trang-ch-cng-dn-CH3 .frame-drawer-8gV .logo-5Lq {
  width: 100%;
  height: 10rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj {
  box-sizing: border-box;
  padding: 1rem 0rem 1rem 0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR {
  width: 25.5rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR .trang-ch--72d {
  box-sizing: border-box;
  padding: 2rem 2rem 2rem 2rem;
  width: 100%;
  display: flex;
  cursor: pointer;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}

.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR .trang-ch--72d:hover {
  border-left: 15px solid orange;
}

.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR .trang-ch--72d .icon-home-Sah {
  margin: 0rem 3.6rem 0rem 0rem;
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR .trang-ch--72d .trang-ch-xJ9 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR .cn-h-Fo3 {
  box-sizing: border-box;
  padding: 2rem 2rem 2rem 2rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}

.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR .cn-h-Fo3:hover {
  border-left: 15px solid orange;
}

.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR .cn-h-Fo3 .icon-user-circle-alt-yyw {
  margin: 0rem 6.6rem 0rem 0rem;
  width: 4rem;
  height: 4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR .cn-h-Fo3 .cn-h-hf3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR .ha-n-RL9 {
  box-sizing: border-box;
  padding: 2rem 2rem 2rem 2rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}

.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR .ha-n-RL9:hover {
  border-left: 15px solid orange;
}

.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR .ha-n-RL9 .icon-wallet-xL5 {
  margin: 0rem 5.5rem 0rem 0rem;
  width: 4rem;
  height: 4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR .ha-n-RL9 .ha-n-UJR {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR .phn-nh-QC5 {
  box-sizing: border-box;
  padding: 2rem 2rem 2rem 2rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
  border-left: 15px solid orange;
}

.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR .phn-nh-QC5:hover {
  border-left: 15px solid orange;
}

.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR .phn-nh-QC5 .icon-message-text-wSu {
  margin: 0rem 4.7rem 0rem 0rem;
  width: 4rem;
  height: 4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR .phn-nh-QC5 .phn-nh-fdo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .phn-nh-oED {
  margin-right: 0.1rem;
  box-sizing: border-box;
  padding: 2.55rem 5.9rem 2.55rem 3.474rem;
  width: calc(100% - 0.1rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .phn-nh-oED .power-vJq {
  margin: 0rem 4.376rem 0rem 0rem;
  width: 2.85rem;
  height: 3.0838rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .phn-nh-oED .phn-nh-Sny {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw {
  box-sizing: border-box;
  padding-bottom: 2.2rem;
  width: 88.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  position: relative;
  top: 10rem;
  left: 25.6rem;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-header-rrh {
  margin-bottom: 1rem;
  box-sizing: border-box;
  padding: 1.4rem 1rem;
  width: 88rem;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 0.1rem #e8d6d4;
  background-color: #9b1212;
  flex-shrink: 0;
  z-index: 2;

  position: fixed;
  top: 0;
  left: calc(12.5% + 25.6rem);
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-header-rrh .trang-ch-Bty {
  margin: 0rem 10.4rem 4.1rem 0rem;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-header-rrh .group-user-info-upy {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-header-rrh .group-user-info-upy .auto-group-fzdf-fZF {
  margin: 2.1rem 1.2rem 1.5rem 0rem;
  height: calc(100% - 3.6rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-header-rrh .group-user-info-upy .auto-group-fzdf-fZF .name-and-first-name-bSu {
  margin-bottom: 0.4rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-header-rrh .group-user-info-upy .auto-group-fzdf-fZF .id-number-or-worker-number-K81 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-header-rrh .group-user-info-upy .user-avatar-qc9 {
  width: 8rem;
  height: 8rem;
  border: solid 0.1rem #e8d6d4;
  box-sizing: border-box;
  border-radius: 5rem;
  flex-shrink: 0;
  object-fit: cover;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-2usw-yTs {
    box-sizing: border-box;
    padding: 2rem 2rem 2rem 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-2usw-yTs .frame-citizen-infos-Wih {
    margin: 0rem 0rem 0rem 0rem;
    width: 58.7rem;
    height: 100%;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-2usw-yTs .frame-citizen-infos-Wih .auto-group-k8hb-SsF {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-2usw-yTs .frame-citizen-infos-Wih .auto-group-k8hb-SsF .frame-3849-C5j {
    margin: 0rem 3rem 3rem 0rem;
    width: calc(100% - 9.5rem);
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-2usw-yTs .frame-citizen-infos-Wih .auto-group-k8hb-SsF .frame-3849-C5j .c1-vGd {
    margin-right: 1.9rem;
    font-size: 2.4rem;
    width: 20rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-2usw-yTs .frame-citizen-infos-Wih .auto-group-k8hb-SsF .frame-3849-C5j .c1-rg5 {
    font-size: 2.4rem;
    font-weight: 400;
    width: 60rem;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-2usw-yTs .frame-citizen-infos-Wih .auto-group-k8hb-SsF .frame-3850-CE9 {
    margin: 0rem 19.5rem 0rem 0rem;
    width: calc(100% - 19.5rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-2usw-yTs .frame-citizen-infos-Wih .auto-group-k8hb-SsF .frame-3850-CE9 .c1-8tV {
    margin-bottom: 2.9rem;
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1.2;
    text-decoration-line: underline;
    color: #000000;
    font-family: Lato, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-2usw-yTs .frame-citizen-infos-Wih .auto-group-k8hb-SsF .frame-3850-CE9 .c1-UBf {
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-2usw-yTs .frame-citizen-infos-Wih .auto-group-k8hb-SsF .frame-3845-1Bb {
    margin: 0rem 38.9rem 3.95rem 0rem;
    width: calc(100% - 38.9rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-2usw-yTs .frame-citizen-infos-Wih .auto-group-k8hb-SsF .frame-3845-1Bb .c1-9Ho {
    margin-right: 1.9rem;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-2usw-yTs .frame-citizen-infos-Wih .auto-group-k8hb-SsF .frame-3845-1Bb .c1-tWH {
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-2usw-yTs .frame-citizen-infos-Wih .auto-group-k8hb-SsF .frame-3846-dyf {
    margin: 0rem 20.1rem 3.9rem 0rem;
    width: calc(100% - 20.1rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-2usw-yTs .frame-citizen-infos-Wih .auto-group-k8hb-SsF .frame-3846-dyf .c1-BVP {
    margin: 0rem 2rem 0.05rem 0rem;
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-2usw-yTs .frame-citizen-infos-Wih .auto-group-k8hb-SsF .frame-3846-dyf .c1-KLh {
    margin-top: 0.05rem;
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 1.2;
    color: #040f0f;
    font-family: Lato, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-2usw-yTs .frame-citizen-infos-Wih .auto-group-k8hb-SsF .frame-3851-rrR {
    margin: 0rem 19.6rem 3rem 0rem;
    width: calc(100% - 19.6rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-2usw-yTs .frame-citizen-infos-Wih .auto-group-k8hb-SsF .frame-3851-rrR .c1-CvH {
    margin-right: 1.8rem;
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-2usw-yTs .frame-citizen-infos-Wih .auto-group-k8hb-SsF .frame-3851-rrR .c1-kwo {
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-2usw-yTs .frame-citizen-infos-Wih .auto-group-k8hb-SsF .frame-3845-6km {
    margin-right: 12rem;
    width: calc(100% - 12rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-2usw-yTs .frame-citizen-infos-Wih .auto-group-k8hb-SsF .frame-3845-6km .c1-4Sh {
    margin-right: 1.7rem;
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-2usw-yTs .frame-citizen-infos-Wih .auto-group-k8hb-SsF .frame-3845-6km .c1-pAy {
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #040f0f;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-2usw-yTs .frame-citizen-infos-Wih .frame-3852-Mwb {
    margin-bottom: 3.85rem;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-2usw-yTs .frame-citizen-infos-Wih .frame-3852-Mwb .c1-vUu {
    margin-right: 2rem;
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-2usw-yTs .frame-citizen-infos-Wih .frame-3852-Mwb .c1-UFX {
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #040f0f;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-2usw-yTs .frame-citizen-infos-Wih .frame-3845-QQ5 {
    margin-right: 10.6rem;
    width: calc(100% - 10.6rem);
    display: flex;
    align-items: center;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-2usw-yTs .frame-citizen-infos-Wih .frame-3845-QQ5 .c1-MaD {
    margin-right: 1.5rem;
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-2usw-yTs .frame-citizen-infos-Wih .frame-3845-QQ5 .c1-uLq {
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-2usw-yTs .frame-bottom-buttons-3hw {
    width: 100%;
    height: 6.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-2usw-yTs .frame-bottom-buttons-3hw .frame-turn-back-buttons-bUZ {
    margin-right: 33.65rem;
    box-sizing: border-box;
    padding: 1rem 0.8rem 1rem 2rem;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: solid 0.1rem #775652;
    background-color: #ffffff;
    border-radius: 2rem;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-2usw-yTs .frame-bottom-buttons-3hw .frame-turn-back-buttons-bUZ .corner-down-left-iZB {
    margin: 0rem 1.333rem 0rem 0rem;
    width: 1.3333rem;
    height: 1.3333rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-2usw-yTs .frame-bottom-buttons-3hw .frame-turn-back-buttons-bUZ .quay-li-dw3 {
    font-size: 2.4em;
    font-weight: 400;
    line-height: 1.2125;
    color: #775652;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-2usw-yTs .frame-bottom-buttons-3hw .right-button-M6M {
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-2usw-yTs .frame-bottom-buttons-3hw .right-button-M6M .frame-change-buttons-JXP {
    margin-right: 2rem;
    box-sizing: border-box;
    padding: 1rem 0.8rem 1rem 1.375rem;
    width: 15rem;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 0.1rem #c9c9c9;
    background-color: #775652;
    border-radius: 2rem;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-2usw-yTs .frame-bottom-buttons-3hw .right-button-M6M .frame-change-buttons-JXP .edit-2-Evq {
    margin: 0.014rem 1.19rem 0rem 0rem;
    width: 1.735rem;
    height: 1.6524rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-2usw-yTs .frame-bottom-buttons-3hw .right-button-M6M .frame-change-buttons-JXP .chnh-sa-B5P {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-2usw-yTs .frame-bottom-buttons-3hw .right-button-M6M .frame-delete-button-gnq {
    width: 15.65rem;
    height: 100%;
    cursor: pointer;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #e8d6d4;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 0.1rem #c9c9c9;
    box-sizing: border-box;
    background-color: #ff4d4f;
    border-radius: 2rem;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-2usw-yTs .frame-state--ve1 {
    margin-bottom: 5rem;
    width: calc(100% - 45.1rem);
    height: 17.7rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-2usw-yTs .frame-state--ve1 .trng-thi-sJM {
    margin-right: 4.2rem;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 1.2;
    color: #000000;
    font-family: Lato, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-2usw-yTs .frame-state--ve1 .frame-slide-bar-QZB {
    width: 40.6rem;
    height: 100%;
    position: relative;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-2usw-yTs .frame-state--ve1 .frame-slide-bar-QZB .auto-group-s5q7-hoB {
    width: 100%;
    height: 4.4rem;
    position: relative;
    background-color: #ffffff;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-2usw-yTs .frame-state--ve1 .frame-slide-bar-QZB .auto-group-s5q7-hoB .label-text-GLV {
    width: 9.1rem;
    height: 2rem;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    color: #040f0f;
    font-family: Quicksand, 'Source Sans Pro';
    white-space: nowrap;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-2usw-yTs .frame-state--ve1 .frame-slide-bar-QZB .auto-group-s5q7-hoB .input-field-z1b {
    box-sizing: border-box;
    padding: 1.2rem 1.8rem 1.2rem 1.2rem;
    width: 40.6rem;
    height: 4.4rem;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    border: solid 0.2rem #000000;
    border-radius: 0.8rem;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-2usw-yTs .frame-state--ve1 .frame-slide-bar-QZB .auto-group-s5q7-hoB .input-field-z1b .lead-icon-text-u8Z {
    margin-right: 13.75rem;
    box-sizing: border-box;
    padding-left: 11.55rem;
    height: 100%;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 0.9090909091;
    color: #040f0f;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-2usw-yTs .frame-state--ve1 .frame-slide-bar-QZB .auto-group-s5q7-hoB .input-field-z1b .icon-fill-caret-small-down-CNZ {
    width: 0.8rem;
    height: 0.4rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-2usw-yTs .frame-state--ve1 .frame-slide-bar-QZB .rectangle-77-uXs {
    width: 35.5rem;
    height: 13.3rem;
    position: absolute;
    left: 0;
    top: 4.4rem;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    background-color: #f8f8f8;
  }
  .trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .auto-group-2usw-yTs .frame-state--ve1 .frame-slide-bar-QZB .cha-x-l-ang-x-l-x-l-dTs {
    width: 11.5rem;
    height: 10rem;
    position: absolute;
    left: 11.95rem;
    top: 6.1rem;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 0.9090909091;
    color: #000000;
    font-family: Poppins, 'Source Sans Pro';
  }