.container {
    width: 98vw;
    height: 87vw;
    border: 1px solid #cccccc;
    display: flex;
    flex-direction: row;
}

/* Drawer */
.drawer {
    width: 19.6vw;
    height: 100%;
    border: 1px solid #cccccc;
    background-color: #9b1212;
}

.logo {
    width: 100%;
    height: calc(9.8vw - 10px);
    padding: 5px 0;
    border: 1px solid #cccccc;
}

.navbar button {
    width: 100%;
    height: 4.9vw;
    margin-top: 5px;
    background-color: transparent;
    color: white;
    border-top: none;
    border-bottom: none;
    border-right: none;

    cursor: pointer;
}

/* Content */
.content {
    width: calc(98vw - 19.6vw);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content:last-child {
    justify-content: flex-end;
}

.content-header {
    width: calc(100% - 30px);
    height: calc(9.8vw - 10px);
    padding: 5px 15px;
    border: 1px solid #cccccc;
    background-color: #9b1212;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    color: white;
}

.content-header-title,
.content-header-user {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-logo-container {
    width: 9.8vw; 
    height: 9.8vw; 
    display: flex; 
    align-items: center;
    justify-content: center;
}

.user-logo {
    width: 70%;
    height: 70%;
    border-radius: 50%;
}

.content-body {
    width: calc(100% - 30px);
    border: 1px solid #cccccc;
    height: calc(87vw - 19.6vw);
    padding: 0 15px;
}

.content-navigation {
    width: calc(100% - 30px);
    height: calc(9.8vw - 10px);
    border: 1px solid #cccccc;
    display: flex;
    padding: 5px 15px;
    justify-content: space-between;
    align-items: center;
}

.content-navigation button {
    width: 16vw;
    height: 4.9vw;
}

@media (min-width: 838px) {
    .container {
        width: 109.125vh;
        height: 97vh;
        border: 1px solid #cccccc;
        display: flex;
        flex-direction: row;
    }
    
    /* Drawer */
    .drawer {
        width: 20%;
        height: 100%;
        border: 1px solid #cccccc;
        background-color: #9b1212;
    }
    
    .logo {
        width: 100%;
        height: 10%;
        padding: auto;
        border: 1px solid #cccccc;
    }
    
    .navbar button {
        width: 100%;
        height: 5vh;
        margin-top: auto;
        background-color: transparent;
        color: white;
        border-top: none;
        border-bottom: none;
        border-right: none;
    
        cursor: pointer;
    }
    
    /* Content */
    .content {
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .content:last-child {
        justify-content: flex-end;
    }
    
    .content-header {
        width: calc(100% - 30px);
        height: 10%;
        padding: auto;
        border: 1px solid #cccccc;
        background-color: #9b1212;
    
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
        color: white;
    }
    
    .content-header-title,
    .content-header-user {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .user-logo-container {
        width: 10%; 
        height: 10%; 
        display: flex; 
        align-items: center;
        justify-content: center;
    }
    
    .user-logo {
        width: 70%;
        height: 70%;
        border-radius: 50%;
    }
    
    .content-body {
        width: calc(100% - 30px);
        border: 1px solid #cccccc;
        height: 80%;
        padding: auto;
    }
    
    .content-navigation {
        width: calc(100% - 30px);
        height: 10%;
        border: 1px solid #cccccc;
        display: flex;
        padding: auto;
        justify-content: space-between;
        align-items: center;
    }
    
    .content-navigation button {
        width: 16vh;
        height: 5vh;
    }
}

