
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.xem-thng-tin-ha-n-9gy {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #e8d6d4;
}
.xem-thng-tin-ha-n-9gy .content-Thf {
  width: 109.4056rem;
  height: 102.4rem;
  position: absolute;
  left: 34.5972rem;
  top: 0;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.xem-thng-tin-ha-n-9gy .content-Thf .frame-header-a1b {
  box-sizing: border-box;
  padding: 1.4rem 0.001rem 1.444rem 0.002rem;
  width: 100%;
  height: 12.8481rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #e8d6d4;
  background-color: #9b1212;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-9gy .content-Thf .frame-header-a1b .ha-n-tY5 {
  margin: 0.175rem 45.501rem 0rem 0rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-9gy .content-Thf .frame-header-a1b .group-user-info-avh {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-9gy .content-Thf .frame-header-a1b .group-user-info-avh .auto-group-pd41-Lus {
  margin: 2.105rem 1.198rem 1.499rem 0rem;
  height: calc(100% - 3.6044rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-9gy .content-Thf .frame-header-a1b .group-user-info-avh .auto-group-pd41-Lus .name-and-first-name-seu {
  margin: 0rem 0.002rem 0.4rem 0rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-9gy .content-Thf .frame-header-a1b .group-user-info-avh .auto-group-pd41-Lus .id-number-or-worker-number-o2m {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-9gy .content-Thf .frame-header-a1b .group-user-info-avh .user-avatar-vNH {
  width: 10.0044rem;
  height: 10.0044rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-9gy .content-Thf .auto-group-jzlq-2w7 {
  box-sizing: border-box;
  padding: 4.1rem 2.053rem 1.5rem 2.053rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-9gy .content-Thf .auto-group-jzlq-2w7 .frame-3909-B3K {
  margin: 0rem 0rem 44.752rem 0.95rem;
  width: 75.2rem;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-9gy .content-Thf .auto-group-jzlq-2w7 .frame-3909-B3K .ph-v-sinh-thng-100-2023-7Bs {
  margin: 0rem 0rem 3.75rem 1rem;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
}
.xem-thng-tin-ha-n-9gy .content-Thf .auto-group-jzlq-2w7 .frame-3909-B3K .frame-3908-12M {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.xem-thng-tin-ha-n-9gy .content-Thf .auto-group-jzlq-2w7 .frame-3909-B3K .frame-3908-12M .frame-3910-Z3s {
  margin: 0rem 0rem 2.7rem 1rem;
  width: calc(100% - 1rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-9gy .content-Thf .auto-group-jzlq-2w7 .frame-3909-B3K .frame-3908-12M .frame-3910-Z3s .frame-3904-Giy {
  margin: 0.3rem 38.7rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-9gy .content-Thf .auto-group-jzlq-2w7 .frame-3909-B3K .frame-3908-12M .frame-3910-Z3s .frame-3904-Giy .s-tin-1wT {
  margin-bottom: 3.55rem;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-9gy .content-Thf .auto-group-jzlq-2w7 .frame-3909-B3K .frame-3908-12M .frame-3910-Z3s .frame-3904-Giy .trng-thi-zoP {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-9gy .content-Thf .auto-group-jzlq-2w7 .frame-3909-B3K .frame-3908-12M .frame-3910-Z3s .frame-3906-7t1 {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-9gy .content-Thf .auto-group-jzlq-2w7 .frame-3909-B3K .frame-3908-12M .frame-3910-Z3s .frame-3906-7t1 .thng-gRK {
  margin-bottom: 3.5rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-9gy .content-Thf .auto-group-jzlq-2w7 .frame-3909-B3K .frame-3908-12M .frame-3910-Z3s .frame-3906-7t1 .cha-thanh-ton-1yP {
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-9gy .content-Thf .auto-group-jzlq-2w7 .frame-3909-B3K .frame-3908-12M .frame-3907-9ph {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-9gy .content-Thf .auto-group-jzlq-2w7 .frame-3909-B3K .frame-3908-12M .frame-3907-9ph .thng-tin-chi-tit-Wv9 {
  margin-bottom: 2.5rem;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-9gy .content-Thf .auto-group-jzlq-2w7 .frame-3909-B3K .frame-3908-12M .frame-3907-9ph .ph-thu-lao-cng-v-sinh-chung-cc--T4h {
  margin-left: 1rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-9gy .content-Thf .auto-group-jzlq-2w7 .button-kpV {
  width: 100%;
  height: 7rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-9gy .content-Thf .auto-group-jzlq-2w7 .button-kpV .frame-turn-back-button-iFX {
  margin: 0.3rem 61.9rem 0.3rem 0rem;
  box-sizing: border-box;
  padding: 1rem 0.8rem 1rem 2.433rem;
  height: calc(100% - 0.6rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #775652;
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-9gy .content-Thf .auto-group-jzlq-2w7 .button-kpV .frame-turn-back-button-iFX .corner-down-left-DTB {
  margin: 0rem 1.333rem 0rem 0rem;
  width: 1.3333rem;
  height: 1.3333rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-9gy .content-Thf .auto-group-jzlq-2w7 .button-kpV .frame-turn-back-button-iFX .quay-li-7oT {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #775652;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-9gy .content-Thf .auto-group-jzlq-2w7 .button-kpV .frame-3842-byX {
  box-sizing: border-box;
  padding: 1.2rem 1rem 1.4rem 1rem;
  width: 23.7rem;
  height: 100%;
  cursor: pointer;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #c9c9c9;
  background-color: #775652;
  border-radius: 2rem;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-9gy .frame-drawer-Tkq {
  width: 34.6rem;
  height: 102.4rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #9b1212;
}
.xem-thng-tin-ha-n-9gy .frame-drawer-Tkq .logo-CTX {
  width: 100%;
  height: 12.7rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-9gy .frame-drawer-Tkq .auto-group-qqzv-kjw {
  box-sizing: border-box;
  padding: 2.6rem 0rem 1rem 0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-9gy .frame-drawer-Tkq .auto-group-qqzv-kjw .navigate-Hjs {
  margin-bottom: 38.6rem;
  width: 34.5rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-9gy .frame-drawer-Tkq .auto-group-qqzv-kjw .navigate-Hjs .trang-ch--doj {
  box-sizing: border-box;
  padding: 2.55rem 5.6rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-9gy .frame-drawer-Tkq .auto-group-qqzv-kjw .navigate-Hjs .trang-ch--doj .icon-home-Aof {
  margin: 0rem 3.6rem 0rem 0rem;
  width: 4rem;
  height: 3.5505rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-9gy .frame-drawer-Tkq .auto-group-qqzv-kjw .navigate-Hjs .trang-ch--doj .trang-ch-V5F {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-9gy .frame-drawer-Tkq .auto-group-qqzv-kjw .navigate-Hjs .cn-h-Qi1 {
  box-sizing: border-box;
  padding: 2.55rem 8.6rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-9gy .frame-drawer-Tkq .auto-group-qqzv-kjw .navigate-Hjs .cn-h-Qi1 .icon-user-circle-alt-99o {
  margin: 0rem 6.6rem 0rem 0rem;
  width: 4rem;
  height: 4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-9gy .frame-drawer-Tkq .auto-group-qqzv-kjw .navigate-Hjs .cn-h-Qi1 .cn-h-TwB {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-9gy .frame-drawer-Tkq .auto-group-qqzv-kjw .navigate-Hjs .ha-n-niZ {
  box-sizing: border-box;
  padding: 2.55rem 7.5rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-9gy .frame-drawer-Tkq .auto-group-qqzv-kjw .navigate-Hjs .ha-n-niZ .icon-wallet-KTb {
  margin: 0rem 5.5rem 0rem 0rem;
  width: 4rem;
  height: 3.644rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-9gy .frame-drawer-Tkq .auto-group-qqzv-kjw .navigate-Hjs .ha-n-niZ .ha-n-qgq {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-9gy .frame-drawer-Tkq .auto-group-qqzv-kjw .navigate-Hjs .phn-nh-NAy {
  box-sizing: border-box;
  padding: 2.55rem 6.7rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-9gy .frame-drawer-Tkq .auto-group-qqzv-kjw .navigate-Hjs .phn-nh-NAy .icon-message-text-6sf {
  margin: 0rem 4.7rem 0rem 0rem;
  width: 4rem;
  height: 3.9757rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-9gy .frame-drawer-Tkq .auto-group-qqzv-kjw .navigate-Hjs .phn-nh-NAy .phn-nh-2FX {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-9gy .frame-drawer-Tkq .auto-group-qqzv-kjw .phn-nh-M2u {
  margin-right: 0.1rem;
  box-sizing: border-box;
  padding: 2.55rem 5.9rem 2.55rem 3.474rem;
  width: calc(100% - 0.1rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-9gy .frame-drawer-Tkq .auto-group-qqzv-kjw .phn-nh-M2u .power-4xu {
  margin: 0rem 4.376rem 0rem 0rem;
  width: 2.85rem;
  height: 3.0838rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-9gy .frame-drawer-Tkq .auto-group-qqzv-kjw .phn-nh-M2u .phn-nh-bxq {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
