
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.trang-ch-cng-dn-CH3 {
  width: 75%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #e8d6d4;
}
.trang-ch-cng-dn-CH3 .frame-drawer-8gV {
  width: 25.6rem;
  height: 75rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #9b1212;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-drawer-8gV .logo-5Lq {
  width: 100%;
  height: 10rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj {
  box-sizing: border-box;
  padding: 1rem 0rem 1rem 0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR {
  width: 25.5rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR .trang-ch--72d {
  box-sizing: border-box;
  padding: 2rem 2rem 2rem 2rem;
  width: 100%;
  display: flex;
  cursor: pointer;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}

.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR .trang-ch--72d:hover {
  border-left: 15px solid orange;
}

.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR .trang-ch--72d .icon-home-Sah {
  margin: 0rem 3.6rem 0rem 0rem;
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR .trang-ch--72d .trang-ch-xJ9 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR .cn-h-Fo3 {
  box-sizing: border-box;
  padding: 2rem 2rem 2rem 2rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
  border-left: 15px solid orange;
}

.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR .cn-h-Fo3:hover {
  border-left: 15px solid orange;
}

.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR .cn-h-Fo3 .icon-user-circle-alt-yyw {
  margin: 0rem 6.6rem 0rem 0rem;
  width: 4rem;
  height: 4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR .cn-h-Fo3 .cn-h-hf3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR .ha-n-RL9 {
  box-sizing: border-box;
  padding: 2rem 2rem 2rem 2rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}

.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR .ha-n-RL9:hover {
  border-left: 15px solid orange;
}

.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR .ha-n-RL9 .icon-wallet-xL5 {
  margin: 0rem 5.5rem 0rem 0rem;
  width: 4rem;
  height: 4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR .ha-n-RL9 .ha-n-UJR {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR .phn-nh-QC5 {
  box-sizing: border-box;
  padding: 2rem 2rem 2rem 2rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}

.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR .phn-nh-QC5:hover {
  border-left: 15px solid orange;
}

.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR .phn-nh-QC5 .icon-message-text-wSu {
  margin: 0rem 4.7rem 0rem 0rem;
  width: 4rem;
  height: 4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .navigate-xvR .phn-nh-QC5 .phn-nh-fdo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .phn-nh-oED {
  margin-right: 0.1rem;
  box-sizing: border-box;
  padding: 2.55rem 5.9rem 2.55rem 3.474rem;
  width: calc(100% - 0.1rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .phn-nh-oED .power-vJq {
  margin: 0rem 4.376rem 0rem 0rem;
  width: 2.85rem;
  height: 3.0838rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-drawer-8gV .auto-group-dcnh-EDj .phn-nh-oED .phn-nh-Sny {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw {
  box-sizing: border-box;
  padding-bottom: 2.2rem;
  width: 88.8rem;
  height: 75rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-header-rrh {
  margin-bottom: 1rem;
  box-sizing: border-box;
  padding: 1.4rem 1rem;
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 0.1rem #e8d6d4;
  background-color: #9b1212;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-header-rrh .trang-ch-Bty {
  margin: 0rem 10.4rem 4.1rem 0rem;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-header-rrh .group-user-info-upy {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-header-rrh .group-user-info-upy .auto-group-fzdf-fZF {
  margin: 2.1rem 1.2rem 1.5rem 0rem;
  height: calc(100% - 3.6rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-header-rrh .group-user-info-upy .auto-group-fzdf-fZF .name-and-first-name-bSu {
  margin-bottom: 0.4rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-header-rrh .group-user-info-upy .auto-group-fzdf-fZF .id-number-or-worker-number-K81 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-header-rrh .group-user-info-upy .user-avatar-qc9 {
  width: 8rem;
  height: 8rem;
  border: solid 0.1rem #e8d6d4;
  box-sizing: border-box;
  border-radius: 5rem;
  flex-shrink: 0;
  object-fit: cover;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-main-content-U9K {
  margin-bottom: 2.6rem;
  box-sizing: border-box;
  padding: 0 1.5rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-main-content-U9K .frame-3890-nvh {
  margin-bottom: 1rem;
  width: 100%;
  height: 14.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-main-content-U9K .frame-3890-nvh .frame-154-8jf {
  margin: 0.1rem 2rem 0.1rem 0rem;
  box-sizing: border-box;
  padding: 1.61rem 10.2rem 2.41rem 3rem;
  height: calc(100% - 0.2rem);
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #fddfa6;
  border-radius: 2rem;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-main-content-U9K .frame-3890-nvh .frame-154-8jf .icon-profile-circled-eCD {
  margin: 1.74rem 3rem 0.94rem 0rem;
  box-sizing: border-box;
  padding: 1.6rem 0.908rem 1.462rem 0.909rem;
  height: calc(100% - 2.6798rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vector-CDT.png');
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-main-content-U9K .frame-3890-nvh .frame-154-8jf .icon-profile-circled-eCD .vector-8NH {
  margin: 0rem 0rem 1.4rem 0rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-main-content-U9K .frame-3890-nvh .frame-154-8jf .icon-profile-circled-eCD .vector-TQZ {
  width: 6.1832rem;
  height: 1.1383rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-main-content-U9K .frame-3890-nvh .frame-154-8jf .frame-3985-PZ7 {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-main-content-U9K .frame-3890-nvh .frame-154-8jf .frame-3985-PZ7 .p1011-x6R {
  margin-bottom: 2.4798rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-main-content-U9K .frame-3890-nvh .frame-154-8jf .frame-3985-PZ7 .c-dn-mai-nguyn-ngc-huy-5wj {
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2;
  color: #3f3f3f;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-main-content-U9K .frame-3890-nvh .frame-139-BE5 {
  box-sizing: border-box;
  padding: 1.88rem 6.8rem 2.757rem 3rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #fddfa6;
  border-radius: 2rem;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-main-content-U9K .frame-3890-nvh .frame-139-BE5 .icon-group-7tR {
  margin: 0.877rem 3rem 0rem 0rem;
  width: 8rem;
  height: 6.1818rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-main-content-U9K .frame-3890-nvh .frame-139-BE5 .frame-3986-e7f {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-main-content-U9K .frame-3890-nvh .frame-139-BE5 .frame-3986-e7f .s-thnh-vin-Cey {
  margin-bottom: 1.8634rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2;
  color: #3f3f3f;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-main-content-U9K .frame-3890-nvh .frame-139-BE5 .frame-3986-e7f .thnh-vin-w6m {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-main-content-U9K .frame-3890-nvh .frame-139-BE5 .frame-3986-e7f .thnh-vin-w6m .thnh-vin-w6m-sub-0 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #000000;
  font-family: Nunito Sans, 'Source Sans Pro';
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-main-content-U9K .frame-3890-nvh .frame-139-BE5 .frame-3986-e7f .thnh-vin-w6m .thnh-vin-w6m-sub-1 {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #000000;
  font-family: Nunito Sans, 'Source Sans Pro';
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-main-content-U9K .frame-3965-nFo {
  width: 100%;
  height: 33.4rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-main-content-U9K .frame-3965-nFo .frame-m-t-ta-nh--8aZ {
  box-sizing: border-box;
  padding: 2.5rem 3.3rem 2.5rem 2.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #ffdad6;
  border-radius: 2rem;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-main-content-U9K .frame-3965-nFo .frame-m-t-ta-nh--8aZ .frame-building-image-Fv5 {
  margin-right: 3.4rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-main-content-U9K .frame-3965-nFo .frame-m-t-ta-nh--8aZ .frame-building-image-Fv5 .thng-tin-to-nh-Qny {
  margin-bottom: 1rem;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.2;
  color: #3f3f3f;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-main-content-U9K .frame-3965-nFo .frame-m-t-ta-nh--8aZ .frame-building-image-Fv5 .unsplash-5q1knujtjam-jqF {
  width: 32.8rem;
  height: 24rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.9rem;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-main-content-U9K .frame-3965-nFo .frame-m-t-ta-nh--8aZ .frame-building-description-rus {
  margin: 0.5rem 0rem 0.951rem 0rem;
  width: 64.4rem;
  height: calc(100% - 1.4507rem);
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-main-content-U9K .frame-3965-nFo .frame-m-t-ta-nh--8aZ .frame-building-description-rus .ta-vp-5-khu-th-linh-m-PQ1 {
  margin-bottom: 0.4493rem;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-main-content-U9K .frame-3965-nFo .frame-m-t-ta-nh--8aZ .frame-building-description-rus .frame-key-val-u7T {
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-main-content-U9K .frame-3965-nFo .frame-m-t-ta-nh--8aZ .frame-building-description-rus .frame-key-val-u7T .m-to-nh-doanh-nghip-thng-tin-lin-h-a-ch-4FF {
  margin-right: 0.9rem;
  max-width: 18.1rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .frame-main-content-U9K .frame-3965-nFo .frame-m-t-ta-nh--8aZ .frame-building-description-rus .frame-key-val-u7T .vp5-tng-cng-ty-u-t-pht-trin-hud-hudgrouphudcomvn-p-nguyn-duy-trinh-khu-th-linh-m-hong-mai-h-ni-vit-nam-MVF {
  max-width: 45.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .notice-kXP {
  margin: 0 3rem;
  width: calc(100% - 6rem);
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .notice-kXP .auto-group-vcr3-HnD {
  box-sizing: border-box;
  padding-bottom: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .notice-kXP .auto-group-vcr3-HnD .thng-bo-mi-kA1 {
  margin-bottom: 1.4rem;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.2;
  color: #3f3f3f;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .notice-kXP .auto-group-vcr3-HnD .frame-notifications-g3f {
  margin: 0 1.5rem;
  width: calc(100% - 3rem);
  row-gap: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .notice-kXP .auto-group-vcr3-HnD .frame-notifications-g3f .header-oty {
  box-sizing: border-box;
  padding: 1rem 12.483rem 1.9rem 11.783rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #808080;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .notice-kXP .auto-group-vcr3-HnD .frame-notifications-g3f .header-oty .c1-wEV {
  margin-right: 2.2167rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #2c1512;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .notice-kXP .auto-group-vcr3-HnD .frame-notifications-g3f .header-oty .c4-sdw {
  margin-right: 11.65rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #aeaeae;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .notice-kXP .auto-group-vcr3-HnD .frame-notifications-g3f .header-oty .c2-R9f {
  margin-right: 27.0667rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #2c1512;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .notice-kXP .auto-group-vcr3-HnD .frame-notifications-g3f .header-oty .c3-AN9 {
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #2c1512;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .notice-kXP .auto-group-vcr3-HnD .frame-notifications-g3f .header-tow {
  box-sizing: border-box;
  padding-right: 9.4167rem;
  width: 100%;
  height: 8.4rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.1rem #808080;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .notice-kXP .auto-group-vcr3-HnD .frame-notifications-g3f .header-tow .auto-group-gcpm-2fF {
  margin: 0rem 6.5rem 2rem 0rem;
  box-sizing: border-box;
  padding: 1.5rem 0;
  width: 38.2333rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .notice-kXP .auto-group-vcr3-HnD .frame-notifications-g3f .header-tow .c2-vkd {
  margin: 0rem 19.583rem 2rem 0rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .notice-kXP .auto-group-vcr3-HnD .frame-notifications-g3f .header-tow .c3-fCR {
  margin-bottom: 2rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .notice-kXP .auto-group-vcr3-HnD .frame-notifications-g3f .header-a4V {
  box-sizing: border-box;
  padding-right: 9.3167rem;
  width: 100%;
  height: 8.4rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.1rem #808080;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .notice-kXP .auto-group-vcr3-HnD .frame-notifications-g3f .header-a4V .auto-group-xgjr-iRb {
  margin: 0rem 6.3rem 2rem 0rem;
  box-sizing: border-box;
  padding: 1.5rem 0;
  width: 36.4333rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .notice-kXP .auto-group-vcr3-HnD .frame-notifications-g3f .header-a4V .c2-pUd {
  margin: 0rem 18.183rem 2rem 0rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .notice-kXP .auto-group-vcr3-HnD .frame-notifications-g3f .header-a4V .c3-Lxm {
  margin-bottom: 2rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .notice-kXP .item-02-eiZ {
  box-sizing: border-box;
  padding: 0 44.85rem;
  width: 100%;
  height: 3.1rem;
  background-color: #e8d6d4;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .notice-kXP .item-02-eiZ .frame-16-bNu {
  width: 100%;
  height: 100%;
  display: flex;
  column-gap: 1.2rem;
  align-items: center;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .notice-kXP .item-02-eiZ .frame-16-bNu .previous-LrH {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #9e9e9e;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .notice-kXP .item-02-eiZ .frame-16-bNu .frame-15-HFj {
  width: 3.1rem;
  height: 100%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9b1212;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.trang-ch-cng-dn-CH3 .frame-header-and-content-wDw .notice-kXP .item-02-eiZ .frame-16-bNu .next-yeM {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #9e9e9e;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
