
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 143rem;
}.cd-phn-nh-sn5 {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #e8d6d4;
}
.cd-phn-nh-sn5 .frame-drawer-Db3 {
  width: 34.6rem;
  height: 102.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #9b1212;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-drawer-Db3 .logo-m6m {
  width: 100%;
  height: 12.7rem;
  overflow: hidden;
  position: relative;
  border: solid 0.1rem #e8d6d4;
  box-sizing: border-box;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-drawer-Db3 .auto-group-l3jm-WKF {
  box-sizing: border-box;
  padding: 2.6rem 0rem 1rem 0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-drawer-Db3 .auto-group-l3jm-WKF .navigate-Sih {
  margin-bottom: 38.6rem;
  width: 34.5rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-drawer-Db3 .auto-group-l3jm-WKF .navigate-Sih .trang-ch--yid {
  box-sizing: border-box;
  padding: 2.55rem 5.6rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-drawer-Db3 .auto-group-l3jm-WKF .navigate-Sih .trang-ch--yid .icon-home-iRK {
  margin: 0rem 3.6rem 0rem 0rem;
  width: 4rem;
  height: 3.5505rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-drawer-Db3 .auto-group-l3jm-WKF .navigate-Sih .trang-ch--yid .trang-ch-S6R {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-drawer-Db3 .auto-group-l3jm-WKF .navigate-Sih .cn-h-8jw {
  box-sizing: border-box;
  padding: 2.55rem 8.6rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-drawer-Db3 .auto-group-l3jm-WKF .navigate-Sih .cn-h-8jw .icon-user-circle-alt-G5T {
  margin: 0rem 6.6rem 0rem 0rem;
  width: 4rem;
  height: 4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-drawer-Db3 .auto-group-l3jm-WKF .navigate-Sih .cn-h-8jw .cn-h-z1T {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-drawer-Db3 .auto-group-l3jm-WKF .navigate-Sih .ha-n-WEh {
  box-sizing: border-box;
  padding: 2.55rem 7.5rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-drawer-Db3 .auto-group-l3jm-WKF .navigate-Sih .ha-n-WEh .icon-wallet-3VX {
  margin: 0rem 5.5rem 0rem 0rem;
  width: 4rem;
  height: 3.644rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-drawer-Db3 .auto-group-l3jm-WKF .navigate-Sih .ha-n-WEh .ha-n-Mm7 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-drawer-Db3 .auto-group-l3jm-WKF .navigate-Sih .phn-nh-Uqj {
  box-sizing: border-box;
  padding: 2.55rem 6.7rem 2.55rem 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-drawer-Db3 .auto-group-l3jm-WKF .navigate-Sih .phn-nh-Uqj .icon-message-text-DYR {
  margin: 0rem 4.7rem 0rem 0rem;
  width: 4rem;
  height: 3.9757rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-drawer-Db3 .auto-group-l3jm-WKF .navigate-Sih .phn-nh-Uqj .phn-nh-wUR {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-drawer-Db3 .auto-group-l3jm-WKF .phn-nh-s7B {
  margin-right: 0.1rem;
  box-sizing: border-box;
  padding: 2.55rem 5.9rem 2.55rem 3.474rem;
  width: calc(100% - 0.1rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-drawer-Db3 .auto-group-l3jm-WKF .phn-nh-s7B .power-Bdf {
  margin: 0rem 4.376rem 0rem 0rem;
  width: 2.85rem;
  height: 3.0838rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-drawer-Db3 .auto-group-l3jm-WKF .phn-nh-s7B .phn-nh-71X {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-3879-PDw {
  width: 108.4rem;
  height: 102.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-3879-PDw .frame-header-Xb3 {
  box-sizing: border-box;
  padding: 1.45rem 1rem;
  width: 100%;
  height: 12.9rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #e8d6d4;
  background-color: #9b1212;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-3879-PDw .frame-header-Xb3 .phn-nh-fhF {
  margin: 0.1rem 40.4rem 0rem 0rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-3879-PDw .frame-header-Xb3 .group-user-info-nWy {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-3879-PDw .frame-header-Xb3 .group-user-info-nWy .auto-group-g6hs-wem {
  margin: 2.1rem 1.2rem 1.5rem 0rem;
  height: calc(100% - 3.6rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-3879-PDw .frame-header-Xb3 .group-user-info-nWy .auto-group-g6hs-wem .name-and-first-name-sHX {
  margin-bottom: 0.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-3879-PDw .frame-header-Xb3 .group-user-info-nWy .auto-group-g6hs-wem .id-number-or-worker-number-yrM {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-3879-PDw .frame-header-Xb3 .group-user-info-nWy .user-avatar-7Sm {
  width: 10rem;
  height: 10rem;
  border: solid 0.1rem #e8d6d4;
  box-sizing: border-box;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/user-avatar-bg-vp5.png');
  border-radius: 5rem;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-3879-PDw .auto-group-mwvx-Pv5 {
  box-sizing: border-box;
  padding: 3.5rem 0.692rem 1.5rem 1.5rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-3879-PDw .auto-group-mwvx-Pv5 .auto-group-wen9-L4d {
  margin: 0rem 0rem 43.6rem 1.5rem;
  width: 104.708rem;
  height: 34.5rem;
  position: relative;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-3879-PDw .auto-group-mwvx-Pv5 .auto-group-wen9-L4d .frame-3952-s4Z {
  width: 104.708rem;
  height: 10rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: flex-start;
}
.cd-phn-nh-sn5 .frame-3879-PDw .auto-group-mwvx-Pv5 .auto-group-wen9-L4d .frame-3952-s4Z .frame-search-Ccd {
  margin-right: 2rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-3879-PDw .auto-group-mwvx-Pv5 .auto-group-wen9-L4d .frame-3952-s4Z .frame-search-Ccd .thi-gian-MkR {
  margin-right: 2rem;
  width: 35.0687rem;
  height: 100%;
  background-color: #ffffff;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-3879-PDw .auto-group-mwvx-Pv5 .auto-group-wen9-L4d .frame-3952-s4Z .frame-search-Ccd .thi-gian-MkR .auto-group-y8cd-hpH {
  width: 100%;
  height: 4.4rem;
  position: relative;
}
.cd-phn-nh-sn5 .frame-3879-PDw .auto-group-mwvx-Pv5 .auto-group-wen9-L4d .frame-3952-s4Z .frame-search-Ccd .thi-gian-MkR .auto-group-y8cd-hpH .label-text-rx5 {
  width: 9.1rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #040f0f;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.cd-phn-nh-sn5 .frame-3879-PDw .auto-group-mwvx-Pv5 .auto-group-wen9-L4d .frame-3952-s4Z .frame-search-Ccd .thi-gian-MkR .auto-group-y8cd-hpH .input-field-n53 {
  box-sizing: border-box;
  padding: 1.2rem 1.8rem 1.2rem 1.2rem;
  width: 35.0687rem;
  height: 4.4rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  border: solid 0.2rem #000000;
  border-radius: 0.8rem;
}
.cd-phn-nh-sn5 .frame-3879-PDw .auto-group-mwvx-Pv5 .auto-group-wen9-L4d .frame-3952-s4Z .frame-search-Ccd .thi-gian-MkR .auto-group-y8cd-hpH .input-field-n53 .lead-icon-text-J3P {
  margin-right: 4.2687rem;
  box-sizing: border-box;
  padding-left: 0.1875rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-3879-PDw .auto-group-mwvx-Pv5 .auto-group-wen9-L4d .frame-3952-s4Z .frame-search-Ccd .thi-gian-MkR .auto-group-y8cd-hpH .input-field-n53 .lead-icon-text-J3P .icon-outline-layer-S9b {
  margin-right: 1.3875rem;
  width: 1.625rem;
  height: 1.625rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-3879-PDw .auto-group-mwvx-Pv5 .auto-group-wen9-L4d .frame-3952-s4Z .frame-search-Ccd .thi-gian-MkR .auto-group-y8cd-hpH .input-field-n53 .lead-icon-text-J3P .insert-text-here-ArH {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 0.8333333333;
  color: #040f0f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-3879-PDw .auto-group-mwvx-Pv5 .auto-group-wen9-L4d .frame-3952-s4Z .frame-search-Ccd .thi-gian-MkR .auto-group-y8cd-hpH .input-field-n53 .icon-fill-caret-small-down-gpd {
  width: 0.8rem;
  height: 0.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-3879-PDw .auto-group-mwvx-Pv5 .auto-group-wen9-L4d .frame-3952-s4Z .frame-search-Ccd .tiu--C2H {
  width: 61.2393rem;
  height: 100%;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-3879-PDw .auto-group-mwvx-Pv5 .auto-group-wen9-L4d .frame-3952-s4Z .frame-search-Ccd .tiu--C2H .auto-group-wyrt-Ybw {
  width: 100%;
  height: 4.4rem;
  position: relative;
}
.cd-phn-nh-sn5 .frame-3879-PDw .auto-group-mwvx-Pv5 .auto-group-wen9-L4d .frame-3952-s4Z .frame-search-Ccd .tiu--C2H .auto-group-wyrt-Ybw .label-text-uBb {
  width: 8rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #040f0f;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.cd-phn-nh-sn5 .frame-3879-PDw .auto-group-mwvx-Pv5 .auto-group-wen9-L4d .frame-3952-s4Z .frame-search-Ccd .tiu--C2H .auto-group-wyrt-Ybw .input-field-2GD {
  box-sizing: border-box;
  padding: 1.2rem 1.8rem 1.2rem 1.2rem;
  width: 61.2393rem;
  height: 4.4rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  border: solid 0.2rem #000000;
  background-color: #ffffff;
  border-radius: 0.8rem;
}
.cd-phn-nh-sn5 .frame-3879-PDw .auto-group-mwvx-Pv5 .auto-group-wen9-L4d .frame-3952-s4Z .frame-search-Ccd .tiu--C2H .auto-group-wyrt-Ybw .input-field-2GD .lead-icon-text-YVT {
  margin-right: 42.7394rem;
  box-sizing: border-box;
  padding-left: 0.1875rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-3879-PDw .auto-group-mwvx-Pv5 .auto-group-wen9-L4d .frame-3952-s4Z .frame-search-Ccd .tiu--C2H .auto-group-wyrt-Ybw .input-field-2GD .lead-icon-text-YVT .icon-outline-layer-61B {
  margin-right: 1.3875rem;
  width: 1.625rem;
  height: 1.625rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-3879-PDw .auto-group-mwvx-Pv5 .auto-group-wen9-L4d .frame-3952-s4Z .frame-search-Ccd .tiu--C2H .auto-group-wyrt-Ybw .input-field-2GD .lead-icon-text-YVT .insert-text-here-E7P {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 0.8333333333;
  color: #040f0f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-3879-PDw .auto-group-mwvx-Pv5 .auto-group-wen9-L4d .frame-3952-s4Z .frame-search-Ccd .tiu--C2H .auto-group-wyrt-Ybw .input-field-2GD .icon-fill-caret-small-down-xp5 {
  width: 0.8rem;
  height: 0.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-3879-PDw .auto-group-mwvx-Pv5 .auto-group-wen9-L4d .frame-3952-s4Z .frame-3963-Gpm {
  width: 4.4rem;
  height: 4.4rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-3879-PDw .auto-group-mwvx-Pv5 .auto-group-wen9-L4d .frame-3839-cNq {
  width: 102.4rem;
  height: 25.1rem;
  position: absolute;
  left: 0;
  top: 9.4rem;
  row-gap: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.cd-phn-nh-sn5 .frame-3879-PDw .auto-group-mwvx-Pv5 .auto-group-wen9-L4d .frame-3839-cNq .header-vuK {
  box-sizing: border-box;
  padding: 1rem 8.267rem 0.9rem 1.65rem;
  width: 100%;
  height: 6.3rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #808080;
  background-color: #904a43;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-3879-PDw .auto-group-mwvx-Pv5 .auto-group-wen9-L4d .frame-3839-cNq .header-vuK .auto-group-xkkj-4Eq {
  margin-right: 26.5333rem;
  width: 18.5667rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-3879-PDw .auto-group-mwvx-Pv5 .auto-group-wen9-L4d .frame-3839-cNq .header-vuK .auto-group-xkkj-4Eq .c1-z8V {
  width: 17.6rem;
  height: 4.4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #aeaeae;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.cd-phn-nh-sn5 .frame-3879-PDw .auto-group-mwvx-Pv5 .auto-group-wen9-L4d .frame-3839-cNq .header-vuK .auto-group-xkkj-4Eq .c2-Vqw {
  width: 6.3rem;
  height: 4.4rem;
  position: absolute;
  left: 12.2667rem;
  top: 0;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.cd-phn-nh-sn5 .frame-3879-PDw .auto-group-mwvx-Pv5 .auto-group-wen9-L4d .frame-3839-cNq .header-vuK .c3-bty {
  margin-right: 20.0834rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-3879-PDw .auto-group-mwvx-Pv5 .auto-group-wen9-L4d .frame-3839-cNq .header-vuK .c4-9Qh {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-3879-PDw .auto-group-mwvx-Pv5 .auto-group-wen9-L4d .frame-3839-cNq .header-qoK {
  box-sizing: border-box;
  padding: 0.5rem 0.2rem 0.5rem 1.65rem;
  width: 100%;
  height: 8.4rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.1rem #808080;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-3879-PDw .auto-group-mwvx-Pv5 .auto-group-wen9-L4d .frame-3839-cNq .header-qoK .auto-group-gzrs-Mmf {
  margin: 0rem 15.35rem 1.5rem 0rem;
  width: 24.6rem;
  height: 4.9rem;
  position: relative;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-3879-PDw .auto-group-mwvx-Pv5 .auto-group-wen9-L4d .frame-3839-cNq .header-qoK .auto-group-gzrs-Mmf .c1-tWh {
  width: 24.6rem;
  height: 4.4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.cd-phn-nh-sn5 .frame-3879-PDw .auto-group-mwvx-Pv5 .auto-group-wen9-L4d .frame-3839-cNq .header-qoK .auto-group-gzrs-Mmf .c2-1rD {
  width: 15.9rem;
  height: 4.4rem;
  position: absolute;
  left: 7.65rem;
  top: 0.5rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.cd-phn-nh-sn5 .frame-3879-PDw .auto-group-mwvx-Pv5 .auto-group-wen9-L4d .frame-3839-cNq .header-qoK .c3-vTP {
  margin: 0rem 7.4rem 1rem 0rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-3879-PDw .auto-group-mwvx-Pv5 .auto-group-wen9-L4d .frame-3839-cNq .header-qoK .frame-3838-FkZ {
  margin-bottom: 1rem;
  width: 34rem;
  height: 6.4rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #c9c9c9;
  box-sizing: border-box;
  background-color: #ffac5a;
  border-radius: 2rem;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-3879-PDw .auto-group-mwvx-Pv5 .auto-group-wen9-L4d .frame-3839-cNq .header-WgV {
  box-sizing: border-box;
  padding: 0.5rem 0.2rem 0.5rem 1.65rem;
  width: 100%;
  height: 8.4rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.1rem #808080;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-3879-PDw .auto-group-mwvx-Pv5 .auto-group-wen9-L4d .frame-3839-cNq .header-WgV .auto-group-jtkt-eGu {
  margin: 0rem 16.4rem 1.5rem 0rem;
  width: 24.6rem;
  height: 4.9rem;
  position: relative;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-3879-PDw .auto-group-mwvx-Pv5 .auto-group-wen9-L4d .frame-3839-cNq .header-WgV .auto-group-jtkt-eGu .c1-msK {
  width: 24.6rem;
  height: 4.4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.cd-phn-nh-sn5 .frame-3879-PDw .auto-group-mwvx-Pv5 .auto-group-wen9-L4d .frame-3839-cNq .header-WgV .auto-group-jtkt-eGu .c2-W4D {
  width: 13.6rem;
  height: 4.4rem;
  position: absolute;
  left: 9rem;
  top: 0.5rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.cd-phn-nh-sn5 .frame-3879-PDw .auto-group-mwvx-Pv5 .auto-group-wen9-L4d .frame-3839-cNq .header-WgV .c3-22Z {
  margin: 0rem 8.45rem 1rem 0rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-3879-PDw .auto-group-mwvx-Pv5 .auto-group-wen9-L4d .frame-3839-cNq .header-WgV .frame-3838-kjF {
  margin-bottom: 1rem;
  width: 34rem;
  height: 6.4rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #c9c9c9;
  box-sizing: border-box;
  background-color: #bfd3c1;
  border-radius: 2rem;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-3879-PDw .auto-group-mwvx-Pv5 .button-QYu {
  margin-right: 0.908rem;
  width: calc(100% - 0.908rem);
  height: 6.4rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-3879-PDw .auto-group-mwvx-Pv5 .button-QYu .frame-turn-back-button-LhT {
  margin-right: 59.95rem;
  box-sizing: border-box;
  padding: 1rem 0.8rem 1rem 2.433rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #775652;
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-3879-PDw .auto-group-mwvx-Pv5 .button-QYu .frame-turn-back-button-LhT .corner-down-left-fUq {
  margin: 0rem 1.333rem 0rem 0rem;
  width: 1.3333rem;
  height: 1.3333rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-3879-PDw .auto-group-mwvx-Pv5 .button-QYu .frame-turn-back-button-LhT .quay-li-npM {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #775652;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-phn-nh-sn5 .frame-3879-PDw .auto-group-mwvx-Pv5 .button-QYu .frame-3852-Vyf {
  width: 25.65rem;
  height: 100%;
  cursor: pointer;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #775652;
  box-sizing: border-box;
  background-color: #775652;
  border-radius: 2rem;
  flex-shrink: 0;
}
