
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.ql-thm-dn-c-gvh {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #e8d6d4;
}
.ql-thm-dn-c-gvh .frame-drawer-RNV {
  width: 34.6rem;
  height: 102.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #9b1212;
  flex-shrink: 0;
}
.ql-thm-dn-c-gvh .frame-drawer-RNV .logo-kff {
  width: 100%;
  height: 12.7rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.ql-thm-dn-c-gvh .frame-drawer-RNV .auto-group-yrch-7FK {
  box-sizing: border-box;
  padding: 2.6rem 0rem 1rem 0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ql-thm-dn-c-gvh .frame-drawer-RNV .auto-group-yrch-7FK .navigate-3Ps {
  margin-bottom: 38.6rem;
  width: 34.5rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ql-thm-dn-c-gvh .frame-drawer-RNV .auto-group-yrch-7FK .navigate-3Ps .trang-ch--n6Z {
  box-sizing: border-box;
  padding: 2.55rem 5.6rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}
.ql-thm-dn-c-gvh .frame-drawer-RNV .auto-group-yrch-7FK .navigate-3Ps .trang-ch--n6Z .icon-home-iF7 {
  margin: 0rem 3.6rem 0rem 0rem;
  width: 4rem;
  height: 3.5505rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.ql-thm-dn-c-gvh .frame-drawer-RNV .auto-group-yrch-7FK .navigate-3Ps .trang-ch--n6Z .trang-ch-SS1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-thm-dn-c-gvh .frame-drawer-RNV .auto-group-yrch-7FK .navigate-3Ps .cn-h-YE9 {
  box-sizing: border-box;
  padding: 2.55rem 8.6rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}
.ql-thm-dn-c-gvh .frame-drawer-RNV .auto-group-yrch-7FK .navigate-3Ps .cn-h-YE9 .icon-user-circle-alt-5E5 {
  margin: 0rem 6.6rem 0rem 0rem;
  width: 4rem;
  height: 4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.ql-thm-dn-c-gvh .frame-drawer-RNV .auto-group-yrch-7FK .navigate-3Ps .cn-h-YE9 .cn-h-nuB {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-thm-dn-c-gvh .frame-drawer-RNV .auto-group-yrch-7FK .navigate-3Ps .ha-n-7Am {
  box-sizing: border-box;
  padding: 2.55rem 7.5rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}
.ql-thm-dn-c-gvh .frame-drawer-RNV .auto-group-yrch-7FK .navigate-3Ps .ha-n-7Am .icon-wallet-duo {
  margin: 0rem 5.5rem 0rem 0rem;
  width: 4rem;
  height: 3.644rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.ql-thm-dn-c-gvh .frame-drawer-RNV .auto-group-yrch-7FK .navigate-3Ps .ha-n-7Am .ha-n-wvV {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-thm-dn-c-gvh .frame-drawer-RNV .auto-group-yrch-7FK .navigate-3Ps .phn-nh-s3T {
  box-sizing: border-box;
  padding: 2.55rem 6.7rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}
.ql-thm-dn-c-gvh .frame-drawer-RNV .auto-group-yrch-7FK .navigate-3Ps .phn-nh-s3T .icon-message-text-bk9 {
  margin: 0rem 4.7rem 0rem 0rem;
  width: 4rem;
  height: 3.9757rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.ql-thm-dn-c-gvh .frame-drawer-RNV .auto-group-yrch-7FK .navigate-3Ps .phn-nh-s3T .phn-nh-KRF {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-thm-dn-c-gvh .frame-drawer-RNV .auto-group-yrch-7FK .phn-nh-qeV {
  margin-right: 0.1rem;
  box-sizing: border-box;
  padding: 2.55rem 5.9rem 2.55rem 3.474rem;
  width: calc(100% - 0.1rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}
.ql-thm-dn-c-gvh .frame-drawer-RNV .auto-group-yrch-7FK .phn-nh-qeV .power-xj7 {
  margin: 0rem 4.376rem 0rem 0rem;
  width: 2.85rem;
  height: 3.0838rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.ql-thm-dn-c-gvh .frame-drawer-RNV .auto-group-yrch-7FK .phn-nh-qeV .phn-nh-hAu {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB {
  width: 109.4rem;
  height: 102.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .frame-header-LUm {
  margin: 0 0.3rem;
  box-sizing: border-box;
  padding: 1.4rem 1.6rem 1.4rem 1.1rem;
  width: calc(100% - 0.6rem);
  height: 12.8rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #e8d6d4;
  background-color: #9b1212;
  flex-shrink: 0;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .frame-header-LUm .thng-tin-c-dn-rCD {
  margin: 0rem 20.2rem 4.1rem 0rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .frame-header-LUm .group-user-info-ZsK {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .frame-header-LUm .group-user-info-ZsK .auto-group-uzbx-jG1 {
  margin: 1.9rem 3.2rem 1.6rem 0rem;
  height: calc(100% - 3.5rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .frame-header-LUm .group-user-info-ZsK .auto-group-uzbx-jG1 .name-and-first-name-4ZB {
  margin-bottom: 0.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .frame-header-LUm .group-user-info-ZsK .auto-group-uzbx-jG1 .id-number-or-worker-number-yw3 {
  margin-right: 0.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .frame-header-LUm .group-user-info-ZsK .user-avatar-7XT {
  width: 10rem;
  height: 10rem;
  border: solid 0.1rem #e8d6d4;
  box-sizing: border-box;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/user-avatar-bg-Rfj.png');
  border-radius: 5rem;
  flex-shrink: 0;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB {
  box-sizing: border-box;
  padding: 1.5rem 2.05rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .form-KdX {
  margin: 0rem 0.95rem 10.4rem 1.95rem;
  width: calc(100% - 2.9rem);
  height: 69.8rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .form-KdX .frame-types-of-infos-3pR {
  width: 46.9rem;
  height: 65.2rem;
  position: absolute;
  left: 0;
  top: 0;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .form-KdX .frame-types-of-infos-3pR .auto-group-xbwu-b5F {
  box-sizing: border-box;
  padding-bottom: 2rem;
  width: 100%;
  row-gap: 2rem;
  display: flex;
  flex-direction: column;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .form-KdX .frame-types-of-infos-3pR .auto-group-xbwu-b5F .frame-3849-Kmw {
  box-sizing: border-box;
  padding: 1rem 0;
  width: 30.9rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .form-KdX .frame-types-of-infos-3pR .auto-group-xbwu-b5F .frame-3850-qVP {
  box-sizing: border-box;
  padding: 1rem 0;
  width: 21.5rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .form-KdX .frame-types-of-infos-3pR .auto-group-xbwu-b5F .frame-3845-ksF {
  width: 16.3rem;
  height: 6.4rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .form-KdX .frame-types-of-infos-3pR .auto-group-xbwu-b5F .frame-3846-Gah {
  box-sizing: border-box;
  padding: 1rem 0;
  width: 31.4rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .form-KdX .frame-types-of-infos-3pR .auto-group-xbwu-b5F .frame-3851-zmb {
  box-sizing: border-box;
  padding: 1rem 0;
  width: 24.8rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .form-KdX .frame-types-of-infos-3pR .auto-group-xbwu-b5F .frame-3845-877 {
  box-sizing: border-box;
  padding: 1rem 0;
  width: 27.7rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .form-KdX .frame-types-of-infos-3pR .frame-3852-FBj {
  margin-bottom: 2rem;
  box-sizing: border-box;
  padding: 1rem 0;
  width: 100%;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .form-KdX .frame-types-of-infos-3pR .frame-3845-Zy7 {
  width: 34.2rem;
  height: 6.4rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .form-KdX .frame-info-V65 {
  width: 64.7rem;
  height: 69.8rem;
  position: absolute;
  left: 37.7rem;
  top: 0;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .form-KdX .frame-info-V65 .thi-gian-Dnm {
  width: 64.7rem;
  height: 10rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .form-KdX .frame-info-V65 .thi-gian-Dnm .auto-group-6xi1-Mty {
  width: 100%;
  height: 4.4rem;
  position: relative;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .form-KdX .frame-info-V65 .thi-gian-Dnm .auto-group-6xi1-Mty .label-text-Wms {
  width: 9.1rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #040f0f;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .form-KdX .frame-info-V65 .thi-gian-Dnm .auto-group-6xi1-Mty .input-field-drV {
  width: 64.7rem;
  height: 4.4rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.2rem #000000;
  box-sizing: border-box;
  border-radius: 0.8rem;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .form-KdX .frame-info-V65 .thi-gian-x85 {
  width: 36rem;
  height: 10rem;
  position: absolute;
  left: 0;
  top: 8.5429rem;
  background-color: #ffffff;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .form-KdX .frame-info-V65 .thi-gian-x85 .auto-group-zazb-u3K {
  width: 100%;
  height: 4.4rem;
  position: relative;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .form-KdX .frame-info-V65 .thi-gian-x85 .auto-group-zazb-u3K .label-text-emb {
  width: 9.1rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #040f0f;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .form-KdX .frame-info-V65 .thi-gian-x85 .auto-group-zazb-u3K .input-field-Azq {
  box-sizing: border-box;
  padding: 2rem 1.8rem 2rem 33.4rem;
  width: 36rem;
  height: 4.4rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.2rem #000000;
  border-radius: 0.8rem;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .form-KdX .frame-info-V65 .thi-gian-x85 .auto-group-zazb-u3K .input-field-Azq .icon-fill-caret-small-down-tvq {
  width: 0.8rem;
  height: 0.4rem;
  object-fit: contain;
  vertical-align: top;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .form-KdX .frame-info-V65 .thi-gian-QPP {
  width: 30.8rem;
  height: 10rem;
  position: absolute;
  left: 0;
  top: 17.0857rem;
  background-color: #ffffff;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .form-KdX .frame-info-V65 .thi-gian-QPP .auto-group-eywd-YkV {
  width: 100%;
  height: 4.4rem;
  position: relative;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .form-KdX .frame-info-V65 .thi-gian-QPP .auto-group-eywd-YkV .label-text-HCH {
  width: 9.1rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #040f0f;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .form-KdX .frame-info-V65 .thi-gian-QPP .auto-group-eywd-YkV .input-field-uzM {
  box-sizing: border-box;
  padding: 1.2rem;
  width: 30.8rem;
  height: 4.4rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.2rem #000000;
  border-radius: 0.8rem;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .form-KdX .frame-info-V65 .thi-gian-QPP .auto-group-eywd-YkV .input-field-uzM .lead-icon-text-eS9 {
  margin-right: 20.5rem;
  width: 7.9rem;
  height: 100%;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 0.5555555556;
  color: #040f0f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .form-KdX .frame-info-V65 .thi-gian-74q {
  width: 64.7rem;
  height: 10rem;
  position: absolute;
  left: 0;
  top: 25.6286rem;
  background-color: #ffffff;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .form-KdX .frame-info-V65 .thi-gian-74q .auto-group-u1cr-eaZ {
  width: 100%;
  height: 4.3rem;
  position: relative;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .form-KdX .frame-info-V65 .thi-gian-74q .auto-group-u1cr-eaZ .label-text-c1b {
  width: 9.1rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #040f0f;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .form-KdX .frame-info-V65 .thi-gian-74q .auto-group-u1cr-eaZ .input-field-8Eq {
  width: 64.7rem;
  height: 4.3rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.2rem #000000;
  box-sizing: border-box;
  border-radius: 0.8rem;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .form-KdX .frame-info-V65 .thi-gian-eiy {
  width: 64.7rem;
  height: 10rem;
  position: absolute;
  left: 0;
  top: 34.1714rem;
  background-color: #ffffff;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .form-KdX .frame-info-V65 .thi-gian-eiy .auto-group-mpqm-PwT {
  width: 100%;
  height: 4.3rem;
  position: relative;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .form-KdX .frame-info-V65 .thi-gian-eiy .auto-group-mpqm-PwT .label-text-xUm {
  width: 9.1rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #040f0f;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .form-KdX .frame-info-V65 .thi-gian-eiy .auto-group-mpqm-PwT .input-field-HX3 {
  width: 64.7rem;
  height: 4.3rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.2rem #000000;
  box-sizing: border-box;
  border-radius: 0.8rem;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .form-KdX .frame-info-V65 .thi-gian-Ctu {
  width: 64.7rem;
  height: 10rem;
  position: absolute;
  left: 0;
  top: 42.7143rem;
  background-color: #ffffff;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .form-KdX .frame-info-V65 .thi-gian-Ctu .auto-group-crvm-kfX {
  width: 100%;
  height: 4.4rem;
  position: relative;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .form-KdX .frame-info-V65 .thi-gian-Ctu .auto-group-crvm-kfX .label-text-7FB {
  width: 9.1rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #040f0f;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .form-KdX .frame-info-V65 .thi-gian-Ctu .auto-group-crvm-kfX .input-field-djK {
  width: 64.7rem;
  height: 4.4rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.2rem #000000;
  box-sizing: border-box;
  border-radius: 0.8rem;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .form-KdX .frame-info-V65 .thi-gian-kow {
  width: 64.7rem;
  height: 10rem;
  position: absolute;
  left: 0;
  top: 51.2572rem;
  background-color: #ffffff;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .form-KdX .frame-info-V65 .thi-gian-kow .auto-group-jeso-hjB {
  width: 100%;
  height: 4.4rem;
  position: relative;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .form-KdX .frame-info-V65 .thi-gian-kow .auto-group-jeso-hjB .label-text-4Jq {
  width: 9.1rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #040f0f;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .form-KdX .frame-info-V65 .thi-gian-kow .auto-group-jeso-hjB .input-field-PM7 {
  width: 64.7rem;
  height: 4.4rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.2rem #000000;
  box-sizing: border-box;
  border-radius: 0.8rem;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .form-KdX .frame-info-V65 .thi-gian-uqF {
  width: 36rem;
  height: 10rem;
  position: absolute;
  left: 0;
  top: 59.8rem;
  background-color: #ffffff;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .form-KdX .frame-info-V65 .thi-gian-uqF .auto-group-c469-rkV {
  width: 100%;
  height: 4.4rem;
  position: relative;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .form-KdX .frame-info-V65 .thi-gian-uqF .auto-group-c469-rkV .label-text-1tH {
  width: 9.1rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #040f0f;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .form-KdX .frame-info-V65 .thi-gian-uqF .auto-group-c469-rkV .input-field-Lff {
  box-sizing: border-box;
  padding: 2rem 1.8rem 2rem 33.4rem;
  width: 36rem;
  height: 4.4rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.2rem #000000;
  border-radius: 0.8rem;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .form-KdX .frame-info-V65 .thi-gian-uqF .auto-group-c469-rkV .input-field-Lff .icon-fill-caret-small-down-4rZ {
  width: 0.8rem;
  height: 0.4rem;
  object-fit: contain;
  vertical-align: top;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .button-mW5 {
  width: 100%;
  height: 6.4rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .button-mW5 .frame-turn-back-button-XEM {
  margin-right: 59.95rem;
  box-sizing: border-box;
  padding: 1rem 0.8rem 1rem 2.433rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #775652;
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .button-mW5 .frame-turn-back-button-XEM .corner-down-left-eJy {
  margin: 0rem 1.333rem 0rem 0rem;
  width: 1.3333rem;
  height: 1.3333rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .button-mW5 .frame-turn-back-button-XEM .quay-li-AHK {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #775652;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-thm-dn-c-gvh .frame-header-and-content-bXB .content-NyB .button-mW5 .frame-3852-rvq {
  width: 25.65rem;
  height: 100%;
  cursor: pointer;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #775652;
  box-sizing: border-box;
  background-color: #775652;
  border-radius: 2rem;
  flex-shrink: 0;
}
