
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.trang-ch-qun-l-xcV {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #e8d6d4;
}
.trang-ch-qun-l-xcV .frame-drawer-JAZ {
  width: 34.6rem;
  height: 102.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #9b1212;
  box-sizing: border-box;
  background-color: #9b1212;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-drawer-JAZ .logo-did {
  width: 100%;
  height: 12.7rem;
  overflow: hidden;
  position: relative;
  border: solid 0.1rem #9b1212;
  box-sizing: border-box;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-drawer-JAZ .auto-group-fv3t-yXb {
  box-sizing: border-box;
  padding: 2.6rem 0rem 1rem 0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-drawer-JAZ .auto-group-fv3t-yXb .navigate-uRF {
  margin-bottom: 38.6rem;
  width: 34.5rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-drawer-JAZ .auto-group-fv3t-yXb .navigate-uRF .trang-ch--Svy {
  box-sizing: border-box;
  padding: 2.55rem 5.6rem 2.55rem 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-drawer-JAZ .auto-group-fv3t-yXb .navigate-uRF .trang-ch--Svy .icon-home-myF {
  margin: 0rem 3.6rem 0rem 0rem;
  width: 4rem;
  height: 3.5505rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-drawer-JAZ .auto-group-fv3t-yXb .navigate-uRF .trang-ch--Svy .trang-ch-71X {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-drawer-JAZ .auto-group-fv3t-yXb .navigate-uRF .cn-h-pAq {
  box-sizing: border-box;
  padding: 2.55rem 8.6rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-drawer-JAZ .auto-group-fv3t-yXb .navigate-uRF .cn-h-pAq .icon-user-circle-alt-YMj {
  margin: 0rem 6.6rem 0rem 0rem;
  width: 4rem;
  height: 4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-drawer-JAZ .auto-group-fv3t-yXb .navigate-uRF .cn-h-pAq .cn-h-GHj {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-drawer-JAZ .auto-group-fv3t-yXb .navigate-uRF .ha-n-zDj {
  box-sizing: border-box;
  padding: 2.55rem 7.5rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-drawer-JAZ .auto-group-fv3t-yXb .navigate-uRF .ha-n-zDj .icon-wallet-XUZ {
  margin: 0rem 5.5rem 0rem 0rem;
  width: 4rem;
  height: 3.644rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-drawer-JAZ .auto-group-fv3t-yXb .navigate-uRF .ha-n-zDj .ha-n-eJH {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-drawer-JAZ .auto-group-fv3t-yXb .navigate-uRF .phn-nh-mNu {
  box-sizing: border-box;
  padding: 2.55rem 6.7rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-drawer-JAZ .auto-group-fv3t-yXb .navigate-uRF .phn-nh-mNu .icon-message-text-6RB {
  margin: 0rem 4.7rem 0rem 0rem;
  width: 4rem;
  height: 3.9757rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-drawer-JAZ .auto-group-fv3t-yXb .navigate-uRF .phn-nh-mNu .phn-nh-DEu {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-drawer-JAZ .auto-group-fv3t-yXb .phn-nh-jj3 {
  margin-right: 0.1rem;
  box-sizing: border-box;
  padding: 2.55rem 5.9rem 2.55rem 3.474rem;
  width: calc(100% - 0.1rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-drawer-JAZ .auto-group-fv3t-yXb .phn-nh-jj3 .power-Tf3 {
  margin: 0rem 4.376rem 0rem 0rem;
  width: 2.85rem;
  height: 3.0838rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-drawer-JAZ .auto-group-fv3t-yXb .phn-nh-jj3 .phn-nh-z9B {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB {
  box-sizing: border-box;
  padding-bottom: 2.2rem;
  width: 109.4rem;
  height: 102.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .frame-header-DXj {
  margin-bottom: 1rem;
  box-sizing: border-box;
  padding: 1.4rem 1rem;
  width: 100%;
  height: 12.8rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #9b1212;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .frame-header-DXj .trang-ch-xER {
  margin: 0rem 37.4rem 4.1rem 0rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .frame-header-DXj .group-user-info-549 {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .frame-header-DXj .group-user-info-549 .auto-group-pfem-q3K {
  margin: 2.1rem 1.2rem 1.5rem 0rem;
  height: calc(100% - 3.6rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .frame-header-DXj .group-user-info-549 .auto-group-pfem-q3K .name-and-first-name-MnM {
  margin-bottom: 0.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .frame-header-DXj .group-user-info-549 .auto-group-pfem-q3K .id-number-or-worker-number-HAD {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .frame-header-DXj .group-user-info-549 .user-avatar-oeM {
  width: 10rem;
  height: 10rem;
  border: solid 0.1rem #e8d6d4;
  box-sizing: border-box;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/user-avatar-bg-g37.png');
  border-radius: 5rem;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .frame-main-content-HpR {
  margin-bottom: 2.5rem;
  box-sizing: border-box;
  padding: 0 1.5rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .frame-main-content-HpR .frame-thng-k-chung--qL9 {
  margin: 0rem 0.3rem 1.332rem 0rem;
  height: 14.6678rem;
  display: flex;
  column-gap: 2.8rem;
  align-items: center;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .frame-main-content-HpR .frame-thng-k-chung--qL9 .group-s-lng-c-dn--9bj {
  box-sizing: border-box;
  padding: 1.268rem 4.203rem 1.268rem 2.1rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.0399999991), 0 0.2rem 0.6rem rgba(0, 0, 0, 0.0399999991), 0 1.6rem 2.4rem rgba(0, 0, 0, 0.0599999987);
  background-color: #fddfa6;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .frame-main-content-HpR .frame-thng-k-chung--qL9 .group-s-lng-c-dn--9bj .icon-group-U8D {
  margin: 0rem 2.297rem 0.672rem 0rem;
  width: 7.5rem;
  height: 5.7955rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .frame-main-content-HpR .frame-thng-k-chung--qL9 .group-s-lng-c-dn--9bj .auto-group-zwmb-nPo {
  margin-bottom: 2.1512rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .frame-main-content-HpR .frame-thng-k-chung--qL9 .group-s-lng-c-dn--9bj .auto-group-zwmb-nPo .s-lng-c-dn-wGh {
  margin-bottom: 2.281rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2;
  color: #3f3f3f;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .frame-main-content-HpR .frame-thng-k-chung--qL9 .group-s-lng-c-dn--9bj .auto-group-zwmb-nPo .item-1011-fTb {
  margin-left: 0.0325rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .frame-main-content-HpR .frame-thng-k-chung--qL9 .group-s-cn-h--JmT {
  box-sizing: border-box;
  padding: 1.294rem 13.74rem 1.294rem 2.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.0399999991), 0 0.2rem 0.6rem rgba(0, 0, 0, 0.0399999991), 0 1.6rem 2.4rem rgba(0, 0, 0, 0.0599999987);
  background-color: #fddfa6;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .frame-main-content-HpR .frame-thng-k-chung--qL9 .group-s-cn-h--JmT .icon-home-simple-door-Ef7 {
  margin: 0rem 2.03rem 0.25rem 0rem;
  width: 7.5rem;
  height: 7.2178rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .frame-main-content-HpR .frame-thng-k-chung--qL9 .group-s-cn-h--JmT .auto-group-kcpd-Mjj {
  margin-bottom: 2.1248rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .frame-main-content-HpR .frame-thng-k-chung--qL9 .group-s-cn-h--JmT .auto-group-kcpd-Mjj .cn-h-hYh {
  margin: 0rem 0rem 2.255rem 0.03rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2;
  color: #3f3f3f;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .frame-main-content-HpR .frame-thng-k-chung--qL9 .group-s-cn-h--JmT .auto-group-kcpd-Mjj .item-311-25B {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .frame-main-content-HpR .frame-thng-k-chung--qL9 .group-s-ha-n--GER {
  box-sizing: border-box;
  padding: 1.3rem 4.295rem 1.3rem 2.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.0399999991), 0 0.2rem 0.6rem rgba(0, 0, 0, 0.0399999991), 0 1.6rem 2.4rem rgba(0, 0, 0, 0.0599999987);
  background-color: #fddfa6;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .frame-main-content-HpR .frame-thng-k-chung--qL9 .group-s-ha-n--GER .icon-coin-dDP {
  margin: 2.1rem 2.005rem 2.468rem 0rem;
  box-sizing: border-box;
  padding: 1.313rem 2.625rem 1.312rem 2.625rem;
  height: calc(100% - 4.5678rem);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vector-Z41.png');
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .frame-main-content-HpR .frame-thng-k-chung--qL9 .group-s-ha-n--GER .icon-coin-dDP .vector-Y5T {
  width: 2.25rem;
  height: 4.875rem;
  object-fit: contain;
  vertical-align: top;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .frame-main-content-HpR .frame-thng-k-chung--qL9 .group-s-ha-n--GER .auto-group-zwub-ffs {
  margin-bottom: 2.1678rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .frame-main-content-HpR .frame-thng-k-chung--qL9 .group-s-ha-n--GER .auto-group-zwub-ffs .ho-n-hin-c-R9F {
  margin-bottom: 2.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2;
  color: #3f3f3f;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .frame-main-content-HpR .frame-thng-k-chung--qL9 .group-s-ha-n--GER .auto-group-zwub-ffs .item-3-8-Ln1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .frame-main-content-HpR .frame-3965-Q1B {
  width: 100%;
  height: 33.4rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .frame-main-content-HpR .frame-3965-Q1B .frame-m-t-ta-nh--Yt5 {
  box-sizing: border-box;
  padding: 2.5rem 3.3rem 2.5rem 2.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #ffdad6;
  border-radius: 2rem;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .frame-main-content-HpR .frame-3965-Q1B .frame-m-t-ta-nh--Yt5 .frame-building-image-GZB {
  margin-right: 3.4rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .frame-main-content-HpR .frame-3965-Q1B .frame-m-t-ta-nh--Yt5 .frame-building-image-GZB .thng-tin-to-nh-DDX {
  margin-bottom: 1rem;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.2;
  color: #3f3f3f;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .frame-main-content-HpR .frame-3965-Q1B .frame-m-t-ta-nh--Yt5 .frame-building-image-GZB .unsplash-5q1knujtjam-kDT {
  width: 32.8rem;
  height: 24rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.9rem;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .frame-main-content-HpR .frame-3965-Q1B .frame-m-t-ta-nh--Yt5 .frame-building-description-sYy {
  margin: 0.5rem 0rem 0.951rem 0rem;
  width: 64.4rem;
  height: calc(100% - 1.4507rem);
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .frame-main-content-HpR .frame-3965-Q1B .frame-m-t-ta-nh--Yt5 .frame-building-description-sYy .ta-vp-5-khu-th-linh-m-aCV {
  margin-bottom: 0.4493rem;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .frame-main-content-HpR .frame-3965-Q1B .frame-m-t-ta-nh--Yt5 .frame-building-description-sYy .frame-key-val-5f3 {
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .frame-main-content-HpR .frame-3965-Q1B .frame-m-t-ta-nh--Yt5 .frame-building-description-sYy .frame-key-val-5f3 .m-to-nh-doanh-nghip-thng-tin-lin-h-a-ch-qPK {
  margin-right: 0.9rem;
  max-width: 18.1rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .frame-main-content-HpR .frame-3965-Q1B .frame-m-t-ta-nh--Yt5 .frame-building-description-sYy .frame-key-val-5f3 .vp5-tng-cng-ty-u-t-pht-trin-hud-hudgrouphudcomvn-p-nguyn-duy-trinh-khu-th-linh-m-hong-mai-h-ni-vit-nam-XG9 {
  max-width: 45.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .notice-Kxh {
  margin: 0 3rem;
  width: calc(100% - 6rem);
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .notice-Kxh .auto-group-9gsh-fWm {
  box-sizing: border-box;
  padding-bottom: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .notice-Kxh .auto-group-9gsh-fWm .thng-bo-mi-DHP {
  margin-bottom: 1.4rem;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.2;
  color: #3f3f3f;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .notice-Kxh .auto-group-9gsh-fWm .frame-notifications-k2R {
  margin: 0 1.5rem;
  width: calc(100% - 3rem);
  row-gap: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .notice-Kxh .auto-group-9gsh-fWm .frame-notifications-k2R .header-5Kb {
  box-sizing: border-box;
  padding: 1rem 12.483rem 1.9rem 11.783rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #808080;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .notice-Kxh .auto-group-9gsh-fWm .frame-notifications-k2R .header-5Kb .c1-c4d {
  margin-right: 2.2167rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #2c1512;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .notice-Kxh .auto-group-9gsh-fWm .frame-notifications-k2R .header-5Kb .c4-9aM {
  margin-right: 11.65rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #aeaeae;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .notice-Kxh .auto-group-9gsh-fWm .frame-notifications-k2R .header-5Kb .c2-HgZ {
  margin-right: 27.0667rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #2c1512;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .notice-Kxh .auto-group-9gsh-fWm .frame-notifications-k2R .header-5Kb .c3-2u3 {
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #2c1512;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .notice-Kxh .auto-group-9gsh-fWm .frame-notifications-k2R .header-AVT {
  box-sizing: border-box;
  padding-right: 9.4167rem;
  width: 100%;
  height: 8.4rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.1rem #808080;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .notice-Kxh .auto-group-9gsh-fWm .frame-notifications-k2R .header-AVT .auto-group-nhhp-6tu {
  margin: 0rem 6.5rem 2rem 0rem;
  box-sizing: border-box;
  padding: 1.5rem 0;
  width: 38.2333rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .notice-Kxh .auto-group-9gsh-fWm .frame-notifications-k2R .header-AVT .c2-Pd7 {
  margin: 0rem 19.583rem 2rem 0rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .notice-Kxh .auto-group-9gsh-fWm .frame-notifications-k2R .header-AVT .c3-84u {
  margin-bottom: 2rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .notice-Kxh .auto-group-9gsh-fWm .frame-notifications-k2R .header-RZo {
  box-sizing: border-box;
  padding-right: 9.3667rem;
  width: 100%;
  height: 8.4rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.1rem #808080;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .notice-Kxh .auto-group-9gsh-fWm .frame-notifications-k2R .header-RZo .auto-group-4x2q-y5X {
  margin: 0rem 6.3rem 2rem 0rem;
  box-sizing: border-box;
  padding: 1.5rem 0;
  width: 36.7833rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .notice-Kxh .auto-group-9gsh-fWm .frame-notifications-k2R .header-RZo .c2-4cm {
  margin: 0rem 18.233rem 2rem 0rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .notice-Kxh .auto-group-9gsh-fWm .frame-notifications-k2R .header-RZo .c3-bch {
  margin-bottom: 2rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .notice-Kxh .item-02-75F {
  box-sizing: border-box;
  padding: 0 44.85rem;
  width: 100%;
  height: 3.1rem;
  background-color: #e8d6d4;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .notice-Kxh .item-02-75F .frame-16-eqs {
  width: 100%;
  height: 100%;
  display: flex;
  column-gap: 1.2rem;
  align-items: center;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .notice-Kxh .item-02-75F .frame-16-eqs .previous-c21 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #9e9e9e;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .notice-Kxh .item-02-75F .frame-16-eqs .frame-15-x5s {
  width: 3.1rem;
  height: 100%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9b1212;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.trang-ch-qun-l-xcV .frame-header-and-content-HPB .notice-Kxh .item-02-75F .frame-16-eqs .next-qfT {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #9e9e9e;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
