
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.xem-thng-tin-ha-n-3Xs {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #e8d6d4;
}
.xem-thng-tin-ha-n-3Xs .frame-3975-P5w {
  box-sizing: border-box;
  padding-bottom: 1.5rem;
  width: 110.1528rem;
  height: 102.4rem;
  position: absolute;
  left: 34.5972rem;
  top: 0rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.xem-thng-tin-ha-n-3Xs .frame-3975-P5w .frame-header-gqj {
  margin: 0rem 0.747rem 3.5rem 0rem;
  box-sizing: border-box;
  padding: 1.4rem 0.001rem 1.444rem 0.002rem;
  width: calc(100% - 0.7472rem);
  height: 12.8481rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #e8d6d4;
  background-color: #9b1212;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-3Xs .frame-3975-P5w .frame-header-gqj .ha-n-PVF {
  margin: 0.175rem 45.501rem 0rem 0rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-3Xs .frame-3975-P5w .frame-header-gqj .group-user-info-hkq {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-3Xs .frame-3975-P5w .frame-header-gqj .group-user-info-hkq .auto-group-vfid-TV7 {
  margin: 2.105rem 1.198rem 1.499rem 0rem;
  height: calc(100% - 3.6044rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-3Xs .frame-3975-P5w .frame-header-gqj .group-user-info-hkq .auto-group-vfid-TV7 .name-and-first-name-n1b {
  margin: 0rem 0.002rem 0.4rem 0rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-3Xs .frame-3975-P5w .frame-header-gqj .group-user-info-hkq .auto-group-vfid-TV7 .id-number-or-worker-number-taR {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-3Xs .frame-3975-P5w .frame-header-gqj .group-user-info-hkq .user-avatar-1uw {
  width: 10.0044rem;
  height: 10.0044rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-3Xs .frame-3975-P5w .frame-3982-vn1 {
  margin: 0rem 0rem 14.648rem 3.003rem;
  width: 107.15rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-3Xs .frame-3975-P5w .frame-3982-vn1 .frame-3976-ei1 {
  margin: 0rem 1.93rem 3.504rem 0rem;
  width: 105.22rem;
  height: 5.2rem;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  border-bottom: solid 0.1rem #2c1512;
  box-sizing: border-box;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-3Xs .frame-3975-P5w .frame-3982-vn1 .image-3-jUZ {
  margin: 0rem 3.75rem 2rem 0rem;
  width: 43.8rem;
  height: 28.2rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2rem;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-3Xs .frame-3975-P5w .frame-3982-vn1 .frame-3978-413 {
  margin: 0rem 3.75rem 2rem 0rem;
  box-sizing: border-box;
  padding: 0.7rem 3rem;
  width: calc(100% - 3.75rem);
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-3Xs .frame-3975-P5w .frame-3982-vn1 .frame-3978-413 .nhp-s-th-PxR {
  margin: 0rem 75.2rem 0.1rem 0rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 0.6666666667;
  color: #cccccc;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-3Xs .frame-3975-P5w .frame-3982-vn1 .frame-3978-413 .image-4-VVf {
  width: 5.8rem;
  height: 7.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-3Xs .frame-3975-P5w .frame-3982-vn1 .frame-3980-1D7 {
  margin: 0rem 3.75rem 2rem 0rem;
  width: calc(100% - 3.75rem);
  height: 8.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-3Xs .frame-3975-P5w .frame-3982-vn1 .frame-3980-1D7 .frame-3978-jeu {
  margin-right: 1rem;
  box-sizing: border-box;
  padding: 3.4rem 3rem;
  width: 65.8rem;
  height: 100%;
  font-size: 3rem;
  font-weight: 400;
  line-height: 0.6666666667;
  color: #cccccc;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-3Xs .frame-3975-P5w .frame-3982-vn1 .frame-3980-1D7 .frame-3979-RGq {
  width: 36.6rem;
  height: 100%;
  font-size: 3rem;
  font-weight: 400;
  line-height: 0.6666666667;
  color: #cccccc;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-3Xs .frame-3975-P5w .frame-3982-vn1 .bng-vic-nhn-vo-nt-thanh-ton-ngay-bn-ng-rng-giao-dch-ny-l-khng-hon-khng-hy-WJH {
  margin-left: 0.25rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2;
  font-style: italic;
  color: #808080;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-3Xs .frame-3975-P5w .button-xRB {
  margin: 0rem 3.75rem 0rem 3.003rem;
  width: calc(100% - 6.7528rem);
  height: 6.4rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-3Xs .frame-3975-P5w .button-xRB .frame-turn-back-button-5kh {
  margin-right: 60.2rem;
  width: 19.7rem;
  height: 100%;
  cursor: pointer;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #775652;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #775652;
  box-sizing: border-box;
  border-radius: 2rem;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-3Xs .frame-3975-P5w .button-xRB .frame-3855-Zfs {
  width: 23.5rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
  background-color: #775652;
  border-radius: 2rem;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-3Xs .frame-drawer-2pM {
  width: 34.6rem;
  height: 102.4rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #9b1212;
}
.xem-thng-tin-ha-n-3Xs .frame-drawer-2pM .logo-NNR {
  width: 100%;
  height: 12.7rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-3Xs .frame-drawer-2pM .auto-group-g8er-veq {
  box-sizing: border-box;
  padding: 2.6rem 0rem 1rem 0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-3Xs .frame-drawer-2pM .auto-group-g8er-veq .navigate-s4H {
  margin-bottom: 38.6rem;
  width: 34.5rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-3Xs .frame-drawer-2pM .auto-group-g8er-veq .navigate-s4H .trang-ch--nww {
  box-sizing: border-box;
  padding: 2.55rem 5.6rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-3Xs .frame-drawer-2pM .auto-group-g8er-veq .navigate-s4H .trang-ch--nww .icon-home-XPj {
  margin: 0rem 3.6rem 0rem 0rem;
  width: 4rem;
  height: 3.5505rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-3Xs .frame-drawer-2pM .auto-group-g8er-veq .navigate-s4H .trang-ch--nww .trang-ch-T2V {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-3Xs .frame-drawer-2pM .auto-group-g8er-veq .navigate-s4H .cn-h-mJ5 {
  box-sizing: border-box;
  padding: 2.55rem 8.6rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-3Xs .frame-drawer-2pM .auto-group-g8er-veq .navigate-s4H .cn-h-mJ5 .icon-user-circle-alt-uQH {
  margin: 0rem 6.6rem 0rem 0rem;
  width: 4rem;
  height: 4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-3Xs .frame-drawer-2pM .auto-group-g8er-veq .navigate-s4H .cn-h-mJ5 .cn-h-cpV {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-3Xs .frame-drawer-2pM .auto-group-g8er-veq .navigate-s4H .ha-n-Yi9 {
  box-sizing: border-box;
  padding: 2.55rem 7.5rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-3Xs .frame-drawer-2pM .auto-group-g8er-veq .navigate-s4H .ha-n-Yi9 .icon-wallet-Gu3 {
  margin: 0rem 5.5rem 0rem 0rem;
  width: 4rem;
  height: 3.644rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-3Xs .frame-drawer-2pM .auto-group-g8er-veq .navigate-s4H .ha-n-Yi9 .ha-n-oe5 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-3Xs .frame-drawer-2pM .auto-group-g8er-veq .navigate-s4H .phn-nh-uBK {
  box-sizing: border-box;
  padding: 2.55rem 6.7rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-3Xs .frame-drawer-2pM .auto-group-g8er-veq .navigate-s4H .phn-nh-uBK .icon-message-text-pJH {
  margin: 0rem 4.7rem 0rem 0rem;
  width: 4rem;
  height: 3.9757rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-3Xs .frame-drawer-2pM .auto-group-g8er-veq .navigate-s4H .phn-nh-uBK .phn-nh-XyP {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-3Xs .frame-drawer-2pM .auto-group-g8er-veq .phn-nh-rVs {
  margin-right: 0.1rem;
  box-sizing: border-box;
  padding: 2.55rem 5.9rem 2.55rem 3.474rem;
  width: calc(100% - 0.1rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-3Xs .frame-drawer-2pM .auto-group-g8er-veq .phn-nh-rVs .power-Nj7 {
  margin: 0rem 4.376rem 0rem 0rem;
  width: 2.85rem;
  height: 3.0838rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-3Xs .frame-drawer-2pM .auto-group-g8er-veq .phn-nh-rVs .phn-nh-i2H {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
