
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.xem-thng-tin-ha-n-thanh-ton-Q3P {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #e8d6d4;
}
.xem-thng-tin-ha-n-thanh-ton-Q3P .content-7Tb {
  width: 109.4056rem;
  height: 101.7481rem;
  position: absolute;
  left: 34.5972rem;
  top: 0rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.xem-thng-tin-ha-n-thanh-ton-Q3P .content-7Tb .frame-header-q8h {
  box-sizing: border-box;
  padding: 1.4rem 0.001rem 1.444rem 0.002rem;
  width: 100%;
  height: 12.8481rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #e8d6d4;
  background-color: #9b1212;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-thanh-ton-Q3P .content-7Tb .frame-header-q8h .ha-n-Yoo {
  margin: 0.175rem 45.501rem 0rem 0rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-thanh-ton-Q3P .content-7Tb .frame-header-q8h .group-user-info-Fy7 {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-thanh-ton-Q3P .content-7Tb .frame-header-q8h .group-user-info-Fy7 .auto-group-xpub-R6u {
  margin: 2.105rem 1.198rem 1.499rem 0rem;
  height: calc(100% - 3.6044rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-thanh-ton-Q3P .content-7Tb .frame-header-q8h .group-user-info-Fy7 .auto-group-xpub-R6u .name-and-first-name-k9B {
  margin: 0rem 0.002rem 0.4rem 0rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-thanh-ton-Q3P .content-7Tb .frame-header-q8h .group-user-info-Fy7 .auto-group-xpub-R6u .id-number-or-worker-number-TZP {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-thanh-ton-Q3P .content-7Tb .frame-header-q8h .group-user-info-Fy7 .user-avatar-b9o {
  width: 10.0044rem;
  height: 10.0044rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-thanh-ton-Q3P .content-7Tb .auto-group-tzqf-WGm {
  box-sizing: border-box;
  padding: 4.1rem 2.053rem 1.5rem 2.053rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-thanh-ton-Q3P .content-7Tb .auto-group-tzqf-WGm .frame-3909-qpq {
  margin: 0rem 0rem 44.7rem 0.95rem;
  width: 75.2rem;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-thanh-ton-Q3P .content-7Tb .auto-group-tzqf-WGm .frame-3909-qpq .ph-v-sinh-thng-100-2023-myP {
  margin: 0rem 0rem 3.75rem 1rem;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
}
.xem-thng-tin-ha-n-thanh-ton-Q3P .content-7Tb .auto-group-tzqf-WGm .frame-3909-qpq .frame-3908-4xV {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.xem-thng-tin-ha-n-thanh-ton-Q3P .content-7Tb .auto-group-tzqf-WGm .frame-3909-qpq .frame-3908-4xV .frame-3910-DaV {
  margin: 0rem 0rem 2.7rem 1rem;
  width: calc(100% - 1rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-thanh-ton-Q3P .content-7Tb .auto-group-tzqf-WGm .frame-3909-qpq .frame-3908-4xV .frame-3910-DaV .frame-3904-Mgh {
  margin: 0.3rem 38.7rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-thanh-ton-Q3P .content-7Tb .auto-group-tzqf-WGm .frame-3909-qpq .frame-3908-4xV .frame-3910-DaV .frame-3904-Mgh .s-tin-Vnu {
  margin-bottom: 3.55rem;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-thanh-ton-Q3P .content-7Tb .auto-group-tzqf-WGm .frame-3909-qpq .frame-3908-4xV .frame-3910-DaV .frame-3904-Mgh .trng-thi-EEh {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-thanh-ton-Q3P .content-7Tb .auto-group-tzqf-WGm .frame-3909-qpq .frame-3908-4xV .frame-3910-DaV .frame-3906-mVX {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-thanh-ton-Q3P .content-7Tb .auto-group-tzqf-WGm .frame-3909-qpq .frame-3908-4xV .frame-3910-DaV .frame-3906-mVX .thng-XzV {
  margin-bottom: 3.5rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-thanh-ton-Q3P .content-7Tb .auto-group-tzqf-WGm .frame-3909-qpq .frame-3908-4xV .frame-3910-DaV .frame-3906-mVX .thanh-ton-4Ud {
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-thanh-ton-Q3P .content-7Tb .auto-group-tzqf-WGm .frame-3909-qpq .frame-3908-4xV .frame-3907-ahs {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-thanh-ton-Q3P .content-7Tb .auto-group-tzqf-WGm .frame-3909-qpq .frame-3908-4xV .frame-3907-ahs .thng-tin-chi-tit-wHX {
  margin-bottom: 2.5rem;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-thanh-ton-Q3P .content-7Tb .auto-group-tzqf-WGm .frame-3909-qpq .frame-3908-4xV .frame-3907-ahs .ph-thu-lao-cng-v-sinh-chung-c--SVB {
  margin-left: 1rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-thanh-ton-Q3P .content-7Tb .auto-group-tzqf-WGm .button-WE9 {
  width: 100%;
  height: 6.4rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-thanh-ton-Q3P .content-7Tb .auto-group-tzqf-WGm .button-WE9 .frame-turn-back-button-Evq {
  margin-right: 62.1rem;
  box-sizing: border-box;
  padding: 1rem 0.8rem 1rem 2.433rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #775652;
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-thanh-ton-Q3P .content-7Tb .auto-group-tzqf-WGm .button-WE9 .frame-turn-back-button-Evq .corner-down-left-w4Z {
  margin: 0rem 1.333rem 0rem 0rem;
  width: 1.3333rem;
  height: 1.3333rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-thanh-ton-Q3P .content-7Tb .auto-group-tzqf-WGm .button-WE9 .frame-turn-back-button-Evq .quay-li-2rh {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #775652;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-thanh-ton-Q3P .content-7Tb .auto-group-tzqf-WGm .button-WE9 .frame-3855-LMb {
  box-sizing: border-box;
  padding: 1rem;
  width: 23.5rem;
  height: 100%;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #a2a2a2;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #c9c9c9;
  background-color: #e8d6d4;
  border-radius: 2rem;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-thanh-ton-Q3P .frame-drawer-QMT {
  width: 34.6rem;
  height: 102.4rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #9b1212;
}
.xem-thng-tin-ha-n-thanh-ton-Q3P .frame-drawer-QMT .logo-wcH {
  width: 100%;
  height: 12.7rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-thanh-ton-Q3P .frame-drawer-QMT .auto-group-45u9-6k5 {
  box-sizing: border-box;
  padding: 2.6rem 0rem 1rem 0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-thanh-ton-Q3P .frame-drawer-QMT .auto-group-45u9-6k5 .navigate-qBs {
  margin-bottom: 38.6rem;
  width: 34.5rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-thanh-ton-Q3P .frame-drawer-QMT .auto-group-45u9-6k5 .navigate-qBs .trang-ch--Azq {
  box-sizing: border-box;
  padding: 2.55rem 5.6rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-thanh-ton-Q3P .frame-drawer-QMT .auto-group-45u9-6k5 .navigate-qBs .trang-ch--Azq .icon-home-uhX {
  margin: 0rem 3.6rem 0rem 0rem;
  width: 4rem;
  height: 3.5505rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-thanh-ton-Q3P .frame-drawer-QMT .auto-group-45u9-6k5 .navigate-qBs .trang-ch--Azq .trang-ch-333 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-thanh-ton-Q3P .frame-drawer-QMT .auto-group-45u9-6k5 .navigate-qBs .cn-h-jwT {
  box-sizing: border-box;
  padding: 2.55rem 8.6rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-thanh-ton-Q3P .frame-drawer-QMT .auto-group-45u9-6k5 .navigate-qBs .cn-h-jwT .icon-user-circle-alt-Ue9 {
  margin: 0rem 6.6rem 0rem 0rem;
  width: 4rem;
  height: 4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-thanh-ton-Q3P .frame-drawer-QMT .auto-group-45u9-6k5 .navigate-qBs .cn-h-jwT .cn-h-bim {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-thanh-ton-Q3P .frame-drawer-QMT .auto-group-45u9-6k5 .navigate-qBs .ha-n-Kuf {
  box-sizing: border-box;
  padding: 2.55rem 7.5rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-thanh-ton-Q3P .frame-drawer-QMT .auto-group-45u9-6k5 .navigate-qBs .ha-n-Kuf .icon-wallet-4cM {
  margin: 0rem 5.5rem 0rem 0rem;
  width: 4rem;
  height: 3.644rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-thanh-ton-Q3P .frame-drawer-QMT .auto-group-45u9-6k5 .navigate-qBs .ha-n-Kuf .ha-n-bMP {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-thanh-ton-Q3P .frame-drawer-QMT .auto-group-45u9-6k5 .navigate-qBs .phn-nh-Wz9 {
  box-sizing: border-box;
  padding: 2.55rem 6.7rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-thanh-ton-Q3P .frame-drawer-QMT .auto-group-45u9-6k5 .navigate-qBs .phn-nh-Wz9 .icon-message-text-FRw {
  margin: 0rem 4.7rem 0rem 0rem;
  width: 4rem;
  height: 3.9757rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-thanh-ton-Q3P .frame-drawer-QMT .auto-group-45u9-6k5 .navigate-qBs .phn-nh-Wz9 .phn-nh-ZxR {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-thanh-ton-Q3P .frame-drawer-QMT .auto-group-45u9-6k5 .phn-nh-tjo {
  margin-right: 0.1rem;
  box-sizing: border-box;
  padding: 2.55rem 5.9rem 2.55rem 3.474rem;
  width: calc(100% - 0.1rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #9b1212;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-thanh-ton-Q3P .frame-drawer-QMT .auto-group-45u9-6k5 .phn-nh-tjo .power-RDw {
  margin: 0rem 4.376rem 0rem 0rem;
  width: 2.85rem;
  height: 3.0838rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-thanh-ton-Q3P .frame-drawer-QMT .auto-group-45u9-6k5 .phn-nh-tjo .phn-nh-jkR {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e8d6d4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
