
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.cd-chi-tit-h-dn-c-3P3 {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.cd-chi-tit-h-dn-c-3P3 .frame-drawer-hCh {
  box-sizing: border-box;
  padding: 2.5rem 0rem 31.8rem 0rem;
  width: 34.6rem;
  height: 102.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  background-color: #f0e68c;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-drawer-hCh .logo-kgm {
  margin: 0rem 3.7rem 5.1rem 3.7rem;
  width: calc(100% - 7.4rem);
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-drawer-hCh .logo-kgm .app-logo-FdX {
  width: 27.2rem;
  height: 25rem;
  object-fit: cover;
  vertical-align: top;
}
.cd-chi-tit-h-dn-c-3P3 .frame-drawer-hCh .navigate-LQ5 {
  margin-right: 0.1rem;
  width: 34.5rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-drawer-hCh .navigate-LQ5 .trang-ch--FG9 {
  box-sizing: border-box;
  padding: 2.55rem 5.6rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #90ee90;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-drawer-hCh .navigate-LQ5 .trang-ch--FG9 .icon-home-vNH {
  margin: 0rem 3.6rem 0rem 0rem;
  width: 4rem;
  height: 3.5505rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-drawer-hCh .navigate-LQ5 .trang-ch--FG9 .trang-ch-cF7 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-drawer-hCh .navigate-LQ5 .cn-h-QAy {
  box-sizing: border-box;
  padding: 2.55rem 8.6rem 2.55rem 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #32cd32;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-drawer-hCh .navigate-LQ5 .cn-h-QAy .icon-user-circle-alt-bFT {
  margin: 0rem 6.6rem 0rem 0rem;
  width: 4rem;
  height: 4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-drawer-hCh .navigate-LQ5 .cn-h-QAy .cn-h-5RX {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-drawer-hCh .navigate-LQ5 .ha-n-42Z {
  box-sizing: border-box;
  padding: 2.55rem 7.5rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #90ee90;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-drawer-hCh .navigate-LQ5 .ha-n-42Z .icon-wallet-icu {
  margin: 0rem 5.5rem 0rem 0rem;
  width: 4rem;
  height: 3.644rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-drawer-hCh .navigate-LQ5 .ha-n-42Z .ha-n-Pj3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-drawer-hCh .navigate-LQ5 .phn-nh-SxD {
  box-sizing: border-box;
  padding: 2.55rem 6.7rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #90ee90;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-drawer-hCh .navigate-LQ5 .phn-nh-SxD .icon-message-text-wty {
  margin: 0rem 4.7rem 0rem 0rem;
  width: 4rem;
  height: 3.9757rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-drawer-hCh .navigate-LQ5 .phn-nh-SxD .phn-nh-R3T {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-header-and-content-BB3 {
  box-sizing: border-box;
  padding-bottom: 0.5rem;
  width: 109.4rem;
  height: 102.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-header-and-content-BB3 .frame-header-rHB {
  margin-bottom: 4.8rem;
  box-sizing: border-box;
  padding: 2rem 0rem 2.8rem 1.4rem;
  width: 100%;
  height: 15.7rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #f0e68c;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-header-and-content-BB3 .frame-header-rHB .thng-tin-h-dn-c-Wcd {
  margin: 0rem 18.3rem 5rem 0rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-header-and-content-BB3 .frame-header-rHB .auto-group-kqjb-Ax5 {
  margin: 2.3rem 0rem 2rem 0rem;
  height: calc(100% - 4.3rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-header-and-content-BB3 .frame-header-rHB .auto-group-kqjb-Ax5 .name-and-first-name-GER {
  margin-bottom: 0.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-header-and-content-BB3 .frame-header-rHB .auto-group-kqjb-Ax5 .id-number-or-worker-number-Lzy {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-header-and-content-BB3 .frame-header-rHB .user-avatar-PyF {
  margin-top: 0.9rem;
  width: 10rem;
  height: 10rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/user-avatar-bg-eCd.png');
  border-radius: 5rem;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-header-and-content-BB3 .content-Pbs {
  margin: 0 0.55rem;
  box-sizing: border-box;
  padding: 0rem 1.5rem 1.5rem 1.5rem;
  width: calc(100% - 1.1rem);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-header-and-content-BB3 .content-Pbs .frame-appartment-basic-infos-smw {
  margin: 0rem 22.8rem 6.3rem 22.8rem;
  width: calc(100% - 45.6rem);
  height: 4.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-header-and-content-BB3 .content-Pbs .frame-appartment-basic-infos-smw .frame-3844-kKw {
  margin-right: 6.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-header-and-content-BB3 .content-Pbs .frame-appartment-basic-infos-smw .frame-3844-kKw .c1-gUV {
  margin-right: 1.8rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-header-and-content-BB3 .content-Pbs .frame-appartment-basic-infos-smw .frame-3844-kKw .c1-zVB {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-header-and-content-BB3 .content-Pbs .frame-appartment-basic-infos-smw .frame-3844-WTX {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-header-and-content-BB3 .content-Pbs .frame-appartment-basic-infos-smw .frame-3844-WTX .c1-dY9 {
  margin-right: 0.8rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-header-and-content-BB3 .content-Pbs .frame-appartment-basic-infos-smw .frame-3844-WTX .c1-iJh {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-header-and-content-BB3 .content-Pbs .frame-citizens-infos-Ryo {
  margin: 0rem 1.95rem 26rem 1.35rem;
  width: calc(100% - 3.3rem);
  row-gap: 2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-header-and-content-BB3 .content-Pbs .frame-citizens-infos-Ryo .header-iCD {
  box-sizing: border-box;
  padding: 1rem 1.25rem 0.9rem 3.65rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #808080;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-header-and-content-BB3 .content-Pbs .frame-citizens-infos-Ryo .header-iCD .c1-oDf {
  margin-right: 7.75rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #aeaeae;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-header-and-content-BB3 .content-Pbs .frame-citizens-infos-Ryo .header-iCD .c2-unV {
  margin-right: 11.6rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #aeaeae;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-header-and-content-BB3 .content-Pbs .frame-citizens-infos-Ryo .header-iCD .c3-Rkq {
  margin-right: 8.85rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #aeaeae;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-header-and-content-BB3 .content-Pbs .frame-citizens-infos-Ryo .header-iCD .c4-iV3 {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #aeaeae;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-header-and-content-BB3 .content-Pbs .frame-citizens-infos-Ryo .header-1yw {
  box-sizing: border-box;
  padding: 0.5rem 0.2rem 0.5rem 0.9rem;
  width: 100%;
  height: 8.4rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.1rem #808080;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-header-and-content-BB3 .content-Pbs .frame-citizens-infos-Ryo .header-1yw .c1-Gey {
  margin: 0rem 5.2rem 1rem 0rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-header-and-content-BB3 .content-Pbs .frame-citizens-infos-Ryo .header-1yw .c2-kKF {
  margin: 0rem 11.7rem 1rem 0rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-header-and-content-BB3 .content-Pbs .frame-citizens-infos-Ryo .header-1yw .c3-Shs {
  margin: 0rem 6.4rem 1rem 0rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-header-and-content-BB3 .content-Pbs .frame-citizens-infos-Ryo .header-1yw .frame-3838-M49 {
  margin-bottom: 1rem;
  width: 25.4rem;
  height: 6.4rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #040f0f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-header-and-content-BB3 .content-Pbs .frame-citizens-infos-Ryo .header-9kh {
  box-sizing: border-box;
  padding: 0.5rem 0.2rem 0.5rem 1.5rem;
  width: 100%;
  height: 8.3rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #808080;
  background-color: #ffffff;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-header-and-content-BB3 .content-Pbs .frame-citizens-infos-Ryo .header-9kh .c1-EGM {
  margin: 0rem 6.25rem 0.9rem 0rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-header-and-content-BB3 .content-Pbs .frame-citizens-infos-Ryo .header-9kh .c2-jD7 {
  margin: 0rem 15.8rem 0.9rem 0rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-header-and-content-BB3 .content-Pbs .frame-citizens-infos-Ryo .header-9kh .c3-ktu {
  margin: 0rem 10.25rem 0.9rem 0rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-header-and-content-BB3 .content-Pbs .frame-citizens-infos-Ryo .header-9kh .frame-3838-rS9 {
  margin-bottom: 0.9rem;
  width: 25.4rem;
  height: 6.4rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #040f0f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-header-and-content-BB3 .content-Pbs .frame-citizens-infos-Ryo .header-4o7 {
  box-sizing: border-box;
  padding: 0.5rem 0.2rem 0.9rem 0.8rem;
  width: 100%;
  height: 7.8rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #808080;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-header-and-content-BB3 .content-Pbs .frame-citizens-infos-Ryo .header-4o7 .c1-WQD {
  margin-right: 4.7rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-header-and-content-BB3 .content-Pbs .frame-citizens-infos-Ryo .header-4o7 .c2-pfo {
  margin-right: 10.65rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-header-and-content-BB3 .content-Pbs .frame-citizens-infos-Ryo .header-4o7 .c3-R9o {
  margin-right: 5.95rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-header-and-content-BB3 .content-Pbs .frame-citizens-infos-Ryo .header-4o7 .frame-3838-E7F {
  width: 25.4rem;
  height: 100%;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #040f0f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-header-and-content-BB3 .content-Pbs .button-RxR {
  width: 19.7rem;
  height: 6.4rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-header-and-content-BB3 .content-Pbs .button-RxR .frame-turn-back-button-xSZ {
  box-sizing: border-box;
  padding: 1rem 0.8rem 1rem 2.433rem;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #32cd32;
  background-color: #ffffff;
  border-radius: 2rem;
}
.cd-chi-tit-h-dn-c-3P3 .frame-header-and-content-BB3 .content-Pbs .button-RxR .frame-turn-back-button-xSZ .corner-down-left-3iu {
  margin: 0rem 1.333rem 0rem 0rem;
  width: 1.3333rem;
  height: 1.3333rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.cd-chi-tit-h-dn-c-3P3 .frame-header-and-content-BB3 .content-Pbs .button-RxR .frame-turn-back-button-xSZ .quay-li-XPB {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #32cd32;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
