
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.cd-ha-n--9w3 {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
}
.cd-ha-n--9w3 .frame-3966-hhf {
  width: 109.4056rem;
  height: 102.3rem;
  position: absolute;
  left: 34.5972rem;
  top: 0.1rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.cd-ha-n--9w3 .frame-3966-hhf .frame-header-Rdf {
  box-sizing: border-box;
  padding: 1.4rem 0.001rem 1.444rem 0.002rem;
  width: 100%;
  height: 12.8481rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #f0e68c;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-3966-hhf .frame-header-Rdf .ha-n-xNh {
  margin: 0.175rem 45.501rem 0rem 0rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-3966-hhf .frame-header-Rdf .group-user-info-dDw {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-3966-hhf .frame-header-Rdf .group-user-info-dDw .auto-group-djyh-hDo {
  margin: 2.105rem 1.198rem 1.499rem 0rem;
  height: calc(100% - 3.6044rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-3966-hhf .frame-header-Rdf .group-user-info-dDw .auto-group-djyh-hDo .name-and-first-name-Dxq {
  margin: 0rem 0.002rem 0.4rem 0rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-3966-hhf .frame-header-Rdf .group-user-info-dDw .auto-group-djyh-hDo .id-number-or-worker-number-jAV {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-3966-hhf .frame-header-Rdf .group-user-info-dDw .user-avatar-4Cm {
  width: 10.0044rem;
  height: 10.0044rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX {
  box-sizing: border-box;
  padding: 3.5rem 1.795rem 1.5rem 2.053rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX .auto-group-mv7r-KeV {
  margin: 0rem 0rem 27.952rem 0.85rem;
  width: 104.708rem;
  height: 50.1rem;
  position: relative;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX .auto-group-mv7r-KeV .frame-3952-cdb {
  width: 104.708rem;
  height: 10rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: flex-start;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX .auto-group-mv7r-KeV .frame-3952-cdb .frame-search-L3o {
  margin-right: 2rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX .auto-group-mv7r-KeV .frame-3952-cdb .frame-search-L3o .thi-gian-spR {
  margin-right: 2rem;
  width: 35.0687rem;
  height: 100%;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX .auto-group-mv7r-KeV .frame-3952-cdb .frame-search-L3o .thi-gian-spR .auto-group-rzd5-2SR {
  width: 100%;
  height: 4.4rem;
  position: relative;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX .auto-group-mv7r-KeV .frame-3952-cdb .frame-search-L3o .thi-gian-spR .auto-group-rzd5-2SR .label-text-P25 {
  width: 9.1rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #040f0f;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX .auto-group-mv7r-KeV .frame-3952-cdb .frame-search-L3o .thi-gian-spR .auto-group-rzd5-2SR .input-field-UpD {
  box-sizing: border-box;
  padding: 1.2rem 1.8rem 1.2rem 1.2rem;
  width: 35.0687rem;
  height: 4.4rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  border: solid 0.2rem #000000;
  border-radius: 0.8rem;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX .auto-group-mv7r-KeV .frame-3952-cdb .frame-search-L3o .thi-gian-spR .auto-group-rzd5-2SR .input-field-UpD .lead-icon-text-jVF {
  margin-right: 4.2687rem;
  box-sizing: border-box;
  padding-left: 0.1875rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX .auto-group-mv7r-KeV .frame-3952-cdb .frame-search-L3o .thi-gian-spR .auto-group-rzd5-2SR .input-field-UpD .lead-icon-text-jVF .icon-outline-layer-rpm {
  margin-right: 1.3875rem;
  width: 1.625rem;
  height: 1.625rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX .auto-group-mv7r-KeV .frame-3952-cdb .frame-search-L3o .thi-gian-spR .auto-group-rzd5-2SR .input-field-UpD .lead-icon-text-jVF .insert-text-here-Cdj {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 0.8333333333;
  color: #040f0f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX .auto-group-mv7r-KeV .frame-3952-cdb .frame-search-L3o .thi-gian-spR .auto-group-rzd5-2SR .input-field-UpD .icon-fill-caret-small-down-8nH {
  width: 0.8rem;
  height: 0.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX .auto-group-mv7r-KeV .frame-3952-cdb .frame-search-L3o .tiu--rTP {
  width: 61.2393rem;
  height: 100%;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX .auto-group-mv7r-KeV .frame-3952-cdb .frame-search-L3o .tiu--rTP .auto-group-ta75-D33 {
  width: 100%;
  height: 4.4rem;
  position: relative;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX .auto-group-mv7r-KeV .frame-3952-cdb .frame-search-L3o .tiu--rTP .auto-group-ta75-D33 .label-text-wjj {
  width: 8rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #040f0f;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX .auto-group-mv7r-KeV .frame-3952-cdb .frame-search-L3o .tiu--rTP .auto-group-ta75-D33 .input-field-5L9 {
  box-sizing: border-box;
  padding: 1.2rem 1.8rem 1.2rem 1.2rem;
  width: 61.2393rem;
  height: 4.4rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  border: solid 0.2rem #000000;
  border-radius: 0.8rem;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX .auto-group-mv7r-KeV .frame-3952-cdb .frame-search-L3o .tiu--rTP .auto-group-ta75-D33 .input-field-5L9 .lead-icon-text-Q7X {
  margin-right: 42.7394rem;
  box-sizing: border-box;
  padding-left: 0.1875rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX .auto-group-mv7r-KeV .frame-3952-cdb .frame-search-L3o .tiu--rTP .auto-group-ta75-D33 .input-field-5L9 .lead-icon-text-Q7X .icon-outline-layer-uKB {
  margin-right: 1.3875rem;
  width: 1.625rem;
  height: 1.625rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX .auto-group-mv7r-KeV .frame-3952-cdb .frame-search-L3o .tiu--rTP .auto-group-ta75-D33 .input-field-5L9 .lead-icon-text-Q7X .insert-text-here-eXf {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 0.8333333333;
  color: #040f0f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX .auto-group-mv7r-KeV .frame-3952-cdb .frame-search-L3o .tiu--rTP .auto-group-ta75-D33 .input-field-5L9 .icon-fill-caret-small-down-ZuX {
  width: 0.8rem;
  height: 0.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX .auto-group-mv7r-KeV .frame-3952-cdb .frame-3963-4rH {
  width: 4.4rem;
  height: 4.4rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX .auto-group-mv7r-KeV .frame-3839-cN1 {
  width: 103.4rem;
  height: 40.7rem;
  position: absolute;
  left: 0.1rem;
  top: 9.4rem;
  row-gap: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX .auto-group-mv7r-KeV .frame-3839-cN1 .header-WCV {
  box-sizing: border-box;
  padding: 1rem 4.125rem 0.9rem 6.275rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #808080;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX .auto-group-mv7r-KeV .frame-3839-cN1 .header-WCV .c1-FA5 {
  margin-right: 13.05rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #aeaeae;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX .auto-group-mv7r-KeV .frame-3839-cN1 .header-WCV .c2-BpR {
  margin-right: 12.65rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #aeaeae;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX .auto-group-mv7r-KeV .frame-3839-cN1 .header-WCV .c3-6Ah {
  margin-right: 9.9rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #aeaeae;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX .auto-group-mv7r-KeV .frame-3839-cN1 .header-WCV .c4-dwK {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #aeaeae;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX .auto-group-mv7r-KeV .frame-3839-cN1 .header-9uf {
  box-sizing: border-box;
  padding: 0.5rem 0.2rem 0.5rem 3.375rem;
  width: 100%;
  height: 8.4rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.1rem #808080;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX .auto-group-mv7r-KeV .frame-3839-cN1 .header-9uf .c1-t6Z {
  margin: 0rem 9.6rem 2rem 0rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX .auto-group-mv7r-KeV .frame-3839-cN1 .header-9uf .c2-nhj {
  margin: 0rem 11.7rem 2rem 0rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX .auto-group-mv7r-KeV .frame-3839-cN1 .header-9uf .c3-XQR {
  margin: 0rem 5.575rem 2rem 0rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX .auto-group-mv7r-KeV .frame-3839-cN1 .header-9uf .frame-3838-1aV {
  margin-bottom: 1rem;
  width: 25.75rem;
  height: 6.4rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #c9c9c9;
  box-sizing: border-box;
  background-color: #ffac5a;
  border-radius: 2rem;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX .auto-group-mv7r-KeV .frame-3839-cN1 .header-Fjj {
  box-sizing: border-box;
  padding: 0.5rem 0.2rem 0.5rem 2.575rem;
  width: 100%;
  height: 8.3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #808080;
  background-color: #ffffff;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX .auto-group-mv7r-KeV .frame-3839-cN1 .header-Fjj .c1-A61 {
  margin: 0rem 9.65rem 1.9rem 0rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX .auto-group-mv7r-KeV .frame-3839-cN1 .header-Fjj .c2-HwK {
  margin: 0rem 12.35rem 1.9rem 0rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX .auto-group-mv7r-KeV .frame-3839-cN1 .header-Fjj .c3-dVP {
  margin: 0rem 5.575rem 1.9rem 0rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX .auto-group-mv7r-KeV .frame-3839-cN1 .header-Fjj .frame-3838-MAV {
  margin-bottom: 0.9rem;
  width: 25.75rem;
  height: 6.4rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #c9c9c9;
  box-sizing: border-box;
  background-color: #bfd3c1;
  border-radius: 2rem;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX .auto-group-mv7r-KeV .frame-3839-cN1 .header-BQR {
  box-sizing: border-box;
  padding: 0.5rem 0.2rem 0.5rem 3.075rem;
  width: 100%;
  height: 7.4rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #808080;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX .auto-group-mv7r-KeV .frame-3839-cN1 .header-BQR .c1-7os {
  margin: 0rem 10rem 1rem 0rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX .auto-group-mv7r-KeV .frame-3839-cN1 .header-BQR .c2-pyB {
  margin: 0rem 13.1rem 1rem 0rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX .auto-group-mv7r-KeV .frame-3839-cN1 .header-BQR .c3-m7j {
  margin: 0rem 6.375rem 1rem 0rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX .auto-group-mv7r-KeV .frame-3839-cN1 .header-BQR .frame-3838-sgZ {
  width: 25.75rem;
  height: 100%;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #c9c9c9;
  box-sizing: border-box;
  background-color: #bfd3c1;
  border-radius: 2rem;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX .auto-group-mv7r-KeV .frame-3839-cN1 .item-02-YXo {
  box-sizing: border-box;
  padding: 1.6rem 44.85rem;
  width: 100%;
  height: 6.3rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX .auto-group-mv7r-KeV .frame-3839-cN1 .item-02-YXo .frame-16-fMX {
  width: 100%;
  height: 100%;
  display: flex;
  column-gap: 1.2rem;
  align-items: center;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX .auto-group-mv7r-KeV .frame-3839-cN1 .item-02-YXo .frame-16-fMX .previous-D89 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #9e9e9e;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX .auto-group-mv7r-KeV .frame-3839-cN1 .item-02-YXo .frame-16-fMX .frame-15-7UR {
  width: 3.1rem;
  height: 100%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d3d3d3;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX .auto-group-mv7r-KeV .frame-3839-cN1 .item-02-YXo .frame-16-fMX .next-Bz5 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #9e9e9e;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX .button-KKb {
  width: 19.7rem;
  height: 6.4rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX .button-KKb .frame-turn-back-button-UTP {
  box-sizing: border-box;
  padding: 1rem 0.8rem 1rem 2.433rem;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #32cd32;
  background-color: #ffffff;
  border-radius: 2rem;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX .button-KKb .frame-turn-back-button-UTP .corner-down-left-ZUq {
  margin: 0rem 1.333rem 0rem 0rem;
  width: 1.3333rem;
  height: 1.3333rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-3966-hhf .auto-group-i8k3-yqX .button-KKb .frame-turn-back-button-UTP .quay-li-VdP {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #32cd32;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-drawer-BFK {
  box-sizing: border-box;
  padding: 2.5rem 0rem 31.8rem 0rem;
  width: 34.6rem;
  height: 102.4rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  background-color: #f0e68c;
}
.cd-ha-n--9w3 .frame-drawer-BFK .logo-6t5 {
  margin: 0rem 3.7rem 5.1rem 3.7rem;
  width: calc(100% - 7.4rem);
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-drawer-BFK .logo-6t5 .app-logo-q4y {
  width: 27.2rem;
  height: 25rem;
  object-fit: cover;
  vertical-align: top;
}
.cd-ha-n--9w3 .frame-drawer-BFK .navigate-MJD {
  margin-right: 0.1rem;
  width: 34.5rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-drawer-BFK .navigate-MJD .trang-ch--VfK {
  box-sizing: border-box;
  padding: 2.55rem 5.6rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #90ee90;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-drawer-BFK .navigate-MJD .trang-ch--VfK .icon-home-qDP {
  margin: 0rem 3.6rem 0rem 0rem;
  width: 4rem;
  height: 3.5505rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-drawer-BFK .navigate-MJD .trang-ch--VfK .trang-ch-wnD {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-drawer-BFK .navigate-MJD .cn-h-469 {
  box-sizing: border-box;
  padding: 2.55rem 8.6rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #90ee90;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-drawer-BFK .navigate-MJD .cn-h-469 .icon-user-circle-alt-xxD {
  margin: 0rem 6.6rem 0rem 0rem;
  width: 4rem;
  height: 4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-drawer-BFK .navigate-MJD .cn-h-469 .cn-h-VhF {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-drawer-BFK .navigate-MJD .ha-n-Zx1 {
  box-sizing: border-box;
  padding: 2.55rem 7.5rem 2.55rem 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #32cd32;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-drawer-BFK .navigate-MJD .ha-n-Zx1 .icon-wallet-gWq {
  margin: 0rem 5.5rem 0rem 0rem;
  width: 4rem;
  height: 3.644rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-drawer-BFK .navigate-MJD .ha-n-Zx1 .ha-n-ByP {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-drawer-BFK .navigate-MJD .phn-nh-6aZ {
  box-sizing: border-box;
  padding: 2.55rem 6.7rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #90ee90;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-drawer-BFK .navigate-MJD .phn-nh-6aZ .icon-message-text-QLM {
  margin: 0rem 4.7rem 0rem 0rem;
  width: 4rem;
  height: 3.9757rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.cd-ha-n--9w3 .frame-drawer-BFK .navigate-MJD .phn-nh-6aZ .phn-nh-LUu {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
