
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.chi-tit-phn-nh-KZ7 {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.chi-tit-phn-nh-KZ7 .frame-drawer-3ED {
  box-sizing: border-box;
  padding: 2.5rem 0rem 31.8rem 0rem;
  width: 34.6rem;
  height: 102.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  background-color: #f0e68c;
  flex-shrink: 0;
}
.chi-tit-phn-nh-KZ7 .frame-drawer-3ED .logo-jsj {
  margin: 0rem 3.7rem 5.1rem 3.7rem;
  width: calc(100% - 7.4rem);
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.chi-tit-phn-nh-KZ7 .frame-drawer-3ED .logo-jsj .app-logo-UqK {
  width: 27.2rem;
  height: 25rem;
  object-fit: cover;
  vertical-align: top;
}
.chi-tit-phn-nh-KZ7 .frame-drawer-3ED .navigate-Dnu {
  margin-right: 0.1rem;
  width: 34.5rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.chi-tit-phn-nh-KZ7 .frame-drawer-3ED .navigate-Dnu .trang-ch--y1P {
  box-sizing: border-box;
  padding: 2.55rem 5.6rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #90ee90;
  flex-shrink: 0;
}
.chi-tit-phn-nh-KZ7 .frame-drawer-3ED .navigate-Dnu .trang-ch--y1P .icon-home-W1K {
  margin: 0rem 3.6rem 0rem 0rem;
  width: 4rem;
  height: 3.5505rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.chi-tit-phn-nh-KZ7 .frame-drawer-3ED .navigate-Dnu .trang-ch--y1P .trang-ch-QMb {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-phn-nh-KZ7 .frame-drawer-3ED .navigate-Dnu .cn-h-Geh {
  box-sizing: border-box;
  padding: 2.55rem 8.6rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #90ee90;
  flex-shrink: 0;
}
.chi-tit-phn-nh-KZ7 .frame-drawer-3ED .navigate-Dnu .cn-h-Geh .icon-user-circle-alt-bgy {
  margin: 0rem 6.6rem 0rem 0rem;
  width: 4rem;
  height: 4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.chi-tit-phn-nh-KZ7 .frame-drawer-3ED .navigate-Dnu .cn-h-Geh .cn-h-6td {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-phn-nh-KZ7 .frame-drawer-3ED .navigate-Dnu .ha-n-pJq {
  box-sizing: border-box;
  padding: 2.55rem 7.5rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #90ee90;
  flex-shrink: 0;
}
.chi-tit-phn-nh-KZ7 .frame-drawer-3ED .navigate-Dnu .ha-n-pJq .icon-wallet-ubB {
  margin: 0rem 5.5rem 0rem 0rem;
  width: 4rem;
  height: 3.644rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.chi-tit-phn-nh-KZ7 .frame-drawer-3ED .navigate-Dnu .ha-n-pJq .ha-n-2vh {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-phn-nh-KZ7 .frame-drawer-3ED .navigate-Dnu .phn-nh-tCD {
  box-sizing: border-box;
  padding: 2.55rem 6.7rem 2.55rem 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #32cd32;
  flex-shrink: 0;
}
.chi-tit-phn-nh-KZ7 .frame-drawer-3ED .navigate-Dnu .phn-nh-tCD .icon-message-text-Cyb {
  margin: 0rem 4.7rem 0rem 0rem;
  width: 4rem;
  height: 3.9757rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.chi-tit-phn-nh-KZ7 .frame-drawer-3ED .navigate-Dnu .phn-nh-tCD .phn-nh-7am {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-phn-nh-KZ7 .frame-header-and-content-WN1 {
  box-sizing: border-box;
  padding-bottom: 1.5rem;
  width: 109.4rem;
  height: 102.4rem;
  row-gap: 3.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.chi-tit-phn-nh-KZ7 .frame-header-and-content-WN1 .frame-header-2bF {
  margin-right: 0.1rem;
  box-sizing: border-box;
  padding: 1.4rem 1rem;
  width: calc(100% - 0.1rem);
  height: 12.8rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #f0e68c;
  flex-shrink: 0;
}
.chi-tit-phn-nh-KZ7 .frame-header-and-content-WN1 .frame-header-2bF .phn-nh-m33 {
  margin: 0rem 40.2rem 4.1rem 0rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-phn-nh-KZ7 .frame-header-and-content-WN1 .frame-header-2bF .group-user-info-65K {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.chi-tit-phn-nh-KZ7 .frame-header-and-content-WN1 .frame-header-2bF .group-user-info-65K .auto-group-h1hd-qob {
  margin: 2.1rem 1.2rem 1.5rem 0rem;
  height: calc(100% - 3.6rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.chi-tit-phn-nh-KZ7 .frame-header-and-content-WN1 .frame-header-2bF .group-user-info-65K .auto-group-h1hd-qob .name-and-first-name-mx9 {
  margin-bottom: 0.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-phn-nh-KZ7 .frame-header-and-content-WN1 .frame-header-2bF .group-user-info-65K .auto-group-h1hd-qob .id-number-or-worker-number-iMb {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-phn-nh-KZ7 .frame-header-and-content-WN1 .frame-header-2bF .group-user-info-65K .user-avatar-p9j {
  width: 10rem;
  height: 10rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/user-avatar-bg-hcR.png');
  border-radius: 5rem;
  flex-shrink: 0;
}
.chi-tit-phn-nh-KZ7 .frame-header-and-content-WN1 .frame-3946-G1j {
  margin: 0rem 2.9rem 0rem 3rem;
  width: calc(100% - 5.9rem);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.chi-tit-phn-nh-KZ7 .frame-header-and-content-WN1 .frame-3946-G1j .frame-info-NqT {
  margin-bottom: 3.2rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.chi-tit-phn-nh-KZ7 .frame-header-and-content-WN1 .frame-3946-G1j .frame-info-NqT .ngi-gi-s-h-s-in-thoi-ni-dung-LGV {
  margin-right: 1rem;
  max-width: 17.7rem;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  flex-shrink: 0;
}
.chi-tit-phn-nh-KZ7 .frame-header-and-content-WN1 .frame-3946-G1j .frame-info-NqT .nguyn-quc-t-p1101-077-hai-five-30-su-su-su-ti-khng-thch-qun-l-lm-n-i-qun-l-i-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-duis-aute-irure-dolor-in-reprehenderit-in-voluptate-velit-esse-cillum-dolore-eu-fugiat-nulla-pariatur-excepteur-sint-occaecat-cupidatat-non-proident-sunt-in-culpa-qui-officia-deserunt-mollit-anim-id-est-laborum-EMs {
  max-width: 84.8rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  flex-shrink: 0;
}
.chi-tit-phn-nh-KZ7 .frame-header-and-content-WN1 .frame-3946-G1j .frame-state--Wyb {
  margin-right: 45.2rem;
  width: calc(100% - 45.2rem);
  height: 17.7rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.chi-tit-phn-nh-KZ7 .frame-header-and-content-WN1 .frame-3946-G1j .frame-state--Wyb .trng-thi-FwB {
  margin-right: 4.2rem;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-phn-nh-KZ7 .frame-header-and-content-WN1 .frame-3946-G1j .frame-state--Wyb .frame-slide-bar-yMP {
  width: 40.6rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.chi-tit-phn-nh-KZ7 .frame-header-and-content-WN1 .frame-3946-G1j .frame-state--Wyb .frame-slide-bar-yMP .thi-gian-Kw3 {
  width: 40.6rem;
  height: 10rem;
  position: absolute;
  left: 0;
  top: 0;
}
.chi-tit-phn-nh-KZ7 .frame-header-and-content-WN1 .frame-3946-G1j .frame-state--Wyb .frame-slide-bar-yMP .thi-gian-Kw3 .auto-group-wdhu-UZ3 {
  width: 100%;
  height: 4.4rem;
  position: relative;
}
.chi-tit-phn-nh-KZ7 .frame-header-and-content-WN1 .frame-3946-G1j .frame-state--Wyb .frame-slide-bar-yMP .thi-gian-Kw3 .auto-group-wdhu-UZ3 .label-text-qPb {
  width: 9.1rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #040f0f;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.chi-tit-phn-nh-KZ7 .frame-header-and-content-WN1 .frame-3946-G1j .frame-state--Wyb .frame-slide-bar-yMP .thi-gian-Kw3 .auto-group-wdhu-UZ3 .input-field-Lr9 {
  box-sizing: border-box;
  padding: 1.2rem 1.8rem 1.2rem 1.2rem;
  width: 40.6rem;
  height: 4.4rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  border: solid 0.2rem #000000;
  border-radius: 0.8rem;
}
.chi-tit-phn-nh-KZ7 .frame-header-and-content-WN1 .frame-3946-G1j .frame-state--Wyb .frame-slide-bar-yMP .thi-gian-Kw3 .auto-group-wdhu-UZ3 .input-field-Lr9 .lead-icon-text-fNd {
  margin-right: 13.75rem;
  box-sizing: border-box;
  padding-left: 11.55rem;
  height: 100%;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 0.9090909091;
  color: #040f0f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-phn-nh-KZ7 .frame-header-and-content-WN1 .frame-3946-G1j .frame-state--Wyb .frame-slide-bar-yMP .thi-gian-Kw3 .auto-group-wdhu-UZ3 .input-field-Lr9 .icon-fill-caret-small-down-vJZ {
  width: 0.8rem;
  height: 0.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.chi-tit-phn-nh-KZ7 .frame-header-and-content-WN1 .frame-3946-G1j .frame-state--Wyb .frame-slide-bar-yMP .rectangle-77-Pxq {
  width: 35.5rem;
  height: 13.3rem;
  position: absolute;
  left: 0;
  top: 4.4rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #f8f8f8;
}
.chi-tit-phn-nh-KZ7 .frame-header-and-content-WN1 .frame-3946-G1j .frame-state--Wyb .frame-slide-bar-yMP .cha-x-l-ang-x-l-x-l-vhs {
  width: 11.5rem;
  height: 10rem;
  position: absolute;
  left: 11.95rem;
  top: 6.1rem;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 0.9090909091;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}
.chi-tit-phn-nh-KZ7 .frame-header-and-content-WN1 .button-omf {
  margin: 0rem 2.6rem 0rem 1.5rem;
  width: calc(100% - 4.1rem);
  height: 6.4rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.chi-tit-phn-nh-KZ7 .frame-header-and-content-WN1 .button-omf .frame-turn-back-button-jvD {
  margin-right: 59.95rem;
  box-sizing: border-box;
  padding: 1rem 0.8rem 1rem 2.433rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #32cd32;
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.chi-tit-phn-nh-KZ7 .frame-header-and-content-WN1 .button-omf .frame-turn-back-button-jvD .corner-down-left-F7s {
  margin: 0rem 1.333rem 0rem 0rem;
  width: 1.3333rem;
  height: 1.3333rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.chi-tit-phn-nh-KZ7 .frame-header-and-content-WN1 .button-omf .frame-turn-back-button-jvD .quay-li-Xr5 {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #32cd32;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-phn-nh-KZ7 .frame-header-and-content-WN1 .button-omf .frame-3852-3pR {
  width: 25.65rem;
  height: 100%;
  cursor: pointer;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #90ee90;
  box-sizing: border-box;
  background-color: #90ee90;
  border-radius: 2rem;
  flex-shrink: 0;
}
