
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.chi-tit-h-dn-c-ei9 {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.chi-tit-h-dn-c-ei9 .frame-drawer-P9w {
  box-sizing: border-box;
  padding: 2.5rem 0rem 31.8rem 0rem;
  width: 34.6rem;
  height: 102.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  background-color: #f0e68c;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-drawer-P9w .logo-GjX {
  margin: 0rem 3.7rem 5.1rem 3.7rem;
  width: calc(100% - 7.4rem);
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-drawer-P9w .logo-GjX .app-logo-AK7 {
  width: 27.2rem;
  height: 25rem;
  object-fit: cover;
  vertical-align: top;
}
.chi-tit-h-dn-c-ei9 .frame-drawer-P9w .navigate-JgD {
  margin-right: 0.1rem;
  width: 34.5rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-drawer-P9w .navigate-JgD .trang-ch--FLZ {
  box-sizing: border-box;
  padding: 2.55rem 5.6rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #90ee90;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-drawer-P9w .navigate-JgD .trang-ch--FLZ .icon-home-LN1 {
  margin: 0rem 3.6rem 0rem 0rem;
  width: 4rem;
  height: 3.5505rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-drawer-P9w .navigate-JgD .trang-ch--FLZ .trang-ch-fQH {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-drawer-P9w .navigate-JgD .cn-h-8Hs {
  box-sizing: border-box;
  padding: 2.55rem 8.6rem 2.55rem 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #32cd32;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-drawer-P9w .navigate-JgD .cn-h-8Hs .icon-user-circle-alt-SJZ {
  margin: 0rem 6.6rem 0rem 0rem;
  width: 4rem;
  height: 4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-drawer-P9w .navigate-JgD .cn-h-8Hs .cn-h-AVT {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-drawer-P9w .navigate-JgD .ha-n-dtq {
  box-sizing: border-box;
  padding: 2.55rem 7.5rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #90ee90;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-drawer-P9w .navigate-JgD .ha-n-dtq .icon-wallet-LoF {
  margin: 0rem 5.5rem 0rem 0rem;
  width: 4rem;
  height: 3.644rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-drawer-P9w .navigate-JgD .ha-n-dtq .ha-n-VJm {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-drawer-P9w .navigate-JgD .phn-nh-WzZ {
  box-sizing: border-box;
  padding: 2.55rem 6.7rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #90ee90;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-drawer-P9w .navigate-JgD .phn-nh-WzZ .icon-message-text-FhF {
  margin: 0rem 4.7rem 0rem 0rem;
  width: 4rem;
  height: 3.9757rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-drawer-P9w .navigate-JgD .phn-nh-WzZ .phn-nh-LTo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-header-and-content-E3P {
  box-sizing: border-box;
  padding-bottom: 0.5rem;
  width: 109.4rem;
  height: 102.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-header-and-content-E3P .frame-header-LcD {
  margin-bottom: 4.8rem;
  box-sizing: border-box;
  padding: 2rem 0rem 2.8rem 1.4rem;
  width: 100%;
  height: 15.7rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #f0e68c;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-header-and-content-E3P .frame-header-LcD .thng-tin-h-dn-c-Twj {
  margin: 0rem 18.3rem 5rem 0rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-header-and-content-E3P .frame-header-LcD .auto-group-oykb-amT {
  margin: 2.3rem 0rem 2rem 0rem;
  height: calc(100% - 4.3rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-header-and-content-E3P .frame-header-LcD .auto-group-oykb-amT .name-and-first-name-XAu {
  margin-bottom: 0.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-header-and-content-E3P .frame-header-LcD .auto-group-oykb-amT .id-number-or-worker-number-fH7 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-header-and-content-E3P .frame-header-LcD .user-avatar-Z7b {
  margin-top: 0.9rem;
  width: 10rem;
  height: 10rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/user-avatar-bg-5F3.png');
  border-radius: 5rem;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-header-and-content-E3P .content-pZK {
  margin: 0 0.55rem;
  box-sizing: border-box;
  padding: 0rem 1.5rem 1.5rem 1.5rem;
  width: calc(100% - 1.1rem);
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-header-and-content-E3P .content-pZK .frame-appartment-basic-infos-vMT {
  margin: 0rem 22.8rem 6.3rem 22.8rem;
  width: calc(100% - 45.6rem);
  height: 4.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-header-and-content-E3P .content-pZK .frame-appartment-basic-infos-vMT .frame-3844-aS1 {
  margin-right: 6.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-header-and-content-E3P .content-pZK .frame-appartment-basic-infos-vMT .frame-3844-aS1 .c1-8TX {
  margin-right: 1.8rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-header-and-content-E3P .content-pZK .frame-appartment-basic-infos-vMT .frame-3844-aS1 .c1-TEu {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-header-and-content-E3P .content-pZK .frame-appartment-basic-infos-vMT .frame-3844-oZf {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-header-and-content-E3P .content-pZK .frame-appartment-basic-infos-vMT .frame-3844-oZf .c1-wfs {
  margin-right: 0.8rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-header-and-content-E3P .content-pZK .frame-appartment-basic-infos-vMT .frame-3844-oZf .c1-Hzd {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-header-and-content-E3P .content-pZK .frame-citizens-infos-Eey {
  margin: 0rem 1.95rem 26rem 1.35rem;
  width: calc(100% - 3.3rem);
  row-gap: 2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-header-and-content-E3P .content-pZK .frame-citizens-infos-Eey .header-AHj {
  box-sizing: border-box;
  padding: 1rem 1.25rem 0.9rem 3.65rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #808080;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-header-and-content-E3P .content-pZK .frame-citizens-infos-Eey .header-AHj .c1-6x5 {
  margin-right: 7.75rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #aeaeae;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-header-and-content-E3P .content-pZK .frame-citizens-infos-Eey .header-AHj .c2-Fa5 {
  margin-right: 11.6rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #aeaeae;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-header-and-content-E3P .content-pZK .frame-citizens-infos-Eey .header-AHj .c3-bdw {
  margin-right: 8.85rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #aeaeae;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-header-and-content-E3P .content-pZK .frame-citizens-infos-Eey .header-AHj .c4-HFs {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #aeaeae;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-header-and-content-E3P .content-pZK .frame-citizens-infos-Eey .header-2DT {
  box-sizing: border-box;
  padding: 0.5rem 0.2rem 0.5rem 0.9rem;
  width: 100%;
  height: 8.4rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.1rem #808080;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-header-and-content-E3P .content-pZK .frame-citizens-infos-Eey .header-2DT .c1-ic5 {
  margin: 0rem 5.2rem 1rem 0rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-header-and-content-E3P .content-pZK .frame-citizens-infos-Eey .header-2DT .c2-ekd {
  margin: 0rem 11.7rem 1rem 0rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-header-and-content-E3P .content-pZK .frame-citizens-infos-Eey .header-2DT .c3-C1T {
  margin: 0rem 6.4rem 1rem 0rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-header-and-content-E3P .content-pZK .frame-citizens-infos-Eey .header-2DT .frame-3838-j1P {
  margin-bottom: 1rem;
  width: 25.4rem;
  height: 6.4rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #040f0f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-header-and-content-E3P .content-pZK .frame-citizens-infos-Eey .header-aGu {
  box-sizing: border-box;
  padding: 0.5rem 0.2rem 0.5rem 1.5rem;
  width: 100%;
  height: 8.3rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #808080;
  background-color: #ffffff;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-header-and-content-E3P .content-pZK .frame-citizens-infos-Eey .header-aGu .c1-gqj {
  margin: 0rem 6.25rem 0.9rem 0rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-header-and-content-E3P .content-pZK .frame-citizens-infos-Eey .header-aGu .c2-2Po {
  margin: 0rem 15.8rem 0.9rem 0rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-header-and-content-E3P .content-pZK .frame-citizens-infos-Eey .header-aGu .c3-8hj {
  margin: 0rem 10.25rem 0.9rem 0rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-header-and-content-E3P .content-pZK .frame-citizens-infos-Eey .header-aGu .frame-3838-GZ3 {
  margin-bottom: 0.9rem;
  width: 25.4rem;
  height: 6.4rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #040f0f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-header-and-content-E3P .content-pZK .frame-citizens-infos-Eey .header-M4h {
  box-sizing: border-box;
  padding: 0.5rem 0.2rem 0.9rem 0.8rem;
  width: 100%;
  height: 7.8rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #808080;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-header-and-content-E3P .content-pZK .frame-citizens-infos-Eey .header-M4h .c1-TdX {
  margin-right: 4.7rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-header-and-content-E3P .content-pZK .frame-citizens-infos-Eey .header-M4h .c2-nfo {
  margin-right: 10.65rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-header-and-content-E3P .content-pZK .frame-citizens-infos-Eey .header-M4h .c3-ukR {
  margin-right: 5.95rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-header-and-content-E3P .content-pZK .frame-citizens-infos-Eey .header-M4h .frame-3838-psP {
  width: 25.4rem;
  height: 100%;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #040f0f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-header-and-content-E3P .content-pZK .button-6a1 {
  width: 100%;
  height: 6.4rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-header-and-content-E3P .content-pZK .button-6a1 .frame-turn-back-button-1ws {
  margin-right: 61.2rem;
  box-sizing: border-box;
  padding: 1rem 0.8rem 1rem 2.433rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #32cd32;
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-header-and-content-E3P .content-pZK .button-6a1 .frame-turn-back-button-1ws .corner-down-left-wKj {
  margin: 0rem 1.333rem 0rem 0rem;
  width: 1.3333rem;
  height: 1.3333rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-header-and-content-E3P .content-pZK .button-6a1 .frame-turn-back-button-1ws .quay-li-EJq {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #32cd32;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-h-dn-c-ei9 .frame-header-and-content-E3P .content-pZK .button-6a1 .frame-turn-back-button-k2H {
  width: 24.4rem;
  height: 100%;
  cursor: pointer;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #90ee90;
  border-radius: 2rem;
  flex-shrink: 0;
}
