
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.chnh-sa-dn-c-MbT {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
}
.chnh-sa-dn-c-MbT .frame-drawer-eKf {
  box-sizing: border-box;
  padding: 2.5rem 0rem 31.8rem 0rem;
  width: 34.6rem;
  height: 102.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  background-color: #f0e68c;
  flex-shrink: 0;
}
.chnh-sa-dn-c-MbT .frame-drawer-eKf .logo-H7j {
  margin: 0rem 3.7rem 5.1rem 3.7rem;
  width: calc(100% - 7.4rem);
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.chnh-sa-dn-c-MbT .frame-drawer-eKf .logo-H7j .app-logo-kX7 {
  width: 27.2rem;
  height: 25rem;
  object-fit: cover;
  vertical-align: top;
}
.chnh-sa-dn-c-MbT .frame-drawer-eKf .navigate-oVP {
  margin-right: 0.1rem;
  width: 34.5rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.chnh-sa-dn-c-MbT .frame-drawer-eKf .navigate-oVP .trang-ch--Jh3 {
  box-sizing: border-box;
  padding: 2.55rem 5.6rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #90ee90;
  flex-shrink: 0;
}
.chnh-sa-dn-c-MbT .frame-drawer-eKf .navigate-oVP .trang-ch--Jh3 .icon-home-bg9 {
  margin: 0rem 3.6rem 0rem 0rem;
  width: 4rem;
  height: 3.5505rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.chnh-sa-dn-c-MbT .frame-drawer-eKf .navigate-oVP .trang-ch--Jh3 .trang-ch-3Y9 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chnh-sa-dn-c-MbT .frame-drawer-eKf .navigate-oVP .cn-h-E6q {
  box-sizing: border-box;
  padding: 2.55rem 8.6rem 2.55rem 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #32cd32;
  flex-shrink: 0;
}
.chnh-sa-dn-c-MbT .frame-drawer-eKf .navigate-oVP .cn-h-E6q .icon-user-circle-alt-uCy {
  margin: 0rem 6.6rem 0rem 0rem;
  width: 4rem;
  height: 4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.chnh-sa-dn-c-MbT .frame-drawer-eKf .navigate-oVP .cn-h-E6q .cn-h-8bX {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chnh-sa-dn-c-MbT .frame-drawer-eKf .navigate-oVP .ha-n-oBs {
  box-sizing: border-box;
  padding: 2.55rem 7.5rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #90ee90;
  flex-shrink: 0;
}
.chnh-sa-dn-c-MbT .frame-drawer-eKf .navigate-oVP .ha-n-oBs .icon-wallet-6gm {
  margin: 0rem 5.5rem 0rem 0rem;
  width: 4rem;
  height: 3.644rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.chnh-sa-dn-c-MbT .frame-drawer-eKf .navigate-oVP .ha-n-oBs .ha-n-mnu {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chnh-sa-dn-c-MbT .frame-drawer-eKf .navigate-oVP .phn-nh-qXs {
  box-sizing: border-box;
  padding: 2.55rem 6.7rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #90ee90;
  flex-shrink: 0;
}
.chnh-sa-dn-c-MbT .frame-drawer-eKf .navigate-oVP .phn-nh-qXs .icon-message-text-goP {
  margin: 0rem 4.7rem 0rem 0rem;
  width: 4rem;
  height: 3.9757rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.chnh-sa-dn-c-MbT .frame-drawer-eKf .navigate-oVP .phn-nh-qXs .phn-nh-BEM {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB {
  width: 109.4rem;
  height: 102.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .frame-header-U6y {
  margin: 0 0.15rem;
  box-sizing: border-box;
  padding: 1.4rem 1.9rem 1.4rem 1.1rem;
  width: calc(100% - 0.3rem);
  height: 12.8rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #f0e68c;
  flex-shrink: 0;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .frame-header-U6y .thng-tin-c-dn-WJZ {
  margin: 0rem 20.2rem 4.1rem 0rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .frame-header-U6y .group-user-info-vt5 {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .frame-header-U6y .group-user-info-vt5 .auto-group-mnuk-eZB {
  margin: 1.9rem 3.2rem 1.6rem 0rem;
  height: calc(100% - 3.5rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .frame-header-U6y .group-user-info-vt5 .auto-group-mnuk-eZB .name-and-first-name-wYH {
  margin-bottom: 0.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .frame-header-U6y .group-user-info-vt5 .auto-group-mnuk-eZB .id-number-or-worker-number-3bK {
  margin-right: 0.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .frame-header-U6y .group-user-info-vt5 .user-avatar-6pV {
  width: 10rem;
  height: 10rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/user-avatar-bg-tjP.png');
  border-radius: 5rem;
  flex-shrink: 0;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP {
  box-sizing: border-box;
  padding: 1.5rem 2.05rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s {
  margin: 0rem 1.95rem 10.4rem 1.95rem;
  width: calc(100% - 3.9rem);
  height: 69.8rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-types-of-infos-WFw {
  width: 46.9rem;
  height: 65.2rem;
  position: absolute;
  left: 0;
  top: 0;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-types-of-infos-WFw .auto-group-3auy-yvD {
  box-sizing: border-box;
  padding-bottom: 2rem;
  width: 100%;
  row-gap: 2rem;
  display: flex;
  flex-direction: column;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-types-of-infos-WFw .auto-group-3auy-yvD .frame-3849-rUD {
  box-sizing: border-box;
  padding: 1rem 0;
  width: 30.9rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-types-of-infos-WFw .auto-group-3auy-yvD .frame-3850-fAm {
  box-sizing: border-box;
  padding: 1rem 0;
  width: 21.5rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-types-of-infos-WFw .auto-group-3auy-yvD .frame-3845-tpD {
  width: 16.3rem;
  height: 6.4rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-types-of-infos-WFw .auto-group-3auy-yvD .frame-3846-mND {
  box-sizing: border-box;
  padding: 1rem 0;
  width: 31.4rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-types-of-infos-WFw .auto-group-3auy-yvD .frame-3851-SjF {
  box-sizing: border-box;
  padding: 1rem 0;
  width: 24.8rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-types-of-infos-WFw .auto-group-3auy-yvD .frame-3845-74h {
  box-sizing: border-box;
  padding: 1rem 0;
  width: 27.7rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-types-of-infos-WFw .frame-3852-xb7 {
  margin-bottom: 2rem;
  box-sizing: border-box;
  padding: 1rem 0;
  width: 100%;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-types-of-infos-WFw .frame-3845-36m {
  width: 34.2rem;
  height: 6.4rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-info-4Gm {
  width: 63.7rem;
  height: 69.8rem;
  position: absolute;
  left: 37.7rem;
  top: 0;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-info-4Gm .thi-gian-jNu {
  width: 63.7rem;
  height: 10rem;
  position: absolute;
  left: 0;
  top: 0;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-info-4Gm .thi-gian-jNu .auto-group-qwuh-4AH {
  width: 100%;
  height: 5.4rem;
  position: relative;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-info-4Gm .thi-gian-jNu .auto-group-qwuh-4AH .label-text-bAD {
  width: 9.1rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #040f0f;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-info-4Gm .thi-gian-jNu .auto-group-qwuh-4AH .input-field-5LH {
  box-sizing: border-box;
  padding: 0 1rem;
  width: 62.7rem;
  height: 4.4rem;
  position: absolute;
  left: 1rem;
  top: 1rem;
  border: solid 0.2rem #000000;
  border-radius: 0.8rem;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-info-4Gm .thi-gian-jNu .auto-group-qwuh-4AH .input-field-5LH .lead-icon-text-iPF {
  margin-right: 37.5rem;
  width: 23.2rem;
  height: 100%;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2;
  color: #040f0f;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-info-4Gm .thi-gian-W4D {
  width: 31rem;
  height: 10rem;
  position: absolute;
  left: 0;
  top: 8.5429rem;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-info-4Gm .thi-gian-W4D .auto-group-t9bz-QvH {
  width: 100%;
  height: 5.4rem;
  position: relative;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-info-4Gm .thi-gian-W4D .auto-group-t9bz-QvH .label-text-kDT {
  width: 9.1rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #040f0f;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-info-4Gm .thi-gian-W4D .auto-group-t9bz-QvH .input-field-CbF {
  box-sizing: border-box;
  padding: 1.2rem 1.8rem 1.2rem 1.2rem;
  width: 30rem;
  height: 4.4rem;
  position: absolute;
  left: 1rem;
  top: 1rem;
  display: flex;
  align-items: center;
  border: solid 0.2rem #000000;
  border-radius: 0.8rem;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-info-4Gm .thi-gian-W4D .auto-group-t9bz-QvH .input-field-CbF .lead-icon-text-47f {
  margin-right: 5rem;
  box-sizing: border-box;
  padding-left: 2.8rem;
  height: 100%;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 0.7142857143;
  color: #040f0f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-info-4Gm .thi-gian-W4D .auto-group-t9bz-QvH .input-field-CbF .icon-fill-caret-small-down-tcV {
  width: 0.8rem;
  height: 0.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-info-4Gm .thi-gian-6Cm {
  width: 31.8rem;
  height: 10rem;
  position: absolute;
  left: 0;
  top: 17.0857rem;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-info-4Gm .thi-gian-6Cm .auto-group-fksf-ocy {
  width: 100%;
  height: 5.4rem;
  position: relative;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-info-4Gm .thi-gian-6Cm .auto-group-fksf-ocy .label-text-K5X {
  width: 9.1rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #040f0f;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-info-4Gm .thi-gian-6Cm .auto-group-fksf-ocy .input-field-b33 {
  box-sizing: border-box;
  padding: 1.2rem;
  width: 30.8rem;
  height: 4.4rem;
  position: absolute;
  left: 1rem;
  top: 1rem;
  border: solid 0.2rem #000000;
  border-radius: 0.8rem;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-info-4Gm .thi-gian-6Cm .auto-group-fksf-ocy .input-field-b33 .lead-icon-text-FtH {
  margin-right: 20.5rem;
  width: 7.9rem;
  height: 100%;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 0.5555555556;
  color: #040f0f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-info-4Gm .thi-gian-4aq {
  width: 63.7rem;
  height: 10rem;
  position: absolute;
  left: 0;
  top: 25.6286rem;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-info-4Gm .thi-gian-4aq .auto-group-tndq-73K {
  width: 100%;
  height: 5.4rem;
  position: relative;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-info-4Gm .thi-gian-4aq .auto-group-tndq-73K .label-text-e3F {
  width: 9.1rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #040f0f;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-info-4Gm .thi-gian-4aq .auto-group-tndq-73K .input-field-8UD {
  box-sizing: border-box;
  padding: 0 1rem;
  width: 62.7rem;
  height: 4.4rem;
  position: absolute;
  left: 1rem;
  top: 1rem;
  border: solid 0.2rem #000000;
  border-radius: 0.8rem;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-info-4Gm .thi-gian-4aq .auto-group-tndq-73K .input-field-8UD .lead-icon-text-E1T {
  margin-right: 35.6rem;
  width: 25.1rem;
  height: 100%;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2;
  color: #040f0f;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-info-4Gm .thi-gian-Rrd {
  width: 63.7rem;
  height: 10rem;
  position: absolute;
  left: 0;
  top: 34.1714rem;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-info-4Gm .thi-gian-Rrd .auto-group-ed8f-Lyb {
  width: 100%;
  height: 5.4rem;
  position: relative;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-info-4Gm .thi-gian-Rrd .auto-group-ed8f-Lyb .label-text-Fam {
  width: 9.1rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #040f0f;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-info-4Gm .thi-gian-Rrd .auto-group-ed8f-Lyb .input-field-XHP {
  box-sizing: border-box;
  padding: 0 1rem;
  width: 62.7rem;
  height: 4.4rem;
  position: absolute;
  left: 1rem;
  top: 1rem;
  border: solid 0.2rem #000000;
  border-radius: 0.8rem;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-info-4Gm .thi-gian-Rrd .auto-group-ed8f-Lyb .input-field-XHP .lead-icon-text-RNm {
  margin-right: 43.8rem;
  width: 16.9rem;
  height: 100%;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2;
  color: #040f0f;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-info-4Gm .thi-gian-SYm {
  width: 63.7rem;
  height: 10rem;
  position: absolute;
  left: 0;
  top: 42.7143rem;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-info-4Gm .thi-gian-SYm .auto-group-ntnb-8Rb {
  width: 100%;
  height: 5.4rem;
  position: relative;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-info-4Gm .thi-gian-SYm .auto-group-ntnb-8Rb .label-text-EzR {
  width: 9.1rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #040f0f;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-info-4Gm .thi-gian-SYm .auto-group-ntnb-8Rb .input-field-WS9 {
  box-sizing: border-box;
  padding: 0 1rem;
  width: 62.7rem;
  height: 4.4rem;
  position: absolute;
  left: 1rem;
  top: 1rem;
  border: solid 0.2rem #000000;
  border-radius: 0.8rem;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-info-4Gm .thi-gian-SYm .auto-group-ntnb-8Rb .input-field-WS9 .lead-icon-text-9k1 {
  margin-right: 39.3rem;
  width: 21.4rem;
  height: 100%;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #040f0f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-info-4Gm .thi-gian-kE1 {
  width: 63.7rem;
  height: 10rem;
  position: absolute;
  left: 0;
  top: 51.2571rem;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-info-4Gm .thi-gian-kE1 .auto-group-jhmd-rnq {
  width: 100%;
  height: 5.4rem;
  position: relative;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-info-4Gm .thi-gian-kE1 .auto-group-jhmd-rnq .label-text-CLu {
  width: 9.1rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #040f0f;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-info-4Gm .thi-gian-kE1 .auto-group-jhmd-rnq .input-field-VL1 {
  box-sizing: border-box;
  padding: 0 1rem;
  width: 62.7rem;
  height: 4.4rem;
  position: absolute;
  left: 1rem;
  top: 1rem;
  border: solid 0.2rem #000000;
  border-radius: 0.8rem;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-info-4Gm .thi-gian-kE1 .auto-group-jhmd-rnq .input-field-VL1 .lead-icon-text-bP3 {
  margin-right: 20.1rem;
  width: 40.6rem;
  height: 100%;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-info-4Gm .thi-gian-kE1 .auto-group-jhmd-rnq .input-field-VL1 .lead-icon-text-bP3 .cursor-text-X1o {
  width: 100%;
  height: 100%;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  text-decoration-line: underline;
  color: #040f0f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-info-4Gm .thi-gian-kE1 .auto-group-jhmd-rnq .input-field-VL1 .lead-icon-text-bP3 .cursor-text-X1o .cursor-text-X1o-sub-0 {
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-info-4Gm .thi-gian-kE1 .auto-group-jhmd-rnq .input-field-VL1 .lead-icon-text-bP3 .cursor-text-X1o .cursor-text-X1o-sub-1 {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  text-decoration-line: underline;
  color: #040f0f;
  font-family: Inter, 'Source Sans Pro';
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-info-4Gm .thi-gian-itu {
  width: 31rem;
  height: 10rem;
  position: absolute;
  left: 0;
  top: 59.8rem;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-info-4Gm .thi-gian-itu .auto-group-qxfy-3AV {
  width: 100%;
  height: 5.4rem;
  position: relative;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-info-4Gm .thi-gian-itu .auto-group-qxfy-3AV .label-text-aRK {
  width: 9.1rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #040f0f;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-info-4Gm .thi-gian-itu .auto-group-qxfy-3AV .input-field-341 {
  box-sizing: border-box;
  padding: 1.2rem 1.8rem 1.2rem 1.2rem;
  width: 30rem;
  height: 4.4rem;
  position: absolute;
  left: 1rem;
  top: 1rem;
  display: flex;
  align-items: center;
  border: solid 0.2rem #000000;
  border-radius: 0.8rem;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-info-4Gm .thi-gian-itu .auto-group-qxfy-3AV .input-field-341 .lead-icon-text-U9K {
  margin-right: 9.2rem;
  box-sizing: border-box;
  padding-left: 7rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 0.7142857143;
  color: #040f0f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .form-25s .frame-info-4Gm .thi-gian-itu .auto-group-qxfy-3AV .input-field-341 .icon-fill-caret-small-down-fzV {
  width: 0.8rem;
  height: 0.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .button-JGm {
  width: 100%;
  height: 6.4rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .button-JGm .frame-turn-back-button-bFs {
  margin-right: 59.95rem;
  box-sizing: border-box;
  padding: 1rem 0.8rem 1rem 2.433rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #32cd32;
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .button-JGm .frame-turn-back-button-bFs .corner-down-left-Gso {
  margin: 0rem 1.333rem 0rem 0rem;
  width: 1.3333rem;
  height: 1.3333rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .button-JGm .frame-turn-back-button-bFs .quay-li-Z6D {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #32cd32;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chnh-sa-dn-c-MbT .frame-header-and-content-AMB .content-8FP .button-JGm .frame-3852-xu3 {
  width: 25.65rem;
  height: 100%;
  cursor: pointer;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #90ee90;
  box-sizing: border-box;
  background-color: #90ee90;
  border-radius: 2rem;
  flex-shrink: 0;
}
