
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.nhp-m-thit-lp-DRP {
  box-sizing: border-box;
  padding: 14.8rem 30.2rem;
  width: 100%;
  height: 102.4rem;
  overflow: hidden;
  position: relative;
  background-color: #f0e68c;
}
.nhp-m-thit-lp-DRP .frame-3914-YiZ {
  box-sizing: border-box;
  padding-bottom: 10.05rem;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}
.nhp-m-thit-lp-DRP .frame-3914-YiZ .sign-in-Vth {
  margin-bottom: 10.05rem;
  width: 100%;
  height: 10.4rem;
  overflow: hidden;
  position: relative;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  text-decoration-line: underline;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  flex-shrink: 0;
}
.nhp-m-thit-lp-DRP .frame-3914-YiZ .sign-in-form-nso {
  margin: 0 10.6rem;
  width: calc(100% - 21.2rem);
  height: 42.3rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  flex-shrink: 0;
}
.nhp-m-thit-lp-DRP .frame-3914-YiZ .sign-in-form-nso .frame-3929-Woo {
  box-sizing: border-box;
  padding-top: 1.55rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.nhp-m-thit-lp-DRP .frame-3914-YiZ .sign-in-form-nso .frame-3929-Woo .form-fAu {
  margin-bottom: 7.8rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  row-gap: 1.7rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.nhp-m-thit-lp-DRP .frame-3914-YiZ .sign-in-form-nso .frame-3929-Woo .form-fAu .username-cM3 {
  display: flex;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.nhp-m-thit-lp-DRP .frame-3914-YiZ .sign-in-form-nso .frame-3929-Woo .form-fAu .frame-3926-MZX {
  box-sizing: border-box;
  padding: 1.75rem 3.1946rem;
  width: 100%;
  display: flex;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #f0e68c;
  flex-shrink: 0;
}
.nhp-m-thit-lp-DRP .frame-3914-YiZ .sign-in-form-nso .frame-3929-Woo .form-fAu .password-ENR {
  display: flex;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #b0b0b0;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.nhp-m-thit-lp-DRP .frame-3914-YiZ .sign-in-form-nso .frame-3929-Woo .classify-wGq {
  margin-bottom: 6.25rem;
  width: 100%;
  height: 4rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.nhp-m-thit-lp-DRP .frame-3914-YiZ .sign-in-form-nso .frame-3929-Woo .button-F2d {
  width: 100%;
  height: 6.4rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #90ee90;
  border-radius: 2rem;
  flex-shrink: 0;
}
