
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.ql-cc-cn-h-xQu {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.ql-cc-cn-h-xQu .frame-drawer-U8M {
  box-sizing: border-box;
  padding: 2.5rem 0rem 31.8rem 0rem;
  width: 34.6rem;
  height: 102.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  background-color: #f0e68c;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-drawer-U8M .logo-BHf {
  margin: 0rem 3.7rem 5.1rem 3.7rem;
  width: calc(100% - 7.4rem);
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-drawer-U8M .logo-BHf .app-logo-hWu {
  width: 27.2rem;
  height: 25rem;
  object-fit: cover;
  vertical-align: top;
}
.ql-cc-cn-h-xQu .frame-drawer-U8M .navigate-qd7 {
  margin-right: 0.1rem;
  width: 34.5rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-drawer-U8M .navigate-qd7 .trang-ch--BS5 {
  box-sizing: border-box;
  padding: 2.55rem 5.6rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #90ee90;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-drawer-U8M .navigate-qd7 .trang-ch--BS5 .icon-home-6Z3 {
  margin: 0rem 3.6rem 0rem 0rem;
  width: 4rem;
  height: 3.5505rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-drawer-U8M .navigate-qd7 .trang-ch--BS5 .trang-ch-Cc5 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-drawer-U8M .navigate-qd7 .cn-h-Qy3 {
  box-sizing: border-box;
  padding: 2.55rem 8.6rem 2.55rem 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #32cd32;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-drawer-U8M .navigate-qd7 .cn-h-Qy3 .icon-user-circle-alt-9fj {
  margin: 0rem 6.6rem 0rem 0rem;
  width: 4rem;
  height: 4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-drawer-U8M .navigate-qd7 .cn-h-Qy3 .cn-h-5ZP {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-drawer-U8M .navigate-qd7 .ha-n-CP7 {
  box-sizing: border-box;
  padding: 2.55rem 7.5rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #90ee90;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-drawer-U8M .navigate-qd7 .ha-n-CP7 .icon-wallet-JS9 {
  margin: 0rem 5.5rem 0rem 0rem;
  width: 4rem;
  height: 3.644rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-drawer-U8M .navigate-qd7 .ha-n-CP7 .ha-n-ns7 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-drawer-U8M .navigate-qd7 .phn-nh-W2R {
  box-sizing: border-box;
  padding: 2.55rem 6.7rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #90ee90;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-drawer-U8M .navigate-qd7 .phn-nh-W2R .icon-message-text-e8d {
  margin: 0rem 4.7rem 0rem 0rem;
  width: 4rem;
  height: 3.9757rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-drawer-U8M .navigate-qd7 .phn-nh-W2R .phn-nh-B8Z {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-header-and-content--F8R {
  box-sizing: border-box;
  padding-bottom: 18.7rem;
  width: 109.4rem;
  height: 102.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-header-and-content--F8R .frame-header-ZQ1 {
  margin-bottom: 2.5rem;
  box-sizing: border-box;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  width: 100%;
  height: 13rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #f0e68c;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-header-and-content--F8R .frame-header-ZQ1 .h-dn-c-4rZ {
  margin: 0rem 41.5rem 4.1rem 0rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-header-and-content--F8R .frame-header-ZQ1 .group-user-info-Ymj {
  width: 40.7rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-header-and-content--F8R .frame-header-ZQ1 .group-user-info-Ymj .user-avatar-5Wm {
  width: 9.2199rem;
  height: 10rem;
  position: absolute;
  left: 31.4801rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.ql-cc-cn-h-xQu .frame-header-and-content--F8R .frame-header-ZQ1 .group-user-info-Ymj .name-and-first-name-d2V {
  width: 24.6rem;
  height: 3rem;
  position: absolute;
  left: 6.298rem;
  top: 2.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.ql-cc-cn-h-xQu .frame-header-and-content--F8R .frame-header-ZQ1 .group-user-info-Ymj .id-number-or-worker-number-WMB {
  width: 32.5rem;
  height: 3rem;
  position: absolute;
  left: 0;
  top: 5.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.ql-cc-cn-h-xQu .frame-header-and-content--F8R .frame-3917-bdX {
  margin: 0 1.5rem;
  width: calc(100% - 3rem);
  height: 68.2rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-header-and-content--F8R .frame-3917-bdX .frame-3950-87f {
  width: 55.4rem;
  height: 10rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: flex-start;
}
.ql-cc-cn-h-xQu .frame-header-and-content--F8R .frame-3917-bdX .frame-3950-87f .frame-search-bar-erh {
  margin-right: 2rem;
  width: 49rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-header-and-content--F8R .frame-3917-bdX .frame-3950-87f .frame-search-bar-erh .search-1BT {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: 1.25rem;
  top: 1.75rem;
  object-fit: contain;
  vertical-align: top;
}
.ql-cc-cn-h-xQu .frame-header-and-content--F8R .frame-3917-bdX .frame-3950-87f .frame-search-bar-erh .search-kPw {
  width: 49rem;
  height: 10rem;
  position: absolute;
  left: 0;
  top: 0;
}
.ql-cc-cn-h-xQu .frame-header-and-content--F8R .frame-3917-bdX .frame-3950-87f .frame-search-bar-erh .search-kPw .auto-group-7srb-Hem {
  width: 100%;
  height: 4.4rem;
  position: relative;
}
.ql-cc-cn-h-xQu .frame-header-and-content--F8R .frame-3917-bdX .frame-3950-87f .frame-search-bar-erh .search-kPw .auto-group-7srb-Hem .label-text-qwB {
  width: 9.1rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #040f0f;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
}
.ql-cc-cn-h-xQu .frame-header-and-content--F8R .frame-3917-bdX .frame-3950-87f .frame-search-bar-erh .search-kPw .auto-group-7srb-Hem .input-field-KrM {
  box-sizing: border-box;
  padding: 1.2rem;
  width: 49rem;
  height: 4.4rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.2rem #000000;
  border-radius: 0.8rem;
}
.ql-cc-cn-h-xQu .frame-header-and-content--F8R .frame-3917-bdX .frame-3950-87f .frame-search-bar-erh .search-kPw .auto-group-7srb-Hem .input-field-KrM .lead-icon-text-ffK {
  box-sizing: border-box;
  padding-left: 0.1875rem;
  width: 20.4rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.ql-cc-cn-h-xQu .frame-header-and-content--F8R .frame-3917-bdX .frame-3950-87f .frame-search-bar-erh .search-kPw .auto-group-7srb-Hem .input-field-KrM .lead-icon-text-ffK .icon-outline-layer-njw {
  margin-right: 1.3875rem;
  width: 1.625rem;
  height: 1.625rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-header-and-content--F8R .frame-3917-bdX .frame-3950-87f .frame-search-bar-erh .search-kPw .auto-group-7srb-Hem .input-field-KrM .lead-icon-text-ffK .insert-text-here-QmK {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 0.5555555556;
  color: #040f0f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-header-and-content--F8R .frame-3917-bdX .frame-3950-87f .frame-3963-ui5 {
  width: 4.4rem;
  height: 4.4rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-header-and-content--F8R .frame-3917-bdX .frame-appartment-infos-de5 {
  width: 106.4rem;
  height: 61.3rem;
  position: absolute;
  left: 0;
  top: 6.9rem;
  row-gap: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.ql-cc-cn-h-xQu .frame-header-and-content--F8R .frame-3917-bdX .frame-appartment-infos-de5 .header-wem {
  box-sizing: border-box;
  padding: 1rem 8.933rem 0.9rem 11.683rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #808080;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-header-and-content--F8R .frame-3917-bdX .frame-appartment-infos-de5 .header-wem .c1-SrR {
  margin-right: 0.1167rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #aeaeae;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-header-and-content--F8R .frame-3917-bdX .frame-appartment-infos-de5 .header-wem .c4-axd {
  margin-right: 5rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #aeaeae;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-header-and-content--F8R .frame-3917-bdX .frame-appartment-infos-de5 .header-wem .c2-uV7 {
  margin-right: 17.5667rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #aeaeae;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-header-and-content--F8R .frame-3917-bdX .frame-appartment-infos-de5 .header-wem .c3-bsj {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #aeaeae;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-header-and-content--F8R .frame-3917-bdX .frame-appartment-infos-de5 .header-vv1 {
  box-sizing: border-box;
  padding: 1.5rem 12.517rem 2.5rem 13.067rem;
  width: 100%;
  height: 8.4rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.1rem #808080;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-header-and-content--F8R .frame-3917-bdX .frame-appartment-infos-de5 .header-vv1 .c1-B5F {
  margin-right: 29.3833rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-header-and-content--F8R .frame-3917-bdX .frame-appartment-infos-de5 .header-vv1 .c2-7zV {
  margin-right: 28.8333rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-header-and-content--F8R .frame-3917-bdX .frame-appartment-infos-de5 .header-vv1 .c3-4eq {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-header-and-content--F8R .frame-3917-bdX .frame-appartment-infos-de5 .header-zHb {
  box-sizing: border-box;
  padding: 0rem 8.917rem 0rem 12.817rem;
  width: 100%;
  height: 8.3rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #808080;
  background-color: #ffffff;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-header-and-content--F8R .frame-3917-bdX .frame-appartment-infos-de5 .header-zHb .auto-group-v3o1-jFB {
  margin: 0rem 15.65rem 1.9rem 0rem;
  box-sizing: border-box;
  padding: 1.5rem 0rem 0.5rem 0rem;
  width: 23.5833rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-header-and-content--F8R .frame-3917-bdX .frame-appartment-infos-de5 .header-zHb .c2-C8m {
  margin: 0rem 25.933rem 0.9rem 0rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-header-and-content--F8R .frame-3917-bdX .frame-appartment-infos-de5 .header-zHb .c3-XRw {
  margin-bottom: 0.9rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-header-and-content--F8R .frame-3917-bdX .frame-appartment-infos-de5 .header-RXK {
  box-sizing: border-box;
  padding: 0rem 12.817rem 0rem 12.767rem;
  width: 100%;
  height: 7.8rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #808080;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-header-and-content--F8R .frame-3917-bdX .frame-appartment-infos-de5 .header-RXK .auto-group-eukr-mLH {
  margin: 0rem 15.65rem 1.4rem 0rem;
  box-sizing: border-box;
  padding: 1.5rem 0rem 0.5rem 0rem;
  width: 23.6333rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-header-and-content--F8R .frame-3917-bdX .frame-appartment-infos-de5 .header-RXK .c2-Qu3 {
  margin: 0rem 29.233rem 0.4rem 0rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-header-and-content--F8R .frame-3917-bdX .frame-appartment-infos-de5 .header-RXK .c3-9Lq {
  margin-bottom: 0.4rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-header-and-content--F8R .frame-3917-bdX .frame-appartment-infos-de5 .header-rW9 {
  box-sizing: border-box;
  padding: 0rem 12.517rem 0rem 12.817rem;
  width: 100%;
  height: 8.4rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.1rem #808080;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-header-and-content--F8R .frame-3917-bdX .frame-appartment-infos-de5 .header-rW9 .auto-group-7y4p-bCq {
  margin: 0rem 15.6rem 2rem 0rem;
  box-sizing: border-box;
  padding: 1.5rem 0rem 0.5rem 0rem;
  width: 23.5833rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-header-and-content--F8R .frame-3917-bdX .frame-appartment-infos-de5 .header-rW9 .c2-5Nu {
  margin: 0rem 28.783rem 1rem 0rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-header-and-content--F8R .frame-3917-bdX .frame-appartment-infos-de5 .header-rW9 .c3-wR7 {
  margin-bottom: 1rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-header-and-content--F8R .frame-3917-bdX .frame-appartment-infos-de5 .header-rny {
  box-sizing: border-box;
  padding: 0rem 8.917rem 0rem 12.567rem;
  width: 100%;
  height: 8.3rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #808080;
  background-color: #ffffff;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-header-and-content--F8R .frame-3917-bdX .frame-appartment-infos-de5 .header-rny .auto-group-wrh5-nRj {
  margin: 0rem 15.7rem 1.9rem 0rem;
  box-sizing: border-box;
  padding: 1.5rem 0rem 0.5rem 0rem;
  width: 23.8333rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-header-and-content--F8R .frame-3917-bdX .frame-appartment-infos-de5 .header-rny .c2-fEd {
  margin: 0rem 25.983rem 0.9rem 0rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-header-and-content--F8R .frame-3917-bdX .frame-appartment-infos-de5 .header-rny .c3-NPw {
  margin-bottom: 0.9rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-header-and-content--F8R .frame-3917-bdX .frame-appartment-infos-de5 .header-H17 {
  box-sizing: border-box;
  padding: 0rem 12.517rem 0rem 12.517rem;
  width: 100%;
  height: 7.8rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #808080;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-header-and-content--F8R .frame-3917-bdX .frame-appartment-infos-de5 .header-H17 .auto-group-jhzb-bXb {
  margin: 0rem 15.95rem 1.4rem 0rem;
  box-sizing: border-box;
  padding: 1.5rem 0rem 0.5rem 0rem;
  width: 23.8833rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-header-and-content--F8R .frame-3917-bdX .frame-appartment-infos-de5 .header-H17 .c2-fGZ {
  margin: 0rem 29.133rem 0.4rem 0rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ql-cc-cn-h-xQu .frame-header-and-content--F8R .frame-3917-bdX .frame-appartment-infos-de5 .header-H17 .c3-bg1 {
  margin-bottom: 0.4rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
