
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.to-phn-nh--KNd {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
}
.to-phn-nh--KNd .frame-drawer-FXB {
  box-sizing: border-box;
  padding: 2.5rem 0rem 31.8rem 0rem;
  width: 34.6rem;
  height: 102.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  background-color: #f0e68c;
  flex-shrink: 0;
}
.to-phn-nh--KNd .frame-drawer-FXB .logo-XzV {
  margin: 0rem 3.7rem 5.1rem 3.7rem;
  width: calc(100% - 7.4rem);
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.to-phn-nh--KNd .frame-drawer-FXB .logo-XzV .app-logo-soT {
  width: 27.2rem;
  height: 25rem;
  object-fit: cover;
  vertical-align: top;
}
.to-phn-nh--KNd .frame-drawer-FXB .navigate-18y {
  margin-right: 0.1rem;
  width: 34.5rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.to-phn-nh--KNd .frame-drawer-FXB .navigate-18y .trang-ch--LBF {
  box-sizing: border-box;
  padding: 2.55rem 5.6rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #90ee90;
  flex-shrink: 0;
}
.to-phn-nh--KNd .frame-drawer-FXB .navigate-18y .trang-ch--LBF .icon-home-q81 {
  margin: 0rem 3.6rem 0rem 0rem;
  width: 4rem;
  height: 3.5505rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.to-phn-nh--KNd .frame-drawer-FXB .navigate-18y .trang-ch--LBF .trang-ch-ZZo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.to-phn-nh--KNd .frame-drawer-FXB .navigate-18y .cn-h-roo {
  box-sizing: border-box;
  padding: 2.55rem 8.6rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #90ee90;
  flex-shrink: 0;
}
.to-phn-nh--KNd .frame-drawer-FXB .navigate-18y .cn-h-roo .icon-user-circle-alt-Ccm {
  margin: 0rem 6.6rem 0rem 0rem;
  width: 4rem;
  height: 4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.to-phn-nh--KNd .frame-drawer-FXB .navigate-18y .cn-h-roo .cn-h-V65 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.to-phn-nh--KNd .frame-drawer-FXB .navigate-18y .ha-n-NvZ {
  box-sizing: border-box;
  padding: 2.55rem 7.5rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #90ee90;
  flex-shrink: 0;
}
.to-phn-nh--KNd .frame-drawer-FXB .navigate-18y .ha-n-NvZ .icon-wallet-7t9 {
  margin: 0rem 5.5rem 0rem 0rem;
  width: 4rem;
  height: 3.644rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.to-phn-nh--KNd .frame-drawer-FXB .navigate-18y .ha-n-NvZ .ha-n-FDf {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.to-phn-nh--KNd .frame-drawer-FXB .navigate-18y .phn-nh-ZVF {
  box-sizing: border-box;
  padding: 2.55rem 6.7rem 2.55rem 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #32cd32;
  flex-shrink: 0;
}
.to-phn-nh--KNd .frame-drawer-FXB .navigate-18y .phn-nh-ZVF .icon-message-text-tGd {
  margin: 0rem 4.7rem 0rem 0rem;
  width: 4rem;
  height: 3.9757rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.to-phn-nh--KNd .frame-drawer-FXB .navigate-18y .phn-nh-ZVF .phn-nh-DZo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.to-phn-nh--KNd .frame-3983-iFf {
  width: 109.4rem;
  height: 102.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.to-phn-nh--KNd .frame-3983-iFf .frame-header-Tj3 {
  box-sizing: border-box;
  padding: 1.4rem 1rem 1.5rem 1rem;
  width: 100%;
  height: 12.9rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #f0e68c;
  flex-shrink: 0;
}
.to-phn-nh--KNd .frame-3983-iFf .frame-header-Tj3 .phn-nh-Nr1 {
  margin: 0rem 41.4rem 4.1rem 0rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.to-phn-nh--KNd .frame-3983-iFf .frame-header-Tj3 .group-user-info-s25 {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.to-phn-nh--KNd .frame-3983-iFf .frame-header-Tj3 .group-user-info-s25 .auto-group-mhxh-aSH {
  margin: 2.1rem 1.2rem 1.5rem 0rem;
  height: calc(100% - 3.6rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.to-phn-nh--KNd .frame-3983-iFf .frame-header-Tj3 .group-user-info-s25 .auto-group-mhxh-aSH .name-and-first-name-Waq {
  margin-bottom: 0.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.to-phn-nh--KNd .frame-3983-iFf .frame-header-Tj3 .group-user-info-s25 .auto-group-mhxh-aSH .id-number-or-worker-number-SjP {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.to-phn-nh--KNd .frame-3983-iFf .frame-header-Tj3 .group-user-info-s25 .user-avatar-yzD {
  width: 10rem;
  height: 10rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/user-avatar-bg-jDw.png');
  border-radius: 5rem;
  flex-shrink: 0;
}
.to-phn-nh--KNd .frame-3983-iFf .auto-group-zi5h-GiR {
  box-sizing: border-box;
  padding: 1.5rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.to-phn-nh--KNd .frame-3983-iFf .auto-group-zi5h-GiR .frame-3889-Ddf {
  margin: 0rem 0rem 3rem 1.5rem;
  width: calc(100% - 1.5rem);
  height: 77.1rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.to-phn-nh--KNd .frame-3983-iFf .auto-group-zi5h-GiR .frame-3889-Ddf .tn-s-h-s-in-thoi-ni-dung-9XK {
  margin-right: 2.9rem;
  max-width: 17.7rem;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  flex-shrink: 0;
}
.to-phn-nh--KNd .frame-3983-iFf .auto-group-zi5h-GiR .frame-3889-Ddf .frame-3888-Xnm {
  width: 84.3rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.to-phn-nh--KNd .frame-3983-iFf .auto-group-zi5h-GiR .frame-3889-Ddf .frame-3888-Xnm .rectangle-75-Fyf {
  margin-bottom: 2rem;
  width: 100%;
  height: 4.6rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.to-phn-nh--KNd .frame-3983-iFf .auto-group-zi5h-GiR .frame-3889-Ddf .frame-3888-Xnm .rectangle-71-zwF {
  margin-bottom: 2rem;
  width: 100%;
  height: 4.6rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.to-phn-nh--KNd .frame-3983-iFf .auto-group-zi5h-GiR .frame-3889-Ddf .frame-3888-Xnm .rectangle-73-wbb {
  margin-bottom: 2rem;
  width: 100%;
  height: 4.6179rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.to-phn-nh--KNd .frame-3983-iFf .auto-group-zi5h-GiR .frame-3889-Ddf .frame-3888-Xnm .rectangle-74-tWq {
  width: 100%;
  height: 57.2821rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.to-phn-nh--KNd .frame-3983-iFf .auto-group-zi5h-GiR .button-aPf {
  margin-right: 2.85rem;
  width: calc(100% - 2.85rem);
  height: 6.4rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.to-phn-nh--KNd .frame-3983-iFf .auto-group-zi5h-GiR .button-aPf .frame-turn-back-button-vTX {
  margin-right: 58.2rem;
  box-sizing: border-box;
  padding: 1rem 0.8rem 1rem 2.433rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #32cd32;
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.to-phn-nh--KNd .frame-3983-iFf .auto-group-zi5h-GiR .button-aPf .frame-turn-back-button-vTX .corner-down-left-2mT {
  margin: 0rem 1.333rem 0rem 0rem;
  width: 1.3333rem;
  height: 1.3333rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.to-phn-nh--KNd .frame-3983-iFf .auto-group-zi5h-GiR .button-aPf .frame-turn-back-button-vTX .quay-li-N4d {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #32cd32;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.to-phn-nh--KNd .frame-3983-iFf .auto-group-zi5h-GiR .button-aPf .frame-3852-Fu7 {
  width: 25.65rem;
  height: 100%;
  cursor: pointer;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #90ee90;
  box-sizing: border-box;
  background-color: #90ee90;
  border-radius: 2rem;
  flex-shrink: 0;
}
