
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.trang-ch-qun-l-6c5 {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.trang-ch-qun-l-6c5 .frame-drawer-bYq {
  box-sizing: border-box;
  padding: 2.5rem 0rem 31.8rem 0rem;
  width: 34.6rem;
  height: 102.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  background-color: #f0e68c;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-drawer-bYq .logo-Wvh {
  margin: 0rem 3.7rem 5.1rem 3.7rem;
  width: calc(100% - 7.4rem);
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-drawer-bYq .logo-Wvh .app-logo-rjf {
  width: 27.2rem;
  height: 25rem;
  object-fit: cover;
  vertical-align: top;
}
.trang-ch-qun-l-6c5 .frame-drawer-bYq .navigate-MRX {
  margin-right: 0.1rem;
  width: 34.5rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-drawer-bYq .navigate-MRX .trang-ch--twF {
  box-sizing: border-box;
  padding: 2.55rem 5.6rem 2.55rem 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #32cd32;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-drawer-bYq .navigate-MRX .trang-ch--twF .icon-home-EVK {
  margin: 0rem 3.6rem 0rem 0rem;
  width: 4rem;
  height: 3.5505rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-drawer-bYq .navigate-MRX .trang-ch--twF .trang-ch-96V {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-drawer-bYq .navigate-MRX .cn-h-SbP {
  box-sizing: border-box;
  padding: 2.55rem 8.6rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #90ee90;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-drawer-bYq .navigate-MRX .cn-h-SbP .icon-user-circle-alt-aSh {
  margin: 0rem 6.6rem 0rem 0rem;
  width: 4rem;
  height: 4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-drawer-bYq .navigate-MRX .cn-h-SbP .cn-h-sgh {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-drawer-bYq .navigate-MRX .ha-n-mXB {
  box-sizing: border-box;
  padding: 2.55rem 7.5rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #90ee90;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-drawer-bYq .navigate-MRX .ha-n-mXB .icon-wallet-h9w {
  margin: 0rem 5.5rem 0rem 0rem;
  width: 4rem;
  height: 3.644rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-drawer-bYq .navigate-MRX .ha-n-mXB .ha-n-wa5 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-drawer-bYq .navigate-MRX .phn-nh-48u {
  box-sizing: border-box;
  padding: 2.55rem 6.7rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #90ee90;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-drawer-bYq .navigate-MRX .phn-nh-48u .icon-message-text-mp1 {
  margin: 0rem 4.7rem 0rem 0rem;
  width: 4rem;
  height: 3.9757rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-drawer-bYq .navigate-MRX .phn-nh-48u .phn-nh-WFo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo {
  box-sizing: border-box;
  padding-bottom: 2.2rem;
  width: 109.4rem;
  height: 102.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .frame-header-Hfs {
  margin-bottom: 1rem;
  box-sizing: border-box;
  padding: 1.4rem 1rem;
  width: 100%;
  height: 12.8rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #f0e68c;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .frame-header-Hfs .trang-ch-Rn5 {
  margin: 0rem 37.4rem 4.1rem 0rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .frame-header-Hfs .group-user-info-MQq {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .frame-header-Hfs .group-user-info-MQq .auto-group-o4jd-K6m {
  margin: 2.1rem 1.2rem 1.5rem 0rem;
  height: calc(100% - 3.6rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .frame-header-Hfs .group-user-info-MQq .auto-group-o4jd-K6m .name-and-first-name-3YZ {
  margin-bottom: 0.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .frame-header-Hfs .group-user-info-MQq .auto-group-o4jd-K6m .id-number-or-worker-number-P6d {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .frame-header-Hfs .group-user-info-MQq .user-avatar-hND {
  width: 10rem;
  height: 10rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/user-avatar-bg-FKb.png');
  border-radius: 5rem;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .frame-main-content-wXT {
  margin-bottom: 2.5rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .frame-main-content-wXT .frame-thng-k-chung--4c5 {
  margin-bottom: 1rem;
  box-sizing: border-box;
  padding: 0rem 1.8rem 0rem 1.5rem;
  width: 100%;
  height: 15rem;
  display: flex;
  column-gap: 2.8rem;
  align-items: flex-start;
  border: solid 0.1rem #000000;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .frame-main-content-wXT .frame-thng-k-chung--4c5 .group-s-lng-c-dn--xSZ {
  box-sizing: border-box;
  padding: 1.268rem 4.203rem 1.268rem 2.1rem;
  height: 14.6678rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.0399999991), 0 0.2rem 0.6rem rgba(0, 0, 0, 0.0399999991), 0 1.6rem 2.4rem rgba(0, 0, 0, 0.0599999987);
  background-color: #ffffff;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .frame-main-content-wXT .frame-thng-k-chung--4c5 .group-s-lng-c-dn--xSZ .icon-group-Gi9 {
  margin: 0rem 2.297rem 0.672rem 0rem;
  width: 7.5rem;
  height: 5.7955rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .frame-main-content-wXT .frame-thng-k-chung--4c5 .group-s-lng-c-dn--xSZ .auto-group-8uet-Crh {
  margin-bottom: 2.1512rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .frame-main-content-wXT .frame-thng-k-chung--4c5 .group-s-lng-c-dn--xSZ .auto-group-8uet-Crh .s-lng-c-dn-AHj {
  margin-bottom: 2.281rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2;
  color: #3f3f3f;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .frame-main-content-wXT .frame-thng-k-chung--4c5 .group-s-lng-c-dn--xSZ .auto-group-8uet-Crh .item-1011-NPo {
  margin-left: 0.0325rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .frame-main-content-wXT .frame-thng-k-chung--4c5 .group-s-cn-h--c3F {
  box-sizing: border-box;
  padding: 1.294rem 13.74rem 1.294rem 2.4rem;
  height: 14.6678rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.0399999991), 0 0.2rem 0.6rem rgba(0, 0, 0, 0.0399999991), 0 1.6rem 2.4rem rgba(0, 0, 0, 0.0599999987);
  background-color: #ffffff;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .frame-main-content-wXT .frame-thng-k-chung--4c5 .group-s-cn-h--c3F .icon-home-simple-door-8GV {
  margin: 0rem 2.03rem 0.25rem 0rem;
  width: 7.5rem;
  height: 7.2178rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .frame-main-content-wXT .frame-thng-k-chung--4c5 .group-s-cn-h--c3F .auto-group-wcut-SHB {
  margin-bottom: 2.1248rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .frame-main-content-wXT .frame-thng-k-chung--4c5 .group-s-cn-h--c3F .auto-group-wcut-SHB .cn-h-NRj {
  margin: 0rem 0rem 2.255rem 0.03rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2;
  color: #3f3f3f;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .frame-main-content-wXT .frame-thng-k-chung--4c5 .group-s-cn-h--c3F .auto-group-wcut-SHB .item-311-gBX {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .frame-main-content-wXT .frame-thng-k-chung--4c5 .group-s-ha-n--uKB {
  box-sizing: border-box;
  padding: 1.3rem 4.295rem 1.3rem 2.4rem;
  height: 14.6678rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.0399999991), 0 0.2rem 0.6rem rgba(0, 0, 0, 0.0399999991), 0 1.6rem 2.4rem rgba(0, 0, 0, 0.0599999987);
  background-color: #ffffff;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .frame-main-content-wXT .frame-thng-k-chung--4c5 .group-s-ha-n--uKB .icon-coin-agD {
  margin: 2.1rem 2.005rem 2.468rem 0rem;
  box-sizing: border-box;
  padding: 1.313rem 2.625rem 1.312rem 2.625rem;
  height: calc(100% - 4.5678rem);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vector-Nry.png');
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .frame-main-content-wXT .frame-thng-k-chung--4c5 .group-s-ha-n--uKB .icon-coin-agD .vector-uCh {
  width: 2.25rem;
  height: 4.875rem;
  object-fit: contain;
  vertical-align: top;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .frame-main-content-wXT .frame-thng-k-chung--4c5 .group-s-ha-n--uKB .auto-group-razh-p4m {
  margin-bottom: 2.1678rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .frame-main-content-wXT .frame-thng-k-chung--4c5 .group-s-ha-n--uKB .auto-group-razh-p4m .ho-n-hin-c-9Mw {
  margin-bottom: 2.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2;
  color: #3f3f3f;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .frame-main-content-wXT .frame-thng-k-chung--4c5 .group-s-ha-n--uKB .auto-group-razh-p4m .item-3-8-bjj {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .frame-main-content-wXT .frame-3965-qty {
  margin: 0 1.5rem;
  width: calc(100% - 3rem);
  height: 33.4rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .frame-main-content-wXT .frame-3965-qty .frame-m-t-ta-nh--PQh {
  box-sizing: border-box;
  padding: 2.5rem 3.3rem 2.5rem 2.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  border-radius: 2rem;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .frame-main-content-wXT .frame-3965-qty .frame-m-t-ta-nh--PQh .frame-building-image-X17 {
  margin-right: 3.4rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .frame-main-content-wXT .frame-3965-qty .frame-m-t-ta-nh--PQh .frame-building-image-X17 .thng-tin-to-nh-GjP {
  margin-bottom: 1rem;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.2;
  color: #3f3f3f;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .frame-main-content-wXT .frame-3965-qty .frame-m-t-ta-nh--PQh .frame-building-image-X17 .unsplash-5q1knujtjam-BrM {
  width: 32.8rem;
  height: 24rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.9rem;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .frame-main-content-wXT .frame-3965-qty .frame-m-t-ta-nh--PQh .frame-building-description-v3F {
  margin: 0.5rem 0rem 0.951rem 0rem;
  width: 64.4rem;
  height: calc(100% - 1.4506rem);
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .frame-main-content-wXT .frame-3965-qty .frame-m-t-ta-nh--PQh .frame-building-description-v3F .ta-vp-5-khu-th-linh-m-puK {
  margin-bottom: 0.4494rem;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .frame-main-content-wXT .frame-3965-qty .frame-m-t-ta-nh--PQh .frame-building-description-v3F .frame-key-val-xEq {
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .frame-main-content-wXT .frame-3965-qty .frame-m-t-ta-nh--PQh .frame-building-description-v3F .frame-key-val-xEq .m-to-nh-doanh-nghip-thng-tin-lin-h-a-ch-KLH {
  margin-right: 0.9rem;
  max-width: 18.1rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .frame-main-content-wXT .frame-3965-qty .frame-m-t-ta-nh--PQh .frame-building-description-v3F .frame-key-val-xEq .vp5-tng-cng-ty-u-t-pht-trin-hud-hudgrouphudcomvn-p-nguyn-duy-trinh-khu-th-linh-m-hong-mai-h-ni-vit-nam-BdP {
  max-width: 45.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .notice-Qm3 {
  margin: 0 3rem;
  width: calc(100% - 6rem);
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .notice-Qm3 .auto-group-4lsv-L8u {
  box-sizing: border-box;
  padding-bottom: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .notice-Qm3 .auto-group-4lsv-L8u .thng-bo-mi-evH {
  margin-bottom: 1.4rem;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.2;
  color: #3f3f3f;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .notice-Qm3 .auto-group-4lsv-L8u .frame-notifications-xvy {
  margin: 0 1.5rem;
  width: calc(100% - 3rem);
  row-gap: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .notice-Qm3 .auto-group-4lsv-L8u .frame-notifications-xvy .header-JV3 {
  box-sizing: border-box;
  padding: 1rem 12.483rem 1.9rem 11.783rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #808080;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .notice-Qm3 .auto-group-4lsv-L8u .frame-notifications-xvy .header-JV3 .c1-3Sd {
  margin-right: 2.2167rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #aeaeae;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .notice-Qm3 .auto-group-4lsv-L8u .frame-notifications-xvy .header-JV3 .c4-Zfs {
  margin-right: 11.65rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #aeaeae;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .notice-Qm3 .auto-group-4lsv-L8u .frame-notifications-xvy .header-JV3 .c2-WLD {
  margin-right: 27.0667rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #aeaeae;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .notice-Qm3 .auto-group-4lsv-L8u .frame-notifications-xvy .header-JV3 .c3-TFT {
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #aeaeae;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .notice-Qm3 .auto-group-4lsv-L8u .frame-notifications-xvy .header-nYd {
  box-sizing: border-box;
  padding: 0rem 9.367rem 0rem 8.067rem;
  width: 100%;
  height: 8.4rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.1rem #808080;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .notice-Qm3 .auto-group-4lsv-L8u .frame-notifications-xvy .header-nYd .auto-group-bkgk-tLm {
  margin: 0rem 6.5rem 2rem 0rem;
  box-sizing: border-box;
  padding: 1.5rem 0;
  width: 29.4333rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .notice-Qm3 .auto-group-4lsv-L8u .frame-notifications-xvy .header-nYd .c2-kNy {
  margin: 0rem 19.533rem 2rem 0rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .notice-Qm3 .auto-group-4lsv-L8u .frame-notifications-xvy .header-nYd .c3-5g9 {
  margin-bottom: 2rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .notice-Qm3 .auto-group-4lsv-L8u .frame-notifications-xvy .header-naZ {
  box-sizing: border-box;
  padding: 0rem 9.367rem 0rem 9.667rem;
  width: 100%;
  height: 8.4rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.1rem #808080;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .notice-Qm3 .auto-group-4lsv-L8u .frame-notifications-xvy .header-naZ .auto-group-eouv-XY9 {
  margin: 0rem 7.6rem 2rem 0rem;
  box-sizing: border-box;
  padding: 1.5rem 0;
  width: 26.7333rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .notice-Qm3 .auto-group-4lsv-L8u .frame-notifications-xvy .header-naZ .c2-1iD {
  margin: 0rem 19.533rem 2rem 0rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .notice-Qm3 .auto-group-4lsv-L8u .frame-notifications-xvy .header-naZ .c3-kQu {
  margin-bottom: 2rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .notice-Qm3 .item-02-oPB {
  box-sizing: border-box;
  padding: 0 44.85rem;
  width: 100%;
  height: 3.1rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .notice-Qm3 .item-02-oPB .frame-16-MQh {
  width: 100%;
  height: 100%;
  display: flex;
  column-gap: 1.2rem;
  align-items: center;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .notice-Qm3 .item-02-oPB .frame-16-MQh .previous-Jqj {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #9e9e9e;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .notice-Qm3 .item-02-oPB .frame-16-MQh .frame-15-SS9 {
  width: 3.1rem;
  height: 100%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0e68c;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.trang-ch-qun-l-6c5 .frame-header-and-content-Noo .notice-Qm3 .item-02-oPB .frame-16-MQh .next-LnR {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #9e9e9e;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
