
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.xem-thng-tin-ha-n-Nds {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
}
.xem-thng-tin-ha-n-Nds .content-DuP {
  width: 109.4056rem;
  height: 102.4rem;
  position: absolute;
  left: 34.5972rem;
  top: 0rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.xem-thng-tin-ha-n-Nds .content-DuP .frame-header-37j {
  box-sizing: border-box;
  padding: 1.4rem 0.001rem 1.444rem 0.002rem;
  width: 100%;
  height: 12.8481rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #f0e68c;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-Nds .content-DuP .frame-header-37j .ha-n-ufj {
  margin: 0.175rem 45.501rem 0rem 0rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-Nds .content-DuP .frame-header-37j .group-user-info-ZEV {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-Nds .content-DuP .frame-header-37j .group-user-info-ZEV .auto-group-nzpm-Vdw {
  margin: 2.105rem 1.198rem 1.499rem 0rem;
  height: calc(100% - 3.6044rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-Nds .content-DuP .frame-header-37j .group-user-info-ZEV .auto-group-nzpm-Vdw .name-and-first-name-YMK {
  margin: 0rem 0.002rem 0.4rem 0rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-Nds .content-DuP .frame-header-37j .group-user-info-ZEV .auto-group-nzpm-Vdw .id-number-or-worker-number-if7 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-Nds .content-DuP .frame-header-37j .group-user-info-ZEV .user-avatar-NUm {
  width: 10.0044rem;
  height: 10.0044rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-Nds .content-DuP .auto-group-jm7h-eBP {
  box-sizing: border-box;
  padding: 4.1rem 2.053rem 1.5rem 2.053rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-Nds .content-DuP .auto-group-jm7h-eBP .frame-3909-wAV {
  margin: 0rem 2.55rem 27.952rem 0.95rem;
  width: calc(100% - 3.5rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-Nds .content-DuP .auto-group-jm7h-eBP .frame-3909-wAV .ph-gi-xe-thng-11-2023-2hj {
  margin: 0rem 0rem 3.75rem 1rem;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-Nds .content-DuP .auto-group-jm7h-eBP .frame-3909-wAV .frame-3908-4PX {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-Nds .content-DuP .auto-group-jm7h-eBP .frame-3909-wAV .frame-3908-4PX .frame-3910-Byw {
  margin: 0rem 24.9rem 2.7rem 1rem;
  width: calc(100% - 25.9rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-Nds .content-DuP .auto-group-jm7h-eBP .frame-3909-wAV .frame-3908-4PX .frame-3910-Byw .frame-3904-q2u {
  margin: 0.3rem 38.7rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-Nds .content-DuP .auto-group-jm7h-eBP .frame-3909-wAV .frame-3908-4PX .frame-3910-Byw .frame-3904-q2u .s-tin-wbj {
  margin-bottom: 3.55rem;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-Nds .content-DuP .auto-group-jm7h-eBP .frame-3909-wAV .frame-3908-4PX .frame-3910-Byw .frame-3904-q2u .trng-thi-qSD {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-Nds .content-DuP .auto-group-jm7h-eBP .frame-3909-wAV .frame-3908-4PX .frame-3910-Byw .frame-3906-Y5j {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-Nds .content-DuP .auto-group-jm7h-eBP .frame-3909-wAV .frame-3908-4PX .frame-3910-Byw .frame-3906-Y5j .thng-5rM {
  margin-bottom: 3.5rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-Nds .content-DuP .auto-group-jm7h-eBP .frame-3909-wAV .frame-3908-4PX .frame-3910-Byw .frame-3906-Y5j .cha-thanh-ton-ao7 {
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-Nds .content-DuP .auto-group-jm7h-eBP .frame-3909-wAV .frame-3908-4PX .frame-3907-eY5 {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-Nds .content-DuP .auto-group-jm7h-eBP .frame-3909-wAV .frame-3908-4PX .frame-3907-eY5 .thng-tin-chi-tit-yKT {
  margin-bottom: 2.5rem;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-Nds .content-DuP .auto-group-jm7h-eBP .frame-3909-wAV .frame-3908-4PX .frame-3907-eY5 .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-duis-aute-irure-dolor-in-reprehenderit-in-voluptate-velit-esse-cillum-dolore-eu-fugiat-nulla-pariatur-excepteur-sint-occaecat-cupidatat-non-proident-sunt-in-culpa-qui-officia-deserunt-mollit-anim-id-est-laborum-GZT {
  margin-left: 1rem;
  max-width: 100.8rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-Nds .content-DuP .auto-group-jm7h-eBP .button-fzu {
  width: 100%;
  height: 7rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-Nds .content-DuP .auto-group-jm7h-eBP .button-fzu .frame-turn-back-button-obK {
  margin: 0.3rem 61.9rem 0.3rem 0rem;
  box-sizing: border-box;
  padding: 1rem 0.8rem 1rem 2.433rem;
  height: calc(100% - 0.6rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #32cd32;
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-Nds .content-DuP .auto-group-jm7h-eBP .button-fzu .frame-turn-back-button-obK .corner-down-left-ebw {
  margin: 0rem 1.333rem 0rem 0rem;
  width: 1.3333rem;
  height: 1.3333rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-Nds .content-DuP .auto-group-jm7h-eBP .button-fzu .frame-turn-back-button-obK .quay-li-5hF {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #32cd32;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-Nds .content-DuP .auto-group-jm7h-eBP .button-fzu .frame-3842-Ja1 {
  box-sizing: border-box;
  padding: 1.2rem 1rem 1.4rem 1rem;
  width: 23.7rem;
  height: 100%;
  cursor: pointer;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #c9c9c9;
  background-color: #32cd32;
  border-radius: 2rem;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-Nds .frame-drawer-Ro3 {
  box-sizing: border-box;
  padding: 2.5rem 0rem 31.8rem 0rem;
  width: 34.6rem;
  height: 102.4rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  background-color: #f0e68c;
}
.xem-thng-tin-ha-n-Nds .frame-drawer-Ro3 .logo-J69 {
  margin: 0rem 3.7rem 5.1rem 3.7rem;
  width: calc(100% - 7.4rem);
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-Nds .frame-drawer-Ro3 .logo-J69 .app-logo-yi5 {
  width: 27.2rem;
  height: 25rem;
  object-fit: cover;
  vertical-align: top;
}
.xem-thng-tin-ha-n-Nds .frame-drawer-Ro3 .navigate-5FK {
  margin-right: 0.1rem;
  width: 34.5rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-Nds .frame-drawer-Ro3 .navigate-5FK .trang-ch--AGm {
  box-sizing: border-box;
  padding: 2.55rem 5.6rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #90ee90;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-Nds .frame-drawer-Ro3 .navigate-5FK .trang-ch--AGm .icon-home-Fp1 {
  margin: 0rem 3.6rem 0rem 0rem;
  width: 4rem;
  height: 3.5505rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-Nds .frame-drawer-Ro3 .navigate-5FK .trang-ch--AGm .trang-ch-tc5 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-Nds .frame-drawer-Ro3 .navigate-5FK .cn-h-49B {
  box-sizing: border-box;
  padding: 2.55rem 8.6rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #90ee90;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-Nds .frame-drawer-Ro3 .navigate-5FK .cn-h-49B .icon-user-circle-alt-9RX {
  margin: 0rem 6.6rem 0rem 0rem;
  width: 4rem;
  height: 4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-Nds .frame-drawer-Ro3 .navigate-5FK .cn-h-49B .cn-h-Ceh {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-Nds .frame-drawer-Ro3 .navigate-5FK .ha-n-sF3 {
  box-sizing: border-box;
  padding: 2.55rem 7.5rem 2.55rem 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #32cd32;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-Nds .frame-drawer-Ro3 .navigate-5FK .ha-n-sF3 .icon-wallet-NSh {
  margin: 0rem 5.5rem 0rem 0rem;
  width: 4rem;
  height: 3.644rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-Nds .frame-drawer-Ro3 .navigate-5FK .ha-n-sF3 .ha-n-s8Z {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-Nds .frame-drawer-Ro3 .navigate-5FK .phn-nh-i9B {
  box-sizing: border-box;
  padding: 2.55rem 6.7rem 2.55rem 3rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #90ee90;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-Nds .frame-drawer-Ro3 .navigate-5FK .phn-nh-i9B .icon-message-text-oRX {
  margin: 0rem 4.7rem 0rem 0rem;
  width: 4rem;
  height: 3.9757rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-Nds .frame-drawer-Ro3 .navigate-5FK .phn-nh-i9B .phn-nh-sAV {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
