
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144.05rem;
}.xem-thng-tin-ha-n-ZT3 {
  box-sizing: border-box;
  padding: 0rem 0rem 0rem 0.045rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  border: solid 0.1rem #000000;
  background-color: #ffffff;
}
.xem-thng-tin-ha-n-ZT3 .frame-drawer-fW5 {
  margin-top: 0.0633rem;
  box-sizing: border-box;
  padding: 2.5rem 0rem 31.8rem 0rem;
  width: 34.6rem;
  height: 102.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  background-color: #f0e68c;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-ZT3 .frame-drawer-fW5 .logo-knR {
  margin: 0rem 3.7rem 5.1rem 3.7rem;
  width: calc(100% - 7.4rem);
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-ZT3 .frame-drawer-fW5 .logo-knR .app-logo-u9X {
  width: 27.2rem;
  height: 25rem;
  object-fit: cover;
  vertical-align: top;
}
.xem-thng-tin-ha-n-ZT3 .frame-drawer-fW5 .navigate-Rdf {
  margin-right: 0.1rem;
  width: 34.5rem;
  height: 38rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-ZT3 .frame-drawer-fW5 .navigate-Rdf .trang-ch--Zzm {
  box-sizing: border-box;
  padding: 2.55rem 5.6rem 2.55rem 3rem;
  width: 34.5rem;
  height: 9.5rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #90ee90;
}
.xem-thng-tin-ha-n-ZT3 .frame-drawer-fW5 .navigate-Rdf .trang-ch--Zzm .icon-home-V7j {
  margin: 0rem 3.6rem 0rem 0rem;
  width: 4rem;
  height: 3.5505rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-ZT3 .frame-drawer-fW5 .navigate-Rdf .trang-ch--Zzm .trang-ch-o8R {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-ZT3 .frame-drawer-fW5 .navigate-Rdf .cn-h-uBT {
  box-sizing: border-box;
  padding: 2.55rem 8.6rem 2.55rem 3rem;
  width: 34.5rem;
  height: 9.5rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 9.5rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #90ee90;
}
.xem-thng-tin-ha-n-ZT3 .frame-drawer-fW5 .navigate-Rdf .cn-h-uBT .icon-user-circle-alt-21B {
  margin: 0rem 6.6rem 0rem 0rem;
  width: 4rem;
  height: 4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-ZT3 .frame-drawer-fW5 .navigate-Rdf .cn-h-uBT .cn-h-kC5 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-ZT3 .frame-drawer-fW5 .navigate-Rdf .ha-n-Q1j {
  box-sizing: border-box;
  padding: 2.55rem 7.5rem 2.55rem 3rem;
  width: 34.5rem;
  height: 9.5rem;
  position: absolute;
  left: 0;
  top: 19rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #32cd32;
}
.xem-thng-tin-ha-n-ZT3 .frame-drawer-fW5 .navigate-Rdf .ha-n-Q1j .icon-wallet-7gq {
  margin: 0rem 5.5rem 0rem 0rem;
  width: 4rem;
  height: 3.644rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-ZT3 .frame-drawer-fW5 .navigate-Rdf .ha-n-Q1j .ha-n-Djs {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-ZT3 .frame-drawer-fW5 .navigate-Rdf .phn-nh-hQ9 {
  box-sizing: border-box;
  padding: 2.55rem 6.7rem 2.55rem 3rem;
  width: 34.5rem;
  height: 9.5rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 28.5rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #90ee90;
}
.xem-thng-tin-ha-n-ZT3 .frame-drawer-fW5 .navigate-Rdf .phn-nh-hQ9 .icon-message-text-Bq7 {
  margin: 0rem 4.7rem 0rem 0rem;
  width: 4rem;
  height: 3.9757rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-ZT3 .frame-drawer-fW5 .navigate-Rdf .phn-nh-hQ9 .phn-nh-X8H {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 {
  width: 109.405rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .frame-header-Md7 {
  box-sizing: border-box;
  padding: 1.4rem 0rem 1.444rem 0.002rem;
  width: 100%;
  height: 12.8481rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #f0e68c;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .frame-header-Md7 .ha-n-Hmf {
  margin: 0.175rem 45.501rem 0rem 0rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .frame-header-Md7 .group-user-info-1xZ {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .frame-header-Md7 .group-user-info-1xZ .auto-group-dxak-No7 {
  margin: 2.105rem 1.198rem 1.499rem 0rem;
  height: calc(100% - 3.6044rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .frame-header-Md7 .group-user-info-1xZ .auto-group-dxak-No7 .name-and-first-name-Jwf {
  margin: 0rem 0.002rem 0.4rem 0rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .frame-header-Md7 .group-user-info-1xZ .auto-group-dxak-No7 .id-number-or-worker-number-D33 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .frame-header-Md7 .group-user-info-1xZ .user-avatar-M9F {
  width: 10.0044rem;
  height: 10.0044rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 {
  box-sizing: border-box;
  padding: 3.484rem 1.833rem 0rem 1.869rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 {
  margin: 0rem 1.18rem 11.168rem 1.138rem;
  width: calc(100% - 2.3186rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3969-rkD {
  margin-bottom: 2.7352rem;
  width: 99.6042rem;
  height: 5.7712rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  border-bottom: solid 0.1rem #aeaeae;
  box-sizing: border-box;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy {
  margin-left: 0.0038rem;
  width: calc(100% - 0.0038rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy .frame-3955-d8h {
  margin: 0rem 0.023rem 5.155rem 0rem;
  width: calc(100% - 0.0231rem);
  height: 7.61rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy .frame-3955-d8h .frame-3954-ZHF {
  margin-right: 78.9778rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy .frame-3955-d8h .frame-3954-ZHF .image-1-Vgh {
  margin-right: 1.2967rem;
  width: 8.0004rem;
  height: 7.2904rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2rem;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy .frame-3955-d8h .frame-3954-ZHF .frame-3953-1Q9 {
  margin-bottom: 0.0094rem;
  height: calc(100% - 0.0094rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy .frame-3955-d8h .frame-3954-ZHF .frame-3953-1Q9 .ngn-hng-k6q {
  margin-bottom: 1.6006rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy .frame-3955-d8h .frame-3954-ZHF .frame-3953-1Q9 .item-200000--G5B {
  margin-left: 0.0021rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.5);
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy .frame-3955-d8h .image-2-ykH {
  margin-bottom: 0.0796rem;
  width: 3.1824rem;
  height: 3.8472rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy .tm-ngn-hng-iSy {
  margin: 0rem 0.015rem 5.155rem 0.006rem;
  box-sizing: border-box;
  padding-top: 0.0378rem;
  width: calc(100% - 0.0202rem);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy .tm-ngn-hng-iSy .tm-ngn-hng-bmf {
  margin-bottom: 1.0622rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy .tm-ngn-hng-iSy .frame-3898-jss {
  margin-left: 0.0018rem;
  box-sizing: border-box;
  padding: 3.026rem 3.001rem 3.104rem 3.001rem;
  width: calc(100% - 0.0018rem);
  overflow: hidden;
  position: relative;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 0.8;
  color: #cccccc;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  background-color: #f8f8f8;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy .ngn-hng-xkd {
  margin-left: 0.0132rem;
  box-sizing: border-box;
  padding-right: 0rem;
  width: calc(100% - 0.0132rem);
  height: 28.1454rem;
  overflow: hidden;
  position: relative;
  display: flex;
  column-gap: 3.9652rem;
  align-items: center;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy .ngn-hng-xkd .auto-group-wwaf-q3j {
  margin-top: 0.0314rem;
  width: 31.8123rem;
  height: calc(100% - 0.0314rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy .ngn-hng-xkd .auto-group-wwaf-q3j .frame-3895-94R {
  margin: 0rem 0.006rem 1.286rem 0rem;
  width: calc(100% - 0.0064rem);
  height: 13.414rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy .ngn-hng-xkd .auto-group-wwaf-q3j .frame-3895-94R .rectangle-83-S3X {
  width: 31.8036rem;
  height: 8.114rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2rem 2rem 0 0;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy .ngn-hng-xkd .auto-group-wwaf-q3j .frame-3895-94R .rectangle-82-Lub {
  width: 31.8023rem;
  height: 5.314rem;
  position: absolute;
  left: 0.0035rem;
  top: 8.1rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #d6d6d6;
  border-radius: 0 0 2rem 2rem;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy .ngn-hng-xkd .auto-group-wwaf-q3j .frame-3895-94R .vpbank-SBw {
  width: 8.9rem;
  height: 3rem;
  position: absolute;
  left: 1.4041rem;
  top: 9.2006rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.5);
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy .ngn-hng-xkd .auto-group-wwaf-q3j .frame-3895-94R .item-200000--wuP {
  width: 11.6rem;
  height: 3rem;
  position: absolute;
  left: 11.6012rem;
  top: 2.6031rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: #fe4242;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy .ngn-hng-xkd .auto-group-wwaf-q3j .frame-3895-94R .rectangle-84-wnu {
  width: 7.3022rem;
  height: 5.1032rem;
  position: absolute;
  left: 1.4006rem;
  top: 1.5102rem;
  object-fit: contain;
  vertical-align: top;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy .ngn-hng-xkd .auto-group-wwaf-q3j .frame-3898-GaH {
  margin-left: 0.0064rem;
  width: calc(100% - 0.0064rem);
  height: 13.414rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy .ngn-hng-xkd .auto-group-wwaf-q3j .frame-3898-GaH .rectangle-83-1Gy {
  width: 31.8036rem;
  height: 8.114rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2rem 2rem 0 0;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy .ngn-hng-xkd .auto-group-wwaf-q3j .frame-3898-GaH .rectangle-82-hvV {
  width: 31.8023rem;
  height: 5.314rem;
  position: absolute;
  left: 0.0035rem;
  top: 8.1rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #d6d6d6;
  border-radius: 0 0 2rem 2rem;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy .ngn-hng-xkd .auto-group-wwaf-q3j .frame-3898-GaH .vietinbank-nBF {
  width: 12.2rem;
  height: 3rem;
  position: absolute;
  left: 1.4041rem;
  top: 9.2009rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.5);
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy .ngn-hng-xkd .auto-group-wwaf-q3j .frame-3898-GaH .item-200000--g1j {
  width: 11.6rem;
  height: 3rem;
  position: absolute;
  left: 11.6012rem;
  top: 2.6031rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: #fe4242;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy .ngn-hng-xkd .auto-group-wwaf-q3j .frame-3898-GaH .rectangle-84-Z5X {
  width: 7.3022rem;
  height: 5.1032rem;
  position: absolute;
  left: 1.4006rem;
  top: 1.5102rem;
  object-fit: contain;
  vertical-align: top;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy .ngn-hng-xkd .auto-group-yy1z-P4Z {
  margin: 0.016rem 0rem 0.016rem 0rem;
  width: 31.8124rem;
  height: calc(100% - 0.0314rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy .ngn-hng-xkd .auto-group-yy1z-P4Z .frame-3896-u2u {
  margin: 0rem 0.007rem 1.286rem 0rem;
  width: calc(100% - 0.0065rem);
  height: 13.414rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy .ngn-hng-xkd .auto-group-yy1z-P4Z .frame-3896-u2u .rectangle-83-pQm {
  width: 31.8036rem;
  height: 8.114rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2rem 2rem 0 0;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy .ngn-hng-xkd .auto-group-yy1z-P4Z .frame-3896-u2u .rectangle-82-Ybf {
  width: 31.8023rem;
  height: 5.314rem;
  position: absolute;
  left: 0.0035rem;
  top: 8.1rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #d6d6d6;
  border-radius: 0 0 2rem 2rem;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy .ngn-hng-xkd .auto-group-yy1z-P4Z .frame-3896-u2u .vpbank-2Wq {
  width: 8.9rem;
  height: 3rem;
  position: absolute;
  left: 1.4041rem;
  top: 9.2005rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.5);
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy .ngn-hng-xkd .auto-group-yy1z-P4Z .frame-3896-u2u .item-200000--9bT {
  width: 11.6rem;
  height: 3rem;
  position: absolute;
  left: 11.6012rem;
  top: 2.6031rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: #fe4242;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy .ngn-hng-xkd .auto-group-yy1z-P4Z .frame-3896-u2u .rectangle-84-oR7 {
  width: 7.3022rem;
  height: 5.1032rem;
  position: absolute;
  left: 1.4006rem;
  top: 1.5102rem;
  object-fit: contain;
  vertical-align: top;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy .ngn-hng-xkd .auto-group-yy1z-P4Z .frame-3899-uyw {
  margin-left: 0.0065rem;
  width: calc(100% - 0.0065rem);
  height: 13.414rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy .ngn-hng-xkd .auto-group-yy1z-P4Z .frame-3899-uyw .rectangle-83-RxH {
  width: 31.8036rem;
  height: 8.114rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2rem 2rem 0 0;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy .ngn-hng-xkd .auto-group-yy1z-P4Z .frame-3899-uyw .rectangle-82-huo {
  width: 31.8023rem;
  height: 5.314rem;
  position: absolute;
  left: 0.0035rem;
  top: 8.1rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #d6d6d6;
  border-radius: 0 0 2rem 2rem;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy .ngn-hng-xkd .auto-group-yy1z-P4Z .frame-3899-uyw .vietinbank-Cbf {
  width: 12.2rem;
  height: 3rem;
  position: absolute;
  left: 1.4041rem;
  top: 9.2009rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.5);
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy .ngn-hng-xkd .auto-group-yy1z-P4Z .frame-3899-uyw .item-200000--Vam {
  width: 11.6rem;
  height: 3rem;
  position: absolute;
  left: 11.6012rem;
  top: 2.6031rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: #fe4242;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy .ngn-hng-xkd .auto-group-yy1z-P4Z .frame-3899-uyw .rectangle-84-DFs {
  width: 7.3022rem;
  height: 5.1032rem;
  position: absolute;
  left: 1.4006rem;
  top: 1.5102rem;
  object-fit: contain;
  vertical-align: top;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy .ngn-hng-xkd .auto-group-1bkx-kFo {
  margin-bottom: 0.0314rem;
  width: 31.8123rem;
  height: calc(100% - 0.0314rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy .ngn-hng-xkd .auto-group-1bkx-kFo .frame-3897-ftZ {
  margin: 0rem 0.006rem 1.286rem 0rem;
  width: calc(100% - 0.0064rem);
  height: 13.414rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy .ngn-hng-xkd .auto-group-1bkx-kFo .frame-3897-ftZ .rectangle-83-bnD {
  width: 31.8036rem;
  height: 8.114rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2rem 2rem 0 0;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy .ngn-hng-xkd .auto-group-1bkx-kFo .frame-3897-ftZ .rectangle-82-HQ9 {
  width: 31.8023rem;
  height: 5.314rem;
  position: absolute;
  left: 0.0035rem;
  top: 8.1rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #d6d6d6;
  border-radius: 0 0 2rem 2rem;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy .ngn-hng-xkd .auto-group-1bkx-kFo .frame-3897-ftZ .vpbank-BVX {
  width: 8.9rem;
  height: 3rem;
  position: absolute;
  left: 1.4041rem;
  top: 9.2006rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.5);
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy .ngn-hng-xkd .auto-group-1bkx-kFo .frame-3897-ftZ .item-200000--H2m {
  width: 11.6rem;
  height: 3rem;
  position: absolute;
  left: 11.6012rem;
  top: 2.6031rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: #fe4242;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy .ngn-hng-xkd .auto-group-1bkx-kFo .frame-3897-ftZ .rectangle-84-xPo {
  width: 7.3022rem;
  height: 5.1032rem;
  position: absolute;
  left: 1.4006rem;
  top: 1.5102rem;
  object-fit: contain;
  vertical-align: top;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy .ngn-hng-xkd .auto-group-1bkx-kFo .frame-3900-Hws {
  margin-left: 0.0064rem;
  width: calc(100% - 0.0064rem);
  height: 13.414rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy .ngn-hng-xkd .auto-group-1bkx-kFo .frame-3900-Hws .rectangle-83-EcD {
  width: 31.8036rem;
  height: 8.114rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2rem 2rem 0 0;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy .ngn-hng-xkd .auto-group-1bkx-kFo .frame-3900-Hws .rectangle-82-ZuP {
  width: 31.8023rem;
  height: 5.314rem;
  position: absolute;
  left: 0.0035rem;
  top: 8.1rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #d6d6d6;
  border-radius: 0 0 2rem 2rem;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy .ngn-hng-xkd .auto-group-1bkx-kFo .frame-3900-Hws .vietinbank-1Fb {
  width: 12.2rem;
  height: 3rem;
  position: absolute;
  left: 1.4041rem;
  top: 9.2006rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.5);
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy .ngn-hng-xkd .auto-group-1bkx-kFo .frame-3900-Hws .item-200000--L2y {
  width: 11.6rem;
  height: 3rem;
  position: absolute;
  left: 11.6012rem;
  top: 2.6031rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: #fe4242;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-3957-XT3 .frame-3956-5cy .ngn-hng-xkd .auto-group-1bkx-kFo .frame-3900-Hws .rectangle-84-Rq7 {
  width: 7.3022rem;
  height: 5.1032rem;
  position: absolute;
  left: 1.4006rem;
  top: 1.5102rem;
  object-fit: contain;
  vertical-align: top;
}
.xem-thng-tin-ha-n-ZT3 .frame-3959-253 .auto-group-v1eb-oX3 .frame-153-9m7 {
  width: 100%;
  height: 6.6465rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
  text-transform: capitalize;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #90ee90;
  border-radius: 2rem;
  flex-shrink: 0;
}
