
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 31.95rem;
}.datepicker--qfB {
  background-color: #f5f5f5;
  border-radius: 1.2rem;
  box-sizing: border-box;
  width: 100%;
  height: 29.7rem;
  overflow: hidden;
  position: relative;
  padding: 1.8rem 1.75rem 1.75rem 1.8rem;
  box-shadow: 0 0.075rem 0.15rem rgba(0, 14, 51, 0.25);

  .components-M1F {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

    .header-L1b {
      align-items: center;
      flex-shrink: 0;
      width: 100%;
      display: flex;
      column-gap: 3.975rem;

      .buttons-PkZ {
        vertical-align: top;
        border-radius: 6rem;
        flex-shrink: 0;
        margin-top: 0.05rem;
        width: 3.3rem;
        height: 3.3rem;
        object-fit: contain;
      }
      .month-and-year-Jcd {
        flex-shrink: 0;
        margin-bottom: 0.05rem;
        height: 3.3rem;
        display: flex;
        align-items: center;

        .month-pqs {
          box-sizing: border-box;
          padding: 0.75rem 0.2rem 0.15rem 0.2rem;
          height: 100%;
          margin-right: 0.15rem;
          width: 6.95rem;
          box-shadow: 0 0.1rem 0.1rem rgba(0, 14, 51, 0.0500000007);
          background-color: #ffffff;
          border-radius: 0.45rem;
          flex-shrink: 0;

          .frame-3834-g7P {
            width: 5.85rem;
            height: 100%;
            position: relative;

            .april-3kZ {
              height: 2.4rem;
              position: absolute;
              font-size: 2.4rem;
              font-weight: 700;
              white-space: nowrap;
              font-family: Lexend, 'Source Sans Pro';
              width: 5.8rem;
              left: 0;
              top: 0;
              text-align: center;
              line-height: 1;
              letter-spacing: -0.024rem;
              color: #141414;
            }
            .arrows-drop-down-down-F5w {
              vertical-align: top;
              width: 0.6rem;
              height: 0.6rem;
              position: absolute;
              left: 5.25rem;
              top: 0.975rem;
              object-fit: contain;
            }
          }
        }
        .component-4-eds {
          border-radius: 0.45rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.75rem 0.2rem 0.15rem 0.2rem;
          width: 6.75rem;
          height: 100%;
          box-shadow: 0 0.1rem 0.1rem rgba(0, 14, 51, 0.0500000007);
          background-color: #ffffff;

          .frame-3834-nVB {
            height: 100%;
            position: relative;
            width: 5.65rem;

            .item-2021-w7B {
              white-space: nowrap;
              width: 5.6rem;
              height: 2.4rem;
              top: 0;
              text-align: center;
              letter-spacing: -0.024rem;
              color: #141414;
              font-family: Lexend, 'Source Sans Pro';
              position: absolute;
              left: 0;
              font-size: 2.4rem;
              font-weight: 700;
              line-height: 1;
            }
            .arrows-drop-down-down-NTP {
              height: 0.6rem;
              position: absolute;
              left: 5.05rem;
              top: 0.975rem;
              object-fit: contain;
              vertical-align: top;
              width: 0.6rem;
            }
          }
        }
      }
      .component-2-Si9 {
        margin-top: 0.05rem;
        width: 3.3rem;
        height: 3.3rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 6rem;
        flex-shrink: 0;
      }
    }
    .auto-group-eb5m-weu {
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding-top: 0.85rem;
      width: 100%;
      align-items: center;
      display: flex;

      .day-of-week-5m7 {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 0.05rem 0.9rem 0rem;
        width: calc(100% - 0.05rem);
        height: 3.3rem;

        .dow-regular-mtq {
          box-sizing: border-box;
          padding: 0 0.1875rem;
          width: 4.05rem;
          height: 100%;
          border-radius: 0.3rem;
          flex-shrink: 0;

          .frame-3813-6w7 {
            font-family: Lexend, 'Source Sans Pro';
            width: 100%;
            align-items: center;
            font-size: 1.8rem;
            line-height: 1;
            color: #1e1e1e;
            white-space: nowrap;
            border-radius: 0.3rem;
            height: 100%;
            display: flex;
            justify-content: center;
            font-weight: 500;
          }
        }
        .dow-regular-yk1 {
          border-radius: 0.3rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0 0.1875rem;
          width: 4.05rem;
          height: 100%;

          .frame-3813-jUH {
            color: #1e1e1e;
            font-family: Lexend, 'Source Sans Pro';
            display: flex;
            align-items: center;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1;
            white-space: nowrap;
            border-radius: 0.3rem;
            width: 100%;
            height: 100%;
            justify-content: center;
          }
        }
        .dow-regular-w4Z {
          border-radius: 0.3rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0 0.1875rem;
          width: 4.05rem;
          height: 100%;

          .frame-3813-tVb {
            height: 100%;
            display: flex;
            justify-content: center;
            font-weight: 500;
            color: #1e1e1e;
            border-radius: 0.3rem;
            width: 100%;
            align-items: center;
            font-size: 1.8rem;
            line-height: 1;
            font-family: Lexend, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .dow-regular-xEZ {
          box-sizing: border-box;
          padding: 0 0.1875rem;
          width: 4.05rem;
          height: 100%;
          border-radius: 0.3rem;
          flex-shrink: 0;

          .frame-3813-7NM {
            color: #1e1e1e;
            font-family: Lexend, 'Source Sans Pro';
            white-space: nowrap;
            border-radius: 0.3rem;
            font-size: 1.8rem;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 1;
            width: 100%;
            height: 100%;
          }
        }
        .dow-regular-DwB {
          box-sizing: border-box;
          padding: 0 0.1875rem;
          width: 4.05rem;
          height: 100%;
          border-radius: 0.3rem;
          flex-shrink: 0;

          .frame-3813-yvM {
            width: 100%;
            height: 100%;
            align-items: center;
            font-size: 1.8rem;
            font-weight: 500;
            border-radius: 0.3rem;
            display: flex;
            justify-content: center;
            line-height: 1;
            color: #1e1e1e;
            font-family: Lexend, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .dow-regular-4gu {
          height: 100%;
          border-radius: 0.3rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0 0.1875rem;
          width: 4.05rem;

          .frame-3813-CHK {
            height: 100%;
            justify-content: center;
            font-weight: 500;
            color: #1e1e1e;
            font-family: Lexend, 'Source Sans Pro';
            white-space: nowrap;
            width: 100%;
            display: flex;
            align-items: center;
            font-size: 1.8rem;
            line-height: 1;
            border-radius: 0.3rem;
          }
        }
        .dow-regular-uxR {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0 0.1875rem;
          width: 4.05rem;
          height: 100%;
          border-radius: 0.3rem;

          .frame-3813-3Hw {
            display: flex;
            align-items: center;
            font-weight: 500;
            color: #1e1e1e;
            white-space: nowrap;
            font-family: Lexend, 'Source Sans Pro';
            border-radius: 0.3rem;
            width: 100%;
            height: 100%;
            justify-content: center;
            font-size: 1.8rem;
            line-height: 1;
          }
        }
      }
      .weeks-9rm {
        width: calc(100% - 0.05rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 0.05rem;

        .week-1-eoX {
          margin-bottom: 0.25rem;
          width: 100%;
          height: 3.35rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .component-5-C4M {
            padding: 0.05rem 0.175rem 0rem 0.125rem;
            width: 4.05rem;
            height: 100%;
            border-radius: 0.3rem;
            flex-shrink: 0;
            box-sizing: border-box;

            .frame-3813-jKB {
              width: 100%;
              height: 100%;
              align-items: center;
              justify-content: center;
              font-size: 1.35rem;
              font-weight: 500;
              color: rgba(0, 23, 83, 0.150000006);
              font-family: Lexend, 'Source Sans Pro';
              white-space: nowrap;
              border-radius: 0.45rem;
              display: flex;
              line-height: 1;
            }
          }
          .component-5-1nV {
            box-sizing: border-box;
            padding: 0.05rem 0.175rem 0rem 0.125rem;
            width: 4.05rem;
            height: 100%;
            border-radius: 0.3rem;
            flex-shrink: 0;

            .frame-3813-MbT {
              height: 100%;
              align-items: center;
              font-size: 1.35rem;
              line-height: 1;
              color: rgba(0, 23, 83, 0.150000006);
              white-space: nowrap;
              width: 100%;
              display: flex;
              justify-content: center;
              font-weight: 500;
              font-family: Lexend, 'Source Sans Pro';
              border-radius: 0.45rem;
            }
          }
          .component-5-qmX {
            border-radius: 0.3rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.05rem 0.175rem 0rem 0.125rem;
            width: 4.05rem;
            height: 100%;

            .frame-3813-PHF {
              display: flex;
              height: 100%;
              align-items: center;
              justify-content: center;
              font-size: 1.35rem;
              font-weight: 500;
              line-height: 1;
              color: rgba(0, 23, 83, 0.150000006);
              width: 100%;
              white-space: nowrap;
              border-radius: 0.45rem;
              font-family: Lexend, 'Source Sans Pro';
            }
          }
          .component-5-q9F {
            box-sizing: border-box;
            padding: 0.05rem 0.175rem 0rem 0.125rem;
            width: 4.05rem;
            height: 100%;
            border-radius: 0.3rem;
            flex-shrink: 0;

            .frame-3813-n4V {
              font-weight: 500;
              font-family: Lexend, 'Source Sans Pro';
              box-shadow: 0 0.1rem 0.1rem rgba(0, 14, 51, 0.0500000007);
              border-radius: 0.45rem;
              width: 100%;
              display: flex;
              white-space: nowrap;
              align-items: center;
              font-size: 1.35rem;
              line-height: 1;
              color: #1e1e1e;
              background-color: #ffffff;
              height: 100%;
              justify-content: center;
            }
          }
          .component-5-jtq {
            height: 100%;
            border-radius: 0.3rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.05rem 0.175rem 0rem 0.125rem;
            width: 4.05rem;

            .frame-3813-V7K {
              border-radius: 0.45rem;
              width: 100%;
              height: 100%;
              font-size: 1.35rem;
              color: #1e1e1e;
              background-color: #ffffff;
              align-items: center;
              font-family: Lexend, 'Source Sans Pro';
              white-space: nowrap;
              box-shadow: 0 0.1rem 0.1rem rgba(0, 14, 51, 0.0500000007);
              display: flex;
              justify-content: center;
              font-weight: 500;
              line-height: 1;
            }
          }
          .component-5-a8m {
            box-sizing: border-box;
            padding: 0.05rem 0.175rem 0rem 0.125rem;
            width: 4.05rem;
            height: 100%;
            border-radius: 0.3rem;
            flex-shrink: 0;

            .frame-3813-vCd {
              width: 100%;
              height: 100%;
              align-items: center;
              justify-content: center;
              line-height: 1;
              border-radius: 0.45rem;
              display: flex;
              font-size: 1.35rem;
              font-weight: 500;
              color: #1e1e1e;
              font-family: Lexend, 'Source Sans Pro';
              white-space: nowrap;
              box-shadow: 0 0.1rem 0.1rem rgba(0, 14, 51, 0.0500000007);
              background-color: #ffffff;
            }
          }
          .component-5-b3s {
            border-radius: 0.3rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.05rem 0.175rem 0rem 0.125rem;
            width: 4.05rem;
            height: 100%;

            .frame-3813-jQy {
              white-space: nowrap;
              box-shadow: 0 0.1rem 0.1rem rgba(0, 14, 51, 0.0500000007);
              border-radius: 0.45rem;
              display: flex;
              justify-content: center;
              font-size: 1.35rem;
              width: 100%;
              height: 100%;
              background-color: #ffffff;
              line-height: 1;
              color: #1e1e1e;
              font-family: Lexend, 'Source Sans Pro';
              align-items: center;
              font-weight: 500;
            }
          }
        }
        .week-2-bTB {
          height: 3.375rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 0.225rem;
          width: 100%;

          .auto-group-pwjp-KPB {
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .component-5-sfb {
              flex-shrink: 0;
              margin-bottom: 0.025rem;
              box-sizing: border-box;
              padding: 0.05rem 0.175rem 0rem 0.125rem;
              width: 4.05rem;
              height: calc(100% - 0.025rem);
              border-radius: 0.3rem;

              .frame-3813-117 {
                justify-content: center;
                white-space: nowrap;
                color: #1e1e1e;
                width: 100%;
                font-size: 1.35rem;
                font-weight: 500;
                line-height: 1;
                font-family: Lexend, 'Source Sans Pro';
                height: 100%;
                align-items: center;
                background-color: #ffffff;
                border-radius: 0.45rem;
                display: flex;
                box-shadow: 0 0.1rem 0.1rem rgba(0, 14, 51, 0.0500000007);
              }
            }
            .component-5-ScD {
              margin-bottom: 0.025rem;
              box-sizing: border-box;
              padding: 0.05rem 0.175rem 0rem 0.125rem;
              width: 4.05rem;
              height: calc(100% - 0.025rem);
              border-radius: 0.3rem;
              flex-shrink: 0;

              .frame-3813-Zwj {
                width: 100%;
                height: 100%;
                justify-content: center;
                font-family: Lexend, 'Source Sans Pro';
                white-space: nowrap;
                font-size: 1.35rem;
                font-weight: 500;
                background-color: #ffffff;
                display: flex;
                box-shadow: 0 0.1rem 0.1rem rgba(0, 14, 51, 0.0500000007);
                border-radius: 0.45rem;
                align-items: center;
                line-height: 1;
                color: #1e1e1e;
              }
            }
          }
          .component-5-z1T {
            padding: 0.025rem 0.175rem 0rem 0.125rem;
            width: 4.05rem;
            height: 100%;
            border-radius: 0.3rem;
            flex-shrink: 0;
            box-sizing: border-box;

            .frame-3813-87f {
              width: 100%;
              align-items: center;
              font-weight: 500;
              line-height: 1;
              white-space: nowrap;
              background-color: #9b9b9b;
              height: 100%;
              display: flex;
              justify-content: center;
              font-size: 1.35rem;
              color: #ffffff;
              font-family: Lexend, 'Source Sans Pro';
              border-radius: 0.45rem;
            }
          }
          .auto-group-mo2b-MFK {
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .component-5-g2h {
              height: calc(100% - 0.025rem);
              border-radius: 0.3rem;
              flex-shrink: 0;
              margin-bottom: 0.025rem;
              box-sizing: border-box;
              padding: 0.05rem 0.175rem 0rem 0.125rem;
              width: 4.05rem;

              .frame-3813-1Ks {
                align-items: center;
                font-size: 1.35rem;
                color: #1e1e1e;
                font-weight: 500;
                line-height: 1;
                white-space: nowrap;
                width: 100%;
                height: 100%;
                font-family: Lexend, 'Source Sans Pro';
                border-radius: 0.45rem;
                display: flex;
                justify-content: center;
                box-shadow: 0 0.1rem 0.1rem rgba(0, 14, 51, 0.0500000007);
                background-color: #ffffff;
              }
            }
            .component-5-uAM {
              margin-bottom: 0.025rem;
              box-sizing: border-box;
              padding: 0.05rem 0.175rem 0rem 0.125rem;
              width: 4.05rem;
              height: calc(100% - 0.025rem);
              border-radius: 0.3rem;
              flex-shrink: 0;

              .frame-3813-31f {
                line-height: 1;
                white-space: nowrap;
                border-radius: 0.45rem;
                width: 100%;
                align-items: center;
                font-weight: 500;
                font-family: Lexend, 'Source Sans Pro';
                height: 100%;
                justify-content: center;
                box-shadow: 0 0.1rem 0.1rem rgba(0, 14, 51, 0.0500000007);
                background-color: #ffffff;
                display: flex;
                font-size: 1.35rem;
                color: #1e1e1e;
              }
            }
            .component-5-6Vj {
              height: calc(100% - 0.025rem);
              border-radius: 0.3rem;
              flex-shrink: 0;
              margin-bottom: 0.025rem;
              box-sizing: border-box;
              padding: 0.05rem 0.175rem 0rem 0.125rem;
              width: 4.05rem;

              .frame-3813-2eH {
                width: 100%;
                justify-content: center;
                color: #1e1e1e;
                font-family: Lexend, 'Source Sans Pro';
                height: 100%;
                align-items: center;
                white-space: nowrap;
                border-radius: 0.45rem;
                display: flex;
                font-size: 1.35rem;
                line-height: 1;
                background-color: #ffffff;
                font-weight: 500;
                box-shadow: 0 0.1rem 0.1rem rgba(0, 14, 51, 0.0500000007);
              }
            }
            .component-5-J61 {
              flex-shrink: 0;
              margin-bottom: 0.025rem;
              box-sizing: border-box;
              padding: 0.05rem 0.175rem 0rem 0.125rem;
              width: 4.05rem;
              height: calc(100% - 0.025rem);
              border-radius: 0.3rem;

              .frame-3813-2Xo {
                display: flex;
                font-family: Lexend, 'Source Sans Pro';
                width: 100%;
                font-size: 1.35rem;
                box-shadow: 0 0.1rem 0.1rem rgba(0, 14, 51, 0.0500000007);
                background-color: #ffffff;
                border-radius: 0.45rem;
                justify-content: center;
                font-weight: 500;
                white-space: nowrap;
                height: 100%;
                align-items: center;
                line-height: 1;
                color: #1e1e1e;
              }
            }
          }
        }
        .week-3-VAV {
          flex-shrink: 0;
          margin-bottom: 0.25rem;
          width: 100%;
          height: 3.35rem;
          display: flex;
          align-items: center;

          .component-5-oS5 {
            padding: 0.05rem 0.175rem 0rem 0.125rem;
            width: 4.05rem;
            height: 100%;
            border-radius: 0.3rem;
            flex-shrink: 0;
            box-sizing: border-box;

            .frame-3813-Hs3 {
              border-radius: 0.45rem;
              height: 100%;
              font-size: 1.35rem;
              font-weight: 500;
              line-height: 1;
              font-family: Lexend, 'Source Sans Pro';
              display: flex;
              color: #1e1e1e;
              white-space: nowrap;
              background-color: #ffffff;
              justify-content: center;
              box-shadow: 0 0.1rem 0.1rem rgba(0, 14, 51, 0.0500000007);
              width: 100%;
              align-items: center;
            }
          }
          .component-5-AR3 {
            height: 100%;
            border-radius: 0.3rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.05rem 0.175rem 0rem 0.125rem;
            width: 4.05rem;

            .frame-3813-utR {
              background-color: #ffffff;
              font-family: Lexend, 'Source Sans Pro';
              display: flex;
              align-items: center;
              justify-content: center;
              white-space: nowrap;
              box-shadow: 0 0.1rem 0.1rem rgba(0, 14, 51, 0.0500000007);
              width: 100%;
              color: #1e1e1e;
              border-radius: 0.45rem;
              font-weight: 500;
              font-size: 1.35rem;
              line-height: 1;
              height: 100%;
            }
          }
          .component-5-wKK {
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.05rem 0.175rem 0rem 0.125rem;
            width: 4.05rem;
            height: 100%;
            border-radius: 0.3rem;

            .frame-3813-gnh {
              font-weight: 500;
              line-height: 1;
              color: #1e1e1e;
              height: 100%;
              align-items: center;
              font-size: 1.35rem;
              box-shadow: 0 0.1rem 0.1rem rgba(0, 14, 51, 0.0500000007);
              background-color: #ffffff;
              width: 100%;
              display: flex;
              white-space: nowrap;
              border-radius: 0.45rem;
              justify-content: center;
              font-family: Lexend, 'Source Sans Pro';
            }
          }
          .component-5-kXf {
            box-sizing: border-box;
            padding: 0.05rem 0.175rem 0rem 0.125rem;
            width: 4.05rem;
            height: 100%;
            border-radius: 0.3rem;
            flex-shrink: 0;

            .frame-3813-JJH {
              width: 100%;
              align-items: center;
              font-size: 1.35rem;
              height: 100%;
              display: flex;
              justify-content: center;
              font-weight: 500;
              white-space: nowrap;
              box-shadow: 0 0.1rem 0.1rem rgba(0, 14, 51, 0.0500000007);
              background-color: #ffffff;
              line-height: 1;
              color: #1e1e1e;
              font-family: Lexend, 'Source Sans Pro';
              border-radius: 0.45rem;
            }
          }
          .component-5-xNq {
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.05rem 0.175rem 0rem 0.125rem;
            width: 4.05rem;
            height: 100%;
            border-radius: 0.3rem;

            .frame-3813-hrD {
              display: flex;
              align-items: center;
              font-size: 1.35rem;
              border-radius: 0.45rem;
              justify-content: center;
              line-height: 1;
              font-family: Lexend, 'Source Sans Pro';
              white-space: nowrap;
              height: 100%;
              color: #1e1e1e;
              width: 100%;
              font-weight: 500;
              box-shadow: 0 0.1rem 0.1rem rgba(0, 14, 51, 0.0500000007);
              background-color: #ffffff;
            }
          }
          .component-5-NSZ {
            box-sizing: border-box;
            padding: 0.05rem 0.175rem 0rem 0.125rem;
            width: 4.05rem;
            height: 100%;
            border-radius: 0.3rem;
            flex-shrink: 0;

            .frame-3813-2GD {
              white-space: nowrap;
              width: 100%;
              align-items: center;
              color: #1e1e1e;
              font-family: Lexend, 'Source Sans Pro';
              height: 100%;
              line-height: 1;
              border-radius: 0.45rem;
              display: flex;
              font-weight: 500;
              justify-content: center;
              font-size: 1.35rem;
              box-shadow: 0 0.1rem 0.1rem rgba(0, 14, 51, 0.0500000007);
              background-color: #ffffff;
            }
          }
          .component-5-7YZ {
            border-radius: 0.3rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.05rem 0.175rem 0rem 0.125rem;
            width: 4.05rem;
            height: 100%;

            .frame-3813-TcR {
              width: 100%;
              height: 100%;
              display: flex;
              font-size: 1.35rem;
              white-space: nowrap;
              color: #1e1e1e;
              box-shadow: 0 0.1rem 0.1rem rgba(0, 14, 51, 0.0500000007);
              background-color: #ffffff;
              border-radius: 0.45rem;
              align-items: center;
              font-weight: 500;
              line-height: 1;
              font-family: Lexend, 'Source Sans Pro';
              justify-content: center;
            }
          }
        }
        .week-4-YNy {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 0.25rem;
          width: 100%;
          height: 3.35rem;

          .component-5-reZ {
            box-sizing: border-box;
            padding: 0.05rem 0.175rem 0rem 0.125rem;
            width: 4.05rem;
            height: 100%;
            border-radius: 0.3rem;
            flex-shrink: 0;

            .frame-3813-1GZ {
              width: 100%;
              line-height: 1;
              color: #1e1e1e;
              background-color: #ffffff;
              display: flex;
              font-weight: 500;
              font-family: Lexend, 'Source Sans Pro';
              box-shadow: 0 0.1rem 0.1rem rgba(0, 14, 51, 0.0500000007);
              height: 100%;
              align-items: center;
              white-space: nowrap;
              justify-content: center;
              font-size: 1.35rem;
              border-radius: 0.45rem;
            }
          }
          .component-5-Ssf {
            width: 4.05rem;
            height: 100%;
            border-radius: 0.3rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.05rem 0.175rem 0rem 0.125rem;

            .frame-3813-zeH {
              align-items: center;
              color: #1e1e1e;
              white-space: nowrap;
              box-shadow: 0 0.1rem 0.1rem rgba(0, 14, 51, 0.0500000007);
              border-radius: 0.45rem;
              height: 100%;
              line-height: 1;
              background-color: #ffffff;
              font-size: 1.35rem;
              font-weight: 500;
              font-family: Lexend, 'Source Sans Pro';
              display: flex;
              justify-content: center;
              width: 100%;
            }
          }
          .component-5-U3f {
            height: 100%;
            border-radius: 0.3rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.05rem 0.175rem 0rem 0.125rem;
            width: 4.05rem;

            .frame-3813-cQm {
              height: 100%;
              line-height: 1;
              box-shadow: 0 0.1rem 0.1rem rgba(0, 14, 51, 0.0500000007);
              border-radius: 0.45rem;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 1.35rem;
              white-space: nowrap;
              background-color: #ffffff;
              width: 100%;
              font-family: Lexend, 'Source Sans Pro';
              font-weight: 500;
              color: #1e1e1e;
            }
          }
          .component-5-EBF {
            box-sizing: border-box;
            padding: 0.05rem 0.175rem 0rem 0.125rem;
            width: 4.05rem;
            height: 100%;
            border-radius: 0.3rem;
            flex-shrink: 0;

            .frame-3813-9Z7 {
              height: 100%;
              box-shadow: 0 0.1rem 0.1rem rgba(0, 14, 51, 0.0500000007);
              font-size: 1.35rem;
              background-color: #ffffff;
              border-radius: 0.45rem;
              width: 100%;
              align-items: center;
              justify-content: center;
              white-space: nowrap;
              color: #1e1e1e;
              font-family: Lexend, 'Source Sans Pro';
              display: flex;
              font-weight: 500;
              line-height: 1;
            }
          }
          .component-5-qRw {
            border-radius: 0.3rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.05rem 0.175rem 0rem 0.125rem;
            width: 4.05rem;
            height: 100%;

            .frame-3813-xWZ {
              width: 100%;
              height: 100%;
              font-size: 1.35rem;
              font-weight: 500;
              border-radius: 0.45rem;
              align-items: center;
              font-family: Lexend, 'Source Sans Pro';
              justify-content: center;
              line-height: 1;
              color: #1e1e1e;
              white-space: nowrap;
              box-shadow: 0 0.1rem 0.1rem rgba(0, 14, 51, 0.0500000007);
              display: flex;
              background-color: #ffffff;
            }
          }
          .component-5-cr1 {
            box-sizing: border-box;
            padding: 0.05rem 0.175rem 0rem 0.125rem;
            width: 4.05rem;
            height: 100%;
            border-radius: 0.3rem;
            flex-shrink: 0;

            .frame-3813-M2u {
              height: 100%;
              font-size: 1.35rem;
              color: #1e1e1e;
              border-radius: 0.45rem;
              align-items: center;
              white-space: nowrap;
              background-color: #ffffff;
              line-height: 1;
              width: 100%;
              display: flex;
              justify-content: center;
              font-weight: 500;
              font-family: Lexend, 'Source Sans Pro';
              box-shadow: 0 0.1rem 0.1rem rgba(0, 14, 51, 0.0500000007);
            }
          }
          .component-5-EcV {
            border-radius: 0.3rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.05rem 0.175rem 0rem 0.125rem;
            width: 4.05rem;
            height: 100%;

            .frame-3813-ypy {
              display: flex;
              align-items: center;
              justify-content: center;
              color: #1e1e1e;
              font-family: Lexend, 'Source Sans Pro';
              height: 100%;
              box-shadow: 0 0.1rem 0.1rem rgba(0, 14, 51, 0.0500000007);
              width: 100%;
              line-height: 1;
              white-space: nowrap;
              border-radius: 0.45rem;
              font-size: 1.35rem;
              font-weight: 500;
              background-color: #ffffff;
            }
          }
        }
        .week-5-GZB {
          width: 100%;
          height: 3.35rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .component-5-AeZ {
            border-radius: 0.3rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.05rem 0.175rem 0rem 0.125rem;
            width: 4.05rem;
            height: 100%;

            .frame-3813-WiR {
              align-items: center;
              font-size: 1.35rem;
              color: #1e1e1e;
              white-space: nowrap;
              box-shadow: 0 0.1rem 0.1rem rgba(0, 14, 51, 0.0500000007);
              border-radius: 0.45rem;
              width: 100%;
              justify-content: center;
              font-weight: 500;
              background-color: #ffffff;
              height: 100%;
              display: flex;
              line-height: 1;
              font-family: Lexend, 'Source Sans Pro';
            }
          }
          .component-5-yru {
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.05rem 0.175rem 0rem 0.125rem;
            width: 4.05rem;
            height: 100%;
            border-radius: 0.3rem;

            .frame-3813-Uof {
              width: 100%;
              align-items: center;
              color: #1e1e1e;
              height: 100%;
              font-weight: 500;
              white-space: nowrap;
              box-shadow: 0 0.1rem 0.1rem rgba(0, 14, 51, 0.0500000007);
              background-color: #ffffff;
              display: flex;
              font-family: Lexend, 'Source Sans Pro';
              justify-content: center;
              font-size: 1.35rem;
              line-height: 1;
              border-radius: 0.45rem;
            }
          }
          .component-5-M6m {
            width: 4.05rem;
            height: 100%;
            border-radius: 0.3rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.05rem 0.175rem 0rem 0.125rem;

            .frame-3813-guj {
              font-size: 1.35rem;
              color: #1e1e1e;
              height: 100%;
              justify-content: center;
              line-height: 1;
              white-space: nowrap;
              box-shadow: 0 0.1rem 0.1rem rgba(0, 14, 51, 0.0500000007);
              background-color: #ffffff;
              border-radius: 0.45rem;
              width: 100%;
              display: flex;
              font-family: Lexend, 'Source Sans Pro';
              align-items: center;
              font-weight: 500;
            }
          }
          .component-5-XvM {
            height: 100%;
            border-radius: 0.3rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.05rem 0.175rem 0rem 0.125rem;
            width: 4.05rem;

            .frame-3813-Uqb {
              background-color: #ffffff;
              font-size: 1.35rem;
              font-weight: 500;
              line-height: 1;
              width: 100%;
              display: flex;
              justify-content: center;
              font-family: Lexend, 'Source Sans Pro';
              box-shadow: 0 0.1rem 0.1rem rgba(0, 14, 51, 0.0500000007);
              white-space: nowrap;
              border-radius: 0.45rem;
              height: 100%;
              align-items: center;
              color: #1e1e1e;
            }
          }
          .component-5-a7w {
            padding: 0.05rem 0.175rem 0rem 0.125rem;
            width: 4.05rem;
            height: 100%;
            border-radius: 0.3rem;
            flex-shrink: 0;
            box-sizing: border-box;

            .frame-3813-KLR {
              font-family: Lexend, 'Source Sans Pro';
              box-shadow: 0 0.1rem 0.1rem rgba(0, 14, 51, 0.0500000007);
              background-color: #ffffff;
              display: flex;
              font-size: 1.35rem;
              line-height: 1;
              width: 100%;
              justify-content: center;
              border-radius: 0.45rem;
              font-weight: 500;
              white-space: nowrap;
              height: 100%;
              align-items: center;
              color: #1e1e1e;
            }
          }
          .component-5-9qF {
            box-sizing: border-box;
            padding: 0.05rem 0.175rem 0rem 0.125rem;
            width: 4.05rem;
            height: 100%;
            border-radius: 0.3rem;
            flex-shrink: 0;

            .frame-3813-6Vb {
              white-space: nowrap;
              height: 100%;
              display: flex;
              justify-content: center;
              font-size: 1.35rem;
              line-height: 1;
              border-radius: 0.45rem;
              width: 100%;
              align-items: center;
              font-weight: 500;
              color: rgba(0, 23, 83, 0.150000006);
              font-family: Lexend, 'Source Sans Pro';
            }
          }
          .component-5-xnh {
            height: 100%;
            border-radius: 0.3rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.05rem 0.175rem 0rem 0.125rem;
            width: 4.05rem;

            .frame-3813-fh7 {
              line-height: 1;
              color: rgba(0, 23, 83, 0.150000006);
              white-space: nowrap;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 1.35rem;
              font-weight: 500;
              border-radius: 0.45rem;
              width: 100%;
              height: 100%;
              font-family: Lexend, 'Source Sans Pro';
            }
          }
        }
      }
    }
  }
}
