
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 63.2rem;
}.frame-pop-up-success-1NM {
  align-items: flex-end;
  background-color: #ffffff;
  border-radius: 2rem;
  width: 100%;
  padding: 2.25rem 1.5rem 1.5rem 7.65rem;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  box-sizing: border-box;

  .frame-3961-Ktq {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 6.15rem 3.75rem 0rem;
    width: calc(100% - 6.15rem);
    height: 6.6rem;
    overflow: hidden;
    position: relative;

    .frame-notification-G3P {
      height: calc(100% - 3.1rem);
      font-family: Inter, 'Source Sans Pro';
      align-items: center;
      color: #000000;
      display: flex;
      flex-shrink: 0;
      width: 41.1rem;
      text-align: center;
      line-height: 1.2125;
      justify-content: center;
      background-color: #f0e68c;
      font-size: 2.8rem;
      font-weight: 400;
      white-space: nowrap;
      margin: 1.55rem 2rem 1.55rem 0rem;
      border-radius: 2rem;
    }
    .success-icon-jhf {
      width: 4.8rem;
      height: 6.6rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .frame-3962-gcu {
    height: 5.4rem;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    width: 10.8rem;

    .frame-notification-qkh {
      width: 100%;
      height: 100%;
      font-size: 3.6rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #90ee90;
      text-align: center;
      font-weight: 400;
      color: #000000;
      white-space: nowrap;
    }
  }
}
