
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.ng-nhp-kAZ {
  box-sizing: border-box;
  padding: 14.7rem 30.4rem 14.8rem 30.4rem;
  width: 100%;
  height: 102.4rem;
  overflow: hidden;
  position: relative;
  background-color: #f0e68c;

  .frame-3914-Sp5 {
    align-items: center;
    flex-direction: column;
    display: flex;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    box-sizing: border-box;
    padding-bottom: 10.05rem;
    width: 100%;
    height: 100%;

    .sign-in-avH {
      font-size: 3.6rem;
      font-weight: 400;
      line-height: 1.2125;
      white-space: nowrap;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      flex-shrink: 0;
      width: 100%;
      align-items: center;
      background-color: #ffffff;
      margin-bottom: 10.15rem;
      height: 10.4rem;
      overflow: hidden;
      position: relative;
      text-decoration-line: underline;
      justify-content: center;
    }
    .sign-in-form-33B {
      margin: 0 10.4rem;
      width: calc(100% - 20.8rem);
      height: 42.3rem;
      overflow: hidden;
      position: relative;
      background-color: #ffffff;
      flex-shrink: 0;

      .frame-3929-mE5 {
        width: 100%;
        overflow: hidden;
        position: relative;
        align-items: center;
        flex-direction: column;
        padding-top: 0.7rem;
        height: 100%;
        display: flex;
        box-sizing: border-box;

        .form-gM3 {
          overflow: hidden;
          position: relative;
          row-gap: 1.7rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 6.6rem;
          width: 100%;

          .username-cVb {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.2125;
          }
          .frame-3926-9kR {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            background-color: #f0e68c;
            flex-shrink: 0;
            padding: 1.5rem 3.1946rem;
            font-size: 2.8rem;
            font-weight: 400;
            line-height: 1.2125;
            box-sizing: border-box;
            width: 100%;
            display: flex;
            color: #000000;
          }
          .password-rPw {
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
          }
          .frame-3927-bMX {
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            background-color: #f0e68c;
            padding: 1.5rem 3.1946rem;
            width: 100%;
            font-size: 2.8rem;
            font-weight: 400;
            flex-shrink: 0;
            box-sizing: border-box;
            display: flex;
            color: #000000;
            white-space: nowrap;
          }
          .qun-mt-khu-VSu {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            display: flex;
            font-size: 2.4rem;
            flex-shrink: 0;
            margin-left: 43.7rem;
            cursor: pointer;
            text-align: right;
          }
        }
        .button-mvD {
          color: #000000;
          white-space: nowrap;
          background-color: #90ee90;
          cursor: pointer;
          overflow: hidden;
          font-size: 3.6rem;
          font-weight: 400;
          line-height: 1.2125;
          width: 100%;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          height: 6.4rem;
          border-radius: 2rem;
        }
      }
    }
  }
}
