
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.nhp-s-in-thoi-ueM {
  overflow: hidden;
  position: relative;
  background-color: #f0e68c;
  box-sizing: border-box;
  padding: 16.15rem 30.2rem;
  width: 100%;
  height: 102.4rem;

  .frame-3914-1hP {
    display: flex;
    padding-bottom: 8.65rem;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    box-sizing: border-box;

    .sign-in-uXs {
      color: #000000;
      margin-bottom: 8.75rem;
      height: 10.4rem;
      font-size: 3.6rem;
      line-height: 1.2125;
      overflow: hidden;
      font-weight: 400;
      background-color: #ffffff;
      flex-shrink: 0;
      width: 100%;
      font-family: Inter, 'Source Sans Pro';
      align-items: center;
      justify-content: center;
      position: relative;
      text-decoration-line: underline;
      white-space: nowrap;
      display: flex;
    }
    .sign-in-form-b9o {
      margin: 0 10.6rem;
      width: calc(100% - 21.2rem);
      height: 42.3rem;
      overflow: hidden;
      position: relative;
      background-color: #ffffff;
      flex-shrink: 0;

      .frame-3929-XZF {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        flex-direction: column;
        padding-top: 3.75rem;
        align-items: center;
        display: flex;

        .form-Dws {
          overflow: hidden;
          position: relative;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 14.4rem;
          width: 100%;

          .username-nEH {
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            margin-bottom: 1.7rem;
            display: flex;
            font-size: 2.4rem;
            font-weight: 700;
            white-space: nowrap;
            flex-shrink: 0;
          }
          .frame-3926-gqT {
            font-size: 2.8rem;
            font-weight: 400;
            line-height: 1.2125;
            white-space: nowrap;
            background-color: #f0e68c;
            margin-bottom: 0.25rem;
            width: 100%;
            display: flex;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            box-sizing: border-box;
            padding: 1.75rem 3.1946rem;
            color: #000000;
          }
          .password-8SZ {
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #b0b0b0;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 61.1rem;
            display: flex;
          }
        }
        .button-qbs {
          width: 100%;
          align-items: center;
          font-weight: 400;
          line-height: 1.2125;
          flex-shrink: 0;
          height: 6.4rem;
          position: relative;
          justify-content: center;
          font-size: 3.6rem;
          font-family: Inter, 'Source Sans Pro';
          background-color: #90ee90;
          color: #000000;
          overflow: hidden;
          display: flex;
          white-space: nowrap;
          border-radius: 2rem;
        }
      }
    }
  }
}
