
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.nhp-m-thit-lp-DRP {
  overflow: hidden;
  position: relative;
  background-color: #f0e68c;
  box-sizing: border-box;
  padding: 14.8rem 30.2rem;
  width: 100%;
  height: 102.4rem;

  .frame-3914-YiZ {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    padding-bottom: 10.05rem;
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: #ffffff;

    .sign-in-Vth {
      text-decoration-line: underline;
      color: #000000;
      background-color: #ffffff;
      height: 10.4rem;
      font-weight: 400;
      line-height: 1.2125;
      justify-content: center;
      flex-shrink: 0;
      position: relative;
      width: 100%;
      overflow: hidden;
      font-size: 3.6rem;
      white-space: nowrap;
      display: flex;
      margin-bottom: 10.05rem;
      align-items: center;
      font-family: Inter, 'Source Sans Pro';
    }
    .sign-in-form-nso {
      background-color: #ffffff;
      flex-shrink: 0;
      margin: 0 10.6rem;
      width: calc(100% - 21.2rem);
      height: 42.3rem;
      overflow: hidden;
      position: relative;

      .frame-3929-Woo {
        box-sizing: border-box;
        padding-top: 1.55rem;
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        overflow: hidden;
        align-items: center;
        flex-direction: column;

        .form-fAu {
          width: 100%;
          overflow: hidden;
          position: relative;
          row-gap: 1.7rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 7.8rem;

          .username-cM3 {
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
          }
          .frame-3926-MZX {
            flex-shrink: 0;
            box-sizing: border-box;
            width: 100%;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            background-color: #f0e68c;
            white-space: nowrap;
            padding: 1.75rem 3.1946rem;
            display: flex;
            font-size: 2.8rem;
            font-weight: 400;
            color: #000000;
          }
          .password-ENR {
            font-weight: 700;
            line-height: 1.2125;
            color: #b0b0b0;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 2.4rem;
          }
        }
        .classify-wGq {
          width: 100%;
          height: 4rem;
          overflow: hidden;
          position: relative;
          flex-shrink: 0;
          margin-bottom: 6.25rem;
        }
        .button-F2d {
          height: 6.4rem;
          overflow: hidden;
          justify-content: center;
          color: #000000;
          white-space: nowrap;
          background-color: #90ee90;
          position: relative;
          font-size: 3.6rem;
          line-height: 1.2125;
          border-radius: 2rem;
          width: 100%;
          align-items: center;
          font-family: Inter, 'Source Sans Pro';
          cursor: pointer;
          display: flex;
          font-weight: 400;
          flex-shrink: 0;
        }
      }
    }
  }
}
