
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.ql-thm-dn-c-ae9 {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ffffff;

  .frame-drawer-sdF {
    padding: 2.5rem 0rem 31.8rem 0rem;
    width: 34.6rem;
    background-color: #f0e68c;
    flex-shrink: 0;
    box-sizing: border-box;
    height: 102.4rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: solid 0.1rem #000000;

    .logo-ywB {
      margin: 0rem 3.7rem 5.1rem 3.7rem;
      width: calc(100% - 7.4rem);
      overflow: hidden;
      position: relative;
      flex-shrink: 0;

      .app-logo-KVF {
        object-fit: cover;
        vertical-align: top;
        width: 27.2rem;
        height: 25rem;
      }
    }
    .navigate-2uT {
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 0.1rem;
      width: 34.5rem;
      overflow: hidden;
      position: relative;
      align-items: center;
      display: flex;

      .trang-ch--ms3 {
        flex-shrink: 0;
        box-sizing: border-box;
        width: 100%;
        border: solid 0.1rem #000000;
        background-color: #90ee90;
        padding: 2.55rem 5.6rem 2.55rem 3rem;
        cursor: pointer;
        display: flex;
        align-items: center;

        .icon-home-7AD {
          margin: 0rem 3.6rem 0rem 0rem;
          width: 4rem;
          height: 3.5505rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .trang-ch-22H {
          white-space: nowrap;
          display: flex;
          justify-content: center;
          font-weight: 400;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          align-items: center;
          font-size: 3.6rem;
          line-height: 1.2125;
        }
      }
      .cn-h-VwT {
        box-sizing: border-box;
        padding: 2.55rem 8.6rem 2.55rem 3rem;
        width: 100%;
        display: flex;
        align-items: center;
        border: solid 0.1rem #000000;
        background-color: #32cd32;
        flex-shrink: 0;

        .icon-user-circle-alt-2gV {
          height: 4rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 6.6rem 0rem 0rem;
          width: 4rem;
        }
        .cn-h-8zR {
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 3.6rem;
          font-weight: 400;
          justify-content: center;
          color: #000000;
          flex-shrink: 0;
          display: flex;
          align-items: center;
        }
      }
      .ha-n-TWu {
        padding: 2.55rem 7.5rem 2.55rem 3rem;
        display: flex;
        align-items: center;
        border: solid 0.1rem #000000;
        flex-shrink: 0;
        box-sizing: border-box;
        width: 100%;
        cursor: pointer;
        background-color: #90ee90;

        .icon-wallet-kku {
          flex-shrink: 0;
          margin: 0rem 5.5rem 0rem 0rem;
          width: 4rem;
          height: 3.644rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
        }
        .ha-n-f7B {
          align-items: center;
          justify-content: center;
          line-height: 1.2125;
          white-space: nowrap;
          display: flex;
          font-weight: 400;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          font-size: 3.6rem;
        }
      }
      .phn-nh-ir9 {
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.55rem 6.7rem 2.55rem 3rem;
        display: flex;
        background-color: #90ee90;
        width: 100%;
        cursor: pointer;
        border: solid 0.1rem #000000;

        .icon-message-text-rxM {
          margin: 0rem 4.7rem 0rem 0rem;
          width: 4rem;
          height: 3.9757rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .phn-nh-zof {
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          justify-content: center;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          align-items: center;
          font-size: 3.6rem;
          font-weight: 400;
        }
      }
    }
  }
  .frame-header-and-content-Tx9 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 109.4rem;
    height: 102.4rem;
    align-items: center;

    .frame-header-b2m {
      box-sizing: border-box;
      padding: 1.4rem 1.6rem 1.4rem 1.1rem;
      width: calc(100% - 0.6rem);
      height: 12.8rem;
      display: flex;
      background-color: #f0e68c;
      margin: 0 0.3rem;
      align-items: center;
      border: solid 0.1rem #000000;
      flex-shrink: 0;

      .thng-tin-c-dn-TKs {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 20.2rem 4.1rem 0rem;
        font-size: 4.8rem;
        font-weight: 700;
        line-height: 1.2125;
      }
      .group-user-info-mbT {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-jkqw-vjF {
          margin: 1.9rem 3.2rem 1.6rem 0rem;
          height: calc(100% - 3.5rem);
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .name-and-first-name-rso {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.5rem;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2125;
          }
          .id-number-or-worker-number-BQH {
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 0.4rem;
            font-size: 2.4rem;
          }
        }
        .user-avatar-KFb {
          border: solid 0.1rem #000000;
          background-repeat: no-repeat;
          background-position: center;
          width: 10rem;
          height: 10rem;
          background-image: url('REPLACE_IMAGE:1f67d89b783cd6587922468ff6362d9f0aaf029c');
          border-radius: 5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          background-size: 100% 100%;
        }
      }
    }
    .content-yL9 {
      box-sizing: border-box;
      flex-direction: column;
      padding: 1.5rem 2.05rem;
      width: 100%;
      overflow: hidden;
      position: relative;
      align-items: center;
      display: flex;
      flex-shrink: 0;

      .form-gVT {
        margin: 0rem 0.95rem 10.4rem 1.95rem;
        width: calc(100% - 2.9rem);
        height: 69.8rem;
        position: relative;
        overflow: hidden;
        flex-shrink: 0;

        .frame-types-of-infos-cP7 {
          width: 46.9rem;
          height: 65.2rem;
          position: absolute;
          left: 0;
          top: 0;

          .auto-group-wvij-xC5 {
            width: 100%;
            row-gap: 2rem;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            padding-bottom: 2rem;

            .frame-3849-gtm {
              font-weight: 400;
              line-height: 1.2125;
              flex-shrink: 0;
              width: 30.9rem;
              padding: 1rem 0;
              font-size: 3.6rem;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              box-sizing: border-box;
            }
            .frame-3850-QZs {
              white-space: nowrap;
              flex-shrink: 0;
              width: 21.5rem;
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2125;
              box-sizing: border-box;
              padding: 1rem 0;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
            .frame-3845-syF {
              height: 6.4rem;
              font-size: 3.6rem;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              align-items: center;
              justify-content: center;
              width: 16.3rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              display: flex;
              flex-shrink: 0;
            }
            .frame-3846-nKX {
              flex-shrink: 0;
              box-sizing: border-box;
              width: 31.4rem;
              font-size: 3.6rem;
              font-weight: 400;
              font-family: Inter, 'Source Sans Pro';
              padding: 1rem 0;
              line-height: 1.2125;
              color: #000000;
              white-space: nowrap;
            }
            .frame-3851-76u {
              box-sizing: border-box;
              font-size: 3.6rem;
              font-weight: 400;
              color: #000000;
              white-space: nowrap;
              flex-shrink: 0;
              padding: 1rem 0;
              width: 24.8rem;
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
            }
            .frame-3845-S9B {
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              font-size: 3.6rem;
              line-height: 1.2125;
              width: 27.7rem;
              font-weight: 400;
              white-space: nowrap;
              box-sizing: border-box;
              padding: 1rem 0;
            }
          }
          .frame-3852-YCD {
            margin-bottom: 2rem;
            box-sizing: border-box;
            width: 100%;
            padding: 1rem 0;
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .frame-3845-4gM {
            justify-content: center;
            width: 34.2rem;
            font-size: 3.6rem;
            align-items: center;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            height: 6.4rem;
            font-weight: 400;
            line-height: 1.2125;
          }
        }
        .frame-info-YrR {
          width: 64.7rem;
          height: 69.8rem;
          position: absolute;
          left: 37.7rem;
          top: 0;

          .thi-gian-4Zs {
            width: 64.7rem;
            height: 10rem;
            position: absolute;
            left: 0;
            top: 0;

            .auto-group-irdq-nVs {
              position: relative;
              width: 100%;
              height: 4.4rem;

              .label-text-kBo {
                position: absolute;
                color: #040f0f;
                font-family: Quicksand, 'Source Sans Pro';
                white-space: nowrap;
                height: 2rem;
                left: 0;
                top: 0;
                font-size: 2rem;
                font-weight: 700;
                line-height: 1;
                width: 9.1rem;
              }
              .input-field-qyw {
                top: 0;
                border: solid 0.2rem #000000;
                box-sizing: border-box;
                border-radius: 0.8rem;
                width: 64.7rem;
                height: 4.4rem;
                position: absolute;
                left: 0;
              }
            }
          }
          .thi-gian-aAq {
            width: 36rem;
            height: 10rem;
            position: absolute;
            left: 0;
            top: 8.5429rem;

            .auto-group-ggyt-KeD {
              width: 100%;
              height: 4.4rem;
              position: relative;

              .label-text-Un1 {
                font-family: Quicksand, 'Source Sans Pro';
                width: 9.1rem;
                top: 0;
                font-weight: 700;
                line-height: 1;
                color: #040f0f;
                white-space: nowrap;
                height: 2rem;
                position: absolute;
                left: 0;
                font-size: 2rem;
              }
              .input-field-YWy {
                box-sizing: border-box;
                height: 4.4rem;
                position: absolute;
                left: 0;
                top: 0;
                border: solid 0.2rem #000000;
                border-radius: 0.8rem;
                padding: 2rem 1.8rem 2rem 33.4rem;
                width: 36rem;

                .icon-fill-caret-small-down-Eub {
                  width: 0.8rem;
                  height: 0.4rem;
                  object-fit: contain;
                  vertical-align: top;
                }
              }
            }
          }
          .thi-gian-jbT {
            width: 30.8rem;
            height: 10rem;
            position: absolute;
            left: 0;
            top: 17.0857rem;

            .auto-group-q6gb-4Nq {
              width: 100%;
              height: 4.4rem;
              position: relative;

              .label-text-pN1 {
                left: 0;
                line-height: 1;
                width: 9.1rem;
                height: 2rem;
                font-size: 2rem;
                font-weight: 700;
                color: #040f0f;
                font-family: Quicksand, 'Source Sans Pro';
                white-space: nowrap;
                position: absolute;
                top: 0;
              }
              .input-field-7ru {
                padding: 1.2rem;
                height: 4.4rem;
                position: absolute;
                left: 0;
                top: 0;
                border: solid 0.2rem #000000;
                box-sizing: border-box;
                width: 30.8rem;
                border-radius: 0.8rem;

                .lead-icon-text-GE1 {
                  font-size: 3.6rem;
                  font-weight: 400;
                  line-height: 0.5555555556;
                  color: #040f0f;
                  display: flex;
                  margin-right: 20.5rem;
                  width: 7.9rem;
                  height: 100%;
                  align-items: center;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  justify-content: center;
                }
              }
            }
          }
          .thi-gian-Uqs {
            top: 25.6286rem;
            width: 64.7rem;
            height: 10rem;
            position: absolute;
            left: 0;

            .auto-group-ww2k-DoT {
              width: 100%;
              height: 4.3rem;
              position: relative;

              .label-text-BEV {
                top: 0;
                font-size: 2rem;
                white-space: nowrap;
                width: 9.1rem;
                height: 2rem;
                position: absolute;
                color: #040f0f;
                font-family: Quicksand, 'Source Sans Pro';
                left: 0;
                font-weight: 700;
                line-height: 1;
              }
              .input-field-ugH {
                box-sizing: border-box;
                border-radius: 0.8rem;
                width: 64.7rem;
                height: 4.3rem;
                position: absolute;
                left: 0;
                top: 0;
                border: solid 0.2rem #000000;
              }
            }
          }
          .thi-gian-EiZ {
            width: 64.7rem;
            height: 10rem;
            position: absolute;
            left: 0;
            top: 34.1714rem;

            .auto-group-5mgf-yAM {
              width: 100%;
              height: 4.3rem;
              position: relative;

              .label-text-FNm {
                font-size: 2rem;
                line-height: 1;
                height: 2rem;
                left: 0;
                top: 0;
                color: #040f0f;
                font-family: Quicksand, 'Source Sans Pro';
                white-space: nowrap;
                width: 9.1rem;
                position: absolute;
                font-weight: 700;
              }
              .input-field-LQD {
                left: 0;
                top: 0;
                border: solid 0.2rem #000000;
                box-sizing: border-box;
                border-radius: 0.8rem;
                width: 64.7rem;
                height: 4.3rem;
                position: absolute;
              }
            }
          }
          .thi-gian-fhP {
            width: 64.7rem;
            height: 10rem;
            position: absolute;
            left: 0;
            top: 42.7143rem;

            .auto-group-mz91-pKP {
              position: relative;
              width: 100%;
              height: 4.4rem;

              .label-text-Nbo {
                top: 0;
                line-height: 1;
                white-space: nowrap;
                position: absolute;
                left: 0;
                font-size: 2rem;
                font-weight: 700;
                color: #040f0f;
                font-family: Quicksand, 'Source Sans Pro';
                width: 9.1rem;
                height: 2rem;
              }
              .input-field-WT7 {
                height: 4.4rem;
                position: absolute;
                left: 0;
                top: 0;
                border: solid 0.2rem #000000;
                box-sizing: border-box;
                border-radius: 0.8rem;
                width: 64.7rem;
              }
            }
          }
          .thi-gian-2RT {
            left: 0;
            top: 51.2571rem;
            width: 64.7rem;
            height: 10rem;
            position: absolute;

            .auto-group-ecvy-kcM {
              width: 100%;
              height: 4.4rem;
              position: relative;

              .label-text-7Su {
                line-height: 1;
                color: #040f0f;
                font-family: Quicksand, 'Source Sans Pro';
                width: 9.1rem;
                position: absolute;
                left: 0;
                font-weight: 700;
                height: 2rem;
                top: 0;
                font-size: 2rem;
                white-space: nowrap;
              }
              .input-field-Szy {
                top: 0;
                border: solid 0.2rem #000000;
                box-sizing: border-box;
                border-radius: 0.8rem;
                width: 64.7rem;
                height: 4.4rem;
                position: absolute;
                left: 0;
              }
            }
          }
          .thi-gian-yzu {
            top: 59.8rem;
            width: 36rem;
            height: 10rem;
            position: absolute;
            left: 0;

            .auto-group-3ebm-ihb {
              width: 100%;
              height: 4.4rem;
              position: relative;

              .label-text-gPX {
                line-height: 1;
                white-space: nowrap;
                height: 2rem;
                position: absolute;
                left: 0;
                top: 0;
                font-size: 2rem;
                width: 9.1rem;
                font-weight: 700;
                color: #040f0f;
                font-family: Quicksand, 'Source Sans Pro';
              }
              .input-field-pEq {
                padding: 2rem 1.8rem 2rem 33.4rem;
                height: 4.4rem;
                position: absolute;
                border: solid 0.2rem #000000;
                border-radius: 0.8rem;
                box-sizing: border-box;
                width: 36rem;
                left: 0;
                top: 0;

                .icon-fill-caret-small-down-Xf3 {
                  width: 0.8rem;
                  height: 0.4rem;
                  object-fit: contain;
                  vertical-align: top;
                }
              }
            }
          }
        }
      }
      .button-yX3 {
        width: 100%;
        height: 6.4rem;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .frame-turn-back-button-hxq {
          cursor: pointer;
          display: flex;
          align-items: center;
          border: solid 0.1rem #32cd32;
          margin-right: 59.95rem;
          box-sizing: border-box;
          padding: 1rem 0.8rem 1rem 2.433rem;
          height: 100%;
          background-color: #ffffff;
          border-radius: 2rem;
          flex-shrink: 0;

          .corner-down-left-Ehs {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1.333rem 0rem 0rem;
            width: 1.3333rem;
            height: 1.3333rem;
            position: relative;
          }
          .quay-li-y9f {
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #32cd32;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .frame-3852-S3F {
          line-height: 1.2125;
          border: solid 0.1rem #90ee90;
          height: 100%;
          font-size: 3.6rem;
          display: flex;
          flex-shrink: 0;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          justify-content: center;
          border-radius: 2rem;
          width: 25.65rem;
          cursor: pointer;
          font-weight: 400;
          align-items: center;
          box-sizing: border-box;
          background-color: #90ee90;
        }
      }
    }
  }
}
