
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.qun-tr-xem-thu-chi--NdB {
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;

  .frame-drawer-URK {
    flex-direction: column;
    background-color: #f0e68c;
    flex-shrink: 0;
    height: 102.4rem;
    align-items: center;
    display: flex;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    padding: 2.5rem 0rem 41.3rem 0rem;
    width: 34.6rem;

    .logo-NWh {
      flex-shrink: 0;
      margin: 0rem 3.7rem 5.1rem 3.7rem;
      width: calc(100% - 7.4rem);
      overflow: hidden;
      position: relative;

      .app-logo-KB3 {
        vertical-align: top;
        width: 27.2rem;
        height: 25rem;
        object-fit: cover;
      }
    }
    .navigate-EJ1 {
      position: relative;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 0.1rem;
      width: 34.5rem;
      overflow: hidden;

      .trang-ch--AxM {
        box-sizing: border-box;
        padding: 2.55rem 5.6rem 2.55rem 3rem;
        cursor: pointer;
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        display: flex;
        border: solid 0.1rem #000000;
        background-color: #90ee90;

        .icon-home-Jof {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 3.6rem 0rem 0rem;
          width: 4rem;
          height: 3.5505rem;
        }
        .trang-ch-pGD {
          display: flex;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          align-items: center;
          justify-content: center;
          font-size: 3.6rem;
          line-height: 1.2125;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .ha-n-gZK {
        width: 100%;
        display: flex;
        align-items: center;
        border: solid 0.1rem #000000;
        background-color: #32cd32;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.55rem 7.5rem 2.55rem 3rem;

        .icon-wallet-CGm {
          height: 3.644rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 5.5rem 0rem 0rem;
          width: 4rem;
        }
        .ha-n-7Pj {
          font-size: 3.6rem;
          font-weight: 400;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          align-items: center;
          font-family: Inter, 'Source Sans Pro';
          justify-content: center;
          line-height: 1.2125;
        }
      }
      .phn-nh-RvD {
        box-sizing: border-box;
        width: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 2.55rem 6.7rem 2.55rem 3rem;
        border: solid 0.1rem #000000;
        background-color: #90ee90;
        flex-shrink: 0;

        .icon-message-text-Yjw {
          margin: 0rem 4.7rem 0rem 0rem;
          width: 4rem;
          height: 3.9757rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .phn-nh-g5T {
          font-size: 3.6rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 400;
          line-height: 1.2125;
        }
      }
    }
  }
  .frame-header-and-content-xof {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 109.4rem;
    height: 102.4rem;
    align-items: center;

    .frame-header-69B {
      padding: 1.4rem 1.1rem 1.4rem 1rem;
      width: 100%;
      align-items: center;
      border: solid 0.1rem #000000;
      background-color: #f0e68c;
      box-sizing: border-box;
      height: 12.8rem;
      display: flex;
      flex-shrink: 0;

      .ha-n-RhF {
        flex-shrink: 0;
        margin: 0rem 41.2rem 4.1rem 0rem;
        font-size: 4.8rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .group-user-info-LZK {
        flex-shrink: 0;
        height: 100%;
        display: flex;
        align-items: center;

        .auto-group-sgvz-sZF {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 2.1rem 1.2rem 1.5rem 0rem;
          height: calc(100% - 3.6rem);
          align-items: flex-end;

          .name-and-first-name-QZB {
            margin-bottom: 0.4rem;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .id-number-or-worker-number-jrM {
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.4rem;
            font-weight: 400;
          }
        }
        .user-avatar-UZ3 {
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:1f67d89b783cd6587922468ff6362d9f0aaf029c');
          border-radius: 5rem;
          width: 10rem;
          height: 10rem;
          background-size: 100% 100%;
          flex-shrink: 0;
        }
      }
    }
    .auto-group-vvqw-YJ1 {
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.5rem 1.692rem 1.8rem 3rem;
      width: 100%;
      display: flex;

      .auto-group-ahak-s5P {
        margin-bottom: 20.1rem;
        width: 100%;
        height: 59.8rem;
        position: relative;
        flex-shrink: 0;

        .frame-3952-D9F {
          width: 104.708rem;
          height: 10rem;
          position: absolute;
          left: 0;
          top: 0;
          display: flex;
          align-items: flex-start;

          .frame-search-XQq {
            margin-right: 2rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .thi-gian-g2q {
              margin-right: 2rem;
              width: 35.0687rem;
              height: 100%;
              flex-shrink: 0;

              .auto-group-qaju-atu {
                width: 100%;
                height: 4.4rem;
                position: relative;

                .label-text-9BK {
                  color: #040f0f;
                  font-family: Quicksand, 'Source Sans Pro';
                  width: 9.1rem;
                  position: absolute;
                  top: 0;
                  font-weight: 700;
                  line-height: 1;
                  height: 2rem;
                  left: 0;
                  font-size: 2rem;
                  white-space: nowrap;
                }
                .input-field-dsB {
                  height: 4.4rem;
                  left: 0;
                  top: 0;
                  align-items: center;
                  border: solid 0.2rem #000000;
                  border-radius: 0.8rem;
                  width: 35.0687rem;
                  padding: 1.2rem 1.8rem 1.2rem 1.2rem;
                  position: absolute;
                  display: flex;
                  box-sizing: border-box;

                  .lead-icon-text-Xhf {
                    display: flex;
                    align-items: center;
                    flex-shrink: 0;
                    margin-right: 4.2687rem;
                    box-sizing: border-box;
                    padding-left: 0.1875rem;
                    height: 100%;

                    .icon-outline-layer-Ucu {
                      vertical-align: top;
                      flex-shrink: 0;
                      margin-right: 1.3875rem;
                      width: 1.625rem;
                      height: 1.625rem;
                      object-fit: contain;
                    }
                    .insert-text-here-n7o {
                      font-weight: 400;
                      line-height: 0.8333333333;
                      color: #040f0f;
                      font-family: Poppins, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      font-size: 2.4rem;
                    }
                  }
                  .icon-fill-caret-small-down-7Qy {
                    vertical-align: top;
                    flex-shrink: 0;
                    width: 0.8rem;
                    height: 0.4rem;
                    object-fit: contain;
                  }
                }
              }
            }
            .tiu--WCD {
              width: 61.2393rem;
              height: 100%;
              flex-shrink: 0;

              .auto-group-kyn3-fL1 {
                width: 100%;
                height: 4.4rem;
                position: relative;

                .label-text-2AZ {
                  width: 8rem;
                  line-height: 1;
                  font-family: Quicksand, 'Source Sans Pro';
                  white-space: nowrap;
                  font-weight: 700;
                  color: #040f0f;
                  height: 2rem;
                  position: absolute;
                  left: 0;
                  top: 0;
                  font-size: 2rem;
                }
                .input-field-7Su {
                  height: 4.4rem;
                  position: absolute;
                  top: 0;
                  border: solid 0.2rem #000000;
                  box-sizing: border-box;
                  padding: 1.2rem 1.8rem 1.2rem 1.2rem;
                  width: 61.2393rem;
                  border-radius: 0.8rem;
                  left: 0;
                  display: flex;
                  align-items: center;

                  .lead-icon-text-bcy {
                    display: flex;
                    align-items: center;
                    flex-shrink: 0;
                    margin-right: 42.7393rem;
                    box-sizing: border-box;
                    padding-left: 0.1875rem;
                    height: 100%;

                    .icon-outline-layer-kEy {
                      margin-right: 1.3875rem;
                      width: 1.625rem;
                      height: 1.625rem;
                      object-fit: contain;
                      vertical-align: top;
                      flex-shrink: 0;
                    }
                    .insert-text-here-J1b {
                      font-weight: 400;
                      line-height: 0.8333333333;
                      color: #040f0f;
                      font-family: Poppins, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      font-size: 2.4rem;
                    }
                  }
                  .icon-fill-caret-small-down-ER3 {
                    width: 0.8rem;
                    height: 0.4rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                }
              }
            }
          }
          .frame-3963-j6u {
            width: 4.4rem;
            height: 4.4rem;
            object-fit: contain;
            vertical-align: top;
            border-radius: 1rem;
            flex-shrink: 0;
          }
        }
        .frame-3839-GMj {
          position: absolute;
          top: 7.9rem;
          align-items: center;
          flex-direction: column;
          display: flex;
          width: 103.4rem;
          height: 51.9rem;
          left: 0;
          row-gap: 1rem;

          .header-nL5 {
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1rem 3.925rem 0.9rem 6.275rem;
            width: 100%;
            display: flex;
            align-items: center;
            border: solid 0.1rem #808080;

            .c1-vSH {
              color: #aeaeae;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 13.05rem;
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2125;
            }
            .c2-Tx1 {
              color: #aeaeae;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 12.65rem;
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2125;
            }
            .c3-PKs {
              font-weight: 400;
              line-height: 1.2125;
              color: #aeaeae;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 9.7rem;
              font-size: 3.6rem;
            }
            .c4-v4u {
              color: #aeaeae;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2125;
            }
          }
          .header-Fcy {
            height: 8.4rem;
            overflow: hidden;
            align-items: center;
            border: solid 0.1rem #808080;
            box-sizing: border-box;
            padding: 0.5rem 0.2rem 0.5rem 4.075rem;
            width: 100%;
            border-radius: 0.3rem;
            flex-shrink: 0;
            cursor: pointer;
            position: relative;
            display: flex;

            .c1-Kcq {
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 8.45rem 1rem 0rem;
            }
            .c2-pJh {
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 7.65rem 1rem 0rem;
            }
            .c3-XD7 {
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 3.475rem 1rem 0rem;
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2;
              color: #000000;
            }
            .frame-3838-Sqs {
              height: 6.4rem;
              white-space: nowrap;
              border-radius: 2rem;
              width: 25.75rem;
              font-weight: 400;
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
              font-size: 3.6rem;
              color: #000000;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-shrink: 0;
              margin-bottom: 1rem;
            }
          }
          .header-Waq {
            box-sizing: border-box;
            padding: 0.5rem 0.2rem 0.5rem 2.525rem;
            height: 8.3rem;
            display: flex;
            align-items: center;
            border: solid 0.1rem #808080;
            width: 100%;
            background-color: #ffffff;
            flex-shrink: 0;

            .c1-DVF {
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 8rem 0.9rem 0rem;
            }
            .c2-wg9 {
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 8.55rem 0.9rem 0rem;
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2125;
            }
            .c3-gNq {
              margin: 0rem 3.475rem 0.9rem 0rem;
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2;
              color: #000000;
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .frame-3838-bEu {
              align-items: center;
              border-radius: 2rem;
              flex-shrink: 0;
              font-size: 3.6rem;
              white-space: nowrap;
              display: flex;
              margin-bottom: 0.9rem;
              line-height: 1.2125;
              justify-content: center;
              font-family: Inter, 'Source Sans Pro';
              height: 6.4rem;
              font-weight: 400;
              color: #000000;
              width: 25.75rem;
            }
          }
          .header-ptM {
            height: 7.8rem;
            display: flex;
            align-items: center;
            border: solid 0.1rem #808080;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.5rem 0.2rem 0.9rem 4.225rem;
            width: 100%;

            .c1-ASR {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 9.35rem;
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
            .c2-5JV {
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 9.65rem;
            }
            .c3-DvV {
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2;
              color: #000000;
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 4.425rem;
            }
            .frame-3838-9ZF {
              line-height: 1.2125;
              color: #000000;
              display: flex;
              justify-content: center;
              width: 25.75rem;
              height: 100%;
              font-size: 3.6rem;
              font-weight: 400;
              flex-shrink: 0;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              align-items: center;
              border-radius: 2rem;
            }
          }
          .header-FcH {
            box-sizing: border-box;
            width: 100%;
            height: 8.3rem;
            align-items: center;
            border: solid 0.1rem #808080;
            flex-shrink: 0;
            padding: 0.5rem 0.2rem 0.5rem 2.525rem;
            display: flex;
            background-color: #ffffff;

            .c1-mKj {
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 8rem 0.9rem 0rem;
              font-size: 3.6rem;
            }
            .c2-HJ5 {
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 8.55rem 0.9rem 0rem;
            }
            .c3-Cfw {
              color: #000000;
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 3.475rem 0.9rem 0rem;
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2;
            }
            .frame-3838-u4Z {
              border-radius: 2rem;
              flex-shrink: 0;
              width: 25.75rem;
              font-size: 3.6rem;
              color: #000000;
              margin-bottom: 0.9rem;
              height: 6.4rem;
              line-height: 1.2125;
              white-space: nowrap;
              justify-content: center;
              font-weight: 400;
              font-family: Inter, 'Source Sans Pro';
              display: flex;
              align-items: center;
            }
          }
          .header-awP {
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.5rem 0.2rem 0.9rem 4.225rem;
            width: 100%;
            height: 7.8rem;
            display: flex;
            align-items: center;
            border: solid 0.1rem #808080;

            .c1-vEZ {
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 9.35rem;
              font-size: 3.6rem;
              font-weight: 400;
            }
            .c2-s9o {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 9.65rem;
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
            .c3-CC5 {
              font-weight: 400;
              line-height: 1.2;
              color: #000000;
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 4.425rem;
              font-size: 3.6rem;
            }
            .frame-3838-KXb {
              height: 100%;
              white-space: nowrap;
              align-items: center;
              justify-content: center;
              border-radius: 2rem;
              flex-shrink: 0;
              width: 25.75rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              display: flex;
              font-size: 3.6rem;
            }
          }
        }
      }
      .button-aiR {
        width: 19.7rem;
        height: 6.4rem;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;

        .frame-turn-back-button-vGV {
          box-sizing: border-box;
          width: 100%;
          border: solid 0.1rem #32cd32;
          background-color: #ffffff;
          border-radius: 2rem;
          padding: 1rem 0.8rem 1rem 2.433rem;
          height: 100%;
          display: flex;
          align-items: center;

          .corner-down-left-47o {
            margin: 0rem 1.333rem 0rem 0rem;
            width: 1.3333rem;
            height: 1.3333rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .quay-li-nZb {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #32cd32;
          }
        }
      }
    }
  }
}
