
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.qun-tr-chi-tit-phn-nh-DP3 {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;

  .frame-drawer-91o {
    background-color: #f0e68c;
    flex-shrink: 0;
    width: 34.6rem;
    display: flex;
    height: 102.4rem;
    align-items: center;
    flex-direction: column;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    padding: 2.5rem 0rem 41.3rem 0rem;

    .logo-qfK {
      margin: 0rem 3.7rem 5.1rem 3.7rem;
      width: calc(100% - 7.4rem);
      overflow: hidden;
      position: relative;
      flex-shrink: 0;

      .app-logo-PB3 {
        width: 27.2rem;
        height: 25rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .navigate-iz1 {
      margin-right: 0.1rem;
      width: 34.5rem;
      overflow: hidden;
      position: relative;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .trang-ch--Dfs {
        width: 100%;
        display: flex;
        align-items: center;
        border: solid 0.1rem #000000;
        background-color: #90ee90;
        box-sizing: border-box;
        padding: 2.55rem 5.6rem 2.55rem 3rem;
        cursor: pointer;
        flex-shrink: 0;

        .icon-home-MGH {
          height: 3.5505rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 3.6rem 0rem 0rem;
          width: 4rem;
        }
        .trang-ch-DpH {
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 3.6rem;
          color: #000000;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          align-items: center;
          justify-content: center;
          font-weight: 400;
        }
      }
      .ha-n-iFF {
        box-sizing: border-box;
        width: 100%;
        background-color: #90ee90;
        flex-shrink: 0;
        padding: 2.55rem 7.5rem 2.55rem 3rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        border: solid 0.1rem #000000;

        .icon-wallet-3oK {
          height: 3.644rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 5.5rem 0rem 0rem;
          width: 4rem;
        }
        .ha-n-LnR {
          justify-content: center;
          font-size: 3.6rem;
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          align-items: center;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .phn-nh-f41 {
        width: 100%;
        display: flex;
        align-items: center;
        border: solid 0.1rem #000000;
        background-color: #32cd32;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.55rem 6.7rem 2.55rem 3rem;

        .icon-message-text-Q1b {
          margin: 0rem 4.7rem 0rem 0rem;
          width: 4rem;
          height: 3.9757rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .phn-nh-XM7 {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 3.6rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          font-weight: 400;
          color: #000000;
          white-space: nowrap;
        }
      }
    }
  }
  .frame-header-and-content-zEh {
    row-gap: 3.5rem;
    box-sizing: border-box;
    width: 109.4rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding-bottom: 1.5rem;
    height: 102.4rem;

    .frame-header-7aD {
      margin-right: 0.1rem;
      box-sizing: border-box;
      height: 12.8rem;
      align-items: center;
      background-color: #f0e68c;
      padding: 1.4rem 1rem;
      width: calc(100% - 0.1rem);
      display: flex;
      border: solid 0.1rem #000000;
      flex-shrink: 0;

      .phn-nh-WsF {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 40.2rem 4.1rem 0rem;
        font-size: 4.8rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
      }
      .group-user-info-EoF {
        flex-shrink: 0;
        height: 100%;
        display: flex;
        align-items: center;

        .auto-group-zww3-CVB {
          margin: 2.1rem 1.2rem 1.5rem 0rem;
          height: calc(100% - 3.6rem);
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .name-and-first-name-6aZ {
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.4rem;
            font-size: 2.4rem;
          }
          .id-number-or-worker-number-ozm {
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.4rem;
          }
        }
        .user-avatar-MFb {
          background-image: url('REPLACE_IMAGE:1f67d89b783cd6587922468ff6362d9f0aaf029c');
          border-radius: 5rem;
          flex-shrink: 0;
          height: 10rem;
          box-sizing: border-box;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
          width: 10rem;
          border: solid 0.1rem #000000;
        }
      }
    }
    .frame-3946-SH3 {
      overflow: hidden;
      position: relative;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 2.9rem 0rem 3rem;
      width: calc(100% - 5.9rem);

      .frame-info-jmw {
        margin-bottom: 3.2rem;
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .ngi-gi-s-h-s-in-thoi-ni-dung-Gms {
          font-size: 2.8rem;
          font-weight: 700;
          line-height: 1.2;
          color: #000000;
          font-family: Lato, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 1rem;
          max-width: 17.7rem;
        }
        .nguyn-quc-t-p1101-077-hai-five-30-su-su-su-ti-khng-thch-qun-l-lm-n-i-qun-l-i-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-duis-aute-irure-dolor-in-reprehenderit-in-voluptate-velit-esse-cillum-dolore-eu-fugiat-nulla-pariatur-excepteur-sint-occaecat-cupidatat-non-proident-sunt-in-culpa-qui-officia-deserunt-mollit-anim-id-est-laborum-aGm {
          flex-shrink: 0;
          max-width: 84.8rem;
          font-size: 2.8rem;
          font-weight: 400;
          line-height: 1.2;
          color: #000000;
          font-family: Lato, 'Source Sans Pro';
        }
      }
      .frame-state--cMs {
        margin-right: 45.2rem;
        width: calc(100% - 45.2rem);
        height: 17.7rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .trng-thi-9ch {
          line-height: 1.2;
          color: #000000;
          font-family: Lato, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 4.2rem;
          font-size: 2.8rem;
          font-weight: 700;
        }
        .frame-slide-bar-Hiu {
          width: 40.6rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .thi-gian-F9w {
            width: 40.6rem;
            height: 10rem;
            position: absolute;
            left: 0;
            top: 0;

            .auto-group-ujgo-8Dj {
              width: 100%;
              height: 4.4rem;
              position: relative;

              .label-text-TWu {
                left: 0;
                top: 0;
                font-size: 2rem;
                color: #040f0f;
                font-family: Quicksand, 'Source Sans Pro';
                width: 9.1rem;
                position: absolute;
                line-height: 1;
                white-space: nowrap;
                height: 2rem;
                font-weight: 700;
              }
              .input-field-645 {
                align-items: center;
                border: solid 0.2rem #000000;
                box-sizing: border-box;
                width: 40.6rem;
                height: 4.4rem;
                position: absolute;
                left: 0;
                display: flex;
                border-radius: 0.8rem;
                padding: 1.2rem 1.8rem 1.2rem 1.2rem;
                top: 0;

                .lead-icon-text-mAD {
                  font-size: 2.2rem;
                  line-height: 0.9090909091;
                  color: #040f0f;
                  flex-shrink: 0;
                  box-sizing: border-box;
                  height: 100%;
                  text-align: center;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  margin-right: 13.75rem;
                  padding-left: 11.55rem;
                  font-weight: 400;
                }
                .icon-fill-caret-small-down-och {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 0.8rem;
                  height: 0.4rem;
                }
              }
            }
          }
          .rectangle-77-ggV {
            position: absolute;
            left: 0;
            top: 4.4rem;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            background-color: #f8f8f8;
            width: 35.5rem;
            height: 13.3rem;
          }
          .cha-x-l-ang-x-l-x-l-Yih {
            width: 11.5rem;
            height: 10rem;
            left: 11.95rem;
            text-align: center;
            font-size: 2.2rem;
            line-height: 0.9090909091;
            font-family: Poppins, 'Source Sans Pro';
            position: absolute;
            top: 6.1rem;
            font-weight: 400;
            color: #000000;
          }
        }
      }
    }
    .button-CYM {
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 2.6rem 0rem 1.5rem;
      width: calc(100% - 4.1rem);
      height: 6.4rem;

      .frame-turn-back-button-WZ3 {
        border: solid 0.1rem #32cd32;
        background-color: #ffffff;
        box-sizing: border-box;
        padding: 1rem 0.8rem 1rem 2.433rem;
        align-items: center;
        border-radius: 2rem;
        flex-shrink: 0;
        margin-right: 59.95rem;
        height: 100%;
        display: flex;

        .corner-down-left-Ezq {
          height: 1.3333rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.333rem 0rem 0rem;
          width: 1.3333rem;
        }
        .quay-li-xvq {
          font-weight: 400;
          line-height: 1.2125;
          color: #32cd32;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 3.6rem;
        }
      }
      .frame-3852-HCR {
        color: #000000;
        white-space: nowrap;
        background-color: #90ee90;
        width: 25.65rem;
        height: 100%;
        cursor: pointer;
        font-size: 3.6rem;
        font-weight: 400;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        border-radius: 2rem;
        align-items: center;
        border: solid 0.1rem #90ee90;
        flex-shrink: 0;
      }
    }
  }
}
