
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.xem-thng-tin-ha-n-jcy {
  align-items: flex-start;
  border: solid 0.1rem #000000;
  overflow: hidden;
  position: relative;
  display: flex;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-right: 0.1rem;
  width: 100%;

  .frame-drawer-qR7 {
    padding: 2.5rem 0rem 41.3rem 0rem;
    width: 34.6rem;
    align-items: center;
    display: flex;
    background-color: #f0e68c;
    box-sizing: border-box;
    flex-direction: column;
    border: solid 0.1rem #000000;
    flex-shrink: 0;
    height: 102.4rem;

    .logo-wDF {
      margin: 0rem 3.7rem 5.1rem 3.7rem;
      width: calc(100% - 7.4rem);
      overflow: hidden;
      position: relative;
      flex-shrink: 0;

      .app-logo-sch {
        height: 25rem;
        object-fit: cover;
        vertical-align: top;
        width: 27.2rem;
      }
    }
    .navigate-caH {
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 0.1rem;
      width: 34.5rem;
      overflow: hidden;
      position: relative;
      align-items: center;
      display: flex;

      .trang-ch--LmB {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.55rem 5.6rem 2.55rem 3rem;
        display: flex;
        align-items: center;
        background-color: #90ee90;
        width: 100%;
        cursor: pointer;
        border: solid 0.1rem #000000;

        .icon-home-Geq {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 3.6rem 0rem 0rem;
          width: 4rem;
          height: 3.5505rem;
          object-fit: contain;
        }
        .trang-ch-Nxm {
          display: flex;
          justify-content: center;
          font-weight: 400;
          color: #000000;
          flex-shrink: 0;
          align-items: center;
          font-size: 3.6rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .ha-n-GYM {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.55rem 7.5rem 2.55rem 3rem;
        width: 100%;
        display: flex;
        align-items: center;
        border: solid 0.1rem #000000;
        background-color: #32cd32;

        .icon-wallet-Cgu {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 5.5rem 0rem 0rem;
          width: 4rem;
          height: 3.644rem;
          position: relative;
          object-fit: contain;
        }
        .ha-n-Jzq {
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          font-size: 3.6rem;
          line-height: 1.2125;
          color: #000000;
          white-space: nowrap;
        }
      }
      .phn-nh-pyB {
        width: 100%;
        display: flex;
        border: solid 0.1rem #000000;
        flex-shrink: 0;
        background-color: #90ee90;
        box-sizing: border-box;
        padding: 2.55rem 6.7rem 2.55rem 3rem;
        cursor: pointer;
        align-items: center;

        .icon-message-text-xpV {
          margin: 0rem 4.7rem 0rem 0rem;
          width: 4rem;
          height: 3.9757rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .phn-nh-UH3 {
          align-items: center;
          font-weight: 400;
          color: #000000;
          display: flex;
          justify-content: center;
          font-size: 3.6rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
  }
  .frame-header-and-content-GTo {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 109.3rem;
    align-items: center;

    .frame-header-pER {
      box-sizing: border-box;
      align-items: center;
      border: solid 0.1rem #000000;
      background-color: #f0e68c;
      margin-bottom: 2rem;
      padding: 1.4rem 1rem;
      width: 100%;
      height: 12.8rem;
      display: flex;
      flex-shrink: 0;

      .ha-n-LTf {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 43.4rem 4.1rem 0rem;
        font-size: 4.8rem;
        font-weight: 700;
        line-height: 1.2125;
      }
      .group-user-info-4Pf {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-6rrm-Pwj {
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 2.1rem 1.2rem 1.5rem 0rem;
          height: calc(100% - 3.6rem);

          .name-and-first-name-UyB {
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.4rem;
          }
          .id-number-or-worker-number-R7j {
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .user-avatar-9pR {
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
          border-radius: 5rem;
          flex-shrink: 0;
          width: 10rem;
          background-image: url('REPLACE_IMAGE:1f67d89b783cd6587922468ff6362d9f0aaf029c');
          height: 10rem;
        }
      }
    }
    .frame-main-content-oty {
      margin: 0 1rem;
      box-sizing: border-box;
      padding-bottom: 1.8rem;
      width: calc(100% - 2rem);
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .ph-gi-xe-thng-11-2023-9T3 {
        line-height: 1.2;
        color: #000000;
        font-family: Lato, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0rem 2rem 1rem;
        font-size: 4.8rem;
        font-weight: 600;
      }
      .frame-3947-TTj {
        padding: 1.5rem 1.5rem 1.928rem 1.5rem;
        width: 100%;
        height: 20.5rem;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;
        margin-bottom: 50rem;
        box-sizing: border-box;

        .frame-3949-zCm {
          width: 55.7rem;
          height: 100%;
          overflow: hidden;
          position: relative;
          display: flex;
          align-items: flex-end;

          .frame-types-of-info-XiV {
            height: calc(100% - 0.0054rem);
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin: 0rem 9.2rem 0.005rem 0rem;

            .s-tin-EN1 {
              font-weight: 600;
              line-height: 1.2;
              color: #000000;
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 3.4333rem;
              font-size: 2.8rem;
            }
            .s-h-ng-MBj {
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 3.4333rem;
              font-size: 2.8rem;
              font-weight: 600;
              line-height: 1.2;
              color: #000000;
              font-family: Lato, 'Source Sans Pro';
            }
            .thng-tin-chi-tit-duw {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.8rem;
              font-weight: 600;
              line-height: 1.2;
              color: #000000;
              font-family: Lato, 'Source Sans Pro';
            }
          }
          .frame-3948-A9B {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .thng-XEd {
              margin-bottom: 2.936rem;
              font-size: 2.8rem;
              font-weight: 400;
              line-height: 1.2;
              color: #000000;
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .item-0-1000-FwK {
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2.936rem;
              font-size: 2.8rem;
              font-weight: 400;
              line-height: 1.2;
              color: #000000;
              font-family: Lato, 'Source Sans Pro';
            }
            .bn-ng-mun-vl-bEV {
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.8rem;
              font-weight: 400;
              line-height: 1.2;
              color: #000000;
            }
          }
        }
      }
      .button-7id {
        margin-left: 3rem;
        width: 19.7rem;
        height: 6.4rem;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;

        .frame-turn-back-button-eTf {
          border: solid 0.1rem #32cd32;
          padding: 1rem 0.8rem 1rem 2.433rem;
          display: flex;
          align-items: center;
          background-color: #ffffff;
          border-radius: 2rem;
          box-sizing: border-box;
          width: 100%;
          height: 100%;

          .corner-down-left-Z4q {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1.333rem 0rem 0rem;
            width: 1.3333rem;
            height: 1.3333rem;
            position: relative;
            object-fit: contain;
          }
          .quay-li-4GV {
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #32cd32;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
    }
  }
}
