
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.xem-thng-tin-ha-n-36m {
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 100%;

  .frame-3975-a6h {
    height: 102.4rem;
    top: 0rem;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 1.5rem;
    width: 110.1528rem;
    position: absolute;
    left: 34.5972rem;
    display: flex;
    flex-direction: column;

    .frame-header-GER {
      box-sizing: border-box;
      height: 12.8481rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0.747rem 3.5rem 0rem;
      width: calc(100% - 0.7472rem);
      border: solid 0.1rem #000000;
      background-color: #f0e68c;
      padding: 1.4rem 0.001rem 1.444rem 0.002rem;

      .ha-n-hKj {
        margin: 0.175rem 45.501rem 0rem 0rem;
        font-size: 4.8rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .group-user-info-PTT {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-qyhh-wzm {
          margin: 2.105rem 1.198rem 1.499rem 0rem;
          height: calc(100% - 3.6044rem);
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .name-and-first-name-43o {
            flex-shrink: 0;
            margin: 0rem 0.002rem 0.4rem 0rem;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .id-number-or-worker-number-YDs {
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.4rem;
            font-weight: 400;
          }
        }
        .user-avatar-g5B {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 10.0044rem;
          height: 10.0044rem;
        }
      }
    }
    .frame-3982-zbf {
      width: 107.15rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 0rem 14.648rem 3.003rem;

      .frame-3976-JcM {
        flex-shrink: 0;
        margin: 0rem 1.93rem 3.504rem 0rem;
        font-weight: 700;
        line-height: 1.2;
        color: #000000;
        font-family: Lato, 'Source Sans Pro';
        white-space: nowrap;
        border-bottom: solid 0.1rem #aeaeae;
        width: 105.22rem;
        height: 5.2rem;
        font-size: 2.8rem;
        box-sizing: border-box;
      }
      .image-3-mVw {
        margin: 0rem 3.75rem 2rem 0rem;
        width: 43.8rem;
        height: 28.2rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 2rem;
        flex-shrink: 0;
      }
      .frame-3978-Vgq {
        box-sizing: border-box;
        padding: 0.7rem 3rem;
        width: calc(100% - 3.75rem);
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 3.75rem 2rem 0rem;
        display: flex;
        border: solid 0.1rem #000000;
        border-radius: 2rem;

        .nhp-s-th-Dcq {
          color: #cccccc;
          font-family: Lato, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 75.2rem 0.1rem 0rem;
          font-size: 3rem;
          font-weight: 400;
          line-height: 0.6666666667;
        }
        .image-4-tiy {
          vertical-align: top;
          flex-shrink: 0;
          width: 5.8rem;
          height: 7.4rem;
          object-fit: cover;
        }
      }
      .frame-3980-cey {
        margin: 0rem 3.75rem 2rem 0rem;
        width: calc(100% - 3.75rem);
        height: 8.8rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .frame-3978-7bj {
          font-size: 3rem;
          padding: 3.4rem 3rem;
          height: 100%;
          white-space: nowrap;
          border-radius: 2rem;
          box-sizing: border-box;
          color: #cccccc;
          line-height: 0.6666666667;
          border: solid 0.1rem #000000;
          font-weight: 400;
          font-family: Lato, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 1rem;
          width: 65.8rem;
        }
        .frame-3979-wam {
          height: 100%;
          line-height: 0.6666666667;
          font-family: Lato, 'Source Sans Pro';
          font-weight: 400;
          display: flex;
          align-items: center;
          border-radius: 2rem;
          font-size: 3rem;
          color: #cccccc;
          white-space: nowrap;
          border: solid 0.1rem #000000;
          flex-shrink: 0;
          width: 36.6rem;
          justify-content: center;
          box-sizing: border-box;
        }
      }
      .bng-vic-nhn-vo-nt-thanh-ton-ngay-bn-ng-rng-giao-dch-ny-l-khng-hon-khng-hy-DHP {
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 1.2;
        color: #808080;
        margin-left: 0.25rem;
        font-style: italic;
        font-family: Lato, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .button-5Kb {
      margin: 0rem 3.75rem 0rem 3.003rem;
      width: calc(100% - 6.7528rem);
      height: 6.4rem;
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .frame-turn-back-button-c4d {
        line-height: 1.2125;
        box-sizing: border-box;
        border-radius: 2rem;
        width: 19.7rem;
        height: 100%;
        cursor: pointer;
        white-space: nowrap;
        display: flex;
        border: solid 0.1rem #32cd32;
        font-size: 3.6rem;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        margin-right: 60.2rem;
        font-weight: 400;
        color: #32cd32;
        font-family: Inter, 'Source Sans Pro';
      }
      .frame-3855-gaH {
        align-items: center;
        font-weight: 400;
        color: #000000;
        white-space: nowrap;
        box-sizing: border-box;
        width: 23.5rem;
        height: 100%;
        font-family: Inter, 'Source Sans Pro';
        background-color: #90ee90;
        justify-content: center;
        font-size: 3.6rem;
        border: solid 0.1rem #000000;
        flex-shrink: 0;
        display: flex;
        line-height: 1.2125;
        cursor: pointer;
        border-radius: 2rem;
      }
    }
  }
  .frame-drawer-8SH {
    padding: 2.5rem 0rem 31.8rem 0rem;
    height: 102.4rem;
    top: 0;
    border: solid 0.1rem #000000;
    background-color: #f0e68c;
    box-sizing: border-box;
    width: 34.6rem;
    position: absolute;
    left: 0;
    align-items: center;
    display: flex;
    flex-direction: column;

    .logo-3p9 {
      margin: 0rem 3.7rem 5.1rem 3.7rem;
      width: calc(100% - 7.4rem);
      overflow: hidden;
      position: relative;
      flex-shrink: 0;

      .app-logo-bKs {
        width: 27.2rem;
        height: 25rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .navigate-jws {
      overflow: hidden;
      position: relative;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 0.1rem;
      width: 34.5rem;

      .trang-ch--3xZ {
        align-items: center;
        background-color: #90ee90;
        flex-shrink: 0;
        padding: 2.55rem 5.6rem 2.55rem 3rem;
        width: 100%;
        cursor: pointer;
        display: flex;
        box-sizing: border-box;
        border: solid 0.1rem #000000;

        .icon-home-axV {
          margin: 0rem 3.6rem 0rem 0rem;
          width: 4rem;
          height: 3.5505rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .trang-ch-UY5 {
          justify-content: center;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          align-items: center;
          font-size: 3.6rem;
          font-weight: 400;
        }
      }
      .cn-h-PQ9 {
        border: solid 0.1rem #000000;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.55rem 8.6rem 2.55rem 3rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        width: 100%;
        background-color: #90ee90;

        .icon-user-circle-alt-hvd {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 6.6rem 0rem 0rem;
          width: 4rem;
          height: 4rem;
          position: relative;
        }
        .cn-h-1gR {
          align-items: center;
          font-size: 3.6rem;
          font-weight: 400;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          justify-content: center;
          line-height: 1.2125;
        }
      }
      .ha-n-umo {
        box-sizing: border-box;
        padding: 2.55rem 7.5rem 2.55rem 3rem;
        width: 100%;
        display: flex;
        align-items: center;
        border: solid 0.1rem #000000;
        background-color: #32cd32;
        flex-shrink: 0;

        .icon-wallet-dho {
          margin: 0rem 5.5rem 0rem 0rem;
          width: 4rem;
          height: 3.644rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .ha-n-mZ7 {
          font-family: Inter, 'Source Sans Pro';
          color: #000000;
          white-space: nowrap;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 3.6rem;
          font-weight: 400;
          line-height: 1.2125;
          flex-shrink: 0;
        }
      }
      .phn-nh-Vk1 {
        box-sizing: border-box;
        padding: 2.55rem 6.7rem 2.55rem 3rem;
        width: 100%;
        align-items: center;
        border: solid 0.1rem #000000;
        cursor: pointer;
        display: flex;
        background-color: #90ee90;
        flex-shrink: 0;

        .icon-message-text-SQM {
          flex-shrink: 0;
          margin: 0rem 4.7rem 0rem 0rem;
          width: 4rem;
          height: 3.9757rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
        }
        .phn-nh-kR3 {
          justify-content: center;
          font-size: 3.6rem;
          line-height: 1.2125;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          align-items: center;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
        }
      }
    }
  }
}
