
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.xem-thng-tin-ha-n-Nds {
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;

  .content-DuP {
    width: 109.4056rem;
    height: 102.4rem;
    position: absolute;
    top: 0rem;
    overflow: hidden;
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 34.5972rem;

    .frame-header-37j {
      background-color: #f0e68c;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.4rem 0.001rem 1.444rem 0.002rem;
      width: 100%;
      display: flex;
      height: 12.8481rem;
      align-items: center;
      border: solid 0.1rem #000000;

      .ha-n-ufj {
        flex-shrink: 0;
        margin: 0.175rem 45.501rem 0rem 0rem;
        font-size: 4.8rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .group-user-info-ZEV {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-nzpm-Vdw {
          flex-direction: column;
          flex-shrink: 0;
          margin: 2.105rem 1.198rem 1.499rem 0rem;
          height: calc(100% - 3.6044rem);
          align-items: flex-end;
          display: flex;

          .name-and-first-name-YMK {
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0.002rem 0.4rem 0rem;
            font-size: 2.4rem;
          }
          .id-number-or-worker-number-if7 {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
          }
        }
        .user-avatar-NUm {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 10.0044rem;
          height: 10.0044rem;
        }
      }
    }
    .auto-group-jm7h-eBP {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 4.1rem 2.053rem 1.5rem 2.053rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;

      .frame-3909-wAV {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 2.55rem 27.952rem 0.95rem;
        width: calc(100% - 3.5rem);

        .ph-gi-xe-thng-11-2023-2hj {
          font-family: Lato, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 3.75rem 1rem;
          font-size: 4.8rem;
          font-weight: 600;
          line-height: 1.2;
          color: #000000;
        }
        .frame-3908-4PX {
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .frame-3910-Byw {
            margin: 0rem 24.9rem 2.7rem 1rem;
            width: calc(100% - 25.9rem);
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .frame-3904-q2u {
              margin: 0.3rem 38.7rem 0rem 0rem;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .s-tin-wbj {
                color: #000000;
                font-family: Lato, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 3.55rem;
                font-size: 2.8rem;
                font-weight: 600;
                line-height: 1.2;
              }
              .trng-thi-qSD {
                color: #000000;
                font-family: Lato, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2.8rem;
                font-weight: 600;
                line-height: 1.2;
              }
            }
            .frame-3906-Y5j {
              flex-direction: column;
              flex-shrink: 0;
              display: flex;

              .thng-5rM {
                font-family: Lato, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 3.5rem;
                font-size: 2.8rem;
                font-weight: 400;
                line-height: 1.2;
                color: #000000;
              }
              .cha-thanh-ton-ao7 {
                color: #000000;
                font-family: Lato, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2.8rem;
                font-weight: 400;
                line-height: 1.2;
              }
            }
          }
          .frame-3907-eY5 {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .thng-tin-chi-tit-yKT {
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2.5rem;
              font-size: 2.8rem;
              font-weight: 600;
              line-height: 1.2;
              color: #000000;
              font-family: Lato, 'Source Sans Pro';
            }
            .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-duis-aute-irure-dolor-in-reprehenderit-in-voluptate-velit-esse-cillum-dolore-eu-fugiat-nulla-pariatur-excepteur-sint-occaecat-cupidatat-non-proident-sunt-in-culpa-qui-officia-deserunt-mollit-anim-id-est-laborum-GZT {
              flex-shrink: 0;
              margin-left: 1rem;
              max-width: 100.8rem;
              font-size: 2.8rem;
              font-weight: 400;
              line-height: 1.2;
              color: #000000;
              font-family: Lato, 'Source Sans Pro';
            }
          }
        }
      }
      .button-fzu {
        flex-shrink: 0;
        width: 100%;
        height: 7rem;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;

        .frame-turn-back-button-obK {
          margin: 0.3rem 61.9rem 0.3rem 0rem;
          border: solid 0.1rem #32cd32;
          border-radius: 2rem;
          box-sizing: border-box;
          padding: 1rem 0.8rem 1rem 2.433rem;
          height: calc(100% - 0.6rem);
          cursor: pointer;
          display: flex;
          align-items: center;
          background-color: #ffffff;
          flex-shrink: 0;

          .corner-down-left-ebw {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1.333rem 0rem 0rem;
            width: 1.3333rem;
            height: 1.3333rem;
            position: relative;
            object-fit: contain;
          }
          .quay-li-5hF {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #32cd32;
          }
        }
        .frame-3842-Ja1 {
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          border: solid 0.1rem #c9c9c9;
          box-sizing: border-box;
          font-size: 3.6rem;
          cursor: pointer;
          color: #000000;
          background-color: #32cd32;
          border-radius: 2rem;
          padding: 1.2rem 1rem 1.4rem 1rem;
          width: 23.7rem;
          white-space: nowrap;
          flex-shrink: 0;
          height: 100%;
          line-height: 1.2125;
        }
      }
    }
  }
  .frame-drawer-Ro3 {
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    padding: 2.5rem 0rem 31.8rem 0rem;
    width: 34.6rem;
    position: absolute;
    top: 0;
    align-items: center;
    display: flex;
    background-color: #f0e68c;
    height: 102.4rem;
    left: 0;
    flex-direction: column;

    .logo-J69 {
      overflow: hidden;
      position: relative;
      flex-shrink: 0;
      margin: 0rem 3.7rem 5.1rem 3.7rem;
      width: calc(100% - 7.4rem);

      .app-logo-yi5 {
        object-fit: cover;
        vertical-align: top;
        width: 27.2rem;
        height: 25rem;
      }
    }
    .navigate-5FK {
      position: relative;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 0.1rem;
      width: 34.5rem;
      overflow: hidden;

      .trang-ch--AGm {
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        width: 100%;
        cursor: pointer;
        display: flex;
        padding: 2.55rem 5.6rem 2.55rem 3rem;
        align-items: center;
        background-color: #90ee90;
        flex-shrink: 0;

        .icon-home-Fp1 {
          margin: 0rem 3.6rem 0rem 0rem;
          width: 4rem;
          height: 3.5505rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .trang-ch-tc5 {
          color: #000000;
          flex-shrink: 0;
          display: flex;
          align-items: center;
          font-weight: 400;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          justify-content: center;
          font-size: 3.6rem;
        }
      }
      .cn-h-49B {
        padding: 2.55rem 8.6rem 2.55rem 3rem;
        width: 100%;
        cursor: pointer;
        background-color: #90ee90;
        box-sizing: border-box;
        align-items: center;
        border: solid 0.1rem #000000;
        flex-shrink: 0;
        display: flex;

        .icon-user-circle-alt-9RX {
          margin: 0rem 6.6rem 0rem 0rem;
          width: 4rem;
          height: 4rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .cn-h-Ceh {
          line-height: 1.2125;
          white-space: nowrap;
          display: flex;
          justify-content: center;
          font-weight: 400;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          align-items: center;
          font-size: 3.6rem;
        }
      }
      .ha-n-sF3 {
        box-sizing: border-box;
        padding: 2.55rem 7.5rem 2.55rem 3rem;
        width: 100%;
        display: flex;
        align-items: center;
        border: solid 0.1rem #000000;
        background-color: #32cd32;
        flex-shrink: 0;

        .icon-wallet-NSh {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 5.5rem 0rem 0rem;
          width: 4rem;
          height: 3.644rem;
          position: relative;
        }
        .ha-n-s8Z {
          justify-content: center;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          display: flex;
          align-items: center;
          font-size: 3.6rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          white-space: nowrap;
        }
      }
      .phn-nh-i9B {
        padding: 2.55rem 6.7rem 2.55rem 3rem;
        width: 100%;
        cursor: pointer;
        border: solid 0.1rem #000000;
        background-color: #90ee90;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .icon-message-text-oRX {
          margin: 0rem 4.7rem 0rem 0rem;
          width: 4rem;
          height: 3.9757rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .phn-nh-sAV {
          font-size: 3.6rem;
          font-weight: 400;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          justify-content: center;
          color: #000000;
          align-items: center;
        }
      }
    }
  }
}
