
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144.003rem;
}.xem-thng-tin-ha-n-cf7 {
  box-sizing: border-box;
  background-color: #ffffff;
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  border: solid 0.1rem #000000;

  .content-Y2y {
    flex-direction: column;
    width: 109.4056rem;
    height: 102.4rem;
    position: absolute;
    left: 34.5972rem;
    top: 0rem;
    align-items: center;
    display: flex;

    .frame-header-4n1 {
      align-items: center;
      background-color: #f0e68c;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.4rem 0.001rem 1.444rem 0.002rem;
      width: 100%;
      height: 12.8481rem;
      display: flex;
      border: solid 0.1rem #000000;

      .ha-n-hpy {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.175rem 45.501rem 0rem 0rem;
        font-size: 4.8rem;
        font-weight: 700;
        line-height: 1.2125;
      }
      .group-user-info-Pxh {
        align-items: center;
        flex-shrink: 0;
        height: 100%;
        display: flex;

        .auto-group-nrh9-xW1 {
          margin: 2.105rem 1.198rem 1.499rem 0rem;
          height: calc(100% - 3.6044rem);
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .name-and-first-name-UDT {
            flex-shrink: 0;
            margin: 0rem 0.002rem 0.4rem 0rem;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .id-number-or-worker-number-PrD {
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.4rem;
            font-weight: 400;
          }
        }
        .user-avatar-j9P {
          width: 10.0044rem;
          height: 10.0044rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .auto-group-b6pt-pRj {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 2.8rem 0.003rem 1.5rem 0.003rem;
      width: 100%;
      align-items: center;

      .frame-153-9iu {
        box-sizing: border-box;
        padding: 1.5rem 3rem 19.114rem 3rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        flex-shrink: 0;
        margin-bottom: 4.3rem;

        .ph-gi-xe-thng-11-2023-HaD {
          margin-bottom: 2.9rem;
          font-weight: 600;
          line-height: 1.2;
          color: #000000;
          font-family: Lato, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 4.8rem;
          text-decoration-line: underline;
          flex-shrink: 0;
        }
        .frame-3968-oHf {
          width: 100%;
          height: 45.2382rem;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .tn-ng-k-thu-vat-ghi-ch-Wxm {
            color: #000000;
            font-family: Lato, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 2.1rem;
            max-width: 15.6rem;
            font-size: 2.8rem;
            font-weight: 700;
            line-height: 1.2;
          }
          .frame-3967-qEM {
            flex-shrink: 0;
            width: 85.7rem;
            height: 100%;
            row-gap: 3rem;
            align-items: center;
            display: flex;
            flex-direction: column;

            .rectangle-75-ybT {
              height: 4.1rem;
              border: solid 0.1rem #000000;
              box-sizing: border-box;
              background-color: #ffffff;
              flex-shrink: 0;
              width: 100%;
            }
            .rectangle-76-exV {
              box-sizing: border-box;
              background-color: #ffffff;
              flex-shrink: 0;
              width: 100%;
              height: 4.1rem;
              border: solid 0.1rem #000000;
            }
            .rectangle-74-Cj7 {
              height: 31.0382rem;
              border: solid 0.1rem #000000;
              box-sizing: border-box;
              background-color: #ffffff;
              flex-shrink: 0;
              width: 100%;
            }
          }
        }
      }
      .button-iSZ {
        position: relative;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 2.6rem 0rem 1.5rem;
        width: calc(100% - 4.1rem);
        height: 6.4rem;
        overflow: hidden;

        .frame-turn-back-button-QqB {
          box-sizing: border-box;
          height: 100%;
          cursor: pointer;
          border: solid 0.1rem #32cd32;
          margin-right: 59.95rem;
          padding: 1rem 0.8rem 1rem 2.433rem;
          display: flex;
          align-items: center;
          background-color: #ffffff;
          border-radius: 2rem;
          flex-shrink: 0;

          .corner-down-left-9Gy {
            margin: 0rem 1.333rem 0rem 0rem;
            width: 1.3333rem;
            height: 1.3333rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .quay-li-ejX {
            color: #32cd32;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.2125;
          }
        }
        .frame-3852-uvM {
          width: 25.65rem;
          height: 100%;
          cursor: pointer;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          justify-content: center;
          border: solid 0.1rem #90ee90;
          background-color: #90ee90;
          line-height: 1.2125;
          align-items: center;
          border-radius: 2rem;
          font-size: 3.6rem;
          color: #000000;
          box-sizing: border-box;
          flex-shrink: 0;
        }
      }
    }
  }
  .frame-drawer-Lkm {
    height: 102.4rem;
    position: absolute;
    left: 0;
    align-items: center;
    border: solid 0.1rem #000000;
    background-color: #f0e68c;
    box-sizing: border-box;
    padding: 2.5rem 0rem 31.8rem 0rem;
    width: 34.6rem;
    top: 0;
    display: flex;
    flex-direction: column;

    .logo-rz1 {
      width: calc(100% - 7.4rem);
      overflow: hidden;
      position: relative;
      flex-shrink: 0;
      margin: 0rem 3.7rem 5.1rem 3.7rem;

      .app-logo-QVj {
        width: 27.2rem;
        height: 25rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .navigate-7uw {
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 0.1rem;
      width: 34.5rem;
      overflow: hidden;
      position: relative;
      align-items: center;
      display: flex;

      .trang-ch--zTw {
        padding: 2.55rem 5.6rem 2.55rem 3rem;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        width: 100%;
        cursor: pointer;
        display: flex;
        border: solid 0.1rem #000000;
        background-color: #90ee90;

        .icon-home-JjX {
          margin: 0rem 3.6rem 0rem 0rem;
          width: 4rem;
          height: 3.5505rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .trang-ch-e2h {
          justify-content: center;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          align-items: center;
          font-size: 3.6rem;
          font-weight: 400;
          color: #000000;
          flex-shrink: 0;
          display: flex;
        }
      }
      .cn-h-LAR {
        padding: 2.55rem 8.6rem 2.55rem 3rem;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        cursor: pointer;
        display: flex;
        align-items: center;
        background-color: #90ee90;
        flex-shrink: 0;
        width: 100%;

        .icon-user-circle-alt-GZs {
          margin: 0rem 6.6rem 0rem 0rem;
          width: 4rem;
          height: 4rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .cn-h-oJu {
          display: flex;
          justify-content: center;
          font-size: 3.6rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          align-items: center;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
        }
      }
      .ha-n-6J1 {
        padding: 2.55rem 7.5rem 2.55rem 3rem;
        width: 100%;
        display: flex;
        align-items: center;
        border: solid 0.1rem #000000;
        background-color: #32cd32;
        flex-shrink: 0;
        box-sizing: border-box;

        .icon-wallet-2xM {
          width: 4rem;
          height: 3.644rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 5.5rem 0rem 0rem;
        }
        .ha-n-yMo {
          display: flex;
          font-weight: 400;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          font-size: 3.6rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .phn-nh-Gbo {
        padding: 2.55rem 6.7rem 2.55rem 3rem;
        width: 100%;
        cursor: pointer;
        align-items: center;
        background-color: #90ee90;
        box-sizing: border-box;
        display: flex;
        border: solid 0.1rem #000000;
        flex-shrink: 0;

        .icon-message-text-CEZ {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 4.7rem 0rem 0rem;
          width: 4rem;
          height: 3.9757rem;
          position: relative;
          object-fit: contain;
        }
        .phn-nh-K4H {
          align-items: center;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          display: flex;
          justify-content: center;
          font-size: 3.6rem;
          white-space: nowrap;
        }
      }
    }
  }
}
