
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 142.7rem;
}.xem-thng-tin-ha-n-JwX {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;

  .frame-drawer-nbo {
    box-sizing: border-box;
    padding: 2.5rem 0rem 31.8rem 0rem;
    width: 34.6rem;
    flex-direction: column;
    background-color: #f0e68c;
    height: 102.4rem;
    align-items: center;
    display: flex;
    border: solid 0.1rem #000000;
    flex-shrink: 0;

    .logo-t93 {
      width: calc(100% - 7.4rem);
      overflow: hidden;
      position: relative;
      flex-shrink: 0;
      margin: 0rem 3.7rem 5.1rem 3.7rem;

      .app-logo-bp9 {
        width: 27.2rem;
        height: 25rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .navigate-YDb {
      overflow: hidden;
      position: relative;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 0.1rem;
      width: 34.5rem;

      .trang-ch--5jK {
        width: 100%;
        align-items: center;
        border: solid 0.1rem #000000;
        background-color: #90ee90;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.55rem 5.6rem 2.55rem 3rem;
        cursor: pointer;
        display: flex;

        .icon-home-pS1 {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 3.6rem 0rem 0rem;
          width: 4rem;
          height: 3.5505rem;
        }
        .trang-ch-L9T {
          display: flex;
          justify-content: center;
          font-size: 3.6rem;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          align-items: center;
          line-height: 1.2125;
          color: #000000;
          flex-shrink: 0;
        }
      }
      .cn-h-RRo {
        flex-shrink: 0;
        width: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 2.55rem 8.6rem 2.55rem 3rem;
        border: solid 0.1rem #000000;
        background-color: #90ee90;

        .icon-user-circle-alt-xRj {
          height: 4rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 6.6rem 0rem 0rem;
          width: 4rem;
        }
        .cn-h-tKP {
          justify-content: center;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          flex-shrink: 0;
          display: flex;
          align-items: center;
          font-size: 3.6rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .ha-n-CL5 {
        background-color: #32cd32;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.55rem 7.5rem 2.55rem 3rem;
        width: 100%;
        display: flex;
        align-items: center;
        border: solid 0.1rem #000000;

        .icon-wallet-Y93 {
          height: 3.644rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 5.5rem 0rem 0rem;
          width: 4rem;
        }
        .ha-n-DW5 {
          display: flex;
          justify-content: center;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          align-items: center;
          font-size: 3.6rem;
          font-weight: 400;
        }
      }
      .phn-nh-rJ9 {
        padding: 2.55rem 6.7rem 2.55rem 3rem;
        cursor: pointer;
        background-color: #90ee90;
        flex-shrink: 0;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        align-items: center;
        border: solid 0.1rem #000000;

        .icon-message-text-PJ5 {
          margin: 0rem 4.7rem 0rem 0rem;
          width: 4rem;
          height: 3.9757rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .phn-nh-ibF {
          align-items: center;
          justify-content: center;
          font-size: 3.6rem;
          font-weight: 400;
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
    }
  }
  .frame-3913-D2D {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 108.1rem;
    height: 102.4rem;

    .frame-header-uQq {
      align-items: center;
      box-sizing: border-box;
      height: 13.1rem;
      display: flex;
      border: solid 0.1rem #000000;
      background-color: #f0e68c;
      flex-shrink: 0;
      padding: 1.4rem 2.4rem 1.7rem 1rem;
      width: 100%;

      .ha-n-pnh {
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 40.8rem 4.1rem 0rem;
        font-size: 4.8rem;
        font-weight: 700;
      }
      .group-user-info-MGq {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-eehr-up9 {
          margin: 2.1rem 1.2rem 1.5rem 0rem;
          height: calc(100% - 3.6rem);
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .name-and-first-name-qxh {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.4rem;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2125;
          }
          .id-number-or-worker-number-Nhj {
            flex-shrink: 0;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .user-avatar-WZ3 {
          height: 10rem;
          box-sizing: border-box;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:1f67d89b783cd6587922468ff6362d9f0aaf029c');
          flex-shrink: 0;
          width: 10rem;
          border: solid 0.1rem #000000;
          background-size: 100% 100%;
          border-radius: 5rem;
        }
      }
    }
    .auto-group-aaaf-gbw {
      box-sizing: border-box;
      padding: 2.6rem 4rem 1.8rem 3rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .frame-3909-zMj {
        margin-bottom: 35.2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .ph-gi-xe-thng-11-2023-p5s {
          color: #000000;
          font-family: Lato, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 4.45rem 1rem;
          font-size: 4rem;
          font-weight: 600;
          line-height: 1.2;
        }
        .frame-3908-J13 {
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .frame-3910-2hj {
            height: 10.55rem;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;
            margin: 0rem 27.45rem 2.5rem 1rem;
            width: calc(100% - 28.45rem);

            .frame-3904-LCd {
              margin-right: 30.95rem;
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .s-tin-6Bo {
                line-height: 1.2;
                color: #000000;
                font-family: Lato, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 3.35rem;
                font-size: 3rem;
                font-weight: 600;
              }
              .s-h-ng-QiH {
                font-size: 3rem;
                font-weight: 600;
                line-height: 1.2;
                color: #000000;
                font-family: Lato, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .frame-3906-wCR {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .thng-u9F {
                color: #000000;
                font-family: Lato, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 3.9rem;
                font-size: 2.5rem;
                font-weight: 400;
                line-height: 1.2;
              }
              .item-0-1000-S9B {
                line-height: 1.2;
                color: #000000;
                font-family: Lato, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2.5rem;
                font-weight: 400;
              }
            }
          }
          .frame-3907-Zjb {
            flex-direction: column;
            flex-shrink: 0;
            width: 100%;
            display: flex;

            .thng-tin-chi-tit-H9o {
              font-weight: 600;
              line-height: 1.2;
              color: #000000;
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2.4rem;
              font-size: 3rem;
            }
            .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-duis-aute-irure-dolor-in-reprehenderit-in-voluptate-velit-esse-cillum-dolore-eu-fugiat-nulla-pariatur-excepteur-sint-occaecat-cupidatat-non-proident-sunt-in-culpa-qui-officia-deserunt-mollit-anim-id-est-laborum-DJM {
              line-height: 1.2;
              color: #000000;
              font-family: Lato, 'Source Sans Pro';
              flex-shrink: 0;
              margin-left: 1rem;
              max-width: 100.1rem;
              font-size: 2.5rem;
              font-weight: 400;
            }
          }
        }
      }
      .button-vc5 {
        width: 19.7rem;
        height: 6.4rem;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;

        .frame-turn-back-button-HBj {
          box-sizing: border-box;
          height: 100%;
          display: flex;
          border: solid 0.1rem #32cd32;
          background-color: #ffffff;
          padding: 1rem 0.8rem 1rem 2.433rem;
          width: 100%;
          cursor: pointer;
          align-items: center;
          border-radius: 2rem;

          .corner-down-left-ovm {
            margin: 0rem 1.333rem 0rem 0rem;
            width: 1.3333rem;
            height: 1.3333rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .quay-li-XLy {
            line-height: 1.2125;
            color: #32cd32;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 3.6rem;
            font-weight: 400;
          }
        }
      }
    }
  }
}
