
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 118.9rem;
}.color-FJ5 {
  background-color: #ffffff;
  width: 100%;
  height: 106.2rem;
  position: relative;
  overflow: hidden;

  .color-jyw {
    text-transform: uppercase;
    font-family: Montserrat, 'Source Sans Pro';
    white-space: nowrap;
    width: 13.5rem;
    left: 4rem;
    line-height: 1.2175;
    font-size: 3.6rem;
    font-weight: 700;
    color: #424f65;
    height: 4.4rem;
    position: absolute;
    top: 3.1rem;
  }
  .auto-group-vtej-3Dw {
    width: 45.1rem;
    height: 3rem;
    position: absolute;
    left: 4rem;
    top: 10.5rem;
    display: flex;
    align-items: center;

    .main-ydP {
      font-size: 2.4rem;
      line-height: 1.2175;
      text-transform: uppercase;
      color: #830202;
      white-space: nowrap;
      margin-right: 19.7rem;
      font-weight: 600;
      font-family: Montserrat, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .background-WtD {
      font-weight: 600;
      line-height: 1.2175;
      text-transform: uppercase;
      color: #830202;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2.4rem;
    }
  }
  .text-dT3 {
    font-family: Montserrat, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    left: 4rem;
    top: 27.2rem;
    font-size: 2.4rem;
    color: #830202;
    width: 6rem;
    height: 3rem;
    font-weight: 600;
    line-height: 1.2175;
    text-transform: uppercase;
  }
  .button-Y4D {
    line-height: 1.2175;
    white-space: nowrap;
    position: absolute;
    left: 4rem;
    top: 45rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #830202;
    font-family: Montserrat, 'Source Sans Pro';
    width: 10.5rem;
    height: 3rem;
    font-size: 2.4rem;
  }
  .fields-r4u {
    font-weight: 600;
    line-height: 1.2175;
    font-family: Montserrat, 'Source Sans Pro';
    white-space: nowrap;
    font-size: 2.4rem;
    text-transform: uppercase;
    color: #830202;
    width: 8.9rem;
    height: 3rem;
    position: absolute;
    left: 4rem;
    top: 69.4rem;
  }
  .auto-group-e9nt-AbP {
    left: 3.1rem;
    top: 15.4rem;
    display: flex;
    align-items: center;
    width: 44.3rem;
    height: 9.2rem;
    position: absolute;

    .group-1-gJq {
      margin-right: 19.5rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .ellipse-1-qBj {
        height: 5.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 1.4rem;
        width: 6.5rem;
      }
      .c5fd-n6y {
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 1.2175;
        text-transform: uppercase;
        color: #7a7a7a;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .group-3-su7 {
      flex-shrink: 0;
      margin-right: 2.3rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;

      .ellipse-1-nmB {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0rem 1.4rem 0.5rem;
        width: 6.5rem;
        height: 5.8rem;
        object-fit: contain;
      }
      .d9d9d9-XTs {
        font-weight: 300;
        text-transform: uppercase;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        text-align: center;
        font-size: 1.6rem;
        flex-shrink: 0;
        line-height: 1.2175;
        color: #000000;
      }
    }
    .group-19-s1w {
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .ellipse-1-pxm {
        margin: 0rem 0rem 1.4rem 0.1rem;
        width: 6.5rem;
        height: 5.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .ffffff-ZvM {
        font-weight: 300;
        line-height: 1.2175;
        text-transform: uppercase;
        color: #7a7a7a;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
      }
    }
  }
  .auto-group-ba75-HrM {
    width: 37.2rem;
    height: 9.2rem;
    position: absolute;
    left: 3.4rem;
    top: 33rem;
    display: flex;
    align-items: center;

    .group-4-oJu {
      margin-right: 2.9rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .ellipse-1-MrD {
        height: 5.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.2rem 1.4rem 0rem;
        width: 6.5rem;
      }
      .item-000000-hfB {
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 1.2175;
        text-transform: uppercase;
        color: #7a7a7a;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .group-6-1vm {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 2.9rem;
      height: 100%;

      .ellipse-1-ych {
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 1.4rem;
        width: 6.5rem;
        height: 5.8rem;
        object-fit: contain;
      }
      .item-777777-Grh {
        margin-right: 0.2rem;
        font-size: 1.6rem;
        line-height: 1.2175;
        color: #7a7a7a;
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
        font-weight: 300;
        text-transform: uppercase;
        white-space: nowrap;
      }
    }
    .group-7-obj {
      flex-shrink: 0;
      margin-right: 2.1rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;

      .ellipse-1-99o {
        height: 5.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.4rem 1.4rem 0rem;
        width: 6.5rem;
      }
      .aeaeae-gQd {
        line-height: 1.2175;
        text-transform: uppercase;
        color: #7a7a7a;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 300;
      }
    }
    .group-20-Rt1 {
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .ellipse-1-B6V {
        width: 6.5rem;
        height: 5.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0rem 1.4rem 0.1rem;
      }
      .ffffff-had {
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 1.2175;
        text-transform: uppercase;
        color: #7a7a7a;
      }
    }
  }
  .auto-group-8yuu-rCd {
    width: 27.8rem;
    height: 11.8rem;
    position: absolute;
    left: 3.7rem;
    top: 51.2rem;
    display: flex;
    align-items: center;

    .auto-group-jhqu-C1b {
      margin-right: 2.6rem;
      width: 18rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .group-10-wjs {
        top: 0;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 7.4rem;
        height: 9.2rem;
        position: absolute;
        left: 10.6rem;

        .ellipse-1-fQy {
          margin: 0rem 0.1rem 1.4rem 0rem;
          width: 6.5rem;
          height: 5.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .ff0000-kxD {
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 300;
          line-height: 1.2175;
          text-transform: uppercase;
          color: #7a7a7a;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .group-9-725 {
        width: 17.1rem;
        height: 11.8rem;
        position: absolute;
        left: 0;
        top: 0;

        .ellipse-1-Fe5 {
          width: 6.5rem;
          height: 5.8rem;
          object-fit: contain;
          vertical-align: top;
          margin: 0rem 0rem 1.4rem 0.4rem;
        }
        .e3e3-CJR {
          white-space: nowrap;
          margin-bottom: 0.6rem;
          font-size: 1.6rem;
          font-weight: 300;
          line-height: 1.2175;
          text-transform: uppercase;
          color: #7a7a7a;
          font-family: Montserrat, 'Source Sans Pro';
        }
        .hover-8xm {
          font-size: 1.6rem;
          font-weight: 300;
          line-height: 1.2175;
          text-transform: uppercase;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          margin-left: 11.2rem;
        }
      }
    }
    .auto-group-ensm-RBB {
      width: 7.2rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .group-21-Mad {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 0.6rem;
        width: 100%;

        .ellipse-1-7Zo {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0rem 1.4rem 0.1rem;
          width: 6.5rem;
          height: 5.8rem;
        }
        .ff66-f5X {
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 300;
          line-height: 1.2175;
          text-transform: uppercase;
          color: #7a7a7a;
        }
      }
      .click-1QH {
        text-transform: uppercase;
        color: #000000;
        line-height: 1.2175;
        font-size: 1.6rem;
        font-weight: 300;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-left: 0.5rem;
      }
    }
  }
  .auto-group-4ywq-9WV {
    left: 3.4rem;
    top: 75.2rem;
    display: flex;
    align-items: flex-start;
    width: 53.8rem;
    height: 13.1rem;
    position: absolute;

    .group-13-ey3 {
      margin-right: 3.7rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .ellipse-1-CDs {
        margin: 0rem 0.2rem 1.4rem 0rem;
        width: 6.5rem;
        height: 5.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .text-in-field-8tD {
        flex-shrink: 0;
        max-width: 7.5rem;
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 1.2175;
        text-transform: uppercase;
        color: #7a7a7a;
        font-family: Montserrat, 'Source Sans Pro';

        .text-in-field-8tD-sub-0 {
        }
        .text-in-field-8tD-sub-1 {
          font-size: 1.6rem;
          font-weight: 300;
          line-height: 1.2175;
          text-transform: uppercase;
          color: #7a7a7a;
          font-family: Montserrat, 'Source Sans Pro';
        }
      }
    }
    .group-14-szD {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 3.15rem;
      align-items: center;

      .ellipse-1-nrH {
        margin: 0rem 0rem 1.4rem 0.1rem;
        width: 6.5rem;
        height: 5.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .ffffff-fields-jWd {
        text-align: center;
        font-size: 1.6rem;
        font-weight: 300;
        text-transform: uppercase;
        max-width: 7.2rem;
        line-height: 1.2175;
        color: #7a7a7a;
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;

        .ffffff-fields-jWd-sub-0 {
        }
        .ffffff-fields-jWd-sub-1 {
          font-family: Montserrat, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 300;
          line-height: 1.2175;
          text-transform: uppercase;
          color: #7a7a7a;
        }
      }
    }
    .group-16-juw {
      margin-right: 3.15rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .ellipse-1-Gey {
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 1.4rem;
        width: 6.5rem;
        height: 5.8rem;
        object-fit: contain;
      }
      .adaaaa-placeholders-BX3 {
        font-weight: 300;
        color: #7a7a7a;
        max-width: 10.4rem;
        text-align: center;
        font-size: 1.6rem;
        flex-shrink: 0;
        line-height: 1.2175;
        text-transform: uppercase;
        font-family: Montserrat, 'Source Sans Pro';

        .adaaaa-placeholders-BX3-sub-0 {
        }
        .adaaaa-placeholders-BX3-sub-1 {
          color: #7a7a7a;
          font-family: Montserrat, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 300;
          line-height: 1.2175;
          text-transform: uppercase;
        }
      }
    }
    .group-17-jgy {
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 4.3rem;
      height: 100%;
      align-items: center;
      display: flex;

      .ellipse-1-HyP {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.1rem 1.4rem 0rem;
        width: 6.5rem;
        height: 5.8rem;
      }
      .da2626-fields-error-S5b {
        line-height: 1.2189999819;
        text-transform: uppercase;
        color: #ffc0cb;
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 7.4rem;
        font-size: 1.6rem;
        font-weight: 300;

        .da2626-fields-error-S5b-sub-0 {
          font-size: 1.6rem;
          font-weight: 300;
          line-height: 1.2175;
          text-transform: uppercase;
          color: #ffc0cb;
          font-family: Montserrat, 'Source Sans Pro';
        }
        .da2626-fields-error-S5b-sub-1 {
          font-size: 1.6rem;
          font-weight: 300;
          line-height: 1.2175;
          text-transform: uppercase;
          color: #ffc0cb;
          font-family: Montserrat, 'Source Sans Pro';
        }
      }
    }
    .group-18-utH {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      height: 100%;
      align-items: flex-end;

      .ellipse-1-roX {
        margin: 0rem 0.1rem 1.4rem 0rem;
        width: 6.5rem;
        height: 5.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .e9-fields-focus-Nms {
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 7rem;
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 1.2189999819;
        text-transform: uppercase;
        color: #d9d9d9;

        .e9-fields-focus-Nms-sub-0 {
          font-size: 1.6rem;
          font-weight: 300;
          line-height: 1.2175;
          text-transform: uppercase;
          color: #f0f8ff;
          font-family: Montserrat, 'Source Sans Pro';
        }
        .e9-fields-focus-Nms-sub-1 {
          line-height: 1.2175;
          text-transform: uppercase;
          color: #f0f8ff;
          font-family: Montserrat, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 300;
        }
      }
    }
  }
}
