
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 59.2rem;
}.icons-2FF {
  background-color: #ffffff;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 5.9rem 0rem 80.6rem 4.5rem;
  width: 100%;
  align-items: center;

  .icon-kBF {
    font-size: 3.6rem;
    font-weight: 700;
    flex-shrink: 0;
    font-family: Montserrat, 'Source Sans Pro';
    white-space: nowrap;
    margin: 0rem 45rem 2.3rem 0rem;
    line-height: 1.2175;
    text-transform: uppercase;
    color: #424f65;
  }
  .size-16x16-24x24-2eZ {
    color: #000000;
    flex-shrink: 0;
    font-size: 2.4rem;
    font-weight: 400;
    text-transform: uppercase;
    white-space: nowrap;
    margin: 0rem 32.5rem 8.8rem 0rem;
    line-height: 1.2175;
    font-family: Montserrat, 'Source Sans Pro';
  }
  .item--MB3 {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.2175;
    color: #757575;
    white-space: nowrap;
    flex-shrink: 0;
    margin-left: 75.3rem;
    font-family: Montserrat, 'Source Sans Pro';
    text-decoration-line: underline;
  }
}
