
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 83.9rem;
}.status-cFP {
  box-sizing: border-box;
  padding: 5.9rem 2rem 52.5rem 2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .status-9WD {
    font-size: 3.6rem;
    font-weight: 700;
    color: #424f65;
    font-family: Montserrat, 'Source Sans Pro';
    flex-shrink: 0;
    margin: 0rem 0rem 12.7rem 2.5rem;
    line-height: 1.2175;
    text-transform: uppercase;
    white-space: nowrap;
  }
  .cha-x-l-hoc-khn-cp-qP3 {
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin-bottom: 8.8rem;
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 1.2125;
  }
  .ang-x-l-hoc-thng-thng-9ed {
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin-bottom: 9.3rem;
    font-size: 3.6rem;
    font-weight: 400;
  }
  .xong-g8m {
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 1.2125;
  }
}
