
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 118.9rem;
}.typography-CE9 {
  height: 106.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;

  .typography-Wkd {
    position: absolute;
    left: 4rem;
    font-size: 3.6rem;
    color: #424f65;
    white-space: nowrap;
    text-transform: uppercase;
    font-family: Montserrat, 'Source Sans Pro';
    width: 29.6rem;
    height: 4.4rem;
    top: 3.1rem;
    font-weight: 700;
    line-height: 1.2175;
  }
  .auto-group-x5sq-oUq {
    height: 15.1rem;
    left: 4.4rem;
    top: 9.7rem;
    border-radius: 1rem;
    box-sizing: border-box;
    padding: 2.9rem 2.5rem 3.3rem 2.5rem;
    width: 68.4rem;
    position: absolute;
    background-color: #fff5f5;

    .font-iLu {
      font-weight: 500;
      line-height: 1.2175;
      text-transform: uppercase;
      color: #7b7171;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 2rem;
      font-size: 2rem;
    }
    .nunito-sans-ri1 {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 3.6rem;
      font-weight: 400;
      line-height: 1.2125;
      text-transform: uppercase;
      color: #000000;
    }
  }
  .auto-group-3mes-ae1 {
    left: 5.4rem;
    top: 28.3rem;
    display: flex;
    align-items: center;
    width: 70.3rem;
    height: 3rem;
    position: absolute;

    .headings-Tho {
      font-size: 2.4rem;
      font-weight: 600;
      text-transform: uppercase;
      flex-shrink: 0;
      margin-right: 50.9rem;
      line-height: 1.2125;
      color: #830202;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .body-oFs {
      color: #830202;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2.4rem;
      font-weight: 600;
      line-height: 1.2125;
      text-transform: uppercase;
    }
  }
  .auto-group-gz4f-vLV {
    position: absolute;
    left: 5.4rem;
    top: 45.3rem;
    display: flex;
    align-items: flex-end;
    width: 73.5rem;
    height: 8.9rem;

    .auto-group-rfd5-pgm {
      height: 7.4rem;
      position: relative;
      flex-shrink: 0;
      margin: 0rem 37.2rem 1.5rem 0rem;
      width: 26.3rem;

      .heading-2-AEq {
        width: 26.3rem;
        top: 0;
        font-size: 4.8rem;
        font-weight: 700;
        white-space: nowrap;
        font-family: Inter, 'Source Sans Pro';
        height: 5.9rem;
        position: absolute;
        left: 0;
        line-height: 1.2125;
        text-transform: uppercase;
        color: #000000;
      }
      .bold-48-STF {
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        height: 2rem;
        position: absolute;
        left: 0;
        top: 5.4rem;
        font-weight: 300;
        width: 6.2rem;
        font-size: 1.6rem;
        color: #626262;
      }
    }
    .auto-group-trs9-v7X {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .button-rG5 {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 1.2rem;
        font-weight: 600;
        line-height: 1.2125;
        text-transform: uppercase;
        color: #830202;
        font-size: 2.4rem;
      }
      .large-z7P {
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-left: 0.1rem;
        font-size: 2rem;
        font-weight: 400;
      }
    }
  }
  .auto-group-mrgo-X7K {
    width: 71.7rem;
    height: 4.6rem;
    position: absolute;
    left: 5.4rem;
    top: 70rem;
    display: flex;
    align-items: flex-end;

    .auto-group-dkzy-rfP {
      margin: 0rem 53.6rem 0.1rem 0rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .heading-5-CjF {
        color: #000000;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.3rem;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.2125;
        text-transform: uppercase;
      }
      .bold-16-ixV {
        font-weight: 300;
        line-height: 1.2125;
        color: #626262;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
      }
    }
    .fields-52M {
      font-size: 2.4rem;
      font-weight: 600;
      line-height: 1.2125;
      text-transform: uppercase;
      color: #830202;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .auto-group-ctnb-oDF {
    height: 10.5rem;
    position: absolute;
    left: 5.4rem;
    top: 33.3rem;
    display: flex;
    align-items: center;
    width: 71.7rem;

    .auto-group-99fr-92D {
      margin: 0.9rem 33.6rem 1.1rem 0rem;
      width: 29.9rem;
      height: calc(100% - 2rem);
      position: relative;
      flex-shrink: 0;

      .heading-1-4us {
        height: 6.8rem;
        position: absolute;
        top: 0;
        text-transform: uppercase;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        width: 29.9rem;
        left: 0;
        font-size: 5.6rem;
        font-weight: 700;
        line-height: 1.2125;
        white-space: nowrap;
      }
      .bold-56-beu {
        width: 6.2rem;
        height: 2rem;
        position: absolute;
        top: 6.5rem;
        font-size: 1.6rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        left: 0;
        font-weight: 300;
        color: #626262;
        white-space: nowrap;
      }
    }
    .auto-group-mttu-JJR {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .body-1-e7P {
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.3rem;
        font-size: 1.8rem;
      }
      .regular-18-mho {
        margin-bottom: 1.5rem;
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 1.2125;
        color: #626262;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .body-2-6VB {
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.5rem;
        font-size: 1.6rem;
      }
      .regular-16-SZ3 {
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 1.2125;
        color: #626262;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-lldr-PUH {
    height: 8rem;
    position: absolute;
    left: 5.4rem;
    top: 54.2rem;
    display: flex;
    align-items: center;
    width: 71.9rem;

    .auto-group-zepb-vz1 {
      margin: 1.1rem 45.8rem 1.6rem 0rem;
      width: 17.7rem;
      height: calc(100% - 2.7rem);
      position: relative;
      flex-shrink: 0;

      .heading-3-dNd {
        font-family: Inter, 'Source Sans Pro';
        height: 3.9rem;
        font-size: 3.2rem;
        line-height: 1.2125;
        text-transform: uppercase;
        color: #000000;
        white-space: nowrap;
        width: 17.7rem;
        position: absolute;
        left: 0;
        top: 0;
        font-weight: 700;
      }
      .bold-32-A7f {
        font-weight: 300;
        position: absolute;
        top: 3.3rem;
        font-size: 1.6rem;
        line-height: 1.2125;
        color: #626262;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 6.2rem;
        height: 2rem;
        left: 0;
      }
    }
    .auto-group-ezom-5kR {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .regular-20-29s {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 1.8rem;
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 1.2125;
        color: #626262;
      }
      .medium-x3X {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-left: 0.1rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.2125;
      }
      .regular-18-Vp9 {
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 1.2125;
        color: #626262;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
  .auto-group-y5ak-eS9 {
    position: absolute;
    left: 5.4rem;
    top: 63.2rem;
    display: flex;
    align-items: flex-end;
    width: 71.7rem;
    height: 4.7rem;

    .auto-group-ulwf-mFs {
      position: relative;
      flex-shrink: 0;
      margin: 0rem 50.2rem 0.3rem 0rem;
      width: 13.3rem;
      height: 4.4rem;

      .heading-4-FB3 {
        height: 3rem;
        top: 0;
        left: 0;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.2125;
        text-transform: uppercase;
        color: #000000;
        width: 13.3rem;
        position: absolute;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .bold-24-LiH {
        height: 2rem;
        position: absolute;
        font-weight: 300;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 6.2rem;
        left: 0;
        top: 2.4rem;
        font-size: 1.6rem;
        line-height: 1.2125;
        color: #626262;
      }
    }
    .auto-group-cjcb-GM3 {
      height: 3.7rem;
      position: relative;
      flex-shrink: 0;
      width: 8.2rem;

      .small-pNZ {
        width: 4.1rem;
        height: 2rem;
        position: absolute;
        font-size: 1.6rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        left: 0;
        top: 0;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
      }
      .regular-16-xDs {
        top: 1.7rem;
        font-weight: 300;
        white-space: nowrap;
        width: 8.2rem;
        position: absolute;
        left: 0;
        font-size: 1.6rem;
        line-height: 1.2125;
        color: #626262;
        font-family: Inter, 'Source Sans Pro';
        height: 2rem;
      }
    }
  }
  .placeholders-srd {
    width: 9.8rem;
    height: 2rem;
    position: absolute;
    top: 76.6rem;
    font-size: 1.6rem;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    left: 68.9rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
  }
  .regular-16-aFF {
    position: absolute;
    left: 69rem;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.2125;
    white-space: nowrap;
    width: 8.2rem;
    top: 79.1rem;
    color: #626262;
    font-family: Inter, 'Source Sans Pro';
    height: 2rem;
  }
}
