
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.cd-chi-tit-h-dn-c-8mT {
  align-items: center;
  background-color: #e8d6d4;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;

  .frame-drawer-ezh {
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    flex-shrink: 0;
    width: 34.6rem;
    height: 102.4rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #9b1212;

    .logo-nLD {
      width: 100%;
      height: 12.7rem;
      overflow: hidden;
      position: relative;
      flex-shrink: 0;
    }
    .auto-group-xodf-vxD {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 2.6rem 0rem 1rem 0rem;
      width: 100%;
      display: flex;
      flex-direction: column;

      .navigate-ThF {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 38.6rem;
        width: 34.5rem;
        overflow: hidden;
        position: relative;
        align-items: center;

        .trang-ch--zBP {
          align-items: center;
          background-color: #9b1212;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.55rem 5.6rem 2.55rem 3rem;
          width: 100%;
          cursor: pointer;
          display: flex;

          .icon-home-idB {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 3.6rem 0rem 0rem;
            width: 4rem;
            height: 3.5505rem;
          }
          .trang-ch-qSu {
            font-weight: 400;
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3.6rem;
            line-height: 1.2125;
            flex-shrink: 0;
          }
        }
        .cn-h-8wo {
          width: 100%;
          display: flex;
          align-items: center;
          background-color: #9b1212;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.55rem 8.6rem 2.55rem 3rem;

          .icon-user-circle-alt-fRw {
            margin: 0rem 6.6rem 0rem 0rem;
            width: 4rem;
            height: 4rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .cn-h-Bv5 {
            line-height: 1.2125;
            color: #e8d6d4;
            white-space: nowrap;
            display: flex;
            justify-content: center;
            font-size: 3.6rem;
            font-weight: 400;
            align-items: center;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
        .ha-n-Jzh {
          box-sizing: border-box;
          padding: 2.55rem 7.5rem 2.55rem 3rem;
          width: 100%;
          cursor: pointer;
          display: flex;
          align-items: center;
          background-color: #9b1212;
          flex-shrink: 0;

          .icon-wallet-eHs {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 5.5rem 0rem 0rem;
            width: 4rem;
            height: 3.644rem;
            position: relative;
          }
          .ha-n-m7b {
            font-weight: 400;
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
            display: flex;
            justify-content: center;
            line-height: 1.2125;
            white-space: nowrap;
            flex-shrink: 0;
            align-items: center;
            font-size: 3.6rem;
          }
        }
        .phn-nh-5e5 {
          padding: 2.55rem 6.7rem 2.55rem 3rem;
          width: 100%;
          cursor: pointer;
          display: flex;
          align-items: center;
          background-color: #9b1212;
          flex-shrink: 0;
          box-sizing: border-box;

          .icon-message-text-DEV {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 4.7rem 0rem 0rem;
            width: 4rem;
            height: 3.9757rem;
            position: relative;
            object-fit: contain;
          }
          .phn-nh-jCq {
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
            font-weight: 400;
            line-height: 1.2125;
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3.6rem;
          }
        }
      }
      .phn-nh-eah {
        margin-right: 0.1rem;
        box-sizing: border-box;
        padding: 2.55rem 5.9rem 2.55rem 3.474rem;
        align-items: center;
        background-color: #9b1212;
        flex-shrink: 0;
        width: calc(100% - 0.1rem);
        cursor: pointer;
        display: flex;

        .power-mfK {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 4.376rem 0rem 0rem;
          width: 2.85rem;
          height: 3.0838rem;
          position: relative;
          object-fit: contain;
        }
        .phn-nh-hYy {
          justify-content: center;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          font-weight: 400;
          line-height: 1.2125;
          color: #e8d6d4;
          flex-shrink: 0;
          display: flex;
          align-items: center;
          font-size: 3.6rem;
        }
      }
    }
  }
  .frame-header-and-content-Pgh {
    padding-bottom: 3.3rem;
    height: 102.4rem;
    align-items: center;
    display: flex;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 109.4rem;
    flex-direction: column;
    border: solid 0.1rem #000000;

    .frame-header-KaM {
      margin-bottom: 4.8rem;
      width: 100%;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      border: solid 0.1rem #e8d6d4;
      background-color: #9b1212;
      box-sizing: border-box;
      padding: 2rem 0rem 0rem 1.4rem;
      height: 12.9rem;

      .thng-tin-h-dn-c-eMj {
        line-height: 1.2125;
        color: #e8d6d4;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 18.3rem 5rem 0rem;
        font-size: 4.8rem;
        font-weight: 700;
      }
      .auto-group-spe5-kvZ {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 2.3rem 0rem 2rem 0rem;
        height: calc(100% - 4.3rem);

        .name-and-first-name-gpD {
          color: #e8d6d4;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.6rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.2125;
        }
        .id-number-or-worker-number-27P {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #e8d6d4;
        }
      }
      .user-avatar-x13 {
        width: 10rem;
        border: solid 0.1rem #e8d6d4;
        border-radius: 5rem;
        flex-shrink: 0;
        margin-top: 0.9rem;
        height: 10rem;
        box-sizing: border-box;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:1f67d89b783cd6587922468ff6362d9f0aaf029c');
      }
    }
    .content-d7B {
      box-sizing: border-box;
      padding: 0rem 1.2rem 1.5rem 1.2rem;
      width: calc(100% - 1.1rem);
      position: relative;
      display: flex;
      margin: 0 0.55rem;
      overflow: hidden;
      flex-direction: column;
      flex-shrink: 0;

      .frame-appartment-basic-infos-L1b {
        height: 4.4rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 23.1rem 6.3rem 23.1rem;
        width: calc(100% - 46.2rem);

        .frame-3844-qDF {
          margin-right: 6.6rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .c1-PEm {
            margin-right: 1.8rem;
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .c1-Ku7 {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.2125;
          }
        }
        .frame-3844-GpM {
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .c1-STw {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 0.8rem;
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .c1-PPB {
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .frame-citizens-infos-8bf {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 26rem;
        width: 103.65rem;

        .auto-group-dxjb-HDf {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0rem 0rem 2rem 1.2rem;
          width: 100%;
          row-gap: 2rem;
          align-items: flex-end;

          .header-QZB {
            box-sizing: border-box;
            padding: 1rem 1.25rem 0.9rem 3.65rem;
            display: flex;
            align-items: center;
            border: solid 0.1rem #808080;
            background-color: #904a43;
            flex-shrink: 0;

            .c1-wp1 {
              font-weight: 400;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 7.75rem;
              font-size: 3.6rem;
            }
            .c2-Hss {
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 11.6rem;
            }
            .c3-2qT {
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 8.85rem;
            }
            .c4-n3w {
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .header-hAu {
            flex-shrink: 0;
            cursor: pointer;
            overflow: hidden;
            position: relative;
            border: solid 0.1rem #808080;
            display: flex;
            align-items: center;
            border-radius: 0.3rem;
            box-sizing: border-box;
            padding: 0.5rem 0.2rem 0.5rem 0rem;
            width: 102rem;
            height: 8.4rem;

            .c1-Qb7 {
              font-weight: 400;
              line-height: 1.3625;
              color: #000000;
              font-family: Nunito Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0.3rem 0.4rem 0rem;
              font-size: 3.6rem;
            }
            .c2-LDs {
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 9.65rem 1rem 0rem;
              font-size: 3.6rem;
              font-weight: 400;
            }
            .c3-fX3 {
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 6.4rem 1rem 0rem;
              font-size: 3.6rem;
              font-weight: 400;
            }
            .frame-3838-oNM {
              width: 25.4rem;
              height: 6.4rem;
              font-size: 3.6rem;
              flex-shrink: 0;
              font-weight: 400;
              align-items: center;
              justify-content: center;
              margin-bottom: 1rem;
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
              color: #040f0f;
              white-space: nowrap;
              display: flex;
              border-radius: 2rem;
            }
          }
          .header-UjP {
            border: solid 0.1rem #808080;
            box-sizing: border-box;
            align-items: center;
            height: 8.3rem;
            display: flex;
            background-color: #e8d6d4;
            flex-shrink: 0;
            padding: 0.5rem 0.2rem 0.5rem 0rem;
            width: 100%;

            .c1-1zD {
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 3.15rem 0.9rem 0rem;
            }
            .c2-xPf {
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 14.55rem 0.9rem 0rem;
              font-size: 3.6rem;
              font-weight: 400;
            }
            .c3-h6M {
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 10.25rem 0.9rem 0rem;
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2125;
            }
            .frame-3838-dEu {
              margin-bottom: 0.9rem;
              align-items: center;
              border-radius: 2rem;
              width: 25.4rem;
              font-weight: 400;
              color: #040f0f;
              justify-content: center;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              flex-shrink: 0;
              height: 6.4rem;
              font-size: 3.6rem;
              line-height: 1.2125;
            }
          }
        }
        .header-HKT {
          align-items: center;
          border: solid 0.1rem #808080;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.5rem 0.2rem 0.9rem 0rem;
          width: 100%;
          height: 7.8rem;
          display: flex;

          .c1-c6q {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 1.55rem;
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
          }
          .c2-9cZ {
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 9.75rem;
          }
          .c3-VRX {
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 5.95rem;
            font-size: 3.6rem;
          }
          .frame-3838-2wF {
            font-size: 3.6rem;
            font-weight: 400;
            color: #040f0f;
            white-space: nowrap;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 2rem;
            width: 25.4rem;
            height: 100%;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
      }
      .button-vWq {
        margin-left: 0.3rem;
        width: 19.7rem;
        height: 6.4rem;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;

        .frame-turn-back-button-UHT {
          height: 100%;
          cursor: pointer;
          background-color: #ffffff;
          border-radius: 2rem;
          box-sizing: border-box;
          padding: 1rem 0.8rem 1rem 2.433rem;
          width: 100%;
          display: flex;
          align-items: center;
          border: solid 0.1rem #775652;

          .corner-down-left-QS1 {
            height: 1.3333rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1.333rem 0rem 0rem;
            width: 1.3333rem;
          }
          .quay-li-8N1 {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #775652;
            font-family: Inter, 'Source Sans Pro';
          }
        }
      }
    }
  }
}
