
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.ng-nhp-Tbb {
  overflow: hidden;
  position: relative;
  background-color: #9b1212;
  box-sizing: border-box;
  padding: 14.7rem 30.4rem 14.8rem 30.4rem;
  width: 100%;
  height: 102.4rem;

  .frame-3914-9DX {
    width: 100%;
    align-items: center;
    flex-direction: column;
    background-color: #e8d6d4;
    box-sizing: border-box;
    padding-bottom: 10.05rem;
    height: 100%;
    display: flex;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

    .sign-in-5N5 {
      font-weight: 400;
      line-height: 1.2125;
      font-size: 3.6rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      align-items: center;
      overflow: hidden;
      height: 10.4rem;
      white-space: nowrap;
      display: flex;
      flex-shrink: 0;
      width: 100%;
      position: relative;
      text-decoration-line: underline;
      justify-content: center;
      background-color: #e8d6d4;
      margin-bottom: 10.15rem;
    }
    .sign-in-form-M4h {
      width: calc(100% - 20.8rem);
      height: 42.3rem;
      overflow: hidden;
      position: relative;
      background-color: #e8d6d4;
      flex-shrink: 0;
      margin: 0 10.4rem;

      .frame-3929-tKX {
        flex-direction: column;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        align-items: center;
        display: flex;
        padding-top: 0.7rem;

        .form-RaM {
          width: 100%;
          overflow: hidden;
          position: relative;
          row-gap: 1.7rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 6.6rem;

          .username-ZRf {
            display: flex;
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .frame-3926-c93 {
            width: 100%;
            display: flex;
            font-size: 2.8rem;
            line-height: 1.2125;
            white-space: nowrap;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.5rem 3.1946rem;
            font-weight: 400;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            background-color: #ffffff;
          }
          .password-WVK {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.2125;
          }
          .frame-3927-413 {
            line-height: 1.2125;
            color: #000000;
            white-space: nowrap;
            display: flex;
            font-size: 2.8rem;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
            background-color: #ffffff;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.5rem 3.1946rem;
            width: 100%;
          }
          .qun-mt-khu-mRF {
            white-space: nowrap;
            flex-shrink: 0;
            cursor: pointer;
            text-align: right;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            line-height: 1.2125;
            margin-left: 43.7rem;
            display: flex;
            font-size: 2.4rem;
            font-weight: 400;
          }
        }
        .button-UaZ {
          display: flex;
          line-height: 1.2125;
          height: 6.4rem;
          position: relative;
          align-items: center;
          white-space: nowrap;
          background-color: #775652;
          border-radius: 2rem;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          width: 100%;
          cursor: pointer;
          overflow: hidden;
          justify-content: center;
          font-size: 3.6rem;
          font-weight: 400;
        }
      }
    }
  }
}
