
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.qun-tr-xem-thu-chi--y9P {
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #e8d6d4;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;

  .frame-drawer-W9K {
    flex-shrink: 0;
    box-sizing: border-box;
    background-color: #9b1212;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: solid 0.1rem #000000;
    width: 34.6rem;
    height: 102.4rem;

    .logo-Sof {
      width: 100%;
      height: 12.7rem;
      overflow: hidden;
      position: relative;
      flex-shrink: 0;
    }
    .auto-group-ears-CH3 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 2.6rem 0rem 1rem 0rem;
      width: 100%;

      .navigate-XaD {
        position: relative;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 48.1rem;
        width: 34.5rem;
        overflow: hidden;

        .trang-ch--sPB {
          display: flex;
          align-items: center;
          background-color: #9b1212;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.55rem 5.6rem 2.55rem 3rem;
          width: 100%;

          .icon-home-QP7 {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 3.6rem 0rem 0rem;
            width: 4rem;
            height: 3.5505rem;
            object-fit: contain;
          }
          .trang-ch-ieh {
            align-items: center;
            color: #e8d6d4;
            flex-shrink: 0;
            display: flex;
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            justify-content: center;
          }
        }
        .ha-n-pBw {
          display: flex;
          align-items: center;
          background-color: #9b1212;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.55rem 7.5rem 2.55rem 3rem;
          width: 100%;

          .icon-wallet-Ytd {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 5.5rem 0rem 0rem;
            width: 4rem;
            height: 3.644rem;
            position: relative;
          }
          .ha-n-UXP {
            color: #e8d6d4;
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            font-size: 3.6rem;
            line-height: 1.2125;
            align-items: center;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .phn-nh-QR3 {
          display: flex;
          align-items: center;
          background-color: #9b1212;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.55rem 6.7rem 2.55rem 3rem;
          width: 100%;
          cursor: pointer;

          .icon-message-text-LJh {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 4.7rem 0rem 0rem;
            width: 4rem;
            height: 3.9757rem;
            position: relative;
          }
          .phn-nh-eqB {
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
            align-items: center;
            justify-content: center;
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.2125;
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
          }
        }
      }
      .phn-nh-aD3 {
        margin-right: 0.1rem;
        box-sizing: border-box;
        padding: 2.55rem 5.9rem 2.55rem 3.474rem;
        display: flex;
        background-color: #9b1212;
        width: calc(100% - 0.1rem);
        cursor: pointer;
        align-items: center;
        flex-shrink: 0;

        .power-tzR {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 4.376rem 0rem 0rem;
          width: 2.85rem;
          height: 3.0838rem;
          position: relative;
          object-fit: contain;
        }
        .phn-nh-q8y {
          font-family: Inter, 'Source Sans Pro';
          align-items: center;
          justify-content: center;
          font-size: 3.6rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #e8d6d4;
          white-space: nowrap;
          display: flex;
          flex-shrink: 0;
        }
      }
    }
  }
  .frame-header-and-content-ued {
    flex-direction: column;
    flex-shrink: 0;
    width: 109.4rem;
    height: 102.4rem;
    align-items: center;
    display: flex;

    .frame-header-ecD {
      padding: 1.4rem 1.1rem 1.4rem 1rem;
      border: solid 0.1rem #e8d6d4;
      flex-shrink: 0;
      box-sizing: border-box;
      width: 100%;
      height: 12.8rem;
      display: flex;
      align-items: center;
      background-color: #9b1212;

      .ha-n-mwj {
        margin: 0rem 41.2rem 4.1rem 0rem;
        font-size: 4.8rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #e8d6d4;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .group-user-info-hKb {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-mswb-TJm {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 2.1rem 1.2rem 1.5rem 0rem;
          height: calc(100% - 3.6rem);
          align-items: flex-end;

          .name-and-first-name-PTK {
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.4rem;
          }
          .id-number-or-worker-number-Krm {
            flex-shrink: 0;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .user-avatar-f9w {
          box-sizing: border-box;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
          border-radius: 5rem;
          flex-shrink: 0;
          width: 10rem;
          border: solid 0.1rem #e8d6d4;
          height: 10rem;
          background-image: url('REPLACE_IMAGE:1f67d89b783cd6587922468ff6362d9f0aaf029c');
        }
      }
    }
    .auto-group-lkl1-wNM {
      box-sizing: border-box;
      padding: 1.5rem 0.075rem 1.8rem 0.075rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-hp93-4C5 {
        margin-bottom: 20.1rem;
        width: 107.633rem;
        height: 59.8rem;
        position: relative;
        flex-shrink: 0;

        .frame-3952-zbX {
          align-items: flex-start;
          width: 104.708rem;
          height: 10rem;
          position: absolute;
          left: 2.925rem;
          top: 0;
          display: flex;

          .frame-search-XbT {
            align-items: center;
            flex-shrink: 0;
            margin-right: 2rem;
            height: 100%;
            display: flex;

            .thi-gian-gjF {
              margin-right: 2rem;
              width: 35.0687rem;
              height: 100%;
              background-color: #ffffff;
              flex-shrink: 0;

              .auto-group-mjpu-duP {
                width: 100%;
                height: 4.4rem;
                position: relative;

                .label-text-Bvu {
                  color: #040f0f;
                  font-family: Quicksand, 'Source Sans Pro';
                  position: absolute;
                  font-weight: 700;
                  left: 0;
                  top: 0;
                  font-size: 2rem;
                  line-height: 1;
                  white-space: nowrap;
                  width: 9.1rem;
                  height: 2rem;
                }
                .input-field-huF {
                  box-sizing: border-box;
                  padding: 1.2rem 1.8rem 1.2rem 1.2rem;
                  left: 0;
                  top: 0;
                  border-radius: 0.8rem;
                  width: 35.0687rem;
                  height: 4.4rem;
                  position: absolute;
                  display: flex;
                  align-items: center;
                  border: solid 0.2rem #000000;

                  .lead-icon-text-19F {
                    margin-right: 4.2687rem;
                    box-sizing: border-box;
                    padding-left: 0.1875rem;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    flex-shrink: 0;

                    .icon-outline-layer-k6q {
                      height: 1.625rem;
                      object-fit: contain;
                      vertical-align: top;
                      flex-shrink: 0;
                      margin-right: 1.3875rem;
                      width: 1.625rem;
                    }
                    .insert-text-here-tD3 {
                      flex-shrink: 0;
                      font-size: 2.4rem;
                      font-weight: 400;
                      line-height: 0.8333333333;
                      color: #040f0f;
                      font-family: Poppins, 'Source Sans Pro';
                      white-space: nowrap;
                    }
                  }
                  .icon-fill-caret-small-down-1oT {
                    flex-shrink: 0;
                    width: 0.8rem;
                    height: 0.4rem;
                    object-fit: contain;
                    vertical-align: top;
                  }
                }
              }
            }
            .tiu--X17 {
              width: 61.2393rem;
              height: 100%;
              background-color: #ffffff;
              flex-shrink: 0;

              .auto-group-6inq-US9 {
                width: 100%;
                height: 4.4rem;
                position: relative;

                .label-text-2yT {
                  top: 0;
                  font-weight: 700;
                  line-height: 1;
                  color: #040f0f;
                  position: absolute;
                  height: 2rem;
                  left: 0;
                  font-size: 2rem;
                  font-family: Quicksand, 'Source Sans Pro';
                  white-space: nowrap;
                  width: 8rem;
                }
                .input-field-xcD {
                  left: 0;
                  border-radius: 0.8rem;
                  width: 61.2393rem;
                  position: absolute;
                  height: 4.4rem;
                  top: 0;
                  display: flex;
                  align-items: center;
                  border: solid 0.2rem #000000;
                  box-sizing: border-box;
                  padding: 1.2rem 1.8rem 1.2rem 1.2rem;

                  .lead-icon-text-Gcu {
                    align-items: center;
                    flex-shrink: 0;
                    margin-right: 42.7393rem;
                    box-sizing: border-box;
                    padding-left: 0.1875rem;
                    height: 100%;
                    display: flex;

                    .icon-outline-layer-DHF {
                      flex-shrink: 0;
                      margin-right: 1.3875rem;
                      width: 1.625rem;
                      height: 1.625rem;
                      object-fit: contain;
                      vertical-align: top;
                    }
                    .insert-text-here-MPT {
                      font-family: Poppins, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      font-size: 2.4rem;
                      font-weight: 400;
                      line-height: 0.8333333333;
                      color: #040f0f;
                    }
                  }
                  .icon-fill-caret-small-down-gwX {
                    flex-shrink: 0;
                    width: 0.8rem;
                    height: 0.4rem;
                    object-fit: contain;
                    vertical-align: top;
                  }
                }
              }
            }
          }
          .frame-3963-Pqw {
            width: 4.4rem;
            height: 4.4rem;
            object-fit: contain;
            vertical-align: top;
            border-radius: 1rem;
            flex-shrink: 0;
          }
        }
        .frame-3839-LFP {
          align-items: center;
          display: flex;
          flex-direction: column;
          width: 106.325rem;
          height: 51.9rem;
          position: absolute;
          left: 0;
          top: 7.9rem;

          .auto-group-mevh-4hB {
            width: 100%;
            row-gap: 1rem;
            align-items: flex-end;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0rem 0rem 1rem 2.925rem;

            .header-CHb {
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 1rem 3.925rem 0.9rem 6.275rem;
              width: 100%;
              display: flex;
              align-items: center;
              border: solid 0.1rem #808080;
              background-color: #904a43;

              .c1-8S9 {
                margin-right: 13.05rem;
                font-size: 3.6rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .c2-fS5 {
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 12.65rem;
                font-size: 3.6rem;
                font-weight: 400;
                line-height: 1.2125;
              }
              .c3-Cgu {
                margin-right: 9.7rem;
                font-size: 3.6rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .c4-8Kf {
                font-size: 3.6rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .header-T73 {
              flex-shrink: 0;
              padding: 0.5rem 0.2rem 0.5rem 3.925rem;
              width: 100%;
              height: 8.4rem;
              cursor: pointer;
              display: flex;
              align-items: center;
              border: solid 0.1rem #808080;
              box-sizing: border-box;
              overflow: hidden;
              position: relative;
              border-radius: 0.3rem;

              .c1-My7 {
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 9.25rem 1rem 0rem;
                font-size: 3.6rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
              }
              .c2-5eD {
                font-size: 3.6rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 8.6rem 1rem 0rem;
              }
              .c3-oq7 {
                font-size: 3.6rem;
                font-weight: 400;
                line-height: 1.2;
                color: #000000;
                font-family: Lato, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 3.475rem 1rem 0rem;
              }
              .frame-3838-YGu {
                width: 25.75rem;
                font-weight: 400;
                white-space: nowrap;
                align-items: center;
                height: 6.4rem;
                justify-content: center;
                font-size: 3.6rem;
                line-height: 1.2125;
                color: #000000;
                border-radius: 2rem;
                margin-bottom: 1rem;
                font-family: Inter, 'Source Sans Pro';
                display: flex;
                flex-shrink: 0;
              }
            }
            .header-cGm {
              background-color: #e8d6d4;
              flex-shrink: 0;
              padding: 0.5rem 0.2rem 0.5rem 3.925rem;
              width: 100%;
              display: flex;
              align-items: center;
              border: solid 0.1rem #808080;
              box-sizing: border-box;
              height: 8.3rem;

              .c1-YgD {
                margin: 0rem 8.25rem 0.9rem 0rem;
                font-size: 3.6rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .c2-5w3 {
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 8.6rem 0.9rem 0rem;
                font-size: 3.6rem;
                font-weight: 400;
                line-height: 1.2125;
              }
              .c3-cg5 {
                color: #000000;
                font-family: Lato, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 3.475rem 0.9rem 0rem;
                font-size: 3.6rem;
                font-weight: 400;
                line-height: 1.2;
              }
              .frame-3838-M7s {
                margin-bottom: 0.9rem;
                line-height: 1.2125;
                display: flex;
                align-items: center;
                font-family: Inter, 'Source Sans Pro';
                border-radius: 2rem;
                flex-shrink: 0;
                height: 6.4rem;
                font-size: 3.6rem;
                color: #000000;
                white-space: nowrap;
                justify-content: center;
                width: 25.75rem;
                font-weight: 400;
              }
            }
          }
          .header-Dvm {
            display: flex;
            align-items: center;
            border: solid 0.1rem #808080;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.5rem 0.2rem 0.9rem 0rem;
            width: 100%;
            height: 7.8rem;

            .c1-A5K {
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 2.45rem;
              font-size: 3.6rem;
            }
            .c2-6Um {
              margin-right: 8.85rem;
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .c3-qBT {
              margin-right: 3.475rem;
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2;
              color: #000000;
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .frame-3838-AzR {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 2rem;
              font-size: 3.6rem;
              height: 100%;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              flex-shrink: 0;
              width: 25.75rem;
            }
          }
          .auto-group-kner-fRP {
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1rem 0rem 0rem 1.7rem;
            width: 100%;
            align-items: flex-end;
            display: flex;
            flex-direction: column;

            .header-oGh {
              height: 8.3rem;
              align-items: center;
              border: solid 0.1rem #808080;
              box-sizing: border-box;
              padding: 0.5rem 0.2rem 0.5rem 1.375rem;
              background-color: #e8d6d4;
              flex-shrink: 0;
              margin-bottom: 1rem;
              display: flex;

              .c1-L1j {
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 4.1rem 0.9rem 0rem;
                font-size: 3.6rem;
                font-weight: 400;
                line-height: 1.2125;
              }
              .c2-rVs {
                flex-shrink: 0;
                margin: 0rem 5.9rem 0.9rem 0rem;
                font-size: 3.6rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
              .c3-neR {
                font-size: 3.6rem;
                font-weight: 400;
                line-height: 1.2;
                color: #000000;
                font-family: Lato, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 3.475rem 0.9rem 0rem;
              }
              .frame-3838-7gh {
                font-size: 3.6rem;
                font-family: Inter, 'Source Sans Pro';
                display: flex;
                align-items: center;
                margin-bottom: 0.9rem;
                width: 25.75rem;
                border-radius: 2rem;
                font-weight: 400;
                white-space: nowrap;
                color: #000000;
                justify-content: center;
                flex-shrink: 0;
                height: 6.4rem;
                line-height: 1.2125;
              }
            }
            .header-PeD {
              display: flex;
              align-items: center;
              border: solid 0.1rem #808080;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 0.5rem 0.2rem 0.9rem 0rem;
              width: 100%;
              height: 7.8rem;

              .c1-jCH {
                margin-right: 1.7rem;
                font-size: 3.6rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .c2-g7X {
                font-size: 3.6rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 7.4rem;
              }
              .c3-d2m {
                font-weight: 400;
                line-height: 1.2;
                color: #000000;
                font-family: Lato, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 3.475rem;
                font-size: 3.6rem;
              }
              .frame-3838-Zx1 {
                height: 100%;
                font-weight: 400;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                display: flex;
                justify-content: center;
                width: 25.75rem;
                font-size: 3.6rem;
                line-height: 1.2125;
                color: #000000;
                align-items: center;
                border-radius: 2rem;
                flex-shrink: 0;
              }
            }
          }
        }
      }
      .button-TnV {
        flex-shrink: 0;
        margin-left: 2.925rem;
        width: 19.7rem;
        height: 6.4rem;
        overflow: hidden;
        position: relative;

        .frame-turn-back-button-Qhj {
          padding: 1rem 0.8rem 1rem 2.433rem;
          width: 100%;
          display: flex;
          align-items: center;
          border: solid 0.1rem #775652;
          border-radius: 2rem;
          box-sizing: border-box;
          background-color: #ffffff;
          height: 100%;

          .corner-down-left-9QR {
            margin: 0rem 1.333rem 0rem 0rem;
            width: 1.3333rem;
            height: 1.3333rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .quay-li-4nH {
            flex-shrink: 0;
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #775652;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
    }
  }
}
