
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.qun-tr-chi-tit-phn-nh-Trd {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #e8d6d4;

  .frame-drawer-ne1 {
    height: 102.4rem;
    display: flex;
    box-sizing: border-box;
    background-color: #9b1212;
    flex-shrink: 0;
    width: 34.6rem;
    align-items: center;
    flex-direction: column;
    border: solid 0.1rem #000000;

    .logo-8C5 {
      width: 100%;
      height: 12.7rem;
      overflow: hidden;
      position: relative;
      flex-shrink: 0;
    }
    .auto-group-axkw-gDb {
      box-sizing: border-box;
      padding: 2.6rem 0rem 1rem 0rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .navigate-oZ7 {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 48.1rem;
        width: 34.5rem;
        overflow: hidden;
        position: relative;

        .trang-ch--kDT {
          width: 100%;
          display: flex;
          align-items: center;
          background-color: #9b1212;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.55rem 5.6rem 2.55rem 3rem;

          .icon-home-Uv9 {
            height: 3.5505rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 3.6rem 0rem 0rem;
            width: 4rem;
          }
          .trang-ch-zdb {
            align-items: center;
            justify-content: center;
            font-size: 3.6rem;
            color: #e8d6d4;
            display: flex;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-weight: 400;
          }
        }
        .ha-n-hH7 {
          padding: 2.55rem 7.5rem 2.55rem 3rem;
          width: 100%;
          cursor: pointer;
          display: flex;
          align-items: center;
          background-color: #9b1212;
          flex-shrink: 0;
          box-sizing: border-box;

          .icon-wallet-dRf {
            flex-shrink: 0;
            margin: 0rem 5.5rem 0rem 0rem;
            width: 4rem;
            height: 3.644rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
          }
          .ha-n-McZ {
            display: flex;
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.2125;
            white-space: nowrap;
            align-items: center;
            justify-content: center;
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
        .phn-nh-gPw {
          cursor: pointer;
          display: flex;
          align-items: center;
          background-color: #9b1212;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.55rem 6.7rem 2.55rem 3rem;
          width: 100%;

          .icon-message-text-pW9 {
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 4.7rem 0rem 0rem;
            width: 4rem;
            height: 3.9757rem;
          }
          .phn-nh-w4y {
            align-items: center;
            justify-content: center;
            font-size: 3.6rem;
            font-weight: 400;
            color: #e8d6d4;
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
          }
        }
      }
      .phn-nh-FLZ {
        flex-shrink: 0;
        margin-right: 0.1rem;
        width: calc(100% - 0.1rem);
        cursor: pointer;
        display: flex;
        background-color: #9b1212;
        box-sizing: border-box;
        padding: 2.55rem 5.9rem 2.55rem 3.474rem;
        align-items: center;

        .power-AiR {
          width: 2.85rem;
          height: 3.0838rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 4.376rem 0rem 0rem;
        }
        .phn-nh-hiM {
          display: flex;
          justify-content: center;
          font-weight: 400;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          align-items: center;
          font-size: 3.6rem;
          color: #e8d6d4;
          white-space: nowrap;
        }
      }
    }
  }
  .frame-header-and-content-zSZ {
    padding-bottom: 1.5rem;
    width: 109.4rem;
    row-gap: 3.5rem;
    align-items: center;
    display: flex;
    flex-shrink: 0;
    box-sizing: border-box;
    height: 102.4rem;
    flex-direction: column;

    .frame-header-KDw {
      border: solid 0.1rem #e8d6d4;
      flex-shrink: 0;
      margin-right: 0.1rem;
      box-sizing: border-box;
      height: 12.8rem;
      align-items: center;
      background-color: #9b1212;
      padding: 1.4rem 1rem;
      width: calc(100% - 0.1rem);
      display: flex;

      .phn-nh-SZT {
        font-size: 4.8rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #e8d6d4;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 40.2rem 4.1rem 0rem;
      }
      .group-user-info-Ze5 {
        align-items: center;
        flex-shrink: 0;
        height: 100%;
        display: flex;

        .auto-group-nzj3-KdF {
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 2.1rem 1.2rem 1.5rem 0rem;
          height: calc(100% - 3.6rem);

          .name-and-first-name-rdB {
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.4rem;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2125;
          }
          .id-number-or-worker-number-BQZ {
            flex-shrink: 0;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .user-avatar-KFs {
          width: 10rem;
          height: 10rem;
          border: solid 0.1rem #e8d6d4;
          background-image: url('REPLACE_IMAGE:1f67d89b783cd6587922468ff6362d9f0aaf029c');
          flex-shrink: 0;
          box-sizing: border-box;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
          border-radius: 5rem;
        }
      }
    }
    .frame-3946-bUH {
      margin: 0 3rem;
      width: calc(100% - 6rem);
      overflow: hidden;
      position: relative;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .frame-info-8DK {
        margin-bottom: 6.5rem;
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .ngi-gi-s-h-s-in-thoi-v-tr-loi-phn-nh-ni-dung-4sf {
          font-size: 2.8rem;
          font-weight: 700;
          line-height: 1.2;
          color: #000000;
          font-family: Lato, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 1rem;
          max-width: 17.7rem;
        }
        .trng-vn-nam-p101-0986543211-p201-vn-v-thc-ca-c-dn-trong-vi-ngy-ti-nhn-thy-ting-n-ln-pht-ra-t-phng-201-pha-trn-iu-ny-nh-hng-n-gia-nh-ti-ti-c-gng-gii-quyt-vn-trc-tip-vi-ch-cn-h-201-nhng-ting-n-vn-tip-tcti-hiu-rng-vic-sng-trong-khu-chung-c-tm-trung-c-nhng-mt-hn-ch-nht-nh-v-khong-khng-gian-ring-gia-cc-c-dn-kEh {
          color: #000000;
          font-family: Lato, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 84.7rem;
          font-size: 2.8rem;
          font-weight: 400;
          line-height: 1.2;

          .trng-vn-nam-p101-0986543211-p201-vn-v-thc-ca-c-dn-trong-vi-ngy-ti-nhn-thy-ting-n-ln-pht-ra-t-phng-201-pha-trn-iu-ny-nh-hng-n-gia-nh-ti-ti-c-gng-gii-quyt-vn-trc-tip-vi-ch-cn-h-201-nhng-ting-n-vn-tip-tcti-hiu-rng-vic-sng-trong-khu-chung-c-tm-trung-c-nhng-mt-hn-ch-nht-nh-v-khong-khng-gian-ring-gia-cc-c-dn-kEh-sub-0 {
            font-size: 2.8rem;
            font-weight: 400;
            line-height: 1.2;
            color: #000000;
            font-family: Lato, 'Source Sans Pro';
          }
          .trng-vn-nam-p101-0986543211-p201-vn-v-thc-ca-c-dn-trong-vi-ngy-ti-nhn-thy-ting-n-ln-pht-ra-t-phng-201-pha-trn-iu-ny-nh-hng-n-gia-nh-ti-ti-c-gng-gii-quyt-vn-trc-tip-vi-ch-cn-h-201-nhng-ting-n-vn-tip-tcti-hiu-rng-vic-sng-trong-khu-chung-c-tm-trung-c-nhng-mt-hn-ch-nht-nh-v-khong-khng-gian-ring-gia-cc-c-dn-kEh-sub-1 {
          }
        }
      }
      .frame-state--qSV {
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        margin-right: 45.1rem;
        width: calc(100% - 45.1rem);
        height: 17.7rem;

        .trng-thi-Ajf {
          font-weight: 700;
          line-height: 1.2;
          color: #000000;
          font-family: Lato, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 4.2rem;
          font-size: 2.8rem;
        }
        .frame-slide-bar-hzV {
          width: 40.6rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .thi-gian-TTs {
            width: 40.6rem;
            height: 10rem;
            position: absolute;
            left: 0;
            top: 0;
            background-color: #ffffff;

            .auto-group-wzst-PsK {
              position: relative;
              width: 100%;
              height: 4.4rem;

              .label-text-M3T {
                top: 0;
                font-size: 2rem;
                font-weight: 700;
                color: #040f0f;
                font-family: Quicksand, 'Source Sans Pro';
                white-space: nowrap;
                position: absolute;
                height: 2rem;
                left: 0;
                line-height: 1;
                width: 9.1rem;
              }
              .input-field-4Cm {
                position: absolute;
                left: 0;
                display: flex;
                border: solid 0.2rem #000000;
                border-radius: 0.8rem;
                box-sizing: border-box;
                padding: 1.2rem 1.8rem 1.2rem 1.2rem;
                width: 40.6rem;
                height: 4.4rem;
                top: 0;
                align-items: center;

                .lead-icon-text-xow {
                  text-align: center;
                  line-height: 0.9090909091;
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-right: 13.75rem;
                  box-sizing: border-box;
                  font-size: 2.2rem;
                  font-weight: 400;
                  color: #040f0f;
                  font-family: Poppins, 'Source Sans Pro';
                  padding-left: 11.55rem;
                  height: 100%;
                }
                .icon-fill-caret-small-down-3qP {
                  height: 0.4rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 0.8rem;
                }
              }
            }
          }
          .rectangle-77-xBf {
            width: 35.5rem;
            height: 13.3rem;
            position: absolute;
            left: 0;
            top: 4.4rem;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            background-color: #f8f8f8;
          }
          .cha-x-l-ang-x-l-x-l-sJd {
            font-family: Poppins, 'Source Sans Pro';
            width: 11.5rem;
            height: 10rem;
            text-align: center;
            font-size: 2.2rem;
            line-height: 0.9090909091;
            position: absolute;
            left: 11.95rem;
            top: 6.1rem;
            font-weight: 400;
            color: #000000;
          }
        }
      }
    }
    .button-Xty {
      position: relative;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 2.6rem 0rem 1.5rem;
      width: calc(100% - 4.1rem);
      height: 6.4rem;
      overflow: hidden;

      .frame-turn-back-button-fEV {
        margin-right: 59.95rem;
        border: solid 0.1rem #775652;
        background-color: #ffffff;
        box-sizing: border-box;
        padding: 1rem 0.8rem 1rem 2.433rem;
        height: 100%;
        display: flex;
        align-items: center;
        border-radius: 2rem;
        flex-shrink: 0;

        .corner-down-left-acM {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.333rem 0rem 0rem;
          width: 1.3333rem;
          height: 1.3333rem;
          position: relative;
        }
        .quay-li-WF7 {
          line-height: 1.2125;
          color: #775652;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 3.6rem;
          font-weight: 400;
        }
      }
      .frame-3852-bnM {
        height: 100%;
        font-size: 3.6rem;
        border-radius: 2rem;
        box-sizing: border-box;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        justify-content: center;
        width: 25.65rem;
        background-color: #775652;
        flex-shrink: 0;
        cursor: pointer;
        white-space: nowrap;
        align-items: center;
        border: solid 0.1rem #775652;
      }
    }
  }
}
