
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.qun-tr-xem-phn-nh-JMs {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #e8d6d4;

  .frame-drawer-pLD {
    width: 34.6rem;
    flex-direction: column;
    flex-shrink: 0;
    background-color: #9b1212;
    height: 102.4rem;
    align-items: center;
    display: flex;
    border: solid 0.1rem #000000;
    box-sizing: border-box;

    .logo-xBX {
      flex-shrink: 0;
      width: 100%;
      height: 12.7rem;
      overflow: hidden;
      position: relative;
    }
    .auto-group-recd-JmB {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 2.6rem 0rem 1rem 0rem;
      width: 100%;
      display: flex;
      flex-direction: column;

      .navigate-e4M {
        position: relative;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 48.1rem;
        width: 34.5rem;
        overflow: hidden;

        .trang-ch--aTo {
          display: flex;
          align-items: center;
          background-color: #9b1212;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.55rem 5.6rem 2.55rem 3rem;
          width: 100%;

          .icon-home-v1s {
            margin: 0rem 3.6rem 0rem 0rem;
            width: 4rem;
            height: 3.5505rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .trang-ch-qed {
            font-family: Inter, 'Source Sans Pro';
            display: flex;
            align-items: center;
            font-size: 3.6rem;
            line-height: 1.2125;
            color: #e8d6d4;
            justify-content: center;
            font-weight: 400;
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .ha-n-Y3F {
          width: 100%;
          cursor: pointer;
          display: flex;
          align-items: center;
          background-color: #9b1212;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.55rem 7.5rem 2.55rem 3rem;

          .icon-wallet-53B {
            flex-shrink: 0;
            margin: 0rem 5.5rem 0rem 0rem;
            width: 4rem;
            height: 3.644rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
          }
          .ha-n-zfw {
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
            display: flex;
            color: #e8d6d4;
          }
        }
        .phn-nh-81T {
          align-items: center;
          background-color: #9b1212;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.55rem 6.7rem 2.55rem 3rem;
          width: 100%;
          display: flex;

          .icon-message-text-diu {
            flex-shrink: 0;
            margin: 0rem 4.7rem 0rem 0rem;
            width: 4rem;
            height: 3.9757rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
          }
          .phn-nh-WGu {
            font-weight: 400;
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3.6rem;
            line-height: 1.2125;
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .phn-nh-aXf {
        width: calc(100% - 0.1rem);
        cursor: pointer;
        display: flex;
        margin-right: 0.1rem;
        box-sizing: border-box;
        padding: 2.55rem 5.9rem 2.55rem 3.474rem;
        align-items: center;
        background-color: #9b1212;
        flex-shrink: 0;

        .power-eXX {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 4.376rem 0rem 0rem;
          width: 2.85rem;
          height: 3.0838rem;
          position: relative;
        }
        .phn-nh-9DP {
          justify-content: center;
          font-weight: 400;
          color: #e8d6d4;
          display: flex;
          align-items: center;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 3.6rem;
          line-height: 1.2125;
        }
      }
    }
  }
  .frame-header-and-content-Ekd {
    flex-shrink: 0;
    width: 109.4rem;
    height: 102.4rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: solid 0.1rem #000000;
    box-sizing: border-box;

    .frame-header-Nbw {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.4rem 1rem;
      width: 100%;
      height: 12.8rem;
      display: flex;
      align-items: center;
      border: solid 0.1rem #e8d6d4;
      background-color: #9b1212;

      .thng-bo-Wy3 {
        line-height: 1.2125;
        color: #e8d6d4;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 37.5rem 4.1rem 0rem;
        font-size: 4.8rem;
        font-weight: 700;
      }
      .group-user-info-jau {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-g8ey-HcR {
          flex-direction: column;
          flex-shrink: 0;
          margin: 2.1rem 1.2rem 1.5rem 0rem;
          height: calc(100% - 3.6rem);
          align-items: flex-end;
          display: flex;

          .name-and-first-name-1HX {
            flex-shrink: 0;
            margin-bottom: 0.4rem;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .id-number-or-worker-number-vvH {
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .user-avatar-row {
          border: solid 0.1rem #e8d6d4;
          background-position: center;
          border-radius: 5rem;
          width: 10rem;
          height: 10rem;
          box-sizing: border-box;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-image: url('REPLACE_IMAGE:1f67d89b783cd6587922468ff6362d9f0aaf029c');
          flex-shrink: 0;
        }
      }
    }
    .auto-group-w4az-waV {
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.5rem 1.692rem 1.8rem 2.875rem;
      width: 100%;
      display: flex;

      .auto-group-ygmj-rhT {
        margin-bottom: 28.4rem;
        width: 100%;
        height: 51.5rem;
        position: relative;
        flex-shrink: 0;

        .frame-3951-PhP {
          display: flex;
          align-items: flex-start;
          width: 104.708rem;
          height: 10rem;
          position: absolute;
          left: 0.125rem;
          top: 0;

          .frame-search-XHo {
            margin-right: 2rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .thi-gian-H25 {
              margin-right: 2rem;
              width: 35.0687rem;
              height: 100%;
              background-color: #ffffff;
              flex-shrink: 0;

              .auto-group-1acd-pnh {
                width: 100%;
                height: 4.4rem;
                position: relative;

                .label-text-yfb {
                  top: 0;
                  font-size: 2rem;
                  font-weight: 700;
                  line-height: 1;
                  font-family: Quicksand, 'Source Sans Pro';
                  width: 9.1rem;
                  position: absolute;
                  color: #040f0f;
                  white-space: nowrap;
                  height: 2rem;
                  left: 0;
                }
                .input-field-5yX {
                  position: absolute;
                  box-sizing: border-box;
                  width: 35.0687rem;
                  height: 4.4rem;
                  left: 0;
                  top: 0;
                  display: flex;
                  align-items: center;
                  border: solid 0.2rem #000000;
                  padding: 1.2rem 1.8rem 1.2rem 1.2rem;
                  border-radius: 0.8rem;

                  .lead-icon-text-CYM {
                    box-sizing: border-box;
                    padding-left: 0.1875rem;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    flex-shrink: 0;
                    margin-right: 4.2687rem;

                    .icon-outline-layer-Y6R {
                      vertical-align: top;
                      flex-shrink: 0;
                      margin-right: 1.3875rem;
                      width: 1.625rem;
                      height: 1.625rem;
                      object-fit: contain;
                    }
                    .insert-text-here-fwj {
                      flex-shrink: 0;
                      font-size: 2.4rem;
                      font-weight: 400;
                      line-height: 0.8333333333;
                      color: #040f0f;
                      font-family: Poppins, 'Source Sans Pro';
                      white-space: nowrap;
                    }
                  }
                  .icon-fill-caret-small-down-oY9 {
                    width: 0.8rem;
                    height: 0.4rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                }
              }
            }
            .tiu--733 {
              flex-shrink: 0;
              width: 61.2393rem;
              height: 100%;
              background-color: #ffffff;

              .auto-group-hnds-4U5 {
                width: 100%;
                height: 4.4rem;
                position: relative;

                .label-text-2A1 {
                  height: 2rem;
                  position: absolute;
                  font-weight: 700;
                  line-height: 1;
                  color: #040f0f;
                  white-space: nowrap;
                  width: 8rem;
                  left: 0;
                  top: 0;
                  font-size: 2rem;
                  font-family: Quicksand, 'Source Sans Pro';
                }
                .input-field-wXs {
                  box-sizing: border-box;
                  padding: 1.2rem 1.8rem 1.2rem 1.2rem;
                  display: flex;
                  border: solid 0.2rem #000000;
                  align-items: center;
                  border-radius: 0.8rem;
                  width: 61.2393rem;
                  height: 4.4rem;
                  position: absolute;
                  left: 0;
                  top: 0;

                  .lead-icon-text-TWD {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    flex-shrink: 0;
                    margin-right: 42.7394rem;
                    box-sizing: border-box;
                    padding-left: 0.1875rem;

                    .icon-outline-layer-QAZ {
                      margin-right: 1.3875rem;
                      width: 1.625rem;
                      height: 1.625rem;
                      object-fit: contain;
                      vertical-align: top;
                      flex-shrink: 0;
                    }
                    .insert-text-here-Y1s {
                      font-family: Poppins, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      font-size: 2.4rem;
                      font-weight: 400;
                      line-height: 0.8333333333;
                      color: #040f0f;
                    }
                  }
                  .icon-fill-caret-small-down-UAR {
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    width: 0.8rem;
                    height: 0.4rem;
                  }
                }
              }
            }
          }
          .frame-3963-Mk1 {
            vertical-align: top;
            border-radius: 1rem;
            flex-shrink: 0;
            width: 4.4rem;
            height: 4.4rem;
            object-fit: contain;
          }
        }
        .frame-notifications-h3B {
          flex-direction: column;
          width: 103.525rem;
          height: 44.1rem;
          position: absolute;
          left: 0;
          top: 7.4rem;
          align-items: flex-end;
          display: flex;

          .auto-group-clj7-cR3 {
            align-items: flex-end;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0rem 0rem 1rem 0.125rem;
            width: 100%;
            row-gap: 1rem;

            .header-jVf {
              padding: 1rem 4.125rem 0.9rem 4.675rem;
              width: 100%;
              display: flex;
              align-items: center;
              border: solid 0.1rem #808080;
              background-color: #904a43;
              flex-shrink: 0;
              box-sizing: border-box;

              .c1-feD {
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 8.8rem;
                font-size: 3.6rem;
                font-weight: 400;
                line-height: 1.2125;
              }
              .c2-c3f {
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 13.6rem;
                font-size: 3.6rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
              }
              .c3-XwK {
                flex-shrink: 0;
                margin-right: 11.8rem;
                font-size: 3.6rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
              .c4-qx1 {
                font-weight: 400;
                line-height: 1.2125;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 3.6rem;
              }
            }
            .header-AjP {
              border: solid 0.1rem #808080;
              flex-shrink: 0;
              width: 100%;
              display: flex;
              align-items: center;
              overflow: hidden;
              position: relative;
              border-radius: 0.3rem;
              box-sizing: border-box;
              padding: 0.5rem 0.2rem 0.5rem 1.775rem;
              height: 8.4rem;

              .c1-5LZ {
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 7.6rem 1rem 0rem;
                font-size: 3.6rem;
                font-weight: 400;
                line-height: 1.2125;
              }
              .c2-c5b {
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 9.7rem 1rem 0rem;
                font-size: 3.6rem;
              }
              .c3-LGV {
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 3.275rem 1rem 0rem;
                font-size: 3.6rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
              }
              .frame-3838-GR3 {
                width: 25.75rem;
                color: #000000;
                white-space: nowrap;
                justify-content: center;
                border: solid 0.1rem #c9c9c9;
                flex-shrink: 0;
                margin-bottom: 1rem;
                font-weight: 400;
                display: flex;
                background-color: #ffac5a;
                border-radius: 2rem;
                font-size: 3.6rem;
                align-items: center;
                height: 6.4rem;
                line-height: 1.2125;
                font-family: Inter, 'Source Sans Pro';
                box-sizing: border-box;
              }
            }
            .header-inq {
              align-items: center;
              border: solid 0.1rem #808080;
              box-sizing: border-box;
              width: 100%;
              height: 8.4rem;
              position: relative;
              display: flex;
              padding: 0.5rem 0.2rem 0.5rem 0.875rem;
              overflow: hidden;
              border-radius: 0.3rem;
              flex-shrink: 0;

              .c1-TEd {
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 6.2rem 1rem 0rem;
                font-size: 3.6rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
              }
              .c2-yyf {
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 10.25rem 1rem 0rem;
                font-size: 3.6rem;
                font-weight: 400;
              }
              .c3-usK {
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 4.325rem 1rem 0rem;
                font-size: 3.6rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
              }
              .frame-3838-Eub {
                font-size: 3.6rem;
                border-radius: 2rem;
                flex-shrink: 0;
                width: 25.75rem;
                justify-content: center;
                box-sizing: border-box;
                white-space: nowrap;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                align-items: center;
                height: 6.4rem;
                font-weight: 400;
                line-height: 1.2125;
                display: flex;
                border: solid 0.1rem #c9c9c9;
                background-color: #bfd3c1;
                margin-bottom: 1rem;
              }
            }
          }
          .header-VKj {
            box-sizing: border-box;
            align-items: center;
            border: solid 0.1rem #808080;
            flex-shrink: 0;
            margin-bottom: 1rem;
            padding: 0.5rem 0.2rem 0.5rem 0rem;
            width: 100%;
            height: 8.4rem;
            cursor: pointer;
            display: flex;

            .c1-Qhb {
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 6.1rem 1rem 0rem;
              font-size: 3.6rem;
            }
            .c2-Lr9 {
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 9.65rem 1rem 0rem;
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2125;
            }
            .c3-5Yq {
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 3.225rem 1rem 0rem;
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2125;
            }
            .frame-3838-D9F {
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 1rem;
              width: 25.75rem;
              font-size: 3.6rem;
              align-items: center;
              border-radius: 2rem;
              height: 6.4rem;
              line-height: 1.2125;
              justify-content: center;
              background-color: #fad02e;
              font-weight: 400;
              display: flex;
              border: solid 0.1rem #c9c9c9;
              box-sizing: border-box;
              flex-shrink: 0;
            }
          }
          .header-rT7 {
            height: 8.6rem;
            display: flex;
            align-items: center;
            border: solid 0.1rem #808080;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.5rem 0.2rem 0.5rem 0.925rem;

            .c1-ae1 {
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 6.35rem 1.2rem 0rem;
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
            .c2-Ja1 {
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 8.9rem 1.2rem 0rem;
              font-size: 3.6rem;
              font-weight: 400;
            }
            .c3-q49 {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 2.975rem 1.2rem 0rem;
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
            }
            .frame-3838-AMK {
              font-family: Inter, 'Source Sans Pro';
              justify-content: center;
              border-radius: 2rem;
              font-size: 3.6rem;
              white-space: nowrap;
              align-items: center;
              flex-shrink: 0;
              width: 25.75rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              display: flex;
              margin-bottom: 1.2rem;
              height: 6.4rem;
              border: solid 0.1rem #c9c9c9;
              box-sizing: border-box;
              background-color: #ffac5a;
            }
          }
        }
      }
      .button-S3w {
        margin-left: 0.125rem;
        width: 19.7rem;
        height: 6.4rem;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;

        .frame-turn-back-button-BXK {
          box-sizing: border-box;
          padding: 1rem 0.8rem 1rem 2.433rem;
          width: 100%;
          height: 100%;
          border: solid 0.1rem #775652;
          border-radius: 2rem;
          display: flex;
          align-items: center;
          background-color: #ffffff;

          .corner-down-left-K7j {
            flex-shrink: 0;
            margin: 0rem 1.333rem 0rem 0rem;
            width: 1.3333rem;
            height: 1.3333rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
          }
          .quay-li-F1P {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #775652;
          }
        }
      }
    }
  }
}
