
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.xem-thng-tin-ha-n-3Xs {
  position: relative;
  overflow: hidden;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #e8d6d4;
  width: 100%;
  height: 102.4rem;

  .frame-3975-P5w {
    flex-direction: column;
    box-sizing: border-box;
    height: 102.4rem;
    position: absolute;
    left: 34.5972rem;
    display: flex;
    padding-bottom: 1.5rem;
    width: 110.1528rem;
    top: 0rem;
    align-items: center;

    .frame-header-gqj {
      border: solid 0.1rem #e8d6d4;
      flex-shrink: 0;
      margin: 0rem 0.747rem 3.5rem 0rem;
      height: 12.8481rem;
      display: flex;
      align-items: center;
      background-color: #9b1212;
      box-sizing: border-box;
      padding: 1.4rem 0.001rem 1.444rem 0.002rem;
      width: calc(100% - 0.7472rem);

      .ha-n-PVF {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.175rem 45.501rem 0rem 0rem;
        font-size: 4.8rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #e8d6d4;
        font-family: Inter, 'Source Sans Pro';
      }
      .group-user-info-hkq {
        flex-shrink: 0;
        height: 100%;
        display: flex;
        align-items: center;

        .auto-group-vfid-TV7 {
          margin: 2.105rem 1.198rem 1.499rem 0rem;
          height: calc(100% - 3.6044rem);
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .name-and-first-name-n1b {
            font-weight: 400;
            line-height: 1.2125;
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0.002rem 0.4rem 0rem;
            font-size: 2.4rem;
          }
          .id-number-or-worker-number-taR {
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .user-avatar-1uw {
          height: 10.0044rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 10.0044rem;
        }
      }
    }
    .frame-3982-vn1 {
      width: 107.15rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 0rem 14.648rem 3.003rem;

      .frame-3976-ei1 {
        color: #000000;
        white-space: nowrap;
        border-bottom: solid 0.1rem #2c1512;
        font-size: 2.8rem;
        font-weight: 700;
        height: 5.2rem;
        line-height: 1.2;
        font-family: Lato, 'Source Sans Pro';
        box-sizing: border-box;
        flex-shrink: 0;
        margin: 0rem 1.93rem 3.504rem 0rem;
        width: 105.22rem;
      }
      .image-3-jUZ {
        margin: 0rem 3.75rem 2rem 0rem;
        width: 43.8rem;
        height: 28.2rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 2rem;
        flex-shrink: 0;
      }
      .frame-3978-413 {
        padding: 0.7rem 3rem;
        align-items: center;
        border: solid 0.1rem #000000;
        border-radius: 2rem;
        box-sizing: border-box;
        width: calc(100% - 3.75rem);
        display: flex;
        background-color: #ffffff;
        flex-shrink: 0;
        margin: 0rem 3.75rem 2rem 0rem;

        .nhp-s-th-PxR {
          font-weight: 400;
          line-height: 0.6666666667;
          color: #cccccc;
          font-family: Lato, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 75.2rem 0.1rem 0rem;
          font-size: 3rem;
        }
        .image-4-VVf {
          width: 5.8rem;
          height: 7.4rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .frame-3980-1D7 {
        margin: 0rem 3.75rem 2rem 0rem;
        width: calc(100% - 3.75rem);
        height: 8.8rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .frame-3978-jeu {
          color: #cccccc;
          font-family: Lato, 'Source Sans Pro';
          height: 100%;
          padding: 3.4rem 3rem;
          line-height: 0.6666666667;
          white-space: nowrap;
          border-radius: 2rem;
          margin-right: 1rem;
          font-weight: 400;
          font-size: 3rem;
          width: 65.8rem;
          border: solid 0.1rem #000000;
          background-color: #ffffff;
          flex-shrink: 0;
          box-sizing: border-box;
        }
        .frame-3979-RGq {
          align-items: center;
          justify-content: center;
          border-radius: 2rem;
          height: 100%;
          white-space: nowrap;
          background-color: #ffffff;
          flex-shrink: 0;
          line-height: 0.6666666667;
          color: #cccccc;
          font-family: Lato, 'Source Sans Pro';
          display: flex;
          border: solid 0.1rem #000000;
          width: 36.6rem;
          font-size: 3rem;
          font-weight: 400;
          box-sizing: border-box;
        }
      }
      .bng-vic-nhn-vo-nt-thanh-ton-ngay-bn-ng-rng-giao-dch-ny-l-khng-hon-khng-hy-WJH {
        margin-left: 0.25rem;
        font-size: 2.5rem;
        font-style: italic;
        flex-shrink: 0;
        white-space: nowrap;
        font-weight: 400;
        line-height: 1.2;
        color: #808080;
        font-family: Lato, 'Source Sans Pro';
      }
    }
    .button-xRB {
      margin: 0rem 3.75rem 0rem 3.003rem;
      width: calc(100% - 6.7528rem);
      height: 6.4rem;
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .frame-turn-back-button-5kh {
        margin-right: 60.2rem;
        width: 19.7rem;
        height: 100%;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-weight: 400;
        line-height: 1.2125;
        border: solid 0.1rem #775652;
        box-sizing: border-box;
        font-size: 3.6rem;
        color: #775652;
        white-space: nowrap;
        display: flex;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        border-radius: 2rem;
      }
      .frame-3855-Zfs {
        cursor: pointer;
        align-items: center;
        flex-shrink: 0;
        height: 100%;
        font-size: 3.6rem;
        color: #ffffff;
        border: solid 0.1rem #ffffff;
        box-sizing: border-box;
        width: 23.5rem;
        justify-content: center;
        line-height: 1.2125;
        background-color: #775652;
        display: flex;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        border-radius: 2rem;
      }
    }
  }
  .frame-drawer-2pM {
    top: 0;
    align-items: center;
    display: flex;
    border: solid 0.1rem #000000;
    width: 34.6rem;
    height: 102.4rem;
    position: absolute;
    left: 0;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #9b1212;

    .logo-NNR {
      width: 100%;
      height: 12.7rem;
      overflow: hidden;
      position: relative;
      flex-shrink: 0;
    }
    .auto-group-g8er-veq {
      box-sizing: border-box;
      padding: 2.6rem 0rem 1rem 0rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .navigate-s4H {
        flex-shrink: 0;
        margin-bottom: 38.6rem;
        width: 34.5rem;
        overflow: hidden;
        position: relative;
        align-items: center;
        display: flex;
        flex-direction: column;

        .trang-ch--nww {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.55rem 5.6rem 2.55rem 3rem;
          width: 100%;
          cursor: pointer;
          display: flex;
          align-items: center;
          background-color: #9b1212;

          .icon-home-XPj {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 3.6rem 0rem 0rem;
            width: 4rem;
            height: 3.5505rem;
            object-fit: contain;
          }
          .trang-ch-T2V {
            align-items: center;
            line-height: 1.2125;
            flex-shrink: 0;
            font-weight: 400;
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            justify-content: center;
            font-size: 3.6rem;
          }
        }
        .cn-h-mJ5 {
          width: 100%;
          cursor: pointer;
          display: flex;
          align-items: center;
          background-color: #9b1212;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.55rem 8.6rem 2.55rem 3rem;

          .icon-user-circle-alt-uQH {
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 6.6rem 0rem 0rem;
            width: 4rem;
            height: 4rem;
          }
          .cn-h-cpV {
            display: flex;
            line-height: 1.2125;
            white-space: nowrap;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            font-size: 3.6rem;
            font-weight: 400;
            color: #e8d6d4;
          }
        }
        .ha-n-Yi9 {
          width: 100%;
          cursor: pointer;
          display: flex;
          align-items: center;
          background-color: #9b1212;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.55rem 7.5rem 2.55rem 3rem;

          .icon-wallet-Gu3 {
            height: 3.644rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 5.5rem 0rem 0rem;
            width: 4rem;
          }
          .ha-n-oe5 {
            display: flex;
            justify-content: center;
            line-height: 1.2125;
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            align-items: center;
            font-size: 3.6rem;
            font-weight: 400;
          }
        }
        .phn-nh-uBK {
          width: 100%;
          cursor: pointer;
          display: flex;
          align-items: center;
          background-color: #9b1212;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.55rem 6.7rem 2.55rem 3rem;

          .icon-message-text-pJH {
            margin: 0rem 4.7rem 0rem 0rem;
            width: 4rem;
            height: 3.9757rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .phn-nh-XyP {
            line-height: 1.2125;
            color: #e8d6d4;
            display: flex;
            justify-content: center;
            font-size: 3.6rem;
            font-weight: 400;
            align-items: center;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .phn-nh-rVs {
        flex-shrink: 0;
        padding: 2.55rem 5.9rem 2.55rem 3.474rem;
        width: calc(100% - 0.1rem);
        align-items: center;
        background-color: #9b1212;
        margin-right: 0.1rem;
        box-sizing: border-box;
        cursor: pointer;
        display: flex;

        .power-Nj7 {
          width: 2.85rem;
          height: 3.0838rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 4.376rem 0rem 0rem;
        }
        .phn-nh-i2H {
          align-items: center;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          justify-content: center;
          font-size: 3.6rem;
          font-weight: 400;
          color: #e8d6d4;
        }
      }
    }
  }
}
