
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.xem-thng-tin-ha-n-thanh-ton-Q3P {
  background-color: #e8d6d4;
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  border: solid 0.1rem #000000;
  box-sizing: border-box;

  .content-7Tb {
    width: 109.4056rem;
    top: 0rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 101.7481rem;
    position: absolute;
    left: 34.5972rem;
    align-items: center;

    .frame-header-q8h {
      padding: 1.4rem 0.001rem 1.444rem 0.002rem;
      display: flex;
      height: 12.8481rem;
      align-items: center;
      border: solid 0.1rem #e8d6d4;
      background-color: #9b1212;
      flex-shrink: 0;
      box-sizing: border-box;
      width: 100%;

      .ha-n-Yoo {
        color: #e8d6d4;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.175rem 45.501rem 0rem 0rem;
        font-size: 4.8rem;
        font-weight: 700;
        line-height: 1.2125;
      }
      .group-user-info-Fy7 {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-xpub-R6u {
          margin: 2.105rem 1.198rem 1.499rem 0rem;
          height: calc(100% - 3.6044rem);
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .name-and-first-name-k9B {
            flex-shrink: 0;
            margin: 0rem 0.002rem 0.4rem 0rem;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .id-number-or-worker-number-TZP {
            font-weight: 400;
            line-height: 1.2125;
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.4rem;
          }
        }
        .user-avatar-b9o {
          width: 10.0044rem;
          height: 10.0044rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .auto-group-tzqf-WGm {
      padding: 4.1rem 2.053rem 1.5rem 2.053rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;

      .frame-3909-qpq {
        margin: 0rem 0rem 44.7rem 0.95rem;
        width: 75.2rem;
        flex-shrink: 0;

        .ph-v-sinh-thng-100-2023-myP {
          font-size: 4.8rem;
          font-weight: 600;
          line-height: 1.2;
          color: #000000;
          font-family: Lato, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 3.75rem 1rem;
        }
        .frame-3908-4xV {
          width: 100%;
          display: flex;
          flex-direction: column;

          .frame-3910-DaV {
            width: calc(100% - 1rem);
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;
            margin: 0rem 0rem 2.7rem 1rem;

            .frame-3904-Mgh {
              flex-direction: column;
              flex-shrink: 0;
              margin: 0.3rem 38.7rem 0rem 0rem;
              display: flex;

              .s-tin-Vnu {
                font-weight: 600;
                line-height: 1.2;
                color: #000000;
                font-family: Lato, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 3.55rem;
                font-size: 2.8rem;
              }
              .trng-thi-EEh {
                color: #000000;
                font-family: Lato, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2.8rem;
                font-weight: 600;
                line-height: 1.2;
              }
            }
            .frame-3906-mVX {
              flex-shrink: 0;
              display: flex;
              flex-direction: column;

              .thng-XzV {
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 3.5rem;
                font-size: 2.8rem;
                font-weight: 400;
                line-height: 1.2;
                color: #000000;
                font-family: Lato, 'Source Sans Pro';
              }
              .thanh-ton-4Ud {
                font-size: 2.8rem;
                font-weight: 400;
                line-height: 1.2;
                color: #000000;
                font-family: Lato, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
          .frame-3907-ahs {
            flex-shrink: 0;
            display: flex;
            flex-direction: column;

            .thng-tin-chi-tit-wHX {
              margin-bottom: 2.5rem;
              font-size: 2.8rem;
              font-weight: 600;
              line-height: 1.2;
              color: #000000;
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .ph-thu-lao-cng-v-sinh-chung-c--SVB {
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-left: 1rem;
              font-size: 2.8rem;
              font-weight: 400;
              line-height: 1.2;
              color: #000000;
            }
          }
        }
      }
      .button-WE9 {
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        height: 6.4rem;

        .frame-turn-back-button-Evq {
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;
          height: 100%;
          display: flex;
          border: solid 0.1rem #775652;
          background-color: #ffffff;
          border-radius: 2rem;
          margin-right: 62.1rem;
          padding: 1rem 0.8rem 1rem 2.433rem;
          cursor: pointer;

          .corner-down-left-w4Z {
            flex-shrink: 0;
            margin: 0rem 1.333rem 0rem 0rem;
            width: 1.3333rem;
            height: 1.3333rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
          }
          .quay-li-2rh {
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #775652;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .frame-3855-LMb {
          box-sizing: border-box;
          padding: 1rem;
          white-space: nowrap;
          background-color: #e8d6d4;
          border-radius: 2rem;
          line-height: 1.2125;
          width: 23.5rem;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          border: solid 0.1rem #c9c9c9;
          height: 100%;
          font-size: 3.6rem;
          color: #a2a2a2;
          flex-shrink: 0;
        }
      }
    }
  }
  .frame-drawer-QMT {
    flex-direction: column;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    border: solid 0.1rem #000000;
    background-color: #9b1212;
    width: 34.6rem;
    height: 102.4rem;
    align-items: center;

    .logo-wcH {
      width: 100%;
      height: 12.7rem;
      overflow: hidden;
      position: relative;
      flex-shrink: 0;
    }
    .auto-group-45u9-6k5 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 2.6rem 0rem 1rem 0rem;
      width: 100%;

      .navigate-qBs {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 38.6rem;
        width: 34.5rem;
        overflow: hidden;
        position: relative;
        align-items: center;

        .trang-ch--Azq {
          width: 100%;
          cursor: pointer;
          display: flex;
          align-items: center;
          background-color: #9b1212;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.55rem 5.6rem 2.55rem 3rem;

          .icon-home-uhX {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 3.6rem 0rem 0rem;
            width: 4rem;
            height: 3.5505rem;
          }
          .trang-ch-333 {
            justify-content: center;
            font-size: 3.6rem;
            line-height: 1.2125;
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            font-weight: 400;
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .cn-h-jwT {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.55rem 8.6rem 2.55rem 3rem;
          width: 100%;
          cursor: pointer;
          display: flex;
          align-items: center;
          background-color: #9b1212;

          .icon-user-circle-alt-Ue9 {
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 6.6rem 0rem 0rem;
            width: 4rem;
            height: 4rem;
          }
          .cn-h-bim {
            color: #e8d6d4;
            white-space: nowrap;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            display: flex;
          }
        }
        .ha-n-Kuf {
          box-sizing: border-box;
          padding: 2.55rem 7.5rem 2.55rem 3rem;
          width: 100%;
          cursor: pointer;
          display: flex;
          align-items: center;
          background-color: #9b1212;
          flex-shrink: 0;

          .icon-wallet-4cM {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 5.5rem 0rem 0rem;
            width: 4rem;
            height: 3.644rem;
            position: relative;
            object-fit: contain;
          }
          .ha-n-bMP {
            line-height: 1.2125;
            white-space: nowrap;
            flex-shrink: 0;
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3.6rem;
            font-weight: 400;
          }
        }
        .phn-nh-Wz9 {
          box-sizing: border-box;
          padding: 2.55rem 6.7rem 2.55rem 3rem;
          width: 100%;
          cursor: pointer;
          display: flex;
          align-items: center;
          background-color: #9b1212;
          flex-shrink: 0;

          .icon-message-text-FRw {
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 4.7rem 0rem 0rem;
            width: 4rem;
            height: 3.9757rem;
          }
          .phn-nh-ZxR {
            flex-shrink: 0;
            display: flex;
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            align-items: center;
            justify-content: center;
          }
        }
      }
      .phn-nh-tjo {
        box-sizing: border-box;
        width: calc(100% - 0.1rem);
        display: flex;
        align-items: center;
        background-color: #9b1212;
        flex-shrink: 0;
        margin-right: 0.1rem;
        padding: 2.55rem 5.9rem 2.55rem 3.474rem;
        cursor: pointer;

        .power-RDw {
          height: 3.0838rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 4.376rem 0rem 0rem;
          width: 2.85rem;
        }
        .phn-nh-jkR {
          justify-content: center;
          font-size: 3.6rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #e8d6d4;
          display: flex;
          align-items: center;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
  }
}
