
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.xem-thng--i6R {
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #e8d6d4;
  width: 100%;

  .frame-3970-eEy {
    position: absolute;
    left: 34.5972rem;
    top: 0;
    width: 109.9028rem;
    height: 52.3512rem;

    .frame-header-maV {
      width: calc(100% - 0.4972rem);
      height: 12.8481rem;
      background-color: #9b1212;
      margin: 0rem 0.497rem 3.6rem 0rem;
      padding: 1.4rem 0.001rem 1.444rem 0.002rem;
      display: flex;
      align-items: center;
      border: solid 0.1rem #e8d6d4;
      box-sizing: border-box;

      .ha-n-TiD {
        font-weight: 700;
        line-height: 1.2125;
        color: #e8d6d4;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.175rem 45.501rem 0rem 0rem;
        font-size: 4.8rem;
      }
      .group-user-info-yAm {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-dxgz-vrh {
          margin: 2.105rem 1.198rem 1.499rem 0rem;
          height: calc(100% - 3.6044rem);
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .name-and-first-name-4CD {
            margin: 0rem 0.002rem 0.4rem 0rem;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .id-number-or-worker-number-B1w {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #e8d6d4;
          }
        }
        .user-avatar-J6Z {
          width: 10.0044rem;
          height: 10.0044rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .frame-3971-QvH {
      margin: 0rem 4.875rem 5.103rem 3.003rem;
      height: 4.1rem;
      font-size: 2.5rem;
      line-height: 1.2;
      white-space: nowrap;
      border-bottom: solid 0.1rem #2c1512;
      box-sizing: border-box;
      width: calc(100% - 7.8783rem);
      font-weight: 700;
      color: #000000;
      font-family: Lato, 'Source Sans Pro';
    }
    .frame-3902-tKf {
      margin: 0rem 46.6rem 5.9rem 3.003rem;
      width: calc(100% - 49.6028rem);
      display: flex;
      align-items: center;

      .tn-ng-k-thanh-ton-pDK {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1.2;
        color: #000000;
        font-family: Lato, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 4.6rem;
        max-width: 13.9rem;
      }
      .truong-van-nam-p10101-vp5-vpbank-XNd {
        max-width: 41.8rem;
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 1.2;
        color: #000000;
        font-family: Lato, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
    .bng-vic-nhn-vo-nt-thanh-ton-ngay-bn-ng-rng-giao-dch-ny-l-khng-hon-khng-hy-E29 {
      font-size: 2.5rem;
      font-weight: 400;
      line-height: 1.2;
      font-style: italic;
      color: #808080;
      font-family: Lato, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 0rem 2.2rem 3.003rem;
    }
    .frame-3974-GzR {
      margin-left: 0.0028rem;
      box-sizing: border-box;
      padding: 0 1.85rem;
      width: 109.4rem;
      height: 6.6rem;
      cursor: pointer;

      .frame-3973-oUZ {
        width: 100%;
        line-height: 1.2;
        text-transform: capitalize;
        white-space: nowrap;
        align-items: center;
        height: 100%;
        font-size: 4rem;
        color: #ffffff;
        font-family: Lato, 'Source Sans Pro';
        justify-content: center;
        background-color: #775652;
        font-weight: 700;
        display: flex;
        border-radius: 2rem;
      }
    }
  }
  .frame-drawer-hZw {
    top: 0;
    align-items: center;
    width: 34.6rem;
    height: 102.4rem;
    position: absolute;
    left: 0;
    background-color: #9b1212;
    display: flex;
    flex-direction: column;
    border: solid 0.1rem #000000;
    box-sizing: border-box;

    .logo-3Nu {
      flex-shrink: 0;
      width: 100%;
      height: 12.7rem;
      overflow: hidden;
      position: relative;
    }
    .auto-group-sjnd-nrH {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 2.6rem 0rem 1rem 0rem;
      width: 100%;
      display: flex;
      flex-direction: column;

      .navigate-L77 {
        flex-shrink: 0;
        margin-bottom: 38.6rem;
        width: 34.5rem;
        overflow: hidden;
        position: relative;
        align-items: center;
        display: flex;
        flex-direction: column;

        .trang-ch--scq {
          cursor: pointer;
          display: flex;
          align-items: center;
          background-color: #9b1212;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.55rem 5.6rem 2.55rem 3rem;
          width: 100%;

          .icon-home-1DF {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 3.6rem 0rem 0rem;
            width: 4rem;
            height: 3.5505rem;
            object-fit: contain;
          }
          .trang-ch-vr1 {
            display: flex;
            justify-content: center;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            align-items: center;
            font-size: 3.6rem;
            font-weight: 400;
            color: #e8d6d4;
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .cn-h-qi5 {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.55rem 8.6rem 2.55rem 3rem;
          width: 100%;
          cursor: pointer;
          display: flex;
          align-items: center;
          background-color: #9b1212;

          .icon-user-circle-alt-B1F {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 6.6rem 0rem 0rem;
            width: 4rem;
            height: 4rem;
            position: relative;
          }
          .cn-h-Vnd {
            font-size: 3.6rem;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            color: #e8d6d4;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 400;
            line-height: 1.2125;
          }
        }
        .ha-n-1ky {
          align-items: center;
          background-color: #9b1212;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.55rem 7.5rem 2.55rem 3rem;
          width: 100%;
          cursor: pointer;
          display: flex;

          .icon-wallet-3Sm {
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 5.5rem 0rem 0rem;
            width: 4rem;
            height: 3.644rem;
          }
          .ha-n-Zvu {
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            font-weight: 400;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            align-items: center;
            font-size: 3.6rem;
            color: #e8d6d4;
          }
        }
        .phn-nh-hGR {
          width: 100%;
          cursor: pointer;
          display: flex;
          align-items: center;
          background-color: #9b1212;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.55rem 6.7rem 2.55rem 3rem;

          .icon-message-text-prq {
            width: 4rem;
            height: 3.9757rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 4.7rem 0rem 0rem;
          }
          .phn-nh-9u7 {
            justify-content: center;
            font-weight: 400;
            line-height: 1.2125;
            color: #e8d6d4;
            white-space: nowrap;
            display: flex;
            align-items: center;
            font-size: 3.6rem;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
      }
      .phn-nh-5Xs {
        padding: 2.55rem 5.9rem 2.55rem 3.474rem;
        cursor: pointer;
        background-color: #9b1212;
        margin-right: 0.1rem;
        box-sizing: border-box;
        width: calc(100% - 0.1rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .power-Q4M {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 4.376rem 0rem 0rem;
          width: 2.85rem;
          height: 3.0838rem;
          position: relative;
        }
        .phn-nh-voP {
          display: flex;
          font-size: 3.6rem;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          line-height: 1.2125;
          color: #e8d6d4;
        }
      }
    }
  }
}
