
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 59.2rem;
}.paginations-Kky {
  width: 100%;
  height: 106.8rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.paginations-Kky .paginations-T6V {
  width: 31rem;
  height: 4.4rem;
  position: absolute;
  left: 4.5rem;
  top: 5.9rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #424f65;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.paginations-Kky .auto-group-cpo5-9k1 {
  width: 79rem;
  height: 3.5rem;
  position: absolute;
  left: 4.9rem;
  top: 22.7rem;
  display: flex;
  align-items: flex-start;
}
.paginations-Kky .auto-group-cpo5-9k1 .active-HLR {
  margin-right: 3.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2999999788;
  text-transform: capitalize;
  color: #424f65;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paginations-Kky .auto-group-cpo5-9k1 .inactive-DUy {
  margin-right: 59.5rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2999999788;
  text-transform: capitalize;
  color: #424f65;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paginations-Kky .auto-group-cpo5-9k1 .item--xSZ {
  margin-top: 1.7rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2175;
  text-decoration-line: underline;
  color: #757575;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paginations-Kky .paginationsdot-2xD {
  box-sizing: border-box;
  padding: 2rem 16.3rem 2rem 2rem;
  width: 28.9rem;
  height: 5rem;
  position: absolute;
  left: 4.5rem;
  top: 26.8rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
}
.paginations-Kky .paginationsdot-2xD .stateactive-jrd {
  margin-right: 8.6rem;
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.paginations-Kky .paginationsdot-2xD .stateinactive-dx1 {
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.paginations-Kky .paginations-dot-nK7 {
  width: 7.9rem;
  height: 1rem;
  position: absolute;
  left: 4.9rem;
  top: 35.1rem;
  display: flex;
  column-gap: 1.3rem;
  align-items: center;
}
.paginations-Kky .paginations-dot-nK7 .component-2-iCm {
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.paginations-Kky .paginations-dot-nK7 .component-3-ecD {
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.paginations-Kky .paginations-dot-nK7 .component-4-yeV {
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.paginations-Kky .paginations-dot-nK7 .component-5-Xg1 {
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.paginations-Kky .paginations-dot-tWZ {
  width: 24.1rem;
  height: 2.9rem;
  position: absolute;
  left: 4.5rem;
  top: 17.7rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2000000477;
  letter-spacing: 0.01rem;
  text-transform: uppercase;
  color: #d04343;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.paginations-Kky .paginations-page-NRj {
  width: 25.6rem;
  height: 2.9rem;
  position: absolute;
  left: 4.5rem;
  top: 45.5rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2000000477;
  letter-spacing: 0.01rem;
  text-transform: uppercase;
  color: #c62424;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.paginations-Kky .page-4ZT {
  box-sizing: border-box;
  padding: 2rem 11.7rem 2rem 2rem;
  width: 47.8rem;
  height: 6.4rem;
  position: absolute;
  left: 4.5rem;
  top: 54.9rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
}
.paginations-Kky .page-4ZT .statedefault-9au {
  margin-right: 7rem;
  width: 2.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paginations-Kky .page-4ZT .statehover-Tbb {
  margin-right: 8.9rem;
  width: 2.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #99b7f0;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.paginations-Kky .page-4ZT .stateactive-vk5 {
  margin-right: 8.6rem;
  width: 2.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #ffffff;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #99b7f0;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.paginations-Kky .page-4ZT .statemore-1Wd {
  width: 2.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2999999523;
  color: #000000;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.paginations-Kky .paginationspage-ifw {
  box-sizing: border-box;
  padding: 0 0.9rem;
  width: 25.2rem;
  height: 2.4rem;
  position: absolute;
  left: 4.4rem;
  top: 65.7rem;
  display: flex;
  align-items: center;
}
.paginations-Kky .paginationspage-ifw .outlined-directions-chevron-left-mu7 {
  margin-right: 2.55rem;
  width: 0.6rem;
  height: 1.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.paginations-Kky .paginationspage-ifw .nomber-tTw {
  margin-right: 2.75rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.paginations-Kky .paginationspage-ifw .nomber-tTw .page-eCD {
  width: 2.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #ffffff;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #99b7f0;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.paginations-Kky .paginationspage-ifw .nomber-tTw .auto-group-mzxh-xTo {
  box-sizing: border-box;
  padding: 0.05rem 0.75rem;
  height: 100%;
  display: flex;
  column-gap: 1.45rem;
  align-items: center;
  flex-shrink: 0;
}
.paginations-Kky .paginationspage-ifw .nomber-tTw .auto-group-mzxh-xTo .paginations-page-default-e5j {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paginations-Kky .paginationspage-ifw .nomber-tTw .auto-group-mzxh-xTo .paginations-page-default-mg9 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paginations-Kky .paginationspage-ifw .nomber-tTw .auto-group-mzxh-xTo .paginations-page-default-HeV {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paginations-Kky .paginationspage-ifw .nomber-tTw .auto-group-mzxh-xTo .paginations-page-default-NR3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paginations-Kky .paginationspage-ifw .nomber-tTw .page-VVf {
  margin-right: 0.25rem;
  width: 2.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2999999523;
  color: #000000;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.paginations-Kky .paginationspage-ifw .nomber-tTw .paginations-page-default-P5F {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paginations-Kky .paginationspage-ifw .outlined-directions-chevron-right-hLq {
  width: 0.6rem;
  height: 1.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.paginations-Kky .auto-group-sitt-dkH {
  width: 36.3rem;
  height: 2.4rem;
  position: absolute;
  left: 5.2rem;
  top: 50.5rem;
  display: flex;
  align-items: center;
}
.paginations-Kky .auto-group-sitt-dkH .default-k4D {
  margin-right: 3.9rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2999999788;
  text-transform: capitalize;
  color: #424f65;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paginations-Kky .auto-group-sitt-dkH .hover-4ah {
  margin-right: 5.9rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2999999788;
  text-transform: capitalize;
  color: #424f65;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paginations-Kky .auto-group-sitt-dkH .active-c6R {
  margin-right: 5.9rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2999999788;
  text-transform: capitalize;
  color: #424f65;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paginations-Kky .auto-group-sitt-dkH .more-kTX {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2999999788;
  text-transform: capitalize;
  color: #424f65;
  font-family: Nunito Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
