
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 118.9rem;
}.typography-CE9 {
  width: 100%;
  height: 106.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.typography-CE9 .typography-Wkd {
  width: 29.6rem;
  height: 4.4rem;
  position: absolute;
  left: 4rem;
  top: 3.1rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #424f65;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-CE9 .auto-group-x5sq-oUq {
  box-sizing: border-box;
  padding: 2.9rem 2.5rem 3.3rem 2.5rem;
  width: 68.4rem;
  height: 15.1rem;
  position: absolute;
  left: 4.4rem;
  top: 9.7rem;
  background-color: #fff5f5;
  border-radius: 1rem;
}
.typography-CE9 .auto-group-x5sq-oUq .font-iLu {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2175;
  text-transform: uppercase;
  color: #7b7171;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-CE9 .auto-group-x5sq-oUq .nunito-sans-ri1 {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  text-transform: uppercase;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-CE9 .auto-group-3mes-ae1 {
  width: 70.3rem;
  height: 3rem;
  position: absolute;
  left: 5.4rem;
  top: 28.3rem;
  display: flex;
  align-items: center;
}
.typography-CE9 .auto-group-3mes-ae1 .headings-Tho {
  margin-right: 50.9rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2125;
  text-transform: uppercase;
  color: #830202;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-CE9 .auto-group-3mes-ae1 .body-oFs {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2125;
  text-transform: uppercase;
  color: #830202;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-CE9 .auto-group-gz4f-vLV {
  width: 73.5rem;
  height: 8.9rem;
  position: absolute;
  left: 5.4rem;
  top: 45.3rem;
  display: flex;
  align-items: flex-end;
}
.typography-CE9 .auto-group-gz4f-vLV .auto-group-rfd5-pgm {
  margin: 0rem 37.2rem 1.5rem 0rem;
  width: 26.3rem;
  height: 7.4rem;
  position: relative;
  flex-shrink: 0;
}
.typography-CE9 .auto-group-gz4f-vLV .auto-group-rfd5-pgm .heading-2-AEq {
  width: 26.3rem;
  height: 5.9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2125;
  text-transform: uppercase;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-CE9 .auto-group-gz4f-vLV .auto-group-rfd5-pgm .bold-48-STF {
  width: 6.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 5.4rem;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #626262;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-CE9 .auto-group-gz4f-vLV .auto-group-trs9-v7X {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.typography-CE9 .auto-group-gz4f-vLV .auto-group-trs9-v7X .button-rG5 {
  margin-bottom: 1.2rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2125;
  text-transform: uppercase;
  color: #830202;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-CE9 .auto-group-gz4f-vLV .auto-group-trs9-v7X .large-z7P {
  margin-left: 0.1rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-CE9 .auto-group-mrgo-X7K {
  width: 71.7rem;
  height: 4.6rem;
  position: absolute;
  left: 5.4rem;
  top: 70rem;
  display: flex;
  align-items: flex-end;
}
.typography-CE9 .auto-group-mrgo-X7K .auto-group-dkzy-rfP {
  margin: 0rem 53.6rem 0.1rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.typography-CE9 .auto-group-mrgo-X7K .auto-group-dkzy-rfP .heading-5-CjF {
  margin-bottom: 0.3rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2125;
  text-transform: uppercase;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-CE9 .auto-group-mrgo-X7K .auto-group-dkzy-rfP .bold-16-ixV {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #626262;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-CE9 .auto-group-mrgo-X7K .fields-52M {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2125;
  text-transform: uppercase;
  color: #830202;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-CE9 .auto-group-ctnb-oDF {
  width: 71.7rem;
  height: 10.5rem;
  position: absolute;
  left: 5.4rem;
  top: 33.3rem;
  display: flex;
  align-items: center;
}
.typography-CE9 .auto-group-ctnb-oDF .auto-group-99fr-92D {
  margin: 0.9rem 33.6rem 1.1rem 0rem;
  width: 29.9rem;
  height: calc(100% - 2rem);
  position: relative;
  flex-shrink: 0;
}
.typography-CE9 .auto-group-ctnb-oDF .auto-group-99fr-92D .heading-1-4us {
  width: 29.9rem;
  height: 6.8rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.2125;
  text-transform: uppercase;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-CE9 .auto-group-ctnb-oDF .auto-group-99fr-92D .bold-56-beu {
  width: 6.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 6.5rem;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #626262;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-CE9 .auto-group-ctnb-oDF .auto-group-mttu-JJR {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.typography-CE9 .auto-group-ctnb-oDF .auto-group-mttu-JJR .body-1-e7P {
  margin-bottom: 0.3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-CE9 .auto-group-ctnb-oDF .auto-group-mttu-JJR .regular-18-mho {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #626262;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-CE9 .auto-group-ctnb-oDF .auto-group-mttu-JJR .body-2-6VB {
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-CE9 .auto-group-ctnb-oDF .auto-group-mttu-JJR .regular-16-SZ3 {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #626262;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-CE9 .auto-group-lldr-PUH {
  width: 71.9rem;
  height: 8rem;
  position: absolute;
  left: 5.4rem;
  top: 54.2rem;
  display: flex;
  align-items: center;
}
.typography-CE9 .auto-group-lldr-PUH .auto-group-zepb-vz1 {
  margin: 1.1rem 45.8rem 1.6rem 0rem;
  width: 17.7rem;
  height: calc(100% - 2.7rem);
  position: relative;
  flex-shrink: 0;
}
.typography-CE9 .auto-group-lldr-PUH .auto-group-zepb-vz1 .heading-3-dNd {
  width: 17.7rem;
  height: 3.9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2125;
  text-transform: uppercase;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-CE9 .auto-group-lldr-PUH .auto-group-zepb-vz1 .bold-32-A7f {
  width: 6.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 3.3rem;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #626262;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-CE9 .auto-group-lldr-PUH .auto-group-ezom-5kR {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.typography-CE9 .auto-group-lldr-PUH .auto-group-ezom-5kR .regular-20-29s {
  margin-bottom: 1.8rem;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #626262;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-CE9 .auto-group-lldr-PUH .auto-group-ezom-5kR .medium-x3X {
  margin-left: 0.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-CE9 .auto-group-lldr-PUH .auto-group-ezom-5kR .regular-18-Vp9 {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #626262;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-CE9 .auto-group-y5ak-eS9 {
  width: 71.7rem;
  height: 4.7rem;
  position: absolute;
  left: 5.4rem;
  top: 63.2rem;
  display: flex;
  align-items: flex-end;
}
.typography-CE9 .auto-group-y5ak-eS9 .auto-group-ulwf-mFs {
  margin: 0rem 50.2rem 0.3rem 0rem;
  width: 13.3rem;
  height: 4.4rem;
  position: relative;
  flex-shrink: 0;
}
.typography-CE9 .auto-group-y5ak-eS9 .auto-group-ulwf-mFs .heading-4-FB3 {
  width: 13.3rem;
  height: 3rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  text-transform: uppercase;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-CE9 .auto-group-y5ak-eS9 .auto-group-ulwf-mFs .bold-24-LiH {
  width: 6.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 2.4rem;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #626262;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-CE9 .auto-group-y5ak-eS9 .auto-group-cjcb-GM3 {
  width: 8.2rem;
  height: 3.7rem;
  position: relative;
  flex-shrink: 0;
}
.typography-CE9 .auto-group-y5ak-eS9 .auto-group-cjcb-GM3 .small-pNZ {
  width: 4.1rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-CE9 .auto-group-y5ak-eS9 .auto-group-cjcb-GM3 .regular-16-xDs {
  width: 8.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 1.7rem;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #626262;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-CE9 .placeholders-srd {
  width: 9.8rem;
  height: 2rem;
  position: absolute;
  left: 68.9rem;
  top: 76.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-CE9 .regular-16-aFF {
  width: 8.2rem;
  height: 2rem;
  position: absolute;
  left: 69rem;
  top: 79.1rem;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #626262;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
