
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 118.9rem;
}.button-kv1 {
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 125rem;
  position: relative;

  .button-Snq {
    left: 4rem;
    font-weight: 700;
    line-height: 1.2175;
    text-transform: uppercase;
    color: #424f65;
    white-space: nowrap;
    width: 15.9rem;
    height: 4.4rem;
    position: absolute;
    top: 3.1rem;
    font-size: 3.6rem;
    font-family: Montserrat, 'Source Sans Pro';
  }
  .fields-9BT {
    line-height: 1.2175;
    color: #424f65;
    font-family: Montserrat, 'Source Sans Pro';
    white-space: nowrap;
    width: 13.4rem;
    height: 4.4rem;
    left: 4.3rem;
    font-weight: 700;
    position: absolute;
    top: 58.3rem;
    font-size: 3.6rem;
    text-transform: uppercase;
  }
  .auto-group-olkb-SAZ {
    left: 21.8rem;
    top: 9.9rem;
    display: flex;
    align-items: center;
    width: 54.9rem;
    height: 3rem;
    position: absolute;

    .primary-YjP {
      font-size: 2.4rem;
      margin-right: 27.3rem;
      font-weight: 600;
      line-height: 1.2175;
      text-transform: uppercase;
      color: #830202;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .secondary-zbP {
      color: #830202;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2.4rem;
      font-weight: 600;
      line-height: 1.2175;
      text-transform: uppercase;
    }
  }
  .auto-group-pngs-n1T {
    width: 89.6rem;
    height: 7.2rem;
    position: absolute;
    left: 4rem;
    top: 16.8rem;
    display: flex;
    align-items: center;

    .large-Hiu {
      line-height: 1.2175;
      text-transform: uppercase;
      color: #830202;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.2rem 8.5rem 0rem 0rem;
      font-weight: 600;
      font-size: 2.4rem;
      font-family: Montserrat, 'Source Sans Pro';
    }
    .button1-xKF {
      margin-right: 3.3rem;
      align-items: center;
      color: #ffffff;
      white-space: nowrap;
      background-color: #99b7f0;
      display: flex;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.3625;
      font-family: Nunito Sans, 'Source Sans Pro';
      width: 14.8rem;
      justify-content: center;
      height: 100%;
      text-transform: uppercase;
      border-radius: 1rem;
      flex-shrink: 0;
    }
    .button1-z13 {
      white-space: nowrap;
      border-radius: 1rem;
      justify-content: center;
      display: flex;
      font-size: 2rem;
      text-transform: uppercase;
      font-family: Nunito Sans, 'Source Sans Pro';
      margin-right: 6.9rem;
      color: #ffffff;
      background-color: #5386e8;
      width: 14.8rem;
      align-items: center;
      font-weight: 400;
      line-height: 1.3625;
      flex-shrink: 0;
      height: 100%;
    }
    .button1-qnM {
      border: solid 0.05rem #5386e8;
      font-weight: 400;
      text-transform: uppercase;
      line-height: 1.3625;
      color: #99b7f0;
      box-sizing: border-box;
      border-radius: 1rem;
      flex-shrink: 0;
      margin-right: 3.2rem;
      align-items: center;
      font-family: Nunito Sans, 'Source Sans Pro';
      display: flex;
      font-size: 2rem;
      justify-content: center;
      white-space: nowrap;
      background-color: #ffffff;
      width: 14.8rem;
      height: 100%;
    }
    .button1-Gsf {
      text-transform: uppercase;
      background-color: #f6f5ff;
      flex-shrink: 0;
      display: flex;
      color: #99b7f0;
      white-space: nowrap;
      font-weight: 400;
      height: 100%;
      align-items: center;
      justify-content: center;
      line-height: 1.3625;
      box-sizing: border-box;
      width: 14.8rem;
      font-family: Nunito Sans, 'Source Sans Pro';
      border: solid 0.05rem #5386e8;
      border-radius: 1rem;
      font-size: 2rem;
    }
  }
  .auto-group-ga6w-ufj {
    display: flex;
    align-items: center;
    width: 87.9rem;
    height: 6.6rem;
    position: absolute;
    left: 3.8rem;
    top: 28.3rem;

    .medium-2kM {
      margin: 0.6rem 6.3rem 0rem 0rem;
      line-height: 1.2175;
      text-transform: uppercase;
      color: #830202;
      font-family: Montserrat, 'Source Sans Pro';
      flex-shrink: 0;
      font-size: 2.4rem;
      font-weight: 600;
      white-space: nowrap;
    }
    .button1-8Hb {
      margin-right: 5.2rem;
      width: 12.9rem;
      white-space: nowrap;
      text-transform: uppercase;
      background-color: #99b7f0;
      flex-shrink: 0;
      height: 100%;
      font-size: 1.8rem;
      line-height: 1.3625;
      display: flex;
      font-weight: 400;
      color: #ffffff;
      border-radius: 1rem;
      align-items: center;
      justify-content: center;
      font-family: Nunito Sans, 'Source Sans Pro';
    }
    .button1-bws {
      height: 100%;
      font-family: Nunito Sans, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 8.8rem;
      align-items: center;
      font-size: 1.8rem;
      line-height: 1.3625;
      white-space: nowrap;
      width: 12.9rem;
      display: flex;
      font-weight: 400;
      color: #ffffff;
      justify-content: center;
      text-transform: uppercase;
      background-color: #5386e8;
      border-radius: 1rem;
    }
    .button1-79X {
      font-size: 1.8rem;
      color: #99b7f0;
      box-sizing: border-box;
      background-color: #ffffff;
      margin-right: 5.1rem;
      width: 12.9rem;
      display: flex;
      justify-content: center;
      line-height: 1.3625;
      border: solid 0.05rem #5386e8;
      border-radius: 1rem;
      flex-shrink: 0;
      height: 100%;
      align-items: center;
      font-weight: 400;
      font-family: Nunito Sans, 'Source Sans Pro';
      white-space: nowrap;
      text-transform: uppercase;
    }
    .button1-LHB {
      line-height: 1.3625;
      color: #99b7f0;
      border-radius: 1rem;
      display: flex;
      font-size: 1.8rem;
      white-space: nowrap;
      border: solid 0.05rem #5386e8;
      box-sizing: border-box;
      flex-shrink: 0;
      width: 12.9rem;
      font-family: Nunito Sans, 'Source Sans Pro';
      font-weight: 400;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      background-color: #f6f5ff;
      height: 100%;
    }
  }
  .auto-group-lnd1-bU1 {
    width: 86.8rem;
    height: 6.1rem;
    position: absolute;
    left: 3.7rem;
    top: 39.2rem;
    display: flex;
    align-items: center;

    .small-XMf {
      white-space: nowrap;
      margin: 0.1rem 8.8rem 0rem 0rem;
      font-size: 2.4rem;
      font-weight: 600;
      text-transform: uppercase;
      color: #830202;
      font-family: Montserrat, 'Source Sans Pro';
      line-height: 1.2175;
      flex-shrink: 0;
    }
    .button1-d9o {
      justify-content: center;
      font-weight: 400;
      line-height: 1.3625;
      text-transform: uppercase;
      color: #ffffff;
      font-family: Nunito Sans, 'Source Sans Pro';
      width: 11.7rem;
      display: flex;
      flex-shrink: 0;
      border-radius: 1rem;
      margin: 0rem 6.4rem 0.1rem 0rem;
      white-space: nowrap;
      align-items: center;
      font-size: 1.6rem;
      height: 6rem;
      background-color: #99b7f0;
    }
    .button1-Fgy {
      font-size: 1.6rem;
      font-weight: 400;
      font-family: Nunito Sans, 'Source Sans Pro';
      margin: 0.1rem 10rem 0rem 0rem;
      height: 6rem;
      display: flex;
      line-height: 1.3625;
      text-transform: uppercase;
      border-radius: 1rem;
      width: 11.7rem;
      justify-content: center;
      background-color: #5386e8;
      flex-shrink: 0;
      align-items: center;
      color: #ffffff;
      white-space: nowrap;
    }
    .button1-js3 {
      font-weight: 400;
      line-height: 1.3625;
      box-sizing: border-box;
      height: 6rem;
      align-items: center;
      flex-shrink: 0;
      margin: 0.1rem 6.3rem 0rem 0rem;
      white-space: nowrap;
      background-color: #ffffff;
      border-radius: 1rem;
      justify-content: center;
      color: #99b7f0;
      font-size: 1.6rem;
      text-transform: uppercase;
      font-family: Nunito Sans, 'Source Sans Pro';
      border: solid 0.05rem #5386e8;
      width: 11.7rem;
      display: flex;
    }
    .button1-p7o {
      font-weight: 400;
      text-transform: uppercase;
      white-space: nowrap;
      border: solid 0.05rem #5386e8;
      border-radius: 1rem;
      margin-bottom: 0.1rem;
      width: 11.7rem;
      align-items: center;
      justify-content: center;
      color: #99b7f0;
      font-family: Nunito Sans, 'Source Sans Pro';
      box-sizing: border-box;
      background-color: #f6f5ff;
      flex-shrink: 0;
      height: 6rem;
      line-height: 1.3625;
      display: flex;
      font-size: 1.6rem;
    }
  }
  .auto-group-gchq-S9B {
    align-items: center;
    width: 63.8rem;
    height: 2rem;
    position: absolute;
    left: 22.4rem;
    top: 47.8rem;
    display: flex;

    .standard-Aay {
      margin-right: 12.8rem;
      font-size: 1.6rem;
      font-weight: 300;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .hover-HvV {
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 15.7rem;
      font-size: 1.6rem;
      font-weight: 300;
    }
    .standard-D3T {
      font-weight: 300;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 12.7rem;
      font-size: 1.6rem;
    }
    .hover-kZB {
      flex-shrink: 0;
      font-size: 1.6rem;
      font-weight: 300;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .auto-group-cdgf-gBw {
    left: 10.1rem;
    top: 88.2rem;
    display: flex;
    align-items: center;
    width: 53.8rem;
    height: 5.4rem;
    position: absolute;

    .group-18-Qtd {
      border-radius: 1rem;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.5rem 13.6rem 1.5rem 1.2rem;
      height: 100%;
      display: flex;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      margin-right: 7rem;
      align-items: center;
      background-color: #fffdfd;

      .search-icon-4iH {
        flex-shrink: 0;
        margin-right: 1.3rem;
        width: 2.4rem;
        height: 2.4rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 1rem;
      }
      .search-oA5 {
        font-family: Nunito Sans, 'Source Sans Pro';
        flex-shrink: 0;
        justify-content: center;
        font-size: 1.6rem;
        line-height: 1.3625;
        color: #ada9a9;
        white-space: nowrap;
        display: flex;
        align-items: center;
        font-weight: 400;
      }
    }
    .group-24-d97 {
      box-sizing: border-box;
      border: solid 0.1rem #5386e8;
      display: flex;
      align-items: center;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #fffdfd;
      border-radius: 1rem;
      flex-shrink: 0;
      padding: 1.5rem 14.2rem 1.5rem 1.2rem;
      height: 100%;

      .search-icon-N6h {
        margin-right: 1.8rem;
        width: 2.4rem;
        height: 2.4rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
      }
      .text-HjT {
        margin-top: 0.1rem;
        display: flex;
        align-items: center;
        font-weight: 400;
        white-space: nowrap;
        flex-shrink: 0;
        justify-content: center;
        font-size: 1.6rem;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
    }
  }
  .auto-group-bjf5-ZS5 {
    align-items: center;
    width: 84.3rem;
    height: 5.4rem;
    position: absolute;
    left: 10.1rem;
    top: 65.6rem;
    display: flex;

    .group-23-6B7 {
      font-size: 1.6rem;
      margin-right: 7rem;
      height: 100%;
      line-height: 1.3625;
      font-family: Nunito Sans, 'Source Sans Pro';
      flex-shrink: 0;
      box-sizing: border-box;
      width: 23.4rem;
      color: #ada9a9;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 1rem;
      padding: 1.6rem 2rem;
      font-weight: 400;
      white-space: nowrap;
      background-color: #fffdfd;
    }
    .group-18-9v5 {
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      border: solid 0.1rem #5386e8;
      padding: 1.6rem 2rem 1.8rem 2rem;
      font-size: 1.6rem;
      font-weight: 400;
      margin-right: 7.1rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      background-color: #fffdfd;
      flex-shrink: 0;
      white-space: nowrap;
      border-radius: 1rem;
      width: 23.4rem;
      height: 100%;
      line-height: 1.2125;
    }
    .group-19-b1P {
      box-sizing: border-box;
      font-size: 1.6rem;
      font-weight: 400;
      border: solid 0.1rem #d92626;
      flex-shrink: 0;
      height: 100%;
      line-height: 1.2125;
      white-space: nowrap;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #fffdfd;
      border-radius: 1rem;
      width: 23.4rem;
      font-family: Inter, 'Source Sans Pro';
      padding: 1.6rem 2rem 1.8rem 2rem;
      color: #000000;
    }
  }
  .auto-group-awzb-eEZ {
    height: 5.4rem;
    position: absolute;
    left: 10.1rem;
    top: 109.5rem;
    display: flex;
    align-items: center;
    width: 84.3rem;

    .group-28-ynd {
      display: flex;
      background-color: #fffdfd;
      flex-shrink: 0;
      height: 100%;
      align-items: center;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 1rem;
      margin-right: 7rem;
      box-sizing: border-box;
      padding: 1.5rem 1.2rem 1.5rem 2rem;

      .placeholder-WnZ {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 9.3rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3625;
        color: #ada9a9;
        font-family: Nunito Sans, 'Source Sans Pro';
      }
      .outlined-directions-chevron-down-2W1 {
        width: 2.4rem;
        height: 2.4rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
      }
    }
    .group-29-F7s {
      height: 100%;
      align-items: center;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #fffdfd;
      border-radius: 1rem;
      margin-right: 7.1rem;
      padding: 1.5rem 1.1rem 1.5rem 2rem;
      border: solid 0.1rem #5386e8;
      flex-shrink: 0;
      box-sizing: border-box;
      display: flex;

      .text-KNd {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 14.1rem 0.2rem 0rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
      }
      .outlined-directions-chevron-down-FGH {
        flex-shrink: 0;
        width: 2.4rem;
        height: 2.4rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 1rem;
      }
    }
    .group-30-XUh {
      display: flex;
      align-items: center;
      border: solid 0.1rem #d92626;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      padding: 1.5rem 1.1rem 1.5rem 2rem;
      border-radius: 1rem;
      flex-shrink: 0;
      height: 100%;
      background-color: #fffdfd;

      .text-1uf {
        flex-shrink: 0;
        margin: 0rem 14.6rem 0.2rem 0rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .outlined-directions-chevron-down-vmj {
        width: 2.4rem;
        height: 2.4rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-hy6k-zFo {
    left: 10.1rem;
    top: 76.6rem;
    display: flex;
    align-items: flex-start;
    width: 84.3rem;
    height: 5.7rem;
    position: absolute;

    .group-19-KJ5 {
      flex-shrink: 0;
      margin: 0.3rem 7rem 0rem 0rem;
      width: 23.4rem;
      height: 5.4rem;
      position: relative;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #fffdfd;
      border-radius: 1rem;

      .placeholder-vYm {
        width: 8.5rem;
        left: 2rem;
        font-weight: 400;
        line-height: 1.3625;
        white-space: nowrap;
        font-family: Nunito Sans, 'Source Sans Pro';
        height: 2.2rem;
        position: absolute;
        top: 2.4rem;
        font-size: 1.6rem;
        color: #ada9a9;
      }
      .title-REd {
        color: #777777;
        font-family: Nunito Sans, 'Source Sans Pro';
        width: 2.9rem;
        left: 2rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.3625;
        white-space: nowrap;
        height: 2rem;
        position: absolute;
        top: 0.5rem;
      }
    }
    .group-21-5py {
      flex-shrink: 0;
      margin-right: 7.1rem;
      width: 23.4rem;
      position: relative;
      background-color: #fffdfd;
      border-radius: 1rem;
      height: 5.4rem;
      border: solid 0.1rem #5386e8;
      box-sizing: border-box;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

      .text-Rtq {
        height: 2rem;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        width: 3.8rem;
        position: absolute;
        left: 2rem;
        top: 2.4rem;
        font-size: 1.6rem;
        font-weight: 400;
        white-space: nowrap;
      }
      .title-YyT {
        white-space: nowrap;
        height: 2rem;
        font-weight: 400;
        left: 2rem;
        top: 0.5rem;
        font-size: 1.4rem;
        line-height: 1.3625;
        color: #777777;
        font-family: Nunito Sans, 'Source Sans Pro';
        width: 2.9rem;
        position: absolute;
      }
    }
    .group-22-aQM {
      height: 5.4rem;
      position: relative;
      border: solid 0.1rem #d92626;
      border-radius: 1rem;
      width: 23.4rem;
      box-sizing: border-box;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #fffdfd;
      flex-shrink: 0;

      .text-L8d {
        height: 2rem;
        left: 2rem;
        top: 2.4rem;
        font-size: 1.6rem;
        font-weight: 400;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 3.3rem;
        position: absolute;
        line-height: 1.2125;
      }
      .title-dtR {
        position: absolute;
        color: #777777;
        width: 2.9rem;
        height: 2rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.3625;
        font-family: Nunito Sans, 'Source Sans Pro';
        white-space: nowrap;
        left: 2rem;
        top: 0.5rem;
      }
    }
  }
  .auto-group-uitd-HTB {
    left: 10.1rem;
    top: 97.7rem;
    display: flex;
    align-items: flex-end;
    width: 84.3rem;
    height: 5.5rem;
    position: absolute;

    .group-25-Q21 {
      margin: 0rem 7rem 0.1rem 0rem;
      padding: 0.5rem 1.1rem 0.8rem 2rem;
      height: 5.4rem;
      align-items: center;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 1rem;
      flex-shrink: 0;
      box-sizing: border-box;
      display: flex;
      background-color: #fffdfd;

      .auto-group-v1x7-H5o {
        margin-right: 3.8rem;
        width: 14.1rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .password-Qw7 {
          height: 2rem;
          font-weight: 400;
          font-family: Nunito Sans, 'Source Sans Pro';
          width: 6.2rem;
          position: absolute;
          left: 0;
          top: 0;
          font-size: 1.4rem;
          line-height: 1.3625;
          color: #777777;
          white-space: nowrap;
        }
        .atom-tLV {
          left: 0.1rem;
          font-weight: 400;
          line-height: 1.5;
          font-family: Nunito Sans, 'Source Sans Pro';
          white-space: nowrap;
          border-radius: 1rem;
          width: 14rem;
          height: 2.4rem;
          position: absolute;
          top: 1.7rem;
          font-size: 1.6rem;
          color: #212121;
        }
      }
      .eye-close-line-m9P {
        margin-top: 0.3rem;
        width: 2.4rem;
        height: 2.4rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
      }
    }
    .group-26-TAd {
      align-items: center;
      border: solid 0.1rem #5386e8;
      background-color: #fffdfd;
      border-radius: 1rem;
      margin-right: 7.1rem;
      box-sizing: border-box;
      padding: 0.5rem 1.1rem 0.8rem 2rem;
      height: 5.4rem;
      display: flex;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      flex-shrink: 0;

      .auto-group-1puz-xNH {
        margin-right: 3.3rem;
        width: 14.6rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .password-sEM {
          height: 2rem;
          font-weight: 400;
          font-family: Nunito Sans, 'Source Sans Pro';
          white-space: nowrap;
          width: 6.2rem;
          position: absolute;
          left: 0;
          top: 0;
          font-size: 1.4rem;
          line-height: 1.3625;
          color: #777777;
        }
        .atom-MvD {
          position: absolute;
          top: 1.7rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          font-family: Nunito Sans, 'Source Sans Pro';
          white-space: nowrap;
          width: 14.5rem;
          left: 0.1rem;
          color: #212121;
          border-radius: 1rem;
          height: 2.4rem;
        }
      }
      .eye-close-line-55X {
        margin-top: 0.3rem;
        width: 2.4rem;
        height: 2.4rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
      }
    }
    .group-27-wtR {
      height: 5.4rem;
      display: flex;
      border: solid 0.1rem #d92626;
      background-color: #fffdfd;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.5rem 1.1rem 0.8rem 2rem;
      align-items: center;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 1rem;

      .auto-group-girx-gb7 {
        margin-right: 3.8rem;
        width: 14.1rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .password-qU1 {
          height: 2rem;
          position: absolute;
          left: 0;
          top: 0;
          line-height: 1.3625;
          color: #777777;
          white-space: nowrap;
          width: 6.2rem;
          font-weight: 400;
          font-family: Nunito Sans, 'Source Sans Pro';
          font-size: 1.4rem;
        }
        .atom-Wa9 {
          font-weight: 400;
          color: #212121;
          font-family: Nunito Sans, 'Source Sans Pro';
          width: 14rem;
          height: 2.4rem;
          position: absolute;
          left: 0.1rem;
          top: 1.7rem;
          font-size: 1.6rem;
          line-height: 1.5;
          white-space: nowrap;
          border-radius: 1rem;
        }
      }
      .eye-close-line-9d7 {
        width: 2.4rem;
        height: 2.4rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
        margin-top: 0.3rem;
      }
    }
  }
}
