
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 59.2rem;
}.paginations-uho {
  width: 100%;
  height: 106.8rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .paginations-33K {
    width: 31rem;
    height: 4.4rem;
    top: 5.9rem;
    color: #424f65;
    font-family: Montserrat, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    left: 4.5rem;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.2175;
    text-transform: uppercase;
  }
  .auto-group-xoxw-KmX {
    position: absolute;
    left: 4.9rem;
    top: 22.7rem;
    display: flex;
    align-items: flex-start;
    width: 79rem;
    height: 3.5rem;

    .active-TMw {
      margin-right: 3.8rem;
      text-transform: capitalize;
      color: #424f65;
      white-space: nowrap;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.2999999788;
      font-family: Nunito Sans, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .inactive-ahT {
      font-size: 1.8rem;
      line-height: 1.2999999788;
      font-family: Nunito Sans, 'Source Sans Pro';
      color: #424f65;
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 59.5rem;
      font-weight: 600;
      text-transform: capitalize;
    }
    .item--7xH {
      margin-top: 1.7rem;
      font-weight: 400;
      text-decoration-line: underline;
      color: #757575;
      font-family: Montserrat, 'Source Sans Pro';
      flex-shrink: 0;
      font-size: 1.4rem;
      line-height: 1.2175;
      white-space: nowrap;
    }
  }
  .paginationsdot-Cyj {
    width: 28.9rem;
    position: absolute;
    top: 26.8rem;
    align-items: center;
    overflow: hidden;
    display: flex;
    border-radius: 0.5rem;
    box-sizing: border-box;
    padding: 2rem 16.3rem 2rem 2rem;
    height: 5rem;
    left: 4.5rem;

    .stateactive-trZ {
      height: 1rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 8.6rem;
      width: 1rem;
    }
    .stateinactive-mQZ {
      width: 1rem;
      height: 1rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .paginations-dot-JvH {
    position: absolute;
    left: 4.9rem;
    top: 35.1rem;
    display: flex;
    column-gap: 1.3rem;
    align-items: center;
    width: 7.9rem;
    height: 1rem;

    .component-2-SFo {
      width: 1rem;
      height: 1rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .component-3-Ahb {
      height: 1rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      width: 1rem;
    }
    .component-4-WWZ {
      width: 1rem;
      height: 1rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .component-5-Tgh {
      flex-shrink: 0;
      width: 1rem;
      height: 1rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .paginations-dot-pXF {
    text-transform: uppercase;
    color: #d04343;
    font-family: Montserrat, 'Source Sans Pro';
    top: 17.7rem;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.2000000477;
    width: 24.1rem;
    height: 2.9rem;
    position: absolute;
    left: 4.5rem;
    letter-spacing: 0.01rem;
    white-space: nowrap;
  }
  .paginations-page-JBX {
    line-height: 1.2000000477;
    text-transform: uppercase;
    white-space: nowrap;
    width: 25.6rem;
    position: absolute;
    top: 45.5rem;
    font-weight: 700;
    letter-spacing: 0.01rem;
    color: #c62424;
    font-family: Montserrat, 'Source Sans Pro';
    height: 2.9rem;
    left: 4.5rem;
    font-size: 2.4rem;
  }
  .page-PTs {
    position: absolute;
    top: 54.9rem;
    align-items: center;
    height: 6.4rem;
    padding: 2rem 11.7rem 2rem 2rem;
    width: 47.8rem;
    left: 4.5rem;
    overflow: hidden;
    display: flex;
    border-radius: 0.5rem;
    box-sizing: border-box;

    .statedefault-hDf {
      font-weight: 400;
      line-height: 1.3999999762;
      white-space: nowrap;
      width: 2.4rem;
      height: 100%;
      align-items: center;
      justify-content: center;
      font-size: 1.6rem;
      margin-right: 7rem;
      display: flex;
      color: #000000;
      font-family: Nunito Sans, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .statehover-cLd {
      display: flex;
      align-items: center;
      font-size: 1.6rem;
      color: #99b7f0;
      font-family: Nunito Sans, 'Source Sans Pro';
      white-space: nowrap;
      margin-right: 8.9rem;
      line-height: 1.3999999762;
      flex-shrink: 0;
      height: 100%;
      width: 2.4rem;
      justify-content: center;
      font-weight: 400;
      border-radius: 0.4rem;
    }
    .stateactive-v6R {
      white-space: nowrap;
      height: 100%;
      display: flex;
      justify-content: center;
      font-weight: 400;
      margin-right: 8.6rem;
      color: #ffffff;
      background-color: #99b7f0;
      flex-shrink: 0;
      font-family: Nunito Sans, 'Source Sans Pro';
      border-radius: 0.4rem;
      width: 2.4rem;
      align-items: center;
      font-size: 1.6rem;
      line-height: 1.3999999762;
    }
    .statemore-LR3 {
      color: #000000;
      flex-shrink: 0;
      width: 2.4rem;
      height: 100%;
      display: flex;
      align-items: center;
      font-size: 1.6rem;
      line-height: 1.2999999523;
      justify-content: center;
      font-weight: 400;
      font-family: Nunito Sans, 'Source Sans Pro';
      white-space: nowrap;
      border-radius: 0.4rem;
    }
  }
  .paginationspage-PPK {
    padding: 0 0.9rem;
    height: 2.4rem;
    position: absolute;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 25.2rem;
    left: 4.4rem;
    top: 65.7rem;

    .outlined-directions-chevron-left-VBT {
      height: 1.2rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2.55rem;
      width: 0.6rem;
    }
    .nomber-bkH {
      flex-shrink: 0;
      margin-right: 2.75rem;
      height: 100%;
      display: flex;
      align-items: center;

      .page-xKw {
        width: 2.4rem;
        justify-content: center;
        line-height: 1.3999999762;
        background-color: #99b7f0;
        border-radius: 0.4rem;
        align-items: center;
        color: #ffffff;
        font-size: 1.6rem;
        font-weight: 400;
        white-space: nowrap;
        flex-shrink: 0;
        height: 100%;
        display: flex;
        font-family: Nunito Sans, 'Source Sans Pro';
      }
      .auto-group-4xvs-1p1 {
        box-sizing: border-box;
        padding: 0.05rem 0.75rem;
        height: 100%;
        display: flex;
        column-gap: 1.45rem;
        align-items: center;
        flex-shrink: 0;

        .paginations-page-default-wBs {
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          align-items: center;
          line-height: 1.3999999762;
          font-size: 1.6rem;
          font-weight: 400;
          font-family: Nunito Sans, 'Source Sans Pro';
          display: flex;
          justify-content: center;
        }
        .paginations-page-default-qY9 {
          justify-content: center;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.3999999762;
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          align-items: center;
          color: #000000;
          font-family: Nunito Sans, 'Source Sans Pro';
        }
        .paginations-page-default-aEq {
          white-space: nowrap;
          align-items: center;
          font-weight: 400;
          line-height: 1.3999999762;
          font-family: Nunito Sans, 'Source Sans Pro';
          flex-shrink: 0;
          display: flex;
          justify-content: center;
          font-size: 1.6rem;
          color: #000000;
        }
        .paginations-page-default-Huw {
          justify-content: center;
          font-size: 1.6rem;
          font-weight: 400;
          color: #000000;
          display: flex;
          align-items: center;
          white-space: nowrap;
          flex-shrink: 0;
          line-height: 1.3999999762;
          font-family: Nunito Sans, 'Source Sans Pro';
        }
      }
      .page-qRf {
        height: 100%;
        display: flex;
        color: #000000;
        white-space: nowrap;
        width: 2.4rem;
        justify-content: center;
        font-size: 1.6rem;
        font-family: Nunito Sans, 'Source Sans Pro';
        margin-right: 0.25rem;
        font-weight: 400;
        line-height: 1.2999999523;
        border-radius: 0.4rem;
        flex-shrink: 0;
        align-items: center;
      }
      .paginations-page-default-uRX {
        line-height: 1.3999999762;
        white-space: nowrap;
        font-weight: 400;
        align-items: center;
        justify-content: center;
        font-size: 1.6rem;
        color: #000000;
        font-family: Nunito Sans, 'Source Sans Pro';
        flex-shrink: 0;
        display: flex;
      }
    }
    .outlined-directions-chevron-right-Eyb {
      width: 0.6rem;
      height: 1.2rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-y7tq-nER {
    display: flex;
    align-items: center;
    width: 36.3rem;
    height: 2.4rem;
    position: absolute;
    left: 5.2rem;
    top: 50.5rem;

    .default-iNy {
      font-size: 1.8rem;
      line-height: 1.2999999788;
      flex-shrink: 0;
      font-family: Nunito Sans, 'Source Sans Pro';
      white-space: nowrap;
      margin-right: 3.9rem;
      font-weight: 600;
      text-transform: capitalize;
      color: #424f65;
    }
    .hover-o9X {
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.2999999788;
      color: #424f65;
      font-family: Nunito Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 5.9rem;
      text-transform: capitalize;
    }
    .active-Kdf {
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 5.9rem;
      text-transform: capitalize;
      color: #424f65;
      font-family: Nunito Sans, 'Source Sans Pro';
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.2999999788;
    }
    .more-s9P {
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.2999999788;
      text-transform: capitalize;
      color: #424f65;
      font-family: Nunito Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
}
