
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 96.4rem;
}.select-9VX {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 2.4rem 15.2rem 2.4rem 3.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-espx-1nd {
    margin: 0rem 10.8rem 6.5rem 0rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .calendar-wgH {
      margin-bottom: 4.9rem;
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 3.6rem;
      font-weight: 700;
      line-height: 1.2175;
      text-transform: uppercase;
      color: #424f65;
      font-family: Montserrat, 'Source Sans Pro';
    }
    .calendar-RrM {
      position: relative;
      align-items: center;
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      flex-shrink: 0;
      margin-left: 3rem;
      width: 27.1rem;
      overflow: hidden;
      box-shadow: 0 0.8rem 1.6rem rgba(142, 141, 208, 0.1199999973);
      border-radius: 0.4rem;

      .frame-12-ycy {
        box-sizing: border-box;
        padding: 1.1rem 11.25rem 1.1rem 10.85rem;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: #ebebf6;
        flex-shrink: 0;

        .item-2021-KB3 {
          font-size: 1.4rem;
          font-family: Nunito Sans, 'Source Sans Pro';
          white-space: nowrap;
          margin-right: 0.8rem;
          justify-content: center;
          font-weight: 700;
          line-height: 1.2000000817;
          color: #99b7f0;
          flex-shrink: 0;
          display: flex;
          align-items: center;
        }
        .arrowdown-Rjs {
          vertical-align: top;
          flex-shrink: 0;
          width: 0.8rem;
          height: 0.4rem;
          object-fit: contain;
        }
      }
      .auto-group-u5vb-iiy {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.8rem 1.2rem 1.783rem 1.2rem;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .frame-11-cJZ {
          display: flex;
          column-gap: 6.4rem;
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 1.3833rem;
          box-sizing: border-box;
          padding: 0.2rem;
          width: 100%;

          .outlined-directions-arrows-in-circle-left-v4M {
            flex-shrink: 0;
            width: 2rem;
            height: 2rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
          }
          .item--T4H {
            line-height: 1.2000000477;
            color: #99b7f0;
            font-family: Nunito Sans, 'Source Sans Pro';
            white-space: nowrap;
            align-items: center;
            justify-content: center;
            font-size: 1.6rem;
            font-weight: 700;
            display: flex;
            flex-shrink: 0;
          }
          .outlined-directions-arrows-in-circle-right-m4y {
            width: 2rem;
            height: 2rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .frame-1083-s81 {
          align-items: center;
          background-color: #ffffff;
          flex-shrink: 0;
          margin-bottom: 1.1667rem;
          width: 100%;
          height: 2.4rem;
          display: flex;

          .day-zCd {
            font-weight: 400;
            height: 100%;
            justify-content: center;
            white-space: nowrap;
            margin-right: 1.3167rem;
            display: flex;
            align-items: center;
            font-family: Nunito Sans, 'Source Sans Pro';
            background-color: #ffffff;
            width: 2.4rem;
            font-size: 1.2rem;
            line-height: 1.3333333333;
            color: #9e9eb0;
            flex-shrink: 0;
          }
          .day-GR3 {
            height: 100%;
            font-weight: 400;
            color: #9e9eb0;
            font-family: Nunito Sans, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 1.3167rem;
            background-color: #ffffff;
            width: 2.4rem;
            display: flex;
            align-items: center;
            line-height: 1.3333333333;
            white-space: nowrap;
            justify-content: center;
            font-size: 1.2rem;
          }
          .day-vVb {
            display: flex;
            color: #9e9eb0;
            white-space: nowrap;
            justify-content: center;
            background-color: #ffffff;
            flex-shrink: 0;
            align-items: center;
            font-weight: 400;
            line-height: 1.3333333333;
            font-family: Nunito Sans, 'Source Sans Pro';
            margin-right: 1.3167rem;
            width: 2.4rem;
            height: 100%;
            font-size: 1.2rem;
          }
          .day-34R {
            align-items: center;
            font-size: 1.2rem;
            width: 2.4rem;
            display: flex;
            color: #9e9eb0;
            background-color: #ffffff;
            flex-shrink: 0;
            margin-right: 1.3167rem;
            justify-content: center;
            height: 100%;
            font-weight: 400;
            line-height: 1.3333333333;
            font-family: Nunito Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
          .day-L3X {
            margin-right: 1.3167rem;
            background-color: #ffffff;
            color: #9e9eb0;
            flex-shrink: 0;
            width: 2.4rem;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 400;
            font-family: Nunito Sans, 'Source Sans Pro';
            font-size: 1.2rem;
            line-height: 1.3333333333;
            white-space: nowrap;
          }
          .day-E8u {
            font-size: 1.2rem;
            line-height: 1.3333333333;
            flex-shrink: 0;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 400;
            margin-right: 1.3167rem;
            width: 2.4rem;
            color: #ef464b;
            font-family: Nunito Sans, 'Source Sans Pro';
            white-space: nowrap;
            background-color: #ffffff;
          }
          .day-UJ9 {
            width: 2.4rem;
            font-weight: 400;
            color: #ef464b;
            background-color: #ffffff;
            flex-shrink: 0;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.2rem;
            line-height: 1.3333333333;
            font-family: Nunito Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .frame-1083-BiM {
          align-items: center;
          background-color: #ffffff;
          flex-shrink: 0;
          margin-bottom: 1.1667rem;
          width: 100%;
          height: 2.4rem;
          display: flex;

          .auto-group-fpyd-8Nh {
            box-sizing: border-box;
            padding: 0.25rem 1.667rem 0.25rem 0.35rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .item-01-e69 {
              font-weight: 400;
              color: #c4c0da;
              font-family: Nunito Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-right: 2.0167rem;
              font-size: 1.4rem;
              line-height: 1.2999999183;
            }
            .item-01-yPK {
              margin-right: 2.0167rem;
              display: flex;
              font-weight: 400;
              line-height: 1.2999999183;
              white-space: nowrap;
              align-items: center;
              justify-content: center;
              font-size: 1.4rem;
              color: #c4c0da;
              font-family: Nunito Sans, 'Source Sans Pro';
              flex-shrink: 0;
            }
            .item-01-Uqs {
              font-weight: 400;
              line-height: 1.2999999183;
              color: #c4c0da;
              flex-shrink: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 1.4rem;
              font-family: Nunito Sans, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .day-ACu {
            font-weight: 400;
            line-height: 1.2999999183;
            white-space: nowrap;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.4rem;
            background-color: #ffffff;
            height: 100%;
            color: #212121;
            font-family: Nunito Sans, 'Source Sans Pro';
            margin-right: 1.3167rem;
            width: 2.4rem;
            flex-shrink: 0;
          }
          .day-GWq {
            font-size: 1.4rem;
            flex-shrink: 0;
            display: flex;
            width: 2.4rem;
            height: 100%;
            justify-content: center;
            line-height: 1.2999999183;
            color: #212121;
            margin-right: 1.3167rem;
            font-family: Nunito Sans, 'Source Sans Pro';
            background-color: #ffffff;
            font-weight: 400;
            white-space: nowrap;
            align-items: center;
          }
          .day-mCh {
            margin-right: 1.3167rem;
            width: 2.4rem;
            line-height: 1.2999999183;
            background-color: #ffffff;
            justify-content: center;
            height: 100%;
            color: #212121;
            font-family: Nunito Sans, 'Source Sans Pro';
            flex-shrink: 0;
            display: flex;
            align-items: center;
            font-size: 1.4rem;
            font-weight: 400;
            white-space: nowrap;
          }
          .day-3g1 {
            display: flex;
            align-items: center;
            color: #212121;
            font-family: Nunito Sans, 'Source Sans Pro';
            white-space: nowrap;
            background-color: #ffffff;
            flex-shrink: 0;
            width: 2.4rem;
            height: 100%;
            justify-content: center;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.2999999183;
          }
        }
        .frame-1083-Mwb {
          margin-bottom: 1.1667rem;
          width: 100%;
          height: 2.4rem;
          display: flex;
          align-items: center;
          background-color: #ffffff;
          flex-shrink: 0;

          .day-tRj {
            margin-right: 1.3167rem;
            width: 2.4rem;
            align-items: center;
            color: #212121;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            font-family: Nunito Sans, 'Source Sans Pro';
            white-space: nowrap;
            height: 100%;
            font-size: 1.4rem;
            background-color: #ffffff;
            font-weight: 400;
            line-height: 1.2999999183;
          }
          .day-yxy {
            margin-right: 1.3167rem;
            display: flex;
            align-items: center;
            font-size: 1.4rem;
            font-family: Nunito Sans, 'Source Sans Pro';
            white-space: nowrap;
            justify-content: center;
            font-weight: 400;
            line-height: 1.2999999183;
            background-color: #ffffff;
            flex-shrink: 0;
            width: 2.4rem;
            height: 100%;
            color: #212121;
          }
          .day-3T3 {
            width: 2.4rem;
            height: 100%;
            font-weight: 400;
            align-items: center;
            flex-shrink: 0;
            background-color: #ffffff;
            margin-right: 1.3167rem;
            justify-content: center;
            line-height: 1.2999999183;
            font-family: Nunito Sans, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            font-size: 1.4rem;
            color: #212121;
          }
          .day-xpu {
            align-items: center;
            justify-content: center;
            font-weight: 400;
            margin-right: 1.3167rem;
            font-family: Nunito Sans, 'Source Sans Pro';
            background-color: #ffffff;
            width: 2.4rem;
            height: 100%;
            display: flex;
            line-height: 1.2999999183;
            color: #212121;
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
          }
          .day-4N9 {
            margin-right: 1.3167rem;
            background-color: #ffffff;
            flex-shrink: 0;
            width: 2.4rem;
            height: 100%;
            justify-content: center;
            font-size: 1.4rem;
            font-family: Nunito Sans, 'Source Sans Pro';
            align-items: center;
            white-space: nowrap;
            display: flex;
            font-weight: 400;
            line-height: 1.2999999183;
            color: #212121;
          }
          .day-BBs {
            margin-right: 1.3167rem;
            justify-content: center;
            white-space: nowrap;
            height: 100%;
            align-items: center;
            flex-shrink: 0;
            width: 2.4rem;
            display: flex;
            font-size: 1.4rem;
            line-height: 1.2999999183;
            color: #ffffff;
            font-family: Nunito Sans, 'Source Sans Pro';
            font-weight: 400;
            background-color: #99b7f0;
            border-radius: 0.2rem;
          }
          .day-63w {
            font-weight: 400;
            line-height: 1.2999999183;
            font-family: Nunito Sans, 'Source Sans Pro';
            white-space: nowrap;
            width: 2.4rem;
            display: flex;
            align-items: center;
            font-size: 1.4rem;
            background-color: #ffffff;
            flex-shrink: 0;
            height: 100%;
            justify-content: center;
            color: #212121;
          }
        }
        .frame-1083-ajo {
          background-color: #ffffff;
          flex-shrink: 0;
          margin-bottom: 1.1667rem;
          width: 100%;
          height: 2.4rem;
          display: flex;
          align-items: center;

          .day-ir1 {
            color: #212121;
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 1.3167rem;
            align-items: center;
            line-height: 1.2999999183;
            width: 2.4rem;
            justify-content: center;
            font-size: 1.4rem;
            font-family: Nunito Sans, 'Source Sans Pro';
            background-color: #ffffff;
            height: 100%;
            display: flex;
            font-weight: 400;
          }
          .day-14R {
            font-family: Nunito Sans, 'Source Sans Pro';
            flex-shrink: 0;
            font-size: 1.4rem;
            line-height: 1.2999999183;
            color: #212121;
            margin-right: 1.3167rem;
            width: 2.4rem;
            align-items: center;
            white-space: nowrap;
            font-weight: 400;
            background-color: #ffffff;
            height: 100%;
            display: flex;
            justify-content: center;
          }
          .day-JJR {
            margin-right: 1.3167rem;
            line-height: 1.2999999183;
            color: #212121;
            flex-shrink: 0;
            height: 100%;
            justify-content: center;
            font-weight: 400;
            font-family: Nunito Sans, 'Source Sans Pro';
            white-space: nowrap;
            background-color: #d9d9d9;
            width: 2.4rem;
            display: flex;
            align-items: center;
            font-size: 1.4rem;
            border-radius: 0.2rem;
          }
          .day-Cub {
            font-weight: 400;
            line-height: 1.2999999183;
            white-space: nowrap;
            margin-right: 1.3167rem;
            font-size: 1.4rem;
            background-color: #ffffff;
            flex-shrink: 0;
            font-family: Nunito Sans, 'Source Sans Pro';
            width: 2.4rem;
            display: flex;
            justify-content: center;
            color: #212121;
            height: 100%;
            align-items: center;
          }
          .day-JSq {
            display: flex;
            font-size: 1.4rem;
            background-color: #ffffff;
            align-items: center;
            font-weight: 400;
            white-space: nowrap;
            margin-right: 1.3167rem;
            width: 2.4rem;
            color: #212121;
            font-family: Nunito Sans, 'Source Sans Pro';
            height: 100%;
            justify-content: center;
            line-height: 1.2999999183;
            flex-shrink: 0;
          }
          .day-Ajw {
            flex-shrink: 0;
            height: 100%;
            align-items: center;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.2999999183;
            white-space: nowrap;
            width: 2.4rem;
            justify-content: center;
            color: #212121;
            font-family: Nunito Sans, 'Source Sans Pro';
            margin-right: 1.3167rem;
            background-color: #ffffff;
            display: flex;
          }
          .day-tR3 {
            font-weight: 400;
            line-height: 1.2999999183;
            color: #212121;
            font-family: Nunito Sans, 'Source Sans Pro';
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
            background-color: #ffffff;
            width: 2.4rem;
            height: 100%;
            font-size: 1.4rem;
          }
        }
        .frame-1083-QeH {
          background-color: #ffffff;
          flex-shrink: 0;
          margin-bottom: 1.1667rem;
          width: 100%;
          height: 2.4rem;
          display: flex;
          align-items: center;

          .day-Xiu {
            width: 2.4rem;
            height: 100%;
            align-items: center;
            font-size: 1.4rem;
            color: #212121;
            font-family: Nunito Sans, 'Source Sans Pro';
            display: flex;
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 1.3167rem;
            justify-content: center;
            font-weight: 400;
            line-height: 1.2999999183;
            background-color: #ffffff;
          }
          .day-2ff {
            color: #212121;
            font-family: Nunito Sans, 'Source Sans Pro';
            flex-shrink: 0;
            height: 100%;
            justify-content: center;
            font-weight: 400;
            line-height: 1.2999999183;
            background-color: #ffffff;
            width: 2.4rem;
            display: flex;
            font-size: 1.4rem;
            margin-right: 1.3167rem;
            align-items: center;
            white-space: nowrap;
          }
          .day-gkD {
            font-family: Nunito Sans, 'Source Sans Pro';
            margin-right: 1.3167rem;
            height: 100%;
            font-size: 1.4rem;
            line-height: 1.2999999183;
            display: flex;
            font-weight: 400;
            background-color: #ffffff;
            flex-shrink: 0;
            width: 2.4rem;
            justify-content: center;
            color: #212121;
            align-items: center;
            white-space: nowrap;
          }
          .day-Bgy {
            align-items: center;
            color: #212121;
            font-family: Nunito Sans, 'Source Sans Pro';
            flex-shrink: 0;
            display: flex;
            height: 100%;
            font-size: 1.4rem;
            line-height: 1.2999999183;
            margin-right: 1.3167rem;
            justify-content: center;
            background-color: #ffffff;
            width: 2.4rem;
            white-space: nowrap;
            font-weight: 400;
          }
          .day-gdj {
            font-weight: 400;
            line-height: 1.2999999183;
            color: #212121;
            margin-right: 1.3167rem;
            display: flex;
            align-items: center;
            font-size: 1.4rem;
            width: 2.4rem;
            height: 100%;
            justify-content: center;
            font-family: Nunito Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            background-color: #ffffff;
          }
          .day-oiM {
            font-family: Nunito Sans, 'Source Sans Pro';
            background-color: #ffffff;
            align-items: center;
            font-size: 1.4rem;
            font-weight: 400;
            color: #212121;
            margin-right: 1.3167rem;
            line-height: 1.2999999183;
            display: flex;
            justify-content: center;
            flex-shrink: 0;
            width: 2.4rem;
            height: 100%;
            white-space: nowrap;
          }
          .day-bPK {
            display: flex;
            align-items: center;
            font-size: 1.4rem;
            color: #212121;
            font-family: Nunito Sans, 'Source Sans Pro';
            white-space: nowrap;
            width: 2.4rem;
            height: 100%;
            justify-content: center;
            font-weight: 400;
            line-height: 1.2999999183;
            background-color: #ffffff;
            flex-shrink: 0;
          }
        }
        .frame-1083-H1F {
          width: 100%;
          height: 2.4rem;
          display: flex;
          align-items: center;
          background-color: #ffffff;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-right: 0.75rem;

          .day-D9o {
            font-family: Nunito Sans, 'Source Sans Pro';
            background-color: #ffffff;
            height: 100%;
            align-items: center;
            color: #212121;
            flex-shrink: 0;
            margin-right: 1.3167rem;
            font-weight: 400;
            line-height: 1.2999999183;
            white-space: nowrap;
            width: 2.4rem;
            display: flex;
            justify-content: center;
            font-size: 1.4rem;
          }
          .day-8Gm {
            align-items: center;
            font-weight: 400;
            font-family: Nunito Sans, 'Source Sans Pro';
            color: #212121;
            background-color: #ffffff;
            margin-right: 1.3167rem;
            width: 2.4rem;
            display: flex;
            font-size: 1.4rem;
            height: 100%;
            white-space: nowrap;
            justify-content: center;
            line-height: 1.2999999183;
            flex-shrink: 0;
          }
          .day-bRF {
            font-size: 1.4rem;
            display: flex;
            height: 100%;
            align-items: center;
            line-height: 1.2999999183;
            margin-right: 1.3167rem;
            color: #212121;
            font-family: Nunito Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            justify-content: center;
            font-weight: 400;
            background-color: #ffffff;
            width: 2.4rem;
          }
          .day-Ez1 {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.2999999183;
            font-family: Nunito Sans, 'Source Sans Pro';
            margin-right: 1.3167rem;
            width: 2.4rem;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
            background-color: #ffffff;
            flex-shrink: 0;
            height: 100%;
            display: flex;
            color: #212121;
          }
          .day-xv1 {
            align-items: center;
            font-weight: 400;
            line-height: 1.2999999183;
            white-space: nowrap;
            width: 2.4rem;
            justify-content: center;
            font-size: 1.4rem;
            flex-shrink: 0;
            height: 100%;
            color: #212121;
            background-color: #ffffff;
            margin-right: 1.3167rem;
            display: flex;
            font-family: Nunito Sans, 'Source Sans Pro';
          }
          .day-HSV {
            justify-content: center;
            line-height: 1.2999999183;
            background-color: #ffffff;
            width: 2.4rem;
            color: #212121;
            font-family: Nunito Sans, 'Source Sans Pro';
            height: 100%;
            font-weight: 400;
            white-space: nowrap;
            font-size: 1.4rem;
            flex-shrink: 0;
            margin-right: 2.0667rem;
            display: flex;
            align-items: center;
          }
          .item-01-PEd {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.2999999183;
            flex-shrink: 0;
            justify-content: center;
            align-items: center;
            color: #d9d9d9;
            font-family: Nunito Sans, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
          }
        }
      }
    }
  }
  .auto-group-y9mm-GJR {
    flex-shrink: 0;
    margin: 0rem 2.2rem 21.4rem 0rem;
    width: 5.7rem;
    align-items: center;
    display: flex;
    flex-direction: column;

    .today-a4D {
      font-size: 1.6rem;
      line-height: 1.5;
      white-space: nowrap;
      text-transform: uppercase;
      color: #9b1212;
      font-family: Montserrat, 'Source Sans Pro';
      flex-shrink: 0;
      margin-bottom: 1.5rem;
      display: flex;
      font-weight: 400;
    }
    .day-4k5 {
      background-color: #d9d9d9;
      height: 2.4rem;
      font-weight: 400;
      font-family: Nunito Sans, 'Source Sans Pro';
      white-space: nowrap;
      border-radius: 0.2rem;
      margin: 0rem 1.6rem 0rem 1.7rem;
      justify-content: center;
      font-size: 1.4rem;
      color: #212121;
      flex-shrink: 0;
      width: calc(100% - 3.3rem);
      display: flex;
      align-items: center;
      line-height: 1.2999999183;
    }
  }
  .auto-group-irmz-XNm {
    margin: 0rem 3.6rem 21.4rem 0rem;
    width: 7.7rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .default-dwb {
      margin-bottom: 1.3rem;
      text-transform: uppercase;
      font-family: Montserrat, 'Source Sans Pro';
      color: #9b1212;
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
    }
    .day-NeH {
      align-items: center;
      justify-content: center;
      white-space: nowrap;
      margin: 0rem 2.7rem 0rem 2.6rem;
      height: 2.4rem;
      font-weight: 400;
      color: #212121;
      font-family: Nunito Sans, 'Source Sans Pro';
      width: calc(100% - 5.3rem);
      display: flex;
      font-size: 1.4rem;
      line-height: 1.2999999183;
      background-color: #ffffff;
      flex-shrink: 0;
    }
  }
  .auto-group-kahz-Fi5 {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0rem 4.5rem 21.5rem 0rem;
    width: 5.8rem;

    .active-CNR {
      margin-bottom: 1.4rem;
      font-weight: 400;
      line-height: 1.5;
      color: #9b1212;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      font-size: 1.6rem;
      text-transform: uppercase;
      flex-shrink: 0;
    }
    .day-wL1 {
      white-space: nowrap;
      height: 2.4rem;
      line-height: 1.2999999183;
      font-family: Nunito Sans, 'Source Sans Pro';
      justify-content: center;
      font-size: 1.4rem;
      color: #ffffff;
      width: calc(100% - 3.4rem);
      background-color: #99b7f0;
      font-weight: 400;
      border-radius: 0.2rem;
      flex-shrink: 0;
      margin: 0 1.7rem;
      display: flex;
      align-items: center;
    }
  }
  .auto-group-bw5r-CWq {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 21.55rem;

    .inactive-Z6V {
      margin-bottom: 1.65rem;
      display: flex;
      text-transform: uppercase;
      flex-shrink: 0;
      white-space: nowrap;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
      color: #9b1212;
      font-family: Montserrat, 'Source Sans Pro';
    }
    .item-01-Vkq {
      display: flex;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.2999999183;
      white-space: nowrap;
      flex-shrink: 0;
      margin-left: 0.2rem;
      align-items: center;
      justify-content: center;
      color: #d9d9d9;
      font-family: Nunito Sans, 'Source Sans Pro';
    }
  }
}
