
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 118.9rem;
}.typography-7Pj {
  width: 100%;
  height: 106.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .typography-3oB {
    height: 4.4rem;
    left: 4rem;
    font-weight: 700;
    line-height: 1.2175;
    font-family: Montserrat, 'Source Sans Pro';
    width: 29.6rem;
    position: absolute;
    top: 3.1rem;
    font-size: 3.6rem;
    text-transform: uppercase;
    color: #424f65;
    white-space: nowrap;
  }
  .auto-group-mwdd-9rD {
    left: 4.4rem;
    top: 9.7rem;
    box-sizing: border-box;
    width: 68.4rem;
    position: absolute;
    background-color: #fff5f5;
    border-radius: 1rem;
    padding: 2.9rem 2.5rem 3.3rem 2.5rem;
    height: 15.1rem;

    .font-3gh {
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.2175;
      text-transform: uppercase;
      color: #7b7171;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 2rem;
    }
    .nunito-sans-Zf3 {
      white-space: nowrap;
      font-size: 3.6rem;
      font-weight: 400;
      line-height: 1.2125;
      text-transform: uppercase;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .auto-group-8d5m-gUm {
    align-items: center;
    width: 70.3rem;
    height: 3rem;
    position: absolute;
    left: 5.4rem;
    top: 28.3rem;
    display: flex;

    .headings-pL5 {
      font-weight: 600;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      margin-right: 50.9rem;
      font-size: 2.4rem;
      text-transform: uppercase;
      color: #830202;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .body-6YV {
      text-transform: uppercase;
      color: #830202;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2.4rem;
      font-weight: 600;
      line-height: 1.2125;
    }
  }
  .auto-group-vp1m-Eeh {
    height: 8.9rem;
    position: absolute;
    left: 5.4rem;
    top: 45.3rem;
    display: flex;
    align-items: flex-end;
    width: 73.5rem;

    .auto-group-uh2t-med {
      position: relative;
      flex-shrink: 0;
      margin: 0rem 37.2rem 1.5rem 0rem;
      width: 26.3rem;
      height: 7.4rem;

      .heading-2-UJ9 {
        white-space: nowrap;
        height: 5.9rem;
        top: 0;
        font-size: 4.8rem;
        line-height: 1.2125;
        text-transform: uppercase;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        width: 26.3rem;
        position: absolute;
        left: 0;
        font-weight: 700;
      }
      .bold-48-9fB {
        width: 6.2rem;
        height: 2rem;
        left: 0;
        line-height: 1.2125;
        color: #626262;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        top: 5.4rem;
        font-size: 1.6rem;
        font-weight: 300;
      }
    }
    .auto-group-ntgx-sbB {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .button-dKT {
        white-space: nowrap;
        margin-bottom: 1.2rem;
        font-size: 2.4rem;
        font-weight: 600;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        line-height: 1.2125;
        text-transform: uppercase;
        color: #830202;
      }
      .large-vZT {
        margin-left: 0.1rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-htuz-G7X {
    width: 71.7rem;
    height: 4.6rem;
    position: absolute;
    left: 5.4rem;
    top: 70rem;
    display: flex;
    align-items: flex-end;

    .auto-group-ids9-Pxq {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 53.6rem 0.1rem 0rem;

      .heading-5-ikD {
        text-transform: uppercase;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 0.3rem;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
        white-space: nowrap;
      }
      .bold-16-rbX {
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 1.2125;
        color: #626262;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .fields-Q7F {
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2.4rem;
      font-weight: 600;
      line-height: 1.2125;
      text-transform: uppercase;
      color: #830202;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .auto-group-rthh-wss {
    width: 71.7rem;
    height: 10.5rem;
    position: absolute;
    left: 5.4rem;
    top: 33.3rem;
    display: flex;
    align-items: center;

    .auto-group-wycw-TrD {
      width: 29.9rem;
      height: calc(100% - 2rem);
      position: relative;
      flex-shrink: 0;
      margin: 0.9rem 33.6rem 1.1rem 0rem;

      .heading-1-aR3 {
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
        width: 29.9rem;
        position: absolute;
        top: 0;
        font-size: 5.6rem;
        text-transform: uppercase;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        height: 6.8rem;
        left: 0;
      }
      .bold-56-V2D {
        width: 6.2rem;
        top: 6.5rem;
        font-size: 1.6rem;
        line-height: 1.2125;
        height: 2rem;
        position: absolute;
        left: 0;
        font-weight: 300;
        color: #626262;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .auto-group-fvp5-b5F {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .body-1-LoX {
        flex-shrink: 0;
        margin-bottom: 0.3rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .regular-18-sYZ {
        font-weight: 300;
        line-height: 1.2125;
        color: #626262;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 1.5rem;
        font-size: 1.6rem;
      }
      .body-2-pCu {
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.5rem;
        font-size: 1.6rem;
        font-weight: 400;
      }
      .regular-16-wYR {
        font-weight: 300;
        line-height: 1.2125;
        color: #626262;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
      }
    }
  }
  .auto-group-w9v3-gku {
    display: flex;
    align-items: center;
    width: 71.9rem;
    height: 8rem;
    position: absolute;
    left: 5.4rem;
    top: 54.2rem;

    .auto-group-pf7h-EGd {
      flex-shrink: 0;
      margin: 1.1rem 45.8rem 1.6rem 0rem;
      width: 17.7rem;
      height: calc(100% - 2.7rem);
      position: relative;

      .heading-3-LqT {
        white-space: nowrap;
        width: 17.7rem;
        position: absolute;
        top: 0;
        text-transform: uppercase;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        height: 3.9rem;
        left: 0;
        font-size: 3.2rem;
        font-weight: 700;
      }
      .bold-32-ebF {
        font-size: 1.6rem;
        line-height: 1.2125;
        height: 2rem;
        top: 3.3rem;
        left: 0;
        font-weight: 300;
        color: #626262;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 6.2rem;
        position: absolute;
      }
    }
    .auto-group-xcod-ZCR {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      height: 100%;

      .regular-20-Vbs {
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 1.8rem;
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 1.2125;
        color: #626262;
        font-family: Inter, 'Source Sans Pro';
      }
      .medium-cAh {
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-left: 0.1rem;
        font-size: 1.8rem;
      }
      .regular-18-8eq {
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 1.2125;
        color: #626262;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-fh95-Uih {
    width: 71.7rem;
    height: 4.7rem;
    position: absolute;
    left: 5.4rem;
    top: 63.2rem;
    display: flex;
    align-items: flex-end;

    .auto-group-u1ky-1yX {
      margin: 0rem 50.2rem 0.3rem 0rem;
      width: 13.3rem;
      height: 4.4rem;
      position: relative;
      flex-shrink: 0;

      .heading-4-jPj {
        color: #000000;
        width: 13.3rem;
        position: absolute;
        left: 0;
        top: 0;
        font-size: 2.4rem;
        line-height: 1.2125;
        text-transform: uppercase;
        height: 3rem;
        font-weight: 700;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .bold-24-qhf {
        height: 2rem;
        font-size: 1.6rem;
        color: #626262;
        font-family: Inter, 'Source Sans Pro';
        width: 6.2rem;
        left: 0;
        top: 2.4rem;
        font-weight: 300;
        line-height: 1.2125;
        white-space: nowrap;
        position: absolute;
      }
    }
    .auto-group-vma3-Yry {
      height: 3.7rem;
      position: relative;
      flex-shrink: 0;
      width: 8.2rem;

      .small-67o {
        position: absolute;
        top: 0;
        white-space: nowrap;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        width: 4.1rem;
        height: 2rem;
        left: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
      }
      .regular-16-2GM {
        width: 8.2rem;
        font-size: 1.6rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        height: 2rem;
        position: absolute;
        left: 0;
        top: 1.7rem;
        font-weight: 300;
        color: #626262;
      }
    }
  }
  .placeholders-9Ly {
    position: absolute;
    left: 68.9rem;
    font-weight: 400;
    line-height: 1.2125;
    width: 9.8rem;
    height: 2rem;
    top: 76.6rem;
    font-size: 1.6rem;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }
  .regular-16-pCD {
    position: absolute;
    top: 79.1rem;
    font-size: 1.6rem;
    font-weight: 300;
    color: #626262;
    width: 8.2rem;
    height: 2rem;
    left: 69rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }
}
