
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 143rem;
}.cd-phn-nh-sn5 {
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #e8d6d4;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;

  .frame-drawer-Db3 {
    height: 102.4rem;
    flex-direction: column;
    background-color: #9b1212;
    flex-shrink: 0;
    width: 34.6rem;
    align-items: center;
    display: flex;
    border: solid 0.1rem #000000;
    box-sizing: border-box;

    .logo-m6m {
      width: 100%;
      height: 12.7rem;
      overflow: hidden;
      position: relative;
      border: solid 0.1rem #e8d6d4;
      box-sizing: border-box;
      flex-shrink: 0;
    }
    .auto-group-l3jm-WKF {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 2.6rem 0rem 1rem 0rem;
      width: 100%;
      display: flex;
      flex-direction: column;

      .navigate-Sih {
        width: 34.5rem;
        overflow: hidden;
        position: relative;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 38.6rem;

        .trang-ch--yid {
          box-sizing: border-box;
          padding: 2.55rem 5.6rem 2.55rem 3rem;
          width: 100%;
          cursor: pointer;
          display: flex;
          align-items: center;
          background-color: #9b1212;
          flex-shrink: 0;

          .icon-home-iRK {
            flex-shrink: 0;
            margin: 0rem 3.6rem 0rem 0rem;
            width: 4rem;
            height: 3.5505rem;
            object-fit: contain;
            vertical-align: top;
          }
          .trang-ch-S6R {
            display: flex;
            justify-content: center;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            align-items: center;
            font-size: 3.6rem;
            line-height: 1.2125;
            color: #e8d6d4;
          }
        }
        .cn-h-8jw {
          background-color: #9b1212;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.55rem 8.6rem 2.55rem 3rem;
          width: 100%;
          cursor: pointer;
          display: flex;
          align-items: center;

          .icon-user-circle-alt-G5T {
            flex-shrink: 0;
            margin: 0rem 6.6rem 0rem 0rem;
            width: 4rem;
            height: 4rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
          }
          .cn-h-z1T {
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            justify-content: center;
            font-weight: 400;
            line-height: 1.2125;
            align-items: center;
            font-size: 3.6rem;
            flex-shrink: 0;
          }
        }
        .ha-n-WEh {
          align-items: center;
          background-color: #9b1212;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.55rem 7.5rem 2.55rem 3rem;
          width: 100%;
          cursor: pointer;
          display: flex;

          .icon-wallet-3VX {
            width: 4rem;
            height: 3.644rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 5.5rem 0rem 0rem;
          }
          .ha-n-Mm7 {
            align-items: center;
            line-height: 1.2125;
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            font-size: 3.6rem;
            font-weight: 400;
          }
        }
        .phn-nh-Uqj {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.55rem 6.7rem 2.55rem 3rem;
          width: 100%;
          display: flex;
          align-items: center;
          background-color: #9b1212;

          .icon-message-text-DYR {
            margin: 0rem 4.7rem 0rem 0rem;
            width: 4rem;
            height: 3.9757rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .phn-nh-wUR {
            font-weight: 400;
            line-height: 1.2125;
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
            display: flex;
            align-items: center;
            font-size: 3.6rem;
            justify-content: center;
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .phn-nh-s7B {
        background-color: #9b1212;
        margin-right: 0.1rem;
        box-sizing: border-box;
        cursor: pointer;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        padding: 2.55rem 5.9rem 2.55rem 3.474rem;
        width: calc(100% - 0.1rem);

        .power-Bdf {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 4.376rem 0rem 0rem;
          width: 2.85rem;
          height: 3.0838rem;
          position: relative;
          object-fit: contain;
        }
        .phn-nh-71X {
          align-items: center;
          justify-content: center;
          font-size: 3.6rem;
          color: #e8d6d4;
          flex-shrink: 0;
          display: flex;
          font-weight: 400;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
  }
  .frame-3879-PDw {
    flex-direction: column;
    flex-shrink: 0;
    width: 108.4rem;
    height: 102.4rem;
    align-items: center;
    display: flex;

    .frame-header-Xb3 {
      padding: 1.45rem 1rem;
      height: 12.9rem;
      display: flex;
      align-items: center;
      border: solid 0.1rem #e8d6d4;
      background-color: #9b1212;
      box-sizing: border-box;
      width: 100%;
      flex-shrink: 0;

      .phn-nh-fhF {
        margin: 0.1rem 40.4rem 0rem 0rem;
        font-size: 4.8rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #e8d6d4;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .group-user-info-nWy {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-g6hs-wem {
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 2.1rem 1.2rem 1.5rem 0rem;
          height: calc(100% - 3.6rem);

          .name-and-first-name-sHX {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.4rem;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
          }
          .id-number-or-worker-number-yrM {
            line-height: 1.2125;
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.4rem;
            font-weight: 400;
          }
        }
        .user-avatar-7Sm {
          width: 10rem;
          border: solid 0.1rem #e8d6d4;
          background-image: url('REPLACE_IMAGE:1f67d89b783cd6587922468ff6362d9f0aaf029c');
          flex-shrink: 0;
          height: 10rem;
          box-sizing: border-box;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
          border-radius: 5rem;
        }
      }
    }
    .auto-group-mwvx-Pv5 {
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 3.5rem 0.692rem 1.5rem 1.5rem;

      .auto-group-wen9-L4d {
        margin: 0rem 0rem 43.6rem 1.5rem;
        width: 104.708rem;
        height: 34.5rem;
        position: relative;
        flex-shrink: 0;

        .frame-3952-s4Z {
          height: 10rem;
          position: absolute;
          left: 0;
          top: 0;
          display: flex;
          align-items: flex-start;
          width: 104.708rem;

          .frame-search-Ccd {
            margin-right: 2rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .thi-gian-MkR {
              margin-right: 2rem;
              width: 35.0687rem;
              height: 100%;
              background-color: #ffffff;
              flex-shrink: 0;

              .auto-group-y8cd-hpH {
                width: 100%;
                height: 4.4rem;
                position: relative;

                .label-text-rx5 {
                  position: absolute;
                  left: 0;
                  font-weight: 700;
                  line-height: 1;
                  font-family: Quicksand, 'Source Sans Pro';
                  width: 9.1rem;
                  top: 0;
                  font-size: 2rem;
                  color: #040f0f;
                  white-space: nowrap;
                  height: 2rem;
                }
                .input-field-n53 {
                  height: 4.4rem;
                  position: absolute;
                  left: 0;
                  align-items: center;
                  border: solid 0.2rem #000000;
                  box-sizing: border-box;
                  padding: 1.2rem 1.8rem 1.2rem 1.2rem;
                  width: 35.0687rem;
                  top: 0;
                  display: flex;
                  border-radius: 0.8rem;

                  .lead-icon-text-J3P {
                    align-items: center;
                    flex-shrink: 0;
                    margin-right: 4.2687rem;
                    box-sizing: border-box;
                    padding-left: 0.1875rem;
                    height: 100%;
                    display: flex;

                    .icon-outline-layer-S9b {
                      vertical-align: top;
                      flex-shrink: 0;
                      margin-right: 1.3875rem;
                      width: 1.625rem;
                      height: 1.625rem;
                      object-fit: contain;
                    }
                    .insert-text-here-ArH {
                      font-weight: 400;
                      line-height: 0.8333333333;
                      color: #040f0f;
                      font-family: Poppins, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      font-size: 2.4rem;
                    }
                  }
                  .icon-fill-caret-small-down-gpd {
                    width: 0.8rem;
                    height: 0.4rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                }
              }
            }
            .tiu--C2H {
              flex-shrink: 0;
              width: 61.2393rem;
              height: 100%;

              .auto-group-wyrt-Ybw {
                position: relative;
                width: 100%;
                height: 4.4rem;

                .label-text-uBb {
                  width: 8rem;
                  height: 2rem;
                  font-weight: 700;
                  color: #040f0f;
                  position: absolute;
                  left: 0;
                  top: 0;
                  font-size: 2rem;
                  line-height: 1;
                  font-family: Quicksand, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .input-field-2GD {
                  box-sizing: border-box;
                  width: 61.2393rem;
                  position: absolute;
                  align-items: center;
                  border: solid 0.2rem #000000;
                  background-color: #ffffff;
                  border-radius: 0.8rem;
                  padding: 1.2rem 1.8rem 1.2rem 1.2rem;
                  height: 4.4rem;
                  left: 0;
                  top: 0;
                  display: flex;

                  .lead-icon-text-YVT {
                    margin-right: 42.7394rem;
                    box-sizing: border-box;
                    padding-left: 0.1875rem;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    flex-shrink: 0;

                    .icon-outline-layer-61B {
                      object-fit: contain;
                      vertical-align: top;
                      flex-shrink: 0;
                      margin-right: 1.3875rem;
                      width: 1.625rem;
                      height: 1.625rem;
                    }
                    .insert-text-here-E7P {
                      flex-shrink: 0;
                      font-size: 2.4rem;
                      font-weight: 400;
                      line-height: 0.8333333333;
                      color: #040f0f;
                      font-family: Poppins, 'Source Sans Pro';
                      white-space: nowrap;
                    }
                  }
                  .icon-fill-caret-small-down-xp5 {
                    width: 0.8rem;
                    height: 0.4rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                }
              }
            }
          }
          .frame-3963-Gpm {
            width: 4.4rem;
            height: 4.4rem;
            object-fit: contain;
            vertical-align: top;
            border-radius: 1rem;
            flex-shrink: 0;
          }
        }
        .frame-3839-cNq {
          height: 25.1rem;
          position: absolute;
          left: 0;
          top: 9.4rem;
          display: flex;
          width: 102.4rem;
          row-gap: 1rem;
          align-items: center;
          flex-direction: column;

          .header-vuK {
            padding: 1rem 8.267rem 0.9rem 1.65rem;
            width: 100%;
            align-items: center;
            background-color: #904a43;
            box-sizing: border-box;
            display: flex;
            border: solid 0.1rem #808080;
            flex-shrink: 0;
            height: 6.3rem;

            .auto-group-xkkj-4Eq {
              margin-right: 26.5333rem;
              width: 18.5667rem;
              height: 100%;
              position: relative;
              flex-shrink: 0;

              .c1-z8V {
                font-size: 3.6rem;
                font-weight: 400;
                font-family: Inter, 'Source Sans Pro';
                width: 17.6rem;
                position: absolute;
                left: 0;
                top: 0;
                line-height: 1.2125;
                color: #aeaeae;
                white-space: nowrap;
                height: 4.4rem;
              }
              .c2-Vqw {
                height: 4.4rem;
                font-size: 3.6rem;
                font-weight: 400;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                width: 6.3rem;
                position: absolute;
                left: 12.2667rem;
                top: 0;
                line-height: 1.2125;
              }
            }
            .c3-bty {
              margin-right: 20.0834rem;
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .c4-9Qh {
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .header-qoK {
            align-items: center;
            border: solid 0.1rem #808080;
            padding: 0.5rem 0.2rem 0.5rem 1.65rem;
            height: 8.4rem;
            cursor: pointer;
            overflow: hidden;
            position: relative;
            display: flex;
            border-radius: 0.3rem;
            flex-shrink: 0;
            box-sizing: border-box;
            width: 100%;

            .auto-group-gzrs-Mmf {
              height: 4.9rem;
              position: relative;
              flex-shrink: 0;
              margin: 0rem 15.35rem 1.5rem 0rem;
              width: 24.6rem;

              .c1-tWh {
                font-family: Inter, 'Source Sans Pro';
                width: 24.6rem;
                top: 0;
                font-size: 3.6rem;
                font-weight: 400;
                line-height: 1.2125;
                height: 4.4rem;
                position: absolute;
                left: 0;
                color: #000000;
                white-space: nowrap;
              }
              .c2-1rD {
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
                width: 15.9rem;
                height: 4.4rem;
                position: absolute;
                left: 7.65rem;
                top: 0.5rem;
                font-family: Inter, 'Source Sans Pro';
                font-size: 3.6rem;
                white-space: nowrap;
              }
            }
            .c3-vTP {
              margin: 0rem 7.4rem 1rem 0rem;
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .frame-3838-FkZ {
              align-items: center;
              justify-content: center;
              background-color: #ffac5a;
              margin-bottom: 1rem;
              font-weight: 400;
              color: #000000;
              display: flex;
              height: 6.4rem;
              font-size: 3.6rem;
              border: solid 0.1rem #c9c9c9;
              line-height: 1.2125;
              white-space: nowrap;
              box-sizing: border-box;
              width: 34rem;
              font-family: Inter, 'Source Sans Pro';
              border-radius: 2rem;
              flex-shrink: 0;
            }
          }
          .header-WgV {
            box-sizing: border-box;
            width: 100%;
            overflow: hidden;
            display: flex;
            align-items: center;
            border: solid 0.1rem #808080;
            padding: 0.5rem 0.2rem 0.5rem 1.65rem;
            height: 8.4rem;
            position: relative;
            border-radius: 0.3rem;
            flex-shrink: 0;

            .auto-group-jtkt-eGu {
              margin: 0rem 16.4rem 1.5rem 0rem;
              width: 24.6rem;
              height: 4.9rem;
              position: relative;
              flex-shrink: 0;

              .c1-msK {
                height: 4.4rem;
                position: absolute;
                left: 0;
                top: 0;
                line-height: 1.2125;
                color: #000000;
                white-space: nowrap;
                width: 24.6rem;
                font-size: 3.6rem;
                font-weight: 400;
                font-family: Inter, 'Source Sans Pro';
              }
              .c2-W4D {
                color: #000000;
                white-space: nowrap;
                height: 4.4rem;
                position: absolute;
                left: 9rem;
                top: 0.5rem;
                font-family: Inter, 'Source Sans Pro';
                width: 13.6rem;
                font-size: 3.6rem;
                font-weight: 400;
                line-height: 1.2125;
              }
            }
            .c3-22Z {
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 8.45rem 1rem 0rem;
            }
            .frame-3838-kjF {
              font-weight: 400;
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              align-items: center;
              box-sizing: border-box;
              font-size: 3.6rem;
              color: #000000;
              display: flex;
              background-color: #bfd3c1;
              border-radius: 2rem;
              flex-shrink: 0;
              margin-bottom: 1rem;
              width: 34rem;
              height: 6.4rem;
              justify-content: center;
              border: solid 0.1rem #c9c9c9;
            }
          }
        }
      }
      .button-QYu {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-right: 0.908rem;
        width: calc(100% - 0.908rem);
        height: 6.4rem;
        overflow: hidden;
        position: relative;

        .frame-turn-back-button-LhT {
          box-sizing: border-box;
          padding: 1rem 0.8rem 1rem 2.433rem;
          height: 100%;
          cursor: pointer;
          align-items: center;
          background-color: #ffffff;
          flex-shrink: 0;
          margin-right: 59.95rem;
          display: flex;
          border: solid 0.1rem #775652;
          border-radius: 2rem;

          .corner-down-left-fUq {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1.333rem 0rem 0rem;
            width: 1.3333rem;
            height: 1.3333rem;
            position: relative;
            object-fit: contain;
          }
          .quay-li-npM {
            line-height: 1.2125;
            color: #775652;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 3.6rem;
            font-weight: 400;
          }
        }
        .frame-3852-Vyf {
          font-size: 3.6rem;
          white-space: nowrap;
          align-items: center;
          border: solid 0.1rem #775652;
          box-sizing: border-box;
          border-radius: 2rem;
          width: 25.65rem;
          cursor: pointer;
          display: flex;
          background-color: #775652;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          height: 100%;
          font-weight: 400;
          justify-content: center;
          flex-shrink: 0;
        }
      }
    }
  }
}
