
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.chi-tit-phn-nh-oFK {
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #e8d6d4;
  width: 100%;
  overflow: hidden;

  .frame-drawer-8YV {
    width: 34.6rem;
    border: solid 0.1rem #000000;
    background-color: #9b1212;
    height: 102.4rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex-shrink: 0;

    .logo-foK {
      overflow: hidden;
      position: relative;
      border: solid 0.1rem #e8d6d4;
      box-sizing: border-box;
      flex-shrink: 0;
      width: 100%;
      height: 12.7rem;
    }
    .auto-group-jgmt-CoF {
      box-sizing: border-box;
      padding: 2.6rem 0rem 1rem 0rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .navigate-L8m {
        position: relative;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 38.6rem;
        width: 34.5rem;
        overflow: hidden;

        .trang-ch--56M {
          box-sizing: border-box;
          padding: 2.55rem 5.6rem 2.55rem 3rem;
          width: 100%;
          cursor: pointer;
          display: flex;
          align-items: center;
          background-color: #9b1212;
          flex-shrink: 0;

          .icon-home-Cgm {
            height: 3.5505rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 3.6rem 0rem 0rem;
            width: 4rem;
          }
          .trang-ch-KFb {
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            font-size: 3.6rem;
            line-height: 1.2125;
            align-items: center;
            font-weight: 400;
            color: #e8d6d4;
            white-space: nowrap;
          }
        }
        .cn-h-Dbs {
          background-color: #9b1212;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.55rem 8.6rem 2.55rem 3rem;
          width: 100%;
          cursor: pointer;
          display: flex;
          align-items: center;

          .icon-user-circle-alt-MTB {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 6.6rem 0rem 0rem;
            width: 4rem;
            height: 4rem;
            position: relative;
            object-fit: contain;
          }
          .cn-h-UXo {
            font-size: 3.6rem;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 400;
            color: #e8d6d4;
            white-space: nowrap;
          }
        }
        .ha-n-CTo {
          box-sizing: border-box;
          padding: 2.55rem 7.5rem 2.55rem 3rem;
          width: 100%;
          cursor: pointer;
          display: flex;
          align-items: center;
          background-color: #9b1212;
          flex-shrink: 0;

          .icon-wallet-Xky {
            width: 4rem;
            height: 3.644rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 5.5rem 0rem 0rem;
          }
          .ha-n-3jK {
            line-height: 1.2125;
            font-size: 3.6rem;
            align-items: center;
            justify-content: center;
            font-weight: 400;
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
          }
        }
        .phn-nh-ZxZ {
          background-color: #9b1212;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.55rem 6.7rem 2.55rem 3rem;
          width: 100%;
          cursor: pointer;
          display: flex;
          align-items: center;

          .icon-message-text-7DP {
            flex-shrink: 0;
            margin: 0rem 4.7rem 0rem 0rem;
            width: 4rem;
            height: 3.9757rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
          }
          .phn-nh-373 {
            color: #e8d6d4;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3.6rem;
            font-weight: 400;
            flex-shrink: 0;
          }
        }
      }
      .phn-nh-xE1 {
        padding: 2.55rem 5.9rem 2.55rem 3.474rem;
        display: flex;
        background-color: #9b1212;
        flex-shrink: 0;
        margin-right: 0.1rem;
        box-sizing: border-box;
        width: calc(100% - 0.1rem);
        cursor: pointer;
        align-items: center;

        .power-fPK {
          flex-shrink: 0;
          margin: 0rem 4.376rem 0rem 0rem;
          width: 2.85rem;
          height: 3.0838rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
        }
        .phn-nh-zRb {
          color: #e8d6d4;
          font-family: Inter, 'Source Sans Pro';
          display: flex;
          font-size: 3.6rem;
          font-weight: 400;
          line-height: 1.2125;
          white-space: nowrap;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  .frame-3984-6Dj {
    width: 109.4rem;
    height: 102.4rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding-bottom: 1.5rem;

    .frame-header-E53 {
      height: 12.9rem;
      align-items: center;
      border: solid 0.1rem #e8d6d4;
      background-color: #9b1212;
      flex-shrink: 0;
      margin-bottom: 2rem;
      box-sizing: border-box;
      padding: 1.4rem 1rem 1.5rem 1rem;
      width: 100%;
      display: flex;

      .phn-nh-9ho {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 41.4rem 4.1rem 0rem;
        font-size: 4.8rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #e8d6d4;
      }
      .group-user-info-fw3 {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-nhpq-dcy {
          flex-direction: column;
          flex-shrink: 0;
          margin: 2.1rem 1.2rem 1.5rem 0rem;
          height: calc(100% - 3.6rem);
          align-items: flex-end;
          display: flex;

          .name-and-first-name-kxV {
            flex-shrink: 0;
            margin-bottom: 0.4rem;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .id-number-or-worker-number-V9P {
            line-height: 1.2125;
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.4rem;
            font-weight: 400;
          }
        }
        .user-avatar-CZb {
          width: 10rem;
          height: 10rem;
          border: solid 0.1rem #e8d6d4;
          box-sizing: border-box;
          background-position: center;
          background-image: url('REPLACE_IMAGE:1f67d89b783cd6587922468ff6362d9f0aaf029c');
          background-size: 100% 100%;
          background-repeat: no-repeat;
          border-radius: 5rem;
          flex-shrink: 0;
        }
      }
    }
    .frame-3894-gzZ {
      margin-bottom: 3.5rem;
      padding: 1.5rem 0rem 0rem 1.5rem;
      overflow: hidden;
      display: flex;
      align-items: flex-start;
      box-sizing: border-box;
      width: 100%;
      height: 76.1rem;
      position: relative;
      flex-shrink: 0;

      .ngi-gi-s-h-s-in-thoi-v-tr-loi-ni-dung-trng-thi-oZP {
        line-height: 1.2;
        color: #000000;
        font-family: Lato, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 3.1rem;
        max-width: 17rem;
        font-size: 2.8rem;
        font-weight: 700;
      }
      .trng-vn-nam-p101-0986543211-p201-vn-thc-c-dn-trong-vi-ngy-gn-y-ti-nhn-thy-ting-n-ln-pht-ra-t-phng-201-pha-trn-iu-ny-nh-hng-n-gia-nh-ti-ti-c-gng-gii-quyt-vn-trc-tip-vi-ch-cn-h-201-nhng-tht-khng-may-ting-n-vn-tip-tcti-hiu-rng-vic-sng-trong-khu-chung-c-tm-trung-c-nhng-mt-hn-ch-nht-nh-v-khong-khng-gian-ring-gia-cc-c-dn-tuy-nhin-tnh-trng-ny-tip-din-trong-mt-khong-thi-gian-nn-ti-cm-thy-cn-phi-bo-co-vn-ny-cha-x-l-gNH {
        font-weight: 400;
        line-height: 1.2;
        color: #000000;
        font-family: Lato, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 3.6rem;
        max-width: 83.3rem;
        font-size: 2.8rem;

        .trng-vn-nam-p101-0986543211-p201-vn-thc-c-dn-trong-vi-ngy-gn-y-ti-nhn-thy-ting-n-ln-pht-ra-t-phng-201-pha-trn-iu-ny-nh-hng-n-gia-nh-ti-ti-c-gng-gii-quyt-vn-trc-tip-vi-ch-cn-h-201-nhng-tht-khng-may-ting-n-vn-tip-tcti-hiu-rng-vic-sng-trong-khu-chung-c-tm-trung-c-nhng-mt-hn-ch-nht-nh-v-khong-khng-gian-ring-gia-cc-c-dn-tuy-nhin-tnh-trng-ny-tip-din-trong-mt-khong-thi-gian-nn-ti-cm-thy-cn-phi-bo-co-vn-ny-cha-x-l-gNH-sub-0 {
        }
        .trng-vn-nam-p101-0986543211-p201-vn-thc-c-dn-trong-vi-ngy-gn-y-ti-nhn-thy-ting-n-ln-pht-ra-t-phng-201-pha-trn-iu-ny-nh-hng-n-gia-nh-ti-ti-c-gng-gii-quyt-vn-trc-tip-vi-ch-cn-h-201-nhng-tht-khng-may-ting-n-vn-tip-tcti-hiu-rng-vic-sng-trong-khu-chung-c-tm-trung-c-nhng-mt-hn-ch-nht-nh-v-khong-khng-gian-ring-gia-cc-c-dn-tuy-nhin-tnh-trng-ny-tip-din-trong-mt-khong-thi-gian-nn-ti-cm-thy-cn-phi-bo-co-vn-ny-cha-x-l-gNH-sub-1 {
          color: #000000;
          font-family: Lato, 'Source Sans Pro';
          font-size: 2.8rem;
          font-weight: 400;
          line-height: 1.2;
        }
        .trng-vn-nam-p101-0986543211-p201-vn-thc-c-dn-trong-vi-ngy-gn-y-ti-nhn-thy-ting-n-ln-pht-ra-t-phng-201-pha-trn-iu-ny-nh-hng-n-gia-nh-ti-ti-c-gng-gii-quyt-vn-trc-tip-vi-ch-cn-h-201-nhng-tht-khng-may-ting-n-vn-tip-tcti-hiu-rng-vic-sng-trong-khu-chung-c-tm-trung-c-nhng-mt-hn-ch-nht-nh-v-khong-khng-gian-ring-gia-cc-c-dn-tuy-nhin-tnh-trng-ny-tip-din-trong-mt-khong-thi-gian-nn-ti-cm-thy-cn-phi-bo-co-vn-ny-cha-x-l-gNH-sub-2 {
        }
      }
      .line-1-4hb {
        flex-shrink: 0;
        margin-right: 3rem;
        width: 104.2rem;
        height: 0.1rem;
        background-color: #2c1512;
      }
      .trng-thi-bxR {
        font-family: Lato, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1.2;
        color: #000000;
      }
    }
    .button-Lv1 {
      margin: 0rem 2.6rem 0rem 1.5rem;
      width: calc(100% - 4.1rem);
      height: 6.4rem;
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .frame-turn-back-button-s9F {
        background-color: #ffffff;
        padding: 1rem 0.8rem 1rem 2.433rem;
        display: flex;
        border: solid 0.1rem #775652;
        align-items: center;
        border-radius: 2rem;
        flex-shrink: 0;
        margin-right: 59.95rem;
        box-sizing: border-box;
        height: 100%;

        .corner-down-left-zDs {
          margin: 0rem 1.333rem 0rem 0rem;
          width: 1.3333rem;
          height: 1.3333rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .quay-li-ubj {
          color: #775652;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 3.6rem;
          font-weight: 400;
          line-height: 1.2125;
        }
      }
      .frame-3852-cm3 {
        height: 100%;
        color: #ffffff;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        background-color: #775652;
        border-radius: 2rem;
        width: 25.65rem;
        flex-shrink: 0;
        line-height: 1.2125;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 3.6rem;
        display: flex;
        border: solid 0.1rem #775652;
        cursor: pointer;
      }
    }
  }
}
