
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.chi-tit-dn-c-cCm {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  border: solid 0.1rem #000000;
  background-color: #e8d6d4;
  box-sizing: border-box;
  width: 100%;
  padding-right: 0.1rem;

  .frame-drawer-wVw {
    height: 102.4rem;
    align-items: center;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    width: 34.6rem;
    display: flex;
    flex-direction: column;
    background-color: #9b1212;
    flex-shrink: 0;

    .logo-giR {
      overflow: hidden;
      position: relative;
      flex-shrink: 0;
      width: 100%;
      height: 12.7rem;
    }
    .auto-group-ygym-Ezq {
      box-sizing: border-box;
      padding: 2.6rem 0rem 1rem 0rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .navigate-nFf {
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 38.6rem;
        width: 34.5rem;
        overflow: hidden;
        position: relative;
        align-items: center;
        display: flex;

        .trang-ch--L2H {
          align-items: center;
          background-color: #9b1212;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.55rem 5.6rem 2.55rem 3rem;
          width: 100%;
          cursor: pointer;
          display: flex;

          .icon-home-s2D {
            width: 4rem;
            height: 3.5505rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 3.6rem 0rem 0rem;
          }
          .trang-ch-nus {
            display: flex;
            font-family: Inter, 'Source Sans Pro';
            color: #e8d6d4;
            white-space: nowrap;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.2125;
          }
        }
        .cn-h-hG9 {
          padding: 2.55rem 8.6rem 2.55rem 3rem;
          width: 100%;
          display: flex;
          align-items: center;
          background-color: #9b1212;
          flex-shrink: 0;
          box-sizing: border-box;

          .icon-user-circle-alt-dQh {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 6.6rem 0rem 0rem;
            width: 4rem;
            height: 4rem;
            position: relative;
            object-fit: contain;
          }
          .cn-h-Z3T {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            align-items: center;
            font-size: 3.6rem;
            font-weight: 400;
            color: #e8d6d4;
            justify-content: center;
            line-height: 1.2125;
            flex-shrink: 0;
          }
        }
        .ha-n-URK {
          background-color: #9b1212;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.55rem 7.5rem 2.55rem 3rem;
          width: 100%;
          cursor: pointer;
          display: flex;
          align-items: center;

          .icon-wallet-D81 {
            height: 3.644rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 5.5rem 0rem 0rem;
            width: 4rem;
          }
          .ha-n-XPb {
            align-items: center;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            font-size: 3.6rem;
            line-height: 1.2125;
            color: #e8d6d4;
          }
        }
        .phn-nh-ej7 {
          background-color: #9b1212;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.55rem 6.7rem 2.55rem 3rem;
          width: 100%;
          cursor: pointer;
          display: flex;
          align-items: center;

          .icon-message-text-z2H {
            width: 4rem;
            height: 3.9757rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 4.7rem 0rem 0rem;
          }
          .phn-nh-WWR {
            justify-content: center;
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.2125;
          }
        }
      }
      .phn-nh-e6q {
        box-sizing: border-box;
        padding: 2.55rem 5.9rem 2.55rem 3.474rem;
        width: calc(100% - 0.1rem);
        cursor: pointer;
        align-items: center;
        flex-shrink: 0;
        margin-right: 0.1rem;
        background-color: #9b1212;
        display: flex;

        .power-ZDo {
          margin: 0rem 4.376rem 0rem 0rem;
          width: 2.85rem;
          height: 3.0838rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .phn-nh-gZK {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          justify-content: center;
          font-weight: 400;
          line-height: 1.2125;
          color: #e8d6d4;
          align-items: center;
          font-size: 3.6rem;
          flex-shrink: 0;
        }
      }
    }
  }
  .frame-header-and-content-a8u {
    width: 109.3rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .frame-header-WoF {
      box-sizing: border-box;
      height: 12.7rem;
      align-items: center;
      border: solid 0.1rem #e8d6d4;
      flex-shrink: 0;
      padding: 1.4rem 1rem 1.3rem 1rem;
      width: 100%;
      display: flex;
      background-color: #9b1212;

      .thng-tin-c-dn-dss {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 23.8rem 4.1rem 0rem;
        font-size: 4.8rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #e8d6d4;
      }
      .group-user-info-wtZ {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        height: 100%;

        .auto-group-7x6h-uaV {
          margin: 2.1rem 1.2rem 1.5rem 0rem;
          height: calc(100% - 3.6rem);
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .name-and-first-name-qj3 {
            line-height: 1.2125;
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.4rem;
            font-size: 2.4rem;
            font-weight: 400;
          }
          .id-number-or-worker-number-AWR {
            line-height: 1.2125;
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.4rem;
            font-weight: 400;
          }
        }
        .user-avatar-thK {
          height: 10rem;
          background-position: center;
          border-radius: 5rem;
          flex-shrink: 0;
          width: 10rem;
          border: solid 0.1rem #e8d6d4;
          box-sizing: border-box;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-image: url('REPLACE_IMAGE:1f67d89b783cd6587922468ff6362d9f0aaf029c');
        }
      }
    }
    .auto-group-2usw-yTs {
      box-sizing: border-box;
      padding: 5.45rem 3rem 0rem 3rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .frame-citizen-infos-Wih {
        margin: 0rem 0rem 13.55rem 1rem;
        width: 58.7rem;
        flex-shrink: 0;

        .auto-group-k8hb-SsF {
          box-sizing: border-box;
          padding-bottom: 3rem;
          width: 100%;
          display: flex;
          flex-direction: column;

          .frame-3849-C5j {
            margin: 0rem 9.5rem 4.8rem 0rem;
            width: calc(100% - 9.5rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .c1-vGd {
              flex-shrink: 0;
              margin-right: 1.9rem;
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .c1-rg5 {
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 3.6rem;
            }
          }
          .frame-3850-CE9 {
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 19.5rem 3.85rem 0rem;
            width: calc(100% - 19.5rem);
            display: flex;

            .c1-8tV {
              margin-right: 2rem;
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .c1-UBf {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
            }
          }
          .frame-3845-1Bb {
            margin: 0rem 38.9rem 3.95rem 0rem;
            width: calc(100% - 38.9rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .c1-9Ho {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 1.9rem;
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
            .c1-tWH {
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 3.6rem;
              font-weight: 400;
            }
          }
          .frame-3846-dyf {
            margin: 0rem 20.1rem 3.9rem 0rem;
            width: calc(100% - 20.1rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .c1-BVP {
              flex-shrink: 0;
              margin: 0rem 2rem 0.05rem 0rem;
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .c1-KLh {
              color: #040f0f;
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.05rem;
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2;
            }
          }
          .frame-3851-rrR {
            margin: 0rem 19.6rem 3rem 0rem;
            width: calc(100% - 19.6rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .c1-CvH {
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 1.8rem;
              font-size: 3.6rem;
            }
            .c1-kwo {
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .frame-3845-6km {
            align-items: center;
            flex-shrink: 0;
            margin-right: 12rem;
            width: calc(100% - 12rem);
            display: flex;

            .c1-4Sh {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 1.7rem;
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
            }
            .c1-pAy {
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #040f0f;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .frame-3852-Mwb {
          display: flex;
          align-items: center;
          margin-bottom: 3.85rem;
          width: 100%;

          .c1-vUu {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 2rem;
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
          }
          .c1-UFX {
            font-weight: 400;
            line-height: 1.2125;
            color: #040f0f;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 3.6rem;
          }
        }
        .frame-3845-QQ5 {
          display: flex;
          align-items: center;
          margin-right: 10.6rem;
          width: calc(100% - 10.6rem);

          .c1-MaD {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 1.5rem;
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
          }
          .c1-uLq {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
        }
      }
      .frame-bottom-buttons-3hw {
        width: 100%;
        height: 6.4rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .frame-turn-back-buttons-bUZ {
          border-radius: 2rem;
          margin-right: 33.65rem;
          padding: 1rem 0.8rem 1rem 2.433rem;
          cursor: pointer;
          background-color: #ffffff;
          border: solid 0.1rem #775652;
          flex-shrink: 0;
          box-sizing: border-box;
          height: 100%;
          display: flex;
          align-items: center;

          .corner-down-left-iZB {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1.333rem 0rem 0rem;
            width: 1.3333rem;
            height: 1.3333rem;
            position: relative;
          }
          .quay-li-dw3 {
            line-height: 1.2125;
            color: #775652;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 3.6rem;
            font-weight: 400;
          }
        }
        .right-button-M6M {
          height: 100%;
          overflow: hidden;
          position: relative;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .frame-change-buttons-JXP {
            padding: 1rem 0.8rem 1rem 1.375rem;
            align-items: center;
            border: solid 0.1rem #c9c9c9;
            flex-shrink: 0;
            margin-right: 2rem;
            box-sizing: border-box;
            display: flex;
            background-color: #775652;
            border-radius: 2rem;
            height: 100%;
            cursor: pointer;

            .edit-2-Evq {
              margin: 0.014rem 1.19rem 0rem 0rem;
              width: 1.735rem;
              height: 1.6524rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .chnh-sa-B5P {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .frame-delete-button-gnq {
            font-family: Inter, 'Source Sans Pro';
            align-items: center;
            justify-content: center;
            width: 25.65rem;
            cursor: pointer;
            font-weight: 400;
            line-height: 1.2125;
            box-sizing: border-box;
            background-color: #ff4d4f;
            flex-shrink: 0;
            height: 100%;
            font-size: 3.6rem;
            white-space: nowrap;
            display: flex;
            color: #e8d6d4;
            border: solid 0.1rem #c9c9c9;
            border-radius: 2rem;
          }
        }
      }
    }
  }
}
