
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.chi-tit-h-dn-c-Sxm {
  display: flex;
  align-items: center;
  background-color: #e8d6d4;
  width: 100%;
  overflow: hidden;
  position: relative;

  .frame-drawer-n13 {
    flex-shrink: 0;
    width: 34.6rem;
    height: 102.4rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #9b1212;

    .logo-7p1 {
      position: relative;
      flex-shrink: 0;
      width: 100%;
      height: 12.7rem;
      overflow: hidden;
    }
    .auto-group-cxaq-UeZ {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 2.6rem 0rem 1rem 0rem;
      width: 100%;
      display: flex;
      flex-direction: column;

      .navigate-bz5 {
        flex-shrink: 0;
        margin-bottom: 38.6rem;
        width: 34.5rem;
        overflow: hidden;
        position: relative;
        align-items: center;
        display: flex;
        flex-direction: column;

        .trang-ch--YPX {
          padding: 2.55rem 5.6rem 2.55rem 3rem;
          width: 100%;
          cursor: pointer;
          display: flex;
          align-items: center;
          background-color: #9b1212;
          flex-shrink: 0;
          box-sizing: border-box;

          .icon-home-5PT {
            margin: 0rem 3.6rem 0rem 0rem;
            width: 4rem;
            height: 3.5505rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .trang-ch-QAq {
            font-weight: 400;
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3.6rem;
            line-height: 1.2125;
          }
        }
        .cn-h-Jn1 {
          align-items: center;
          background-color: #9b1212;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.55rem 8.6rem 2.55rem 3rem;
          width: 100%;
          cursor: pointer;
          display: flex;

          .icon-user-circle-alt-3jb {
            margin: 0rem 6.6rem 0rem 0rem;
            width: 4rem;
            height: 4rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .cn-h-NG5 {
            justify-content: center;
            font-size: 3.6rem;
            font-weight: 400;
            color: #e8d6d4;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .ha-n-Vbb {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.55rem 7.5rem 2.55rem 3rem;
          width: 100%;
          cursor: pointer;
          display: flex;
          align-items: center;
          background-color: #9b1212;

          .icon-wallet-Rk9 {
            margin: 0rem 5.5rem 0rem 0rem;
            width: 4rem;
            height: 3.644rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .ha-n-Ypm {
            align-items: center;
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            justify-content: center;
            color: #e8d6d4;
            flex-shrink: 0;
          }
        }
        .phn-nh-GEy {
          display: flex;
          align-items: center;
          background-color: #9b1212;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.55rem 6.7rem 2.55rem 3rem;
          width: 100%;
          cursor: pointer;

          .icon-message-text-PKb {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 4.7rem 0rem 0rem;
            width: 4rem;
            height: 3.9757rem;
            position: relative;
          }
          .phn-nh-Wf7 {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
      .phn-nh-qSV {
        padding: 2.55rem 5.9rem 2.55rem 3.474rem;
        align-items: center;
        background-color: #9b1212;
        flex-shrink: 0;
        margin-right: 0.1rem;
        box-sizing: border-box;
        display: flex;
        width: calc(100% - 0.1rem);
        cursor: pointer;

        .power-kpM {
          margin: 0rem 4.376rem 0rem 0rem;
          width: 2.85rem;
          height: 3.0838rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .phn-nh-5rd {
          flex-shrink: 0;
          align-items: center;
          font-size: 3.6rem;
          font-weight: 400;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          justify-content: center;
          color: #e8d6d4;
        }
      }
    }
  }
  .frame-header-and-content-PsK {
    padding-bottom: 3.3rem;
    height: 102.4rem;
    align-items: center;
    box-sizing: border-box;
    width: 109.4rem;
    display: flex;
    flex-direction: column;
    border: solid 0.1rem #000000;
    flex-shrink: 0;

    .frame-header-XTj {
      margin-bottom: 4.8rem;
      padding: 1.5rem 0rem 1.4rem 1.4rem;
      border: solid 0.1rem #000000;
      background-color: #9b1212;
      box-sizing: border-box;
      width: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .thng-tin-h-dn-c-rku {
        line-height: 1.2125;
        color: #e8d6d4;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 18.3rem 3.1rem 0rem;
        font-size: 4.8rem;
        font-weight: 700;
      }
      .auto-group-a81t-ZfK {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 1.3rem;
        align-items: flex-end;

        .name-and-first-name-Jso {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 2.7rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #e8d6d4;
          font-family: Inter, 'Source Sans Pro';
        }
        .id-number-or-worker-number-wfs {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #e8d6d4;
        }
      }
      .user-avatar-4Eh {
        background-image: url('REPLACE_IMAGE:1f67d89b783cd6587922468ff6362d9f0aaf029c');
        border-radius: 5rem;
        height: 10rem;
        border: solid 0.1rem #e8d6d4;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-position: center;
        width: 10rem;
        background-size: 100% 100%;
        flex-shrink: 0;
      }
    }
    .content-7yf {
      margin: 0 0.55rem;
      padding: 0rem 1.5rem 1.5rem 1.2rem;
      position: relative;
      box-sizing: border-box;
      width: calc(100% - 1.1rem);
      overflow: hidden;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .frame-appartment-basic-infos-dBK {
        flex-shrink: 0;
        margin: 0rem 23.65rem 6.3rem 23.95rem;
        width: calc(100% - 47.6rem);
        height: 4.4rem;
        display: flex;
        align-items: center;

        .frame-3844-wC1 {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-right: 6.6rem;
          height: 100%;

          .c1-td3 {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 1.8rem;
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
          }
          .c1-Rss {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .frame-3844-mRw {
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .c1-8GV {
            flex-shrink: 0;
            margin-right: 0.8rem;
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .c1-Gdb {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
          }
        }
      }
      .frame-citizens-infos-DYq {
        flex-shrink: 0;
        margin: 0rem 1.95rem 26rem 0rem;
        width: 103.65rem;
        align-items: center;
        display: flex;
        flex-direction: column;

        .auto-group-9rbf-9SV {
          box-sizing: border-box;
          padding: 0rem 0rem 2rem 1.2rem;
          width: 100%;
          row-gap: 2rem;
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .header-gBX {
            background-color: #904a43;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1rem 1.25rem 0.9rem 3.65rem;
            display: flex;
            align-items: center;
            border: solid 0.1rem #808080;

            .c1-1zV {
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 7.75rem;
            }
            .c2-x93 {
              flex-shrink: 0;
              margin-right: 11.6rem;
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .c3-h6d {
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 8.85rem;
            }
            .c4-EMT {
              flex-shrink: 0;
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .header-m6V {
            padding: 0.5rem 0.2rem 0.5rem 0rem;
            cursor: pointer;
            position: relative;
            display: flex;
            border: solid 0.1rem #808080;
            border-radius: 0.3rem;
            flex-shrink: 0;
            box-sizing: border-box;
            height: 8.4rem;
            overflow: hidden;
            align-items: center;
            width: 102rem;

            .c1-5N5 {
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 1.1rem 1rem 0rem;
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
            .c2-Chb {
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 9.65rem 1rem 0rem;
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2125;
            }
            .c3-w9P {
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 6.4rem 1rem 0rem;
              font-size: 3.6rem;
              font-weight: 400;
            }
            .frame-3838-rn9 {
              font-size: 3.6rem;
              flex-shrink: 0;
              width: 25.4rem;
              color: #040f0f;
              border-radius: 2rem;
              margin-bottom: 1rem;
              height: 6.4rem;
              font-weight: 400;
              line-height: 1.2125;
              white-space: nowrap;
              justify-content: center;
              font-family: Inter, 'Source Sans Pro';
              display: flex;
              align-items: center;
            }
          }
          .header-8jf {
            background-color: #e8d6d4;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.5rem 0.2rem 0.5rem 0rem;
            display: flex;
            border: solid 0.1rem #808080;
            width: 100%;
            height: 8.3rem;
            align-items: center;

            .c1-GL5 {
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 3.55rem 0.9rem 0rem;
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2125;
            }
            .c2-CUd {
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 14.95rem 0.9rem 0rem;
              font-size: 3.6rem;
            }
            .c3-LKw {
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 10.25rem 0.9rem 0rem;
              font-size: 3.6rem;
              font-weight: 400;
            }
            .frame-3838-52d {
              font-size: 3.6rem;
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
              display: flex;
              align-items: center;
              height: 6.4rem;
              border-radius: 2rem;
              flex-shrink: 0;
              margin-bottom: 0.9rem;
              width: 25.4rem;
              font-weight: 400;
              color: #040f0f;
              white-space: nowrap;
              justify-content: center;
            }
          }
        }
        .header-jN5 {
          box-sizing: border-box;
          padding: 0.5rem 0.2rem 0.9rem 0rem;
          width: 100%;
          height: 7.8rem;
          display: flex;
          align-items: center;
          border: solid 0.1rem #808080;
          flex-shrink: 0;

          .c1-U4m {
            margin-right: 1.55rem;
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .c2-bfB {
            flex-shrink: 0;
            margin-right: 9.75rem;
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .c3-wj3 {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 5.95rem;
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .frame-3838-VEm {
            width: 25.4rem;
            height: 100%;
            border-radius: 2rem;
            flex-shrink: 0;
          }
        }
      }
      .button-RPK {
        align-items: center;
        flex-shrink: 0;
        margin-left: 0.3rem;
        width: calc(100% - 0.3rem);
        height: 6.4rem;
        overflow: hidden;
        position: relative;
        display: flex;

        .frame-turn-back-button-xe9 {
          background-color: #ffffff;
          flex-shrink: 0;
          margin-right: 61.2rem;
          padding: 1rem 0.8rem 1rem 2.433rem;
          height: 100%;
          align-items: center;
          box-sizing: border-box;
          display: flex;
          border: solid 0.1rem #775652;
          border-radius: 2rem;

          .corner-down-left-tnh {
            margin: 0rem 1.333rem 0rem 0rem;
            width: 1.3333rem;
            height: 1.3333rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .quay-li-2P7 {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #775652;
          }
        }
        .frame-turn-back-button-vzH {
          font-family: Inter, 'Source Sans Pro';
          background-color: #775652;
          flex-shrink: 0;
          font-size: 3.6rem;
          line-height: 1.2125;
          height: 100%;
          font-weight: 400;
          color: #ffffff;
          border-radius: 2rem;
          align-items: center;
          justify-content: center;
          border: solid 0.1rem #ffffff;
          box-sizing: border-box;
          width: 24.4rem;
          cursor: pointer;
          white-space: nowrap;
          display: flex;
        }
      }
    }
  }
}
