
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.nhp-mt-khu-mi-CUV {
  box-sizing: border-box;
  padding: 14.8rem 30.4rem 14.8rem 30rem;
  width: 100%;
  height: 102.4rem;
  overflow: hidden;
  position: relative;
  background-color: #9b1212;

  .frame-3914-Wk5 {
    width: 100%;
    align-items: center;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    padding-bottom: 10.05rem;
    flex-direction: column;
    background-color: #e8d6d4;
    height: 100%;
    display: flex;

    .sign-in-4Wh {
      width: 100%;
      height: 10.4rem;
      text-decoration-line: underline;
      align-items: center;
      margin-bottom: 10.05rem;
      overflow: hidden;
      font-size: 3.6rem;
      font-weight: 400;
      justify-content: center;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      flex-shrink: 0;
      position: relative;
      line-height: 1.2125;
      background-color: #e8d6d4;
    }
    .sign-in-form-9Y9 {
      margin: 0rem 10.4rem 0rem 10.8rem;
      width: calc(100% - 21.2rem);
      height: 42.3rem;
      overflow: hidden;
      position: relative;
      background-color: #e8d6d4;
      flex-shrink: 0;

      .frame-3929-5Ro {
        padding-top: 1.55rem;
        overflow: hidden;
        position: relative;
        align-items: center;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 100%;
        height: 100%;

        .form-1aM {
          position: relative;
          row-gap: 1.7rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 7.8rem;
          width: 100%;
          overflow: hidden;

          .username-9gZ {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
          }
          .frame-3926-661 {
            box-sizing: border-box;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            background-color: #ffffff;
            padding: 1.75rem 3.1946rem;
            width: 100%;
            display: flex;
            font-size: 2.8rem;
            font-weight: 400;
            color: #000000;
            flex-shrink: 0;
          }
          .password-boT {
            line-height: 1.2125;
            color: #b0b0b0;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 2.4rem;
            font-weight: 700;
          }
        }
        .classify-Yih {
          position: relative;
          flex-shrink: 0;
          margin-bottom: 6.25rem;
          width: 100%;
          height: 4rem;
          overflow: hidden;
        }
        .button-uJM {
          height: 6.4rem;
          display: flex;
          font-size: 3.6rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          background-color: #775652;
          border-radius: 2rem;
          width: 100%;
          position: relative;
          justify-content: center;
          font-weight: 400;
          overflow: hidden;
          align-items: center;
          color: #ffffff;
          cursor: pointer;
          flex-shrink: 0;
          line-height: 1.2125;
        }
      }
    }
  }
}
