
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.ql-thm-dn-c-gvh {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #e8d6d4;

  .frame-drawer-RNV {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #9b1212;
    flex-shrink: 0;
    width: 34.6rem;
    height: 102.4rem;

    .logo-kff {
      width: 100%;
      height: 12.7rem;
      overflow: hidden;
      position: relative;
      flex-shrink: 0;
    }
    .auto-group-yrch-7FK {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 2.6rem 0rem 1rem 0rem;
      width: 100%;

      .navigate-3Ps {
        overflow: hidden;
        position: relative;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 38.6rem;
        width: 34.5rem;

        .trang-ch--n6Z {
          background-color: #9b1212;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.55rem 5.6rem 2.55rem 3rem;
          width: 100%;
          cursor: pointer;
          display: flex;
          align-items: center;

          .icon-home-iF7 {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 3.6rem 0rem 0rem;
            width: 4rem;
            height: 3.5505rem;
            object-fit: contain;
          }
          .trang-ch-SS1 {
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
            display: flex;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .cn-h-YE9 {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.55rem 8.6rem 2.55rem 3rem;
          width: 100%;
          cursor: pointer;
          display: flex;
          align-items: center;
          background-color: #9b1212;

          .icon-user-circle-alt-5E5 {
            flex-shrink: 0;
            margin: 0rem 6.6rem 0rem 0rem;
            width: 4rem;
            height: 4rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
          }
          .cn-h-nuB {
            line-height: 1.2125;
            color: #e8d6d4;
            white-space: nowrap;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            font-size: 3.6rem;
            font-weight: 400;
            display: flex;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .ha-n-7Am {
          padding: 2.55rem 7.5rem 2.55rem 3rem;
          width: 100%;
          cursor: pointer;
          display: flex;
          align-items: center;
          background-color: #9b1212;
          flex-shrink: 0;
          box-sizing: border-box;

          .icon-wallet-duo {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 5.5rem 0rem 0rem;
            width: 4rem;
            height: 3.644rem;
            position: relative;
            object-fit: contain;
          }
          .ha-n-wvV {
            display: flex;
            align-items: center;
            font-weight: 400;
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            justify-content: center;
            font-size: 3.6rem;
            line-height: 1.2125;
          }
        }
        .phn-nh-s3T {
          display: flex;
          align-items: center;
          background-color: #9b1212;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.55rem 6.7rem 2.55rem 3rem;
          width: 100%;
          cursor: pointer;

          .icon-message-text-bk9 {
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 4.7rem 0rem 0rem;
            width: 4rem;
            height: 3.9757rem;
          }
          .phn-nh-KRF {
            justify-content: center;
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
            display: flex;
            align-items: center;
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .phn-nh-qeV {
        align-items: center;
        box-sizing: border-box;
        padding: 2.55rem 5.9rem 2.55rem 3.474rem;
        cursor: pointer;
        background-color: #9b1212;
        flex-shrink: 0;
        margin-right: 0.1rem;
        width: calc(100% - 0.1rem);
        display: flex;

        .power-xj7 {
          margin: 0rem 4.376rem 0rem 0rem;
          width: 2.85rem;
          height: 3.0838rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .phn-nh-hAu {
          font-size: 3.6rem;
          color: #e8d6d4;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          white-space: nowrap;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 400;
          line-height: 1.2125;
        }
      }
    }
  }
  .frame-header-and-content-bXB {
    flex-shrink: 0;
    width: 109.4rem;
    height: 102.4rem;
    align-items: center;
    display: flex;
    flex-direction: column;

    .frame-header-LUm {
      box-sizing: border-box;
      align-items: center;
      border: solid 0.1rem #e8d6d4;
      flex-shrink: 0;
      margin: 0 0.3rem;
      padding: 1.4rem 1.6rem 1.4rem 1.1rem;
      width: calc(100% - 0.6rem);
      height: 12.8rem;
      display: flex;
      background-color: #9b1212;

      .thng-tin-c-dn-rCD {
        font-size: 4.8rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #e8d6d4;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 20.2rem 4.1rem 0rem;
      }
      .group-user-info-ZsK {
        flex-shrink: 0;
        height: 100%;
        display: flex;
        align-items: center;

        .auto-group-uzbx-jG1 {
          margin: 1.9rem 3.2rem 1.6rem 0rem;
          height: calc(100% - 3.5rem);
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .name-and-first-name-4ZB {
            line-height: 1.2125;
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.5rem;
            font-size: 2.4rem;
            font-weight: 400;
          }
          .id-number-or-worker-number-yw3 {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 0.4rem;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #e8d6d4;
          }
        }
        .user-avatar-7XT {
          border: solid 0.1rem #e8d6d4;
          background-size: 100% 100%;
          background-image: url('REPLACE_IMAGE:1f67d89b783cd6587922468ff6362d9f0aaf029c');
          background-repeat: no-repeat;
          background-position: center;
          border-radius: 5rem;
          flex-shrink: 0;
          width: 10rem;
          height: 10rem;
          box-sizing: border-box;
        }
      }
    }
    .content-NyB {
      flex-direction: column;
      box-sizing: border-box;
      padding: 1.5rem 2.05rem;
      overflow: hidden;
      position: relative;
      align-items: center;
      display: flex;
      width: 100%;
      flex-shrink: 0;

      .form-KdX {
        margin: 0rem 0.95rem 10.4rem 1.95rem;
        width: calc(100% - 2.9rem);
        height: 69.8rem;
        position: relative;
        overflow: hidden;
        flex-shrink: 0;

        .frame-types-of-infos-3pR {
          position: absolute;
          left: 0;
          top: 0;
          width: 46.9rem;
          height: 65.2rem;

          .auto-group-xbwu-b5F {
            flex-direction: column;
            box-sizing: border-box;
            padding-bottom: 2rem;
            width: 100%;
            row-gap: 2rem;
            display: flex;

            .frame-3849-Kmw {
              line-height: 1.2125;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 1rem 0;
              font-weight: 400;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              width: 30.9rem;
              font-size: 3.6rem;
              color: #000000;
            }
            .frame-3850-qVP {
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 1rem 0;
              width: 21.5rem;
              color: #000000;
              white-space: nowrap;
            }
            .frame-3845-ksF {
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
              align-items: center;
              justify-content: center;
              flex-shrink: 0;
              width: 16.3rem;
              font-weight: 400;
              color: #000000;
              white-space: nowrap;
              display: flex;
              height: 6.4rem;
              font-size: 3.6rem;
            }
            .frame-3846-Gah {
              box-sizing: border-box;
              padding: 1rem 0;
              width: 31.4rem;
              line-height: 1.2125;
              white-space: nowrap;
              font-size: 3.6rem;
              font-weight: 400;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
            }
            .frame-3851-zmb {
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 1rem 0;
              font-weight: 400;
              line-height: 1.2125;
              width: 24.8rem;
              font-size: 3.6rem;
            }
            .frame-3845-877 {
              white-space: nowrap;
              flex-shrink: 0;
              padding: 1rem 0;
              font-size: 3.6rem;
              color: #000000;
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
              box-sizing: border-box;
              width: 27.7rem;
              font-weight: 400;
            }
          }
          .frame-3852-FBj {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            padding: 1rem 0;
            width: 100%;
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #ffffff;
            margin-bottom: 2rem;
            box-sizing: border-box;
          }
          .frame-3845-Zy7 {
            height: 6.4rem;
            line-height: 1.2125;
            display: flex;
            justify-content: center;
            white-space: nowrap;
            align-items: center;
            width: 34.2rem;
            font-size: 3.6rem;
            font-weight: 400;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .frame-info-V65 {
          width: 64.7rem;
          height: 69.8rem;
          position: absolute;
          left: 37.7rem;
          top: 0;

          .thi-gian-Dnm {
            top: 0;
            background-color: #ffffff;
            width: 64.7rem;
            height: 10rem;
            position: absolute;
            left: 0;

            .auto-group-6xi1-Mty {
              width: 100%;
              height: 4.4rem;
              position: relative;

              .label-text-Wms {
                top: 0;
                line-height: 1;
                white-space: nowrap;
                position: absolute;
                left: 0;
                font-size: 2rem;
                font-weight: 700;
                color: #040f0f;
                font-family: Quicksand, 'Source Sans Pro';
                width: 9.1rem;
                height: 2rem;
              }
              .input-field-drV {
                height: 4.4rem;
                position: absolute;
                left: 0;
                top: 0;
                border: solid 0.2rem #000000;
                box-sizing: border-box;
                border-radius: 0.8rem;
                width: 64.7rem;
              }
            }
          }
          .thi-gian-x85 {
            top: 8.5429rem;
            background-color: #ffffff;
            width: 36rem;
            height: 10rem;
            position: absolute;
            left: 0;

            .auto-group-zazb-u3K {
              width: 100%;
              height: 4.4rem;
              position: relative;

              .label-text-emb {
                height: 2rem;
                font-size: 2rem;
                font-weight: 700;
                font-family: Quicksand, 'Source Sans Pro';
                white-space: nowrap;
                width: 9.1rem;
                position: absolute;
                left: 0;
                top: 0;
                line-height: 1;
                color: #040f0f;
              }
              .input-field-Azq {
                left: 0;
                border: solid 0.2rem #000000;
                border-radius: 0.8rem;
                padding: 2rem 1.8rem 2rem 33.4rem;
                width: 36rem;
                position: absolute;
                top: 0;
                box-sizing: border-box;
                height: 4.4rem;

                .icon-fill-caret-small-down-tvq {
                  width: 0.8rem;
                  height: 0.4rem;
                  object-fit: contain;
                  vertical-align: top;
                }
              }
            }
          }
          .thi-gian-QPP {
            top: 17.0857rem;
            background-color: #ffffff;
            width: 30.8rem;
            height: 10rem;
            position: absolute;
            left: 0;

            .auto-group-eywd-YkV {
              height: 4.4rem;
              position: relative;
              width: 100%;

              .label-text-HCH {
                top: 0;
                font-size: 2rem;
                font-weight: 700;
                color: #040f0f;
                font-family: Quicksand, 'Source Sans Pro';
                width: 9.1rem;
                position: absolute;
                line-height: 1;
                white-space: nowrap;
                height: 2rem;
                left: 0;
              }
              .input-field-uzM {
                border: solid 0.2rem #000000;
                border-radius: 0.8rem;
                box-sizing: border-box;
                height: 4.4rem;
                position: absolute;
                left: 0;
                top: 0;
                padding: 1.2rem;
                width: 30.8rem;

                .lead-icon-text-eS9 {
                  white-space: nowrap;
                  display: flex;
                  align-items: center;
                  margin-right: 20.5rem;
                  height: 100%;
                  font-size: 3.6rem;
                  line-height: 0.5555555556;
                  color: #040f0f;
                  justify-content: center;
                  width: 7.9rem;
                  font-weight: 400;
                  font-family: Poppins, 'Source Sans Pro';
                }
              }
            }
          }
          .thi-gian-74q {
            width: 64.7rem;
            height: 10rem;
            position: absolute;
            left: 0;
            top: 25.6286rem;
            background-color: #ffffff;

            .auto-group-u1cr-eaZ {
              width: 100%;
              height: 4.3rem;
              position: relative;

              .label-text-c1b {
                width: 9.1rem;
                height: 2rem;
                left: 0;
                font-size: 2rem;
                color: #040f0f;
                white-space: nowrap;
                position: absolute;
                top: 0;
                font-weight: 700;
                line-height: 1;
                font-family: Quicksand, 'Source Sans Pro';
              }
              .input-field-8Eq {
                top: 0;
                border: solid 0.2rem #000000;
                box-sizing: border-box;
                border-radius: 0.8rem;
                width: 64.7rem;
                height: 4.3rem;
                position: absolute;
                left: 0;
              }
            }
          }
          .thi-gian-eiy {
            position: absolute;
            left: 0;
            top: 34.1714rem;
            background-color: #ffffff;
            width: 64.7rem;
            height: 10rem;

            .auto-group-mpqm-PwT {
              width: 100%;
              height: 4.3rem;
              position: relative;

              .label-text-xUm {
                width: 9.1rem;
                top: 0;
                font-weight: 700;
                line-height: 1;
                white-space: nowrap;
                font-family: Quicksand, 'Source Sans Pro';
                height: 2rem;
                position: absolute;
                left: 0;
                font-size: 2rem;
                color: #040f0f;
              }
              .input-field-HX3 {
                left: 0;
                top: 0;
                border: solid 0.2rem #000000;
                box-sizing: border-box;
                border-radius: 0.8rem;
                width: 64.7rem;
                height: 4.3rem;
                position: absolute;
              }
            }
          }
          .thi-gian-Ctu {
            height: 10rem;
            position: absolute;
            left: 0;
            top: 42.7143rem;
            background-color: #ffffff;
            width: 64.7rem;

            .auto-group-crvm-kfX {
              width: 100%;
              height: 4.4rem;
              position: relative;

              .label-text-7FB {
                width: 9.1rem;
                position: absolute;
                top: 0;
                white-space: nowrap;
                height: 2rem;
                left: 0;
                font-size: 2rem;
                font-weight: 700;
                line-height: 1;
                color: #040f0f;
                font-family: Quicksand, 'Source Sans Pro';
              }
              .input-field-djK {
                left: 0;
                top: 0;
                border: solid 0.2rem #000000;
                box-sizing: border-box;
                border-radius: 0.8rem;
                width: 64.7rem;
                height: 4.4rem;
                position: absolute;
              }
            }
          }
          .thi-gian-kow {
            height: 10rem;
            position: absolute;
            left: 0;
            top: 51.2572rem;
            background-color: #ffffff;
            width: 64.7rem;

            .auto-group-jeso-hjB {
              width: 100%;
              height: 4.4rem;
              position: relative;

              .label-text-4Jq {
                font-size: 2rem;
                font-family: Quicksand, 'Source Sans Pro';
                color: #040f0f;
                width: 9.1rem;
                height: 2rem;
                position: absolute;
                left: 0;
                top: 0;
                font-weight: 700;
                line-height: 1;
                white-space: nowrap;
              }
              .input-field-PM7 {
                left: 0;
                top: 0;
                border: solid 0.2rem #000000;
                box-sizing: border-box;
                border-radius: 0.8rem;
                width: 64.7rem;
                height: 4.4rem;
                position: absolute;
              }
            }
          }
          .thi-gian-uqF {
            background-color: #ffffff;
            width: 36rem;
            height: 10rem;
            position: absolute;
            left: 0;
            top: 59.8rem;

            .auto-group-c469-rkV {
              height: 4.4rem;
              position: relative;
              width: 100%;

              .label-text-1tH {
                position: absolute;
                left: 0;
                color: #040f0f;
                white-space: nowrap;
                width: 9.1rem;
                height: 2rem;
                font-weight: 700;
                line-height: 1;
                font-family: Quicksand, 'Source Sans Pro';
                top: 0;
                font-size: 2rem;
              }
              .input-field-Lff {
                width: 36rem;
                position: absolute;
                left: 0;
                border: solid 0.2rem #000000;
                box-sizing: border-box;
                padding: 2rem 1.8rem 2rem 33.4rem;
                height: 4.4rem;
                top: 0;
                border-radius: 0.8rem;

                .icon-fill-caret-small-down-4rZ {
                  vertical-align: top;
                  width: 0.8rem;
                  height: 0.4rem;
                  object-fit: contain;
                }
              }
            }
          }
        }
      }
      .button-mW5 {
        position: relative;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        height: 6.4rem;
        overflow: hidden;

        .frame-turn-back-button-XEM {
          padding: 1rem 0.8rem 1rem 2.433rem;
          height: 100%;
          align-items: center;
          border: solid 0.1rem #775652;
          border-radius: 2rem;
          box-sizing: border-box;
          display: flex;
          background-color: #ffffff;
          flex-shrink: 0;
          margin-right: 59.95rem;

          .corner-down-left-eJy {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1.333rem 0rem 0rem;
            width: 1.3333rem;
            height: 1.3333rem;
            position: relative;
          }
          .quay-li-AHK {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #775652;
          }
        }
        .frame-3852-rvq {
          height: 100%;
          line-height: 1.2125;
          border: solid 0.1rem #775652;
          background-color: #775652;
          flex-shrink: 0;
          cursor: pointer;
          font-size: 3.6rem;
          white-space: nowrap;
          display: flex;
          box-sizing: border-box;
          width: 25.65rem;
          font-weight: 400;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          align-items: center;
          justify-content: center;
          border-radius: 2rem;
        }
      }
    }
  }
}
