
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.trang-ch-qun-l-xcV {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #e8d6d4;
  width: 100%;

  .frame-drawer-JAZ {
    box-sizing: border-box;
    flex-shrink: 0;
    height: 102.4rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 34.6rem;
    border: solid 0.1rem #9b1212;
    background-color: #9b1212;

    .logo-did {
      flex-shrink: 0;
      width: 100%;
      height: 12.7rem;
      overflow: hidden;
      position: relative;
      border: solid 0.1rem #9b1212;
      box-sizing: border-box;
    }
    .auto-group-fv3t-yXb {
      box-sizing: border-box;
      padding: 2.6rem 0rem 1rem 0rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .navigate-uRF {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 38.6rem;
        width: 34.5rem;
        overflow: hidden;
        position: relative;
        align-items: center;

        .trang-ch--Svy {
          padding: 2.55rem 5.6rem 2.55rem 3rem;
          width: 100%;
          display: flex;
          align-items: center;
          background-color: #9b1212;
          flex-shrink: 0;
          box-sizing: border-box;

          .icon-home-myF {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 3.6rem 0rem 0rem;
            width: 4rem;
            height: 3.5505rem;
            object-fit: contain;
          }
          .trang-ch-71X {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3.6rem;
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
            font-weight: 400;
            line-height: 1.2125;
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .cn-h-pAq {
          width: 100%;
          cursor: pointer;
          display: flex;
          align-items: center;
          background-color: #9b1212;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.55rem 8.6rem 2.55rem 3rem;

          .icon-user-circle-alt-YMj {
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 6.6rem 0rem 0rem;
            width: 4rem;
            height: 4rem;
          }
          .cn-h-GHj {
            display: flex;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            font-size: 3.6rem;
            line-height: 1.2125;
            color: #e8d6d4;
          }
        }
        .ha-n-zDj {
          width: 100%;
          cursor: pointer;
          display: flex;
          align-items: center;
          background-color: #9b1212;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.55rem 7.5rem 2.55rem 3rem;

          .icon-wallet-XUZ {
            margin: 0rem 5.5rem 0rem 0rem;
            width: 4rem;
            height: 3.644rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .ha-n-eJH {
            font-size: 3.6rem;
            line-height: 1.2125;
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            justify-content: center;
            align-items: center;
            font-weight: 400;
            white-space: nowrap;
            display: flex;
          }
        }
        .phn-nh-mNu {
          box-sizing: border-box;
          padding: 2.55rem 6.7rem 2.55rem 3rem;
          width: 100%;
          cursor: pointer;
          display: flex;
          align-items: center;
          background-color: #9b1212;
          flex-shrink: 0;

          .icon-message-text-6RB {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 4.7rem 0rem 0rem;
            width: 4rem;
            height: 3.9757rem;
            position: relative;
            object-fit: contain;
          }
          .phn-nh-DEu {
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            font-size: 3.6rem;
            line-height: 1.2125;
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
            align-items: center;
            font-weight: 400;
          }
        }
      }
      .phn-nh-jj3 {
        box-sizing: border-box;
        flex-shrink: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        background-color: #9b1212;
        margin-right: 0.1rem;
        padding: 2.55rem 5.9rem 2.55rem 3.474rem;
        width: calc(100% - 0.1rem);

        .power-Tf3 {
          margin: 0rem 4.376rem 0rem 0rem;
          width: 2.85rem;
          height: 3.0838rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .phn-nh-z9B {
          white-space: nowrap;
          flex-shrink: 0;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          justify-content: center;
          font-size: 3.6rem;
          font-weight: 400;
          color: #e8d6d4;
          display: flex;
          align-items: center;
        }
      }
    }
  }
  .frame-header-and-content-HPB {
    box-sizing: border-box;
    padding-bottom: 2.2rem;
    width: 109.4rem;
    height: 102.4rem;
    align-items: center;
    flex-direction: column;
    border: solid 0.1rem #000000;
    display: flex;
    flex-shrink: 0;

    .frame-header-DXj {
      margin-bottom: 1rem;
      box-sizing: border-box;
      padding: 1.4rem 1rem;
      width: 100%;
      height: 12.8rem;
      display: flex;
      align-items: center;
      border: solid 0.1rem #000000;
      background-color: #9b1212;
      flex-shrink: 0;

      .trang-ch-xER {
        line-height: 1.2125;
        color: #e8d6d4;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 37.4rem 4.1rem 0rem;
        font-size: 4.8rem;
        font-weight: 700;
      }
      .group-user-info-549 {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-pfem-q3K {
          margin: 2.1rem 1.2rem 1.5rem 0rem;
          height: calc(100% - 3.6rem);
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .name-and-first-name-MnM {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.4rem;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
          }
          .id-number-or-worker-number-HAD {
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .user-avatar-oeM {
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
          flex-shrink: 0;
          height: 10rem;
          border: solid 0.1rem #e8d6d4;
          box-sizing: border-box;
          width: 10rem;
          background-image: url('REPLACE_IMAGE:1f67d89b783cd6587922468ff6362d9f0aaf029c');
          border-radius: 5rem;
        }
      }
    }
    .frame-main-content-HpR {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-bottom: 2.5rem;
      box-sizing: border-box;
      padding: 0 1.5rem;
      width: 100%;
      align-items: center;

      .frame-thng-k-chung--qL9 {
        margin: 0rem 0.3rem 1.332rem 0rem;
        height: 14.6678rem;
        display: flex;
        column-gap: 2.8rem;
        align-items: center;
        flex-shrink: 0;

        .group-s-lng-c-dn--9bj {
          height: 100%;
          border: solid 0.1rem #000000;
          flex-shrink: 0;
          align-items: center;
          box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.0399999991), 0 0.2rem 0.6rem rgba(0, 0, 0, 0.0399999991), 0 1.6rem 2.4rem rgba(0, 0, 0, 0.0599999987);
          background-color: #fddfa6;
          box-sizing: border-box;
          padding: 1.268rem 4.203rem 1.268rem 2.1rem;
          display: flex;

          .icon-group-U8D {
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 2.297rem 0.672rem 0rem;
            width: 7.5rem;
            height: 5.7955rem;
          }
          .auto-group-zwmb-nPo {
            margin-bottom: 2.1512rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .s-lng-c-dn-wGh {
              color: #3f3f3f;
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2.281rem;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.2;
            }
            .item-1011-fTb {
              line-height: 1.2;
              color: #000000;
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-left: 0.0325rem;
              font-size: 4rem;
              font-weight: 700;
            }
          }
        }
        .group-s-cn-h--JmT {
          flex-shrink: 0;
          padding: 1.294rem 13.74rem 1.294rem 2.4rem;
          align-items: center;
          border: solid 0.1rem #000000;
          box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.0399999991), 0 0.2rem 0.6rem rgba(0, 0, 0, 0.0399999991), 0 1.6rem 2.4rem rgba(0, 0, 0, 0.0599999987);
          box-sizing: border-box;
          height: 100%;
          display: flex;
          background-color: #fddfa6;

          .icon-home-simple-door-Ef7 {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 2.03rem 0.25rem 0rem;
            width: 7.5rem;
            height: 7.2178rem;
          }
          .auto-group-kcpd-Mjj {
            flex-shrink: 0;
            margin-bottom: 2.1248rem;
            display: flex;
            flex-direction: column;

            .cn-h-hYh {
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 2.255rem 0.03rem;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.2;
              color: #3f3f3f;
              font-family: Lato, 'Source Sans Pro';
            }
            .item-311-25B {
              line-height: 1.2;
              color: #000000;
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 4rem;
              font-weight: 700;
            }
          }
        }
        .group-s-ha-n--GER {
          padding: 1.3rem 4.295rem 1.3rem 2.4rem;
          align-items: center;
          border: solid 0.1rem #000000;
          background-color: #fddfa6;
          box-sizing: border-box;
          height: 100%;
          display: flex;
          box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.0399999991), 0 0.2rem 0.6rem rgba(0, 0, 0, 0.0399999991), 0 1.6rem 2.4rem rgba(0, 0, 0, 0.0599999987);
          flex-shrink: 0;

          .icon-coin-dDP {
            padding: 1.313rem 2.625rem 1.312rem 2.625rem;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin: 2.1rem 2.005rem 2.468rem 0rem;
            height: calc(100% - 4.5678rem);
            background-image: url('REPLACE_IMAGE:622:2484');
            flex-shrink: 0;
            box-sizing: border-box;

            .vector-Y5T {
              height: 4.875rem;
              object-fit: contain;
              vertical-align: top;
              width: 2.25rem;
            }
          }
          .auto-group-zwub-ffs {
            margin-bottom: 2.1678rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .ho-n-hin-c-R9F {
              font-weight: 400;
              line-height: 1.2;
              color: #3f3f3f;
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2.2rem;
              font-size: 2.4rem;
            }
            .item-3-8-Ln1 {
              font-weight: 700;
              line-height: 1.2;
              color: #000000;
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 4rem;
            }
          }
        }
      }
      .frame-3965-Q1B {
        height: 33.4rem;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;
        width: 100%;

        .frame-m-t-ta-nh--Yt5 {
          width: 100%;
          display: flex;
          background-color: #ffdad6;
          box-sizing: border-box;
          padding: 2.5rem 3.3rem 2.5rem 2.5rem;
          height: 100%;
          align-items: center;
          border: solid 0.1rem #000000;
          border-radius: 2rem;

          .frame-building-image-GZB {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 3.4rem;
            height: 100%;

            .thng-tin-to-nh-DDX {
              font-size: 2.8rem;
              font-weight: 600;
              line-height: 1.2;
              color: #3f3f3f;
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1rem;
            }
            .unsplash-5q1knujtjam-kDT {
              width: 32.8rem;
              height: 24rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 0.9rem;
              flex-shrink: 0;
            }
          }
          .frame-building-description-sYy {
            margin: 0.5rem 0rem 0.951rem 0rem;
            width: 64.4rem;
            height: calc(100% - 1.4507rem);
            flex-shrink: 0;

            .ta-vp-5-khu-th-linh-m-aCV {
              line-height: 1.2;
              color: #000000;
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 0.4493rem;
              font-size: 2.8rem;
              font-weight: 600;
            }
            .frame-key-val-5f3 {
              width: 100%;
              display: flex;
              align-items: flex-start;

              .m-to-nh-doanh-nghip-thng-tin-lin-h-a-ch-qPK {
                line-height: 1.2;
                color: #000000;
                font-family: Lato, 'Source Sans Pro';
                flex-shrink: 0;
                margin-right: 0.9rem;
                max-width: 18.1rem;
                font-size: 2.4rem;
                font-weight: 700;
              }
              .vp5-tng-cng-ty-u-t-pht-trin-hud-hudgrouphudcomvn-p-nguyn-duy-trinh-khu-th-linh-m-hong-mai-h-ni-vit-nam-XG9 {
                flex-shrink: 0;
                max-width: 45.4rem;
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 1.2;
                color: #000000;
                font-family: Lato, 'Source Sans Pro';
              }
            }
          }
        }
      }
    }
    .notice-Kxh {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0 3rem;
      width: calc(100% - 6rem);
      overflow: hidden;
      position: relative;

      .auto-group-9gsh-fWm {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-bottom: 1.5rem;
        width: 100%;

        .thng-bo-mi-DHP {
          font-weight: 700;
          line-height: 1.2;
          color: #3f3f3f;
          font-family: Lato, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.4rem;
          font-size: 2.8rem;
        }
        .frame-notifications-k2R {
          margin: 0 1.5rem;
          width: calc(100% - 3rem);
          row-gap: 1rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .header-5Kb {
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1rem 12.483rem 1.9rem 11.783rem;
            width: 100%;
            display: flex;
            align-items: center;
            border: solid 0.1rem #808080;

            .c1-c4d {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 2.2167rem;
              font-size: 2.8rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #2c1512;
            }
            .c4-9aM {
              font-size: 2.8rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #aeaeae;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 11.65rem;
            }
            .c2-HgZ {
              color: #2c1512;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 27.0667rem;
              font-size: 2.8rem;
              font-weight: 400;
              line-height: 1.2125;
            }
            .c3-2u3 {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.8rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #2c1512;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .header-AVT {
            border-radius: 0.3rem;
            padding-right: 9.4167rem;
            height: 8.4rem;
            align-items: center;
            border: solid 0.1rem #808080;
            display: flex;
            flex-shrink: 0;
            box-sizing: border-box;
            width: 100%;
            overflow: hidden;
            position: relative;

            .auto-group-nhhp-6tu {
              margin: 0rem 6.5rem 2rem 0rem;
              box-sizing: border-box;
              padding: 1.5rem 0;
              width: 38.2333rem;
              font-size: 2.8rem;
              font-weight: 400;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              line-height: 1.2125;
            }
            .c2-Pd7 {
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 19.583rem 2rem 0rem;
              font-size: 2.8rem;
              font-weight: 400;
            }
            .c3-84u {
              flex-shrink: 0;
              margin-bottom: 2rem;
              font-size: 2.8rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .header-RZo {
            box-sizing: border-box;
            padding-right: 9.3667rem;
            width: 100%;
            overflow: hidden;
            display: flex;
            border: solid 0.1rem #808080;
            flex-shrink: 0;
            height: 8.4rem;
            position: relative;
            align-items: center;
            border-radius: 0.3rem;

            .auto-group-4x2q-y5X {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.8rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              margin: 0rem 6.3rem 2rem 0rem;
              box-sizing: border-box;
              padding: 1.5rem 0;
              width: 36.7833rem;
            }
            .c2-4cm {
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 18.233rem 2rem 0rem;
              font-size: 2.8rem;
              font-weight: 400;
            }
            .c3-bch {
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2rem;
              font-size: 2.8rem;
            }
          }
        }
      }
      .item-02-75F {
        background-color: #e8d6d4;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0 44.85rem;
        width: 100%;
        height: 3.1rem;

        .frame-16-eqs {
          height: 100%;
          display: flex;
          column-gap: 1.2rem;
          align-items: center;
          width: 100%;

          .previous-c21 {
            color: #9e9e9e;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.2175;
          }
          .frame-15-x5s {
            font-size: 1.2rem;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            width: 3.1rem;
            text-align: center;
            font-weight: 500;
            justify-content: center;
            background-color: #9b1212;
            height: 100%;
            line-height: 1.2175;
            display: flex;
            align-items: center;
            color: #000000;
            border-radius: 0.8rem;
          }
          .next-qfT {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.2175;
            color: #9e9e9e;
            font-family: Montserrat, 'Source Sans Pro';
          }
        }
      }
    }
  }
}
