
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.xem-thng-tin-ha-n-1sb {
  padding-right: 0.1rem;
  align-items: flex-start;
  border: solid 0.1rem #000000;
  background-color: #e8d6d4;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;

  .frame-drawer-8hK {
    width: 34.6rem;
    height: 102.4rem;
    flex-direction: column;
    border: solid 0.1rem #000000;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    background-color: #9b1212;
    flex-shrink: 0;

    .logo-gD3 {
      width: 100%;
      height: 12.7rem;
      overflow: hidden;
      position: relative;
      flex-shrink: 0;
    }
    .auto-group-g5zm-Dyf {
      box-sizing: border-box;
      padding: 2.6rem 0rem 1rem 0rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .navigate-xRT {
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 48.1rem;
        width: 34.5rem;
        overflow: hidden;
        position: relative;
        align-items: center;
        display: flex;

        .trang-ch--hdw {
          box-sizing: border-box;
          padding: 2.55rem 5.6rem 2.55rem 3rem;
          width: 100%;
          display: flex;
          align-items: center;
          background-color: #9b1212;
          flex-shrink: 0;

          .icon-home-dnV {
            margin: 0rem 3.6rem 0rem 0rem;
            width: 4rem;
            height: 3.5505rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .trang-ch-ks7 {
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            font-size: 3.6rem;
            line-height: 1.2125;
            justify-content: center;
            font-weight: 400;
          }
        }
        .ha-n-xyB {
          cursor: pointer;
          display: flex;
          align-items: center;
          background-color: #9b1212;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.55rem 7.5rem 2.55rem 3rem;
          width: 100%;

          .icon-wallet-tbw {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 5.5rem 0rem 0rem;
            width: 4rem;
            height: 3.644rem;
            position: relative;
          }
          .ha-n-D8R {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3.6rem;
            line-height: 1.2125;
            font-weight: 400;
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .phn-nh-Xeu {
          align-items: center;
          background-color: #9b1212;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.55rem 6.7rem 2.55rem 3rem;
          width: 100%;
          cursor: pointer;
          display: flex;

          .icon-message-text-fWD {
            margin: 0rem 4.7rem 0rem 0rem;
            width: 4rem;
            height: 3.9757rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .phn-nh-z2h {
            align-items: center;
            white-space: nowrap;
            flex-shrink: 0;
            font-weight: 400;
            line-height: 1.2125;
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
            display: flex;
            justify-content: center;
            font-size: 3.6rem;
          }
        }
      }
      .phn-nh-gAR {
        box-sizing: border-box;
        cursor: pointer;
        align-items: center;
        background-color: #9b1212;
        flex-shrink: 0;
        margin-right: 0.1rem;
        padding: 2.55rem 5.9rem 2.55rem 3.474rem;
        width: calc(100% - 0.1rem);
        display: flex;

        .power-Bss {
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 4.376rem 0rem 0rem;
          width: 2.85rem;
          height: 3.0838rem;
        }
        .phn-nh-82R {
          flex-shrink: 0;
          align-items: center;
          font-size: 3.6rem;
          color: #e8d6d4;
          white-space: nowrap;
          font-family: Inter, 'Source Sans Pro';
          display: flex;
          justify-content: center;
          font-weight: 400;
          line-height: 1.2125;
        }
      }
    }
  }
  .frame-header-and-content-Cny {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 109.3rem;
    align-items: center;

    .frame-header-Z7j {
      padding: 1.4rem 1rem;
      width: 100%;
      height: 12.8rem;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      border: solid 0.1rem #e8d6d4;
      background-color: #9b1212;
      flex-shrink: 0;
      margin-bottom: 2rem;

      .ha-n-hDw {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 43.4rem 4.1rem 0rem;
        font-size: 4.8rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #e8d6d4;
      }
      .group-user-info-cbo {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-r85s-NL5 {
          flex-shrink: 0;
          margin: 2.1rem 1.2rem 1.5rem 0rem;
          height: calc(100% - 3.6rem);
          align-items: flex-end;
          display: flex;
          flex-direction: column;

          .name-and-first-name-6Wy {
            line-height: 1.2125;
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.4rem;
            font-size: 2.4rem;
            font-weight: 400;
          }
          .id-number-or-worker-number-phs {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .user-avatar-Mho {
          width: 10rem;
          border: solid 0.1rem #e8d6d4;
          box-sizing: border-box;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
          flex-shrink: 0;
          height: 10rem;
          background-image: url('REPLACE_IMAGE:1f67d89b783cd6587922468ff6362d9f0aaf029c');
          border-radius: 5rem;
        }
      }
    }
    .frame-main-content-eB7 {
      flex-shrink: 0;
      margin: 0 1rem;
      box-sizing: border-box;
      padding-bottom: 1.8rem;
      width: calc(100% - 2rem);
      display: flex;
      flex-direction: column;

      .ph-v-sinh-thng-10-2023-MbK {
        font-weight: 600;
        line-height: 1.2;
        color: #000000;
        font-family: Lato, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0rem 2rem 1rem;
        font-size: 4.8rem;
      }
      .frame-3947-rY5 {
        padding: 1.5rem 1.5rem 1.928rem 1.5rem;
        width: 100%;
        height: 20.5rem;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;
        margin-bottom: 50rem;
        box-sizing: border-box;

        .frame-3949-muw {
          width: 75.8rem;
          height: 100%;
          overflow: hidden;
          position: relative;
          display: flex;
          align-items: flex-end;

          .frame-types-of-info-j65 {
            margin: 0rem 9.2rem 0.005rem 0rem;
            height: calc(100% - 0.0054rem);
            row-gap: 3.4333rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .s-tin-SmB {
              font-weight: 600;
              line-height: 1.2;
              color: #000000;
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.8rem;
            }
            .s-h-ng-z21 {
              font-size: 2.8rem;
              font-weight: 600;
              line-height: 1.2;
              color: #000000;
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .thng-tin-chi-tit-XGq {
              flex-shrink: 0;
              font-size: 2.8rem;
              font-weight: 600;
              line-height: 1.2;
              color: #000000;
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .frame-3948-FyX {
            flex-shrink: 0;
            row-gap: 2.936rem;
            display: flex;
            flex-direction: column;

            .thng-D9f {
              flex-shrink: 0;
              font-size: 2.8rem;
              font-weight: 400;
              line-height: 1.2;
              color: #000000;
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
            }
            .item-0-12-kfP {
              color: #000000;
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.8rem;
              font-weight: 400;
              line-height: 1.2;
            }
            .ph-thu-lao-cng-v-sinh-chung-c-6jF {
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.8rem;
              font-weight: 400;
              line-height: 1.2;
              color: #000000;
            }
          }
        }
      }
      .button-pfF {
        margin-left: 3rem;
        width: 19.7rem;
        height: 6.4rem;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;

        .frame-turn-back-button-mqP {
          height: 100%;
          border: solid 0.1rem #775652;
          background-color: #ffffff;
          padding: 1rem 0.8rem 1rem 2.433rem;
          width: 100%;
          display: flex;
          align-items: center;
          border-radius: 2rem;
          box-sizing: border-box;

          .corner-down-left-WHB {
            margin: 0rem 1.333rem 0rem 0rem;
            width: 1.3333rem;
            height: 1.3333rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .quay-li-dch {
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #775652;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
    }
  }
}
