
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.xem-thng-tin-ha-n-9gy {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #e8d6d4;

  .content-Thf {
    height: 102.4rem;
    top: 0;
    width: 109.4056rem;
    left: 34.5972rem;
    overflow: hidden;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;

    .frame-header-a1b {
      padding: 1.4rem 0.001rem 1.444rem 0.002rem;
      width: 100%;
      height: 12.8481rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
      background-color: #9b1212;
      border: solid 0.1rem #e8d6d4;

      .ha-n-tY5 {
        margin: 0.175rem 45.501rem 0rem 0rem;
        font-size: 4.8rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #e8d6d4;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .group-user-info-avh {
        align-items: center;
        flex-shrink: 0;
        height: 100%;
        display: flex;

        .auto-group-pd41-Lus {
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 2.105rem 1.198rem 1.499rem 0rem;
          height: calc(100% - 3.6044rem);

          .name-and-first-name-seu {
            font-weight: 400;
            line-height: 1.2125;
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0.002rem 0.4rem 0rem;
            font-size: 2.4rem;
          }
          .id-number-or-worker-number-o2m {
            font-weight: 400;
            line-height: 1.2125;
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.4rem;
          }
        }
        .user-avatar-vNH {
          flex-shrink: 0;
          width: 10.0044rem;
          height: 10.0044rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .auto-group-jzlq-2w7 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 4.1rem 2.053rem 1.5rem 2.053rem;
      width: 100%;

      .frame-3909-B3K {
        margin: 0rem 0rem 44.752rem 0.95rem;
        width: 75.2rem;
        flex-shrink: 0;

        .ph-v-sinh-thng-100-2023-7Bs {
          font-family: Lato, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 3.75rem 1rem;
          font-size: 4.8rem;
          font-weight: 600;
          line-height: 1.2;
          color: #000000;
        }
        .frame-3908-12M {
          flex-direction: column;
          width: 100%;
          display: flex;

          .frame-3910-Z3s {
            width: calc(100% - 1rem);
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;
            margin: 0rem 0rem 2.7rem 1rem;

            .frame-3904-Giy {
              flex-direction: column;
              flex-shrink: 0;
              margin: 0.3rem 38.7rem 0rem 0rem;
              display: flex;

              .s-tin-1wT {
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 3.55rem;
                font-size: 2.8rem;
                font-weight: 600;
                line-height: 1.2;
                color: #000000;
                font-family: Lato, 'Source Sans Pro';
              }
              .trng-thi-zoP {
                line-height: 1.2;
                color: #000000;
                font-family: Lato, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2.8rem;
                font-weight: 600;
              }
            }
            .frame-3906-7t1 {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .thng-gRK {
                line-height: 1.2;
                color: #000000;
                font-family: Lato, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 3.5rem;
                font-size: 2.8rem;
                font-weight: 400;
              }
              .cha-thanh-ton-1yP {
                font-weight: 400;
                line-height: 1.2;
                color: #000000;
                font-family: Lato, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2.8rem;
              }
            }
          }
          .frame-3907-9ph {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .thng-tin-chi-tit-Wv9 {
              color: #000000;
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2.5rem;
              font-size: 2.8rem;
              font-weight: 600;
              line-height: 1.2;
            }
            .ph-thu-lao-cng-v-sinh-chung-cc--T4h {
              font-weight: 400;
              line-height: 1.2;
              color: #000000;
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-left: 1rem;
              font-size: 2.8rem;
            }
          }
        }
      }
      .button-kpV {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        height: 7rem;
        overflow: hidden;
        position: relative;

        .frame-turn-back-button-iFX {
          background-color: #ffffff;
          flex-shrink: 0;
          height: calc(100% - 0.6rem);
          display: flex;
          align-items: center;
          cursor: pointer;
          border: solid 0.1rem #775652;
          border-radius: 2rem;
          margin: 0.3rem 61.9rem 0.3rem 0rem;
          box-sizing: border-box;
          padding: 1rem 0.8rem 1rem 2.433rem;

          .corner-down-left-DTB {
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1.333rem 0rem 0rem;
            width: 1.3333rem;
            height: 1.3333rem;
          }
          .quay-li-7oT {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #775652;
          }
        }
        .frame-3842-byX {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          background-color: #775652;
          border-radius: 2rem;
          font-weight: 400;
          line-height: 1.2125;
          padding: 1.2rem 1rem 1.4rem 1rem;
          font-size: 3.6rem;
          color: #ffffff;
          flex-shrink: 0;
          box-sizing: border-box;
          height: 100%;
          cursor: pointer;
          border: solid 0.1rem #c9c9c9;
          width: 23.7rem;
        }
      }
    }
  }
  .frame-drawer-Tkq {
    top: 0;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    border: solid 0.1rem #000000;
    background-color: #9b1212;
    width: 34.6rem;
    height: 102.4rem;
    position: absolute;
    left: 0;

    .logo-CTX {
      width: 100%;
      height: 12.7rem;
      overflow: hidden;
      position: relative;
      flex-shrink: 0;
    }
    .auto-group-qqzv-kjw {
      padding: 2.6rem 0rem 1rem 0rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;

      .navigate-Hjs {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 38.6rem;
        width: 34.5rem;
        overflow: hidden;
        position: relative;
        align-items: center;

        .trang-ch--doj {
          align-items: center;
          background-color: #9b1212;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.55rem 5.6rem 2.55rem 3rem;
          width: 100%;
          cursor: pointer;
          display: flex;

          .icon-home-Aof {
            height: 3.5505rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 3.6rem 0rem 0rem;
            width: 4rem;
          }
          .trang-ch-V5F {
            justify-content: center;
            font-weight: 400;
            line-height: 1.2125;
            color: #e8d6d4;
            display: flex;
            align-items: center;
            font-size: 3.6rem;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .cn-h-Qi1 {
          display: flex;
          align-items: center;
          background-color: #9b1212;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.55rem 8.6rem 2.55rem 3rem;
          width: 100%;
          cursor: pointer;

          .icon-user-circle-alt-99o {
            flex-shrink: 0;
            margin: 0rem 6.6rem 0rem 0rem;
            width: 4rem;
            height: 4rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
          }
          .cn-h-TwB {
            justify-content: center;
            font-size: 3.6rem;
            flex-shrink: 0;
            white-space: nowrap;
            display: flex;
            align-items: center;
            font-weight: 400;
            line-height: 1.2125;
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .ha-n-niZ {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.55rem 7.5rem 2.55rem 3rem;
          width: 100%;
          cursor: pointer;
          display: flex;
          align-items: center;
          background-color: #9b1212;

          .icon-wallet-KTb {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 5.5rem 0rem 0rem;
            width: 4rem;
            height: 3.644rem;
            position: relative;
            object-fit: contain;
          }
          .ha-n-qgq {
            font-size: 3.6rem;
            line-height: 1.2125;
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 400;
            flex-shrink: 0;
          }
        }
        .phn-nh-NAy {
          align-items: center;
          background-color: #9b1212;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.55rem 6.7rem 2.55rem 3rem;
          width: 100%;
          cursor: pointer;
          display: flex;

          .icon-message-text-6sf {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 4.7rem 0rem 0rem;
            width: 4rem;
            height: 3.9757rem;
            position: relative;
          }
          .phn-nh-2FX {
            font-weight: 400;
            color: #e8d6d4;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            display: flex;
            align-items: center;
            line-height: 1.2125;
            white-space: nowrap;
            justify-content: center;
            font-size: 3.6rem;
          }
        }
      }
      .phn-nh-M2u {
        margin-right: 0.1rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        background-color: #9b1212;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.55rem 5.9rem 2.55rem 3.474rem;
        width: calc(100% - 0.1rem);

        .power-4xu {
          margin: 0rem 4.376rem 0rem 0rem;
          width: 2.85rem;
          height: 3.0838rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .phn-nh-bxq {
          align-items: center;
          justify-content: center;
          font-size: 3.6rem;
          color: #e8d6d4;
          display: flex;
          font-weight: 400;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
  }
}
