<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>CD-Chi tiết hộ dân cư</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="./styles/cd-chi-tit-h-dn-c.css"/>
</head>
<body>
<div class="cd-chi-tit-h-dn-c-3P3">
  <div class="frame-drawer-hCh">
    <div class="logo-kgm">
      <img class="app-logo-FdX" src="./assets/app-logo-W2R.png"/>
    </div>
    <div class="navigate-LQ5">
      <div class="trang-ch--FG9">
        <img class="icon-home-vNH" src="./assets/icon-home-Ldb.png"/>
        <div class="trang-ch-cF7">Trang chủ </div>
      </div>
      <div class="cn-h-QAy">
        <img class="icon-user-circle-alt-bFT" src="./assets/icon-user-circle-alt-kXF.png"/>
        <div class="cn-h-5RX">Căn hộ</div>
      </div>
      <div class="ha-n-42Z">
        <img class="icon-wallet-icu" src="./assets/icon-wallet-4uK.png"/>
        <div class="ha-n-Pj3">Hóa đơn</div>
      </div>
      <div class="phn-nh-SxD">
        <img class="icon-message-text-wty" src="./assets/icon-message-text-Djb.png"/>
        <div class="phn-nh-R3T">Phản ánh</div>
      </div>
    </div>
  </div>
  <div class="frame-header-and-content-BB3">
    <div class="frame-header-rHB">
      <p class="thng-tin-h-dn-c-Wcd">Thông tin hộ dân cư</p>
      <div class="auto-group-kqjb-Ax5">
        <p class="name-and-first-name-GER">Name and First Name</p>
        <p class="id-number-or-worker-number-Lzy">ID number or worker number</p>
      </div>
      <div class="user-avatar-PyF">
      </div>
    </div>
    <div class="content-Pbs">
      <div class="frame-appartment-basic-infos-smw">
        <div class="frame-3844-kKw">
          <p class="c1-gUV">Căn hộ:</p>
          <p class="c1-zVB">P1101</p>
        </div>
        <div class="frame-3844-WTX">
          <p class="c1-dY9">Số nhân khẩu: </p>
          <p class="c1-iJh">3</p>
        </div>
      </div>
      <div class="frame-citizens-infos-Ryo">
        <div class="header-iCD">
          <p class="c1-oDf">Nhân khẩu</p>
          <p class="c2-unV">Ngày sinh</p>
          <p class="c3-Rkq">Vai trò</p>
          <p class="c4-iV3">Số điện thoại</p>
        </div>
        <div class="header-1yw">
          <p class="c1-Gey">Nguyễn Văn A</p>
          <p class="c2-kKF">2/3/1970</p>
          <p class="c3-Shs">Chủ hộ</p>
          <div class="frame-3838-M49">0968461321</div>
        </div>
        <div class="header-9kh">
          <p class="c1-EGM">Nguyễn Thị B</p>
          <p class="c2-jD7">2/3/1971</p>
          <p class="c3-ktu">Vợ</p>
          <div class="frame-3838-rS9">0947849843</div>
        </div>
        <div class="header-4o7">
          <p class="c1-WQD">Nguyễn Văn C</p>
          <p class="c2-pfo">2/3/2000</p>
          <p class="c3-R9o">Con trai</p>
          <div class="frame-3838-E7F">0968461321</div>
        </div>
      </div>
      <div class="button-RxR">
        <div class="frame-turn-back-button-xSZ">
          <img class="corner-down-left-3iu" src="./assets/corner-down-left-xa1.png"/>
          <p class="quay-li-XPB">Quay lại</p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>