<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>CD-Hóa đơn </title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat%3A500"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato%3A400"/>
  <link rel="stylesheet" href="./styles/cd-ha-n-.css"/>
</head>
<body>
<div class="cd-ha-n--9w3">
  <div class="frame-3966-hhf">
    <div class="frame-header-Rdf">
      <p class="ha-n-xNh">Hóa đơn</p>
      <div class="group-user-info-dDw">
        <div class="auto-group-djyh-hDo">
          <p class="name-and-first-name-Dxq">Name and First Name</p>
          <p class="id-number-or-worker-number-jAV">ID number or worker number</p>
        </div>
        <img class="user-avatar-4Cm" src="./assets/user-avatar-B2u.png"/>
      </div>
    </div>
    <div class="auto-group-i8k3-yqX">
      <div class="auto-group-mv7r-KeV">
        <div class="frame-3952-cdb">
          <div class="frame-search-L3o">
            <div class="thi-gian-spR">
              <div class="auto-group-rzd5-2SR">
                <p class="label-text-P25">Thời gian</p>
                <div class="input-field-UpD">
                  <div class="lead-icon-text-jVF">
                    <img class="icon-outline-layer-rpm" src="./assets/icon-outline-layer-Zq7.png"/>
                    <p class="insert-text-here-Cdj">Tháng 10 Năm 2023 </p>
                  </div>
                  <img class="icon-fill-caret-small-down-8nH" src="./assets/icon-fill-caret-small-down-TUZ.png"/>
                </div>
              </div>
            </div>
            <div class="tiu--rTP">
              <div class="auto-group-ta75-D33">
                <p class="label-text-wjj">Tiêu đề </p>
                <div class="input-field-5L9">
                  <div class="lead-icon-text-Q7X">
                    <img class="icon-outline-layer-uKB" src="./assets/icon-outline-layer-PRo.png"/>
                    <p class="insert-text-here-eXf">Tìm kiếm </p>
                  </div>
                  <img class="icon-fill-caret-small-down-ZuX" src="./assets/icon-fill-caret-small-down-r7F.png"/>
                </div>
              </div>
            </div>
          </div>
          <img class="frame-3963-4rH" src="./assets/frame-3963-Nnh.png"/>
        </div>
        <div class="frame-3839-cN1">
          <div class="header-WCV">
            <p class="c1-FA5">Loại phí</p>
            <p class="c2-BpR">Số tiền</p>
            <p class="c3-6Ah">Hạn nộp</p>
            <p class="c4-dwK">Trạng thái</p>
          </div>
          <div class="header-9uf">
            <p class="c1-t6Z">Phí ủng hộ.......</p>
            <p class="c2-nhj">100.000đ</p>
            <p class="c3-XQR">23/12/2023</p>
            <div class="frame-3838-1aV">Chưa t/toán</div>
          </div>
          <div class="header-Fjj">
            <p class="c1-A61">Phí tham gia......</p>
            <p class="c2-HwK">30.000đ</p>
            <p class="c3-dVP">12/10/2023</p>
            <div class="frame-3838-MAV">Đã t/toán</div>
          </div>
          <div class="header-BQR">
            <p class="c1-7os">Phí cải tạo........</p>
            <p class="c2-pyB">50.000đ</p>
            <p class="c3-m7j">12/6/2023</p>
            <div class="frame-3838-sgZ">Đã t/toán</div>
          </div>
          <div class="item-02-YXo">
            <div class="frame-16-fMX">
              <p class="previous-D89">Previous</p>
              <div class="frame-15-7UR">1</div>
              <p class="next-Bz5">Next</p>
            </div>
          </div>
        </div>
      </div>
      <div class="button-KKb">
        <div class="frame-turn-back-button-UTP">
          <img class="corner-down-left-ZUq" src="./assets/corner-down-left-Y8M.png"/>
          <p class="quay-li-VdP">Quay lại</p>
        </div>
      </div>
    </div>
  </div>
  <div class="frame-drawer-BFK">
    <div class="logo-6t5">
      <img class="app-logo-q4y" src="./assets/app-logo-nG5.png"/>
    </div>
    <div class="navigate-MJD">
      <div class="trang-ch--VfK">
        <img class="icon-home-qDP" src="./assets/icon-home-kDT.png"/>
        <div class="trang-ch-wnD">Trang chủ </div>
      </div>
      <div class="cn-h-469">
        <img class="icon-user-circle-alt-xxD" src="./assets/icon-user-circle-alt-RNd.png"/>
        <div class="cn-h-VhF">Căn hộ</div>
      </div>
      <div class="ha-n-Zx1">
        <img class="icon-wallet-gWq" src="./assets/icon-wallet-8Mj.png"/>
        <div class="ha-n-ByP">Hóa đơn</div>
      </div>
      <div class="phn-nh-6aZ">
        <img class="icon-message-text-QLM" src="./assets/icon-message-text-DFT.png"/>
        <div class="phn-nh-LUu">Phản ánh</div>
      </div>
    </div>
  </div>
</div>
</body>