<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>CD-Phản ánh</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A400"/>
  <link rel="stylesheet" href="./styles/cd-phn-nh.css"/>
</head>
<body>
<div class="cd-phn-nh-CNq">
  <div class="frame-drawer-Vcq">
    <div class="logo-o7j">
      <img class="app-logo-7eD" src="./assets/app-logo-Lff.png"/>
    </div>
    <div class="navigate-4JZ">
      <div class="trang-ch--xPw">
        <img class="icon-home-EMT" src="./assets/icon-home-zih.png"/>
        <div class="trang-ch-inR">Trang chủ </div>
      </div>
      <div class="cn-h-QfF">
        <img class="icon-user-circle-alt-7pZ" src="./assets/icon-user-circle-alt-Udj.png"/>
        <div class="cn-h-5uo">Căn hộ</div>
      </div>
      <div class="ha-n-yEV">
        <img class="icon-wallet-5oK" src="./assets/icon-wallet-uYq.png"/>
        <div class="ha-n-Qqb">Hóa đơn</div>
      </div>
      <div class="phn-nh-j7B">
        <img class="icon-message-text-FLR" src="./assets/icon-message-text-gi1.png"/>
        <div class="phn-nh-ynD">Phản ánh</div>
      </div>
    </div>
  </div>
  <div class="frame-3879-c4V">
    <div class="frame-header-KzV">
      <p class="phn-nh-foT">Phản ánh</p>
      <div class="group-user-info-ndB">
        <div class="auto-group-7xsb-Xam">
          <p class="name-and-first-name-GHT">Name and First Name</p>
          <p class="id-number-or-worker-number-aow">ID number or worker number</p>
        </div>
        <div class="user-avatar-tpd">
        </div>
      </div>
    </div>
    <div class="auto-group-d5f9-BHw">
      <div class="auto-group-bjrs-JtM">
        <div class="frame-3952-eBX">
          <div class="frame-search-b6m">
            <div class="thi-gian-6pD">
              <div class="auto-group-n1pp-EQd">
                <p class="label-text-Ap5">Thời gian</p>
                <div class="input-field-5AM">
                  <div class="lead-icon-text-BDP">
                    <img class="icon-outline-layer-6r9" src="./assets/icon-outline-layer-WKw.png"/>
                    <p class="insert-text-here-RdX">Tháng 10 Năm 2023 </p>
                  </div>
                  <img class="icon-fill-caret-small-down-jeD" src="./assets/icon-fill-caret-small-down-kgu.png"/>
                </div>
              </div>
            </div>
            <div class="tiu--BWD">
              <div class="auto-group-xcjp-Hp9">
                <p class="label-text-pp5">Tiêu đề </p>
                <div class="input-field-u4q">
                  <div class="lead-icon-text-y4h">
                    <img class="icon-outline-layer-txM" src="./assets/icon-outline-layer-gV3.png"/>
                    <p class="insert-text-here-usT">Tìm kiếm </p>
                  </div>
                  <img class="icon-fill-caret-small-down-3yf" src="./assets/icon-fill-caret-small-down-Yx5.png"/>
                </div>
              </div>
            </div>
          </div>
          <img class="frame-3963-YvR" src="./assets/frame-3963-upR.png"/>
        </div>
        <div class="frame-3839-6S9">
          <div class="header-Pg9">
            <div class="auto-group-vmdd-Kph">
              <p class="c1-Gzq">Ngưởi gửi </p>
              <p class="c2-CtV">Tên</p>
            </div>
            <p class="c3-j7j">Ngày </p>
            <p class="c4-diu">Trạng thái</p>
          </div>
          <div class="header-m4R">
            <div class="auto-group-vcpk-4pD">
              <p class="c1-bp9">Nguyễn Văn A</p>
              <p class="c2-JyT">Chó tè bậy</p>
            </div>
            <p class="c3-PV7">11/28/2023</p>
            <div class="frame-3838-X5X">Chưa xử lý </div>
          </div>
          <div class="header-VgZ">
            <div class="auto-group-wfhu-2Rb">
              <p class="c1-KQh">Nguyễn Văn A</p>
              <p class="c2-pcM">Mèo mắc cây</p>
            </div>
            <p class="c3-ixd">11/28/2023</p>
            <div class="frame-3838-ERB">Đã xử lý </div>
          </div>
          <div class="header-6CV">
            <div class="auto-group-dl3m-2bw">
              <p class="c1-mJd">Nguyễn Văn C</p>
              <p class="c2-gRb">Thanh niên hút..</p>
            </div>
            <p class="c3-QMb">31/9/2023</p>
            <div class="frame-3838-MGq">Đang xử lý</div>
          </div>
          <div class="header-zqb">
            <div class="auto-group-rohd-8gu">
              <p class="c1-sPb">Nguyễn Văn C</p>
              <p class="c2-nFf">Tiếng ồn.....</p>
            </div>
            <p class="c3-5kZ">31/9/2023</p>
            <div class="frame-3838-qDw">Chưa xử lý</div>
          </div>
        </div>
      </div>
      <div class="button-6Qm">
        <div class="frame-turn-back-button-Ems">
          <img class="corner-down-left-Zp9" src="./assets/corner-down-left-zow.png"/>
          <p class="quay-li-4F7">Quay lại</p>
        </div>
        <div class="frame-3852-xrH">Tạo</div>
      </div>
    </div>
  </div>
</div>
</body>