<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Chi tiết hộ dân cư</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="./styles/chi-tit-h-dn-c.css"/>
</head>
<body>
<div class="chi-tit-h-dn-c-ei9">
  <div class="frame-drawer-P9w">
    <div class="logo-GjX">
      <img class="app-logo-AK7" src="./assets/app-logo-s8H.png"/>
    </div>
    <div class="navigate-JgD">
      <div class="trang-ch--FLZ">
        <img class="icon-home-LN1" src="./assets/icon-home-cyB.png"/>
        <div class="trang-ch-fQH">Trang chủ </div>
      </div>
      <div class="cn-h-8Hs">
        <img class="icon-user-circle-alt-SJZ" src="./assets/icon-user-circle-alt.png"/>
        <div class="cn-h-AVT">Căn hộ</div>
      </div>
      <div class="ha-n-dtq">
        <img class="icon-wallet-LoF" src="./assets/icon-wallet-TnV.png"/>
        <div class="ha-n-VJm">Hóa đơn</div>
      </div>
      <div class="phn-nh-WzZ">
        <img class="icon-message-text-FhF" src="./assets/icon-message-text-FJu.png"/>
        <div class="phn-nh-LTo">Phản ánh</div>
      </div>
    </div>
  </div>
  <div class="frame-header-and-content-E3P">
    <div class="frame-header-LcD">
      <p class="thng-tin-h-dn-c-Twj">Thông tin hộ dân cư</p>
      <div class="auto-group-oykb-amT">
        <p class="name-and-first-name-XAu">Name and First Name</p>
        <p class="id-number-or-worker-number-fH7">ID number or worker number</p>
      </div>
      <div class="user-avatar-Z7b">
      </div>
    </div>
    <div class="content-pZK">
      <div class="frame-appartment-basic-infos-vMT">
        <div class="frame-3844-aS1">
          <p class="c1-8TX">Căn hộ:</p>
          <p class="c1-TEu">P1101</p>
        </div>
        <div class="frame-3844-oZf">
          <p class="c1-wfs">Số nhân khẩu: </p>
          <p class="c1-Hzd">3</p>
        </div>
      </div>
      <div class="frame-citizens-infos-Eey">
        <div class="header-AHj">
          <p class="c1-6x5">Nhân khẩu</p>
          <p class="c2-Fa5">Ngày sinh</p>
          <p class="c3-bdw">Vai trò</p>
          <p class="c4-HFs">Số điện thoại</p>
        </div>
        <div class="header-2DT">
          <p class="c1-ic5">Nguyễn Văn A</p>
          <p class="c2-ekd">2/3/1970</p>
          <p class="c3-C1T">Chủ hộ</p>
          <div class="frame-3838-j1P">0968461321</div>
        </div>
        <div class="header-aGu">
          <p class="c1-gqj">Nguyễn Thị B</p>
          <p class="c2-2Po">2/3/1971</p>
          <p class="c3-8hj">Vợ</p>
          <div class="frame-3838-GZ3">0947849843</div>
        </div>
        <div class="header-M4h">
          <p class="c1-TdX">Nguyễn Văn C</p>
          <p class="c2-nfo">2/3/2000</p>
          <p class="c3-ukR">Con trai</p>
          <div class="frame-3838-psP">0968461321</div>
        </div>
      </div>
      <div class="button-6a1">
        <div class="frame-turn-back-button-1ws">
          <img class="corner-down-left-wKj" src="./assets/corner-down-left-SDs.png"/>
          <p class="quay-li-EJq">Quay lại</p>
        </div>
        <div class="frame-turn-back-button-k2H">Thêm cư dân</div>
      </div>
    </div>
  </div>
</div>
</body>