<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Chi tiết dân cư</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato%3A400"/>
  <link rel="stylesheet" href="./styles/chi-tit-dn-c-NJ1.css"/>
</head>
<body>
<div class="chi-tit-dn-c-SJR">
  <div class="frame-drawer-Lub">
    <div class="logo-3p1">
      <img class="app-logo-nmb" src="./assets/app-logo-jFj.png"/>
    </div>
    <div class="navigate-L2R">
      <div class="trang-ch--Gwf">
        <img class="icon-home-cVj" src="./assets/icon-home-qf3.png"/>
        <div class="trang-ch-7xH">Trang chủ </div>
      </div>
      <div class="cn-h-LKF">
        <img class="icon-user-circle-alt-fsK" src="./assets/icon-user-circle-alt-mbb.png"/>
        <div class="cn-h-zub">Căn hộ</div>
      </div>
      <div class="ha-n-Hth">
        <img class="icon-wallet-D1f" src="./assets/icon-wallet-Dcq.png"/>
        <div class="ha-n-iUD">Hóa đơn</div>
      </div>
      <div class="phn-nh-amK">
        <img class="icon-message-text-isX" src="./assets/icon-message-text-zhj.png"/>
        <div class="phn-nh-FsT">Phản ánh</div>
      </div>
    </div>
  </div>
  <div class="frame-header-and-content-vih">
    <div class="frame-header-rcM">
      <p class="thng-tin-c-dn-oXb">Thông tin cư dân</p>
      <div class="group-user-info-tow">
        <div class="auto-group-kpnw-3Rw">
          <p class="name-and-first-name-MxR">Name and First Name</p>
          <p class="id-number-or-worker-number-hWV">ID number or worker number</p>
        </div>
        <div class="user-avatar-34Z">
        </div>
      </div>
    </div>
    <div class="auto-group-endh-gtD">
      <div class="frame-citizen-infos-CrZ">
        <div class="auto-group-jsc3-X89">
          <div class="frame-3849-sC1">
            <p class="c1-1JD">Họ và tên:</p>
            <p class="c1-M7B">Nguyễn Văn A</p>
          </div>
          <div class="frame-3850-VUH">
            <p class="c1-1Sd">Ngày sinh:</p>
            <p class="c1-ZDF">2/3/1970</p>
          </div>
          <div class="frame-3845-TJd">
            <p class="c1-bQq">Nơi ở:</p>
            <p class="c1-wjb">P1101</p>
          </div>
          <div class="frame-3846-gx5">
            <p class="c1-Eih">CCCD:</p>
            <p class="c1-wd7">001070123456</p>
          </div>
          <div class="frame-3851-4Bw">
            <p class="c1-nNq">Nghề nghiệp:</p>
            <p class="c1-L9T">Công nhân</p>
          </div>
          <div class="frame-3845-5cq">
            <p class="c1-33s">Số điện thoại:</p>
            <p class="c1-xwX">0968461321</p>
          </div>
        </div>
        <div class="frame-3852-S61">
          <p class="c1-nvZ">Email:</p>
          <p class="c1-wYZ">ANguyen70@gmail.com</p>
        </div>
        <div class="frame-3845-gFF">
          <p class="c1-q89">Quan hệ với chủ hộ:</p>
          <p class="c1-abX">Chủ hộ</p>
        </div>
      </div>
      <div class="frame-bottom-buttons-6Zs">
        <div class="frame-turn-back-buttons-ERB">
          <img class="corner-down-left-wKb" src="./assets/corner-down-left-Ug5.png"/>
          <p class="quay-li-4v1">Quay lại</p>
        </div>
        <div class="right-button-nLD">
          <div class="frame-change-buttons-7dP">
            <img class="edit-2-edK" src="./assets/edit-2-FGH.png"/>
            <p class="chnh-sa-94H">Chỉnh sửa</p>
          </div>
          <div class="frame-delete-button-rjP">Xóa</div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>