<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Chi tiết dân cư</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato%3A400"/>
  <link rel="stylesheet" href="./styles/chi-tit-dn-c.css"/>
</head>
<body>
<div class="chi-tit-dn-c-S1b">
  <div class="frame-drawer-8v1">
    <div class="logo-SA1">
      <img class="app-logo-xPF" src="./assets/app-logo.png"/>
    </div>
    <div class="navigate-u3b">
      <div class="trang-ch--1MX">
        <img class="icon-home-wW5" src="./assets/icon-home-Uy3.png"/>
        <div class="trang-ch-GYM">Trang chủ </div>
      </div>
      <div class="cn-h-HyF">
        <img class="icon-user-circle-alt-RpZ" src="./assets/icon-user-circle-alt-E21.png"/>
        <div class="cn-h-krq">Căn hộ</div>
      </div>
      <div class="ha-n-rQ5">
        <img class="icon-wallet-N7X" src="./assets/icon-wallet-TSD.png"/>
        <div class="ha-n-3jT">Hóa đơn</div>
      </div>
      <div class="phn-nh-k85">
        <img class="icon-message-text-V5f" src="./assets/icon-message-text-45B.png"/>
        <div class="phn-nh-pNq">Phản ánh</div>
      </div>
    </div>
  </div>
  <div class="frame-header-and-content-K4h">
    <div class="frame-header-4Y5">
      <p class="thng-tin-c-dn-Bch">Thông tin cư dân</p>
      <div class="group-user-info-Hfj">
        <div class="auto-group-uiqb-3eu">
          <p class="name-and-first-name-PCy">Name and First Name</p>
          <p class="id-number-or-worker-number-hDf">ID number or worker number</p>
        </div>
        <div class="user-avatar-Dho">
        </div>
      </div>
    </div>
    <div class="auto-group-ttcb-hss">
      <div class="frame-citizen-infos-QGV">
        <div class="auto-group-d9hd-8iH">
          <div class="frame-3849-fTK">
            <p class="c1-oZX">Họ và tên:</p>
            <p class="c1-Yn1">Nguyễn Văn A</p>
          </div>
          <div class="frame-3850-6Yd">
            <p class="c1-SMb">Ngày sinh:</p>
            <p class="c1-Xdw">2/3/1970</p>
          </div>
          <div class="frame-3845-4ds">
            <p class="c1-moB">Nơi ở:</p>
            <p class="c1-KJu">P1101</p>
          </div>
          <div class="frame-3846-s5X">
            <p class="c1-D9P">CCCD:</p>
            <p class="c1-Lzh">001070123456</p>
          </div>
          <div class="frame-3851-QzZ">
            <p class="c1-ZMf">Nghề nghiệp:</p>
            <p class="c1-WGu">Công nhân</p>
          </div>
          <div class="frame-3845-SAZ">
            <p class="c1-bJM">Số điện thoại:</p>
            <p class="c1-jvM">0968461321</p>
          </div>
        </div>
        <div class="frame-3852-TbT">
          <p class="c1-o9X">Email:</p>
          <p class="c1-wmX">ANguyen70@gmail.com</p>
        </div>
        <div class="frame-3845-6PX">
          <p class="c1-3pZ">Quan hệ với chủ hộ:</p>
          <p class="c1-ChT">Chủ hộ</p>
        </div>
      </div>
      <div class="frame-bottom-buttons-KXB">
        <div class="frame-turn-back-buttons-UQ5">
          <img class="corner-down-left-Myf" src="./assets/corner-down-left-WPo.png"/>
          <p class="quay-li-HsK">Quay lại</p>
        </div>
        <div class="right-button-oKs">
          <div class="frame-change-buttons-98q">
            <img class="edit-2-US1" src="./assets/edit-2.png"/>
            <p class="chnh-sa-8Ff">Chỉnh sửa</p>
          </div>
          <div class="frame-delete-button-REm">Xóa</div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>