<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Chỉnh sửa dân cư</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C700"/>
  <link rel="stylesheet" href="./styles/chnh-sa-dn-c.css"/>
</head>
<body>
<div class="chnh-sa-dn-c-MbT">
  <div class="frame-drawer-eKf">
    <div class="logo-H7j">
      <img class="app-logo-kX7" src="./assets/app-logo-xiZ.png"/>
    </div>
    <div class="navigate-oVP">
      <div class="trang-ch--Jh3">
        <img class="icon-home-bg9" src="./assets/icon-home-Ru7.png"/>
        <div class="trang-ch-3Y9">Trang chủ </div>
      </div>
      <div class="cn-h-E6q">
        <img class="icon-user-circle-alt-uCy" src="./assets/icon-user-circle-alt-jNm.png"/>
        <div class="cn-h-8bX">Căn hộ</div>
      </div>
      <div class="ha-n-oBs">
        <img class="icon-wallet-6gm" src="./assets/icon-wallet-Xem.png"/>
        <div class="ha-n-mnu">Hóa đơn</div>
      </div>
      <div class="phn-nh-qXs">
        <img class="icon-message-text-goP" src="./assets/icon-message-text-ZHo.png"/>
        <div class="phn-nh-BEM">Phản ánh</div>
      </div>
    </div>
  </div>
  <div class="frame-header-and-content-AMB">
    <div class="frame-header-U6y">
      <p class="thng-tin-c-dn-WJZ">Thông tin cư dân</p>
      <div class="group-user-info-vt5">
        <div class="auto-group-mnuk-eZB">
          <p class="name-and-first-name-wYH">Name and First Name</p>
          <p class="id-number-or-worker-number-3bK">ID number or worker number</p>
        </div>
        <div class="user-avatar-6pV">
        </div>
      </div>
    </div>
    <div class="content-8FP">
      <div class="form-25s">
        <div class="frame-types-of-infos-WFw">
          <div class="auto-group-3auy-yvD">
            <div class="frame-3849-rUD">Họ và tên:</div>
            <div class="frame-3850-fAm">Ngày sinh:</div>
            <div class="frame-3845-tpD">Số phòng</div>
            <div class="frame-3846-mND">CCCD:</div>
            <div class="frame-3851-SjF">Nghề nghiệp:</div>
            <div class="frame-3845-74h">Số điện thoại:</div>
          </div>
          <div class="frame-3852-xb7">Email:</div>
          <div class="frame-3845-36m">Quan hệ với chủ hộ:</div>
        </div>
        <div class="frame-info-4Gm">
          <div class="thi-gian-jNu">
            <div class="auto-group-qwuh-4AH">
              <p class="label-text-bAD">Thời gian</p>
              <div class="input-field-5LH">
                <div class="lead-icon-text-iPF">Nguyễn Văn A</div>
              </div>
            </div>
          </div>
          <div class="thi-gian-W4D">
            <div class="auto-group-t9bz-QvH">
              <p class="label-text-kDT">Thời gian</p>
              <div class="input-field-CbF">
                <div class="lead-icon-text-47f">02 / 03 / 1970</div>
                <img class="icon-fill-caret-small-down-tcV" src="./assets/icon-fill-caret-small-down-uvu.png"/>
              </div>
            </div>
          </div>
          <div class="thi-gian-6Cm">
            <div class="auto-group-fksf-ocy">
              <p class="label-text-K5X">Thời gian</p>
              <div class="input-field-b33">
                <div class="lead-icon-text-FtH">P1101</div>
              </div>
            </div>
          </div>
          <div class="thi-gian-4aq">
            <div class="auto-group-tndq-73K">
              <p class="label-text-e3F">Thời gian</p>
              <div class="input-field-8UD">
                <div class="lead-icon-text-E1T">001070123456</div>
              </div>
            </div>
          </div>
          <div class="thi-gian-Rrd">
            <div class="auto-group-ed8f-Lyb">
              <p class="label-text-Fam">Thời gian</p>
              <div class="input-field-XHP">
                <div class="lead-icon-text-RNm">Công nhân</div>
              </div>
            </div>
          </div>
          <div class="thi-gian-SYm">
            <div class="auto-group-ntnb-8Rb">
              <p class="label-text-EzR">Thời gian</p>
              <div class="input-field-WS9">
                <div class="lead-icon-text-9k1">0968461321</div>
              </div>
            </div>
          </div>
          <div class="thi-gian-kE1">
            <div class="auto-group-jhmd-rnq">
              <p class="label-text-CLu">Thời gian</p>
              <div class="input-field-VL1">
                <div class="lead-icon-text-bP3">
                  <div class="cursor-text-X1o">
                    <span class="cursor-text-X1o-sub-0">A</span>
                    <span class="cursor-text-X1o-sub-1">Nguyen70@gmail.com</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="thi-gian-itu">
            <div class="auto-group-qxfy-3AV">
              <p class="label-text-aRK">Thời gian</p>
              <div class="input-field-341">
                <div class="lead-icon-text-U9K">Chủ hộ</div>
                <img class="icon-fill-caret-small-down-fzV" src="./assets/icon-fill-caret-small-down-1fb.png"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="button-JGm">
        <div class="frame-turn-back-button-bFs">
          <img class="corner-down-left-Gso" src="./assets/corner-down-left-j2d.png"/>
          <p class="quay-li-Z6D">Quay lại</p>
        </div>
        <div class="frame-3852-xu3">Xác nhận</div>
      </div>
    </div>
  </div>
</div>
</body>