<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>DatePicker </title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lexend%3A500%2C700"/>
  <link rel="stylesheet" href="./styles/datepicker-.css"/>
</head>
<body>
<div class="datepicker--qfB">
  <div class="components-M1F">
    <div class="header-L1b">
      <img class="buttons-PkZ" src="./assets/buttons.png"/>
      <div class="month-and-year-Jcd">
        <div class="month-pqs">
          <div class="frame-3834-g7P">
            <p class="april-3kZ">April</p>
            <img class="arrows-drop-down-down-F5w" src="./assets/arrows-drop-down-down.png"/>
          </div>
        </div>
        <div class="component-4-eds">
          <div class="frame-3834-nVB">
            <p class="item-2021-w7B">2021</p>
            <img class="arrows-drop-down-down-NTP" src="./assets/arrows-drop-down-down-qQy.png"/>
          </div>
        </div>
      </div>
      <img class="component-2-Si9" src="./assets/component-2.png"/>
    </div>
    <div class="auto-group-eb5m-weu">
      <div class="day-of-week-5m7">
        <div class="dow-regular-mtq">
          <div class="frame-3813-6w7">Mo</div>
        </div>
        <div class="dow-regular-yk1">
          <div class="frame-3813-jUH">Tu</div>
        </div>
        <div class="dow-regular-w4Z">
          <div class="frame-3813-tVb">We</div>
        </div>
        <div class="dow-regular-xEZ">
          <div class="frame-3813-7NM">Th</div>
        </div>
        <div class="dow-regular-DwB">
          <div class="frame-3813-yvM">Fr</div>
        </div>
        <div class="dow-regular-4gu">
          <div class="frame-3813-CHK">Sa</div>
        </div>
        <div class="dow-regular-uxR">
          <div class="frame-3813-3Hw">Su</div>
        </div>
      </div>
      <div class="weeks-9rm">
        <div class="week-1-eoX">
          <div class="component-5-C4M">
            <div class="frame-3813-jKB">29</div>
          </div>
          <div class="component-5-1nV">
            <div class="frame-3813-MbT">30</div>
          </div>
          <div class="component-5-qmX">
            <div class="frame-3813-PHF">31</div>
          </div>
          <div class="component-5-q9F">
            <div class="frame-3813-n4V">1</div>
          </div>
          <div class="component-5-jtq">
            <div class="frame-3813-V7K">2</div>
          </div>
          <div class="component-5-a8m">
            <div class="frame-3813-vCd">3</div>
          </div>
          <div class="component-5-b3s">
            <div class="frame-3813-jQy">4</div>
          </div>
        </div>
        <div class="week-2-bTB">
          <div class="auto-group-pwjp-KPB">
            <div class="component-5-sfb">
              <div class="frame-3813-117">5</div>
            </div>
            <div class="component-5-ScD">
              <div class="frame-3813-Zwj">6</div>
            </div>
          </div>
          <div class="component-5-z1T">
            <div class="frame-3813-87f">7</div>
          </div>
          <div class="auto-group-mo2b-MFK">
            <div class="component-5-g2h">
              <div class="frame-3813-1Ks">8</div>
            </div>
            <div class="component-5-uAM">
              <div class="frame-3813-31f">9</div>
            </div>
            <div class="component-5-6Vj">
              <div class="frame-3813-2eH">10</div>
            </div>
            <div class="component-5-J61">
              <div class="frame-3813-2Xo">11</div>
            </div>
          </div>
        </div>
        <div class="week-3-VAV">
          <div class="component-5-oS5">
            <div class="frame-3813-Hs3">12</div>
          </div>
          <div class="component-5-AR3">
            <div class="frame-3813-utR">13</div>
          </div>
          <div class="component-5-wKK">
            <div class="frame-3813-gnh">14</div>
          </div>
          <div class="component-5-kXf">
            <div class="frame-3813-JJH">15</div>
          </div>
          <div class="component-5-xNq">
            <div class="frame-3813-hrD">0</div>
          </div>
          <div class="component-5-NSZ">
            <div class="frame-3813-2GD">17</div>
          </div>
          <div class="component-5-7YZ">
            <div class="frame-3813-TcR">18</div>
          </div>
        </div>
        <div class="week-4-YNy">
          <div class="component-5-reZ">
            <div class="frame-3813-1GZ">19</div>
          </div>
          <div class="component-5-Ssf">
            <div class="frame-3813-zeH">20</div>
          </div>
          <div class="component-5-U3f">
            <div class="frame-3813-cQm">21</div>
          </div>
          <div class="component-5-EBF">
            <div class="frame-3813-9Z7">22</div>
          </div>
          <div class="component-5-qRw">
            <div class="frame-3813-xWZ">23</div>
          </div>
          <div class="component-5-cr1">
            <div class="frame-3813-M2u">24</div>
          </div>
          <div class="component-5-EcV">
            <div class="frame-3813-ypy">25</div>
          </div>
        </div>
        <div class="week-5-GZB">
          <div class="component-5-AeZ">
            <div class="frame-3813-WiR">26</div>
          </div>
          <div class="component-5-yru">
            <div class="frame-3813-Uof">27</div>
          </div>
          <div class="component-5-M6m">
            <div class="frame-3813-guj">28</div>
          </div>
          <div class="component-5-XvM">
            <div class="frame-3813-Uqb">29</div>
          </div>
          <div class="component-5-a7w">
            <div class="frame-3813-KLR">30</div>
          </div>
          <div class="component-5-9qF">
            <div class="frame-3813-6Vb">1</div>
          </div>
          <div class="component-5-xnh">
            <div class="frame-3813-fh7">2</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>