<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Frame Pop Up - success</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="./styles/frame-pop-up-success.css"/>
</head>
<body>
<div class="frame-pop-up-success-RRX">
  <div class="frame-3961-Ma5">
    <div class="frame-notification-ta1">Thay đổi thành công  </div>
    <img class="success-icon-xpm" src="./assets/success-icon.png"/>
  </div>
  <div class="frame-3962-uV7">
    <div class="frame-notification-r9T">OK</div>
  </div>
</div>
</body>