<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Frame Pop Up - confirm</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400"/>
  <link rel="stylesheet" href="./styles/frame-pop-up-confirm-Mjj.css"/>
</head>
<body>
<div class="frame-pop-up-confirm-xBP">
  <div class="frame-3961-oxh">
    <div class="frame-notification-k7F">Lưu thay đổi</div>
    <img class="icon-question-mark-circle-cQM" src="./assets/icon-question-mark-circle-K49.png"/>
  </div>
  <div class="frame-3962-YYu">
    <div class="frame-notification-u8Z">Xác nhận</div>
    <div class="frame-notification-CtM">Quay lại</div>
  </div>
</div>
</body>