<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Frame Pop Up - success</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="./styles/frame-pop-up-success-dQy.css"/>
</head>
<body>
<div class="frame-pop-up-success-9U9">
  <div class="frame-3961-HaM">
    <div class="frame-notification-d8R">Thay đổi thành công  </div>
    <img class="success-icon-gcV" src="./assets/success-icon-9zd.png"/>
  </div>
  <div class="frame-3962-zdB">
    <div class="frame-notification-LBF">OK</div>
  </div>
</div>
</body>