<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Frame Pop Up - confirm</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="./styles/frame-pop-up-confirm.css"/>
</head>
<body>
<div class="frame-pop-up-confirm-Qxu">
  <div class="frame-3961-GVK">
    <div class="frame-notification-bnV">Lưu thay đổi</div>
    <img class="icon-question-mark-circle-gZ3" src="./assets/icon-question-mark-circle.png"/>
  </div>
  <div class="frame-3962-aPX">
    <div class="frame-notification-8fw">Quay lại</div>
    <div class="frame-notification-o1P">Xác nhận</div>
  </div>
</div>
</body>