<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Frame Pop Up - success</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="./styles/frame-pop-up-success-cEH.css"/>
</head>
<body>
<div class="frame-pop-up-success-BHo">
  <div class="frame-3961-Ga9">
    <div class="frame-notification-QRT">Thanh toán thành công  </div>
    <img class="success-icon-gtm" src="./assets/success-icon-3js.png"/>
  </div>
  <div class="frame-3962-SN9">
    <div class="frame-notification-NWh">OK</div>
  </div>
</div>
</body>