<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Frame Pop Up - success</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400"/>
  <link rel="stylesheet" href="./styles/frame-pop-up-success-EwX.css"/>
</head>
<body>
<div class="frame-pop-up-success-rhB">
  <div class="frame-3961-Px1">
    <div class="frame-notification-XoK">Thay đổi thành công  </div>
    <img class="success-icon-xdj" src="./assets/success-icon-BnM.png"/>
  </div>
  <div class="frame-3962-V7s">
    <div class="frame-notification-SJ1">OK</div>
  </div>
</div>
</body>