<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Frame Pop Up - unchange</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="./styles/frame-pop-up-unchange.css"/>
</head>
<body>
<div class="frame-pop-up-unchange-kFP">
  <div class="frame-3961-Fhw">
    <div class="frame-notification-YS9">
      <p class="thay-i--Uah">
      Bạn vẫn chưa lưu thay đổi,
      <br/>
      Bạn có muốn thoát ?
      </p>
    </div>
    <img class="icon-question-mark-circle-b9X" src="./assets/icon-question-mark-circle-pER.png"/>
  </div>
  <div class="frame-3962-Jpd">
    <div class="frame-notification-TxR">Quay lại </div>
    <div class="frame-notification-8Ym">Xác nhận</div>
  </div>
</div>
</body>