<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Frame Pop Up - confirm</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="./styles/frame-pop-up-confirm-Kdo.css"/>
</head>
<body>
<div class="frame-pop-up-confirm-UaH">
  <div class="frame-3961-cgV">
    <div class="frame-notification-M8H">Lưu thay đổi</div>
    <img class="icon-question-mark-circle-wMP" src="./assets/icon-question-mark-circle-VXK.png"/>
  </div>
  <div class="frame-3962-ELV">
    <div class="frame-notification-Mg1">Xác nhận</div>
    <div class="frame-notification-Rvm">Quay lại</div>
  </div>
</div>
</body>