<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Frame Pop Up - fail</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="./styles/frame-pop-up-fail.css"/>
</head>
<body>
<div class="frame-pop-up-fail-jPb">
  <div class="frame-3961-4wf">
    <div class="frame-notification-16D">Thay đổi thất bại  </div>
    <img class="icon-emoji-sad-rsX" src="./assets/icon-emoji-sad.png"/>
  </div>
  <div class="frame-3962-zyj">
    <div class="frame-notification-YEZ">OK</div>
  </div>
</div>
</body>