<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Frame Pop Up - success</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="./styles/frame-pop-up-success-r2y.css"/>
</head>
<body>
<div class="frame-pop-up-success-ZsT">
  <div class="frame-3961-WXo">
    <div class="frame-notification-31w">Thay đổi thành công  </div>
    <img class="success-icon-GvH" src="./assets/success-icon-Ww7.png"/>
  </div>
  <div class="frame-3962-CZ3">
    <div class="frame-notification-xYD">OK</div>
  </div>
</div>
</body>