<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Frame Pop Up - confirm</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="./styles/frame-pop-up-confirm-LsP.css"/>
</head>
<body>
<div class="frame-pop-up-confirm-VVX">
  <div class="frame-3961-2VT">
    <div class="frame-notification-Xh7">Lưu thay đổi</div>
    <img class="icon-question-mark-circle-PUR" src="./assets/icon-question-mark-circle-o3T.png"/>
  </div>
  <div class="frame-3962-WJ9">
    <div class="frame-notification-4aZ">Xác nhận</div>
    <div class="frame-notification-XDF">Quay lại</div>
  </div>
</div>
</body>