<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Đăng nhập</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="./styles/ng-nhp.css"/>
</head>
<body>
<div class="ng-nhp-kAZ">
  <div class="frame-3914-Sp5">
    <div class="sign-in-avH">Đăng nhập</div>
    <div class="sign-in-form-33B">
      <div class="frame-3929-mE5">
        <div class="form-gM3">
          <div class="username-cVb">Tên người dùng</div>
          <div class="frame-3926-9kR">Manager</div>
          <div class="password-rPw">Mật khẩu</div>
          <div class="frame-3927-bMX">**********</div>
          <div class="qun-mt-khu-VSu">Quên mật khẩu?</div>
        </div>
        <div class="button-mvD">Đăng nhập</div>
      </div>
    </div>
  </div>
</div>
</body>