<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Đăng nhập</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="./styles/ng-nhp-zLd.css"/>
</head>
<body>
<div class="ng-nhp-REd">
  <div class="frame-3914-wim">
    <div class="sign-in-ttu">Đăng nhập</div>
    <div class="sign-in-form-bHX">
      <div class="frame-3929-LW1">
        <div class="form-tGd">
          <div class="username-Qkm">Tên người dùng</div>
          <div class="frame-3926-L8d">HuymaiP1101</div>
          <div class="password-bqF">Mật khẩu</div>
          <div class="frame-3927-M3j">************</div>
          <div class="qun-mt-khu-T6m">Quên mật khẩu?</div>
        </div>
        <div class="button-MC9">Đăng nhập</div>
      </div>
    </div>
  </div>
</div>
</body>