<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Nhập mật khẩu mới</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="./styles/nhp-mt-khu-mi.css"/>
</head>
<body>
<div class="nhp-mt-khu-mi-WRj">
  <div class="frame-3914-pBX">
    <div class="sign-in-AmB">Quên mật khẩu</div>
    <div class="sign-in-form-fhw">
      <div class="frame-3929-Chs">
        <div class="form-iRK">
          <div class="username-4k5">Mật khẩu mới</div>
          <div class="frame-3926-1fK">ackwajqbaklwu</div>
          <div class="password-F3s">* Nhập mật khẩu mới</div>
        </div>
        <div class="classify-Lb7">
        </div>
        <div class="button-Viu">Xác nhận</div>
      </div>
    </div>
  </div>
</div>
</body>