<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Nhập mã thiết lập</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C700"/>
  <link rel="stylesheet" href="./styles/nhp-m-thit-lp.css"/>
</head>
<body>
<div class="nhp-m-thit-lp-DRP">
  <div class="frame-3914-YiZ">
    <div class="sign-in-Vth">Quên mật khẩu</div>
    <div class="sign-in-form-nso">
      <div class="frame-3929-Woo">
        <div class="form-fAu">
          <div class="username-cM3">Mã thiết lập</div>
          <div class="frame-3926-MZX">123456</div>
          <div class="password-ENR">* Nhập mã để thiết lập lại mật khẩu</div>
        </div>
        <div class="classify-wGq">
        </div>
        <div class="button-F2d">Xác nhận</div>
      </div>
    </div>
  </div>
</div>
</body>