<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Phản ánh</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C700"/>
  <link rel="stylesheet" href="./styles/phn-nh.css"/>
</head>
<body>
<div class="phn-nh-q8Z">
  <div class="frame-drawer-ykZ">
    <div class="logo-hRf">
      <img class="app-logo-N21" src="./assets/app-logo-o5o.png"/>
    </div>
    <div class="navigate-JgM">
      <div class="trang-ch--2MT">
        <img class="icon-home-Med" src="./assets/icon-home-ZzV.png"/>
        <div class="trang-ch-gS1">Trang chủ </div>
      </div>
      <div class="cn-h-myF">
        <img class="icon-user-circle-alt-iNh" src="./assets/icon-user-circle-alt-NwF.png"/>
        <div class="cn-h-dEm">Căn hộ</div>
      </div>
      <div class="ha-n-in1">
        <img class="icon-wallet-cMb" src="./assets/icon-wallet-mDP.png"/>
        <div class="ha-n-YW9">Hóa đơn</div>
      </div>
      <div class="phn-nh-Td7">
        <img class="icon-message-text-woB" src="./assets/icon-message-text-fC1.png"/>
        <div class="phn-nh-sgq">Phản ánh</div>
      </div>
    </div>
  </div>
  <div class="frame-3879-wgh">
    <div class="frame-header-HkZ">
      <p class="phn-nh-EA1">Phản ánh</p>
      <div class="group-user-info-xLu">
        <div class="auto-group-x13y-HPB">
          <p class="name-and-first-name-oMX">Name and First Name</p>
          <p class="id-number-or-worker-number-8eh">ID number or worker number</p>
        </div>
        <div class="user-avatar-ZV7">
        </div>
      </div>
    </div>
    <div class="auto-group-zn5z-TKb">
      <div class="auto-group-rdz3-x1T">
        <div class="frame-3952-6dT">
          <div class="frame-search-Di5">
            <div class="thi-gian-BQ1">
              <div class="auto-group-1x7z-Xyf">
                <p class="label-text-sXj">Thời gian</p>
                <div class="input-field-CK7">
                  <div class="lead-icon-text-KPj">
                    <img class="icon-outline-layer-sAM" src="./assets/icon-outline-layer-WcV.png"/>
                    <p class="insert-text-here-zVs">Tháng 10 Năm 2023 </p>
                  </div>
                  <img class="icon-fill-caret-small-down-86H" src="./assets/icon-fill-caret-small-down-r9T.png"/>
                </div>
              </div>
            </div>
            <div class="tiu--gX7">
              <div class="auto-group-jup1-1ZP">
                <p class="label-text-AhB">Tiêu đề </p>
                <div class="input-field-2Db">
                  <div class="lead-icon-text-8XX">
                    <img class="icon-outline-layer-gJ9" src="./assets/icon-outline-layer-Zo3.png"/>
                    <p class="insert-text-here-2N1">Tìm kiếm </p>
                  </div>
                  <img class="icon-fill-caret-small-down-wjs" src="./assets/icon-fill-caret-small-down-Khf.png"/>
                </div>
              </div>
            </div>
          </div>
          <img class="frame-3963-SRj" src="./assets/frame-3963-mzu.png"/>
        </div>
        <div class="frame-3839-P65">
          <div class="header-WAh">
            <div class="auto-group-32c3-cUd">
              <p class="c1-YdB">Ngưởi gửi </p>
              <p class="c2-ded">Tên</p>
            </div>
            <p class="c3-jSm">Thời gian</p>
            <p class="c4-Fvu">Trạng thái</p>
          </div>
          <div class="header-Any">
            <div class="auto-group-ctef-TGH">
              <p class="c1-MsT">Nguyễn Văn A</p>
              <p class="c2-6KF">Thanh niên.....</p>
            </div>
            <p class="c3-D8y">11/28/2023</p>
            <div class="frame-3838-j7K">Chưa xử lý </div>
          </div>
          <div class="header-XYy">
            <div class="auto-group-smgw-Fzm">
              <p class="c1-yA5">Nguyễn Văn A</p>
              <p class="c2-71P">Ăn trộm.....</p>
            </div>
            <p class="c3-pgV">11/28/2023</p>
            <div class="frame-3838-kq3">Đã xử lý </div>
          </div>
          <div class="header-CS9">
            <div class="auto-group-actm-XzD">
              <p class="c1-U8m">Nguyễn Văn C</p>
              <p class="c2-Njw">Chó thả rông</p>
            </div>
            <p class="c3-hXK">31/9/2023</p>
            <div class="frame-3838-RTK">Đang xử lý</div>
          </div>
          <div class="header-GD3">
            <div class="auto-group-hhk1-ApD">
              <p class="c1-7Df">Nguyễn Văn C</p>
              <p class="c2-pds">Mèo lạc</p>
            </div>
            <p class="c3-KqX">31/9/2023</p>
            <div class="frame-3838-dbK">Chưa xem</div>
          </div>
        </div>
      </div>
      <div class="button-g3o">
        <div class="frame-turn-back-button-qBb">
          <img class="corner-down-left-8gV" src="./assets/corner-down-left-t5b.png"/>
          <p class="quay-li-fRX">Quay lại</p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>