<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>QL- Chỉnh sửa dân cư</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A400"/>
  <link rel="stylesheet" href="./styles/ql-chnh-sa-dn-c.css"/>
</head>
<body>
<div class="ql-chnh-sa-dn-c-bmP">
  <div class="frame-drawer-jsb">
    <div class="logo-fWM">
      <img class="app-logo-QTw" src="./assets/app-logo-whf.png"/>
    </div>
    <div class="navigate-Yq3">
      <div class="trang-ch--s6d">
        <img class="icon-home-Np5" src="./assets/icon-home-T5F.png"/>
        <div class="trang-ch-WQV">Trang chủ </div>
      </div>
      <div class="cn-h-iFf">
        <img class="icon-user-circle-alt-r6y" src="./assets/icon-user-circle-alt-Sfw.png"/>
        <div class="cn-h-xQu">Căn hộ</div>
      </div>
      <div class="ha-n-Qnh">
        <img class="icon-wallet-x3X" src="./assets/icon-wallet-owj.png"/>
        <div class="ha-n-gER">Hóa đơn</div>
      </div>
      <div class="phn-nh-9Nu">
        <img class="icon-message-text-tLV" src="./assets/icon-message-text-JcM.png"/>
        <div class="phn-nh-C6H">Phản ánh</div>
      </div>
    </div>
  </div>
  <div class="frame-header-and-content-FqF">
    <div class="frame-header-13j">
      <p class="thng-tin-c-dn-hhF">Thông tin cư dân</p>
      <div class="group-user-info-cJR">
        <div class="auto-group-tfjh-ZzM">
          <p class="name-and-first-name-6zH">Name and First Name</p>
          <p class="id-number-or-worker-number-zJy">ID number or worker number</p>
        </div>
        <div class="user-avatar-677">
        </div>
      </div>
    </div>
    <div class="content-nEq">
      <div class="form-ieH">
        <div class="frame-types-of-infos-enq">
          <div class="auto-group-8tkz-bCH">
            <div class="frame-3849-Kty">Họ và tên:</div>
            <div class="frame-3850-RBK">Ngày sinh:</div>
            <div class="frame-3845-dYH">Số phòng</div>
            <div class="frame-3846-kN1">CCCD:</div>
            <div class="frame-3851-UJ1">Nghề nghiệp:</div>
            <div class="frame-3845-zXF">Số điện thoại:</div>
          </div>
          <div class="frame-3852-JH3">Email:</div>
          <div class="frame-3845-RMf">Quan hệ với chủ hộ:</div>
        </div>
        <div class="frame-info-X9o">
          <div class="thi-gian-qgH">
            <div class="auto-group-9qr9-b9f">
              <p class="label-text-kHT">Thời gian</p>
              <div class="input-field-rLV">
                <div class="lead-icon-text-yAD">Nguyễn Văn A</div>
              </div>
            </div>
          </div>
          <div class="thi-gian-ouw">
            <div class="auto-group-qdoh-Jrh">
              <p class="label-text-fhF">Thời gian</p>
              <div class="input-field-oYZ">
                <div class="lead-icon-text-iQd">02 / 03 / 1970</div>
                <img class="icon-fill-caret-small-down-QoF" src="./assets/icon-fill-caret-small-down-mWm.png"/>
              </div>
            </div>
          </div>
          <div class="thi-gian-tTX">
            <div class="auto-group-14pd-RiM">
              <p class="label-text-Mru">Thời gian</p>
              <div class="input-field-HEm">
                <div class="lead-icon-text-pEh">P1101</div>
              </div>
            </div>
          </div>
          <div class="thi-gian-2rZ">
            <div class="auto-group-7jhz-adB">
              <p class="label-text-ufT">Thời gian</p>
              <div class="input-field-Exd">
                <div class="lead-icon-text-amb">001070123456</div>
              </div>
            </div>
          </div>
          <div class="thi-gian-gJq">
            <div class="auto-group-mwlx-2db">
              <p class="label-text-Pj3">Thời gian</p>
              <div class="input-field-WHs">
                <div class="lead-icon-text-dNV">Công nhân</div>
              </div>
            </div>
          </div>
          <div class="thi-gian-fa5">
            <div class="auto-group-umat-oAV">
              <p class="label-text-8yT">Thời gian</p>
              <div class="input-field-UXX">
                <div class="lead-icon-text-RBs">0968461321</div>
              </div>
            </div>
          </div>
          <div class="thi-gian-eKX">
            <div class="auto-group-3bpp-Mjj">
              <p class="label-text-vH3">Thời gian</p>
              <div class="input-field-eyj">
                <div class="lead-icon-text-Nuj">
                  <div class="cursor-text-wC9">
                    <span class="cursor-text-wC9-sub-0">A</span>
                    <span class="cursor-text-wC9-sub-1">Nguyen70@gmail.com</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="thi-gian-YbF">
            <div class="auto-group-osq1-UUu">
              <p class="label-text-qKT">Thời gian</p>
              <div class="input-field-jQq">
                <div class="lead-icon-text-FPB">Chủ hộ</div>
                <img class="icon-fill-caret-small-down-8hs" src="./assets/icon-fill-caret-small-down.png"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="button-3K3">
        <div class="frame-turn-back-button-AuT">
          <img class="corner-down-left-HDP" src="./assets/corner-down-left-o8h.png"/>
          <p class="quay-li-D73">Quay lại</p>
        </div>
        <div class="frame-3852-X7j">Xác nhận</div>
      </div>
    </div>
  </div>
</div>
</body>