<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>QL - Các căn hộ</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A400"/>
  <link rel="stylesheet" href="./styles/ql-cc-cn-h.css"/>
</head>
<body>
<div class="ql-cc-cn-h-xQu">
  <div class="frame-drawer-U8M">
    <div class="logo-BHf">
      <img class="app-logo-hWu" src="./assets/app-logo-KZP.png"/>
    </div>
    <div class="navigate-qd7">
      <div class="trang-ch--BS5">
        <img class="icon-home-6Z3" src="./assets/icon-home.png"/>
        <div class="trang-ch-Cc5">Trang chủ </div>
      </div>
      <div class="cn-h-Qy3">
        <img class="icon-user-circle-alt-9fj" src="./assets/icon-user-circle-alt-STX.png"/>
        <div class="cn-h-5ZP">Căn hộ</div>
      </div>
      <div class="ha-n-CP7">
        <img class="icon-wallet-JS9" src="./assets/icon-wallet-LD3.png"/>
        <div class="ha-n-ns7">Hóa đơn</div>
      </div>
      <div class="phn-nh-W2R">
        <img class="icon-message-text-e8d" src="./assets/icon-message-text.png"/>
        <div class="phn-nh-B8Z">Phản ánh</div>
      </div>
    </div>
  </div>
  <div class="frame-header-and-content--F8R">
    <div class="frame-header-ZQ1">
      <p class="h-dn-c-4rZ">Hộ dân cư</p>
      <div class="group-user-info-Ymj">
        <img class="user-avatar-5Wm" src="./assets/user-avatar-9Cy.png"/>
        <p class="name-and-first-name-d2V">Name and First Name</p>
        <p class="id-number-or-worker-number-WMB">ID number or worker number</p>
      </div>
    </div>
    <div class="frame-3917-bdX">
      <div class="frame-3950-87f">
        <div class="frame-search-bar-erh">
          <img class="search-1BT" src="./assets/search.png"/>
          <div class="search-kPw">
            <div class="auto-group-7srb-Hem">
              <p class="label-text-qwB">Thời gian</p>
              <div class="input-field-KrM">
                <div class="lead-icon-text-ffK">
                  <img class="icon-outline-layer-njw" src="./assets/icon-outline-layer-Sz1.png"/>
                  <p class="insert-text-here-QmK">Tìm kiếm </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img class="frame-3963-ui5" src="./assets/frame-3963.png"/>
      </div>
      <div class="frame-appartment-infos-de5">
        <div class="header-wem">
          <p class="c1-SrR">Căn hộ</p>
          <p class="c4-axd">Thao tác</p>
          <p class="c2-uV7">Nhân khẩu</p>
          <p class="c3-bsj">Trạng thái</p>
        </div>
        <div class="header-vv1">
          <p class="c1-B5F">P1101</p>
          <p class="c2-7zV">3</p>
          <p class="c3-4eq">Cư trú</p>
        </div>
        <div class="header-zHb">
          <div class="auto-group-v3o1-jFB">P1102</div>
          <p class="c2-C8m">3</p>
          <p class="c3-XRw">Tạm vắng</p>
        </div>
        <div class="header-RXK">
          <div class="auto-group-eukr-mLH">P1103</div>
          <p class="c2-Qu3">0</p>
          <p class="c3-9Lq">Trống</p>
        </div>
        <div class="header-rW9">
          <div class="auto-group-7y4p-bCq">P1201</div>
          <p class="c2-5Nu">4</p>
          <p class="c3-wR7">Cư trú</p>
        </div>
        <div class="header-rny">
          <div class="auto-group-wrh5-nRj">P1202</div>
          <p class="c2-fEd">2</p>
          <p class="c3-NPw">Tạm vắng</p>
        </div>
        <div class="header-H17">
          <div class="auto-group-jhzb-bXb">P1203</div>
          <p class="c2-fGZ">1</p>
          <p class="c3-bg1">Cư trú</p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>