<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>QL-Hóa đơn </title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat%3A500"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato%3A400"/>
  <link rel="stylesheet" href="./styles/ql-ha-n-.css"/>
</head>
<body>
<div class="ql-ha-n--5MX">
  <div class="frame-drawer-b4y">
    <div class="logo-gs7">
      <img class="app-logo-pyK" src="./assets/app-logo-HZo.png"/>
    </div>
    <div class="navigate-yLR">
      <div class="trang-ch--KQH">
        <img class="icon-home-qNd" src="./assets/icon-home-aQD.png"/>
        <div class="trang-ch-wRf">Trang chủ </div>
      </div>
      <div class="cn-h-E9s">
        <img class="icon-user-circle-alt-m9o" src="./assets/icon-user-circle-alt-Ygd.png"/>
        <div class="cn-h-Vbb">Căn hộ</div>
      </div>
      <div class="ha-n-ASq">
        <img class="icon-wallet-VED" src="./assets/icon-wallet-c45.png"/>
        <div class="ha-n-Bsj">Hóa đơn</div>
      </div>
      <div class="phn-nh-5iD">
        <img class="icon-message-text-Cnq" src="./assets/icon-message-text-ktu.png"/>
        <div class="phn-nh-K6m">Phản ánh</div>
      </div>
    </div>
  </div>
  <div class="frame-3943-yh7">
    <div class="frame-header-Esw">
      <p class="ha-n-PF3">Hóa đơn  </p>
      <div class="group-user-info-WaZ">
        <div class="auto-group-uhlx-4ry">
          <p class="name-and-first-name-CiH">Name and First Name</p>
          <p class="id-number-or-worker-number-wQy">ID number or worker number</p>
        </div>
        <div class="user-avatar-Gy3">
        </div>
      </div>
    </div>
    <div class="auto-group-1ets-YvZ">
      <div class="auto-group-rnvy-5fb">
        <div class="frame-3952-CVK">
          <div class="frame-search-vw7">
            <div class="thi-gian-r45">
              <div class="auto-group-ofeb-CNq">
                <p class="label-text-Xg1">Thời gian</p>
                <div class="input-field-S2H">
                  <div class="lead-icon-text-L7f">
                    <img class="icon-outline-layer-5L9" src="./assets/icon-outline-layer-Gvh.png"/>
                    <p class="insert-text-here-DhF">Tháng 10 Năm 2023 </p>
                  </div>
                  <img class="icon-fill-caret-small-down-YzR" src="./assets/icon-fill-caret-small-down-k1b.png"/>
                </div>
              </div>
            </div>
            <div class="tiu--Fdw">
              <div class="auto-group-nfnb-cDb">
                <p class="label-text-NCm">Tiêu đề </p>
                <div class="input-field-6Pf">
                  <div class="lead-icon-text-HU9">
                    <img class="icon-outline-layer-dnu" src="./assets/icon-outline-layer-hBj.png"/>
                    <p class="insert-text-here-wHo">Tìm kiếm </p>
                  </div>
                  <img class="icon-fill-caret-small-down-35w" src="./assets/icon-fill-caret-small-down-8Mb.png"/>
                </div>
              </div>
            </div>
          </div>
          <img class="frame-3963-M6d" src="./assets/frame-3963-fhw.png"/>
        </div>
        <div class="frame-3942-VTj">
          <div class="create-RsB">
            <div class="button-N1j">Tạo</div>
          </div>
          <div class="frame-3839-EJq">
            <div class="auto-group-pzsh-ZM7">
              <div class="header-W1T">
                <p class="c1-zhK">Loại phí</p>
                <p class="c2-8oX">Số tiền</p>
                <p class="c3-5Ts">Hạn nộp</p>
                <p class="c4-bBK">Hộ đã nộp</p>
              </div>
              <div class="header-79f">
                <p class="c1-1Vw">Phí ủng hộ.......</p>
                <p class="c2-weV">100.000đ</p>
                <p class="c3-f4h">23/12/2023</p>
                <div class="frame-3838-nv1">0/12</div>
              </div>
            </div>
            <div class="header-rus">
              <p class="c1-mmw">Phí tham gia......</p>
              <p class="c2-7L1">30.000đ</p>
              <p class="c3-E9j">12/10/2023</p>
              <div class="frame-3838-N13">8/12</div>
            </div>
            <div class="header-pdj">
              <p class="c1-9g1">Phí cải tạo........</p>
              <p class="c2-6bF">50.000đ</p>
              <p class="c3-Dfs">12/6/2023</p>
              <div class="frame-3838-M1P">4/12</div>
            </div>
            <div class="header-PTs">
              <p class="c1-vTo">Phí tham gia......</p>
              <p class="c2-TTj">30.000đ</p>
              <p class="c3-yS5">12/10/2023</p>
              <div class="frame-3838-4yK">12/12</div>
            </div>
            <div class="header-6f7">
              <p class="c1-dQ9">Phí cải tạo........</p>
              <p class="c2-Ncd">50.000đ</p>
              <p class="c3-861">12/6/2023</p>
              <div class="frame-3838-Gi1">7/12</div>
            </div>
          </div>
          <div class="item-02-kdB">
            <div class="frame-16-tzH">
              <p class="previous-cvH">Previous</p>
              <div class="frame-15-xz9">1</div>
              <p class="next-FTT">Next</p>
            </div>
          </div>
        </div>
      </div>
      <div class="button-yuF">
        <div class="frame-turn-back-button-5hP">
          <img class="corner-down-left-chK" src="./assets/corner-down-left-Wcm.png"/>
          <p class="quay-li-6sP">Quay lại</p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>