<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>QL-Thêm dân cư</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A400"/>
  <link rel="stylesheet" href="./styles/ql-thm-dn-c.css"/>
</head>
<body>
<div class="ql-thm-dn-c-ae9">
  <div class="frame-drawer-sdF">
    <div class="logo-ywB">
      <img class="app-logo-KVF" src="./assets/app-logo-RmX.png"/>
    </div>
    <div class="navigate-2uT">
      <div class="trang-ch--ms3">
        <img class="icon-home-7AD" src="./assets/icon-home-rz9.png"/>
        <div class="trang-ch-22H">Trang chủ </div>
      </div>
      <div class="cn-h-VwT">
        <img class="icon-user-circle-alt-2gV" src="./assets/icon-user-circle-alt-aaq.png"/>
        <div class="cn-h-8zR">Căn hộ</div>
      </div>
      <div class="ha-n-TWu">
        <img class="icon-wallet-kku" src="./assets/icon-wallet-NJh.png"/>
        <div class="ha-n-f7B">Hóa đơn</div>
      </div>
      <div class="phn-nh-ir9">
        <img class="icon-message-text-rxM" src="./assets/icon-message-text-Eyb.png"/>
        <div class="phn-nh-zof">Phản ánh</div>
      </div>
    </div>
  </div>
  <div class="frame-header-and-content-Tx9">
    <div class="frame-header-b2m">
      <p class="thng-tin-c-dn-TKs">Thông tin cư dân</p>
      <div class="group-user-info-mbT">
        <div class="auto-group-jkqw-vjF">
          <p class="name-and-first-name-rso">Name and First Name</p>
          <p class="id-number-or-worker-number-BQH">ID number or worker number</p>
        </div>
        <div class="user-avatar-KFb">
        </div>
      </div>
    </div>
    <div class="content-yL9">
      <div class="form-gVT">
        <div class="frame-types-of-infos-cP7">
          <div class="auto-group-wvij-xC5">
            <div class="frame-3849-gtm">Họ và tên:</div>
            <div class="frame-3850-QZs">Ngày sinh:</div>
            <div class="frame-3845-syF">Số phòng</div>
            <div class="frame-3846-nKX">CCCD:</div>
            <div class="frame-3851-76u">Nghề nghiệp:</div>
            <div class="frame-3845-S9B">Số điện thoại:</div>
          </div>
          <div class="frame-3852-YCD">Email:</div>
          <div class="frame-3845-4gM">Quan hệ với chủ hộ:</div>
        </div>
        <div class="frame-info-YrR">
          <div class="thi-gian-4Zs">
            <div class="auto-group-irdq-nVs">
              <p class="label-text-kBo">Thời gian</p>
              <div class="input-field-qyw">
              </div>
            </div>
          </div>
          <div class="thi-gian-aAq">
            <div class="auto-group-ggyt-KeD">
              <p class="label-text-Un1">Thời gian</p>
              <div class="input-field-YWy">
                <img class="icon-fill-caret-small-down-Eub" src="./assets/icon-fill-caret-small-down-JGD.png"/>
              </div>
            </div>
          </div>
          <div class="thi-gian-jbT">
            <div class="auto-group-q6gb-4Nq">
              <p class="label-text-pN1">Thời gian</p>
              <div class="input-field-7ru">
                <div class="lead-icon-text-GE1">P1101</div>
              </div>
            </div>
          </div>
          <div class="thi-gian-Uqs">
            <div class="auto-group-ww2k-DoT">
              <p class="label-text-BEV">Thời gian</p>
              <div class="input-field-ugH">
              </div>
            </div>
          </div>
          <div class="thi-gian-EiZ">
            <div class="auto-group-5mgf-yAM">
              <p class="label-text-FNm">Thời gian</p>
              <div class="input-field-LQD">
              </div>
            </div>
          </div>
          <div class="thi-gian-fhP">
            <div class="auto-group-mz91-pKP">
              <p class="label-text-Nbo">Thời gian</p>
              <div class="input-field-WT7">
              </div>
            </div>
          </div>
          <div class="thi-gian-2RT">
            <div class="auto-group-ecvy-kcM">
              <p class="label-text-7Su">Thời gian</p>
              <div class="input-field-Szy">
              </div>
            </div>
          </div>
          <div class="thi-gian-yzu">
            <div class="auto-group-3ebm-ihb">
              <p class="label-text-gPX">Thời gian</p>
              <div class="input-field-pEq">
                <img class="icon-fill-caret-small-down-Xf3" src="./assets/icon-fill-caret-small-down-cRb.png"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="button-yX3">
        <div class="frame-turn-back-button-hxq">
          <img class="corner-down-left-Ehs" src="./assets/corner-down-left.png"/>
          <p class="quay-li-y9f">Quay lại</p>
        </div>
        <div class="frame-3852-S3F">Xác nhận</div>
      </div>
    </div>
  </div>
</div>
</body>