<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>QL - Tạo Hóa đơn </title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato%3A700"/>
  <link rel="stylesheet" href="./styles/ql-to-ha-n-.css"/>
</head>
<body>
<div class="ql-to-ha-n--8ih">
  <div class="frame-drawer-rPo">
    <div class="logo-9do">
      <img class="app-logo-63F" src="./assets/app-logo-Wih.png"/>
    </div>
    <div class="navigate-Cc5">
      <div class="trang-ch--7yw">
        <img class="icon-home-Dn5" src="./assets/icon-home-wPb.png"/>
        <div class="trang-ch-8e9">Trang chủ </div>
      </div>
      <div class="cn-h-zgM">
        <img class="icon-user-circle-alt-Wub" src="./assets/icon-user-circle-alt-4bX.png"/>
        <div class="cn-h-SoF">Căn hộ</div>
      </div>
      <div class="ha-n-viR">
        <img class="icon-wallet-Fkh" src="./assets/icon-wallet-63F.png"/>
        <div class="ha-n-NaR">Hóa đơn</div>
      </div>
      <div class="phn-nh-T65">
        <img class="icon-message-text-Bnm" src="./assets/icon-message-text-tpD.png"/>
        <div class="phn-nh-7wK">Phản ánh</div>
      </div>
    </div>
  </div>
  <div class="frame-3870-kzH">
    <div class="frame-header-VS5">
      <p class="ha-n-19X">Hóa đơn</p>
      <div class="group-user-info-7TT">
        <div class="auto-group-hcfv-UJ1">
          <p class="name-and-first-name-Cjo">Name and First Name</p>
          <p class="id-number-or-worker-number-8tM">ID number or worker number</p>
        </div>
        <img class="user-avatar-4n1" src="./assets/user-avatar.png"/>
      </div>
    </div>
    <div class="frame-153-N21">
      <p class="tn-khon-ph-n-gi-ngy-bt-u-kt-thc-thng-tin-chi-tit-QjP">
      Tên khoản phí
      <br/>
      
      <br/>
      Đơn giá
      <br/>
      
      <br/>
      Ngày bắt đầu / Kết thúc
      <br/>
      
      <br/>
      Thông tin chi tiết
      </p>
      <div class="frame-154-VVw">
        <div class="rectangle-75-q41">
        </div>
        <div class="rectangle-76-jv5">
        </div>
        <div class="frame-3964-tY5">
          <div class="rectangle-77-T5P">
          </div>
          <div class="rectangle-78-ndT">
          </div>
        </div>
        <div class="rectangle-74-giq">
        </div>
      </div>
    </div>
    <div class="button-A8D">
      <div class="frame-turn-back-button-6Gm">
        <img class="corner-down-left-piZ" src="./assets/corner-down-left-HC9.png"/>
        <p class="quay-li-ks7">Quay lại</p>
      </div>
      <div class="frame-3852-UHK">Xác nhận</div>
    </div>
  </div>
</div>
</body>