<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Quản trị - Chi tiết phản ánh</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato%3A400%2C700"/>
  <link rel="stylesheet" href="./styles/qun-tr-chi-tit-phn-nh.css"/>
</head>
<body>
<div class="qun-tr-chi-tit-phn-nh-DP3">
  <div class="frame-drawer-91o">
    <div class="logo-qfK">
      <img class="app-logo-PB3" src="./assets/app-logo-t9K.png"/>
    </div>
    <div class="navigate-iz1">
      <div class="trang-ch--Dfs">
        <img class="icon-home-MGH" src="./assets/icon-home-CjF.png"/>
        <div class="trang-ch-DpH">Trang chủ </div>
      </div>
      <div class="ha-n-iFF">
        <img class="icon-wallet-3oK" src="./assets/icon-wallet-3r5.png"/>
        <div class="ha-n-LnR">Hóa đơn</div>
      </div>
      <div class="phn-nh-f41">
        <img class="icon-message-text-Q1b" src="./assets/icon-message-text-SQ5.png"/>
        <div class="phn-nh-XM7">Phản ánh</div>
      </div>
    </div>
  </div>
  <div class="frame-header-and-content-zEh">
    <div class="frame-header-7aD">
      <p class="phn-nh-WsF">Phản ánh </p>
      <div class="group-user-info-EoF">
        <div class="auto-group-zww3-CVB">
          <p class="name-and-first-name-6aZ">Name and First Name</p>
          <p class="id-number-or-worker-number-ozm">ID number or worker number</p>
        </div>
        <div class="user-avatar-MFb">
        </div>
      </div>
    </div>
    <div class="frame-3946-SH3">
      <div class="frame-info-jmw">
        <p class="ngi-gi-s-h-s-in-thoi-ni-dung-Gms">
        Người gửi                   
        <br/>
        
        <br/>
        Số hộ
        <br/>
        
        <br/>
        Số điện thoại
        <br/>
        
        <br/>
        
        <br/>
        Nội dung 
        <br/>
        
        </p>
        <p class="nguyn-quc-t-p1101-077-hai-five-30-su-su-su-ti-khng-thch-qun-l-lm-n-i-qun-l-i-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-duis-aute-irure-dolor-in-reprehenderit-in-voluptate-velit-esse-cillum-dolore-eu-fugiat-nulla-pariatur-excepteur-sint-occaecat-cupidatat-non-proident-sunt-in-culpa-qui-officia-deserunt-mollit-anim-id-est-laborum-aGm">
        Nguyễn Quốc Tú                   
        <br/>
        
        <br/>
        P1101
        <br/>
        
        <br/>
        077 hai five 30 sáu sáu sáu
        <br/>
        
        <br/>
        
        <br/>
        Tôi không thích quản lý, làm ơn đổi quản lý đi
        <br/>
        
        <br/>
        “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.”
        </p>
      </div>
      <div class="frame-state--cMs">
        <p class="trng-thi-9ch">
        Trạng thái 
        <br/>
        
        </p>
        <div class="frame-slide-bar-Hiu">
          <div class="thi-gian-F9w">
            <div class="auto-group-ujgo-8Dj">
              <p class="label-text-TWu">Thời gian</p>
              <div class="input-field-645">
                <div class="lead-icon-text-mAD">Đang xử lý</div>
                <img class="icon-fill-caret-small-down-och" src="./assets/icon-fill-caret-small-down-dC9.png"/>
              </div>
            </div>
          </div>
          <div class="rectangle-77-ggV">
          </div>
          <p class="cha-x-l-ang-x-l-x-l-Yih">
          Chưa xử lý
          <br/>
          
          <br/>
          Đang xử lý
          <br/>
          
          <br/>
          Đã xử lý
          </p>
        </div>
      </div>
    </div>
    <div class="button-CYM">
      <div class="frame-turn-back-button-WZ3">
        <img class="corner-down-left-Ezq" src="./assets/corner-down-left-dzu.png"/>
        <p class="quay-li-xvq">Quay lại</p>
      </div>
      <div class="frame-3852-HCR">Xác nhận</div>
    </div>
  </div>
</div>
</body>