<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Quản trị - Xem phản ánh</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C700"/>
  <link rel="stylesheet" href="./styles/qun-tr-xem-phn-nh.css"/>
</head>
<body>
<div class="qun-tr-xem-phn-nh-893">
  <div class="frame-drawer-e7P">
    <div class="logo-Xws">
      <img class="app-logo-sVw" src="./assets/app-logo-c6H.png"/>
    </div>
    <div class="navigate-cTX">
      <div class="trang-ch--8gm">
        <img class="icon-home-DiD" src="./assets/icon-home-ViM.png"/>
        <div class="trang-ch-vcd">Trang chủ </div>
      </div>
      <div class="ha-n-CKF">
        <img class="icon-wallet-8ih" src="./assets/icon-wallet-FDP.png"/>
        <div class="ha-n-sAV">Hóa đơn</div>
      </div>
      <div class="phn-nh-XVw">
        <img class="icon-message-text-r2R" src="./assets/icon-message-text-uDf.png"/>
        <div class="phn-nh-ZxR">Phản ánh</div>
      </div>
    </div>
  </div>
  <div class="frame-header-and-content-rwX">
    <div class="frame-header-acd">
      <p class="thng-bo-WWH">Thông báo </p>
      <div class="group-user-info-ESH">
        <div class="auto-group-dpsu-ZzM">
          <p class="name-and-first-name-ham">Name and First Name</p>
          <p class="id-number-or-worker-number-38q">ID number or worker number</p>
        </div>
        <div class="user-avatar-n6R">
        </div>
      </div>
    </div>
    <div class="auto-group-ays3-4Zj">
      <div class="auto-group-bt8w-mU9">
        <div class="frame-3951-ieH">
          <div class="frame-search-pSR">
            <div class="thi-gian-AmB">
              <div class="auto-group-bk83-X5w">
                <p class="label-text-GpD">Thời gian</p>
                <div class="input-field-mky">
                  <div class="lead-icon-text-sp1">
                    <img class="icon-outline-layer-19X" src="./assets/icon-outline-layer-4iH.png"/>
                    <p class="insert-text-here-JPX">Tháng 10 Năm 2023 </p>
                  </div>
                  <img class="icon-fill-caret-small-down-dgh" src="./assets/icon-fill-caret-small-down-UCu.png"/>
                </div>
              </div>
            </div>
            <div class="tiu--L5K">
              <div class="auto-group-mahz-tMj">
                <p class="label-text-RcZ">Tiêu đề </p>
                <div class="input-field-6Cu">
                  <div class="lead-icon-text-1qf">
                    <img class="icon-outline-layer-NAR" src="./assets/icon-outline-layer-zDT.png"/>
                    <p class="insert-text-here-K5f">Tìm kiếm </p>
                  </div>
                  <img class="icon-fill-caret-small-down-Fk1" src="./assets/icon-fill-caret-small-down-oP3.png"/>
                </div>
              </div>
            </div>
          </div>
          <img class="frame-3963-9Kb" src="./assets/frame-3963-A37.png"/>
        </div>
        <div class="frame-notifications-sWV">
          <div class="header-vDs">
            <p class="c1-TUh">Ngưởi gửi </p>
            <p class="c2-N5s">Nội dung</p>
            <p class="c3-u5o">Ngày </p>
            <p class="c4-ows">Trạng thái</p>
          </div>
          <div class="header-Lwo">
            <p class="c1-qtZ">Nguyễn Văn A</p>
            <p class="c2-mnD">.............</p>
            <p class="c3-UAq">11/28/2023</p>
            <div class="frame-3838-QKP">Chưa xử lý </div>
          </div>
          <div class="header-FL1">
            <p class="c1-9RP">Nguyễn Văn A</p>
            <p class="c2-gRK">..............</p>
            <p class="c3-Pad">11/28/2023</p>
            <div class="frame-3838-Er9">Đã xử lý </div>
          </div>
          <div class="header-zyj">
            <p class="c1-iPw">Nguyễn Văn C</p>
            <p class="c2-MSu">.............</p>
            <p class="c3-UGd">31/9/2023</p>
            <div class="frame-3838-CCd">Đang xử lý</div>
          </div>
          <div class="header-y6u">
            <p class="c1-Vqw">Nguyễn Văn C</p>
            <p class="c2-dhF">..............</p>
            <p class="c3-moT">31/9/2023</p>
            <div class="frame-3838-5p9">Chưa xem</div>
          </div>
        </div>
      </div>
      <div class="button-hKj">
        <div class="frame-turn-back-button-Fc9">
          <img class="corner-down-left-bAD" src="./assets/corner-down-left-Ams.png"/>
          <p class="quay-li-WHB">Quay lại</p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>