<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Quản trị - Xem Thu chi </title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="./styles/qun-tr-xem-thu-chi-.css"/>
</head>
<body>
<div class="qun-tr-xem-thu-chi--NdB">
  <div class="frame-drawer-URK">
    <div class="logo-NWh">
      <img class="app-logo-KB3" src="./assets/app-logo-Xq7.png"/>
    </div>
    <div class="navigate-EJ1">
      <div class="trang-ch--AxM">
        <img class="icon-home-Jof" src="./assets/icon-home-ded.png"/>
        <div class="trang-ch-pGD">Trang chủ </div>
      </div>
      <div class="ha-n-gZK">
        <img class="icon-wallet-CGm" src="./assets/icon-wallet.png"/>
        <div class="ha-n-7Pj">Hóa đơn</div>
      </div>
      <div class="phn-nh-RvD">
        <img class="icon-message-text-Yjw" src="./assets/icon-message-text-ATX.png"/>
        <div class="phn-nh-g5T">Phản ánh</div>
      </div>
    </div>
  </div>
  <div class="frame-header-and-content-xof">
    <div class="frame-header-69B">
      <p class="ha-n-RhF">Hóa đơn  </p>
      <div class="group-user-info-LZK">
        <div class="auto-group-sgvz-sZF">
          <p class="name-and-first-name-QZB">Name and First Name</p>
          <p class="id-number-or-worker-number-jrM">ID number or worker number</p>
        </div>
        <div class="user-avatar-UZ3">
        </div>
      </div>
    </div>
    <div class="auto-group-vvqw-YJ1">
      <div class="auto-group-ahak-s5P">
        <div class="frame-3952-D9F">
          <div class="frame-search-XQq">
            <div class="thi-gian-g2q">
              <div class="auto-group-qaju-atu">
                <p class="label-text-9BK">Thời gian</p>
                <div class="input-field-dsB">
                  <div class="lead-icon-text-Xhf">
                    <img class="icon-outline-layer-Ucu" src="./assets/icon-outline-layer.png"/>
                    <p class="insert-text-here-n7o">Tháng 10 Năm 2023 </p>
                  </div>
                  <img class="icon-fill-caret-small-down-7Qy" src="./assets/icon-fill-caret-small-down-m5X.png"/>
                </div>
              </div>
            </div>
            <div class="tiu--WCD">
              <div class="auto-group-kyn3-fL1">
                <p class="label-text-2AZ">Tiêu đề </p>
                <div class="input-field-7Su">
                  <div class="lead-icon-text-bcy">
                    <img class="icon-outline-layer-kEy" src="./assets/icon-outline-layer-vVb.png"/>
                    <p class="insert-text-here-J1b">Tìm kiếm </p>
                  </div>
                  <img class="icon-fill-caret-small-down-ER3" src="./assets/icon-fill-caret-small-down-oy7.png"/>
                </div>
              </div>
            </div>
          </div>
          <img class="frame-3963-j6u" src="./assets/frame-3963-pyT.png"/>
        </div>
        <div class="frame-3839-GMj">
          <div class="header-nL5">
            <p class="c1-vSH">Loại phí</p>
            <p class="c2-Tx1">Số tiền</p>
            <p class="c3-PKs">Hạn nộp</p>
            <p class="c4-v4u">Hộ đã nộp</p>
          </div>
          <div class="header-Fcy">
            <p class="c1-Kcq">Phí ủng hộ</p>
            <p class="c2-pJh">100.000đ</p>
            <p class="c3-XD7">23/12/2023</p>
            <div class="frame-3838-Sqs">0/12</div>
          </div>
          <div class="header-Waq">
            <p class="c1-DVF">Phí tham gia</p>
            <p class="c2-wg9">30.000đ</p>
            <p class="c3-gNq">12/10/2023</p>
            <div class="frame-3838-bEu">8/12</div>
          </div>
          <div class="header-ptM">
            <p class="c1-ASR">Phí cải tạo</p>
            <p class="c2-5JV">50.000đ</p>
            <p class="c3-DvV">12/6/2023</p>
            <div class="frame-3838-9ZF">4/12</div>
          </div>
          <div class="header-FcH">
            <p class="c1-mKj">Phí tham gia</p>
            <p class="c2-HJ5">30.000đ</p>
            <p class="c3-Cfw">12/10/2023</p>
            <div class="frame-3838-u4Z">12/12</div>
          </div>
          <div class="header-awP">
            <p class="c1-vEZ">Phí cải tạo</p>
            <p class="c2-s9o">50.000đ</p>
            <p class="c3-CC5">12/6/2023</p>
            <div class="frame-3838-KXb">7/12</div>
          </div>
        </div>
      </div>
      <div class="button-aiR">
        <div class="frame-turn-back-button-vGV">
          <img class="corner-down-left-47o" src="./assets/corner-down-left-foT.png"/>
          <p class="quay-li-nZb">Quay lại</p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>