<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Tạo phản ánh </title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C700"/>
  <link rel="stylesheet" href="./styles/to-phn-nh-.css"/>
</head>
<body>
<div class="to-phn-nh--KNd">
  <div class="frame-drawer-FXB">
    <div class="logo-XzV">
      <img class="app-logo-soT" src="./assets/app-logo-XHw.png"/>
    </div>
    <div class="navigate-18y">
      <div class="trang-ch--LBF">
        <img class="icon-home-q81" src="./assets/icon-home-1nD.png"/>
        <div class="trang-ch-ZZo">Trang chủ </div>
      </div>
      <div class="cn-h-roo">
        <img class="icon-user-circle-alt-Ccm" src="./assets/icon-user-circle-alt-q9F.png"/>
        <div class="cn-h-V65">Căn hộ</div>
      </div>
      <div class="ha-n-NvZ">
        <img class="icon-wallet-7t9" src="./assets/icon-wallet-hpq.png"/>
        <div class="ha-n-FDf">Hóa đơn</div>
      </div>
      <div class="phn-nh-ZVF">
        <img class="icon-message-text-tGd" src="./assets/icon-message-text-ZYh.png"/>
        <div class="phn-nh-DZo">Phản ánh</div>
      </div>
    </div>
  </div>
  <div class="frame-3983-iFf">
    <div class="frame-header-Tj3">
      <p class="phn-nh-Nr1">Phản ánh</p>
      <div class="group-user-info-s25">
        <div class="auto-group-mhxh-aSH">
          <p class="name-and-first-name-Waq">Name and First Name</p>
          <p class="id-number-or-worker-number-SjP">ID number or worker number</p>
        </div>
        <div class="user-avatar-yzD">
        </div>
      </div>
    </div>
    <div class="auto-group-zi5h-GiR">
      <div class="frame-3889-Ddf">
        <p class="tn-s-h-s-in-thoi-ni-dung-9XK">
        Tên                    
        <br/>
        
        <br/>
        Số hộ
        <br/>
        
        <br/>
        Số điện thoại
        <br/>
        
        <br/>
        Nội dung 
        </p>
        <div class="frame-3888-Xnm">
          <div class="rectangle-75-Fyf">
          </div>
          <div class="rectangle-71-zwF">
          </div>
          <div class="rectangle-73-wbb">
          </div>
          <div class="rectangle-74-tWq">
          </div>
        </div>
      </div>
      <div class="button-aPf">
        <div class="frame-turn-back-button-vTX">
          <img class="corner-down-left-2mT" src="./assets/corner-down-left-gm3.png"/>
          <p class="quay-li-N4d">Quay lại</p>
        </div>
        <div class="frame-3852-Fu7">Gửi</div>
      </div>
    </div>
  </div>
</div>
</body>