<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Trang chủ - Quản trị</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato%3A400%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat%3A500"/>
  <link rel="stylesheet" href="./styles/trang-ch-qun-tr.css"/>
</head>
<body>
<div class="trang-ch-qun-tr-LQm">
  <div class="frame-drawer-rP7">
    <div class="logo-BAV">
      <img class="app-logo-usB" src="./assets/app-logo-dws.png"/>
    </div>
    <div class="navigate-FRF">
      <div class="trang-ch--ztd">
        <img class="icon-home-Kg1" src="./assets/icon-home-xUu.png"/>
        <div class="trang-ch-c9K">Trang chủ </div>
      </div>
      <div class="ha-n-uPK">
        <img class="icon-wallet-3Ed" src="./assets/icon-wallet-BbK.png"/>
        <div class="ha-n-9YZ">Hóa đơn</div>
      </div>
      <div class="phn-nh-Ea1">
        <img class="icon-message-text-wjK" src="./assets/icon-message-text-2x5.png"/>
        <div class="phn-nh-FED">Phản ánh</div>
      </div>
    </div>
  </div>
  <div class="frame-header-and-content-XhX">
    <div class="frame-header-fYq">
      <p class="trang-ch-avh">Trang  chủ </p>
      <div class="group-user-info-VXs">
        <div class="auto-group-1ksf-eff">
          <p class="name-and-first-name-kih">Name and First Name</p>
          <p class="id-number-or-worker-number-rWq">ID number or worker number</p>
        </div>
        <div class="user-avatar-nfP">
        </div>
      </div>
    </div>
    <div class="frame-main-content-2Jq">
      <div class="frame-thng-k-chung--n37">
        <div class="group-s-lng-c-dn--HkZ">
          <img class="icon-group-1Am" src="./assets/icon-group.png"/>
          <div class="auto-group-zbby-Ua9">
            <p class="s-lng-c-dn-EJR">Số lượng Cư dân</p>
            <p class="item-1011-kXf">1011</p>
          </div>
        </div>
        <div class="group-s-cn-h--P4q">
          <img class="icon-home-simple-door-Ury" src="./assets/icon-home-simple-door.png"/>
          <div class="auto-group-ggz7-kpV">
            <p class="cn-h-K6u">Căn hộ</p>
            <p class="item-311-RQq">311</p>
          </div>
        </div>
        <div class="group-s-ha-n--rm3">
          <div class="icon-coin-nPo">
            <img class="vector-W4u" src="./assets/vector.png"/>
          </div>
          <div class="auto-group-bnxm-1XT">
            <p class="ho-n-hin-c-mWd">Hoá đơn hiện có</p>
            <p class="item-3-8-g7o">3 / 8</p>
          </div>
        </div>
      </div>
      <div class="frame-3965-Vqw">
        <div class="frame-m-t-ta-nh--SWH">
          <div class="frame-building-image-NPw">
            <p class="thng-tin-to-nh-gfX">Thông tin toà nhà</p>
            <img class="unsplash-5q1knujtjam-2Db" src="./assets/unsplash-5q1knujtjam.png"/>
          </div>
          <div class="frame-building-description-8Gd">
            <p class="ta-vp-5-khu-th-linh-m-TJu">Tòa VP 5, Khu đô thị Linh Đàm</p>
            <div class="frame-key-val-aPX">
              <p class="m-to-nh-doanh-nghip-thng-tin-lin-h-a-ch-7PT">
              Mã toà nhà
              <br/>
              
              <br/>
              Doanh nghiệp  
              <br/>
              
              <br/>
              Thông tin liên hệ
              <br/>
              
              <br/>
              Địa chỉ
              </p>
              <p class="vp5-tng-cng-ty-u-t-pht-trin-hud-hudgrouphudcomvn-p-nguyn-duy-trinh-khu-th-linh-m-hong-mai-h-ni-vit-nam-bpR">
              : VP5
              <br/>
              
              <br/>
              : Tổng công ty đầu tư phát triển HUD
              <br/>
              
              <br/>
              : hudgroup@hud.com.vn
              <br/>
              
              <br/>
              : P. Nguyễn Duy Trinh, Khu đô thị Linh Đàm, Hoàng Mai, Hà Nội, Việt Nam
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="notice-NCu">
      <div class="auto-group-wkcb-hky">
        <p class="thng-bo-mi-DjK">
        Thông báo mới
        <br/>
        
        </p>
        <div class="frame-notifications-85b">
          <div class="header-9mP">
            <p class="c1-4NZ">Tiều đề</p>
            <p class="c4-BTB">Thao tác</p>
            <p class="c2-6q3">Loại</p>
            <p class="c3-Stu">Ngày </p>
          </div>
          <div class="header-nC5">
            <div class="auto-group-jmsh-Hed">Mèo mắc cây</div>
            <p class="c2-wUH">Phản ánh</p>
            <p class="c3-scq">11/28/2023</p>
          </div>
          <div class="header-A69">
            <div class="auto-group-sd47-UsX">Chó tè bậy</div>
            <p class="c2-avZ">Phản ánh</p>
            <p class="c3-X57">11/28/2023</p>
          </div>
        </div>
      </div>
      <div class="item-02-ddw">
        <div class="frame-16-ZXb">
          <p class="previous-gMK">Previous</p>
          <div class="frame-15-2AH">1</div>
          <p class="next-sRo">Next</p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>