<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Trang chủ - Công dân</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato%3A400%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat%3A500"/>
  <link rel="stylesheet" href="./styles/trang-ch-cng-dn.css"/>
</head>
<body>
<div class="trang-ch-cng-dn-Zqo">
  <div class="frame-drawer-FCq">
    <div class="logo-tmb">
      <img class="app-logo-PyF" src="./assets/app-logo-bSm.png"/>
    </div>
    <div class="navigate-ugh">
      <div class="trang-ch--pYm">
        <img class="icon-home-GQm" src="./assets/icon-home-K8R.png"/>
        <div class="trang-ch-Ktq">Trang chủ </div>
      </div>
      <div class="cn-h-ig5">
        <img class="icon-user-circle-alt-Q37" src="./assets/icon-user-circle-alt-mMX.png"/>
        <div class="cn-h-fzd">Căn hộ</div>
      </div>
      <div class="ha-n-TvV">
        <img class="icon-wallet-kPo" src="./assets/icon-wallet-Ebf.png"/>
        <div class="ha-n-Qz9">Hóa đơn</div>
      </div>
      <div class="phn-nh-3Qq">
        <img class="icon-message-text-KdF" src="./assets/icon-message-text-tw7.png"/>
        <div class="phn-nh-aZB">Phản ánh</div>
      </div>
    </div>
  </div>
  <div class="frame-header-and-content-m7s">
    <div class="frame-header-dQy">
      <p class="trang-ch-8Mj">Trang  chủ </p>
      <div class="group-user-info-9nd">
        <div class="auto-group-xlgb-4eh">
          <p class="name-and-first-name-xk5">Name and First Name</p>
          <p class="id-number-or-worker-number-BMw">ID number or worker number</p>
        </div>
        <div class="user-avatar-g3o">
        </div>
      </div>
    </div>
    <div class="frame-main-content-HJV">
      <div class="frame-3890-nFF">
        <div class="frame-154-6Wq">
          <div class="icon-profile-circled-XkZ">
            <img class="vector-NWH" src="./assets/vector-ddX.png"/>
            <img class="vector-T1w" src="./assets/vector-nuB.png"/>
          </div>
          <div class="frame-3985-iyT">
            <p class="p1011-Tw3">P.1011</p>
            <p class="c-dn-mai-nguyn-ngc-huy-NYD">Cư dân : Mai Nguyễn Ngọc Huy</p>
          </div>
        </div>
        <div class="frame-139-n69">
          <img class="icon-group-dMf" src="./assets/icon-group-Siq.png"/>
          <div class="frame-3986-iP7">
            <p class="s-thnh-vin-D4y">Số thành viên</p>
            <p class="thnh-vin-6uT">
              <span class="thnh-vin-6uT-sub-0">4 </span>
              <span class="thnh-vin-6uT-sub-1">thành viên</span>
            </p>
          </div>
        </div>
      </div>
      <div class="frame-3965-ixm">
        <div class="frame-m-t-ta-nh--rp5">
          <div class="frame-building-image-Ywo">
            <p class="thng-tin-to-nh-UaZ">Thông tin toà nhà</p>
            <img class="unsplash-5q1knujtjam-BE5" src="./assets/unsplash-5q1knujtjam-H97.png"/>
          </div>
          <div class="frame-building-description-gAq">
            <p class="ta-vp-5-khu-th-linh-m-LWH">Tòa VP 5, Khu đô thị Linh Đàm</p>
            <div class="frame-key-val-yZF">
              <p class="m-to-nh-doanh-nghip-thng-tin-lin-h-a-ch-Wp5">
              Mã toà nhà
              <br/>
              
              <br/>
              Doanh nghiệp  
              <br/>
              
              <br/>
              Thông tin liên hệ
              <br/>
              
              <br/>
              Địa chỉ
              </p>
              <p class="vp5-tng-cng-ty-u-t-pht-trin-hud-hudgrouphudcomvn-p-nguyn-duy-trinh-khu-th-linh-m-hong-mai-h-ni-vit-nam-ZnM">
              : VP5
              <br/>
              
              <br/>
              : Tổng công ty đầu tư phát triển HUD
              <br/>
              
              <br/>
              : hudgroup@hud.com.vn
              <br/>
              
              <br/>
              : P. Nguyễn Duy Trinh, Khu đô thị Linh Đàm, Hoàng Mai, Hà Nội, Việt Nam
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="notice-EGD">
      <div class="auto-group-c9nt-M5w">
        <p class="thng-bo-mi-T8y">
        Thông báo mới
        <br/>
        
        </p>
        <div class="frame-notifications-tVB">
          <div class="header-acu">
            <p class="c1-H1X">Tiều đề</p>
            <p class="c4-b2D">Thao tác</p>
            <p class="c2-uHo">Loại</p>
            <p class="c3-PCy">Ngày </p>
          </div>
          <div class="header-rMT">
            <div class="auto-group-swp7-iPf">Mèo mắc cây</div>
            <p class="c2-ZQH">Phản ánh</p>
            <p class="c3-Fnu">11/28/2023</p>
          </div>
          <div class="header-XkR">
            <div class="auto-group-ac9z-oxq">Chó tè bậy</div>
            <p class="c2-c9b">Phản ánh</p>
            <p class="c3-76M">11/28/2023</p>
          </div>
        </div>
      </div>
      <div class="item-02-iM3">
        <div class="frame-16-dyo">
          <p class="previous-xmB">Previous</p>
          <div class="frame-15-FkH">1</div>
          <p class="next-gah">Next</p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>