<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Xem thông tin hóa đơn</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato%3A400%2C700"/>
  <link rel="stylesheet" href="./styles/xem-thng-tin-ha-n-tHB.css"/>
</head>
<body>
<div class="xem-thng-tin-ha-n-ZT3">
  <div class="frame-drawer-fW5">
    <div class="logo-knR">
      <img class="app-logo-u9X" src="./assets/app-logo-QMj.png"/>
    </div>
    <div class="navigate-Rdf">
      <div class="trang-ch--Zzm">
        <img class="icon-home-V7j" src="./assets/icon-home-Wh3.png"/>
        <div class="trang-ch-o8R">Trang chủ </div>
      </div>
      <div class="cn-h-uBT">
        <img class="icon-user-circle-alt-21B" src="./assets/icon-user-circle-alt-Nq3.png"/>
        <div class="cn-h-kC5">Căn hộ</div>
      </div>
      <div class="ha-n-Q1j">
        <img class="icon-wallet-7gq" src="./assets/icon-wallet-tK7.png"/>
        <div class="ha-n-Djs">Hóa đơn</div>
      </div>
      <div class="phn-nh-hQ9">
        <img class="icon-message-text-Bq7" src="./assets/icon-message-text-SAy.png"/>
        <div class="phn-nh-X8H">Phản ánh</div>
      </div>
    </div>
  </div>
  <div class="frame-3959-253">
    <div class="frame-header-Md7">
      <p class="ha-n-Hmf">Hóa đơn</p>
      <div class="group-user-info-1xZ">
        <div class="auto-group-dxak-No7">
          <p class="name-and-first-name-Jwf">Name and First Name</p>
          <p class="id-number-or-worker-number-D33">ID number or worker number</p>
        </div>
        <img class="user-avatar-M9F" src="./assets/user-avatar-9vD.png"/>
      </div>
    </div>
    <div class="auto-group-v1eb-oX3">
      <div class="frame-3957-XT3">
        <div class="frame-3969-rkD">Chọn phương thức thanh toán</div>
        <div class="frame-3956-5cy">
          <div class="frame-3955-d8h">
            <div class="frame-3954-ZHF">
              <img class="image-1-Vgh" src="./assets/image-1.png"/>
              <div class="frame-3953-1Q9">
                <p class="ngn-hng-k6q">Ngân hàng</p>
                <p class="item-200000--G5B">200.000 đ</p>
              </div>
            </div>
            <img class="image-2-ykH" src="./assets/image-2.png"/>
          </div>
          <div class="tm-ngn-hng-iSy">
            <p class="tm-ngn-hng-bmf">Tìm ngân hàng</p>
            <div class="frame-3898-jss">Nhập tên ngân hàng</div>
          </div>
          <div class="ngn-hng-xkd">
            <div class="auto-group-wwaf-q3j">
              <div class="frame-3895-94R">
                <div class="rectangle-83-S3X">
                </div>
                <div class="rectangle-82-Lub">
                </div>
                <p class="vpbank-SBw">VPBank</p>
                <p class="item-200000--wuP">200.000 đ</p>
                <img class="rectangle-84-wnu" src="./assets/rectangle-84-ZAu.png"/>
              </div>
              <div class="frame-3898-GaH">
                <div class="rectangle-83-1Gy">
                </div>
                <div class="rectangle-82-hvV">
                </div>
                <p class="vietinbank-nBF">VietinBank</p>
                <p class="item-200000--g1j">200.000 đ</p>
                <img class="rectangle-84-Z5X" src="./assets/rectangle-84.png"/>
              </div>
            </div>
            <div class="auto-group-yy1z-P4Z">
              <div class="frame-3896-u2u">
                <div class="rectangle-83-pQm">
                </div>
                <div class="rectangle-82-Ybf">
                </div>
                <p class="vpbank-2Wq">VPBank</p>
                <p class="item-200000--9bT">200.000 đ</p>
                <img class="rectangle-84-oR7" src="./assets/rectangle-84-uGy.png"/>
              </div>
              <div class="frame-3899-uyw">
                <div class="rectangle-83-RxH">
                </div>
                <div class="rectangle-82-huo">
                </div>
                <p class="vietinbank-Cbf">VietinBank</p>
                <p class="item-200000--Vam">200.000 đ</p>
                <img class="rectangle-84-DFs" src="./assets/rectangle-84-k7P.png"/>
              </div>
            </div>
            <div class="auto-group-1bkx-kFo">
              <div class="frame-3897-ftZ">
                <div class="rectangle-83-bnD">
                </div>
                <div class="rectangle-82-HQ9">
                </div>
                <p class="vpbank-BVX">VPBank</p>
                <p class="item-200000--H2m">200.000 đ</p>
                <img class="rectangle-84-xPo" src="./assets/rectangle-84-UR3.png"/>
              </div>
              <div class="frame-3900-Hws">
                <div class="rectangle-83-EcD">
                </div>
                <div class="rectangle-82-ZuP">
                </div>
                <p class="vietinbank-1Fb">VietinBank</p>
                <p class="item-200000--L2y">200.000 đ</p>
                <img class="rectangle-84-Rq7" src="./assets/rectangle-84-eqK.png"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="frame-153-9m7">Xác nhận thông tin</div>
    </div>
  </div>
</div>
</body>