<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Xem thông tin hóa đơn</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato%3A400%2C700"/>
  <link rel="stylesheet" href="./styles/xem-thng-tin-ha-n-cr9.css"/>
</head>
<body>
<div class="xem-thng-tin-ha-n-36m">
  <div class="frame-3975-a6h">
    <div class="frame-header-GER">
      <p class="ha-n-hKj">Hóa đơn</p>
      <div class="group-user-info-PTT">
        <div class="auto-group-qyhh-wzm">
          <p class="name-and-first-name-43o">Name and First Name</p>
          <p class="id-number-or-worker-number-YDs">ID number or worker number</p>
        </div>
        <img class="user-avatar-g5B" src="./assets/user-avatar-MWV.png"/>
      </div>
    </div>
    <div class="frame-3982-zbf">
      <div class="frame-3976-JcM">Nhập thông tin thẻ</div>
      <img class="image-3-mVw" src="./assets/image-3.png"/>
      <div class="frame-3978-Vgq">
        <p class="nhp-s-th-Dcq">Nhập số thẻ</p>
        <img class="image-4-tiy" src="./assets/image-4.png"/>
      </div>
      <div class="frame-3980-cey">
        <div class="frame-3978-7bj">Tên ghi trên thẻ</div>
        <div class="frame-3979-wam">Thời gian phát hành</div>
      </div>
      <p class="bng-vic-nhn-vo-nt-thanh-ton-ngay-bn-ng-rng-giao-dch-ny-l-khng-hon-khng-hy-DHP">Bằng việc nhấn vào nút Thanh toán ngay, Bạn đồng ý rằng, giao dịch này là không hoàn, không hủy.</p>
    </div>
    <div class="button-5Kb">
      <div class="frame-turn-back-button-c4d">Hủy</div>
      <div class="frame-3855-gaH">Thanh toán</div>
    </div>
  </div>
  <div class="frame-drawer-8SH">
    <div class="logo-3p9">
      <img class="app-logo-bKs" src="./assets/app-logo-Kkh.png"/>
    </div>
    <div class="navigate-jws">
      <div class="trang-ch--3xZ">
        <img class="icon-home-axV" src="./assets/icon-home-Uxm.png"/>
        <div class="trang-ch-UY5">Trang chủ </div>
      </div>
      <div class="cn-h-PQ9">
        <img class="icon-user-circle-alt-hvd" src="./assets/icon-user-circle-alt-5aV.png"/>
        <div class="cn-h-1gR">Căn hộ</div>
      </div>
      <div class="ha-n-umo">
        <img class="icon-wallet-dho" src="./assets/icon-wallet-EV3.png"/>
        <div class="ha-n-mZ7">Hóa đơn</div>
      </div>
      <div class="phn-nh-Vk1">
        <img class="icon-message-text-SQM" src="./assets/icon-message-text-qEM.png"/>
        <div class="phn-nh-kR3">Phản ánh</div>
      </div>
    </div>
  </div>
</div>
</body>