<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Xem thông tin hóa đơn</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato%3A400%2C600"/>
  <link rel="stylesheet" href="./styles/xem-thng-tin-ha-n-Rgq.css"/>
</head>
<body>
<div class="xem-thng-tin-ha-n-JwX">
  <div class="frame-drawer-nbo">
    <div class="logo-t93">
      <img class="app-logo-bp9" src="./assets/app-logo-Tad.png"/>
    </div>
    <div class="navigate-YDb">
      <div class="trang-ch--5jK">
        <img class="icon-home-pS1" src="./assets/icon-home-mTT.png"/>
        <div class="trang-ch-L9T">Trang chủ </div>
      </div>
      <div class="cn-h-RRo">
        <img class="icon-user-circle-alt-xRj" src="./assets/icon-user-circle-alt-oNm.png"/>
        <div class="cn-h-tKP">Căn hộ</div>
      </div>
      <div class="ha-n-CL5">
        <img class="icon-wallet-Y93" src="./assets/icon-wallet-hfb.png"/>
        <div class="ha-n-DW5">Hóa đơn</div>
      </div>
      <div class="phn-nh-rJ9">
        <img class="icon-message-text-PJ5" src="./assets/icon-message-text-2RB.png"/>
        <div class="phn-nh-ibF">Phản ánh</div>
      </div>
    </div>
  </div>
  <div class="frame-3913-D2D">
    <div class="frame-header-uQq">
      <p class="ha-n-pnh">Hóa đơn</p>
      <div class="group-user-info-MGq">
        <div class="auto-group-eehr-up9">
          <p class="name-and-first-name-qxh">Name and First Name</p>
          <p class="id-number-or-worker-number-Nhj">ID number or worker number</p>
        </div>
        <div class="user-avatar-WZ3">
        </div>
      </div>
    </div>
    <div class="auto-group-aaaf-gbw">
      <div class="frame-3909-zMj">
        <p class="ph-gi-xe-thng-11-2023-p5s">Phí gửi xe tháng 11/2023</p>
        <div class="frame-3908-J13">
          <div class="frame-3910-2hj">
            <div class="frame-3904-LCd">
              <p class="s-tin-6Bo">Số tiền</p>
              <p class="s-h-ng-QiH">Số hộ đã đóng</p>
            </div>
            <div class="frame-3906-wCR">
              <p class="thng-u9F">:   200.000 đ / tháng</p>
              <p class="item-0-1000-S9B">:   0 / 1000</p>
            </div>
          </div>
          <div class="frame-3907-Zjb">
            <p class="thng-tin-chi-tit-H9o">Thông tin chi tiết</p>
            <p class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-duis-aute-irure-dolor-in-reprehenderit-in-voluptate-velit-esse-cillum-dolore-eu-fugiat-nulla-pariatur-excepteur-sint-occaecat-cupidatat-non-proident-sunt-in-culpa-qui-officia-deserunt-mollit-anim-id-est-laborum-DJM">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.”</p>
          </div>
        </div>
      </div>
      <div class="button-vc5">
        <div class="frame-turn-back-button-HBj">
          <img class="corner-down-left-ovm" src="./assets/corner-down-left-Cx5.png"/>
          <p class="quay-li-XLy">Quay lại</p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>