<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Xem thông tin hóa đơn</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato%3A600%2C700"/>
  <link rel="stylesheet" href="./styles/xem-thng-tin-ha-n-6uK.css"/>
</head>
<body>
<div class="xem-thng-tin-ha-n-cf7">
  <div class="content-Y2y">
    <div class="frame-header-4n1">
      <p class="ha-n-hpy">Hóa đơn</p>
      <div class="group-user-info-Pxh">
        <div class="auto-group-nrh9-xW1">
          <p class="name-and-first-name-UDT">Name and First Name</p>
          <p class="id-number-or-worker-number-PrD">ID number or worker number</p>
        </div>
        <img class="user-avatar-j9P" src="./assets/user-avatar-2yT.png"/>
      </div>
    </div>
    <div class="auto-group-b6pt-pRj">
      <div class="frame-153-9iu">
        <p class="ph-gi-xe-thng-11-2023-HaD">Phí gửi xe tháng 11/2023</p>
        <div class="frame-3968-oHf">
          <p class="tn-ng-k-thu-vat-ghi-ch-Wxm">
          Tên đăng ký
          <br/>
          
          <br/>
          Thuế VAT
          <br/>
          
          <br/>
          Ghi chú
          </p>
          <div class="frame-3967-qEM">
            <div class="rectangle-75-ybT">
            </div>
            <div class="rectangle-76-exV">
            </div>
            <div class="rectangle-74-Cj7">
            </div>
          </div>
        </div>
      </div>
      <div class="button-iSZ">
        <div class="frame-turn-back-button-QqB">
          <img class="corner-down-left-9Gy" src="./assets/corner-down-left-Ggm.png"/>
          <p class="quay-li-ejX">Quay lại</p>
        </div>
        <div class="frame-3852-uvM">Xác nhận</div>
      </div>
    </div>
  </div>
  <div class="frame-drawer-Lkm">
    <div class="logo-rz1">
      <img class="app-logo-QVj" src="./assets/app-logo-sKB.png"/>
    </div>
    <div class="navigate-7uw">
      <div class="trang-ch--zTw">
        <img class="icon-home-JjX" src="./assets/icon-home-xRs.png"/>
        <div class="trang-ch-e2h">Trang chủ </div>
      </div>
      <div class="cn-h-LAR">
        <img class="icon-user-circle-alt-GZs" src="./assets/icon-user-circle-alt-2v9.png"/>
        <div class="cn-h-oJu">Căn hộ</div>
      </div>
      <div class="ha-n-6J1">
        <img class="icon-wallet-2xM" src="./assets/icon-wallet-1zu.png"/>
        <div class="ha-n-yMo">Hóa đơn</div>
      </div>
      <div class="phn-nh-Gbo">
        <img class="icon-message-text-CEZ" src="./assets/icon-message-text-Mvu.png"/>
        <div class="phn-nh-K4H">Phản ánh</div>
      </div>
    </div>
  </div>
</div>
</body>