<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Xem thông tin hóa đơn</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato%3A400%2C600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600%2C700"/>
  <link rel="stylesheet" href="./styles/xem-thng-tin-ha-n.css"/>
</head>
<body>
<div class="xem-thng-tin-ha-n-jcy">
  <div class="frame-drawer-qR7">
    <div class="logo-wDF">
      <img class="app-logo-sch" src="./assets/app-logo-2oo.png"/>
    </div>
    <div class="navigate-caH">
      <div class="trang-ch--LmB">
        <img class="icon-home-Geq" src="./assets/icon-home-Nn1.png"/>
        <div class="trang-ch-Nxm">Trang chủ </div>
      </div>
      <div class="ha-n-GYM">
        <img class="icon-wallet-Cgu" src="./assets/icon-wallet-QhT.png"/>
        <div class="ha-n-Jzq">Hóa đơn</div>
      </div>
      <div class="phn-nh-pyB">
        <img class="icon-message-text-xpV" src="./assets/icon-message-text-Gow.png"/>
        <div class="phn-nh-UH3">Phản ánh</div>
      </div>
    </div>
  </div>
  <div class="frame-header-and-content-GTo">
    <div class="frame-header-pER">
      <p class="ha-n-LTf">Hóa đơn</p>
      <div class="group-user-info-4Pf">
        <div class="auto-group-6rrm-Pwj">
          <p class="name-and-first-name-UyB">Name and First Name</p>
          <p class="id-number-or-worker-number-R7j">ID number or worker number</p>
        </div>
        <div class="user-avatar-9pR">
        </div>
      </div>
    </div>
    <div class="frame-main-content-oty">
      <p class="ph-gi-xe-thng-11-2023-9T3">Phí gửi xe tháng 11/2023</p>
      <div class="frame-3947-TTj">
        <div class="frame-3949-zCm">
          <div class="frame-types-of-info-XiV">
            <p class="s-tin-EN1">Số tiền</p>
            <p class="s-h-ng-MBj">Số hộ đã đóng</p>
            <p class="thng-tin-chi-tit-duw">Thông tin chi tiết</p>
          </div>
          <div class="frame-3948-A9B">
            <p class="thng-XEd">:   200.000 đ / tháng</p>
            <p class="item-0-1000-FwK">:   0 / 1000</p>
            <p class="bn-ng-mun-vl-bEV">:   bạn đóng muộn vl </p>
          </div>
        </div>
      </div>
      <div class="button-7id">
        <div class="frame-turn-back-button-eTf">
          <img class="corner-down-left-Z4q" src="./assets/corner-down-left-RcZ.png"/>
          <p class="quay-li-4GV">Quay lại</p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>