<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Xem thông </title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato%3A400%2C700"/>
  <link rel="stylesheet" href="./styles/xem-thng-.css"/>
</head>
<body>
<div class="xem-thng--cK7">
  <div class="frame-3970-MGh">
    <div class="frame-header-skq">
      <p class="ha-n-L8d">Hóa đơn</p>
      <div class="group-user-info-aHs">
        <div class="auto-group-vq9z-T6m">
          <p class="name-and-first-name-ioP">Name and First Name</p>
          <p class="id-number-or-worker-number-QgD">ID number or worker number</p>
        </div>
        <img class="user-avatar-YGd" src="./assets/user-avatar-zuB.png"/>
      </div>
    </div>
    <div class="frame-3971-TPb">Xác nhận thông tin</div>
    <div class="frame-3902-hoj">
      <p class="tn-ng-k-thanh-ton-RUq">
      Tên đăng ký
      <br/>
      
      <br/>
      Thanh toán
      </p>
      <p class="bui-hoang-tu-p1111-vp5-vpbank-iD3">
      :   BUI HOANG TU - P1111 - VP5
      <br/>
      
      <br/>
      :   VPBank
      </p>
    </div>
    <p class="bng-vic-nhn-vo-nt-thanh-ton-ngay-bn-ng-rng-giao-dch-ny-l-khng-hon-khng-hy-zgM">Bằng việc nhấn vào nút Thanh toán ngay, Bạn đồng ý rằng, giao dịch này là không hoàn, không hủy.</p>
    <div class="frame-3974-djK">
      <div class="frame-3973-M9X">Thanh toán ngay</div>
    </div>
  </div>
  <div class="frame-drawer-r6H">
    <div class="logo-Ln9">
      <img class="app-logo-UtM" src="./assets/app-logo-Bf3.png"/>
    </div>
    <div class="navigate-RHo">
      <div class="trang-ch--Zeu">
        <img class="icon-home-uCy" src="./assets/icon-home-eoX.png"/>
        <div class="trang-ch-2oP">Trang chủ </div>
      </div>
      <div class="cn-h-JF7">
        <img class="icon-user-circle-alt-qVw" src="./assets/icon-user-circle-alt-GBX.png"/>
        <div class="cn-h-y6M">Căn hộ</div>
      </div>
      <div class="ha-n-59P">
        <img class="icon-wallet-b7j" src="./assets/icon-wallet-w89.png"/>
        <div class="ha-n-u8R">Hóa đơn</div>
      </div>
      <div class="phn-nh-ZTs">
        <img class="icon-message-text-RFB" src="./assets/icon-message-text-fP3.png"/>
        <div class="phn-nh-kYM">Phản ánh</div>
      </div>
    </div>
  </div>
</div>
</body>